<template>
  <base-form-dialog
    width="800"
    title="Form Creation Dialog"
    non-linear
    :active="isShown"
    :editButton="false"
    @close="closeDialog"
  >
    <v-stepper v-model="slide">
      <v-stepper-header>
        <v-stepper-step :complete="slide > 1" step="1">Intro</v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step :complete="slide > 2" step="2">Set Groups</v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step :complete="slide > 3" step="3">Set Fields</v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step :complete="slide > 4" step="4">Final Review</v-stepper-step>
      </v-stepper-header>

      <v-stepper-items>
        <v-stepper-content step="1">
          <v-card class="mb-12">
            <v-card-text>
              <h4>
                This process will assist you in creating a form to input the additional information required to complete
                this task. The first thing we need to know is how many pieces of data you need. Each piece of data can be
                added to a group. 
                <br />
                <br />
                Example: If you were to check voltage on outlets you can add the room as a group
                and the outlet as the individual data entries. 
                <br />Work Shop: Outlet 1, Outlet 2 
                <br />Control Room: Outlet 1, Outlet 2
                <br />
                <br />This way you will have two separate rooms each with their own individual outlet readings.
                <br />With this in mind you can now<v-btn color="primary" text @click="slide = 2">Continue to groups</v-btn> to start or edit a form.
                <br />Or if you made an entry form previously and want to <v-btn color="warning" text @click="clearForm()">START OVER, Click here. </v-btn> 
                <br />
              </h4>
            </v-card-text>
          </v-card>
          <v-container>
            <v-layout row wrap justify-space-around align-center class="text-center">
              <v-spacer></v-spacer>
              <v-flex shrink>
                <v-btn color="primary" @click="slide = 2">Next</v-btn>
              </v-flex>
            </v-layout>
          </v-container>
        </v-stepper-content>

        <v-stepper-content step="2">
          <v-card class="mb-12">
            <v-card-text>
              <h4>
                How many groups will you need for this form?
                <v-text-field
                  v-model="groupsLength"
                  autocomplete="off"
                  class="width text-center"
                  readonly
                  background-color="rgba(136, 136, 136, 0.3)"
                  append-icon="add"
                  prepend-inner-icon="remove"
                  @click:append="incNumberOfGroups"
                  @click:prepend-inner="decNumberOfGroups"
                ></v-text-field>
                <div v-show="groups.length">
                  <h4>Name each of the groups...</h4>
                  <div v-for="(text, index) in groups" :key="index">
                    <v-text-field
                      v-model="groups[index]"
                      v-validate="'required'"
                      autocomplete="off"
                      :error-messages="errors.first(`Group ${index + 1} name`)"
                      :data-vv-name="`Group ${index + 1} name`"
                      :name="`Group ${index + 1} name`"
                      :label="`Group ${index + 1} name`"
                      @blur="changeGroupName"
                    ></v-text-field>
                  </div>
                </div>
              </h4>
            </v-card-text>
          </v-card>
          <v-layout row wrap justify-space-around align-start class="text-center">
            <v-flex>
              <v-btn color="primary" @click="slide--">Back</v-btn>
            </v-flex>
            <v-flex>
              <v-btn color="primary" :disabled="groups[0] == '' || !groups.length" @click="incSlide()">Next</v-btn>
            </v-flex>
          </v-layout>
          <br />
        </v-stepper-content>

        <v-stepper-content step="3">
          <v-layout row wrap justify-space-around align-center fill-height>
            <v-flex shrink>
              <br />
              <h4 class="text-center">Now we need to set the details of each group....</h4>
              <br />
            </v-flex>
          </v-layout>
          <v-layout row wrap justify-space-around align-center>
            <v-flex>
              <v-card v-for="(group, groupI) in groups" :key="groupI" class="mb-12">
                <v-card-text :key="fieldRender">
                  <v-layout row wrap justify-space-around align-center>
                    <v-flex shrink>
                      <h3>{{ group }}</h3>
                    </v-flex>
                    <v-flex shrink>
                      How many fields for this group?
                      <v-text-field
                        :value="fields[groupI].length"
                        autocomplete="off"
                        class="width text-center"
                        readonly
                        background-color="rgba(136, 136, 136, 0.3)"
                        append-icon="add"
                        prepend-inner-icon="remove"
                        @click:append="incFields(groupI)"
                        @click:prepend-inner="decFields(groupI)"
                      ></v-text-field>
                    </v-flex>
                  </v-layout>
                  <v-layout v-if="fields[groupI] && fields[groupI].length" column align-center justify-center>
                    <v-flex v-for="(field, fieldI) in fields[groupI]" :key="fieldI" xs11>
                      <v-card outlined width="650">
                        <v-container fluid grid-list-lg>
                          <v-layout row wrap align-center justify-space-between>
                            <v-flex grow>
                              <v-text-field
                                v-model="field.name"
                                v-validate="'required'"
                                autocomplete="off"
                                :error-messages="errors.first(`Field ${fieldI + 1} for ${group}`)"
                                :data-vv-name="`Field ${fieldI + 1} for ${group}`"
                                :name="`Field ${fieldI + 1} for ${group}`"
                                :label="`Field ${fieldI + 1} for ${group}`"
                              ></v-text-field>
                            </v-flex>
                            <v-flex shrink>
                              <v-switch
                                v-if="field.type !== 'boolean'"
                                v-model="field.validation.required"
                                label="Required"
                                input-value="true"
                              ></v-switch>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap align-center justify-center>
                            <v-flex shrink>
                              <v-radio-group v-model="field.type" hide-details mandatory row>
                                <v-radio label="Text" value="text"></v-radio>
                                <v-radio label="Number" value="number"></v-radio>
                                <v-tooltip bottom>
                                  <template #activator="{ on }">
                                    <v-radio label="Boolean" value="boolean" v-on="on"></v-radio>
                                  </template>
                                  <span>Yes/No, On/Off, Checked/Unchecked</span>
                                </v-tooltip>
                              </v-radio-group>
                            </v-flex>
                          </v-layout>
                          <v-layout v-if="field.type === 'number'" row wrap align-center justify-space-around>
                            <v-flex shrink>
                              <v-text-field
                                v-model="field.validation.min"
                                autocomplete="off"
                                label="Minimum Allowed"
                                outlined
                                type="number"
                              ></v-text-field>
                            </v-flex>
                            <v-flex shrink>
                              <h4>Optional Limits</h4>
                              <br />
                            </v-flex>
                            <v-flex shrink>
                              <v-text-field
                                v-model="field.validation.max"
                                autocomplete="off"
                                label="Maximum Allowed"
                                outlined
                                type="number"
                              ></v-text-field>
                            </v-flex>
                          </v-layout>
                        </v-container>
                      </v-card>
                    </v-flex>
                  </v-layout>
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
          <v-layout row wrap justify-space-around align-center class="text-center">
            <v-flex shrink>
              <v-btn color="primary" @click="slide--">Back</v-btn>
            </v-flex>
            <v-flex shrink>
              <v-btn color="primary" @click="incSlide()">Next</v-btn>
            </v-flex>
          </v-layout>
          <br />
        </v-stepper-content>

        <v-stepper-content step="4">
          <v-container v-if="slide == 4">
            <h3 class="text-center">Form Preview</h3>
            <br />
            <v-flex v-for="(group, groupI) in fields" :key="groupI" shrink>
              <v-card>
                <v-layout row wrap align-center justify-center>
                  <v-flex shrink>
                    <v-card-title>{{ group[0].group }}</v-card-title>
                  </v-flex>
                </v-layout>
                <v-layout v-if="group.length" row wrap align-center justify-space-around>
                  <v-flex v-for="(field, fieldI) in group" :key="fieldI" shrink>
                    <span v-if="field.type !== 'boolean'">
                      Required: {{ field.validation.required ? 'Yes' : 'No' }} | Type: {{ field.type }}
                      <span v-if="field.type == 'number' && field.validation.min">
                        | Min: {{ field.validation.min }}
                      </span>
                      <span v-if="field.type == 'number' && field.validation.max">
                        | Max: {{ field.validation.max }}
                      </span>
                    </span>
                    <v-switch
                      v-if="field.type === 'boolean'"
                      :value="false"
                      color="success"
                      autocomplete="off"
                      :label="field.name"
                    ></v-switch>
                    <v-text-field
                      v-else
                      autocomplete="off"
                      :label="field.name"
                      :type="field.type"
                      outlined
                      :min="field.validation.min ? field.validation.min : undefined"
                      :max="field.validation.max ? field.validation.max : undefined"
                    ></v-text-field>
                  </v-flex>
                </v-layout>
              </v-card>
            </v-flex>
            <br />
            <br />
            <v-layout row wrap justify-space-around align-center class="text-center">
              <v-flex shrink>
                <v-btn color="primary" @click="slide--">Back</v-btn>
              </v-flex>
              <v-flex shrink>
                <v-btn color="success" @click="saveForm()">Save Form</v-btn> 
              </v-flex>
            </v-layout>
            <br />
          </v-container>
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>
    <tech-name :promptTechName="promptTechName"></tech-name>
  </base-form-dialog>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import BaseFormDialog from '~/components/Utils/BaseFormDialog.vue'

export default {
  components: {
    BaseFormDialog,
  },
  props: {
    isShown: {
      type: Boolean,
      default: false,
    },
    existingForm: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      slide: 1,
      groups: [],
      fields: [],
      formObjectArray: [],

      fieldRender: 0,
    }
  },
  computed: {
    ...mapState('sitewide', ['mongoUrl', 'techName', 'promptTechName']),
    ...mapState('tasks', ['detailsPopupData']),
    groupsLength() {
      return this.groups.length
    },
    fieldsLength() { //TODO! There is something with this, stays static on change and is nothing after reset. 
      return this.fields.map(field => (field.length ? field.length : 0))
    },
  },
  watch: {
    existingForm: function() {
      if (this.existingForm.length) {
        // TODO! perhaps need to pop them instead of writing to [] for clear function
        while (this.groups.length) this.groups.pop()
        while (this.fields.length) this.fields.pop()
        for (let i = 0; i < this.existingForm.length; i++) {
          this.groups.push(this.existingForm[i][0].group)
          if (this.existingForm[i].length) {
            this.fields[i] = []
            this.existingForm[i].forEach(fieldInfo => {
              this.fields[i].push(fieldInfo)
            })
          }
        }
      }
    },
  },
  methods: {
    ...mapActions('sitewide', ['toastMessage']),
    ...mapActions('tasks', ['getActiveTasks']),
    incNumberOfGroups() {
      this.groups.splice(this.groups.length, 0, '')
      this.fields.splice(this.groups.length, 0, [])
    },
    decNumberOfGroups() {
      this.groups.splice(-1, 1)
      this.fields.splice(-1, 1)
    },
    incFields(groupI) {
      this.fields[groupI].splice(this.fields[groupI].length, 0, {
        name: '',
        validation: { required: true },
        type: 'text',
        group: this.groups[groupI],
      })
      this.fieldRender++
    },
    decFields(groupI) {
      this.fields[groupI].splice(-1, 1)
      this.fieldRender++
    },
    incSlide() {
      this.$validator.validate().then(async valid => {
        if (valid) {
          this.slide++
        }
      })
    },
    clearForm(){
      this.numberOfGroups = 0
      this.formObjectArray = []
      this.fields = []
      this.groups = []
      this.slide = 2
    },
    changeGroupName() {
      if (this.fields.length) {
        for (let i = 0; i < this.groups.length; i++) {
          if (this.fields[i] && this.fields[i].length) {
            this.fields[i] = this.fields[i].map(field => {
              field.group = this.groups[i]
              return field
            })
          }
        }
      }
    },
    closeDialog() {
      this.$emit('closeTaskFormDialog')
      this.slide = 1
      this.numberOfGroups = 0
      this.formObjectArray = []
      this.fields = []
      this.groups = []
    },
    // checkFormType(object) {},
    async saveForm() {
      if (this.techName == '') {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        this.fields.forEach(group => {
          group.forEach(field => {
            if (field.type === 'boolean') {
              field.validation.required = false
            }
          })
        })
        const saveTheForm = await this.$axios.$put(`${this.mongoUrl}taskdata/${this.detailsPopupData._id}`, {
          techName: this.techName,
          requiresAdditionalInfo: true,
          requiresAdditionalInfoForm: {
            formFields: this.fields,
          },
        })
        this.closeDialog()
        this.getActiveTasks()
        this.$emit('updateDue')
        this.toastMessage(saveTheForm)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.width {
  display: inline-block;
  width: 75px;
  text-align: center;
}
</style>
