<template>
  <div>
    <base-form-dialog
      width="800"
      title="Task Info Form"
      :active="infoFormActive"
      :editButton="false"
      @close="closeDialog"
    >
      <v-container
        v-if="taskItem && taskItem.requiresAdditionalInfoForm && taskItem.requiresAdditionalInfoForm.formFields"
        fluid
        grid-list-xl
      >
        <v-layout row justify-center align-center>
          <v-flex shrink>
            <h4>Additional Data Required for:</h4>
          </v-flex>
          <v-flex shrink>
            <h4>{{ `Task ${taskItem.customTaskID?taskItem.customTaskID:taskItem.taskID} - ${taskItem.taskName}` }}</h4>
          </v-flex>
        </v-layout>
        <v-layout
          v-if="taskItem.requiresAdditionalInfoForm.formFields.length"
          row
          wrap
          justify-space-around
          align-center
        >
          <v-flex v-for="(group, index) in taskItem.requiresAdditionalInfoForm.formFields" :key="index" shrink>
            <v-container grid-list-lg>
              <v-card elevation="7">
                <v-layout row wrap align-center justify-center>
                  <v-flex shrink>
                    <v-card-title>{{ group[0].group }}</v-card-title>
                  </v-flex>
                </v-layout>
                <v-layout v-if="group.length && Object.keys(fields).length" row wrap align-center justify-space-around>
                  <v-flex v-for="(field, index2) in group" :key="index2" shrink>
                    <span v-if="viewDetails">
                      Required: {{ field.validation.required ? 'Yes' : 'No' }} | Type: {{ field.type }}
                      <span v-if="field.type == 'number' && field.validation.min">
                        | Min: {{ field.validation.min }}
                      </span>
                      <span v-if="field.type == 'number' && field.validation.max">
                        | Max: {{ field.validation.max }}
                      </span>
                    </span>
                    <v-switch
                      v-if="field.type === 'boolean'"
                      v-model="fields[`group${index}`][`field${index2}`]"
                      v-validate="fieldValidate(field)"
                      :value="false"
                      color="success"
                      autocomplete="off"
                      :label="field.name"
                      :error-messages="errors.first(`${field.group}-${field.name}`)"
                      :data-vv-name="`${field.group}-${field.name}`"
                      :name="`${field.group}-${field.name}`"
                    ></v-switch>
                    <v-text-field
                      v-else
                      v-model="fields[`group${index}`][`field${index2}`]"
                      v-validate="fieldValidate(field)"
                      autocomplete="off"
                      :label="field.name"
                      :type="field.type"
                      outlined
                      :error-messages="errors.first(`${field.group}-${field.name}`)"
                      :data-vv-name="`${field.group}-${field.name}`"
                      :name="`${field.group}-${field.name}`"
                      :min="field.validation.min"
                      :max="field.validation.max"
                    ></v-text-field>
                  </v-flex>
                </v-layout>
              </v-card>
            </v-container>
          </v-flex>
        </v-layout>
        <v-layout v-if="showSubmit" row wrap justify-space-between align-center>
          <v-spacer></v-spacer>
          <v-flex shrink>
            <loader-button text="Submit Form" color="success" @click.native="submitFormData()"></loader-button>
          </v-flex>
        </v-layout>
      </v-container>
    </base-form-dialog>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import { format } from 'date-fns/esm'
import BaseFormDialog from '~/components/Utils/BaseFormDialog.vue'

export default {
  components: {
    BaseFormDialog,
  },
  props: {
    taskItem: {
      type: Object,
      default: () => {},
    },
    infoFormActive: {
      type: Boolean,
      default: false,
    },
    viewDetails: {
      type: Boolean,
      default: false,
    },
    showSubmit: {
      type: Boolean,
      default: false,
    },
    dataOutline: {
      type: Boolean,
      default: false,
    },
    date: {
      type: String,
      default: format(new Date(), 'yyyy-MM-dd'),
    },
  },
  data() {
    return {
      fields: {},
      fieldsTemp: '',
    }
  },
  computed: {
    ...mapState('sitewide', ['mongoUrl', 'techName']),
  },
  watch: {
    taskItem: function() {
      //? These steps through the groups and fields and pushes all the values into an object.
      //? This object is then added to the data model for reactivity for use in v-model's above
      if (this.taskItem.requiresAdditionalInfoForm && this.taskItem.requiresAdditionalInfoForm.formFields) {
        const form = this.taskItem.requiresAdditionalInfoForm.formFields
        let formObject = {}
        if (Array.isArray(form[0])) {
          if (form.length) {
            for (let groupI = 0; groupI < form.length; groupI++) {
              if (!form[groupI].createdAt) {
                formObject[`group${groupI}`] = {}
                if (form[groupI].length) {
                  for (let fieldI = 0; fieldI < form[groupI].length; fieldI++) {
                    formObject[`group${groupI}`][`field${fieldI}`] = null
                  }
                }
              }
            }
          }
          Object.assign(this.fields, formObject)
        }
      }
    },
  },
  methods: {
    ...mapActions('sitewide', ['toastMessage']),
    fieldValidate(field) {
      if (field.validation) {
        let valString = ''
        if (field.validation.required) {
          valString = 'required'
        }
        if (field.type == 'number') {
          if (field.validation.min || field.validation.min == 0) {
            valString = valString ? `${valString}|` : valString
            valString = `${valString}min_value:${field.validation.min}`
          }
          if (field.validation.max) {
            valString = valString ? `${valString}|` : valString
            valString = `${valString}max_value:${field.validation.max}`
          }
        }
        return valString
      }
    },
    closeDialog() {
      this.submitDataObject = []
      this.$emit('closeTaskInfoDialog')
    },
    submitFormData() {
      if (this.techName === '') {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        this.$validator.validate().then(async valid => {
          if (valid) {
            const form = this.taskItem.requiresAdditionalInfoForm.formFields
            let dataSubmission = []

            for (let groupI = 0; groupI < form.length; groupI++) {
              if (!form[groupI].createdAt) {
                dataSubmission[groupI] = []
                for (let fieldI = 0; fieldI < form[groupI].length; fieldI++) {
                  dataSubmission[groupI].push({
                    group: form[groupI][0].group,
                    field: form[groupI][fieldI].name,
                    value:
                      this.fields[`group${groupI}`] && this.fields[`group${groupI}`][`field${fieldI}`]
                        ? this.fields[`group${groupI}`][`field${fieldI}`]
                        : '',
                  })
                }
              }
            }

            dataSubmission[dataSubmission.length] = {
              dateSubmitted: this.date ? this.date : undefined,
              techName: this.techName,
            }
            const formDataSaved = await this.$axios.$post(
              `${this.mongoUrl}taskdata/formdata/${this.taskItem._id}`,
              dataSubmission
            )
            this.toastMessage(formDataSaved)
            this.closeDialog()
            this.$emit('finishTaskSubmission')
          }
        })
      }
    },
  },
}
</script>

<style lang="scss" scoped></style>
