<template>
  <div>
    <base-form-dialog
      title="Task Attachments"
      width="850"
      :active="attachmentPopup"
      @close="closeAttachmentPopup"
    >
      <v-container>
        <v-row align="center" justify="center">
          <file-list
            :fileUrl="`tasks/${detailsPopupData.taskID}`"
            :fileList="attachmentList"
            :loading="loadingAttachments"
            :currentlyHighlighted="detailsPopupData.highlightedAttachment"
            @refreshFiles="getAttachments(detailsPopupData.taskID)"
            @addHighlight="setHighlight"
            @removeHighlight="removeHighlight"
          ></file-list>
        </v-row>
        <v-row>
          <v-spacer></v-spacer>
          <v-col cols="11">
            <task-attachment-upload
              ref="taskUpload"
              :apiPath="`${mongoUrl}files/upload/tasks/${detailsPopupData.taskID}`"
              @fileUpload="getAttachments(detailsPopupData.taskID)"
            ></task-attachment-upload>
          </v-col>
          <v-spacer></v-spacer>
        </v-row>
      </v-container>
    </base-form-dialog>
  </div>
</template>

<script>
import TaskAttachmentUpload from '~/components/Utils/Upload.vue'
import FileList from '~/components/Utils/FileList.vue'
import { mapActions, mapState } from 'vuex'

export default {
  components: {
    TaskAttachmentUpload,
    FileList,
  },
  props: {
    attachmentList: {
      type: Array,
      default: () => [],
    },
    attachmentPopup: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      headers: [
        {
          text: '',
          value: 'download',
          align: 'center',
        },
        {
          text: 'Attachment Name',
          value: 'fileName',
          sortable: true,
          align: 'center',
        },
        {
          text: '',
          value: 'delete',
          align: 'center',
        },
      ],
      search: '',

      attachmentsUploadItem: '',
      idToSend: '',
    }
  },
  computed: {
    ...mapState('sitewide', [
      'mongoUrl',
      'darkTheme',
      'pageDisplayed',
      'techName',
    ]),
    ...mapState('tasks', ['detailsPopupData', 'loadingAttachments']),
  },
  mounted() {
    this.totalRows = this.attachmentList.length || 0
  },
  methods: {
    ...mapActions('sitewide', ['logWrite', 'toastMessage']),
    ...mapActions('tasks', ['getAttachments']),
    closeAttachmentPopup() {
      this.$store.commit('tasks/setAttachmentPopup', false)
      this.$refs.taskUpload.clearList()
    },
    setHighlight(item) {
      this.$emit('saveHighlight', item)
    },
    removeHighlight(iem) {
      this.$emit('removeHighlight')
    },
  },
}
</script>

<style scoped>
a {
  color: inherit;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.popup {
  position: fixed;
  z-index: 10;
}

/* test file upload */
li {
  margin: 8px 0;
}

h2 {
  font-weight: bold;
  margin-bottom: 15px;
}

del {
  color: rgba(0, 0, 0, 0.3);
}

input[type='file'] {
  position: absolute;
  top: -500px;
}
div.file-listing {
  width: 200px;
}
span.remove-file {
  color: red;
  cursor: pointer;
  float: right;
}
</style>
