<template>
  <div>
    <base-form-dialog
      width="800"
      title="Task Details"
      :active="detailsPopup"
      :editButton="editButton"
      @close="closePopup"
      @edit="editMode"
    >
      <v-container fluid text-center>
        <v-row
          v-if="detailsPopupData.customTaskID"
          align="center"
          justify="space-around"
        >
          <h4 class="grey--text text--darken-1">
            {{ `ID : ${detailsPopupData.taskID}` }}
          </h4>
        </v-row>
        <v-row align="center" justify="space-around">
          <v-spacer></v-spacer>
          <v-col
            v-if="
              splitRelatedTaskList.relatedToMe.length ||
              splitRelatedTaskList.tasksImRelatedTo.length
            "
            cols="2"
          >
            <v-tooltip bottom>
              <template #activator="{ on: tooltip }">
                <div v-on="{ ...tooltip }">
                  <h4 class="deep-orange lighten-3 black--text">
                    {{ detailsPopupData.customTaskID ? 'Custom ID' : 'ID' }}
                  </h4>
                  <hr class="grey darken-1" />
                  <h4>
                    {{
                      detailsPopupData.customTaskID
                        ? detailsPopupData.customTaskID
                        : detailsPopupData.taskID
                    }}
                  </h4>
                </div>
              </template>
              <table v-if="splitRelatedTaskList.tasksImRelatedTo.length">
                <tr>
                  <th>
                    <h4>
                      Tasks #{{
                        detailsPopupData.customTaskID
                          ? detailsPopupData.customTaskID
                          : detailsPopupData.taskID
                      }}
                      Is Related To
                    </h4>
                  </th>
                </tr>
                <tr
                  v-for="(task, index) in splitRelatedTaskList.tasksImRelatedTo"
                  :key="index"
                >
                  <td>{{ task.text }}</td>
                </tr>
              </table>

              <table v-if="splitRelatedTaskList.relatedToMe.length">
                <tr>
                  <th>
                    <h4>
                      Related To #{{
                        detailsPopupData.customTaskID
                          ? detailsPopupData.customTaskID
                          : detailsPopupData.taskID
                      }}
                    </h4>
                  </th>
                </tr>
                <tr
                  v-for="(task, index) in splitRelatedTaskList.relatedToMe"
                  :key="index"
                >
                  <td>{{ task.text }}</td>
                </tr>
              </table>
            </v-tooltip>
          </v-col>
          <v-col v-else cols="2">
            <h4 class="grey--text text--darken-1">
              {{ detailsPopupData.customTaskID ? 'Custom ID' : 'ID' }}
            </h4>
            <hr class="grey darken-1" />
            <h4>
              {{
                detailsPopupData.customTaskID
                  ? detailsPopupData.customTaskID
                  : detailsPopupData.taskID
              }}
            </h4>
          </v-col>
          <v-col cols="6">
            <h4 class="grey--text text--darken-1">Name</h4>
            <hr class="grey darken-1" />
            <h4>{{ detailsPopupData.taskName }}</h4>
          </v-col>
          <v-col v-if="detailsPopupData.requiresAdditionalInfo">
            <loader-button
              icon="receipt"
              iconOnly
              tipText="Additional Information Form"
              :disabled="
                !detailsPopupData.requiresAdditionalInfoSubmissions ||
                !detailsPopupData.requiresAdditionalInfoSubmissions
                  .formSubmissions.length
              "
              @click.native="openPopupIfDataExists()"
            ></loader-button>
          </v-col>
          <v-spacer v-else></v-spacer>
        </v-row>
        <v-row
          v-if="detailsPopupData.soc || detailsPopupData.oqe"
          align="center"
          justify="space-around"
        >
          <v-spacer></v-spacer>
          <v-flex shrink>
            <h4>Quality Options:</h4>
          </v-flex>
          <v-flex v-if="detailsPopupData.soc" shrink>
            <v-switch
              v-model="detailsPopupData.soc"
              class="pa-0 ma-0"
              disabled
              color="success"
              label="Scope of Compliance"
              hide-details
            ></v-switch>
          </v-flex>
          <v-flex v-if="detailsPopupData.oqe" shrink>
            <v-switch
              v-model="detailsPopupData.oqe"
              class="pa-0 ma-0"
              disabled
              color="success"
              label="Objective Quality Evidence"
              hide-details
            ></v-switch>
          </v-flex>
          <v-spacer></v-spacer>
        </v-row>
        <v-row align="center" justify="space-around">
          <v-col cols="3">
            <h4 class="grey--text text--darken-1">Category</h4>
            <hr class="grey darken-1" />
            <h4 v-show="singleCategory">{{ theOneCategory }}</h4>
            <v-chip
              v-for="(cat, index) in detailsPopupData.category"
              v-show="!singleCategory"
              :key="index"
              small
              disabled
              >{{ cat }}</v-chip
            >
          </v-col>
          <v-col v-if="detailsPopupData.taskHours" cols="3">
            <h4 class="grey--text text--darken-1">Task Hours</h4>
            <hr class="grey darken-1" />
            <h4>{{ detailsPopupData.taskHours }}</h4>
          </v-col>
          <v-col cols="3">
            <v-menu
              v-if="completionList.length >= 1"
              v-model="compPopup"
              :close-on-content-click="false"
              left
            >
              <template #activator="{ on: menu }">
                <span
                  class="deep-orange lighten-3 black--text"
                  v-on="{ ...menu }"
                  >Last Completion</span
                >
              </template>
              <v-card>
                <v-data-table
                  :items="completionList"
                  :headers="headers"
                  :hide-default-footer="
                    completionList.length < 11 ? true : false
                  "
                >
                  <template #item.dateCompleted="{ item }">
                    <base-format-date
                      :ISOdate="item.dateCompleted"
                    ></base-format-date>
                  </template>
                  <template #item.attachmentNames="{ item }">
                    <v-chip
                      v-for="(name, index) in item.attachmentNames"
                      :key="index"
                      small
                      column
                      >{{ name }}</v-chip
                    >
                  </template>
                </v-data-table>
              </v-card>
            </v-menu>
            <div v-else>
              <h4 class="grey--text text--darken-1">Last Completion</h4>
            </div>
            <hr class="grey darken-1" />
            <h4>
              <base-format-date
                :ISOdate="detailsPopupData.lastCompletion"
              ></base-format-date>
            </h4>
          </v-col>
        </v-row>
        <v-row
          v-if="
            detailsPopupData.opsFrequency &&
            detailsPopupData.transitFrequency &&
            detailsPopupData.nextDue
          "
          justify="space-around"
          align="center"
        >
          <v-col cols="3">
            <h4 class="grey--text text--darken-1">Ops Frequency</h4>
            <hr class="grey darken-1" />
            <h4>{{ daysToInterval(detailsPopupData.opsFrequency) }}</h4>
          </v-col>
          <v-col v-if="!meterCheckTask()" cols="3">
            <h4 class="grey--text text--darken-1">Transit Frequency</h4>
            <hr class="grey darken-1" />
            <h4>{{ daysToInterval(detailsPopupData.transitFrequency) }}</h4>
          </v-col>
          <v-col cols="3">
            <h4 class="grey--text text--darken-1">
              Next Due
              <v-tooltip
                v-if="
                  !detailsPopupData.onHold &&
                  (showTaskDelayOption || userLoggedIn)
                "
                top
              >
                <template #activator="{ on }">
                  <v-btn icon v-on="on">
                    <v-icon
                      color="warning"
                      @click="setDelayDialogShown()"
                      v-on="on"
                      >update</v-icon
                    >
                  </v-btn>
                </template>
                <span>Set up task delay</span>
              </v-tooltip>
              <v-tooltip
                v-else-if="
                  detailsPopupData.onHold &&
                  (showTaskDelayOption || userLoggedIn)
                "
                top
              >
                <template #activator="{ on }">
                  <v-btn icon v-on="on">
                    <v-icon color="error" @click="removeDelay()" v-on="on"
                      >timer_off</v-icon
                    >
                  </v-btn>
                </template>
                <span>Remove Existing Delay</span>
              </v-tooltip>
            </h4>
            <hr class="grey darken-1" />
            <h4>
              <base-format-date
                :ISOdate="
                  detailsPopupData.nextDue
                    ? detailsPopupData.nextDue
                    : '1970-01-01'
                "
              ></base-format-date>
            </h4>
          </v-col>
        </v-row>
        <v-row
          v-if="detailsPopupData.useForcedDue && detailsPopupData.forcedDueDate"
          justify="center"
          align="center"
        >
          <v-col cols="3">
            <v-tooltip bottom>
              <template #activator="{ on }">
                <span v-on="on">
                  <h4 class="grey--text text--darken-1">Forced Due Date Set</h4>
                  <hr class="grey darken-1" />
                </span>
              </template>
              <span>{{ detailsPopupData.forcedDateReason }}</span>
            </v-tooltip>
            <h4>
              <base-format-date
                :ISOdate="detailsPopupData.forcedDueDate"
              ></base-format-date>
            </h4>
          </v-col>
        </v-row>
        <v-row
          v-show="detailsPopupData.meterRequired"
          justify="space-around"
          align="center"
        >
          <v-col cols="3">
            <h4 class="grey--text text--darken-1">
              {{
                detailsPopupData.category == 'Meter'
                  ? 'Last Value Recorded'
                  : 'Last Value Completed'
              }}
            </h4>
            <hr class="grey darken-1" />
            <h4>{{ detailsPopupData.lastMeterReadingCompleted }}</h4>
          </v-col>
          <v-col v-show="detailsPopupData.category == 'Meter'" cols="3">
            <h4 class="grey--text text--darken-1">Meter Type</h4>
            <hr class="grey darken-1" />
            <h4>{{ currentMeter ? currentMeter.type : 'Not Found' }}</h4>
          </v-col>
          <v-col v-show="detailsPopupData.category != 'Meter'" cols="3">
            <h4 class="grey--text text--darken-1">Meter Interval</h4>
            <hr class="grey darken-1" />
            <h4>{{ detailsPopupData.meterFrequency }}</h4>
          </v-col>
          <v-col v-show="detailsPopupData.category != 'Meter'" cols="3">
            <v-tooltip left>
              <template #activator="{ on: tooltip }">
                <div v-on="{ ...tooltip }">
                  <h4 class="grey--text text--darken-1">Next Due</h4>
                  <hr class="grey darken-1" />
                  <h4>{{ detailsPopupData.nextMeterReadingDue }}</h4>
                </div>
              </template>
              <div>
                Meter:
                <b>{{ currentMeter ? currentMeter.name : 'Not Found' }}</b>
                <br />Current Value:
                <b>{{
                  currentMeter ? currentMeter.currentReading : 'Not Found'
                }}</b>
              </div>
            </v-tooltip>
          </v-col>
        </v-row>
        <v-row
          v-if="detailsPopupData.earlyNotification"
          justify="center"
          align="center"
        >
          <v-col cols="10">
            <v-tooltip bottom>
              <template #activator="{ on: tooltip }">
                <h4 v-on="{ ...tooltip }">
                  This task will insert a reminder into the task list
                  <span class="orange--text"
                    >{{ detailsPopupData.earlyNotificationDays }} days</span
                  >
                  before it is due
                  <h6>(hover to preview)</h6>
                  <div v-if="detailsPopupData.emailTo.length">
                    <h4>And an email will also be sent to these people:</h4>
                    <v-layout row wrap align-center justify-center>
                      <v-flex shrink>
                        <v-chip-group class="text-center">
                          <v-chip
                            v-for="(person, index) in detailsPopupData.emailTo"
                            :key="index"
                            disabled
                            small
                          >
                            {{ person }}
                          </v-chip>
                        </v-chip-group>
                      </v-flex>
                    </v-layout>
                  </div>
                </h4>
              </template>
              <span>{{ detailsPopupData.earlyNotificationText }}</span>
            </v-tooltip>
          </v-col>
        </v-row>
        <v-row
          v-if="
            detailsPopupData.earlyNotification &&
            detailsPopupData.earlyNotificationComplete
          "
          justify="center"
          align="center"
        >
          <v-col cols="10">
            <h4>
              <span>
                This task was already acknowledged on
                <base-format-date
                  :ISOdate="detailsPopupData.earlyNotificationSubmissionDate"
                ></base-format-date>
                by {{ detailsPopupData.earlyNotificationSubmissionTech }}
              </span>
            </h4>
          </v-col>
        </v-row>
        <v-row
          v-if="detailsPopupData.onHold && detailsPopupData.deferred"
          justify="center"
          align="center"
        >
          <v-col cols="10">
            <h4>
              {{ `${detailsPopupData.onHoldBy} put this task on hold on `
              }}<base-format-date
                :ISOdate="detailsPopupData.onHoldDate"
              ></base-format-date>
            </h4>
          </v-col>
        </v-row>
        <v-row
          v-if="detailsPopupData.onHoldType === 'forced'"
          align="center"
          justify="center"
        >
          <v-col cols="10">
            <v-row align="center" justify="center">
              <h4>Related item(s) causing task to be on hold:</h4>
            </v-row>
            <v-row v-if="relatedToDo.length" align="center" justify="center">
              <h3 class="grey--text text--darken-1">To Do:</h3>
              <h4>{{ `${relatedToDo[0].name}` }}</h4>
            </v-row>
            <v-row v-if="relatedToOrder.length" align="center" justify="center">
              <h3 class="grey--text text--darken-1">To Order:</h3>
              <h4>{{ `${relatedToOrder[0].name}` }}</h4>
            </v-row>
          </v-col>
        </v-row>

        <v-row
          v-if="
            detailsPopupData.highlightedAttachment &&
            detailsPopupData.highlightedAttachment.fileName &&
            detailsPopupData.highlightedAttachment.fileName === 'removed'
          "
          align="center"
          justify="center"
        >
          <v-col cols="8">
            <h5 class="grey--text text--darken-1">Highlighted Attachment</h5>
            <h5 class="red--text text--darken-1">
              The highlighted attachment was deleted
            </h5>
          </v-col>
        </v-row>
        <v-row
          v-else-if="
            detailsPopupData.highlightedAttachment &&
            detailsPopupData.highlightedAttachment.fileName &&
            detailsPopupData.highlightedAttachment.fileName !== 'removed'
          "
          align="center"
          justify="center"
        >
          <v-col cols="8">
            <h5 class="grey--text text--darken-1">Highlighted Attachment</h5>
            <a
              :href="`${mongoUrl}${detailsPopupData.highlightedAttachment.url}`"
              target="_new"
            >
              {{ detailsPopupData.highlightedAttachment.fileName }}
            </a>
          </v-col>
        </v-row>
        <v-row align="center" justify="center">
          <v-col cols="3">
            <h4 class="grey--text text--darken-1">Description</h4>
            <hr class="grey darken-1" />
          </v-col>
        </v-row>
        <v-row align="center" justify="center">
          <v-col cols="11">
            <v-card class="text-left">
              <vue-markdown
                :source="detailsPopupData.detailedDescription"
                :anchorAttributes="{ target: '_blank' }"
              ></vue-markdown>
            </v-card>
          </v-col>
        </v-row>
        <v-row align="center" justify="space-around">
          <v-col cols="3">
            <v-row align="center" justify="center">
              <v-col>
                <loader-button
                  text="Notes"
                  size="large"
                  @click.native="displayNotes"
                ></loader-button>
              </v-col>
              <v-col>
                <loader-button
                  v-show="!addNoteShown"
                  icon="add"
                  iconOnly
                  nobg
                  @click.native="openNotePopup"
                ></loader-button>
                <loader-button
                  v-show="addNoteShown"
                  icon="remove"
                  iconOnly
                  nobg
                  @click.native="openNotePopup"
                ></loader-button>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="3">
            <loader-button
              v-if="!toolsListShown"
              text="Tools List"
              size="large"
              @click.native="toolsListShown = true"
            ></loader-button>
            <loader-button
              v-if="toolsListShown"
              text="Close Tools List"
              color="warning"
              size="large"
              @click.native="toolsListShown = false"
            ></loader-button>
          </v-col>
          <v-col cols="3">
            <loader-button
              text="Attachments"
              size="large"
              @click.native="displayAttachments"
            ></loader-button>
          </v-col>
        </v-row>
      </v-container>
      <v-container v-if="addNoteShown">
        <v-row align="center" justify="center">
          <v-col cols="11">
            <v-textarea
              v-model.trim="notesValue"
              v-validate="'max:500'"
              autocomplete="off"
              :error-messages="notesState ? '' : '10 character minimum'"
              data-vv-name="Note"
              name="input-7-1"
              :success-messages="notesState ? 'Please be descriptive' : ''"
              outlined
              auto-grow
              autofocus
              clearable
              counter="500"
              label="Note to add"
            ></v-textarea>
          </v-col>
        </v-row>
        <v-row align="center" justify="center">
          <v-col cols="3">
            <loader-button
              text="Save note to task"
              @click.native="
                $event.stopPropagation()
                addNote()
              "
            ></loader-button>
          </v-col>
        </v-row>
      </v-container>
      <v-container v-if="toolsListShown">
        <v-row align="center" justify="center">
          <v-col cols="11">
            <v-textarea
              v-model.trim="taskToolsTemp"
              v-validate="'max:500'"
              autocomplete="off"
              :error-messages="errors.first('Tools')"
              data-vv-name="Tools"
              name="input-7-1"
              outlined
              auto-grow
              autofocus
              clearable
              counter="500"
              label="Add tools to this task that you want to remember next time...."
            ></v-textarea>
          </v-col>
        </v-row>
        <v-row align="center" justify="center">
          <v-col cols="3">
            <loader-button
              text="Save tools list"
              @click.native="
                $event.stopPropagation()
                changeToolsList()
              "
            ></loader-button>
          </v-col>
        </v-row>
      </v-container>
    </base-form-dialog>

    <notes-popup
      :noteList="noteList"
      :notesPopup="notesPopup"
      @refreshNotes="refreshNotes"
    ></notes-popup>
    <attachment-popup
      :attachmentList="attachmentList"
      :attachmentPopup="attachmentPopup"
      @saveHighlight="saveHighlight"
      @removeHighlight="removeHighlight"
    ></attachment-popup>

    <base-form-dialog
      width="600"
      title="Task Delay Details Form"
      :active="showDelayDialog"
      :editButton="false"
      @close="closeDelayDialog()"
    >
      <v-container grid-list-lg>
        <v-layout column align-center justify-center class="text-center">
          <v-flex shrink>
            <h3 class="text-center">
              Do we need to set a fixed delay or <br />
              is the delay based on something else?
            </h3>
          </v-flex>
          <v-flex>
            <v-layout row wrap align-center justify-center>
              <v-flex shrink>
                <v-radio-group v-model="delayTypeSelection" row>
                  <v-radio label="Fixed Delay" value="fixed"></v-radio>
                  <v-radio label="Forced Delay" value="forced"></v-radio>
                </v-radio-group>
              </v-flex>
            </v-layout>
            <v-flex
              v-if="delayTypeSelection === 'fixed'"
              shrink
              class="text-center"
            >
              <span> Delay this tasks due date by </span>
              <v-text-field
                v-model="fixedDelayDays"
                class="numBlock"
                background-color="rgba(136, 136, 136, 0.3)"
                append-icon="add"
                prepend-inner-icon="remove"
                @click:append="fixedDelayDays++"
                @click:prepend-inner="fixedDelayDays--"
              ></v-text-field>
              days<span class="warning--text"> from the task's due date</span>
              <br />
              Task will now be due on:
              <br />
              {{ getFixedOffsetDate(detailsPopupData.nextDue, fixedDelayDays) }}
            </v-flex>
            <v-flex v-if="delayTypeSelection === 'forced'" shrink>
              <v-layout row wrap align-center justify-space-around>
                <v-flex shrink>
                  <span>
                    Something that needs to be
                    <span class="warning--text">done</span> is holding this task
                    up:
                  </span>
                  <v-autocomplete
                    v-model="onHoldRelated.todo"
                    :items="todoList"
                    :loading="todoListLoading"
                    label="To Do(s) causing Delay"
                    autocomplete="off"
                    outlined
                    @focus="getTodos()"
                  ></v-autocomplete>
                </v-flex>
              </v-layout>
              <v-layout row wrap align-center justify-space-around>
                <v-flex shrink>
                  <span>
                    Something that needs to be
                    <span class="warning--text">ordered</span> is holding this
                    task up:
                  </span>
                  <v-autocomplete
                    v-model="onHoldRelated.toorder"
                    :items="toorderList"
                    :loading="toorderListLoading"
                    label="To Order(s) causing Delay"
                    autocomplete="off"
                    outlined
                    @focus="getToOrders()"
                  ></v-autocomplete>
                </v-flex>
              </v-layout>
            </v-flex>
            <v-flex v-if="delayTypeSelection === 'forced'" shrink>
              <span
                >When a forced delay is put in place the next due date is pushed
                by 1 year.</span
              >
              <span
                >This is just temporary until the reason for the delay is
                resolved.</span
              >
            </v-flex>
            <v-flex v-if="delayTypeSelection">
              <v-text-field
                v-model="onHoldReason"
                v-validate="'required|min:10'"
                autocomplete="off"
                required
                :error-messages="errors.first('Hold Reason')"
                data-vv-name="Hold Reason"
                name="Hold Reason"
                label="Hold Reason*"
                outlined
              ></v-text-field>
            </v-flex>
            <v-flex v-if="delayTypeSelection" shrink>
              <v-layout row wrap align-center justify-space-around>
                <v-flex shrink>
                  <loader-button
                    text="Cancel"
                    color="warning"
                    @click.native="closeDelayDialog()"
                  ></loader-button>
                </v-flex>
                <v-flex shrink>
                  <loader-button
                    text="Save"
                    color="success"
                    @click.native="saveDelay()"
                  ></loader-button>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-flex>
        </v-layout>
      </v-container>
    </base-form-dialog>

    <base-form-dialog
      width="700"
      title="Previous Form Data"
      :active="formDataPopup"
      :editButton="false"
      @close="closeFormDataPopup"
    >
      <v-container grid-list-md>
        <div
          v-if="
            detailsPopupData.requiresAdditionalInfoSubmissions &&
            detailsPopupData.requiresAdditionalInfoSubmissions.formSubmissions
              .length
          "
          class="text-center"
        >
          <v-layout row wrap align-center justify-center>
            <v-flex
              v-for="(submission, index) in detailsPopupData
                .requiresAdditionalInfoSubmissions.formSubmissions"
              :key="index"
            >
              <v-card elevation="5">
                <h3>
                  <span class="grey--text">Date Submitted:</span>
                  <hr
                    style="
                      width: 50%;
                      margin-left: 25% !important;
                      margin-right: 25% !important;
                    "
                  />
                  <base-format-date
                    :ISOdate="
                      submission[submission.length - 1].dateSubmitted
                        ? submission[submission.length - 1].dateSubmitted
                        : submission[submission.length - 1].createdAt
                    "
                  ></base-format-date>
                </h3>
                <h3>
                  <span class="grey--text">Entered By:</span>
                  <hr
                    style="
                      width: 50%;
                      margin-left: 25% !important;
                      margin-right: 25% !important;
                    "
                  />
                  {{ submission[submission.length - 1].techName }}
                </h3>
                <div v-for="(group, index2) in submission" :key="index2">
                  <v-layout row wrap align-center justify-center>
                    <v-flex shrink>
                      <v-card elevation="7">
                        <v-layout row wrap align-center justify-center>
                          <v-flex shrink>
                            <span v-if="typeof group[0] !== 'undefined'">
                              <h4 class="blue-grey--text">
                                {{ group[0].group }}
                              </h4>
                              <hr
                                style="
                                  width: 50%;
                                  margin-left: 25% !important;
                                  margin-right: 25% !important;
                                "
                              />
                            </span>
                          </v-flex>
                          <v-flex
                            v-for="(field, index3) in group"
                            :key="index3"
                            shrink
                          >
                            <div
                              v-if="
                                field.field && typeof field.value == 'boolean'
                              "
                            >
                              <v-checkbox
                                v-model="field.value"
                                :label="field.field"
                                disabled
                              />
                            </div>
                            <div v-else-if="field.field">
                              <span class="grey--text">{{ field.field }}</span>
                              {{ ` : ${field.value}` }}
                            </div>
                          </v-flex>
                        </v-layout>
                      </v-card>
                    </v-flex>
                  </v-layout>
                </div>
              </v-card>
            </v-flex>
          </v-layout>
        </div>
      </v-container>
    </base-form-dialog>
  </div>
</template>

<script>
import NotesPopup from '~/components/Tasks/NotesPopup.vue'
import AttachmentPopup from '~/components/Tasks/AttachmentPopup.vue'
import VueMarkdown from 'vue-markdown'
import { mapActions, mapState } from 'vuex'
import { parseISO, format, addDays } from 'date-fns/esm'

export default {
  components: {
    NotesPopup,
    AttachmentPopup,
    VueMarkdown,
  },
  props: {
    detailsPopup: { type: Boolean, default: false },
    editButton: { type: Boolean, default: true },
  },
  data() {
    return {
      headers: [
        {
          text: 'Date',
          value: 'dateCompleted',
          align: 'center',
        },
        {
          text: 'Name',
          value: 'techName',
          align: 'center',
        },
        {
          text: 'Attachments',
          value: 'attachmentNames',
          align: 'center',
        },
      ],
      toolsListShown: false,
      taskToolsTemp: '',
      relatedTaskList: [],
      splitRelatedTaskList: {
        relatedToMe: [],
        tasksImRelatedTo: [],
      },

      completionList: [],
      pagination: { rowsPerPage: 10 },
      compPopup: false,

      addNoteShown: false,
      notesValue: '',
      noteList: [],
      currentMeter: {},

      singleCategory: false,
      theOneCategory: '',

      formDataPopup: false,

      showDelayDialog: false,
      delayTypeSelection: '',
      fixedDelayDays: 1,
      todoList: [],
      todoListLoading: false,
      toorderList: [],
      toorderListLoading: false,
      onHoldReason: '',
      onHoldRelated: {
        todo: '',
        toorder: '',
      },
      relatedToDo: [],
      relatedToOrder: [],
    }
  },
  computed: {
    ...mapState('sitewide', [
      'mongoUrl',
      'darkTheme',
      'pageDisplayed',
      'techName',
      'currentTaskMode',
      'userLoggedIn',
      'loggedInUser',
      'showTaskDelayOption',
    ]),
    ...mapState('tasks', [
      'detailsPopupData',
      'notesPopup',
      'meterTypes',
      'frequencyOptions',
      'attachmentPopup',
      'attachmentList',
    ]),
    pages() {
      if (
        this.pagination.rowsPerPage == null ||
        this.pagination.totalItems == null
      )
        return 0
      return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
    },
    notesState() {
      return this.notesValue.length >= 10 || this.notesValue == ''
        ? true
        : false
    },
  },
  watch: {
    detailsPopupData: async function () {
      this.noteList = this.detailsPopupData.notes
      if (
        this.detailsPopupData.category &&
        this.detailsPopupData.category.length <= 1
      ) {
        this.singleCategory = true
        this.theOneCategory = this.detailsPopupData.category[0]
      } else {
        this.singleCategory = false
      }
      if (!this.meterTypes.length) {
        this.getMeterTypes()
      }
      if (this.detailsPopupData.meterRequired) {
        this.getCurrentMeterData(this.detailsPopupData.meterName)
      }
      if (
        this.detailsPopupData.onHoldRelated &&
        this.detailsPopupData.onHoldRelated.todo.length
      ) {
        this.getDelayRelated('todo')
      }
      if (
        this.detailsPopupData.onHoldRelated &&
        this.detailsPopupData.onHoldRelated.toorder.length
      ) {
        this.getDelayRelated('toorder')
      }
      this.relatedTaskList = await this.$axios.$get(
        `${this.mongoUrl}taskdata/related/${this.detailsPopupData.taskID}?list=true`
      )
      this.splitRelatedTaskList = await this.$axios.$get(
        `${this.mongoUrl}taskdata/related/${this.detailsPopupData.taskID}?list=true&split=true`
      )
      this.taskToolsTemp = this.detailsPopupData.taskTools
      this.getAttachments(this.detailsPopupData.taskID)
      this.getCompletions()
    },
  },
  mounted() {},
  methods: {
    ...mapActions('sitewide', ['logWrite', 'toastMessage']),
    ...mapActions('tasks', [
      'getActiveTasks',
      'editTaskSave',
      'makeNewMeter',
      'getMeters',
      'getMeterTypes',
      'getAttachments',
    ]),
    saveHighlight(attachmentToHighlight) {
      let tempTask = JSON.parse(JSON.stringify(this.detailsPopupData))
      tempTask.highlightedAttachment = attachmentToHighlight
      this.editTaskSave(tempTask)
      this.$store.commit('tasks/setAttachmentPopup', false)
      this.$emit('reOpenDetails', tempTask)
      setTimeout(() => {
        this.displayAttachments()
      }, 250)
    },
    removeHighlight() {
      let tempTask = JSON.parse(JSON.stringify(this.detailsPopupData))
      tempTask.highlightedAttachment = {
        url: '',
        path: '',
        fileName: 'removed',
      }
      this.editTaskSave(tempTask)
    },
    openPopupIfDataExists() {
      if (
        this.detailsPopupData.requiresAdditionalInfoSubmissions &&
        this.detailsPopupData.requiresAdditionalInfoSubmissions.formSubmissions
          .length
      ) {
        this.formDataPopup = true
      }
    },
    meterCheckTask() {
      if (
        this.detailsPopupData.category &&
        this.detailsPopupData.category.length == 1
      ) {
        return this.detailsPopupData.category.includes('Meter')
      }
    },
    formatDate(date) {
      return format(parseISO(date), 'yyyy-MM-dd')
    },
    getFixedOffsetDate(date, days) {
      return format(addDays(parseISO(date), days), 'yyyy-MM-dd')
    },
    editMode() {
      this.$store.commit('tasks/setDetailsPopup', false)
      this.$store.commit('tasks/setEditTaskPopup', true)
    },
    closePopup() {
      this.$store.commit('tasks/setDetailsPopup', false)
      this.toolsListShown = false
      this.addNoteShown = false
    },
    closeFormDataPopup() {
      this.formDataPopup = false
    },
    daysToInterval(number) {
      if (number == null) {
        return 'None'
      } else {
        for (var i = 0; i < this.frequencyOptions.length; i++) {
          if (number == this.frequencyOptions[i].value) {
            return this.frequencyOptions[i].text
          }
        }
      }
    },
    displayAttachments() {
      this.$store.commit('tasks/setAttachmentPopup', true)
    },
    displayNotes() {
      this.$store.commit('tasks/setNotesPopup', true)
    },
    openNotePopup() {
      if (this.techName === '' && !this.addNoteShown) {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        this.addNoteShown = !this.addNoteShown
      }
    },
    closeNotesPopup() {
      this.$store.commit('tasks/setNotesPopup', false)
    },
    async refreshNotes() {
      try {
        this.noteList = await this.$axios.$get(
          `${this.mongoUrl}taskdata/notes/${this.detailsPopupData._id}`
        )
      } catch (error) {
        this.logWrite({
          logType: 'error',
          logItem: `detailsPopup.vue, mounted() - ${error}`,
        })
      }
    },
    async getCompletions() {
      this.completionList = await this.$axios.$get(
        `${this.mongoUrl}taskdata/completions/${this.detailsPopupData.taskID}`
      )
    },
    async getCurrentMeterData(name) {
      const meterRes = await this.$axios.$get(`${this.mongoUrl}meters/${name}`)
      this.currentMeter = meterRes[0]
    },
    async addNote() {
      if (this.techName === '') {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        if (this.notesValue != '') {
          this.$validator.validate().then(async (valid) => {
            if (valid) {
              this.addNoteShown = false
              try {
                const noteAdded = await this.$axios.$post(
                  `${this.mongoUrl}taskdata/notes/${this.detailsPopupData._id}`,
                  {
                    techName: this.techName,
                    note: this.notesValue,
                    enteredDate: new Date().toISOString(),
                  }
                )
                this.notesValue = ''
                this.refreshNotes()
                this.toastMessage(noteAdded)
              } catch (error) {
                this.logWrite({
                  logType: 'error',
                  logItem: `DetailsPopup.vue, addNote() - ${error}`,
                })
              }
            }
          })
        }
      }
    },
    setDelayDialogShown() {
      this.showDelayDialog = true
    },
    closeDelayDialog() {
      this.delayTypeSelection = ''
      this.showDelayDialog = false
    },
    async saveDelay() {
      if (this.techName === '') {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        this.$validator.validate().then(async (valid) => {
          if (valid) {
            let delayObject = {}

            if (this.delayTypeSelection === 'fixed') {
              delayObject.nextDue = this.getFixedOffsetDate(
                this.detailsPopupData.nextDue,
                this.fixedDelayDays
              )
            } else if (this.delayTypeSelection === 'forced') {
              delayObject.onHoldRelated = this.onHoldRelated
              delayObject.nextDue = this.getFixedOffsetDate(
                this.detailsPopupData.nextDue,
                356
              )
            }
            delayObject.deferred = true
            delayObject.onHold = true
            delayObject.onHoldReason = this.onHoldReason
            delayObject.onHoldType = this.delayTypeSelection
            delayObject.onHoldDate = new Date()
            delayObject.onHoldBy = this.techName
            delayObject.techName = this.techName

            try {
              await this.$axios.$put(
                `${this.mongoUrl}taskdata/${this.detailsPopupData._id}`,
                delayObject
              )
              this.$store.commit(
                'tasks/setDetailsPopupData',
                await this.$axios.$get(
                  `${this.mongoUrl}taskdata/${this.detailsPopupData._id}`
                )
              )
              this.showDelayDialog = false
              this.$emit('updateDue')
              this.getActiveTasks()
              this.toastMessage(
                `Task #${
                  this.detailsPopupData.customTaskID
                    ? this.detailsPopupData.customTaskID
                    : this.detailsPopupData.taskID
                } has had a delay set by ${this.techName}`
              )
              this.logWrite(
                `Delay Type: ${this.delayTypeSelection}${
                  this.delayTypeSelection === 'fixed'
                    ? ': ' + this.fixedDelayDays + ' days'
                    : ''
                }, Reason: ${this.onHoldReason}`
              )
              this.notesValue = `Delay Type: ${this.delayTypeSelection}${
                this.delayTypeSelection === 'fixed'
                  ? ': ' + this.fixedDelayDays + ' days'
                  : ''
              }, Reason: ${this.onHoldReason}`
              this.addNote()

              this.delayTypeSelection = ''
              this.fixedDelayDays = 1
              this.onHoldReason = ''
              this.onHoldRelated = {
                todo: '',
                toorder: '',
              }
              this.$validator.reset()
            } catch (error) {
              this.logWrite({
                logType: 'error',
                logItem: `DetailsPopup.vue, saveDelay() - ${error}`,
              })
            }
          }
        })
      }
    },
    async getDelayRelated(toCheck) {
      if (toCheck === 'todo') {
        this.relatedToDo = await this.$axios.$get(
          `${this.mongoUrl}todo/${this.detailsPopupData.onHoldRelated.todo}`
        )
      } else if (toCheck === 'toorder') {
        this.relatedToOrder = await this.$axios.$get(
          `${this.mongoUrl}toorder/${this.detailsPopupData.onHoldRelated.toorder}`
        )
      }
    },
    async removeDelay() {
      if (this.techName === '') {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        let delayObject = {}
        delayObject.techName = this.techName
        if (this.currentTaskMode == 'Operations') {
          delayObject.nextDue = addDays(
            parseISO(this.detailsPopupData.lastCompletion),
            this.detailsPopupData.opsFrequency
          )
        } else {
          delayObject.nextDue = addDays(
            parseISO(this.detailsPopupData.lastCompletion),
            this.detailsPopupData.transitFrequency
          )
        }

        delayObject.onHoldRelated = {}
        delayObject.deferred = false
        delayObject.onHold = false
        delayObject.onHoldReason = ''
        delayObject.onHoldType = ''
        delayObject.onHoldBy = ''
        delayObject.onHoldDate = ''

        try {
          await this.$axios.$put(
            `${this.mongoUrl}taskdata/${this.detailsPopupData._id}`,
            delayObject
          )
          this.$store.commit(
            'tasks/setDetailsPopupData',
            await this.$axios.$get(
              `${this.mongoUrl}taskdata/${this.detailsPopupData._id}`
            )
          )
          this.$emit('updateDue')
          this.getActiveTasks()
          this.toastMessage(
            `${this.techName} has removed the delay from Task #${
              this.detailsPopupData.customTaskID
                ? this.detailsPopupData.customTaskID
                : this.detailsPopupData.taskID
            }`
          )
          this.notesValue = 'Delay removed'
          this.addNote()
          this.relatedToDo = []
          this.relatedToOrder = []
        } catch (error) {
          this.logWrite({
            logType: 'error',
            logItem: `DetailsPopup.vue, removeDelay() - ${error}`,
          })
        }
      }
    },
    async getTodos() {
      try {
        this.todoListLoading = 'warning'
        this.todoList = await this.$axios.$get(`${this.mongoUrl}todo/list`)
        this.todoListLoading = false
      } catch (error) {
        this.toastMessage('An error occurred, see log for details')
        this.logWrite({
          logType: 'error',
          logItem: error,
        })
      }
    },
    async getToOrders() {
      try {
        this.toorderListLoading = 'warning'
        this.toorderList = await this.$axios.$get(
          `${this.mongoUrl}toorder/list`
        )
        this.toorderListLoading = false
      } catch (error) {
        this.toastMessage('An error occurred, see log for details')
        this.logWrite({
          logType: 'error',
          logItem: error,
        })
      }
    },
    async changeToolsList() {
      if (this.techName === '') {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        if (
          (this.detailsPopupData.taskTools != '' && this.taskToolsTemp == '') ||
          (this.detailsPopupData.taskTools == '' && this.taskToolsTemp != '') ||
          (this.detailsPopupData.taskTools != '' && this.taskToolsTemp != '')
        ) {
          this.$validator.validate().then(async (valid) => {
            if (valid) {
              this.toolsListShown = false
              try {
                let changeTools = await this.$axios.$put(
                  `${this.mongoUrl}taskdata/${this.detailsPopupData._id}`,
                  {
                    techName: this.techName,
                    taskTools: this.taskToolsTemp,
                  }
                )
                this.toastMessage(changeTools)
                this.$emit('updateDue')
                this.getActiveTasks()
              } catch (error) {
                this.logWrite({
                  logType: 'error',
                  logItem: `DetailsPopup.vue, changeToolsList() - ${error}`,
                })
              }
            }
          })
        }
      }
    },
  },
}
</script>

<style scoped>
.numBlock {
  display: inline-block;
  width: 90px;
  color: #000000;
}

.descriptionTextDisplay {
  max-height: 375px;
  overflow: auto;
  font-size: 16px;
  white-space: pre-wrap;
  text-align: left;
  align-self: left;
  vertical-align: top;
}
</style>
