<template>
  <div>
    <base-form-dialog
      title="Edit Task"
      :active="editTaskPopup"
      editButton
      editButtonColor="error"
      width="1100"
      @close="closePopup"
      @edit="editMode"
    >
      <v-container fluid grid-list-md text-center @keydown.ctrl.83.prevent.stop="saveEditedTask()">
        <v-layout row align-center justify-space-around>
          <v-flex v-if="editTask.createdAt">
            <h4 class="grey--text text--darken-1">
              Created:
              <base-format-date
                :ISOdate="editTask.createdAt"
              ></base-format-date>
            </h4>
          </v-flex>
          <v-flex v-if="editTask.updatedAt">
            <h4 class="grey--text text--darken-1">
              Last Edited:
              <base-format-date
                :ISOdate="editTask.updatedAt"
              ></base-format-date>
            </h4>
          </v-flex>
        </v-layout>
        <v-layout row justify-space-around align-center>
          <v-spacer></v-spacer>
          <v-flex xs9 sm2>
            <v-text-field
              v-model="editTask.taskID"
              disabled
              label="ID"
              outlined
            ></v-text-field>
            <v-text-field
              v-model="editTask.customTaskID"
              label="Custom ID"
              autocomplete="off"
              outlined
              :error-messages="customError"
              :loading="customLoading"
              :success-messages="customSuccess"
              append-icon="find_replace"
              @blur="checkCustomID(editTask.customTaskID)"
            ></v-text-field>
          </v-flex>
          <v-flex xs12 sm9>
            <v-text-field
              v-model="editTask.taskName"
              v-validate="'required|min:10'"
              autocomplete="off"
              required
              :error-messages="errors.first('Task Name')"
              data-vv-name="Task Name"
              name="Task Name"
              label="Task Name*"
              outlined
            ></v-text-field>
          </v-flex>
        </v-layout>
        <v-layout
          v-if="!meterCheckTask()"
          row
          align-center
          justify-space-around
        >
          <v-flex shrink>
            <v-switch
              v-show="!editTask.requiresAdditionalInfo"
              v-model="editTask.meterRequired"
              class="pa-0 ma-0"
              color="success"
              label="Meter Required?"
              hide-details
            ></v-switch>
          </v-flex>
          <v-flex shrink>
            <v-switch
              v-model="showRelatedTasks"
              class="pa-0 ma-0"
              color="success"
              label="Show Related Tasks Dialog?"
              hide-details
            ></v-switch>
          </v-flex>
          <v-flex shrink>
            <v-switch
              v-show="editTask.opsFrequency > 1"
              v-model="editTask.earlyNotification"
              class="pa-0 ma-0"
              color="success"
              label="Notify before due?"
              hide-details
            ></v-switch>
          </v-flex>
          <v-flex v-if="!editTask.meterRequired" shrink>
            <v-switch
              v-model="editTask.requiresAdditionalInfo"
              class="pa-0 ma-0"
              color="success"
              label="Additional Information Needed?"
              hide-details
            ></v-switch>
          </v-flex>
        </v-layout>
        <v-layout row wrap justify-center align-center>
          <v-flex shrink>
            <h4>Quality Options:</h4>
          </v-flex>
          <v-flex shrink>
            <v-tooltip top>
              <template #activator="{ on }">
                <v-switch
                  v-model="editTask.soc"
                  class="pa-0 ma-0"
                  color="success"
                  label="SOC"
                  hide-details
                  v-on="on"
                ></v-switch>
              </template>
              <span>Scope of Compliance</span>
            </v-tooltip>
          </v-flex>
          <v-flex shrink>
            <v-tooltip top>
              <template #activator="{ on }">
                <v-switch
                  v-model="editTask.oqe"
                  class="pa-0 ma-0"
                  :disabled="editTask.soc"
                  color="success"
                  label="OQE"
                  hide-details
                  v-on="on"
                ></v-switch>
              </template>
              <span>Objective Quality Evidence</span>
            </v-tooltip>
          </v-flex>
        </v-layout>
        <v-layout row wrap justify-space-around align-center>
          <v-flex shrink>
            <v-layout row align-center justify-center>
              <v-flex shrink align-center>
                <combo-box
                  v-model="editTask.category"
                  v-validate="'required'"
                  :existingValue="editTask.category"
                  :items="categoryOptions"
                  required
                  :error="errors.first('Category')"
                  data-vv-name="Category"
                  label="Category*"
                  :disabled="meterCheckTask()"
                  chips
                  multiple
                  item-text="category"
                  item-value="category"
                >
                </combo-box>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
        <v-layout row wrap align-center justify-space-around>
          <v-flex shrink>
            <v-text-field
              v-model="editTask.taskHours"
              label="Task Hours"
              type="number"
              min="0"
              outlined
            ></v-text-field>
          </v-flex>
          <v-flex shrink>
            <v-layout column align-center justify-center>
              <v-flex shrink>
                <v-tooltip top>
                  <template #activator="{ on }">
                    <span v-on="on">
                      <v-switch
                        v-model="editTask.useForcedDue"
                        class="pa-0 ma-0"
                        color="success"
                        label="Force Due Date"
                        hide-details
                        @click="removeForcedDue"
                      ></v-switch>
                    </span>
                  </template>
                  <span
                    >Set a manual date when task will become due regardless of
                    scheduling.</span
                  >
                </v-tooltip>
              </v-flex>
              <v-flex v-if="editTask.useForcedDue" shrink>
                <date-input
                  v-model="editTask.forcedDueDate"
                  label="Forced Date"
                  :min="new Date().toISOString()"
                />
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex shrink>
            <date-input
              v-model="editTask.lastCompletion"
              v-validate="'required'"
              name="Last Completed"
              :error-messages="errors.first('Last Completed')"
              notClearable
              label="Last Completed"
              :max="new Date().toISOString()"
            />
          </v-flex>
        </v-layout>
        <v-layout
          v-if="editTask.useForcedDue"
          row
          wrap
          align-center
          justify-center
        >
          <v-flex xs11>
            <v-text-field
              v-model="editTask.forcedDateReason"
              v-validate="editTask.forcedDueDate ? 'required' : ''"
              autocomplete="off"
              :error-messages="errors.first('Forced Due Reason')"
              data-vv-name="Forced Due Reason"
              name="Forced Due Reason"
              outlined
              label="Reason a forced due date was set (based on item expiration, certification end, etc)"
            ></v-text-field>
          </v-flex>
        </v-layout>
        <v-layout v-show="showRelatedTasks" row justify-center align-center>
          <v-col cols="11">
            <v-autocomplete
              v-model="editTask.relatedTasks"
              :items="taskList"
              autocomplete="off"
              label="Related Tasks"
              chips
              deletable-chips
              outlined
              multiple
            ></v-autocomplete>
          </v-col>
        </v-layout>
        <v-layout row wrap align-center justify-space-around>
          <v-flex shrink>
            <v-autocomplete
              v-model="editTask.opsFrequency"
              v-validate="oneTime ? '' : 'required'"
              autocomplete="off"
              required
              :error-messages="errors.first('Ops Frequency')"
              data-vv-name="Ops Frequency"
              name="Ops Frequency"
              label="Ops Frequency*"
              outlined
              :items="frequencyOptions"
            ></v-autocomplete>
          </v-flex>
          <v-flex v-if="!meterCheckTask()" shrink>
            <v-autocomplete
              v-model="editTask.transitFrequency"
              v-validate="oneTime ? '' : 'required'"
              autocomplete="off"
              required
              :error-messages="errors.first('Transit Frequency')"
              data-vv-name="Transit Frequency"
              name="Transit Frequency"
              label="Transit Frequency*"
              outlined
              :items="frequencyOptions"
            ></v-autocomplete>
          </v-flex>
          <v-flex
            v-if="!meterCheckTask() && editTask.transitFrequency < 31"
            shrink
          >
            <v-autocomplete
              v-model="editTask.layupTransition"
              autocomplete="off"
              label="Transition"
              outlined
              :items="transitionInterval"
            ></v-autocomplete>
          </v-flex>
        </v-layout>
        <v-layout
          v-show="editTask.meterRequired"
          row
          wrap
          align-center
          justify-space-around
        >
          <v-flex shrink>
            <v-text-field
              v-model="editTask.lastMeterReadingCompleted"
              v-validate="editTask.meterRequired ? 'required' : ''"
              autocomplete="off"
              :error-messages="errors.first('Last Reading Completed')"
              data-vv-name="Last Reading Completed"
              name="Last Reading Completed"
              label="Last Meter Reading Completed*"
              outlined
              type="number"
              min="0"
            ></v-text-field>
          </v-flex>
          <v-flex v-if="!meterCheckTask()" shrink>
            <v-autocomplete
              v-model="editTask.meterFrequency"
              v-validate="
                `${
                  editTask.meterRequired && !meterCheckTask()
                    ? 'required|min_value:1'
                    : ''
                }`
              "
              autocomplete="off"
              :error-messages="errors.first('Meter Interval')"
              data-vv-name="Meter Interval"
              name="Meter Interval"
              label="Meter Interval*"
              outlined
              :items="meterIntervals"
            ></v-autocomplete>
          </v-flex>
          <v-flex v-if="!meterCheckTask()" shrink>
            <v-layout
              v-if="meterList == 0"
              row
              wrap
              align-center
              justify-center
            >
              <h5>No Meters Created</h5>
              <loader-button
                icon="add"
                iconOnly
                nobg
                tipText="Add new meter"
                @click.native="$store.commit('tasks/setNewMeterPopup', true)"
              ></loader-button>
            </v-layout>
            <v-layout v-else row align-center justify-center>
              <v-flex shrink>
                <v-autocomplete
                  v-model="editTask.meterName"
                  v-validate="editTask.meterRequired ? 'required' : ''"
                  autocomplete="off"
                  :error-messages="errors.first('Meter Name')"
                  data-vv-name="Meter Name"
                  name="Meter Name"
                  label="Meter Used*"
                  outlined
                  :items="meterList"
                ></v-autocomplete>
              </v-flex>
              <v-flex shrink class="pb-5">
                <loader-button
                  icon="add"
                  iconOnly
                  nobg
                  tipText="Add new meter"
                  @click.native="$store.commit('tasks/setNewMeterPopup', true)"
                ></loader-button>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
        <div v-show="editTask.earlyNotification">
          <v-layout row wrap justify-center align-center>
            <v-flex shrink>
              <h3>Notify me in task list</h3>
            </v-flex>
            <v-flex shrink>
              <v-text-field
                v-model="editTask.earlyNotificationDays"
                v-validate="editTask.earlyNotification ? 'required' : ''"
                autocomplete="off"
                type="number"
                min="0"
                :max="editTask.opsFrequency"
                outlined
                label="Days*"
                :error-messages="errors.first('Notification Days')"
                data-vv-name="Notification Days"
                name="Notification Days"
              ></v-text-field>
            </v-flex>
            <v-flex shrink>
              <h3>days before task due</h3>
            </v-flex>
          </v-layout>
          <v-layout row justify-center align-center>
            <v-col cols="11">
              <v-text-field
                v-model="editTask.earlyNotificationText"
                v-validate="editTask.earlyNotification ? 'required' : ''"
                autocomplete="off"
                :error-messages="errors.first('Notification Text')"
                data-vv-name="Notification Text"
                name="Notification Text"
                outlined
                label="Description of notification ex: Order parts, prep area, etc*"
              ></v-text-field>
            </v-col>
          </v-layout>
          <v-layout row justify-center align-center>
            <combo-box
              v-model="editTask.emailTo"
              :existingValue="editTask.emailTo"
              :items="existingEmails"
              multiple
              chips
              label="Notify these people via email as well..."
              @focus="getExistingEmails"
            ></combo-box>
          </v-layout>
        </div>
        <v-layout
          v-if="editTask.requiresAdditionalInfo"
          row
          justify-space-around
          align-center
          class="text-center"
        >
          <v-col
            v-if="
              detailsPopupData.requiresAdditionalInfoForm &&
              detailsPopupData.requiresAdditionalInfoForm.formFields &&
              detailsPopupData.requiresAdditionalInfoForm.formFields.length
            "
          >
            <loader-button
              text="View Existing Info Form"
              @click.native="infoFormActive = true"
            ></loader-button>
          </v-col>
          <v-col>
            <loader-button
              :text="
                detailsPopupData.requiresAdditionalInfoForm &&
                detailsPopupData.requiresAdditionalInfoForm.formFields &&
                detailsPopupData.requiresAdditionalInfoForm.formFields.length
                  ? 'Edit Existing Form'
                  : 'Create New Form'
              "
              color="success"
              @click.native="openFormCreationDialog()"
            ></loader-button>
          </v-col>
        </v-layout>
        <v-layout row wrap align-center justify-center>
          <v-col cols="11">
            <v-textarea
              v-model="editTask.detailedDescription"
              autocomplete="off"
              name="input-7-1"
              outlined
              auto-grow
              counter="10000"
              label="Description"
            ></v-textarea>
          </v-col>
        </v-layout>
        <v-layout row align-center justify-space-around>
          <v-flex shrink>
            <loader-button
              text="Deactivate Task"
              color="error"
              @click.native="deactivateTask()"
            ></loader-button>
          </v-flex>
          <v-flex shrink>
            <loader-button
              text="Cancel Changes"
              color="warning"
              @click.native="closePopup()"
            ></loader-button>
          </v-flex>
          <v-flex shrink>
            <loader-button
              text="Save Changes"
              color="green"
              @click.native="saveEditedTask()"
            ></loader-button>
          </v-flex>
        </v-layout>
      </v-container>
    </base-form-dialog>

    <additional-info-form
      v-if="detailsPopupData.requiresAdditionalInfo"
      :infoFormActive="infoFormActive"
      :taskItem="detailsPopupData"
      viewDetails
      @closeTaskInfoDialog="infoFormActive = false"
    ></additional-info-form>
    <additional-info-form-creation
      :existingForm="existingFormData"
      :isShown="creationDialogIsShown"
      @closeTaskFormDialog="creationDialogIsShown = false"
      @updateDue="
        $emit('updateDue')
        closePopup()
      "
    ></additional-info-form-creation>
    <new-meter-popup :newMeterPopup="newMeterPopup"></new-meter-popup>
  </div>
</template>

<script>
import NewMeterPopup from '~/components/Tasks/NewMeterPopup.vue'
import AdditionalInfoForm from '~/components/Tasks/AdditionalInfoForm.vue'
import AdditionalInfoFormCreation from '~/components/Tasks/AdditionalInfoFormCreation.vue'
import ComboBox from '~/components/Utils/BaseCombobox.vue'
import DateInput from '../Utils/DateInputField.vue'
import { format, formatISO, parseISO, isValid } from 'date-fns/esm'
import { mapActions, mapState } from 'vuex'

export default {
  components: {
    NewMeterPopup,
    AdditionalInfoForm,
    AdditionalInfoFormCreation,
    ComboBox,
    DateInput,
  },
  props: {
    editTaskPopup: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      addHourRequirement: false,
      saveEditSuccess: false,

      lastCompletedCal: false,
      requiresAdditionalInfo: false,
      creationDialogIsShown: false,
      infoFormActive: false,

      setForcedDue: false,
      forcedDueDateCal: false,

      existingFormData: [],

      customLoading: false,
      customSuccess: [],
      customError: [],

      oneTime: true,
      taskList: [],
      showRelatedTasks: false,

      editTask: [],
      existingEmails: [],
    }
  },
  computed: {
    ...mapState('sitewide', [
      'mongoUrl',
      'darkTheme',
      'pageDisplayed',
      'techName',
      'currentTaskMode',
      'userLoggedIn',
    ]),
    ...mapState('tasks', [
      'detailsPopupData',
      'meterIntervals',
      'meterList',
      'transitionInterval',
      'categoryOptions',
      'frequencyOptions',
      'newMeterPopup',
    ]),
  },
  watch: {
    detailsPopupData: async function () {
      try {
        if (this.userLoggedIn) {
          this.editTask = await this.$axios.$get(
            `${this.mongoUrl}taskdata/${this.detailsPopupData._id}`
          )
          this.getTaskList()
          this.prepData()
        }
      } catch (error) {
        this.logWrite({
          logType: 'error',
          logItem: `EditTaskData.vue, watch-detailsPopupData() - ${error}`,
        })
      }
    },
    'editTask.category': function () {
      this.oneTime =
        this.editTask.category.length == 1 &&
        this.editTask.category.includes('1 Time')
    },
    'editTask.relatedTasks': function () {
      this.showRelatedTasks = this.editTask.relatedTasks.length ? true : false
    },
    'editTask.useForcedDue': function () {
      if (this.editTask.useForcedDue) {
        if (isValid(parseISO(this.editTask.forcedDueDate))) {
          this.editTask.forcedDueDate = format(
            parseISO(this.editTask.forcedDueDate),
            'yyyy-MM-dd'
          )
        }
      }
    },
    'editTask.soc': function () {
      if (this.editTask.soc) {
        this.editTask.oqe = true
      }
    },
  },
  created() {},
  mounted() {},
  methods: {
    ...mapActions('sitewide', ['logWrite', 'toastMessage']),
    ...mapActions('tasks', [
      'getActiveTasks',
      'editTaskSave',
      'makeNewMeter',
      'getMeters',
    ]),
    meterCheckTask() {
      if (this.editTask.category && this.editTask.category.length == 1) {
        return this.editTask.category.includes('Meter')
      }
    },
    async getTaskList() {
      this.taskList = await this.$axios.$get(`${this.mongoUrl}taskdata/list`)
    },
    editMode(closeAll = false) {
      if (!closeAll) {
        this.$store.commit('tasks/setDetailsPopup', true)
      }
      this.$store.commit('tasks/setEditTaskPopup', false)
    },
    closePopup() {
      this.$store.commit('tasks/setEditTaskPopup', false)
    },
    daysToInterval(number) {
      for (var i = 0; i < this.frequencyOptions.length; i++) {
        if (number == this.frequencyOptions[i].value) {
          return this.frequencyOptions[i].text
        }
      }
    },
    prepData() {
      this.editTask.requiresAdditionalInfo = this.trueOrFalse(
        this.detailsPopupData.requiresAdditionalInfo
      )
      this.editTask.hourRequired = this.trueOrFalse(
        this.detailsPopupData.hourRequired
      )
    },
    trueOrFalse(state) {
      if (state === 'yes' || state === 1 || state === true) {
        return true
      } else {
        return false
      }
    },
    removeForcedDue() {
      if (this.editTask.useForcedDue) {
        this.editTask.forcedDueDate = formatISO(new Date())
      } else {
        this.editTask.forcedDateReason = ''
      }
    },
    async checkCustomID(toCheck) {
      this.customLoading = 'warning'
      while (this.customSuccess.length) {
        this.customSuccess.pop()
      }
      while (this.customError.length) {
        this.customError.pop()
      }
      try {
        if (toCheck && toCheck !== this.detailsPopupData.customTaskID) {
          let checkResponse = ''
          checkResponse = await this.$axios.$get(
            `${this.mongoUrl}taskdata/customid?id=${toCheck}`
          )

          if (checkResponse == 'exists') {
            while (this.customSuccess.length) {
              this.customSuccess.pop()
            }
            this.customError.push('ID already exists')
          } else if (checkResponse == 'free') {
            while (this.customError.length) {
              this.customError.pop()
            }
            this.customSuccess.push('ID is available')
          }
        }
        this.customLoading = false
      } catch (error) {
        this.toastMessage(
          'An error occurred checking the custom task ID availability'
        )
        this.logWrite({
          logType: 'error',
          logItem: `NewTaskPopup.vue, checkCustomID()- ${error}`,
        })
      }
    },
    async openFormCreationDialog() {
      const updatedData = await this.$axios.$get(
        `${this.mongoUrl}taskdata/${this.detailsPopupData._id}`
      )
      this.existingFormData =
        updatedData.requiresAdditionalInfoForm &&
        updatedData.requiresAdditionalInfoForm.formFields &&
        updatedData.requiresAdditionalInfoForm.formFields.length
          ? updatedData.requiresAdditionalInfoForm.formFields
          : []
      this.creationDialogIsShown = true
    },
    saveEditedTask() {
      if (this.techName === '') {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        this.$validator.validate().then((valid) => {
          if (valid) {
            if (
              this.editTask.category.includes('Meter') ||
              this.editTask.category.includes('ops') ||
              this.editTask.category.includes('transit')
            ) {
              for (let i = 0; i < this.editTask.category.length; i++) {
                if (this.editTask.category[i] == 'Meter') {
                  if (this.editTask.category.length > 1) {
                    this.editTask.category.splice(i, 1)
                  }
                } else if (this.editTask.category[i] == 'ops') {
                  this.editTask.category.splice(i, 1)
                } else if (this.editTask.category[i] == 'transit') {
                  this.editTask.category.splice(i, 1)
                }
              }
            }
            this.editTaskSave(this.editTask)
            this.$emit('updateDue')
            this.editMode(true)
          }
        })
      }
    },
    async deactivateTask() {
      if (this.techName === '') {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        this.editTask.active = false
        this.editTaskSave(this.editTask)
        this.$emit('updateDue')
        this.editMode(true)
      }
    },
    async getExistingEmails() {
      try {
        this.existingEmails = await this.$axios.$get(
          `${this.mongoUrl}settings/email`
        )
      } catch (error) {
        this.toastMessage('An error occurred, see log for details')
        this.logWrite({
          logType: 'error',
          logItem: error,
        })
      }
    },
  },
}
</script>

<style scoped>
.descriptionTextDisplay {
  max-height: 375px;
  overflow: auto;
  font-size: 16px;
  white-space: pre-wrap;
  text-align: left;
  align-self: left;
  vertical-align: top;
}
</style>
