<template>
  <base-form-dialog :active="newMeterPopup" title="Create New Meter" width="800" @close="cancelMeterPopup()">
    <v-container fluid>
      <v-layout row wrap justify-space-around align-center>
        <v-flex shrink>
          <v-combobox
            v-model="newMeterName"
            v-validate="'required|min:4|meterExists'"
            :items="meterList.map(meter => meter.text)"
            autocomplete="off"
            required
            :error-messages="errors.first('Meter Name')"
            data-vv-name="Meter Name"
            name="Meter"
            label="What will we name it?*"
            outlined
          ></v-combobox>
        </v-flex>
        <v-flex shrink>
          <v-combobox
            v-model="newMeterType"
            v-validate="'required'"
            autocomplete="off"
            required
            :error-messages="errors.first('Meter Type')"
            data-vv-name="Meter Type"
            name="Meter Type"
            outlined
            :items="meterTypes"
            label="What type of meter is it?*"
          ></v-combobox>
        </v-flex>
        <v-flex shrink>
          <v-text-field
            v-model="newMeterStartVal"
            v-validate="'required'"
            autocomplete="off"
            required
            :error-messages="errors.first('Current Reading')"
            data-vv-name="Current Reading"
            name="Current Reading"
            label="Current meter reading?*"
            outlined
          ></v-text-field>
        </v-flex>
        <v-flex shrink>
          <v-autocomplete
            v-model="newMeterReadFreq"
            v-validate="'required|min_value:2'"
            autocomplete="off"
            required
            :error-messages="errors.first('Read Frequency')"
            data-vv-name="Read Frequency"
            name="Read Frequency"
            label="Record value how often?*"
            outlined
            :items="frequencyOptions"
          ></v-autocomplete>
        </v-flex>
      </v-layout>
      <v-layout row wrap justify-center align-center class="text-xs-center">
        <v-flex shrink>
          <h5>
            When you click save on this new meter a task will be created to read the value of this meter at the above
            set interval.
          </h5>
          <hr />
        </v-flex>
      </v-layout>
      <v-layout row wrap justify-space-around align-center>
        <v-flex shrink>
          <loader-button text="Cancel" color="error" @click.native="cancelMeterPopup"></loader-button>
        </v-flex>
        <v-flex shrink>
          <loader-button text="Save" color="success" @click.native="saveNewMeter"></loader-button>
        </v-flex>
      </v-layout>
    </v-container>
  </base-form-dialog>
</template>

<script>
import { mapActions, mapState } from 'vuex'
export default {
  components: {},
  props: {
    newMeterPopup: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      newMeterName: '',
      newMeterType: '',
      newMeterStartVal: '',
      newMeterReadFreq: '',

      alreadyExists: false,
    }
  },
  computed: {
    ...mapState('sitewide', ['mongoUrl', 'darkTheme', 'techName', 'currentTaskMode']),
    ...mapState('tasks', ['meterList', 'meterTypes', 'frequencyOptions']),
  },
  mounted() {
    let self = this
    this.$validator.extend('meterExists', {
      getMessage() {
        return 'A meter already exists by that name'
      },
      validate(value) {
        if (self.meterList.length) {
          for (let i = 0; i < self.meterList.length; i++) {
            if (self.meterList[i].text == value) {
              return false
            } else {
              return true
            }
          }
        } else {
          return true
        }
      },
    })
  },
  methods: {
    ...mapActions('sitewide', ['logWrite', 'toastMessage']),
    ...mapActions('tasks', ['makeNewMeter', 'getMeters', 'getMeterTypes']),
    saveNewMeter() {
      if (this.techName === '') {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        this.$validator.validate().then(valid => {
          if (valid) {
            let meterObject = {
              name: this.newMeterName,
              type: this.newMeterType,
              currentReading: this.newMeterStartVal,
              readFreq: this.newMeterReadFreq,
            }
            this.makeNewMeter(meterObject)
            this.newMeterName = ''
            this.newMeterType = ''
            this.newMeterStartVal = ''
            this.newMeterReadFreq = ''
            this.$validator.reset()
            this.getMeters()
            this.getMeterTypes()
          }
        })
      }
    },
    cancelMeterPopup() {
      this.$store.commit('tasks/setNewMeterPopup', false)
      this.newMeterName = ''
      this.newMeterStartVal = ''
      this.newMeterReadFreq = ''
    },
  },
}
</script>

<style></style>
