<template>
  <div>
    <base-form-dialog
      title="Create New Task"
      :active="newTaskPopup"
      width="900"
      @close="closePopup"
    >
      <v-container fluid grid-list-md text-xs-center @keydown.ctrl.83.prevent.stop="newTask()">
        <v-layout row wrap justify-space-around align-center>
          <v-flex shrink>
            <loader-button
              icon="library_books"
              iconOnly
              nobg
              tipText="Copy an existing task's data"
              @click.native="needTaskNumber = true"
            ></loader-button>
          </v-flex>
          <v-flex shrink>
            <v-text-field
              v-model="newTaskData.customTaskID"
              label="Custom ID"
              autocomplete="off"
              outlined
              :error-messages="customError"
              :loading="customLoading"
              :success-messages="customSuccess"
              append-icon="find_replace"
              @blur="checkCustomID(newTaskData.customTaskID)"
            ></v-text-field>
          </v-flex>
          <v-flex xs9 sm7>
            <v-text-field
              v-model="newTaskData.taskName"
              v-validate="'required|min:10'"
              autocomplete="off"
              required
              :error-messages="errors.first('Task Name')"
              data-vv-name="Task Name"
              name="Task Name"
              label="Task Name*"
              outlined
            ></v-text-field>
          </v-flex>
        </v-layout>
        <v-layout row align-center justify-center>
          <v-flex shrink>
            <v-switch
              v-model="newTaskData.meterRequired"
              class="pa-0 ma-0"
              color="success"
              label="Meter Required?"
              hide-details
            ></v-switch>
          </v-flex>
          <v-flex shrink>
            <v-switch
              v-show="newTaskData.opsFrequency > 1"
              v-model="newTaskData.earlyNotification"
              class="pa-0 ma-0"
              color="success"
              label="Notify before due?"
              hide-details
            ></v-switch>
          </v-flex>
          <v-flex shrink>
            <v-tooltip top>
              <template #activator="{ on }">
                <v-switch
                  v-model="newTaskData.soc"
                  class="pa-0 ma-0"
                  color="success"
                  label="SOC"
                  hide-details
                  v-on="on"
                ></v-switch>
              </template>
              <span>Scope of Compliance</span>
            </v-tooltip>
          </v-flex>
          <v-flex shrink>
            <v-tooltip top>
              <template #activator="{ on }">
                <v-switch
                  v-model="newTaskData.oqe"
                  class="pa-0 ma-0"
                  :disabled="newTaskData.soc"
                  color="success"
                  label="OQE"
                  hide-details
                  v-on="on"
                ></v-switch>
              </template>
              <span>Objective Quality Evidence</span>
            </v-tooltip>
          </v-flex>
          <v-flex shrink>
            <v-tooltip top>
              <template #activator="{ on }">
                <v-switch
                  v-model="setForcedDue"
                  class="pa-0 ma-0"
                  color="success"
                  label="Force Due Date"
                  hide-details
                  v-on="on"
                ></v-switch>
              </template>
              <span
                >Set a manual date when task will become due regardless of
                scheduling.</span
              >
            </v-tooltip>
          </v-flex>
        </v-layout>
        <v-layout row wrap justify-space-around align-center>
          <v-flex shrink>
            <combo-box
              v-model="newTaskData.category"
              v-validate="'required'"
              :existingValue="newTaskData.category"
              :items="categoryOptions"
              :error="errors.first('Category')"
              data-vv-name="Category"
              label="Category*"
              required
              multiple
              chips
              item-text="category"
              item-value="category"
            ></combo-box>
          </v-flex>
        </v-layout>
        <v-layout row wrap align-center justify-space-around>
          <v-flex shrink>
            <v-text-field
              v-model="newTaskData.taskHours"
              label="Task Hours"
              type="number"
              outlined
            ></v-text-field>
          </v-flex>
          <v-flex v-if="setForcedDue" shrink>
            <date-input
              v-model="newTaskData.forcedDueDate"
              label="Forced Due Date"
              :min="new Date().toISOString()"
            />
          </v-flex>
          <v-flex shrink>
            <v-layout column align-center justify-center>
              <v-flex shrink>
                <v-tooltip top>
                  <template #activator="{ on }">
                    <v-switch
                      v-model="newTaskData.newTaskCompletion"
                      class="pa-0 ma-0"
                      color="success"
                      label="Add Completion"
                      hide-details
                      v-on="on"
                    ></v-switch>
                  </template>
                  <span
                    >When the task is saved also add a completion to the
                    database for the date specified.</span
                  >
                </v-tooltip>
              </v-flex>
              <v-flex shrink>
                <date-input
                  v-model="newTaskData.lastCompletion"
                  v-validate="'required'"
                  name="Last Completed"
                  :error-messages="errors.first('Last Completed')"
                  notClearable
                  label="Last Completed"
                  :max="new Date().toISOString()"
                />
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
        <v-layout v-if="setForcedDue" row wrap align-center justify-center>
          <v-flex xs11>
            <v-text-field
              v-model="newTaskData.forcedDateReason"
              v-validate="newTaskData.forcedDueDate ? 'required' : ''"
              autocomplete="off"
              :error-messages="errors.first('Forced Due Reason')"
              data-vv-name="Forced Due Reason"
              name="Forced Due Reason"
              outlined
              label="Reason a forced due date was set (based on item expiration, certification end, etc)"
            ></v-text-field>
          </v-flex>
        </v-layout>
        <v-layout row wrap align-center justify-space-around>
          <v-flex shrink>
            <v-autocomplete
              v-model="newTaskData.opsFrequency"
              v-validate="
                oneTime || newTaskData.meterRequired ? '' : 'required'
              "
              autocomplete="off"
              required
              :error-messages="errors.first('Ops Frequency')"
              data-vv-name="Ops Frequency"
              name="Ops Frequency"
              label="Ops Frequency*"
              outlined
              :items="frequencyOptions"
            ></v-autocomplete>
          </v-flex>
          <v-flex shrink>
            <v-autocomplete
              v-model="newTaskData.transitFrequency"
              v-validate="
                oneTime || newTaskData.meterRequired ? '' : 'required'
              "
              autocomplete="off"
              required
              :error-messages="errors.first('Transit Frequency')"
              data-vv-name="Transit Frequency"
              name="Transit Frequency"
              label="Transit Frequency*"
              outlined
              :items="frequencyOptions"
            ></v-autocomplete>
          </v-flex>
          <v-flex v-if="newTaskData.transitFrequency < 31" shrink>
            <v-autocomplete
              v-model="newTaskData.layupTransition"
              label="Transition"
              outlined
              :items="transitionInterval"
            ></v-autocomplete>
          </v-flex>
        </v-layout>
        <v-layout
          v-if="newTaskData.meterRequired"
          row
          wrap
          align-center
          justify-space-around
        >
          <v-flex shrink>
            <v-text-field
              v-model="newTaskData.lastMeterReadingCompleted"
              v-validate="newTaskData.meterRequired ? 'required' : ''"
              autocomplete="off"
              required
              :error-messages="errors.first('Last Completed')"
              data-vv-name="Last Completed"
              name="Last Completed"
              label="Last Meter Reading Completed*"
              outlined
              type="number"
              min="0"
            ></v-text-field>
          </v-flex>
          <v-flex shrink>
            <v-autocomplete
              v-model="newTaskData.meterFrequency"
              v-validate="
                `${newTaskData.meterRequired ? 'required|min_value:1' : ''}`
              "
              autocomplete="off"
              required
              :error-messages="errors.first('Meter Interval')"
              data-vv-name="Meter Interval"
              name="Meter Interval"
              label="Meter Interval*"
              outlined
              :items="meterIntervals"
            ></v-autocomplete>
          </v-flex>
          <v-flex shrink>
            <v-layout
              v-if="!meterList.length"
              row
              wrap
              align-center
              justify-center
            >
              <h5>No Meters Created</h5>
              <loader-button
                icon="add"
                iconOnly
                nobg
                tipText="Add new meter"
                @click.native="$store.commit('tasks/setNewMeterPopup', true)"
              ></loader-button>
            </v-layout>
            <v-layout v-else row align-center justify-center>
              <v-flex shrink>
                <v-autocomplete
                  v-model="newTaskData.meterName"
                  v-validate="newTaskData.meterRequired ? 'required' : ''"
                  autocomplete="off"
                  required
                  :error-messages="errors.first('Meter Name')"
                  data-vv-name="Meter Name"
                  name="Meter Name"
                  label="Meter Used*"
                  outlined
                  :items="meterList"
                ></v-autocomplete>
              </v-flex>
              <v-flex shrink class="pb-5">
                <loader-button
                  icon="add"
                  iconOnly
                  nobg
                  tipText="Add new meter"
                  @click.native="$store.commit('tasks/setNewMeterPopup', true)"
                ></loader-button>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
        <div v-show="newTaskData.earlyNotification">
          <v-layout row wrap justify-center align-center>
            <v-flex shrink><h5>Notify me in task list</h5></v-flex>
            <v-flex shrink>
              <v-text-field
                v-model="newTaskData.earlyNotificationDays"
                v-validate="newTaskData.earlyNotification ? 'required' : ''"
                autocomplete="off"
                type="number"
                min="0"
                :max="newTaskData.opsFrequency"
                outlined
                label="Days*"
                :error-messages="errors.first('Notification Days')"
                data-vv-name="Notification Days"
                name="Notification Days"
              ></v-text-field>
            </v-flex>
            <v-flex shrink><h5>days before task due</h5></v-flex>
          </v-layout>
          <v-layout row wrap justify-center align-center>
            <v-flex>
              <v-text-field
                v-model="newTaskData.earlyNotificationText"
                v-validate="newTaskData.earlyNotification ? 'required' : ''"
                autocomplete="off"
                :error-messages="errors.first('Notification Text')"
                data-vv-name="Notification Text"
                name="Notification Text"
                outlined
                label="Description of notification ex: Order parts, prep area, etc*"
              ></v-text-field>
            </v-flex>
          </v-layout>
        </div>
        <v-layout row wrap align-center justify-center>
          <v-flex grow>
            <v-textarea
              v-model="newTaskData.detailedDescription"
              autocomplete="off"
              name="input-7-1"
              outlined
              auto-grow
              clearable
              counter="10000"
              label="Description"
            ></v-textarea>
          </v-flex>
        </v-layout>
        <v-layout row wrap align-center justify-space-around>
          <v-flex shrink>
            <loader-button
              text="Cancel Changes"
              color="warning"
              @click.native="closePopup()"
            ></loader-button>
          </v-flex>
          <v-flex shrink>
            <loader-button
              text="Save Changes"
              color="green"
              @click.native="newTask()" 
            ></loader-button>
          </v-flex>
        </v-layout>
      </v-container>
    </base-form-dialog>

    <base-form-dialog
      :active="needTaskNumber"
      title="Task ID to Clone"
      width="400"
      @close="
        taskToClone = ''
        needTaskNumber = false
      "
    >
      <v-container fluid grid-list-lg>
        <v-layout column justify-center align-center>
          <v-flex xs11>
            <v-combobox
              v-model="taskToClone"
              :items="taskList"
              :loading="taskListLoading"
              autofocus
              label="Task to clone.."
              autocomplete="off"
              outlined
              @focus="getTasks"
              @keyup="keyPress"
            ></v-combobox>
          </v-flex>
          <v-flex shrink>
            <loader-button
              text="OK"
              @click.native="
                copyExistingTask()
                needTaskNumber = false
              "
            ></loader-button>
          </v-flex>
        </v-layout>
      </v-container>
    </base-form-dialog>

    <new-meter-popup></new-meter-popup>
  </div>
</template>

<script>
import NewMeterPopup from '~/components/Tasks/NewMeterPopup.vue'
import ComboBox from '~/components/Utils/BaseCombobox.vue'
import DateInput from '../Utils/DateInputField.vue'
import { mapActions, mapState } from 'vuex'
import { format, formatISO } from 'date-fns/esm'

export default {
  components: {
    NewMeterPopup,
    ComboBox,
    DateInput,
  },
  props: {
    newTaskPopup: {
      type: Boolean,
      default: false,
    },
    newMeterPopup: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      needTaskNumber: false,
      taskToClone: '',
      taskList: [],
      taskListLoading: false,

      lastCompletedCal: false,

      customLoading: false,
      customSuccess: [],
      customError: [],

      oneTime: true,
      setForcedDue: false,
      forcedDueDateCal: false,

      showRelatedTasks: false,

      blankTaskData: {
        newTaskCompletion: false,
        customTaskID: '',
        taskName: '',
        category: [],
        taskHours: '',
        detailedDescription: '',

        meterRequired: false,
        soc: false,
        oqe: false,
        lastMeterReadingCompleted: '',
        meterFrequency: '',
        meterName: '',

        relatedTasks: [],

        lastCompletion: format(new Date(), 'yyyy-MM-dd'),
        forcedDueDate: '',
        opsFrequency: '',
        transitFrequency: '',

        requiresAdditionalInfo: false,
        layupTransition: 0,
      },
      newTaskData: {},
    }
  },
  computed: {
    ...mapState('sitewide', [
      'mongoUrl',
      'darkTheme',
      'pageDisplayed',
      'techName',
    ]),
    ...mapState('tasks', [
      'transitionInterval',
      'categoryOptions',
      'frequencyOptions',
      'showRequired',
      'meters',
      'meterList',
      'meterIntervals',
    ]),
  },
  watch: {
    'newTaskData.category': function () {
      this.oneTime =
        this.newTaskData.category.length == 1 &&
        this.newTaskData.category.includes('1 Time')
    },
    'newTaskData.soc': function () {
      if (this.newTaskData.soc) {
        this.newTaskData.oqe = true
      }
    },
    setForcedDue: function () {
      if (!this.setForcedDue) {
        this.forcedDueDateCal = false
        this.newTaskData.forcedDueDate = ''
      }
    },
  },
  created() {
    this.newTaskData = JSON.parse(JSON.stringify(this.blankTaskData))
  },
  mounted() {},
  methods: {
    ...mapActions('sitewide', [
      'logWrite',
      'toastMessage',
      'getTaskMode',
      'menuSelection',
    ]),
    ...mapActions('tasks', ['makeNewMeter', 'saveTask', 'getMeters']),
    newTask() {
      if (this.techName === '') {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        this.$validator.validate().then((valid) => {
          if (valid) {
            this.saveTask(this.newTaskData)
            if (!this.newTaskData.category.includes('Meter')) {
              this.newTaskData = JSON.parse(JSON.stringify(this.blankTaskData))
              this.$validator.reset()
            }
          }
        })
      }
    },
    async checkCustomID(toCheck) {
      this.customLoading = 'warning'
      while (this.customSuccess.length) {
        this.customSuccess.pop()
      }
      while (this.customError.length) {
        this.customError.pop()
      }
      try {
        if (toCheck) {
          let checkResponse = ''
          checkResponse = await this.$axios.$get(
            `${this.mongoUrl}taskdata/customid?id=${toCheck}`
          )

          if (checkResponse == 'exists') {
            while (this.customSuccess.length) {
              this.customSuccess.pop()
            }
            this.customError.push('ID already exists')
          } else if (checkResponse == 'free') {
            while (this.customError.length) {
              this.customError.pop()
            }
            this.customSuccess.push('ID is available')
          }
        }
        this.customLoading = false
      } catch (error) {
        this.toastMessage(
          'An error occurred checking the custom task ID availability'
        )
        this.logWrite({
          logType: 'error',
          logItem: `NewTaskPopup.vue, checkCustomID()- ${error}`,
        })
      }
    },
    closePopup() {
      this.$store.commit('tasks/setNewTaskPopup', false)
      this.newTaskData = JSON.parse(JSON.stringify(this.blankTaskData))
      this.$validator.reset()
    },
    daysToInterval(number) {
      this.frequencyOptions.forEach((choice) => {
        if (number == choice.value) {
          return choice.text
        }
      })
    },
    async copyExistingTask() {
      try {
        let copyTask = await this.$axios.$get(
          `${this.mongoUrl}taskdata/${
            this.taskToClone.value ? this.taskToClone.value : this.taskToClone
          }`
        )
        const stuffToClone = [
          'taskName',
          'category',
          'layupTransition',
          'detailedDescription',
          'meterFrequency',
          'opsFrequency',
          'transitFrequency',
        ]

        for (let i = 0; i < stuffToClone.length; i++) {
          if (Array.isArray(copyTask[0][stuffToClone[i]])) {
            this.$set(
              this.newTaskData,
              stuffToClone[i],
              copyTask[0][stuffToClone[i]]
            )
          } else {
            this.newTaskData[stuffToClone[i]] = copyTask[0][stuffToClone[i]]
          }
        }

        this.newTaskData.lastCompletion = formatISO(new Date())
        this.taskToClone = ''
      } catch (error) {
        this.logWrite({
          logType: 'error',
          logItem: `NewTaskPopup.vue, copyExistingTask() - ${error}`,
        })
      }
    },
    async getTasks() {
      try {
        this.taskListLoading = 'warning'
        this.taskList = await this.$axios.$get(`${this.mongoUrl}taskdata/list`)
        this.taskListLoading = false
      } catch (error) {
        this.toastMessage('An error occurred, see log for details')
        this.logWrite({
          logType: 'error',
          logItem: error,
        })
      }
    },
    hourRequired(state) {
      if (state === 'yes' || state === 1 || state === true) {
        return true
      } else {
        return false
      }
    },
    additionalInfoRequired(state) {
      if (state === 'yes' || state === 1 || state === true) {
        return true
      } else {
        return false
      }
    },
    keyPress(event) {
      if (event.key == 'Enter') {
        this.copyExistingTask()
        this.needTaskNumber = false
      }
    },
  },
}
</script>

<style scoped></style>
