<!-- eslint-disable vue/no-parsing-error -->
<!-- above added for HTML text that was presenting as linting errors -->
<template>
  <div>
    <base-form-dialog title="Task Notes" :active="notesPopup" width="800" @close="closeNotesPopup">
      <v-container>
        <v-row align="center" justify="center">
          <v-spacer></v-spacer>
          <v-col cols="11">
            <v-text-field
              v-model="search"
              autocomplete="off"
              append-icon="search"
              label="Search"
              single-line
              hide-details
            ></v-text-field>
          </v-col>
          <v-spacer></v-spacer>
        </v-row>
        <v-row align="center" justify="center">
          <v-spacer></v-spacer>
          <v-col cols="11">
            <v-data-table :items="noteList" :headers="headers" :search="search">
              <template v-if="userLoggedIn" #item.actions="{ item }">
                <loader-button
                  icon="remove"
                  size="small"
                  color="error"
                  text="Remove"
                  tipText="Delete Note"
                  @click.native="
                    $event.stopPropagation()
                    deleteNote(item)
                  "
                ></loader-button>
              </template>
              <template #item.enteredDate="{ item }">
                <div v-if="item.enteredDate || item.manualDate">
                  <base-format-date :ISOdate="item.manualDate ? item.manualDate : item.enteredDate"></base-format-date>
                </div>
               <div v-else-if="completionList.length && compareTechnicians(item.techName) && !compareTechnicians(item.techName).length">
                  <span>This task is subject to a possible date entry bug.</br>
                    {{item.techName}} has no task completions so this note was </br>
                    added seperatly and the date is not known with certainty.</br>
                    </span>
                </div>
                <div v-else>
                  <v-tooltip right>
                      <template #activator="{ on }">
                        <h5 v-on="on">Mouse Over Me</h5>
                      </template>
                      <span>This task is subject to a possible date entry bug.</br>
                        The below are the times when {{item.techName}} completed</br>
                        the task and could be the entry date of this note.</span>
                      <v-simple-table> 
                        <thead>
                          <tr>
                            <th>Tech Name</th>
                            <th>Date Completed</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="comp in compareTechnicians(item.techName)" :key="comp._id">
                            <td>{{ comp.techName }}</td>
                            <td><base-format-date :ISOdate="comp.dateCompleted"></base-format-date></td>
                          </tr>
                        </tbody>
                      </v-simple-table>
                    </v-tooltip>
                </div>
              </template>
            </v-data-table>
          </v-col>
          <v-spacer></v-spacer>
        </v-row>
      </v-container>
    </base-form-dialog>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import BaseFormatDate from '~/components/Utils/BaseFormatDate'

export default {
  components: {
    BaseFormatDate,
  },
  props: {
    noteList: {
      type: Array,
      default: () => [],
    },
    notesPopup: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      headers: [
        {
          text: 'Technician',
          value: 'techName',
          align: 'center',
          sortable: true,
        },
        {
          text: 'Notes',
          value: 'note',
          align: 'center',
          sortable: true,
        },
        {
          text: 'Entered',
          value: 'enteredDate',
          align: 'center',
          sortable: true,
        },
        {
          text: '',
          value: 'actions',
          align: 'center',
        },
      ],
      search: '',
      completionList: [],
      techDateList: [],
    }
  },
  computed: {
    ...mapState('sitewide', ['mongoUrl', 'darkTheme', 'tableTitle', 'techName', 'userLoggedIn']),
    ...mapState('tasks', ['detailsPopupData']),
  },
  watch: {
    noteList: function() {
      this.totalRows = this.noteList.length
    },
    detailsPopupData: function() {
      this.getCompletions()
    }
  },
  mounted() {
  },
  methods: {
    ...mapActions('sitewide', [
      // map siteWide actions to this.logWrite() function
      'logWrite',
      'toastMessage',
    ]),
    closeNotesPopup() {
      this.$store.commit('tasks/setNotesPopup', false)
    },
    async getCompletions() {
      //? This is added here just to create a note for historical context due to a bug in note dates to advise user of a potential issue
      //? Reference issue here https://gitlab.com/goofballtech/maintcenter/-/issues/618
      this.completionList = await this.$axios.$get(
        `${this.mongoUrl}taskdata/completions/${this.detailsPopupData.taskID}`
      )
      let techNames = new Set(this.completionList.map(comp => comp.techName))
      techNames = [...techNames]
      techNames.forEach(tech => {
        this.techDateList[tech] = this.completionList
          .filter(comp => comp.techName === tech)
          .map(comp => { 
          return {_id:comp._id,techName:comp.techName,dateCompleted:comp.dateCompleted}
          })
      })
    },
    compareTechnicians(techName){
      return this.techDateList[techName]
    },
    async deleteNote(note) {
      if (this.techName === '') {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        const tech = { techName: this.techName }
        try {
          const deleteNote = await this.$axios.$delete(
            `${this.mongoUrl}taskdata/notes/${this.detailsPopupData._id}/${note._id}`,
            { data: tech }
          )
          this.$emit('refreshNotes')
          this.toastMessage(deleteNote)
        } catch (error) {
          this.logWrite({
            logType: 'error',
            logItem: `DetailsPopup.vue, addNote() - ${error}`,
          })
        }
      }
    },
  },
}
</script>

<style scoped>
.popup {
  position: fixed;
  z-index: 10;
}
</style>
