<template>
  <div>
    <v-card>
      <v-card-title>
        <v-container fluid>
          <v-row justify="center" align="center" class="text-center">
            <v-col cols="12">
              <h5>
                Displaying the {{ previousCompletions.length }} most recently
                completed tasks
              </h5>
            </v-col>
          </v-row>
          <v-row justify="center" align="center">
            <v-col cols="12">
              <v-text-field
                v-model="search"
                autocomplete="off"
                append-icon="search"
                label="Search"
                single-line
                hide-details
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="previousCompletions"
        :search="search"
        :items-per-page="50"
        :mobile-breakpoint="750"
        item-key="_id"
        :footer-props="{
          itemsPerPageOptions: [10, 20, 50, -1],
        }"
        @click:row="clickRow"
      >
        <template #item.taskID="{ item }">{{
          item.customTaskID ? item.customTaskID : item.taskID
        }}</template>
        <template #item.dateCompleted="{ item }">
          <base-format-date :ISOdate="item.dateCompleted"></base-format-date>
        </template>
      </v-data-table>
    </v-card>
    <tech-name :promptTechName="promptTechName"></tech-name>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import TechName from '~/components/Utils/TechName.vue'

export default {
  components: {
    TechName,
  },
  data() {
    return {
      headers: [
        {
          text: 'ID',
          value: 'taskID',
          sortable: true,
          align: 'center',
        },
        {
          text: 'Name',
          value: 'taskName',
          sortable: true,
          align: 'center',
        },
        {
          text: 'Completion Date',
          value: 'dateCompleted',
          sortable: true,
          align: 'center',
        },
        {
          text: 'Completed By',
          value: 'techName',
          sortable: true,
          align: 'center',
        },
      ],

      detailsRow: '',
      search: '',
    }
  },
  computed: {
    ...mapState('sitewide', [
      'mongoUrl',
      'darkTheme',
      'promptTechName',
      'tableTitle',
      'pageDisplayed',
    ]),
    ...mapState('tasks', ['previousCompletions']),
  },
  watch: {
    tableTitle: function () {
      if (this.tableTitle == 'Previously Completed') {
        this.getPreviousTaskCompletions()
      }
    },
  },
  created() {
    this.getPreviousTaskCompletions()
  },
  methods: {
    ...mapActions('tasks', ['getPreviousTaskCompletions']),
    async clickRow(record) {
      const details = await this.$axios.$get(
        `${this.mongoUrl}taskdata/${record.task_id}`
      )
      this.$store.commit('tasks/setDetailsPopupData', details)
      this.$store.commit('tasks/setDetailsPopup', true)
    },
  },
}
</script>

<style scoped>
.displayResults {
  grid-area: displayResults;
  text-align: center;
  align-self: flex-end;
  justify-self: center;
  color: #8b8b8b;
}

.title {
  grid-area: title;
  align-self: center;
  justify-self: center;
  text-align: center;
}

.grid-container-submit {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: 'submit addDetails';
  grid-gap: 0px;
  padding: 0px;
}

.grid-container-submit > div {
  text-align: center;
  padding: 0px 0;
  font-size: 12px;
}

.grid-container-title {
  display: grid;
  grid-template-columns: 150px 250px auto 210px;
  grid-template-areas: 'printButtons displayResults title techName';
  grid-gap: 0px;
  padding-top: 0px;
}

.grid-container-title > div {
  padding: 0px 0;
  font-size: 20px;
}
</style>
