<template lang="html">
  <div class="centerx">
    <base-form-dialog :active="printPopup" title="Print List" @close="closePopup">
      <v-container id="theList" fluid class="print">
        <v-layout row wrap align-center justify-center>
          <v-flex grow>
            <table>
              <tr v-for="item in printList" :key="item.taskID">
                <td>
                  <h4 class="print">ID {{ item.customTaskID?item.customTaskID:item.taskID }}: {{ item.taskName }} ({{ item.category.join(', ') }})</h4>
                  <div v-if="item.taskTools" :hidden="hideTools">
                    <pre>{{ item.taskTools }}</pre>
                  </div>
                  <div v-if="checkIfFormExists(item)">
                    <div v-for="(group, index) in item.requiresAdditionalInfoForm.formFields" :key="index">
                      <h4>{{ group[0].group }}</h4>
                      <span v-for="(field, index2) in group" :key="index2">
                        {{ field.name }} <input :type="field.type === 'boolean' ? 'checkbox' : undefined" />
                        <br />
                      </span>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </v-flex>
        </v-layout>
        <v-layout row wrap justtify-space-around align-center>
          <v-flex>
            {{ `${taskHourSummary()}` }}
          </v-flex>
        </v-layout>
        <v-layout row wrap justify-space-around align-center>
          <v-flex shrink>
            <loader-button text="Toggle Tools Display" @click.native="hideTools = !hideTools"></loader-button>
          </v-flex>
          <v-flex shrink>
            <loader-button text="Print" @click.native="printDialog"></loader-button>
          </v-flex>
        </v-layout>
      </v-container>
    </base-form-dialog>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { Printd } from 'printd'

export default {
  props: {
    printList: {
      type: Array,
      default: () => [],
    },
    printPopupActive: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      hideTools: true,
    }
  },
  computed: {
    ...mapState('tasks', ['printPopup']),
  },
  methods: {
    checkIfFormExists(item) {
      if (item.requiresAdditionalInfo) {
        if (
          typeof item.requiresAdditionalInfoForm !== 'undefined' &&
          item.requiresAdditionalInfoForm.formFields.length
        ) {
          return true
        }
      } else {
        return false
      }
    },
    taskHourSummary(){
      let hours = 0
      let tasks = 0
      let notFilled = 0
      this.printList.forEach(e => {
        if (e.taskHours){
          hours += e.taskHours
          tasks++
        } else {
          notFilled++
        }
      })
      if (tasks){
        return `${hours} hours of work over ${tasks} tasks. ${notFilled} tasks with no hours set.`
      } else {
        return 'No hours set'
      }
    },
    closePopup() {
      this.$store.commit('tasks/setPrintPopup', false)
    },
    printDialog() {
      const cssText = `
        h1 {
          color: black;
          font-family: sans-serif;
        }
      `
      const d = new Printd()
      d.print(document.getElementById('theList'), [cssText])
    },
  },
}
</script>

<style scoped>
.print {
  padding: 10px;
  background-color: white;
  color: black;
}
</style>
