<template>
  <div v-show="!loadingScreen">
    <v-container fluid>
      <v-row align="center" justify="end">
        <v-spacer></v-spacer>
        <v-col v-show="taskModeShown" sm="3" md="2">
          <v-chip class="ma-2" :color="modeData('color')">
            {{ `Mode: ${modeData('name')}` }}
          </v-chip>
        </v-col>
        <v-col sm="3" md="2">
          <v-row v-if="moddedDate" align="center" justify="end">
            <date-input
              v-model="taskSubmitDate"
              v-validate="'required'"
              :loading="moddedDate ? 'warning' : false"
              name="Modified Submit Date"
              :error-messages="
                moddedDate ? 'This date will be applied to task submission' : ''
              "
              notClearable
              label="Modified Submit Date"
              :max="new Date().toISOString()"
            />
          </v-row>
        </v-col>
        <v-col sm="1">
          <v-row align="center" justify="end">
            <loader-button
              :icon="moddedDate ? 'clear' : 'event'"
              iconOnly
              nobg
              :color="moddedDate ? 'error' : 'primary'"
              :tipText="
                moddedDate
                  ? 'Clear modified date'
                  : 'Task Submission Date (If Not Today)'
              "
              @click.native="moddedDate = !moddedDate"
            ></loader-button>
          </v-row>
        </v-col>
        <v-col sm="3" md="2">
          <v-row align="center" justify="end">
            <tech-name-field :techName="techName"></tech-name-field>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
    <v-card>
      <v-card-title>
        <v-container fluid>
          <v-row justify="center" align="center">
            <v-col sm="2" md="1">
              <loader-button
                text="Print"
                :disabled="!printList.length"
                @click.native="
                  printList.length
                    ? $store.commit('tasks/setPrintPopup', !printPopup)
                    : ''
                "
              ></loader-button>
            </v-col>
            <v-col  v-if="printSummary.length" sm="3" md="2">
              <h5>{{ printSummary }}</h5>
            </v-col>
            <v-col sm="7" md="3">
              <h3 class="text-center">
                {{ tableTitle }}
                <span
                  v-if="numDays > 1 && tableTitle === 'Due Tasks'"
                  class="plusDays"
                  >+ {{ numDays }} days</span
                >
              </h3>
            </v-col>
            <v-col sm="4" md="5">
              <v-layout row align-center justify-right>
                <v-flex shrink>
                  <v-tooltip bottom>
                    <template #activator="{ on: tooltip }">
                      <span v-on="{ ...tooltip }">
                        <v-switch
                          v-model="searchDetails"
                          class="pa-0 ma-0"
                          color="primary"
                          hide-details
                        ></v-switch>
                      </span>
                    </template>
                    <span>Include task description in the search</span>
                  </v-tooltip>
                </v-flex>
                <v-flex grow>
                  <v-text-field
                    v-stream:keyup.native="search$"
                    autocomplete="off"
                    clearable
                    label="Search"
                    hint="To trigger a search enter a number OR more than 3 letters"
                    :value="tableSearch"
                    @click:clear="tableSearch = ''"
                  ></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout
                v-if="displayTimer"
                row
                wrap
                align-center
                justify-space-around
              >
                <v-spacer></v-spacer>
                <v-flex shrink>
                  <loader-button
                    color="green"
                    :text="`Refresh Table (${displayTimer})`"
                    @click.native="refreshTaskTable()"
                  ></loader-button>
                </v-flex>
                <v-spacer></v-spacer>
              </v-layout>
            </v-col>
          </v-row>
        </v-container>
      </v-card-title>
      <v-data-table
        v-model="printList"
        :headers="headers"
        :items="tasks"
        :search="tableSearch"
        :items-per-page="-1"
        :mobile-breakpoint="750"
        :custom-filter="filterTable"
        :expanded.sync="expanded"
        no-results-text="That search term has no matches"
        no-data-text="There are no tasks to display"
        sort-by="_rowVariant"
        sort-desc
        item-key="_id"
        :loading="tableLoading"
        loading-text="Table is loading..."
        show-select
        show-expand
        single-expand
        :footer-props="{
          itemsPerPageOptions: [10, 20, 50, -1],
        }"
        @click:row="clickRow"
        @item-expanded="openRowDetails"
      >
        <template #item.taskID="{ item }">{{
          item.customTaskID ? item.customTaskID : item.taskID
        }}</template>
        <template #item.taskName="{ item }">{{
          item.notificationOnly ? item.earlyNotificationText : item.taskName
        }}</template>
        <template #item.opsFrequency="{ item }">
          <v-chip disabled small>{{
            daysToInterval(item.opsFrequency)
          }}</v-chip>
        </template>
        <template #item.transitFrequency="{ item }">
          <v-chip disabled small>{{
            daysToInterval(item.transitFrequency)
          }}</v-chip>
        </template>
        <template #item.category="{ item }">
          <span>
            <span
              v-for="(cat, index) in item.category"
              :key="index"
              v-stream:click.stop="{ subject: search$, data: cat }"
            >
              <v-tooltip v-if="getCatNumber(cat) && index + 1 <= iconNum" top>
                <template #activator="{ on }">
                  <span v-on="on">
                    <v-chip small disabled>{{ cat }}</v-chip>
                  </span>
                </template>
                <span>{{ `${getCatNumber(cat)} tasks in this category` }}</span>
              </v-tooltip>
              <v-chip v-else-if="index + 1 <= iconNum" small disabled>{{
                cat
              }}</v-chip>
            </span>
          </span>
          <span v-if="item.category.length >= iconNum + 1">
            <span><br />{{ `+ ${item.category.length - iconNum} more` }}</span>
          </span>
          <span v-if="item.soc">
            <v-chip small disabled color="warning">SOC</v-chip>
          </span>
          <span v-if="item.oqe">
            <v-chip small disabled color="warning">OQE</v-chip>
          </span>
          <span v-if="item.onHold && item.deferred">
            <v-tooltip bottom>
              <template #activator="{ on: tooltip }">
                <span v-on="{ ...tooltip }">
                  <v-chip small disabled color="error">Task On Hold</v-chip>
                </span>
              </template>
              <span>{{ item.onHoldReason }}</span>
            </v-tooltip>
          </span>
          <span v-else-if="item.onHold && !item.deferred">
            <v-tooltip bottom>
              <template #activator="{ on: tooltip }">
                <span v-on="{ ...tooltip }">
                  <v-chip small disabled color="error">Parts On Order</v-chip>
                </span>
              </template>
              <span>{{ item.onHoldReason }}</span>
            </v-tooltip>
          </span>
          <span v-if="item.taskHours && item.taskHours > 0">
            <v-chip small disabled color="primary"
              >{{ `${item.taskHours} ` }}Hours</v-chip
            >
          </span>
        </template>
        <template #item._rowVariant="{ item }">
          <v-row wrap align="center" justify="center">
            <v-col>
              <loader-button
                :text="buttonText(item)"
                :color="buttonColor(item)"
                :tipText="buttonTipText(item)"
                :loading="busySubmitting"
                :disabled="busySubmitting || recentTasks.includes(item.taskID)"
                size="small"
                @click.native="
                  $event.stopPropagation()
                  submitTask(item)
                "
              ></loader-button>
            </v-col>
          </v-row>
        </template>
        <template #expanded-item="{ headers, item }">
          <td :colspan="headers.length">
            <v-card flat>
              <v-container>
                <v-row align="center" justify="center">
                  <v-col>
                    <v-text-field
                      v-model.trim="notesValue"
                      autocomplete="off"
                      :error-messages="notesState ? '' : '10 character minimum'"
                      outlined
                      label="Task note to add"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row v-if="menuOptions.toOrder" align="center" justify="center">
                  <v-col>
                    <h3 class="text-center headline">
                      Did you use items that need to be reordered?
                      <loader-button
                        text="Add New Order"
                        @click.native="newToOrderPopup = true"
                      ></loader-button>
                    </h3>
                  </v-col>
                </v-row>
                <v-row
                  v-show="item.relatedTasks.length"
                  align="center"
                  justify="center"
                >
                  <v-col>
                    <v-autocomplete
                      v-model="pullTasksToCurrent"
                      autocomplete="off"
                      :items="taskRelatedItems"
                      multiple
                      outlined
                      chips
                      deletable-chips
                      label="Related tasks, select tasks to make them due immediately upon submission of this task"
                    ></v-autocomplete>
                  </v-col>
                </v-row>
              </v-container>
            </v-card>
          </td>
        </template>
      </v-data-table>
    </v-card>

    <tech-name :promptTechName="promptTechName"></tech-name>
    <additional-info-form
      :infoFormActive="infoFormActive"
      :showSubmit="true"
      :taskItem="tempTask"
      :date="moddedDate ? taskSubmitDate : undefined"
      @closeTaskInfoDialog="infoFormActive = false"
      @finishTaskSubmission="submitTask(tempTask, undefined, true)"
    ></additional-info-form>

    <!-- Prompt for hour reading if submitting hourly task -->
    <base-form-dialog
      title="Hour Reading Entry"
      :active="meterPromptActive"
      width="400"
      @close="closeMeterPopup"
    >
      <v-container fluid class="text-xs-center">
        <v-layout row wrap justify-center align-center>
          <v-flex grow class="text-center">
            <h4>
              Last meter reading for
              <br />
              {{ taskMeter }} was {{ existingMeterVal }} {{ meterType }}
            </h4>
            <h3>Enter the current meter reading please.</h3>
          </v-flex>
        </v-layout>
        <v-layout row wrap justify-center align-center>
          <v-flex shrink>
            <v-text-field
              v-if="meterPromptActive"
              v-model="newMeterReading"
              label="New Reading"
              autofocus
              outlined
              @keyup="keyPress"
            ></v-text-field>
          </v-flex>
        </v-layout>
        <v-layout row wrap justify-center align-center>
          <v-flex shrink>
            <loader-button
              text="OK"
              @click.native="submitTask(tempTask, true)"
            ></loader-button>
          </v-flex>
        </v-layout>
      </v-container>
    </base-form-dialog>

    <new-to-order
      :newToOrderPopup="newToOrderPopup"
      @close="newToOrderPopup = false"
    ></new-to-order>

    <PrintPopup :printList="printList"></PrintPopup>
  </div>
</template>

<script>
import PrintPopup from '~/components/Tasks/PrintPopup.vue'
import AdditionalInfoForm from '~/components/Tasks/AdditionalInfoForm.vue'
import NewToOrder from '~/components/ToOrder/NewToOrder.vue'
import TechName from '~/components/Utils/TechName.vue'
import TechNameField from '~/components/Utils/TechNameField.vue'
import DateInput from '../Utils/DateInputField.vue'
import { mapActions, mapState } from 'vuex'
import { addDays, parseISO } from 'date-fns/esm'
import {
  tap,
  map,
  filter,
  distinctUntilChanged,
  debounceTime,
} from 'rxjs/operators'

export default {
  components: {
    PrintPopup,
    AdditionalInfoForm,
    NewToOrder,
    TechName,
    TechNameField,
    DateInput,
  },
  props: {
    tasks: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      headers: [
        {
          value: 'taskID',
          text: 'ID',
          align: 'center',
          sortable: true,
        },
        {
          value: 'taskName',
          text: 'Name',
          align: 'center',
          sortable: true,
        },
        {
          value: 'category',
          text: 'Category',
          align: 'center',
          sortable: true,
        },
        { text: '', value: '_rowVariant', sortable: true, align: 'center' },
        { text: '', value: 'data-table-expand' },
      ],
      numberOfItems: '',

      notesValue: '',
      partsValue: '',
      file: '',

      showForcedDueUpdate: false,
      forcedDueUpdateCal: false,
      forceUpdateSelection: '',
      oldForcedDate: '',

      meterPromptActive: false,
      newMeterReading: '',
      hourNeeded: false,

      infoFormActive: false,

      taskSubmitDate: new Date().toISOString().substr(0, 10),
      taskSubmitDateCal: false,
      moddedDate: false,

      taskMeter: '',
      existingMeterVal: '',
      meterType: '',

      taskRelatedItems: [],
      pullTasksToCurrent: [],

      tempTask: {},
      additionalInfoPromptActive: false,

      printList: [],
      printDisabled: true,
      printSummary: '',

      expanded: [],

      detailsRow: '',
      recentTasks: [],
      displayTimer: 0,
      timeoutVal: 15,
      update: 0,

      searchDetails: false,
      tableLoading: false,

      newToOrderPopup: false,

      categoryNumbers: [],
    }
  },
  domStreams: ['search$'],
  subscriptions() {
    return {
      tableSearch: this.search$.pipe(
        map((val) => {
          if (val.event.type == 'click') {
            return val.data.trim()
          } else {
            return val.event.target.value.trim()
          }
        }),
        filter((val) => val.length > 2 || val == '' || !isNaN(val)),
        distinctUntilChanged(),
        tap(() => {
          this.tableLoading = true
          this.busySubmitting = true
          setTimeout(() => {
            this.tableLoading = false
            this.busySubmitting = false
          }, 1200)
        }),
        debounceTime(500)
      ),
    }
  },
  computed: {
    ...mapState('sitewide', [
      'darkTheme',
      'mongoUrl',
      'currentTaskMode',
      'modeOptions',
      'menuOptions',
      'taskModeType',
      'taskModeShown',
      'tableTitle',
      'promptTechName',
      'loadingScreen',
      'techName',
      'attachmentSlugs',
      'showFreqColumn',
    ]),
    ...mapState('tasks', [
      'numDays',
      'iconNum',
      'meters',
      'printPopup',
      'frequencyOptions',
    ]),
    notesState() {
      return this.notesValue.length >= 10 || this.notesValue == ''
        ? true
        : false
    },
    busySubmitting: {
      get() {
        return this.$store.state.tasks.busySubmitting
      },
      set(value) {
        this.$store.commit('tasks/setBusySubmitting', value)
      },
    },
    tableSearch: {
      get() {
        if(sessionStorage.getItem('tableSearch')){
          this.$store.commit('tasks/setTableSearch', sessionStorage.getItem('tableSearch'))
        }
        return this.$store.state.tasks.tableSearch
      },
      set(value) {
        if(value !== undefined){
          sessionStorage.setItem('tableSearch', value)
        }
        this.$store.commit('tasks/setTableSearch', value)
      },
    },
  },
  watch: {
    forceUpdateSelection: function () {
      this.forceUpdateSelection === 'remove'
        ? (this.tempTask.forcedDueDate = '')
        : null
    },
    showFreqColumn: function () {
      this.checkFreqColumn()
    },
    tasks: function () {
      //updates the print list if a task is changed when print items are already selected
      if (this.printList.length) {
        let moddedItems = 0
        for (let i = 0; i < this.tasks.length; i++) {
          for (let j = 0; j < this.printList.length; j++) {
            if (this.tasks[i]._id == this.printList[j]._id) {
              this.printList[j] = this.tasks[i]
              moddedItems++
              break
            }
          }
          if (moddedItems > this.printList.length) {
            break
          }
        }
      }

      this.getCategoryNumbers()
    },
    printList: function(){
      let hours = 0
      let tasks = 0
      this.printList.forEach(e => {
        if (e.taskHours){
          hours += e.taskHours
          tasks++
        }
      })
      if (tasks){
        this.printSummary = `${hours} hour${hours>1?'s':''} total`
      } else {
        this.printSummary = ''
      }
      
    },
  },
  mounted() {
    this.getCategoryNumbers()
    this.checkFreqColumn()
    this.busySubmitting = false
  },
  methods: {
    ...mapActions('sitewide', [
      'logWrite',
      'toastMessage',
      'menuSelection',
      'getMenuValues',
    ]),
    modeData(type) {
      if (this.taskModeType === 'custom') {
        if (type === 'color') {
          return this.modeOptions[this.currentTaskMode.split('.').pop()].color
        } else if (type === 'name') {
          return this.modeOptions[this.currentTaskMode.split('.').pop()].name
        } else {
          return null
        }
      } else {
        if (type === 'color') {
          switch (this.currentTaskMode) {
            case 'Operations':
              return 'success'
            case 'Transit':
              return 'warning'
            default:
              return 'error'
          }
        } else if (type === 'name') {
          return this.currentTaskMode
        } else {
          return null
        }
      }
    },
    ...mapActions('tasks', ['getActiveTasks']),
    async getCategoryNumbers() {
      this.categoryNumbers = await this.$axios.$get(
        `${this.mongoUrl}taskdata/categories?count=true`
      )
    },
    needTechName() {
      this.$store.commit('sitewide/setPromptTechName', true)
    },
    buttonText({ _rowVariant }) {
      if (_rowVariant == 'info') {
        return 'Acknowledge'
      } else {
        return 'Submit'
      }
    },
    buttonColor({ _rowVariant }) {
      if (_rowVariant == 'info') {
        return 'primary'
      } else if (_rowVariant == 'overdue') {
        return 'error'
      } else {
        return 'success'
      }
    },
    buttonTipText({ _rowVariant, onHold }) {
      if (_rowVariant === 'overdue') {
        return 'Task Currently Overdue'
      } else if (_rowVariant === 'info') {
        return 'Information only, task is not yet due'
      } else if (onHold) {
        return 'Task has been delayed'
      } else {
        return 'Mark Complete'
      }
    },
    closePrintPopup() {
      this.$store.commit('tasks/setPrintPopup', false)
    },
    checkFreqColumn() {
      if (this.showFreqColumn) {
        if (
          this.currentTaskMode == 'Operations' ||
          this.currentTaskMode.includes('custom.')
        ) {
          this.headers.splice(1, 0, {
            value: 'opsFrequency',
            text: 'Frequency',
            align: 'center',
            sortable: true,
          })
        } else if (this.currentTaskMode == 'Transit') {
          this.headers.splice(1, 0, {
            value: 'transitFrequency',
            text: 'Frequency',
            align: 'center',
            sortable: true,
          })
        } else {
          for (let i = 0; i < this.headers.length; i++) {
            if (
              this.headers[i].value == 'opsFrequency' ||
              this.headers[i].value == 'transitFrequency'
            ) {
              this.headers.splice(i, 1)
            }
          }
        }
      } else {
        for (let i = 0; i < this.headers.length; i++) {
          if (
            this.headers[i].value == 'opsFrequency' ||
            this.headers[i].value == 'transitFrequency'
          ) {
            this.headers.splice(i, 1)
          }
        }
      }
    },
    filterTable(value, search, item) {
      if (value && search) {
        if (
          value
            .toString()
            .toLocaleUpperCase()
            .indexOf(search.toString().toLocaleUpperCase()) !== -1
        ) {
          return true
        } else if (
          this.searchDetails &&
          item.detailedDescription &&
          item.detailedDescription
            .toString()
            .toLocaleUpperCase()
            .indexOf(search.toString().toLocaleUpperCase()) !== -1
        ) {
          return true
        } else if (
          item.customTaskID &&
          item.customTaskID
          .toString()
          .toLocaleUpperCase()
          .indexOf(search.toString().toLocaleUpperCase()) !== -1
        ) {
          return true
        } else if (
          item.soc &&
          search.toLocaleUpperCase().indexOf('SOC') !== -1
        ) {
          return true
        } else if (
          item.oqe &&
          search.toLocaleUpperCase().indexOf('OQE') !== -1
        ) {
          return true
        } else if (
          item.onHold &&
          (search.toLocaleUpperCase().indexOf('HOLD') !== -1 ||
            search.toLocaleUpperCase().indexOf('DELAY') !== -1)
        ) {
          return true
        } else {
          return false
        }
      }
    },
    async clickRow(record) {
      try {
        const grabTask = await this.$axios.$get(
          `${this.mongoUrl}taskdata/${record._id}`
        )
        this.$store.commit('tasks/setDetailsPopupData', grabTask)
        this.$store.commit('tasks/setDetailsPopup', true)
      } catch (error) {
        this.logWrite({
          logType: 'error',
          logItem: `TaskTable.vue, clickRow() - ${error}`,
        })
      }
    },
    async openRowDetails(object) {
      const item = object.item
      if (item.relatedTasks.length) {
        try {
          this.taskRelatedItems = await this.$axios.$get(
            `${this.mongoUrl}taskdata/related/${item.taskID}?list=true`
          )
        } catch (error) {
          this.logWrite({
            logType: 'error',
            logItem: `TaskTable.vue, submitTask - hourPrompt() - ${error}`,
          })
        }
      } else {
        this.taskRelatedItems = []
      }
    },
    async submitTask(task, hourCompleted = false, formCompleted = false) {
      if (this.techName === '') {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else if (this.recentTasks.includes(task.taskID)) {
        this.toastMessage(
          `Task ${
            task.customTaskID ? task.customTaskID : task.taskID
          } was already submitted`
        )
        this.taskUpdateTimeReset()
      } else {
        try {
          if (this.pullTasksToCurrent.length) {
            for (let i = 0; i < this.pullTasksToCurrent.length; i++) {
              await this.$axios.$put(
                `${this.mongoUrl}taskdata/${this.pullTasksToCurrent[i]}`,
                {
                  techName: this.techName,
                  nextDue: new Date(),
                }
              )
            }
            this.toastMessage(
              `Pulling task(s) #${this.pullTasksToCurrent} to today`
            )
            this.pullTasksToCurrent = []
          }
        } catch (error) {
          this.logWrite({
            logType: 'error',
            logItem: `TaskTable.vue, submitTask(), pull related tasks- ${error}`,
          })
        }

        const dateDone = this.moddedDate
          ? this.taskSubmitDate
          : new Date().toISOString()

        if (this.notesValue !== '' && this.notesState) {
          try {
            const saveTask = await this.$axios.$post(
              `${this.mongoUrl}taskdata/notes/${task._id}`,
              {
                techName: this.techName,
                note: this.notesValue,
                manualDate: dateDone,
                enteredDate: new Date().toISOString(),
              }
            )
            this.notesValue = ''
            this.toastMessage(saveTask)
          } catch (error) {
            this.logWrite({
              logType: 'error',
              logItem: `TaskTable.vue, submitTask - save notes on submit() - ${error}`,
            })
          }
        }

        if (task.notificationOnly) {
          this.recentTasks.push(task.taskID)
          const acknowledgeTask = {
            earlyNotificationSubmissionTech: this.techName,
            earlyNotificationSubmissionDate: dateDone,
          }

          if (task.meterRequired) {
            acknowledgeTask.meterEarlyNotificationComplete = true
          } else {
            acknowledgeTask.earlyNotificationComplete = true
          }

          try {
            await this.$axios.$put(
              `${this.mongoUrl}taskdata/${task._id}`,
              acknowledgeTask
            )
            this.taskUpdateTimeReset()
            this.logWrite({
              logType: 'info',
              logItem: `Task ${
                task.customTaskID ? task.customTaskID : task.taskID
              } is upcoming and has been acknowledged by ${this.techName}`,
            })
          } catch (error) {
            this.logWrite({
              logType: 'error',
              logItem: `TaskTable.vue, submitTask(), task submission, notificationOnly- ${error}`,
            })
          }
          return
        }

        let submittingTaskObject = {
          techName: this.techName,
          deferred: false,
          lastCompletion: dateDone,
        }

        if (task.onHold) {
          submittingTaskObject.onHoldRelated = {}
          submittingTaskObject.deferred = false
          submittingTaskObject.onHold = false
          submittingTaskObject.onHoldReason = ''
          submittingTaskObject.onHoldType = ''
          submittingTaskObject.onHoldBy = ''
          submittingTaskObject.onHoldDate = ''

          this.toastMessage(
            `By submitting task ${
              task.customTaskID ? task.customTaskID : task.taskID
            } the previously existing task delay has also been removed.`
          )
        }

        if (task.earlyNotification) {
          submittingTaskObject.earlyNotificationComplete = false
          submittingTaskObject.earlyNotificationSubmissionTech = ''
          submittingTaskObject.earlyNotificationSubmissionDate = '1970-01-01'
          submittingTaskObject.emailAlreadySent = false
        }

        if (task.meterRequired && !hourCompleted) {
          try {
            const meterInUse = await this.$axios.$get(
              `${this.mongoUrl}meters/${task.meterName}`
            )
            this.taskMeter = meterInUse[0].name
            this.taskMeterID = meterInUse[0]._id
            this.existingMeterVal = meterInUse[0].currentReading
            this.meterType = meterInUse[0].type
            this.tempTask = task

            this.meterPromptActive = true
            return
          } catch (error) {
            this.logWrite({
              logType: 'error',
              logItem: `TaskTable.vue, submitTask(), get info for meter prompt- ${error}`,
            })
          }
        }

        if (task.requiresAdditionalInfo && !formCompleted) {
          this.tempTask = task
          this.infoFormActive = true
          return
        }

        this.recentTasks.push(task.taskID)

        if (task.meterRequired && hourCompleted) {
          if (task.category.includes('Meter')) {
            submittingTaskObject.lastMeterReadingCompleted =
              this.newMeterReading
            try {
              await this.$axios.$put(
                `${this.mongoUrl}meters/${this.taskMeterID}`,
                {
                  techName: this.techName,
                  currentReading: parseInt(this.newMeterReading),
                  previousReading: this.existingMeterVal,
                }
              )
              this.closeMeterPopup()
            } catch (error) {
              this.logWrite({
                logType: 'error',
                logItem: `TaskTable.vue, submitTask(), Update meter- ${error}`,
              })
            }
          } else {
            try {
              let meterTask = await this.$axios.$get(
                `${this.mongoUrl}taskdata?category=Meter&meterName=${task.meterName}`
              )
              this.submitTask(meterTask[0], true)
              submittingTaskObject.lastMeterReadingCompleted =
                this.newMeterReading
              submittingTaskObject.nextMeterReadingDue =
                parseInt(this.newMeterReading) + parseInt(task.meterFrequency)
              submittingTaskObject.meterEarlyNotificationComplete = false
            } catch (error) {
              this.logWrite({
                logType: 'error',
                logItem: `TaskTable.vue, submitTask(), update meter task ${error}`,
              })
            }
          }
        }

        if (!task.opsFrequency && !task.transitFrequency) {
          submittingTaskObject.nextDue = '1970-01-01'
        } else {
          if (this.currentTaskMode == 'Operations') {
            submittingTaskObject.nextDue = addDays(
              parseISO(submittingTaskObject.lastCompletion),
              task.opsFrequency
            )
          } else {
            submittingTaskObject.nextDue = addDays(
              parseISO(submittingTaskObject.lastCompletion),
              task.transitFrequency
            )
          }
        }

        if (task.useForcedDue) {
          submittingTaskObject.useForcedDue = false
          submittingTaskObject.forcedDateReason = ''
        }

        try {
          await this.$axios.$put(
            `${this.mongoUrl}taskdata/${task._id}`,
            submittingTaskObject
          )
          this.logWrite({
            logType: 'info',
            logItem: `Task ${
              task.customTaskID ? task.customTaskID : task.taskID
            }, updated nextDue and lastCompletion`,
          })
        } catch (error) {
          this.logWrite({
            logType: 'error',
            logItem: `TaskTable.vue, submitTask(), task submission- ${error}`,
          })
        }

        this.getMenuValues()

        let attachments = []

        try {
          //? Match attachment name slugs to add to the completion object if slugs are set
          if (this.attachmentSlugs.length) {
            attachments = await this.$axios.$get(
              `${this.mongoUrl}files/tasks/${task.taskID}`
            )
            const regex = new RegExp(
              `${this.attachmentSlugs.map((slug) => `.*${slug}.*`).join('|')}`,
              'i'
            )
            attachments = attachments
              .map((attachment) => attachment.file)
              .filter((name) => regex.test(name))
          }

          let addComp = await this.$axios.$post(
            `${this.mongoUrl}taskdata/completions/${task.taskID}`,
            {
              taskID: task.taskID,
              customTaskID: task.customTaskID ? task.customTaskID : undefined,
              task_id: task._id,
              taskName: task.taskName,
              techName: this.techName,
              attachmentNames: attachments.length ? attachments : undefined,
              dateCompleted: parseISO(submittingTaskObject.lastCompletion),
              hourCompleted: this.newMeterReading
                ? this.newMeterReading
                : undefined,
            }
          )
          this.taskUpdateTimeReset()
          this.toastMessage(addComp)
        } catch (error) {
          this.logWrite({
            logType: 'error',
            logItem: `TaskTable.vue, submitTask(), add completion- ${error}`,
          })
        }
        this.expanded.pop()
      }
    },
    taskUpdateTimeReset() {
      this.displayTimer = this.timeoutVal
      clearTimeout(this.taskUpdateTime)
      clearInterval(this.update)
      this.update = setInterval(() => {
        this.displayTimer--
      }, 1000)
      this.taskUpdateTime = setTimeout(() => {
        this.refreshTaskTable()
      }, this.timeoutVal * 1000)
    },
    refreshTaskTable() {
      this.$store.commit('tasks/setBusySubmitting', true)
      this.$emit('updateDue')
      this.getActiveTasks('Refreshing tasks after change...')
      this.moddedDate = false
      this.recentTasks = []
      this.displayTimer = 0
      clearInterval(this.update)
      clearTimeout(this.taskUpdateTime)
    },
    keyPress(event) {
      if (event.key == 'Enter') {
        this.submitTask(this.tempTask, true)
      } else if (event.key == 'Escape') {
        this.closeMeterPopup()
      }
    },
    getCatNumber(cat) {
      if (this.categoryNumbers.length) {
        const foundItem = this.categoryNumbers.find((item) =>
          item._id === cat ? item : false
        )
        return foundItem ? foundItem.count : false
      } else {
        return false
      }
    },
    closeMeterPopup() {
      this.meterPromptActive = false
      this.newMeterReading = ''
      this.taskMeter = ''
      this.existingMeterVal = ''
      this.meterType = ''
      this.tempTask = {}
    },
    daysToInterval(number) {
      if (number == null) {
        return 'None'
      } else {
        for (var i = 0; i < this.frequencyOptions.length; i++) {
          if (number == this.frequencyOptions[i].value) {
            return this.frequencyOptions[i].text
          }
        }
      }
    },
  },
}
</script>

<style>
/* Overdue background for light theme */
.overdue {
  background-color: rgba(252, 88, 88, 0.432);
}

/* overdue background for dark theme */
table.table tr.bg-overdue td {
  background-color: rgba(255, 11, 23, 0.219);
}
</style>
