<template>
  <base-form-dialog
    :active="showDetails"
    title="To Do Details"
    width="800"
    :editButton="todoItem.active"
    @edit="setEditMode()"
    @close="cancelDetailsTodoPopup()"
  >
    <v-container fluid grid-list-md text-center @keydown.ctrl.83.prevent.stop="saveEditedTodo()">
      <v-layout row justify-center align-center>
        <v-flex v-if="!editMode" shrink>
          <h4 class="grey--text text--darken-1">
            Created: <base-format-date :ISOdate="todoItem.createdAt" return-blank></base-format-date>
          </h4>
        </v-flex>
      </v-layout>
      <v-layout row wrap justify-space-around align-center class="text-center">
        <v-flex v-if="!editMode && todoItem.idNumber" shrink>
          <h4 class="grey--text text--darken-1">ID</h4>
          <hr class="grey darken-1" />
          <h3>{{ todoItem.idNumber }}</h3>
        </v-flex>
        <v-flex v-if="!editMode" shrink>
          <h4 class="grey--text text--darken-1">To Do Name</h4>
          <hr class="grey darken-1" />
          <h3>{{ todoItem.name }}</h3>
        </v-flex>
        <v-spacer v-if="editMode"></v-spacer>
        <v-flex v-if="editMode" xs10>
          <v-text-field
            v-model="editTodo.name"
            v-validate="'required|min:10'"
            autocomplete="off"
            required
            :error-messages="errors.first('To Do Name')"
            data-vv-name="To Do Name"
            name="To Do Name"
            label="To Do Name*"
            outlined
          ></v-text-field>
        </v-flex>
        <v-flex v-if="!editMode" shrink>
          <h4 class="grey--text text--darken-1">Entered By</h4>
          <hr class="grey darken-1" />
          <h3>{{ todoItem.enteredBy }}</h3>
        </v-flex>
        <v-flex v-if="todoItem.lastEditedBy && !editMode" shrink>
          <h4 class="grey--text text--darken-1">Last Edited By</h4>
          <hr class="grey darken-1" />
          <h3>{{ todoItem.lastEditedBy }}</h3>
        </v-flex>
      </v-layout>
      <v-layout row wrap justify-space-around align-center class="text-center">
        <v-flex v-if="!editMode && todoItem.priority" shrink>
          <h4 class="grey--text text--darken-1">Priority</h4>
          <hr class="grey darken-1" />
          <h4>{{ priText(todoItem.priority) }}</h4>
        </v-flex>
        <v-flex v-if="editMode" shrink>
          <v-select
            v-model="editTodo.priority"
            :items="priorityOptions"
            label="Priority"
            autocomplete="off"
            outlined
          ></v-select>
        </v-flex>
        <v-flex v-if="!editMode && todoItem.dueDate" shrink>
          <h4 class="grey--text text--darken-1">Due Date</h4>
          <hr class="grey darken-1" />
          <h4>
            <base-format-date :ISOdate="todoItem.dueDate" return-blank></base-format-date>
          </h4>
        </v-flex>
        <v-flex v-if="editMode" shrink>
          <date-input-field
            v-model="editTodo.dueDate"
            label="Due Date"
            :min="new Date().toISOString()"
          ></date-input-field>
        </v-flex>
        <v-flex v-if="!editMode && todoItem.group" shrink>
          <h4 class="grey--text text--darken-1">Group</h4>
          <hr class="grey darken-1" />
          <h4>{{ todoItem.group }}</h4>
        </v-flex>
        <v-flex v-if="editMode" shrink>
          <v-combobox v-model="editTodo.group" :items="groups" label="Group" autocomplete="off" outlined></v-combobox>
        </v-flex>
      </v-layout>
      <v-layout
        v-if="todoItem.doneBy && todoItem.completionDate && !editMode"
        row
        wrap
        justify-space-around
        align-center
        class="text-center"
      >
        <v-flex shrink>
          <h4 class="grey--text text--darken-1">Done By</h4>
          <hr class="grey darken-1" />
          <h4>{{ todoItem.doneBy }}</h4>
        </v-flex>
        <v-flex shrink>
          <h4 class="grey--text text--darken-1">Completion Date</h4>
          <hr class="grey darken-1" />
          <h4>
            <base-format-date :ISOdate="todoItem.completionDate" return-blank></base-format-date>
          </h4>
        </v-flex>
      </v-layout>
      <v-layout
        v-if="todoItem.removedBy && todoItem.removedDate && !editMode"
        row
        wrap
        justify-space-around
        align-center
        class="text-center"
      >
        <v-flex shrink>
          <h4 class="grey--text text--darken-1">Removed By</h4>
          <hr class="grey darken-1" />
          <h4>{{ todoItem.removedBy }}</h4>
        </v-flex>
        <v-flex shrink>
          <h4 class="grey--text text--darken-1">Removed Date</h4>
          <hr class="grey darken-1" />
          <h4>
            <base-format-date :ISOdate="todoItem.removedDate" return-blank></base-format-date>
          </h4>
        </v-flex>
      </v-layout>
      <v-layout v-if="false" row wrap align-center justify-center class="text-center">
        <v-flex xs11>
          <!-- Add Order selection drop down here and logic to lock them up -->
        </v-flex>
      </v-layout>
      <v-layout v-if="todoItem.notes && !editMode" row wrap align-center justify-center class="text-center">
        <v-flex xs11>
          <h4 class="grey--text text--darken-1">Additional Notes Entered</h4>
          <hr class="grey darken-1" />
          <v-card>
            <vue-markdown :source="todoItem.notes" :anchorAttributes="{ target: '_blank' }"></vue-markdown>
          </v-card>
        </v-flex>
      </v-layout>
      <v-layout row wrap align-center justify-center class="text-center">
        <v-flex v-if="!editMode" xs11>
          <h4 class="grey--text text--darken-1">Description</h4>
          <hr class="grey darken-1" />
          <v-card>
            <vue-markdown :source="todoItem.description" :anchorAttributes="{ target: '_blank' }"></vue-markdown>
          </v-card>
        </v-flex>
        <v-flex v-if="editMode" xs11>
          <v-textarea
            v-model="editTodo.description"
            v-validate="'max:2000'"
            autocomplete="off"
            :error-messages="errors.first('Description')"
            data-vv-name="Description"
            name="input-7-1"
            outlined
            auto-grow
            clearable
            counter="2000"
            label="Description"
          ></v-textarea>
        </v-flex>
      </v-layout>
      <v-layout row wrap align-center justify-center>
        <v-flex>
          <transition name="slide-fade">
            <file-list
              v-if="fileList.length"
              :fileUrl="`todo/${todoItem._id}`"
              :fileList="fileList"
              @refreshFiles="getFileList()"
            ></file-list>
          </transition>
          <upload
            ref="upload"
            :apiPath="`${mongoUrl}files/upload/todo/${todoItem._id}`"
            @allUploaded="getFileList()"
          ></upload>
        </v-flex>
      </v-layout>
      <v-layout v-if="editMode" row wrap align-center justify-space-around>
        <v-flex shrink>
          <loader-button color="warning" text="Cancel" @click.native="cancelDetailsTodoPopup()"></loader-button>
        </v-flex>
        <v-flex shrink>
          <loader-button color="success" text="Save" @click.native="saveEditedTodo()"></loader-button> 
        </v-flex>
      </v-layout>
    </v-container>
  </base-form-dialog>
</template>

<script>
import VueMarkdown from 'vue-markdown'
import DateInputField from '~/components/Utils/DateInputField'
import FileList from '~/components/Utils/FileList'
import Upload from '~/components/Utils/Upload'
import { mapActions, mapState } from 'vuex'
import { parseISO, format } from 'date-fns/esm'

export default {
  components: {
    VueMarkdown,
    DateInputField,
    FileList,
    Upload,
  },
  props: {
    showDetails: {
      type: Boolean,
      default: false,
    },
    todoItem: {
      type: Object,
      default: () => ({
        name: '',
        active: false,
        dueDate: '',
        priority: 1,
        group: '',
        description: '',
        relatedOrders: '',
      }),
    },
    groups: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      todoDueDateCal: false,
      editMode: false,

      editTodo: {},

      fileList: [],
    }
  },
  computed: {
    ...mapState('sitewide', ['mongoUrl', 'darkTheme', 'techName', 'currentTaskMode']),
    ...mapState('todo', ['priorityOptions']),
  },
  watch: {
    showDetails: function() {
      if (this.showDetails) this.getFileList()
    },
  },
  mounted() {},
  methods: {
    ...mapActions('sitewide', ['logWrite', 'toastMessage']),
    formatDate(date) {
      return format(parseISO(date), 'yyyy-MM-dd')
    },
    async getFileList() {
      this.fileList = await this.$axios.$get(`${this.mongoUrl}files/todo/${this.todoItem._id}`)
    },
    getPriObject(priority) {
      for (let i = 0; i < this.priorityOptions.length; i++) {
        if (priority == this.priorityOptions[i].value) {
          return this.priorityOptions[i]
        }
      }
    },
    priText(priority) {
      for (let i = 0; i < this.priorityOptions.length; i++) {
        if (priority == this.priorityOptions[i].value) {
          return this.priorityOptions[i].text
        }
      }
    },
    setEditMode() {
      if (!this.editMode) {
        this.editTodo = JSON.parse(JSON.stringify(this.todoItem))
        if (this.editTodo.dueDate) {
          this.editTodo.dueDate = this.formatDate(this.editTodo.dueDate)
        }
        this.editMode = true
      } else {
        this.editMode = false
      }
    },
    saveEditedTodo() {
      if (this.techName === '') {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        this.$validator.validate().then(async valid => {
          if (valid) {
            this.$validator.pause()
            let saveTodo = ''
            this.editTodo.lastEditedBy = this.techName
            try {
              saveTodo = await this.$axios.$put(`${this.mongoUrl}todo/${this.editTodo._id}`, this.editTodo)
              if (this.$refs.upload.files.length) {
                this.$refs.upload.startUpload()
              }
              this.cancelDetailsTodoPopup()
              this.toastMessage(saveTodo)
              this.$emit('getTodos')
              this.$emit('getGroups')
              this.$nextTick(()=>{
                this.$validator.reset()
                this.$validator.resume()
              })
            } catch (error) {
              this.toastMessage('An error occurred editing the to do')
              this.logWrite({
                logType: 'error',
                logItem: error,
              })
            }
          }
        })
      }
    },
    cancelDetailsTodoPopup() {
      this.$emit('close')
      this.editMode = false
      this.editTodo = {}
      this.fileList = []
      this.$refs.upload.clearList()
    },
  },
}
</script>

<style>
.slide-fade-enter-active {
  transition: all 0.5s ease;
}
/* .slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
} */
/* .slide-fade-leave-to, */
.slide-fade-enter {
  transform: translateX(10px);
  opacity: 0;
}
</style>
