<template>
  <base-form-dialog :active="newTodoPopup" title="Create New To Do" width="800" @close="cancelNewTodoPopup()">
    <v-container fluid grid-list-md text-center @keydown.ctrl.83.prevent.stop="saveNewTodo()">
      <v-layout row wrap justify-space-around align-center>
        <v-flex xs11>
          <v-text-field
            v-model="newTodo.name"
            v-validate="'required|min:10'"
            autocomplete="off"
            required
            :error-messages="errors.first('To Do Name')"
            data-vv-name="To Do Name"
            name="To Do Name"
            label="To Do Name*"
            outlined
          ></v-text-field>
        </v-flex>
      </v-layout>
      <v-layout row wrap justify-space-around align-center>
        <v-flex shrink>
          <v-select
            v-model="newTodo.priority"
            :items="priorityOptions"
            label="Priority"
            autocomplete="off"
            outlined
          ></v-select>
        </v-flex>
        <v-flex shrink>
          <date-input-field
            v-model="newTodo.dueDate"
            label="Due Date"
            :min="new Date().toISOString()"
          ></date-input-field>
        </v-flex>
        <v-flex shrink>
          <v-combobox v-model="newTodo.group" :items="groups" label="Group" autocomplete="off" outlined></v-combobox>
        </v-flex>
      </v-layout>
      <v-layout v-if="false" row wrap align-center justify-center>
        <v-flex xs11>
          <!-- Add Order selection drop down here and logic to lock them up -->
        </v-flex>
      </v-layout>
      <v-layout row wrap align-center justify-center>
        <v-flex xs11>
          <v-textarea
            v-model="newTodo.description"
            v-validate="'max:2000'"
            autocomplete="off"
            :error-messages="errors.first('Description')"
            data-vv-name="Description"
            name="input-7-1"
            outlined
            auto-grow
            clearable
            counter="2000"
            label="Description"
          ></v-textarea>
        </v-flex>
      </v-layout>
      <v-layout row wrap align-center justify-center>
        <v-flex>
          <upload
            ref="upload"
            hideUpload
            :apiPath="`${mongoUrl}files/upload/todo/${newID}`"
            @allUploaded="cancelNewTodoPopup()"
          ></upload>
        </v-flex>
      </v-layout>
      <v-layout row wrap align-center justify-space-around>
        <v-flex shrink>
          <loader-button color="warning" text="Cancel" @click.native="cancelNewTodoPopup()"></loader-button>
        </v-flex>
        <v-flex shrink>
          <loader-button color="success" text="Save" @click.native="saveNewTodo()"></loader-button> 
        </v-flex>
      </v-layout>
    </v-container>
  </base-form-dialog>
</template>

<script>
import DateInputField from '~/components/Utils/DateInputField.vue'
import Upload from '~/components/Utils/Upload'
import { mapActions, mapState } from 'vuex'

export default {
  components: {
    DateInputField,
    Upload,
  },
  props: {
    newTodoPopup: {
      type: Boolean,
      default: false,
    },
    groups: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      newTodo: {
        name: '',
        dueDate: '',
        priority: 1,
        group: '',
        description: '',
        relatedOrders: '',
      },
      todoDueDateCal: false,
      newID: '',
    }
  },
  computed: {
    ...mapState('sitewide', ['mongoUrl', 'darkTheme', 'techName', 'currentTaskMode']),
    ...mapState('todo', ['priorityOptions']),
  },
  mounted() {},
  methods: {
    ...mapActions('sitewide', ['logWrite', 'toastMessage']),
    saveNewTodo() {
      if (this.techName === '') {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        this.$validator.validate().then(async valid => {
          if (valid) {
            let saveTodo = ''
            this.newTodo.enteredBy = this.techName
            try {
              saveTodo = await this.$axios.$post(`${this.mongoUrl}todo/`, this.newTodo)
              if (this.$refs.upload.files.length) {
                this.newID = saveTodo.object._id
                setTimeout(() => {
                  this.$refs.upload.startUpload()
                }, 300)
              } else {
                this.cancelNewTodoPopup()
              }
              this.toastMessage(saveTodo.message)
              this.$emit('getTodos')
              this.$emit('getGroups')
              this.$validator.reset()
            } catch (error) {
              this.toastMessage('An error occurred submitting the new to do')
              this.logWrite(error)
            }
          }
        })
      }
    },
    cancelNewTodoPopup() {
      this.$emit('close')
      this.$refs.upload.clearList()
      this.newTodo = {
        name: '',
        dueDate: '',
        priority: 1,
        group: '',
        description: '',
        relatedOrders: '',
      }
      this.newID = ''
    },
  },
}
</script>

<style></style>
