<template>
  <div>
    <v-container fluid>
      <v-layout column align-center justify-center>
        <v-flex shrink class="text-center">
          <h4>Inventory Export</h4>
          <p>
            Select the data required in the export, the order you select will be
            the order of the columns.
          </p>
        </v-flex>
        <v-flex shrink>
          <v-chip-group
            v-model="columnsSelected"
            column
            multiple
            active-class="primary--text"
          >
            <div class="text-center">
              <v-chip
                v-for="column in inventoryColumns"
                :key="column.key"
                :value="column"
                >{{ column.header }}</v-chip
              >
            </div>
          </v-chip-group>
        </v-flex>
      </v-layout>
      <v-layout
        v-if="columnsSelected.length"
        column
        align-center
        justify-center
      >
        <v-flex shrink>
          <br />
          <h4>Preview of the column output order as selected</h4>
        </v-flex>
        <v-flex>
          <div class="text-center">
            <v-chip
              v-for="(column, index) in columnsSelected"
              :key="index"
              disabled
              >{{ column.header }}</v-chip
            >
          </div>
        </v-flex>
        <v-flex class="text-center">
          <br />
          <p>
            Now that we have selected the information we need, use the below to
            narrow down which inventory items need to be exported.
          </p>
          <p>
            This is an inclusive search, as you add search criteria the matching
            items will be added to the existing list.
          </p>
        </v-flex>
      </v-layout>
      <v-layout
        v-if="columnsSelected.length"
        row
        align-center
        justify-space-around
      >
        <v-flex shrink>
          <v-tooltip bottom>
            <template #activator="{ on }">
              <div v-on="on">
                <v-checkbox
                  v-model="allItems"
                  label="All Inventory Items"
                  color="success"
                ></v-checkbox>
              </div>
            </template>
            <span>
              Ignore other search selection items and include the entire
              inventory in the export.
            </span>
          </v-tooltip>
        </v-flex>
      </v-layout>
      <v-layout v-if="columnsSelected.length" row justify-center align-center>
        <v-flex xs10>
          <v-autocomplete
            v-model="locationSelection"
            :loading="loadingLocationOptions"
            :items="locationOptions"
            label="Locations"
            hint="When a location is added, all of it's child (and their children) locations are automatically included."
            persistent-hint
            multiple
            chips
            deletable-chips
            outlined
            @blur="rebuildQuery"
          ></v-autocomplete>
        </v-flex>
      </v-layout>
      <v-layout
        v-if="columnsSelected.length"
        row
        justify-space-around
        align-center
      >
        <v-flex shrink>
          <v-autocomplete
            v-model="categorySelection"
            :loading="loadingCategoryOptions"
            :items="categoryOptions"
            label="Category"
            multiple
            chips
            deletable-chips
            outlined
            @blur="rebuildQuery"
          ></v-autocomplete>
        </v-flex>
        <v-flex shrink>
          <v-autocomplete
            v-model="vendorSelection"
            :loading="loadingVendorOptions"
            :items="vendorOptions"
            label="Vendors"
            multiple
            chips
            deletable-chips
            outlined
            @blur="rebuildQuery"
          ></v-autocomplete>
        </v-flex>
      </v-layout>
      <v-layout
        v-if="columnsSelected.length"
        row
        justify-space-around
        align-center
      >
        <v-flex shrink>
          <v-text-field
            v-model="itemNameQuery"
            outlined
            label="Name includes...."
            @blur="rebuildQuery"
            @change="rebuildQuery"
          ></v-text-field>
        </v-flex>
        <v-flex shrink>
          <v-text-field
            v-model="descriptionQuery"
            outlined
            label="Description includes...."
            @blur="rebuildQuery"
            @change="rebuildQuery"
          ></v-text-field>
        </v-flex>
      </v-layout>
      <v-layout v-if="searchResults.length" column align-center justify-center>
        <v-flex>
          <h4>
            Hooray, we have results. Press the button below to export them to a
            spreadsheet
          </h4>
        </v-flex>
        <v-flex>
          <loader-button
            text="Download Export"
            :loading="buildingSheet"
            @click.native="sendDataForExport()"
          ></loader-button>
        </v-flex>
      </v-layout>
      <v-layout v-if="columnsSelected.length" row justify-center align-center>
        <v-flex xs11>
          <br />
          <h4 class="text-center">
            This table is just a preview of the items to be included in the
            export. The columns displayed do not reflect the export.
          </h4>
          <v-data-table
            :headers="headers"
            :items="searchResults"
            :loading="findingResults"
            item-key="_id"
            no-results-text="Nothing to export yet"
          >
            <template #item.category="{ item }">
              <span v-if="!item.category || !item.category.length"></span>
              <span v-else-if="item.category.length == 1">
                <v-chip small disabled>{{ item.category[0] }}</v-chip>
              </span>
              <span
                v-else-if="
                  item.category.length > 1 && item.category.length < 3 + 1
                "
              >
                <span v-for="(cat, index) in item.category" :key="index">
                  <v-chip small disabled>{{ cat }}</v-chip>
                </span>
              </span>
              <span v-else>
                <span v-for="(cat, index) in item.category" :key="index">
                  <v-chip v-if="index + 1 <= 3" small disabled>{{
                    cat
                  }}</v-chip>
                </span>
                <span>{{ `+ ${item.category.length - 3} more` }}</span>
              </span>
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import { format, parseISO } from 'date-fns/esm'

export default {
  name: 'ExportInventory', // name of page for router
  components: {},
  data() {
    return {
      columnsSelected: [],
      locationSelection: [],
      categorySelection: [],
      vendorSelection: [],

      allItems: false,
      locationOptions: [],
      loadingLocationOptions: false,
      categoryOptions: [],
      loadingCategoryOptions: false,
      vendorOptions: [],
      loadingVendorOptions: false,
      itemNameQuery: '',
      descriptionQuery: '',

      buildingSheet: false,

      searchResults: [],
      findingResults: false,

      headers: [
        {
          value: 'name',
          text: 'Name',
          align: 'center',
          sortable: true,
        },
        {
          value: 'description',
          text: 'Description',
          align: 'center',
          sortable: true,
        },
        {
          value: 'category',
          text: 'Category',
          align: 'center',
          sortable: true,
        },
      ],

      inventoryColumns: [
        {
          key: 'name',
          header: 'Item Name',
          width: 25,
        },
        {
          key: 'description',
          header: 'Description',
          width: 40,
        },
        {
          key: 'min',
          header: 'Min',
          width: 5,
        },
        {
          key: 'max',
          header: 'Max',
          width: 5,
        },
        {
          key: 'totalOnHand',
          header: 'Total On Hand',
          width: 12,
        },
        {
          key: 'itemDetails',
          header: 'Item Detail/Date',
          width: 25,
        },
        {
          key: 'uom',
          header: 'UOM',
          width: 6,
        },
        {
          key: 'criticalSpare',
          header: 'Critical Spare',
          width: 12,
        },
        {
          key: 'compliance',
          header: 'Compliance',
          width: 12,
        },
        {
          key: 'category',
          header: 'Category',
          width: 10,
        },
        {
          key: 'partNumber',
          header: 'Part Numbers',
          width: 15,
        },
        {
          key: 'drawingRef',
          header: 'Drawings',
          width: 15,
        },
        {
          key: 'locations',
          header: 'Locations',
          width: 15,
        },
        {
          key: 'customerID',
          header: 'Customer ID',
          width: 10,
        },
        {
          key: 'PO',
          header: 'PO #',
          width: 10,
        },
      ],
    }
  },
  computed: {
    ...mapState('sitewide', ['mongoUrl']),
  },
  watch: {
    allItems: function () {
      if (this.allItems) {
        this.getAllInventory()
      } else {
        this.rebuildQuery()
      }
    },
  },
  created() {},
  mounted() {
    this.$store.commit('sitewide/setActivePage', 'exportinventory')
    this.getLocations()
    this.getVendors()
    this.getCategories()
  },
  methods: {
    ...mapActions('sitewide', ['toastMessage', 'logWrite', 'menuSelection']),
    async rebuildQuery() {
      if (!this.allItems) {
        this.findingResults = true
        let queryString = ''
        if (this.locationSelection.length) {
          queryString += `location=${this.locationSelection.join(',')}&`
        }
        if (this.categorySelection.length) {
          queryString += `category=${this.categorySelection.join(',')}&`
        }
        if (this.vendorSelection.length) {
          queryString += `vendor=${this.vendorSelection.join(',')}&`
        }
        if (this.itemNameQuery) {
          queryString += `name=${this.itemNameQuery}&`
        }
        if (this.descriptionQuery) {
          queryString += `desc=${this.descriptionQuery}&`
        }
        try {
          this.searchResults = await this.$axios.$get(
            `${this.mongoUrl}inventory/search?${queryString}`
          )
          this.findingResults = false
        } catch (error) {
          this.toastMessage('An error occurred, see log for details')
          this.logWrite({
            logType: 'error',
            logItem: error,
          })
        }
      }
    },
    async getAllInventory() {
      this.findingResults = true
      try {
        this.searchResults = await this.$axios.$get(
          `${this.mongoUrl}inventory/search?all=true`
        )
        this.findingResults = false
      } catch (error) {
        this.toastMessage('An error occurred, see log for details')
        this.logWrite({
          logType: 'error',
          logItem: error,
        })
      }
    },
    async getVendors() {
      try {
        this.vendorOptionsLoading = 'warning'
        this.vendorOptions = await this.$axios.$get(
          `${this.mongoUrl}inventory/lists/vendors`
        )
        this.vendorOptionsLoading = false
      } catch (error) {
        this.toastMessage('An error occurred, see log for details')
        this.logWrite({
          logType: 'error',
          logItem: error,
        })
      }
    },
    async getCategories() {
      try {
        this.loadingCategoryOptions = true
        this.categoryOptions = await this.$axios.$get(
          `${this.mongoUrl}inventory/lists/categories`
        )
        this.loadingCategoryOptions = false
      } catch (error) {
        this.toastMessage('An error occurred, see log for details')
        this.logWrite({
          logType: 'error',
          logItem: error,
        })
      }
    },
    async getLocations() {
      try {
        this.loadingLocationOptions = true
        this.locationOptions = await this.$axios.$get(
          `${this.mongoUrl}inventory/locations/list`
        )
        this.loadingLocationOptions = false
      } catch (error) {
        this.toastMessage('An error occurred, see log for details')
        this.logWrite({
          logType: 'error',
          logItem: error,
        })
      }
    },
    getLocationPath(id) {
      for (let i = 0; i < this.locationOptions.length; i++) {
        if (this.locationOptions[i].value == id) {
          return this.locationOptions[i].text
        }
      }
    },
    async sendDataForExport() {
      this.buildingSheet = true

      if (
        this.columnsSelected.some((e) => e.key === 'partNumber') ||
        this.columnsSelected.some((e) => e.key === 'drawingRef') ||
        this.columnsSelected.some((e) => e.key === 'itemDetails') ||
        this.columnsSelected.some((e) => e.key === 'locations')
      ) {
        this.searchResults.map((i) => {
          if (this.columnsSelected.some((e) => e.key === 'partNumber')) {
            if (Array.isArray(i.partNumber)) {
              i.partNumber = i.partNumber
                .map((p) => `${p.vendor} / ${p.partNumber}`)
                .join(' , ')
            }
          }
          if (this.columnsSelected.some((e) => e.key === 'itemDetails')) {
            // take eachItemDetails from each location and concat them
            i.itemDetails = ''
            if (Array.isArray(i.locations)) {
              i.itemDetails += `${
                i.detailLabel ? i.detailLabel : 'No Detail Label'
              } / ${i.dateLabel ? i.dateLabel : 'No Date Label'} | `
              i.locations.forEach((location) => {
                if (Array.isArray(location.eachItemDetails)) {
                  location.eachItemDetails.forEach((item) => {
                    if (i.detailNeeded) {
                      i.itemDetails += item.detail
                    }
                    if (i.detailNeeded && i.dateNeeded) {
                      i.itemDetails += ' / '
                    }
                    if (i.dateNeeded) {
                      i.itemDetails += format(parseISO(item.date), 'yyyy-MM-dd')
                    }
                    i.itemDetails += ' , '
                  })
                }
              })
            }
          }
          if (this.columnsSelected.some((e) => e.key === 'drawingRef')) {
            if (Array.isArray(i.drawingRef)) {
              i.drawingRef = i.drawingRef
                .map((p) => `${p.drawing} / ${p.bomLine}`)
                .join(' , ')
            }
          }
          if (this.columnsSelected.some((e) => e.key === 'locations')) {
            if (Array.isArray(i.locations)) {
              i.locations = i.locations
                .map(
                  (p) => `${this.getLocationPath(p.location)} / QTY:${p.qty}`
                )
                .join(' , ')
            }
          }
          return i
        })
      }

      this.searchResults = this.searchResults.map((c) => {
        c.category = c.category.join(' , ')
        return c
      })

      const sheetData = {
        filename: `InventoryExport-${format(new Date(), 'yyyy-MM-dd')}`,
        worksheetTitle: 'Inventory',
        columns: this.columnsSelected,
        data: this.searchResults,
      }
      try {
        const taskExportRes = await this.$axios.$post(
          `${this.mongoUrl}excel/export`,
          sheetData
        )
        if (taskExportRes.success) {
          window.open(`${this.mongoUrl}excel/download/${taskExportRes.file}`)
        }
        this.buildingSheet = false
        this.searchResults = []
      } catch (error) {
        this.buildingSheet = false
        this.toastMessage(
          `There was an error building the export spreadsheet, see log for details`
        )
        this.logWrite({
          logType: 'error',
          logItem: `ExportTasks.vue, sendDataForExport() - ${error}`,
        })
      }
    },
  },
}
</script>

<style scoped></style>
