<template>
  <v-container fluid grid-list-md>
    <v-layout row>
      <v-spacer />
      <v-flex shrink>
        <v-combobox
          v-model="selectedSystem"
          v-stream:click.native="system$"
          v-validate="false"
          :items="systemOptions"
          :error="errors.first('System')"
          data-vv-name="System"
          label="System"
          outlined
        ></v-combobox>
      </v-flex>
      <v-spacer />
      <v-flex shrink>
        <combo-box
          v-model="selectedCategory"
          v-stream:click.native="category$"
          v-validate="false"
          :items="categoryOptions"
          :error="errors.first('Category')"
          data-vv-name="Category"
          label="Package Category(ies)"
          multiple
          chips
        ></combo-box>
      </v-flex>
      <v-spacer />
    </v-layout>
    <v-layout row>
      <v-spacer />
      <v-flex xs3>
        <v-text-field
          v-model="preText"
          label="Package Number Pre-Text"
          outlined
          @keyup="applyPreText"
        >
        </v-text-field>
      </v-flex>
      <v-spacer />
      <v-flex shrink>
        <v-select
          v-model="openStatus"
          :items="statusOptions"
          label="Open Status"
          outlined
          @blur="packageQuery"
        ></v-select>
      </v-flex>
      <v-spacer />
    </v-layout>
    <v-layout row align-center justify-center>
      <v-flex shrink>
        <loader-button
          :loading="workingOnIt"
          text="Download Excel Sheet"
          @click.native="prepToPackageExport()"
        ></loader-button>
      </v-flex>
    </v-layout>
    <v-layout row wrap align-center justify-center>
      <v-flex grow>
        <v-data-table
          item-key="_id"
          sort-by="updatedAt"
          sort-desc
          :loading="findingResults"
          :headers="headers"
          :items="packageItems"
        >
          <template #item.createdAt="{ item }">
            <base-format-date
              :ISOdate="item.createdAt"
              return-blank
            ></base-format-date>
          </template>
          <template #item.openDate="{ item }">
            <base-format-date
              :ISOdate="item.openDate"
              return-blank
            ></base-format-date>
          </template>
          <template #item.closeDate="{ item }">
            <base-format-date
              :ISOdate="item.closeDate"
              return-blank
            ></base-format-date>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>

    <tech-name :promptTechName="promptTechName"></tech-name>
  </v-container>
</template>

<script>
import TechName from '~/components/Utils/TechName.vue'
import ComboBox from '~/components/Utils/BaseCombobox.vue'
import { mapActions, mapState } from 'vuex'
import { tap, pluck, debounceTime } from 'rxjs/operators'
import { format, isDate, toDate } from 'date-fns/esm'

export default {
  name: 'PackageExport',
  components: {
    TechName,
    ComboBox,
  },
  props: {},
  data() {
    return {
      workingOnIt: false,
      findingResults: false,

      categoryOptions: [],
      systemOptions: [],

      selectedCategory: [],
      selectedSystem: 'All',
      openStatus: 'All',
      preText: '',

      packageItems: [],
      packageItemsBackup: [],
      statusOptions: ['All', 'Currently Open', 'Not Opened'],

      headers: [
        {
          text: 'Package #',
          value: 'entryNumber',
          sortable: true,
          align: 'center',
        },
        {
          text: 'Entered',
          value: 'createdAt',
          sortable: true,
          align: 'center',
        },
        {
          text: 'Task',
          value: 'task',
          sortable: true,
          align: 'center',
        },
        {
          text: 'System',
          value: 'system',
          sortable: true,
          align: 'center',
        },
        {
          text: 'Date Opened',
          value: 'openDate',
          sortable: true,
          align: 'center',
        },
        {
          text: 'Date Closed',
          value: 'closeDate',
          sortable: true,
          align: 'center',
        },
      ],
    }
  },
  computed: {
    ...mapState('sitewide', [
      'mongoUrl',
      'userLoggedIn',
      'loggedInUser',
      'promptTechName',
      'techName',
    ]),
  },
  watch: {
    selectedCategory: function () {
      this.packageQuery()
    },
    selectedSystem: function () {
      this.packageQuery()
    },
    openStatus: function () {
      this.packageQuery()
    },
  },
  mounted() {
    this.$store.commit('sitewide/setActivePage', 'exportPackages')
    this.getPackages()
    this.getCategories()
    this.getSystems()
  },
  domStreams: ['category$', 'system$'],
  subscriptions() {
    return {
      categorySend$: this.category$.pipe(
        debounceTime(500),
        tap(() => {
          this.packageQuery()
        })
      ),
      packageSystemSend$: this.system$.pipe(
        pluck('event', 'target', 'value'),
        debounceTime(500),
        tap((val) => {
          this.selectedSystem = val
          this.packageQuery()
        })
      ),
    }
  },
  methods: {
    ...mapActions('sitewide', ['logWrite', 'toastMessage']),
    async getPackages() {
      try {
        this.findingResults = true
        this.packageItems = await this.$axios.$get(`${this.mongoUrl}packages/`)
        this.packageItemsBackup = JSON.parse(JSON.stringify(this.packageItems))
        if (this.preText.length) {
          this.applyPreText()
        } else {
          this.findingResults = false
        }
      } catch (error) {
        this.toastMessage('An error occurred, see log for details')
        this.logWrite({
          logType: 'error',
          logItem: error,
        })
      }
    },
    applyPreText() {
      this.findingResults = true
      this.packageItems = JSON.parse(JSON.stringify(this.packageItemsBackup))
      this.packageItems.forEach((item) => {
        item.entryNumber = `${this.preText}${item.entryNumber}`
      })
      this.findingResults = false
    },
    async packageQuery() {
      this.findingResults = true
      let queryString = ''
      if (this.selectedCategory.length) {
        queryString += `category=${this.selectedCategory.join(',')}&`
      }
      if (this.selectedSystem) {
        queryString += `system=${this.selectedSystem}&`
      }
      if (this.openStatus) {
        queryString += `status=${this.openStatus}&`
      }
      try {
        this.packageItems = await this.$axios.$get(
          `${this.mongoUrl}packages/?${queryString}`
        )
        this.packageItemsBackup = JSON.parse(JSON.stringify(this.packageItems))
        if (this.preText.length) {
          this.applyPreText()
        } else {
          this.findingResults = false
        }
      } catch (error) {
        this.toastMessage('An error occurred, see log for details')
        this.logWrite({
          logType: 'error',
          logItem: error,
        })
      }
    },
    prepToPackageExport() {
      if (this.techName === '') {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        this.workingOnIt = true
        for (let i = 0; i < this.packageItems.length; i++) {
          this.packageItems.forEach((e) => {
            if (e.openDate && isDate(e.openDate)) {
              e.openDate = format(e.openDate, 'yyyy-MM-dd')
            }
            if (e.closeDate && isDate(e.closeDate)) {
              e.closeDate = format(e.closeDate, 'yyyy-MM-dd')
            }
            let noteString = ''
            if (Array.isArray(e.notes) && e.notes.length) {
              e.notes.forEach((note) => {
                noteString = `${noteString}${note.techName},${format(
                  Date.parse(note.createdAt),
                  'yyyy-MM-dd'
                )},${note.note} /\r\n`
              })
              e.notes = noteString
            } else if (e.notes.length == 0) {
              e.notes = ''
            }
          })
        }
        this.sendDataForExport(this.packageItems)
      }
    },
    async sendDataForExport(itemsForExport) {
      const sheetData = {
        filename: `PackageExport-${format(new Date(), 'yyyy-MM-dd')}`,
        worksheetTitle: 'Packages',
        columns: [
          { header: 'Package Number', key: 'entryNumber', width: 20 },
          { header: 'Task', key: 'task', width: 20 },
          { header: 'System', key: 'system', width: 20 },
          { header: 'Opened Date', key: 'openDate', type: 'date', width: 15 },
          { header: 'Closed Date', key: 'closeDate', type: 'date', width: 15 },
          { header: 'Notes', key: 'notes', width: 40 },
        ],
        data: itemsForExport,
      }
      try {
        const taskExportRes = await this.$axios.$post(
          `${this.mongoUrl}excel/export`,
          sheetData
        )
        if (taskExportRes.success) {
          window.open(`${this.mongoUrl}excel/download/${taskExportRes.file}`)
        }
        this.workingOnIt = false
        this.searchResults = []
      } catch (error) {
        this.workingOnIt = false
        this.toastMessage(
          `There was an error building the export spreadsheet, see log for details`
        )
        this.logWrite({
          logType: 'error',
          logItem: `ExportPackages.vue, sendDataForExport() - ${error}`,
        })
      }
    },
    async getCategories() {
      try {
        this.categoryOptions = await this.$axios.$get(
          `${this.mongoUrl}packages/categories`
        )
      } catch (error) {
        this.toastMessage('An error occurred, see log for details')
        this.logWrite({
          logType: 'error',
          logItem: error,
        })
      }
    },
    async getSystems() {
      try {
        this.systemOptions = await this.$axios.$get(
          `${this.mongoUrl}packages/systems`
        )
        this.systemOptions.splice(0, 0, 'All')
      } catch (error) {
        this.toastMessage('An error occurred, see log for details')
        this.logWrite({
          logType: 'error',
          logItem: error,
        })
      }
    },
  },
}
</script>

<style></style>
