<template>
  <!-- <div>
    <v-container fluid>
      <v-layout row align-center justify-center>
        <v-flex shrink>
          <p class="text-center">
            Select columns to be include in export, order of selection chooses order of columns in export
          </p>
        </v-flex>
      </v-layout>
      <v-layout row align-center justify-center>
        <div class="text-xs-center">
          <v-flex shrink>
            <v-btn-toggle
              v-for="(rowNum, btnNum) in options.length"
              :key="rowNum"
              v-model="outputColumns"
              multiple
              outlined
            >
              <v-btn
                v-for="(value, index) in options"
                v-if="index == btnNum"
                :key="index"
                outlined
                flat
                :value="value.value"
                >{{ value.text }}</v-btn
              >
            </v-btn-toggle>
            <br />
          </v-flex>
        </div>
      </v-layout>
      <v-layout row justify-center align-center>
        <div class="text-center">
          <p>Columns to be output and the order they will appear:</p>
          <h4 v-if="outputColumns.length == 0">No columns are selected yet..</h4>
          <v-layout v-else align-center justify-center row fill-height>
            <v-flex v-for="(column, index) in outputColumnNames" :key="index" shrink>
              {{ column }}
              <span v-if="index < outputColumnNames.length - 1">|</span>
            </v-flex>
          </v-layout>
          <br />
        </div>
      </v-layout>
      <v-layout row align-center justify-center>
        <v-flex shrink>
          <p>
            Add to your list, if you so choose, by the below selections.
            <br />Or you can export all observation cards
            <span style="color:orange" @click="exportAllCards()">by clicking here</span> or
            <span style="color:green" @click="defaultExport()">go back to the default view here</span>
          </p>
        </v-flex>
      </v-layout>
      <v-layout row wrap align-center justify-center>
        <v-spacer></v-spacer>
        <v-flex shrink>
          <v-menu
            ref="startCal"
            v-model="startCal"
            :close-on-content-click="true"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            full-width
            max-width="290px"
            min-width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                ref="startDate"
                v-validate:startDate="'required|date_format:yyyy-MM-dd|before:endDate'"
                :value="startDate"
                label="Export Start Date"
                prepend-icon="event"
                outlined
                readonly
                required
                name="Start Date"
                :error-messages="errors.collect('start date')"
                data-vv-name="start date"
                data-vv-validate-on="change|blur"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker v-model="startDateSel" :value="startDate" no-title @input="startCal = false"></v-date-picker>
          </v-menu>
        </v-flex>
        <v-spacer></v-spacer>
        <v-flex shrink>
          <v-menu
            ref="endCal"
            v-model="endCal"
            :close-on-content-click="true"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            full-width
            max-width="290px"
            min-width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                ref="endDate"
                v-validate:endDate="'required|date_format:yyyy-MM-dd|after:startDate|before:theFuture'"
                :value="endDate"
                label="Export End Date"
                prepend-icon="event"
                outlined
                readonly
                required
                name="End Date"
                :error-messages="errors.collect('end date')"
                data-vv-name="end date"
                data-vv-validate-on="change|blur"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker v-model="endDateSel" :value="endDate" no-title @input="endCal = false"></v-date-picker>
          </v-menu>
          <input
            ref="theFuture"
            name="the future"
            :value="format(addDays(new Date(), 1), 'yyyy-MM-dd')"
            type="hidden"
          />
        </v-flex>
        <v-spacer></v-spacer>
      </v-layout>
      <v-layout row align-center justify-center>
        <div class="text-center">
          <v-flex shrink>
            <p>
              The table below is to get a partial preview of the output
              <br />Press the green button when ready.
            </p>
          </v-flex>
        </div>
      </v-layout>
      <v-layout v-show="taskDataToExport.length > 0 && outputColumns.length > 0" row align-center justify-center>
        <v-flex shrink>
          <download-excel
            class="btn downloadButton"
            :data="taskDataToExport"
            :fields="outputFieldList"
            name="MaintCenterExport.xls"
          >
            <loader-button :text="`Download Export of ${taskDataToExport.length} items`"></loader-button>
            <br />
            <br />
          </download-excel>
        </v-flex>
      </v-layout>
      <v-layout v-show="taskDataToExport.length > 0 && outputColumns.length > 0" row align-center justify-center>
        <v-flex shrink>
          <p>*The sheet will present a warning upon first opening in excel, this is expected.*</p>
        </v-flex>
      </v-layout>
    </v-container>

    <b-row>
      <b-col v-show="taskDataToExport.length > 0">Showing {{ totalRows }} results to export.</b-col>
      <b-col></b-col>
      <b-col></b-col>
    </b-row>

    <b-row>
      <b-col md="8" class="my-1">
        <b-form-group class="mb-0">
          <b-input-group>
            <b-form-input v-model="filter" placeholder="Type to Search" />
            <b-input-group-append>
              <b-btn :disabled="!filter" @click="filter = ''">Clear</b-btn>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </b-col>
      <b-col md="4" class="my-1">
        <b-form-group label-cols label="Per page" class="mb-0">
          <b-form-select v-model="perPage" :options="pageOptions" />
        </b-form-group>
      </b-col>
    </b-row>

    <b-table
      ref="taskTable"
      show-empty
      stacked="md"
      :items="taskDataToExport"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection"
      :dark="darkTheme == 'dark' ? true : false"
      striped
      hover
      outlined
      @filtered="onFiltered"
    >
      <template slot="name" slot-scope="row">{{ row.value }}</template>
      <template slot="date" slot-scope="row">{{ row.value }}</template>
      <template slot="category" slot-scope="row">{{ row.value }}</template>
    </b-table>

    <b-row v-show="taskDataToExport.length > 0">
      <b-col md="12" class="my-1 fluid">
        <b-pagination v-model="currentPage" :total-rows="totalRows" :per-page="perPage" class="my-0" />
      </b-col>
    </b-row>
  </div> -->
  <div></div>
</template>

<script>
// import { addDays, subDays, parseISO, compareAsc, isValid, compareDesc, format } from 'date-fns/esm'
// import { mapActions, mapMutations, mapGetters, mapState } from 'vuex'

// export default {
//   name: 'SafetyExport', // name of page for router
//   components: {},
//   props: [],
//   data() {
//     return {
//       // variables
//       addDays,
//       format,
//       taskDataToExport: [],
//       fields: [
//         // Build table fields to display, each key must match the "slot=" property in the template
//         {
//           key: 'name',
//           label: 'Observer',
//           sortable: true,
//           sortDirection: 'asc',
//         },
//         {
//           key: 'date',
//           label: 'Date',
//           sortable: true,
//           class: 'text-center',
//         },
//         {
//           key: 'category',
//           label: 'Category',
//           sortable: true,
//           class: 'text-center',
//         },
//       ],

//       currentPage: 1,
//       perPage: 50,
//       totalRows: 0,
//       pageOptions: [25, 50, 100],
//       sortBy: 'date',
//       sortDesc: false,
//       sortDirection: 'asc',
//       filter: null, // data for table filters and pagination

//       exportType: '',
//       cardIDTemp: [],
//       cardDateFilter: [],
//       obsCards: [],

//       startCal: false,
//       endCal: false,

//       startDate: format(subDays(new Date(), 7), 'yyyy-MM-dd'),
//       startDateSel: '',
//       endDate: format(new Date(), 'yyyy-MM-dd'),
//       endDateSel: '',

//       outputColumns: [],
//       outputColumnNames: [],
//       outputFieldList: {},
//       options: [
//         { text: 'Observer', value: { Observer: 'name' } },
//         { text: 'Date', value: { Date: 'date' } },
//         { text: 'Category', value: { Category: 'category' } },
//         { text: 'Description', value: { Description: 'description' } },
//         { text: 'Action', value: { Action: 'action' } },
//         {
//           text: 'Summary of Closure',
//           value: { 'Summary of Closure': 'summaryOfClosure' },
//         },
//       ],
//       json_meta: [
//         [
//           {
//             key: 'charset',
//             value: 'utf-8',
//           },
//         ],
//       ],
//     }
//   },
//   computed: {
//     ...mapState('sitewide', ['ajaxUrl', 'databaseName', 'darkTheme']),
//   },
//   mounted() {
//     this.menuSelection('SafetyExport')
//     this.$store.commit('sitewide/setActivePage', 'safetyexport')
//     this.getObservations()
//   },
//   methods: {
//     ...mapActions({
//       toastMessage: 'sitewide/toastMessage',
//       logWrite: 'sitewide/logWrite',
//       menuSelection: 'sitewide/menuSelection',
//     }),
//     validateBeforeSubmit(func, param = '') {
//       this.$validator.validateAll().then(result => {
//         if (result) {
//           this[func](param)
//           return
//         }
//       })
//     },
//     onFiltered(filteredTasks) {
//       // Trigger pagination to update the number of buttons/pages due to filtering
//       this.totalRows = filteredTasks.length
//       this.currentPage = 1
//     },
//     async getObservations() {
//       try {
//         let getObs = await this.$axios.$get(this.ajaxUrl, {
//           params: {
//             tableName: 'obsCards',
//           },
//         })
//         this.obsCards = getObs
//         this.totalRows = this.obsCards.length
//       } catch (error) {
//         this.logWrite({
//           logType: 'error',
//           logItem: `SafetyExport.vue, getObservations() - ${error}`,
//         })
//       }
//     },
//     exportAllCards() {
//       this.taskDataToExport = this.obsCards
//     },
//     defaultExport() {
//       this.startDate = format(subDays(new Date(), 7), 'yyyy-MM-dd')
//       this.endDate = format(new Date(), 'yyyy-MM-dd')
//       this.cardIDFilterUpdate()
//     },
//     cardIDFilterUpdate() {
//       this.cardIDTemp = JSON.parse(JSON.stringify(this.obsCards))
//       let i = this.cardIDTemp.length
//       while (i--) {
//         if (
//           compareAsc(parseISO(this.cardIDTemp[i].date), parseISO(this.startDate)) != -1 &&
//           compareDesc(parseISO(this.cardIDTemp[i].date), parseISO(this.endDate)) != -1
//         ) {
//           // between start and end date
//         } else {
//           if (this.cardIDTemp.length > 0) {
//             this.cardIDTemp.splice(i, 1) //  if outside of updated date range, remove
//           }
//         }
//       }
//       this.mergeTempArrays(this.cardIDTemp)
//     },
//     mergeTempArrays(temp) {
//       if (this.taskDataToExport.length > 0) {
//         this.taskDataToExport = []
//         if (temp.length > 0) {
//           for (let i = 0; i < temp.length; i++) {
//             if (this.taskDataToExport.includes(temp[i])) {
//               // already there
//             } else {
//               this.taskDataToExport.push(temp[i])
//             }
//           }
//         }
//       } else {
//         this.taskDataToExport = temp // it was empty so it can take all the ones sent
//       }
//     },
//   },
//   watch: {
//     outputColumns: function() {
//       this.outputFieldList = {}
//       for (var i = 0; i < this.outputColumns.length; i++) {
//         this.outputFieldList = Object.assign(this.outputFieldList, this.outputColumns[i])
//       }
//       this.outputColumnNames = Object.keys(this.outputFieldList)
//     },
//     startDateSel: function() {
//       this.startDate = format(parseISO(this.startDateSel), 'yyyy-MM-dd')
//       this.validateBeforeSubmit('cardIDFilterUpdate')
//     },
//     endDateSel: function() {
//       this.endDate = format(parseISO(this.endDateSel), 'yyyy-MM-dd')
//       this.validateBeforeSubmit('cardIDFilterUpdate')
//     },
//   },
// }
</script>

<style scoped>
.downloadButton {
  margin-left: auto;
  margin-right: auto;
}

p {
  text-align: center;
  color: red;
}
</style>
