<template>
  <div>
    <v-container fluid>
      <v-layout column align-center justify-center>
        <v-flex shrink>
          <h4>
            First thing, are you looking to export whole tasks or previous
            completions?
          </h4>
        </v-flex>
        <v-flex shrink>
          <v-chip-group v-model="pageToShow" active-class="primary--text">
            <v-chip
              v-for="(page, index) in ['Tasks', 'Completions']"
              :key="index"
              :value="page"
              >{{ page }}</v-chip
            >
          </v-chip-group>
          <v-divider></v-divider>
        </v-flex>
      </v-layout>
      <export-tasks v-if="pageToShow == 'Tasks'"></export-tasks>
      <export-previous-completions
        v-if="pageToShow == 'Completions'"
      ></export-previous-completions>
    </v-container>
  </div>
</template>

<script>
import ExportTasks from '~/components/Exports/ExportTasks.vue'
import ExportPreviousCompletions from '~/components/Exports/ExportPreviousCompletions.vue'
import { mapActions, mapState } from 'vuex'

export default {
  name: 'ExportTaskMain', // name of page for router
  components: {
    ExportTasks,
    ExportPreviousCompletions,
  },
  data() {
    return {
      // variables
      pageToShow: '',
    }
  },
  computed: {
    ...mapState('sitewide', ['mongoUrl']),
  },
  created() {},
  mounted() {
    this.$store.commit('sitewide/setActivePage', 'exporttasks')
  },
  methods: {
    ...mapActions('sitewide', ['toastMessage', 'logWrite', 'menuSelection']),
  },
}
</script>

<style scoped></style>
