<template>
  <v-container fluid grid-list-md>
    <v-layout row>
      <v-spacer />
      <v-flex shrink>
        <v-combobox
          v-model="selectedPriority"
          v-validate="false"
          :items="priorityOptionsMod"
          :error="errors.first('Priority')"
          data-vv-name="Priority"
          label="Priority"
          outlined
          @input="todoQuery"
        ></v-combobox>
      </v-flex>
      <v-spacer />
      <v-flex shrink>
        <combo-box
          v-model="selectedGroup"
          v-validate="false"
          :items="groupOptions"
          :error="errors.first('Group')"
          data-vv-name="Group"
          label="Group(s)"
          multiple
          chips
          @input="todoQuery"
        ></combo-box>
      </v-flex>
      <v-spacer />
    </v-layout>
    <v-layout row align-center justify-center>
      <v-flex shrink>
        <loader-button
          :loading="workingOnIt"
          text="Download Excel Sheet"
          @click.native="prepToPackageExport()"
        ></loader-button>
      </v-flex>
    </v-layout>
    <v-layout row wrap align-center justify-center>
      <v-flex grow>
        <v-data-table
          item-key="_id"
          sort-by="updatedAt"
          sort-desc
          :loading="findingResults"
          :headers="headers"
          :items="todoItems"
        >
          <template #item.dueDate="{ item }">
            <base-format-date
              :ISOdate="item.dueDate"
              return-blank
            ></base-format-date>
          </template>
          <template #item.completionDate="{ item }">
            <base-format-date
              :ISOdate="item.completionDate"
              return-blank
            ></base-format-date>
          </template>
          <template #item.priority="{ item }">
            {{ item.priority ? priText(item.priority) : '' }}
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>

    <tech-name :promptTechName="promptTechName"></tech-name>
  </v-container>
</template>

<script>
import TechName from '~/components/Utils/TechName.vue'
import ComboBox from '~/components/Utils/BaseCombobox.vue'
import { mapActions, mapState } from 'vuex'
import { format, isDate } from 'date-fns/esm'

export default {
  name: 'ToDoExport',
  components: {
    TechName,
    ComboBox,
  },
  props: {},
  data() {
    return {
      workingOnIt: false,
      findingResults: false,

      todoItems: [],

      groupOptions: [],
      priorityOptionsMod: [],

      selectedPriority: 'All',
      selectedGroup: [],

      headers: [
        {
          value: 'idNumber',
          text: 'ID',
          align: 'center',
          sortable: true,
        },
        {
          value: 'name',
          text: 'Name',
          align: 'center',
          sortable: true,
        },
        {
          value: 'dueDate',
          text: 'Due',
          align: 'center',
          sortable: true,
        },
        {
          value: 'group',
          text: 'Group',
          align: 'center',
          sortable: true,
        },
        {
          value: 'priority',
          text: 'Priority',
          align: 'center',
          sortable: true,
        },
        {
          value: 'enteredBy',
          text: 'Entered By',
          align: 'center',
          sortable: true,
        },
      ],
    }
  },
  computed: {
    ...mapState('sitewide', [
      'mongoUrl',
      'userLoggedIn',
      'loggedInUser',
      'promptTechName',
      'techName',
    ]),
    ...mapState('todo', ['priorityOptions']),
  },
  watch: {},
  mounted() {
    this.$store.commit('sitewide/setActivePage', 'exportToDo')
    this.getGroups()
    this.getToDos()
    this.priorityOptionsMod = [
      { text: 'All', value: 0 },
      ...this.priorityOptions,
    ]
  },
  methods: {
    ...mapActions('sitewide', ['logWrite', 'toastMessage']),
    async getToDos() {
      try {
        this.findingResults = true
        this.todoItems = await this.$axios.$get(`${this.mongoUrl}todo/`)
        this.findingResults = false
      } catch (error) {
        this.findingResults = false
        this.toastMessage('An error occurred, see log for details')
        this.logWrite({
          logType: 'error',
          logItem: error,
        })
      }
    },
    async todoQuery() {
      this.findingResults = true
      let queryString = ''
      if (this.selectedGroup.length) {
        queryString += `groups=${this.selectedGroup.join(',')}&`
      }
      if (this.selectedPriority !== 'All') {
        queryString += `priority=${this.selectedPriority.value}&`
      }
      try {
        this.todoItems = await this.$axios.$get(
          `${this.mongoUrl}todo/?${queryString}`
        )
        this.findingResults = false
      } catch (error) {
        this.findingResults = false
        this.toastMessage('An error occurred, see log for details')
        this.logWrite({
          logType: 'error',
          logItem: error,
        })
      }
    },
    priText(priority) {
      for (let i = 0; i < this.priorityOptions.length; i++) {
        if (priority == this.priorityOptions[i].value) {
          return this.priorityOptions[i].text
        }
      }
    },
    prepToPackageExport() {
      if (this.techName === '') {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        this.workingOnIt = true
        this.todoItems.forEach((e) => {
          if (e.dueDate && isDate(e.dueDate)) {
            e.dueDate = format(e.dueDate, 'yyyy-MM-dd')
          }
        })
        this.sendDataForExport(this.todoItems)
      }
    },
    async sendDataForExport(itemsForExport) {
      const sheetData = {
        filename: `ToDoExport-${format(new Date(), 'yyyy-MM-dd')}`,
        worksheetTitle: 'To Do',
        columns: [
          { header: 'ID', key: 'idNumber', width: 10 },
          { header: 'Name', key: 'name', width: 20 },
          { header: 'Group', key: 'group', width: 20 },
          { header: 'Due Date', key: 'dueDate', type: 'date', width: 15 },
          { header: 'Entered By', key: 'enteredBy', width: 15 },
          { header: 'Description', key: 'description', width: 40 },
        ],
        data: itemsForExport,
      }
      try {
        const taskExportRes = await this.$axios.$post(
          `${this.mongoUrl}excel/export`,
          sheetData
        )
        if (taskExportRes.success) {
          window.open(`${this.mongoUrl}excel/download/${taskExportRes.file}`)
        }
        this.workingOnIt = false
        this.searchResults = []
      } catch (error) {
        this.workingOnIt = false
        this.toastMessage(
          `There was an error building the export spreadsheet, see log for details`
        )
        this.logWrite({
          logType: 'error',
          logItem: `ExportPackages.vue, sendDataForExport() - ${error}`,
        })
      }
    },
    async getGroups() {
      try {
        this.groupOptions = await this.$axios.$get(
          `${this.mongoUrl}todo/groups`
        )
      } catch (error) {
        this.toastMessage('An error occurred, see log for details')
        this.logWrite({
          logType: 'error',
          logItem: error,
        })
      }
    },
  },
}
</script>

<style></style>
