<template>
  <v-container fluid grid-list-md>
    <v-layout row align-center justify-space-around>
      <v-flex shrink>
        <v-autocomplete
          v-model="vendorName"
          :items="vendorList"
          outlined
          :loading="vendorListLoading"
          autocomplete="off"
          label="Select Vendor"
          @focus="getVendors()"
          @change="grabOrdersForVendor()"
        ></v-autocomplete>
      </v-flex>
      <v-flex shrink>
        <date-input-field
          v-model="currentRequestDate"
          label="Request Date"
          :min="new Date().toISOString()"
        ></date-input-field>
      </v-flex>
      <v-flex shrink>
        <v-text-field
          v-model="jobNumber"
          v-validate="'required'"
          outlined
          required
          :error-messages="errors.first('Job Number')"
          data-vv-name="Job Number"
          name="Job Number"
          label="Job Number*"
        ></v-text-field>
      </v-flex>
    </v-layout>
    <v-layout row align-center justify-space-around>
      <v-flex shrink>
        <v-tooltip bottom>
          <template #activator="{ on }">
            <span v-on="on">
              <v-switch
                v-model="setExportedItemsPending"
                class="pa-0 ma-0"
                color="success"
                label="Mark Pending"
                hide-details
              ></v-switch>
            </span>
          </template>
          <span>Mark exported items pending in To Order page</span>
        </v-tooltip>
      </v-flex>
      <!-- <v-flex shrink>
        <v-tooltip bottom>
          <template #activator="{ on }">
            <span v-on="on">
              <v-switch
                v-model="includeInventoryItems"
                class="pa-0 ma-0"
                color="success"
                label="Include Inventory items"
                hide-details
              ></v-switch>
            </span>
          </template>
          <span
            >Include Inventory items from this vendor in the order export</span
          >
        </v-tooltip>
      </v-flex> -->
      <!-- <v-flex shrink>
        <v-tooltip bottom>
          <template #activator="{ on }">
            <span v-on="on">
              <v-switch
                v-model="expiredItems"
                class="pa-0 ma-0"
                color="success"
                label="Include expired from inventory"
                hide-details
              ></v-switch>
            </span>
          </template>
          <span
            >Include Inventory items that have expired in order to be
            replaced</span
          >
        </v-tooltip>
      </v-flex> -->
      <!-- <v-flex shrink>
        <v-tooltip bottom>
          <template #activator="{ on }">
            <span v-on="on">
              <v-switch
                v-model="soonToExpireItems"
                class="pa-0 ma-0"
                color="success"
                label="Include soon to expire"
                hide-details
              ></v-switch>
            </span>
          </template>
          <span
            >Include Inventory items that will expire within specified time
            frame in order</span
          >
        </v-tooltip>
      </v-flex> -->
      <v-flex v-if="soonToExpireItems">
        <v-text-field
          v-model="expiryWindow"
          outlined
          label="Expiry look ahead in months"
        ></v-text-field>
      </v-flex>
      <v-flex shrink>
        <v-switch
          v-model="setExportToEncompassFormat"
          class="pa-0 ma-0"
          color="success"
          :label="
            setExportToEncompassFormat
              ? 'Export to Encompass template'
              : 'Export to PR template'
          "
          hide-details
        ></v-switch>
      </v-flex>
    </v-layout>
    <v-layout row align-center justify-center>
      <v-flex shrink>
        <loader-button
          :loading="workingOnIt"
          text="Download Excel Sheet"
          @click.native="prepToOrderExport()"
        ></loader-button>
      </v-flex>
    </v-layout>
    <v-layout row align-center justify-space-around>
      <v-flex>
        <v-data-table
          :headers="headers"
          :items="orderList"
          :items-per-page="15"
          class="elevation-1"
        ></v-data-table>
      </v-flex>
    </v-layout>
    <tech-name :promptTechName="promptTechName"></tech-name>
  </v-container>
</template>

<script>
import DateInputField from '~/components/Utils/DateInputField'
import TechName from '~/components/Utils/TechName.vue'
import { mapActions, mapState } from 'vuex'
import { addMonths, format } from 'date-fns/esm'

export default {
  name: 'ToOrderExport',
  components: {
    DateInputField,
    TechName,
  },
  props: {},
  data() {
    return {
      workingOnIt: false,

      vendorList: [],
      vendorListLoading: false,
      vendorName: '',

      orderListLoading: false,
      orderList: [],

      includeInventoryItems: false,
      expiredItems: false,
      soonToExpireItems: false,
      expiryWindow: 2,

      setExportedItemsPending: true,
      setExportToEncompassFormat: false,

      currentRequestDate: addMonths(new Date(), 1),
      jobNumber: '',

      headers: [
        {
          value: 'name',
          text: 'Name',
          align: 'center',
          sortable: true,
        },
        {
          value: 'partNumbersText',
          text: 'Part Numbers',
          align: 'center',
          sortable: true,
        },
      ],

      OIExportBase: [
        {
          value: 'quantity',
          text: 'Quantity',
          align: 'center',
          sortable: true,
        },
        {
          value: 'partNumber',
          text: 'PartNumber',
          align: 'center',
          sortable: true,
        },
        {
          value: 'Description',
          text: 'Description',
          align: 'center',
          sortable: true,
        },
      ],
    }
  },
  computed: {
    ...mapState('sitewide', [
      'mongoUrl',
      'userLoggedIn',
      'loggedInUser',
      'promptTechName',
      'techName',
    ]),
  },
  watch: {
    vendorName: function () {
      if (this.vendorName == 'Oceaneering' || this.vendorName == 'OII') {
        this.setExportToEncompassFormat = true
      } else {
        this.setExportToEncompassFormat = false
      }
    },
  },
  mounted() {
    this.$store.commit('sitewide/setActivePage', 'exportToOrder')
  },
  methods: {
    ...mapActions('sitewide', ['logWrite', 'toastMessage']),
    prepToOrderExport() {
      if (this.techName === '') {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        this.workingOnIt = true
        let partNumbers = []

        for (let i = 0; i < this.orderList.length; i++) {
          this.orderList[i].partNumbers.forEach((e) => {
            partNumbers.push({
              partNumber: e.vendorPartNumber,
              quantity: e.quantity,
            })
          })
        }
        if (this.setExportToEncompassFormat) {
          this.sendEncompassExport(
            `EncompassToOrder_${format(new Date(), 'yyyy-MM-dd')}`,
            partNumbers,
            this.setExportedItemsPending
          )
        } else {
          this.sendPurchaseExport(
            `PRToOrder_${format(new Date(), 'yyyy-MM-dd')}`,
            partNumbers,
            this.setExportedItemsPending
          )
        }
      }
    },
    async sendPurchaseExport(filename, data, setToPending = false) {
      if (this.techName === '') {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        let formattedData = {
          fileName: filename,
          vendorName: this.vendorName,
          requestDate: format(this.currentRequestDate, 'MM-dd-yyyy'),
          jobNumber: this.jobNumber,
          data: data,
        }

        try {
          const exportRes = await this.$axios.$post(
            `${this.mongoUrl}excel/exportToPR`,
            formattedData
          )
          if (exportRes.success) {
            window.open(
              `${this.mongoUrl}excel/download/${exportRes.file}?path=downloads`
            )
          }
          if (setToPending) {
            this.setOrderListItemsPending()
          }
          this.workingOnIt = false
        } catch (error) {
          this.workingOnIt = false
          this.toastMessage('An error occurred, see log for details')
          this.logWrite({
            logType: 'error',
            logItem: error,
          })
        }
      }
    },
    async sendEncompassExport(filename, data, setToPending = false) {
      if (this.techName === '') {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        let formattedData = {
          fileName: filename,
          requestDate: format(this.currentRequestDate, 'MM-dd-yyyy'),
          jobNumber: this.jobNumber,
          data: data,
        }

        try {
          const exportRes = await this.$axios.$post(
            `${this.mongoUrl}excel/exportToEncompass`,
            formattedData
          )
          if (exportRes.success) {
            window.open(`${this.mongoUrl}excel/download/${exportRes.file}`)
          }
          if (setToPending) {
            this.setOrderListItemsPending()
          }
          this.workingOnIt = false
        } catch (error) {
          this.workingOnIt = false
          this.toastMessage('An error occurred, see log for details')
          this.logWrite({
            logType: 'error',
            logItem: error,
          })
        }
      }
    },
    async setOrderListItemsPending() {
      //Get techName into this for tagging the pending items properly
      if (this.techName === '') {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        this.orderList.forEach(async (i) => {
          const markPendingTodo = await this.$axios.$put(
            `${this.mongoUrl}toorder/${i._id}`,
            {
              isPending: true,
              pendingBy: this.techName,
            }
          )
          this.toastMessage(markPendingTodo)
        })
      }
    },
    async grabOrdersForVendor() {
      try {
        this.orderListLoading = 'warning'
        this.orderList = await this.$axios.$get(
          `${this.mongoUrl}toorder/byVendor?vendor=${this.vendorName}`
        )
        this.orderListLoading = false
      } catch (error) {
        this.toastMessage('An error occurred, see log for details')
        this.logWrite({
          logType: 'error',
          logItem: error,
        })
      }
    },
    async getVendors() {
      try {
        this.vendorListLoading = 'warning'
        this.vendorList = await this.$axios.$get(
          `${this.mongoUrl}toorder/vendors`
        )
        this.vendorListLoading = false
      } catch (error) {
        this.toastMessage('An error occurred, see log for details')
        this.logWrite({
          logType: 'error',
          logItem: error,
        })
      }
    },
  },
}
</script>

<style></style>
