<template lang="html">
  <div class="centerx">
    <base-form-dialog :active="showPopup" title="Hose Details" @close="closePopup">
      <v-container fluid class="print">
        <v-layout row wrap align-center justify-center>
          <v-flex shrink>
            <table id="theList">
              <tr class="text-center header">
                <th width="150">Tag</th>
                <th width="200">Hardware</th>
                <th width="350">Location</th>
                <th width="250">Size/Length</th>
                <th width="250">Pressure Rating</th>
                <th width="200">OI Part Number</th>
              </tr>
              <tr v-for="item in printList" :key="item.tagNumber" class="print text-center">
                <td>
                  {{ item.tagNumber ? item.tagNumber : item.customTag }}
                </td>
                <td>
                  {{ item.hardware }}
                </td>
                <td>
                  {{ item.location }}
                </td>
                <td>
                  {{ `${getHoseText(item.hoseSize)} / ${calcLengthBreakdown(item.hoseLength)}` }}
                </td>
                <td>
                  {{ item.hosePressureRating }}
                </td>
                <td>
                  {{ item.hoseOINumber }}
                </td>
              </tr>
            </table>
          </v-flex>
        </v-layout>
        <v-layout row wrap justify-space-around align-center>
          <v-flex shrink>
            <loader-button text="Print" @click.native="printDialog"></loader-button>
          </v-flex>
        </v-layout>
      </v-container>
    </base-form-dialog>
  </div>
</template>

<script>
import { Printd } from 'printd'
import { mapState } from 'vuex'

export default {
  props: {
    printList: {
      type: Array,
      default: () => [],
    },
    showPopup: {
      type: Boolean,
      default: false,
    },
    hoseOptions: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {}
  },
  computed: {
    ...mapState('sitewide', [
      'hoseLengthUnit',
    ]),
  },
  methods: {
    calcLengthBreakdown(length) {
      if(this.hoseLengthUnit == 'meters'){
        return `${Math.round(length/39.37009424 * 10) / 10}m`
      }else{
        return `${Math.floor(parseInt(length) / 12)}' ${
          parseInt(length) % 12
        }" (${Math.round(length * 10) / 10}")`
      }
    },
    getHoseText(size) {
      for (let i = 0; i < this.hoseOptions.length; i++) {
        if (this.hoseOptions[i].value == size) {
          return this.hoseOptions[i].text
        }
      }
    },
    closePopup() {
      this.$emit('close')
    },
    printDialog() {
      const cssText = `
        th,
        td {
          border: 1px solid black;
          padding: 8px;
          text-align: center;
        }
      `
      const d = new Printd()
      d.print(document.getElementById('theList'), [cssText])
    },
  },
}
</script>

<style scoped>
.print {
  padding: 10px;
  background-color: white;
  color: black;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
}
</style>
