<template>
  <base-form-dialog
    :active="showDetails"
    title="Hose Details"
    width="800"
    editButton
    @edit="setEditMode()"
    @close="cancelDetailsHosePopup()"
  >
    <v-container fluid grid-list-md text-center @keydown.ctrl.83.prevent.stop="saveEditHose()">
      <v-layout row wrap justify-space-around align-top>
        <v-flex v-if="!editMode" shrink>
          <h4 class="grey--text text--darken-1">Tag</h4>
          <hr class="grey darken-1" />
          <h3>
            {{ hoseItem.tagNumber ? hoseItem.tagNumber : hoseItem.customTag }}
          </h3>
        </v-flex>
        <v-flex v-if="!editMode" shrink>
          <h4 class="grey--text text--darken-1">Hardware</h4>
          <hr class="grey darken-1" />
          <h3>{{ hoseItem.hardware }}</h3>
        </v-flex>
        <v-flex v-if="!editMode && dateSelected.length" shrink class="pb-6">
          <v-menu
            v-model="completionsShown"
            :close-on-content-click="false"
            left
          >
            <template #activator="{ on: menu }">
              <span v-on="{ ...menu }">
                <loader-button
                  icon="timer"
                  iconOnly
                  tipText="Show Previous inspections/changes"
                ></loader-button>
              </span>
            </template>
            <v-card>
              <v-data-table
                :items="dateSelected"
                hide-default-header
                :headers="headers"
                :hide-default-footer="dateSelected.length < 11 ? true : false"
              >
                <template #item.dateShown="{ item }">
                  <h3>{{ item.textShown }}</h3>
                  <base-format-date
                    :ISOdate="item.dateShown"
                  ></base-format-date>
                </template>
              </v-data-table>
            </v-card>
          </v-menu>
        </v-flex>
        <v-flex v-if="editMode" shrink>
          <v-text-field
            v-model="hoseID"
            label="Tag Number"
            autocomplete="off"
            outlined
            :error-messages="tagError"
            :loading="tagLoading"
            :success-messages="tagSuccess"
            append-icon="find_replace"
            @blur="getTagNumber(hoseID)"
            @click:append="getTagNumber()"
          ></v-text-field>
        </v-flex>
        <v-flex v-if="editMode" shrink>
          <v-combobox
            v-model="editHose.hardware"
            v-validate="'required'"
            :items="hardware"
            :error-messages="errors.first('Hardware')"
            outlined
            autocomplete="off"
            required
            data-vv-name="Hardware"
            hint="High Level hardware: HPU, ROV, Etc"
            label="Hardware*"
            @focus="getHardwareList()"
          ></v-combobox>
        </v-flex>
      </v-layout>
      <v-layout row wrap justify-space-around align-center>
        <v-flex v-if="!editMode" shrink>
          <h4 class="grey--text text--darken-1">Location</h4>
          <hr class="grey darken-1" />
          <h3>{{ hoseItem.location }}</h3>
        </v-flex>
        <v-flex v-if="editMode" xs11>
          <v-text-field
            v-model="editHose.location"
            outlined
            autocomplete="off"
            label="Location"
            hint="More specific location description to help find the proper hose"
          ></v-text-field>
        </v-flex>
      </v-layout>
      <v-layout row wrap justify-space-around align-center>
        <v-flex shrink>
          <v-layout row wrap justify-center align-center>
            <v-flex
              v-if="
                hoseItem.hosePressureRating ||
                hoseItem.hosePartNumber ||
                hoseItem.sideAFitting ||
                hoseItem.sideBFittings ||
                hoseItem.hoseOINumber
              "
              shrink
              class="pb-8"
            >
              <loader-button
                v-if="
                  parseInt(hoseItem.hoseSize) < parseInt(maxHoseSizeMadeOnSite)
                "
                icon="assignment"
                iconOnly
                tipText="Toggle show part numbers related to selected size"
                tipLocation="top"
                @click.native="showPartNumbers = !showPartNumbers"
              ></loader-button>
            </v-flex>
            <v-flex v-if="!editMode" shrink>
              <h4 class="grey--text text--darken-1">Hose Size</h4>
              <hr class="grey darken-1" />
              <h3>{{ getHoseText(hoseItem.hoseSize) }}</h3>
            </v-flex>
            <v-flex v-if="editMode" shrink>
              <v-select
                v-model="editHose.hoseSize"
                v-validate="'required'"
                outlined
                :items="hoseOptions"
                required
                :error-messages="errors.first('Hose Size')"
                data-vv-name="Hose Size"
                name="Hose Size"
                label="Hose Size*"
                @input="fillInHoseData()"
              ></v-select>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex v-if="!editMode" shrink>
          <h4 class="grey--text text--darken-1">Hose Length</h4>
          <hr class="grey darken-1" />
          <h3 v-if="hoseLengthUnit == 'meters'">
            {{ Math.round(hoseItem.hoseLength/39.37009424 * 10) / 10 }}m
          </h3>
          <h3 v-else>
            {{ Math.floor(hoseItem.hoseLength / 12) }}'
            {{ Math.round(hoseItem.hoseLength % 12 * 10) / 10 }}" ({{ Math.round(hoseItem.hoseLength * 10) / 10 }}")
          </h3>
        </v-flex>
        <v-flex v-if="!showPartNumbers && editMode" shrink>
          <v-tooltip bottom>
            <template #activator="{ on }">
              <span v-on="on">
                <v-switch
                  v-model="oiNumberBox"
                  color="success"
                  label="OI Number"
                ></v-switch>
              </span>
            </template>
            <span>This hose has an existing OI Part Number</span>
          </v-tooltip>
        </v-flex>
        <v-flex v-if="editMode" shrink>
          <v-layout row wrap align-center justify-center>
            <v-flex shrink>
              <v-text-field
                v-if="hoseLengthUnit == 'meters'"
                v-model="hoseLengthInMeters"
                v-validate="'required|min_value:.1'"
                outlined
                autocomplete="off"
                required
                :error-messages="errors.first('Hose Length')"
                data-vv-name="Hose Length"
                name="Hose Length"
                min=".1"
                label="Hose Length (m)*"
                hint="Cut hose length in meters"
              ></v-text-field>
              <v-text-field
                v-else
                v-model="editHose.hoseLength"
                v-validate="'required|min_value:2'"
                outlined
                autocomplete="off"
                required
                :error-messages="errors.first('Hose Length')"
                data-vv-name="Hose Length"
                name="Hose Length"
                min="2"
                label="Hose Length (in)*"
                append-icon="help"
                hint="Cut hose length in inches"
                @click:append="hoseDialog = true"
                @input="calcLengthBreakdown()"
              ></v-text-field>
            </v-flex>
            <v-flex shrink class="pb-8">
              <loader-button
                icon="accessible"
                iconOnly
                tipText="The maths"
                color="warning"
                @click.native="feetConvert = true"
              ></loader-button>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
      <v-layout
        v-if="
          editHose.hoseSize &&
          parseInt(editHose.hoseSize) >= parseInt(maxHoseSizeMadeOnSite)
        "
        row
        wrap
        align-center
        justify-center
      >
        <v-flex shrink>
          <v-text-field
            v-model="editHose.hosePressureRating"
            v-validate="'required|min_value:1'"
            :error-messages="errors.first('Hose Pressure')"
            data-vv-name="Hose Pressure"
            name="Hose Pressure"
            type="number"
            outlined
            autocomplete="off"
            label="Pressure rating for hose*"
            hint="Pressure rating required for large hoses"
          ></v-text-field>
        </v-flex>
      </v-layout>
      <v-layout
        v-if="oiNumberBox && !showPartNumbers && editMode"
        row
        wrap
        align-center
        justify-center
      >
        <v-flex shrink>
          <v-text-field
            v-model="editHose.hoseOINumber"
            outlined
            label="Existing OI Number"
            @blur="fillInHoseData()"
          ></v-text-field>
        </v-flex>
      </v-layout>
      <v-layout
        v-if="
          showPartNumbers &&
          hoseItem.hoseSize &&
          parseInt(hoseItem.hoseSize) < parseInt(maxHoseSizeMadeOnSite)
        "
        column
        wrap
        justify-center
        align-space-around
      >
        <v-flex v-if="!editMode" grow>
          <v-layout row wrap align-center justify-space-around>
            <v-flex v-if="hoseItem.hoseOINumber" shrink>
              <h4 class="grey--text text--darken-1">Existing OI Part Number</h4>
              <hr class="grey darken-1" />
              <h3>{{ hoseItem.hoseOINumber }}</h3>
            </v-flex>
            <v-flex v-if="hoseItem.hosePartNumber" shrink>
              <h4 class="grey--text text--darken-1">Hose Part Number</h4>
              <hr class="grey darken-1" />
              <h3>{{ hoseItem.hosePartNumber }}</h3>
            </v-flex>
            <v-flex v-if="hoseItem.hosePressureRating" shrink>
              <h4 class="grey--text text--darken-1">Hose Pressure Rating</h4>
              <hr class="grey darken-1" />
              <h3>{{ hoseItem.hosePressureRating }}</h3>
            </v-flex>
            <v-flex v-if="hoseItem.sideAFitting" shrink>
              <h4 class="grey--text text--darken-1">Side A Fitting</h4>
              <hr class="grey darken-1" />
              <h3>{{ hoseItem.sideAFitting }}</h3>
            </v-flex>
            <v-flex v-if="hoseItem.hosePartNumber" shrink>
              <h4 class="grey--text text--darken-1">Side B Fitting</h4>
              <hr class="grey darken-1" />
              <h3>{{ hoseItem.sideBFitting }}</h3>
            </v-flex>
          </v-layout>
        </v-flex>

        <v-flex v-if="editMode" grow>
          <v-layout row wrap justify-space-around align-center>
            <v-flex shrink>
              <v-text-field
                v-model="editHose.hosePartNumber"
                outlined
                autocomplete="off"
                label="Hose Part Number"
              ></v-text-field>
            </v-flex>
            <v-flex shrink>
              <v-text-field
                v-model="editHose.hosePressureRating"
                outlined
                autocomplete="off"
                label="Hose Pressure Rating (psi)"
              ></v-text-field>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex v-if="editMode" grow>
          <v-layout row wrap justify-space-around align-center>
            <v-flex shrink>
              <v-text-field
                v-model="editHose.sideAFitting"
                outlined
                autocomplete="off"
                label="Side A Fitting Number"
              ></v-text-field>
            </v-flex>
            <v-flex shrink>
              <v-text-field
                v-model="editHose.sideBFitting"
                outlined
                autocomplete="off"
                label="Side B Fitting Number"
              ></v-text-field>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
      <v-layout row wrap justify-space-around align-center>
        <v-flex v-if="!editMode" shrink>
          <h4 class="grey--text text--darken-1">Last Inspection</h4>
          <hr class="grey darken-1" />
          <h3>
            <base-format-date
              :ISOdate="hoseItem.lastInspection"
              return-blank
            ></base-format-date>
          </h3>
        </v-flex>
        <v-flex v-if="editMode" shrink>
          <date-input
            v-model="editHose.lastInspection"
            v-validate="'required'"
            name="Last Inspection"
            :error-messages="errors.first('Last Inspection')"
            notClearable
            label="Last Inspection*"
            :max="new Date().toISOString()"
          />
        </v-flex>
        <v-flex shrink class="pb-8">
          <loader-button
            icon="create"
            iconOnly
            color="warning"
            tipText="Show intervals"
            @click.native="showIntervals = !showIntervals"
          ></loader-button>
        </v-flex>
        <v-flex v-if="!editMode" shrink>
          <h4 class="grey--text text--darken-1">Last Change</h4>
          <hr class="grey darken-1" />
          <h3>
            <base-format-date
              :ISOdate="hoseItem.lastChange"
              return-blank
            ></base-format-date>
          </h3>
        </v-flex>
        <v-flex v-if="editMode" shrink>
          <date-input
            v-model="editHose.lastChange"
            v-validate="'required'"
            name="Last Change"
            :error-messages="errors.first('Last Change')"
            notClearable
            label="Last Change*"
            :max="new Date().toISOString()"
          />
        </v-flex>
      </v-layout>
      <v-layout v-if="showIntervals" row wrap justify-space-around align-center>
        <v-flex v-if="!editMode" shrink>
          <h4 class="grey--text text--darken-1">Inspection Interval</h4>
          <hr class="grey darken-1" />
          <h3>{{ getFreqText(hoseItem.inspectionInterval) }}</h3>
        </v-flex>
        <v-flex v-if="!editMode" shrink>
          <h4 class="grey--text text--darken-1">Change Interval</h4>
          <hr class="grey darken-1" />
          <h3>{{ getFreqText(hoseItem.changeInterval) }}</h3>
        </v-flex>
        <v-flex v-if="editMode" shrink>
          <v-select
            v-model="editHose.inspectionInterval"
            :items="frequencyOptions"
            outlined
            label="Inspection Interval"
            :error-messages="inspectionError"
            @input="checkIntervals()"
          ></v-select>
        </v-flex>
        <v-flex v-if="editMode" shrink>
          <v-select
            v-model="editHose.changeInterval"
            :items="frequencyOptions"
            :loading="intervalLoading"
            outlined
            label="Change Interval"
            :error-messages="changeError"
            @input="checkIntervals()"
          ></v-select>
        </v-flex>
      </v-layout>
      <v-layout v-if="!editMode" row wrap align-center justify-space-around>
        <v-flex shrink>
          <h4 class="grey--text text--darken-1">Next Inspection</h4>
          <hr class="grey darken-1" />
          <h3>
            <base-format-date
              :ISOdate="hoseItem.nextInspection"
              return-blank
            ></base-format-date>
          </h3>
        </v-flex>
        <v-flex shrink>
          <h4 class="grey--text text--darken-1">Next Change</h4>
          <hr class="grey darken-1" />
          <h3>
            <base-format-date
              :ISOdate="hoseItem.nextChange"
              return-blank
            ></base-format-date>
          </h3>
        </v-flex>
      </v-layout>
      <v-layout row wrap align-center justify-center>
        <v-flex v-if="!editMode && hoseItem.description" xs11>
          <h4 class="grey--text text--darken-1">Description</h4>
          <hr class="grey darken-1" />
          <v-card class="text-left">
            <vue-markdown
              :source="hoseItem.description"
              :anchorAttributes="{ target: '_blank' }"
            ></vue-markdown>
          </v-card>
        </v-flex>
        <v-flex v-if="editMode" xs11>
          <v-textarea
            v-model="editHose.description"
            autocomplete="off"
            outlined
            auto-grow
            clearable
            counter="2000"
            label="Description"
          ></v-textarea>
        </v-flex>
      </v-layout>
      <v-layout v-if="editMode" row wrap align-center justify-center>
        <v-flex>
          <transition name="slide-fade">
            <file-list
              v-if="fileList.length"
              :fileUrl="`hoses/${editHose._id}`"
              :fileList="fileList"
              @refreshFiles="getFileList()"
            ></file-list>
          </transition>
          <upload
            ref="upload"
            :apiPath="`${mongoUrl}files/upload/hoses/${editHose._id}`"
            @allUploaded="getFileList()"
          ></upload>
        </v-flex>
      </v-layout>
      <v-layout v-if="editMode" row wrap align-center justify-space-around>
        <v-flex v-if="userLoggedIn" shrink>
          <loader-button
            color="error"
            text="DELETE"
            @click.native="deleteHose()"
          ></loader-button>
        </v-flex>
        <v-flex shrink>
          <loader-button
            color="warning"
            text="Cancel"
            @click.native="cancelDetailsHosePopup()"
          ></loader-button>
        </v-flex>
        <v-flex shrink>
          <loader-button
            color="success"
            text="Save"
            @click.native="saveEditHose()"
          ></loader-button>
        </v-flex>
      </v-layout>

      <v-dialog v-model="hoseDialog" width="675">
        <v-card>
          <img src="~/assets/hoseCut.jpg" alt="Diagram for hose measurements" />
        </v-card>
      </v-dialog>

      <v-dialog v-model="feetConvert" width="500" persistant>
        <v-card>
          <v-card-title>Length in Feet/Inches</v-card-title>
          <v-container fluid>
            <v-layout row wrap align-center justify-space-around>
              <v-flex shrink>
                <v-text-field
                  v-model="lengthInFeet"
                  autocomplete="off"
                  outlined
                  type="number"
                  label="Feet"
                  @input="calcLength()"
                ></v-text-field>
              </v-flex>
              <v-flex shrink>
                <v-text-field
                  v-model="lengthInInches"
                  autocomplete="off"
                  outlined
                  type="number"
                  max="11"
                  label="Inches"
                  @input="calcLength()"
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row wrap align-center justify-center>
              <v-flex shrink>Total Inches: {{ editHose.hoseLength }}</v-flex>
            </v-layout>
          </v-container>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="success" @click="feetConvert = false">OK</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-container>
  </base-form-dialog>
</template>

<script>
import VueMarkdown from 'vue-markdown'
import FileList from '~/components/Utils/FileList'
import Upload from '~/components/Utils/Upload'
import DateInput from '../Utils/DateInputField.vue'
import { mapActions, mapState } from 'vuex'
import { parseISO, addDays, formatISO } from 'date-fns/esm'

export default {
  components: {
    VueMarkdown,
    FileList,
    Upload,
    DateInput,
  },
  props: {
    showDetails: {
      type: Boolean,
      default: false,
    },
    hoseItem: {
      type: Object,
      default: () => {
        return {
          tagNumber: '',
          description: '',
          hardware: [],
          location: '',

          hoseSize: [],
          hoseLength: '',
          hosePressureRating: '',
          hosePartNumber: '',
          sideAFitting: '',
          sideBFitting: '',

          hoseOINumber: '',

          lastInspection: '',
          lastChange: '',
        }
      },
    },
  },
  data() {
    return {
      headers: [
        {
          value: 'techName',
          text: 'Tech Name',
          align: 'center',
          sortable: true,
        },
        {
          value: 'dateShown',
          text: '',
          align: 'center',
          sortable: true,
        },
        {
          value: 'notes',
          text: 'Notes',
          align: 'center',
          sortable: true,
        },
      ],
      frequencyOptions: [],
      intervalLoading: false,
      showIntervals: false,

      showPartNumbers: false,

      tagError: [],
      tagLoading: false,
      tagSuccess: [],

      hoseDialog: false,
      hoseOptions: [],
      feetConvert: false,
      lengthInFeet: '',
      lengthInInches: '',
      hoseLengthInMeters: '',

      changeError: [],
      inspectionError: [],

      hoseInspectionDateCal: false,
      hoseChangeDateCal: false,

      oiNumberBox: false,

      editMode: false,
      editHose: {},

      hoseID: '',

      hardware: [],

      completionList: [],
      completionsShown: false,

      fileList: [],
    }
  },
  computed: {
    ...mapState('sitewide', [
      'mongoUrl',
      'darkTheme',
      'hoseLengthUnit',
      'techName',
      'currentTaskMode',
      'userLoggedIn',
      'loggedInUser',
      'maxInspection',
      'maxChange',
      'maxHoseSizeMadeOnSite',
    ]),
    dateSelected: function () {
      let pickADate = [...this.completionList]
      pickADate.map((completion) => {
        completion.dateShown = this.checkDate(completion, 'date')
        completion.textShown = this.checkDate(completion, 'text')
      })
      return pickADate
    },
  },
  watch: {
    oiNumberBox: function () {
      if (!this.oiNumberBox) {
        this.editHose.hoseOINumber = ''
        this.fillInHoseData()
      }
    },
    hoseItem: async function () {
      let byTag = await this.$axios.$get(
        `${this.mongoUrl}hoses/completions/${
          this.hoseItem.tagNumber
            ? this.hoseItem.tagNumber
            : this.hoseItem.customTag
        }`
      )
      let byId = await this.$axios.$get(
        `${this.mongoUrl}hoses/completions/${this.hoseItem._id}`
      )
      this.completionList = [...byId, ...byTag]
    },
    showDetails: function () {
      if (this.showDetails) this.getFileList()
    },
    hoseID: function () {
      if (this.isNumber(this.hoseID)) {
        this.editHose.tagNumber = this.hoseID
        this.editHose.customTag = ''
      } else {
        this.editHose.customTag = this.hoseID
        this.editHose.tagNumber = ''
      }
    },
  },
  created() {
    this.getFrequencyOptions()
    this.getHoseList()
  },
  methods: {
    ...mapActions('sitewide', ['logWrite', 'toastMessage']),
    async getFileList() {
      this.fileList = await this.$axios.$get(
        `${this.mongoUrl}files/hoses/${this.hoseItem._id}`
      )
    },
    isNumber(n) {
      return !isNaN(parseFloat(n)) && !isNaN(n - 0)
    },
    async getTagNumber(toCheck = 0) {
      this.tagLoading = 'warning'
      while (this.tagSuccess.length) {
        this.tagSuccess.pop()
      }
      while (this.tagError.length) {
        this.tagError.pop()
      }
      try {
        if (toCheck) {
          let tagResponse = ''
          if (this.isNumber(toCheck)) {
            tagResponse = await this.$axios.$get(
              `${this.mongoUrl}hoses/checktag/${toCheck}`
            )
          } else {
            tagResponse = await this.$axios.$get(
              `${this.mongoUrl}hoses/checktag/${toCheck}?custom=true`
            )
          }
          if (tagResponse == 'exists') {
            while (this.tagSuccess.length) {
              this.tagSuccess.pop()
            }
            this.tagError.push('Tag already exists')
          } else if (tagResponse == 'available') {
            while (this.tagError.length) {
              this.tagError.pop()
            }
            this.tagSuccess.push('Tag is available')
          } else if (tagResponse == 'custom') {
            while (this.tagError.length) {
              this.tagError.pop()
            }
            this.tagSuccess.push('Custom tag is available')
          }
        } else {
          const tagResponse = await this.$axios.$get(
            `${this.mongoUrl}hoses/checktag`
          )
          if (tagResponse.nextNumber) {
            this.hoseID = tagResponse.nextNumber
            while (this.tagError.length) {
              this.tagError.pop()
            }
            this.tagSuccess.push('Next Tag')
          }
        }
        this.tagLoading = false
      } catch (error) {
        this.toastMessage('An error occurred checking the hose tag number')
        this.logWrite({
          logType: 'error',
          logItem: `DetailsHose.vue, getTagNumber()- ${error}`,
        })
      }
    },
    checkDate(completion, type) {
      if (completion.changeDate) {
        if (completion.changeDate && type == 'date') {
          return completion.changeDate
        }
        if (completion.changeDate && type == 'text') {
          return 'Change'
        }
      } else {
        if (type == 'date') {
          return completion.inspectionDate
        } else {
          return 'Inspection'
        }
      }
    },
    getFreqText(freq) {
      for (let i = 0; i < this.frequencyOptions.length; i++) {
        if (this.frequencyOptions[i].value == freq) {
          return this.frequencyOptions[i].text
        }
      }
      return `${freq} Days`
    },
    getHoseText(size) {
      for (let i = 0; i < this.hoseOptions.length; i++) {
        if (this.hoseOptions[i].value == size) {
          return this.hoseOptions[i].text
        }
      }
    },
    setEditMode() {
      if (!this.editMode) {
        if(this.hoseLengthUnit == 'meters'){
          this.hoseLengthInMeters = Math.round(this.hoseItem.hoseLength/39.37009424 * 10) / 10
        }
        this.editHose = JSON.parse(JSON.stringify(this.hoseItem))
        this.editHose.hoseSize = this.editHose.hoseSize.toString()
        this.hoseID = this.editHose.tagNumber
          ? this.editHose.tagNumber
          : this.editHose.customTag
        this.calcLengthBreakdown()
        this.editMode = true
      } else {
        this.editMode = false
      }
    },
    async getHoseList() {
      this.hoseOptions = await this.$axios.$get(
        `${this.mongoUrl}hoses/defaults`
      )
    },
    async getHardwareList() {
      this.hardware = await this.$axios.$get(`${this.mongoUrl}hoses/hardware`)
    },
    fillInHoseData() {
      if (!this.editHose.hoseOINumber) {
        this.hoseOptions.forEach((size) => {
          if (this.editHose.hoseSize == size.value) {
            this.editHose.hosePressureRating = size.hosePressureRating
            this.editHose.hosePartNumber = size.hosePartNumber
            this.editHose.sideAFitting = size.hoseFitting
            this.editHose.sideBFitting = size.hoseFitting
          }
        })
      } else {
        this.editHose.hosePressureRating = ''
        this.editHose.hosePartNumber = ''
        this.editHose.sideAFitting = ''
        this.editHose.sideBFitting = ''
      }
    },
    async getFrequencyOptions() {
      this.intervalLoading = 'warning'
      this.frequencyOptions = await this.$axios.$get(
        `${this.mongoUrl}settings/frequencyOptions`
      )
      this.intervalLoading = false
    },
    calcLength() {
      this.editHose.hoseLength = 0
      if (this.lengthInFeet) {
        this.editHose.hoseLength =
          parseInt(this.editHose.hoseLength) + parseInt(this.lengthInFeet) * 12
      }
      if (this.lengthInInches) {
        if (this.lengthInInches >= 12) {
          this.lengthInInches = 11
        }
        this.editHose.hoseLength =
          parseInt(this.editHose.hoseLength) + parseInt(this.lengthInInches)
      }
    },
    calcLengthBreakdown() {
      this.lengthInFeet = Math.floor(parseInt(this.editHose.hoseLength) / 12)
      this.lengthInInches = parseInt(this.editHose.hoseLength) % 12
    },
    checkIntervals() {
      if (parseInt(this.editHose.changeInterval) > this.maxChange) {
        this.changeError.push('Change cannot exceed set max')
      } else {
        while (this.changeError.length) {
          this.changeError.pop()
        }
      }
      if (parseInt(this.editHose.inspectionInterval) > this.maxInspection) {
        this.inspectionError.push('Inspection cannot exceed set max')
      } else {
        while (this.inspectionError.length) {
          this.inspectionError.pop()
        }
      }
    },
    async deleteHose() {
      if (this.techName === '') {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        let deleteHose
        try {
          deleteHose = await this.$axios.$delete(
            `${this.mongoUrl}hoses/${this.editHose._id}`,
            this.editHose
          )
        } catch (error) {
          this.toastMessage('An error occurred deleting the hose')
          this.logWrite(error)
        }
        this.cancelDetailsHosePopup()
        this.toastMessage(`${deleteHose} by ${this.techName}`)
        this.$emit('refreshHoses')
      }
    },
    saveEditHose() {
      if (this.techName === '') {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        this.$validator.validate().then(async (valid) => {
          if (valid) {
            this.$validator.pause()
            if (this.$refs.upload.files.length) {
              this.$refs.upload.startUpload()
            }
            if(this.hoseLengthUnit == 'meters'){
              this.editHose.hoseLength = this.hoseLengthInMeters * 39.3701
            }
            let saveHoseEdit = ''
            this.editHose.techName = this.techName
            // if for whatever reason the last change and last inspection is blank assume it's today
            if (this.editHose.lastInspection) {
              this.editHose.nextInspection = formatISO(
                addDays(
                  parseISO(this.editHose.lastInspection),
                  parseInt(this.editHose.inspectionInterval)
                )
              )
            } else {
              this.editHose.nextInspection = formatISO(
                addDays(new Date(), parseInt(this.editHose.inspectionInterval))
              )
            }
            if (this.editHose.lastChange) {
              this.editHose.nextChange = formatISO(
                addDays(
                  parseISO(this.editHose.lastChange),
                  parseInt(this.editHose.changeInterval)
                )
              )
            } else {
              this.editHose.nextChange = formatISO(
                addDays(new Date(), parseInt(this.editHose.changeInterval))
              )
            }
            try {
              saveHoseEdit = await this.$axios.$put(
                `${this.mongoUrl}hoses/${this.editHose._id}`,
                this.editHose
              )
            } catch (error) {
              this.toastMessage('An error occurred updating the hose')
              this.logWrite(error)
            }
            this.cancelDetailsHosePopup()
            this.toastMessage(saveHoseEdit)
            this.$emit('refreshHoses')
            this.$nextTick(() => {
              this.$validator.reset()
              this.$validator.resume()
            })
          } else {
            console.log('not valid')
          }
        })
      }
    },
    cancelDetailsHosePopup() {
      this.$emit('close')
      this.$validator.pause()
      this.editMode = false
      this.editHose = {}
      this.fileList = []
      this.$validator.reset()
    },
  },
}
</script>

<style></style>
