<template>
  <base-form-dialog
    :active="newHosePopup"
    title="Create New Hose"
    width="800"
    @close="cancelNewHosePopup()"
  >
    <v-container fluid grid-list-md text-center @keydown.ctrl.83.prevent.stop="saveNewHose()">
      <v-layout row wrap justify-space-around align-top>
        <v-flex shrink>
          <v-text-field
            v-model="hoseID"
            label="Tag Number"
            autocomplete="off"
            outlined
            :error-messages="tagError"
            :loading="tagLoading"
            :success-messages="tagSuccess"
            append-icon="find_replace"
            @blur="getTagNumber(hoseID)"
            @click:append="getTagNumber()"
          ></v-text-field>
        </v-flex>
        <v-flex shrink>
          <v-combobox
            v-model="newHose.hardware"
            v-validate="'required'"
            outlined
            autocomplete="off"
            required
            :items="hardwareOptions"
            :error-messages="errors.first('Hardware')"
            data-vv-name="Hardware"
            name="Hardware"
            hint="High Level hardware: HPU, ROV, Etc"
            label="Hardware*"
            @focus="getHardwareList()"
          ></v-combobox>
        </v-flex>
      </v-layout>
      <v-layout row wrap justify-space-around align-center>
        <v-flex xs11>
          <v-text-field
            v-model="newHose.location"
            outlined
            autocomplete="off"
            label="Location"
            hint="More specific location description to help find the proper hose"
          ></v-text-field>
        </v-flex>
      </v-layout>
      <v-layout row wrap justify-space-around align-center>
        <v-flex shrink>
          <v-layout row wrap justify-center align-center>
            <v-flex v-if="!oiNumberBox" shrink class="pb-8">
              <loader-button
                icon="assignment"
                iconOnly
                tipText="Toggle show part numbers related to selected size"
                tipLocation="top"
                @click.native="showPartNumbers = !showPartNumbers"
              ></loader-button>
            </v-flex>
            <v-flex shrink>
              <v-select
                v-model="newHose.hoseSize"
                v-validate="'required'"
                outlined
                :items="hoseOptions"
                required
                :error-messages="errors.first('Hose Size')"
                data-vv-name="Hose Size"
                name="Hose Size"
                label="Hose Size*"
                @blur="fillInHoseData()"
              ></v-select>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex v-if="!showPartNumbers" shrink>
          <v-tooltip bottom>
            <template #activator="{ on }">
              <v-switch
                v-model="oiNumberBox"
                color="success"
                label="OI Number"
                v-on="on"
              ></v-switch>
            </template>
            <span>This hose has an existing OI Part Number</span>
          </v-tooltip>
        </v-flex>
        <v-flex shrink>
          <v-layout row wrap align-center justify-center>
            <v-flex shrink>
              <v-text-field
                v-if="hoseLengthUnit == 'meters'"
                v-model="hoseLengthInMeters"
                v-validate="'required|min_value:.5'"
                outlined
                autocomplete="off"
                required
                :error-messages="errors.first('Hose Length')"
                data-vv-name="Hose Length"
                name="Hose Length"
                type="number"
                min=".5"
                label="Hose Length (m)*"
                hint="Cut hose length in meters"
              ></v-text-field>
              <v-text-field
                v-else
                v-model="newHose.hoseLength"
                v-validate="'required|min_value:2'"
                outlined
                autocomplete="off"
                required
                :error-messages="errors.first('Hose Length')"
                data-vv-name="Hose Length"
                name="Hose Length"
                type="number"
                min="2"
                label="Hose Length (in)*"
                append-icon="help"
                hint="Cut hose length in inches"
                @click:append="hoseDialog = true"
                @input="calcLengthBreakdown()"
              ></v-text-field>
            </v-flex>
            <v-flex shrink>
            </v-flex>
            <v-flex shrink class="pb-8">
              <loader-button
                icon="accessible"
                iconOnly
                tipText="The maths"
                color="warning"
                @click.native="feetConvert = true"
              ></loader-button>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
      <v-layout
        v-if="
          newHose.hoseSize &&
          parseInt(newHose.hoseSize) >= parseInt(maxHoseSizeMadeOnSite)
        "
        row
        wrap
        align-center
        justify-center
      >
        <v-flex shrink>
          <v-text-field
            v-model="newHose.hosePressureRating"
            v-validate="'required|min_value:1'"
            :error-messages="errors.first('Hose Pressure')"
            data-vv-name="Hose Pressure"
            name="Hose Pressure"
            type="number"
            outlined
            autocomplete="off"
            label="Pressure rating for hose*"
            hint="Pressure rating required for large hoses"
          ></v-text-field>
        </v-flex>
      </v-layout>
      <v-layout
        v-if="oiNumberBox && !showPartNumbers"
        row
        wrap
        align-center
        justify-center
      >
        <v-flex shrink>
          <v-text-field
            v-model="newHose.hoseOINumber"
            outlined
            label="Existing OI Number"
            @blur="fillInHoseData()"
          ></v-text-field>
        </v-flex>
      </v-layout>
      <v-layout
        v-if="
          showPartNumbers &&
          !oiNumberBox &&
          newHose.hoseSize &&
          parseInt(newHose.hoseSize) < parseInt(maxHoseSizeMadeOnSite)
        "
        column
        wrap
        justify-center
        align-space-around
      >
        <v-flex grow>
          <v-layout row wrap justify-space-around align-center>
            <v-flex shrink>
              <v-text-field
                v-model="newHose.hosePartNumber"
                outlined
                autocomplete="off"
                label="Hose Part Number"
              ></v-text-field>
            </v-flex>
            <v-flex shrink>
              <v-text-field
                v-model="newHose.hosePressureRating"
                outlined
                autocomplete="off"
                label="Hose Pressure Rating (psi)"
              ></v-text-field>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex grow>
          <v-layout row wrap justify-space-around align-center>
            <v-flex shrink>
              <v-text-field
                v-model="newHose.sideAFitting"
                outlined
                autocomplete="off"
                label="Side A Fitting Number"
              ></v-text-field>
            </v-flex>
            <v-flex shrink>
              <v-text-field
                v-model="newHose.sideBFitting"
                outlined
                autocomplete="off"
                label="Side B Fitting Number"
              ></v-text-field>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
      <v-layout row wrap justify-space-around align-center>
        <v-flex shrink>
          <date-input
            v-model="newHose.lastInspection"
            v-validate="'required'"
            name="Last Inspection"
            :error-messages="errors.first('Last Inspection')"
            notClearable
            label="Last Inspection*"
            :max="new Date().toISOString()"
          />
        </v-flex>
        <v-flex shrink class="pb-8">
          <loader-button
            icon="create"
            iconOnly
            color="warning"
            tipText="Show intervals"
            @click.native="
              frequencyOptions.length ? '' : getFrequencyOptions()
              showIntervals = !showIntervals
            "
          ></loader-button>
        </v-flex>
        <v-flex shrink>
          <date-input
            v-model="newHose.lastChange"
            v-validate="'required'"
            name="Last Change"
            :error-messages="errors.first('Last Change')"
            notClearable
            label="Last Change*"
            :max="new Date().toISOString()"
          />
        </v-flex>
      </v-layout>
      <v-layout v-if="showIntervals" row wrap justify-space-around align-center>
        <v-flex shrink>
          <v-select
            v-model="newHose.inspectionInterval"
            :items="frequencyOptions"
            outlined
            label="Inspection Interval"
            :error-messages="inspectionError"
            @input="checkIntervals()"
          ></v-select>
        </v-flex>
        <v-flex shrink>
          <v-select
            v-model="newHose.changeInterval"
            :items="frequencyOptions"
            :loading="intervalLoading"
            outlined
            label="Change Interval"
            :error-messages="changeError"
            @input="checkIntervals()"
          ></v-select>
        </v-flex>
      </v-layout>
      <v-layout row wrap align-center justify-center>
        <v-flex xs11>
          <v-textarea
            v-model="newHose.description"
            autocomplete="off"
            outlined
            auto-grow
            clearable
            counter="2000"
            label="Description"
          ></v-textarea>
        </v-flex>
      </v-layout>
      <v-layout row wrap align-center justify-space-around>
        <v-flex shrink>
          <loader-button
            color="warning"
            text="Cancel"
            @click.native="cancelNewHosePopup()"
          ></loader-button>
        </v-flex>
        <v-flex shrink>
          <loader-button
            color="success"
            text="Save"
            @click.native="saveNewHose()"
          ></loader-button>
        </v-flex>
      </v-layout>

      <v-dialog v-model="hoseDialog" width="675">
        <v-card>
          <img src="~/assets/hoseCut.jpg" alt="Diagram for hose measurements" />
        </v-card>
      </v-dialog>

      <v-dialog v-model="feetConvert" width="500" persistant>
        <v-card>
          <v-card-title>Length in Feet/Inches</v-card-title>
          <v-container fluid>
            <v-layout row wrap align-center justify-space-around>
              <v-flex shrink>
                <v-text-field
                  v-model="lengthInFeet"
                  autocomplete="off"
                  outlined
                  type="number"
                  label="Feet"
                  @input="calcLength()"
                ></v-text-field>
              </v-flex>
              <v-flex shrink>
                <v-text-field
                  v-model="lengthInInches"
                  autocomplete="off"
                  outlined
                  type="number"
                  max="11"
                  label="Inches"
                  @input="calcLength()"
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row wrap align-center justify-center>
              <v-flex shrink>Total Inches: {{ newHose.hoseLength }}</v-flex>
            </v-layout>
          </v-container>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="success" @click="feetConvert = false">OK</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-container>
  </base-form-dialog>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import { parseISO, addDays } from 'date-fns/esm'
import DateInput from '../Utils/DateInputField.vue'

export default {
  components: {
    DateInput,
  },
  props: {
    newHosePopup: {
      type: Boolean,
      default: false,
    },
    intervals: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      newHose: {
        tagNumber: '',
        customTag: '',
        description: '',
        hardware: [],
        location: '',

        hoseSize: [],
        hoseLength: '',
        hosePressureRating: '',
        hosePartNumber: '',
        sideAFitting: '',
        sideBFitting: '',

        hoseOINumber: '',

        lastInspection: '',
        inspectionInterval: '',
        lastChange: '',
        changeInterval: '',
      },

      frequencyOptions: [],
      intervalLoading: false,
      showIntervals: false,

      showPartNumbers: false,

      tagError: [],
      tagLoading: false,
      tagSuccess: [],

      oiNumberBox: false,

      hoseDialog: false,
      hoseOptions: [],
      hardwareOptions: [],
      feetConvert: false,
      lengthInFeet: '',
      lengthInInches: '',
      hoseLengthInMeters: '',

      changeError: [],
      inspectionError: [],

      hoseInspectionDateCal: false,
      hoseChangeDateCal: false,

      hoseID: '',
    }
  },
  computed: {
    ...mapState('sitewide', [
      'mongoUrl',
      'darkTheme',
      'hoseLengthUnit',
      'techName',
      'currentTaskMode',
      'defaultInspection',
      'maxHoseSizeMadeOnSite',
      'maxInspection',
      'defaultChange',
      'maxChange',
    ]),
  },
  watch: {
    oiNumberBox: function () {
      if (!this.oiNumberBox) {
        this.newHose.hoseOINumber = ''
        this.fillInHoseData()
      }
    },
    hoseID: function () {
      if (this.isNumber(this.hoseID)) {
        this.newHose.tagNumber = this.hoseID
        this.newHose.customTag = ''
      } else {
        this.newHose.customTag = this.hoseID
        this.newHose.tagNumber = ''
      }
    },
  },
  mounted() {
    this.getTagNumber()
    this.getHoseList()
    this.getHardwareList()
    this.newHose.inspectionInterval = this.defaultInspection
    this.newHose.changeInterval = this.defaultChange
  },
  methods: {
    ...mapActions('sitewide', ['logWrite', 'toastMessage']),
    isNumber(n) {
      return !isNaN(parseFloat(n)) && !isNaN(n - 0)
    },
    async getTagNumber(toCheck = 0) {
      this.tagLoading = 'warning'
      while (this.tagSuccess.length) {
        this.tagSuccess.pop()
      }
      while (this.tagError.length) {
        this.tagError.pop()
      }
      try {
        if (toCheck) {
          let tagResponse = ''
          if (this.isNumber(toCheck)) {
            tagResponse = await this.$axios.$get(
              `${this.mongoUrl}hoses/checktag/${toCheck}`
            )
          } else {
            tagResponse = await this.$axios.$get(
              `${this.mongoUrl}hoses/checktag/${toCheck}?custom=true`
            )
          }
          if (tagResponse == 'exists') {
            while (this.tagSuccess.length) {
              this.tagSuccess.pop()
            }
            this.tagError.push('Tag already exists')
          } else if (tagResponse == 'available') {
            while (this.tagError.length) {
              this.tagError.pop()
            }
            this.tagSuccess.push('Tag is available')
          } else if (tagResponse == 'custom') {
            while (this.tagError.length) {
              this.tagError.pop()
            }
            this.tagSuccess.push('Custom tag is available')
          }
        } else {
          const tagResponse = await this.$axios.$get(
            `${this.mongoUrl}hoses/checktag`
          )
          if (tagResponse.nextNumber) {
            this.hoseID = tagResponse.nextNumber
            while (this.tagError.length) {
              this.tagError.pop()
            }
            this.tagSuccess.push('Next Tag')
          }
        }
        this.tagLoading = false
      } catch (error) {
        this.toastMessage('An error occurred checking the hose tag number')
        this.logWrite({
          logType: 'error',
          logItem: `NewHose.vue, getTagNumber()- ${error}`,
        })
      }
    },
    async getHoseList() {
      this.hoseOptions = await this.$axios.$get(
        `${this.mongoUrl}hoses/defaults`
      )
    },
    async getHardwareList() {
      this.hardwareOptions = await this.$axios.$get(
        `${this.mongoUrl}hoses/hardware`
      )
    },
    fillInHoseData() {
      if (this.newHose.hoseOINumber == '') {
        this.hoseOptions.forEach((size) => {
          if (this.newHose.hoseSize == size.value) {
            this.newHose.hosePressureRating = size.hosePressureRating
            this.newHose.hosePartNumber = size.hosePartNumber
            this.newHose.sideAFitting = size.hoseFitting
            this.newHose.sideBFitting = size.hoseFitting
          }
        })
      } else {
        this.newHose.hosePressureRating = ''
        this.newHose.hosePartNumber = ''
        this.newHose.sideAFitting = ''
        this.newHose.sideBFitting = ''
      }
    },
    async getFrequencyOptions() {
      this.intervalLoading = 'warning'
      this.frequencyOptions = await this.$axios.$get(
        `${this.mongoUrl}settings/frequencyOptions`
      )
      this.intervalLoading = false
    },
    calcLength() {
      this.newHose.hoseLength = 0
      if (this.lengthInFeet) {
        this.newHose.hoseLength =
          parseInt(this.newHose.hoseLength) + parseInt(this.lengthInFeet) * 12
      }
      if (this.lengthInInches) {
        if (this.lengthInInches >= 12) {
          this.lengthInInches = 11
        }
        this.newHose.hoseLength =
          parseInt(this.newHose.hoseLength) + parseInt(this.lengthInInches)
      }
    },
    calcLengthBreakdown() {
      this.lengthInFeet = Math.floor(parseInt(this.newHose.hoseLength) / 12)
      this.lengthInInches = parseInt(this.newHose.hoseLength) % 12
    },
    checkIntervals() {
      if (parseInt(this.newHose.changeInterval) > this.maxChange) {
        this.changeError.push('Change cannot exceed set max')
      } else {
        while (this.changeError.length) {
          this.changeError.pop()
        }
      }
      if (parseInt(this.newHose.inspectionInterval) > this.maxInspection) {
        this.inspectionError.push('Inspection cannot exceed set max')
      } else {
        while (this.inspectionError.length) {
          this.inspectionError.pop()
        }
      }
    },
    saveNewHose() {
      if (this.techName === '') {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        this.$validator.validate().then(async (valid) => {
          if (valid) {
            let saveHose = ''
            this.$validator.pause()
            this.newHose.techName = this.techName
            
            if(this.hoseLengthUnit == 'meters'){
              this.newHose.hoseLength = this.hoseLengthInMeters * 39.3701
            }

            if (this.newHose.tagNumber == '') {
              delete this.newHose.tagNumber
            } else if (this.newHose.customTag == '') {
              delete this.newHose.customTag
            }

            this.newHose.nextInspection = addDays(
              parseISO(this.newHose.lastInspection),
              parseInt(this.newHose.inspectionInterval)
            )
            this.newHose.nextChange = addDays(
              parseISO(this.newHose.lastChange),
              parseInt(this.newHose.changeInterval)
            )
            try {
              saveHose = await this.$axios.$post(
                `${this.mongoUrl}hoses/`,
                this.newHose
              )
            } catch (error) {
              this.toastMessage('An error occurred submitting the new hose')
            }
            this.cancelNewHosePopup()
            this.toastMessage(saveHose)
            this.$nextTick(() => {
              this.$validator.reset()
              this.$validator.resume()
            })
            this.$emit('refreshHoses')
          }
        })
      }
    },
    cancelNewHosePopup() {
      this.$emit('close')
      this.$validator.pause()
      this.hoseID = ''
      this.newHose = {
        tagNumber: '',
        customTag: '',
        description: '',
        hardware: [],
        location: '',

        hoseSize: [],
        hoseLength: '',
        hosePressureRating: '',
        hosePartNumber: '',
        sideAFitting: '',
        sideBFitting: '',

        hoseOINumber: '',

        lastInspection: '',
        inspectionInterval: this.defaultInspection,
        lastChange: '',
        changeInterval: this.defaultChange,
      }
      this.$validator.reset()
      this.getTagNumber()
    },
  },
}
</script>

<style></style>
