<template>
  <base-form-dialog
    :active="showDetails"
    title="To Order Details"
    width="800"
    :editButton="toOrderItem.active"
    @edit="setEditMode()"
    @close="cancelDetailsToOrderPopup()"
  >
    <v-container fluid grid-list-lg @keydown.ctrl.83.prevent.stop="saveEditedToOrder()">
      <v-layout
        v-if="showReorderButton && !existingReorder"
        row
        wrap
        justify-center
        align-center
      >
        <v-flex shrink>
          <loader-button
            text="Order Again"
            @click.native="orderAgain()"
          ></loader-button>
        </v-flex>
      </v-layout>
      <v-layout
        row
        wrap
        justify-space-around
        align-center
        class="text-center pb-5"
      >
        <v-flex v-if="!editMode" shrink>
          <h4 class="grey--text text--darken-1">To Order Name</h4>
          <hr class="grey darken-1" />
          <h3>{{ toOrderItem.name }}</h3>
        </v-flex>
        <v-spacer v-if="editMode"></v-spacer>
        <v-flex v-if="editMode" xs10>
          <v-text-field
            v-model="editToOrder.name"
            v-validate="'required|min:5'"
            autocomplete="off"
            required
            :error-messages="errors.first('To Order Name')"
            data-vv-name="To Order Name"
            name="To Order Name"
            label="To Order Name*"
            outlined
          ></v-text-field>
        </v-flex>
      </v-layout>
      <v-layout
        row
        wrap
        justify-space-around
        align-center
        class="text-center pb-5"
      >
        <v-flex v-if="!editMode" shrink>
          <h4 class="grey--text text--darken-1">Entered By</h4>
          <hr class="grey darken-1" />
          <h3>{{ toOrderItem.enteredBy }}</h3>
          <h3>
            on
            <base-format-date
              :ISOdate="toOrderItem.enteredDate"
              return-blank
            ></base-format-date>
          </h3>
        </v-flex>
        <v-flex v-if="toOrderItem.modifiedBy && !editMode" shrink>
          <h4 class="grey--text text--darken-1">Last Modified By</h4>
          <hr class="grey darken-1" />
          <h3>{{ toOrderItem.modifiedBy }}</h3>
          <h3>
            on
            <base-format-date
              :ISOdate="toOrderItem.modifiedDate"
              return-blank
            ></base-format-date>
          </h3>
        </v-flex>
        <v-flex v-if="toOrderItem.orderedBy && !editMode" shrink>
          <h4 class="grey--text text--darken-1">Ordered By</h4>
          <hr class="grey darken-1" />
          <h3>{{ toOrderItem.orderedBy }}</h3>
          <h3>
            on
            <base-format-date
              :ISOdate="toOrderItem.orderedDate"
              return-blank
            ></base-format-date>
          </h3>
          <h3 v-if="toOrderItem.orderNumber">
            via {{ toOrderItem.orderNumber }}
          </h3>
        </v-flex>
        <v-flex v-if="toOrderItem.removedBy && !editMode" shrink>
          <h4 class="grey--text text--darken-1">Removed By</h4>
          <hr class="grey darken-1" />
          <h3>{{ toOrderItem.removedBy }}</h3>
          <h3>
            on
            <base-format-date
              :ISOdate="toOrderItem.removedDate"
              return-blank
            ></base-format-date>
          </h3>
        </v-flex>
      </v-layout>
      <v-layout
        row
        wrap
        justify-space-around
        align-center
        class="text-center pb-5"
      >
        <v-flex v-if="!editMode" shrink>
          <h4 class="grey--text text--darken-1">Priority</h4>
          <hr class="grey darken-1" />
          <h4>{{ priText(toOrderItem.priority) }}</h4>
        </v-flex>
        <v-flex v-if="editMode" shrink>
          <v-select
            v-model="editToOrder.priority"
            :items="priorityOptions"
            label="Priority"
            autocomplete="off"
            outlined
          ></v-select>
        </v-flex>
        <v-flex
          v-if="
            !editMode && toOrderItem.category && toOrderItem.category.length
          "
          shrink
        >
          <h4 class="grey--text text--darken-1">Category(ies)</h4>
          <hr class="grey darken-1" />
          <v-chip
            v-for="(cat, index) in toOrderItem.category"
            :key="index"
            small
            disabled
            >{{ cat }}</v-chip
          >
        </v-flex>
        <v-flex v-else-if="!editMode && !toOrderItem.category" shrink>
          <h4 class="grey--text text--darken-1">Category(ies)</h4>
          <hr class="grey darken-1" />
          <h5>No Categories Selected</h5>
        </v-flex>
        <v-flex v-if="editMode" shrink>
          <combo-box
            v-model="editToOrder.category"
            :existingValue="editToOrder.category"
            :items="categories"
            :loading="categoriesLoading"
            chips
            multiple
            label="Category(ies)"
            @focus="getCategories()"
          ></combo-box>
        </v-flex>
      </v-layout>
      <v-layout
        row
        wrap
        align-center
        justify-space-around
        class="text-center pb-5"
      >
        <v-flex v-if="!editMode && toOrderItem.quantity" shrink>
          <h4 class="grey--text text--darken-1">Quantity Requested</h4>
          <hr class="grey darken-1" />
          <h3>{{ toOrderItem.quantity }}</h3>
        </v-flex>
        <v-flex v-if="!editMode && toOrderItem.neededBy" shrink>
          <h4 class="grey--text text--darken-1">Needed By Date</h4>
          <hr class="grey darken-1" />
          <h4>
            <base-format-date
              :ISOdate="toOrderItem.neededBy"
              return-blank
            ></base-format-date>
          </h4>
        </v-flex>
        <v-flex v-if="editMode" shrink>
          <date-input-field
            v-model="editToOrder.neededBy"
            label="Due Date"
            :min="new Date().toISOString()"
          ></date-input-field>
        </v-flex>
      </v-layout>
      <v-layout
        v-if="!editMode && toOrderItem.vendor && toOrderItem.vendor.length"
        row
        wrap
        align-center
        justify-center
        class="pb-5"
      >
        <v-flex shrink>
          <v-simple-table dense fixed-header class="text-center">
            <template #default>
              <thead>
                <tr>
                  <th class="title">Vendor</th>
                  <th class="title">Part Number</th>
                  <th class="title">Quantity</th>
                  <th class="title">Pending</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(vendor, index) in toOrderItem.vendor" :key="index">
                  <td class="subtitle-1">{{ vendor.vendorName }}</td>
                  <v-tooltip
                    v-if="
                      (vendor.vendorName.toUpperCase() === 'OCEANEERING') |
                        (vendor.vendorName.toUpperCase() === 'OII')
                    "
                    top
                  >
                    <template #activator="{ on }">
                      <td
                        class="subtitle-1"
                        v-on="on"
                        @mouseover="getPartInfo(vendor.vendorPartNumber)"
                        @mouseout="oiDetails = {}"
                      >
                        {{ vendor.vendorPartNumber }}
                      </td>
                    </template>
                    <div
                      v-if="Object.keys(oiDetails).length"
                      class="text-center"
                    >
                      <v-card width="400">
                        <v-card-text>
                          <h2>{{ oiDetails.OINumber }}</h2>
                          <h3>{{ oiDetails.Description }}</h3>
                        </v-card-text>
                        <v-img
                          v-if="oiDetails.image"
                          :src="`data:image/jpeg;base64,${oiDetails.image}`"
                          contain
                          max-width="400"
                          max-height="400"
                        ></v-img>
                      </v-card>
                    </div>
                    <div v-else>No data available for this number</div>
                  </v-tooltip>
                  <td v-else class="subtitle-1">
                    {{ vendor.vendorPartNumber }}
                  </td>
                  <td class="subtitle-1">
                    {{ vendor.quantity }}
                  </td>
                  <td class="subtitle-1">
                    <v-tooltip right>
                      <template #activator="{ on }">
                        <span v-on="on">
                          <span v-if="vendor.isPending">
                            <loader-button
                              text="Remove Row Pending"
                              color="warning"
                              @click.native="togglePendingOnRow(vendor)"
                            ></loader-button>
                          </span>
                          <span v-else>
                            <loader-button
                              text="Set Row Pending"
                              color="success"
                              @click.native="togglePendingOnRow(vendor)"
                            ></loader-button>
                          </span>
                        </span>
                      </template>
                      <span>{{
                        vendor.pendingBy
                          ? `Last changed by: ${vendor.pendingBy}`
                          : 'Never been set'
                      }}</span>
                    </v-tooltip>
                  </td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-flex>
      </v-layout>
      <v-layout v-if="editMode" column wrap align-center justify-space-around>
        <v-flex shrink>
          <v-layout
            v-if="editToOrder.vendor.length"
            row
            wrap
            align-center
            justify-center
          >
            <v-flex shrink>
              <v-simple-table dense fixed-header class="text-center">
                <template #default>
                  <thead>
                    <tr>
                      <th class="title">Vendor</th>
                      <th class="title">Part Number</th>
                      <th class="title">Quantity</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="(vendor, index) in editToOrder.vendor"
                      :key="index"
                    >
                      <td class="subtitle-1">{{ vendor.vendorName }}</td>
                      <td class="subtitle-1">{{ vendor.vendorPartNumber }}</td>
                      <td class="subtitle-1">{{ vendor.quantity }}</td>
                      <td>
                        <loader-button
                          icon="remove"
                          color="error"
                          tipText="Remove Vendor"
                          tipLocation="right"
                          iconOnly
                          @click.native="editToOrder.vendor.splice(index, 1)"
                        ></loader-button>
                      </td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex shrink>
          <v-layout row wrap align-center justify-center>
            <v-flex
              v-if="
                newVendorName.toUpperCase() === 'OCEANEERING' ||
                newVendorName.toUpperCase() === 'OII'
              "
              shrink
            >
              <v-layout class="pb-7 pl-3" align-center justify-center>
                <v-flex grow>
                  <loader-button
                    icon="search"
                    @click.native="$emit('oiSearch', newVendorPartNumber)"
                  ></loader-button>
                </v-flex>
              </v-layout>
            </v-flex>
            <v-flex shrink>
              <v-combobox
                v-model="newVendorName"
                :items="vendorList"
                outlined
                :loading="vendorListLoading"
                autocomplete="off"
                label="Add Vendor"
                @focus="getVendors()"
              ></v-combobox>
            </v-flex>
            <v-flex shrink>
              <v-text-field
                v-model="newVendorPartNumber"
                outlined
                :label="`Part Number for ${
                  newVendorName == '' ? 'Vendor' : newVendorName
                }`"
              ></v-text-field>
            </v-flex>
            <v-flex shrink>
              <v-text-field
                v-model="newVendorQuantity"
                outlined
                type="number"
                min="1"
                :label="`Qty needed for  ${
                  newVendorPartNumber == '' ? 'part' : newVendorPartNumber
                }`"
              ></v-text-field>
            </v-flex>
            <v-flex shrink>
              <v-layout class="pb-7 pl-3" align-center justify-center>
                <v-flex grow>
                  <loader-button
                    icon="add"
                    fab
                    small
                    tipText="Add new vendor to list"
                    @click.native="addVendor()"
                  ></loader-button>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
      <v-layout
        v-if="!editMode"
        column
        wrap
        justify-space-around
        align-center
        class="text-center"
      >
        <v-flex v-if="tasksRelated.length" shrink class="pb-5">
          <h4 class="grey--text text--darken-1">Related Tasks</h4>
          <hr class="grey darken-1" />
          <v-chip v-for="(task, index) in tasksRelated" :key="index" disabled>{{
            task.text
          }}</v-chip>
        </v-flex>
        <v-flex v-if="todosRelated.length" shrink class="pb-5">
          <h4 class="grey--text text--darken-1">Related To Do's</h4>
          <hr class="grey darken-1" />
          <v-chip v-for="(todo, index) in todosRelated" :key="index" disabled>{{
            todo.text
          }}</v-chip>
        </v-flex>
      </v-layout>
      <v-layout v-if="editMode" row wrap align-center justify-space-around>
        <v-flex shrink>
          <v-autocomplete
            v-model="editToOrder.tasksCurrentlyLinked"
            :items="taskList"
            :loading="taskListLoading"
            label="Tasks related to order"
            small-chips
            deletable-chips
            multiple
            autocomplete="off"
            outlined
            @focus="getTasks()"
          ></v-autocomplete>
        </v-flex>
        <v-flex shrink>
          <v-autocomplete
            v-model="editToOrder.todosCurrentlyLinked"
            :items="todoList"
            :loading="todoListLoading"
            label="To Do(s) related to order"
            small-chips
            deletable-chips
            multiple
            autocomplete="off"
            outlined
            @focus="getTodos()"
          ></v-autocomplete>
        </v-flex>
      </v-layout>
      <v-layout
        v-if="toOrderItem.notes && !editMode"
        row
        wrap
        align-center
        justify-center
        class="text-center"
      >
        <v-flex xs11>
          <h4 class="grey--text text--darken-1">Additional Notes Entered</h4>
          <hr class="grey darken-1" />
          <v-card>
            <vue-markdown
              :source="toOrderItem.notes"
              :anchorAttributes="{ target: '_blank' }"
            ></vue-markdown>
          </v-card>
        </v-flex>
      </v-layout>
      <v-layout row wrap align-center justify-center>
        <v-flex
          v-if="
            !editMode &&
            toOrderItem.description &&
            toOrderItem.description.length
          "
          xs11
        >
          <h4 class="grey--text text--darken-1 text-center">Description</h4>
          <hr class="grey darken-1" />
          <v-card>
            <vue-markdown
              :source="toOrderItem.description"
              :anchorAttributes="{ target: '_blank' }"
            ></vue-markdown>
          </v-card>
        </v-flex>
        <v-flex v-if="editMode" xs11>
          <v-textarea
            v-model="editToOrder.description"
            autocomplete="off"
            outlined
            auto-grow
            counter="2000"
            label="Description"
          ></v-textarea>
        </v-flex>
      </v-layout>
      <v-layout row wrap align-center justify-center>
        <v-flex>
          <transition name="slide-fade">
            <file-list
              v-if="fileList.length"
              :fileUrl="`toorder/${toOrderItem._id}`"
              :fileList="fileList"
              @refreshFiles="getFileList()"
            ></file-list>
          </transition>
          <upload
            ref="upload"
            :apiPath="`${mongoUrl}files/upload/toorder/${toOrderItem._id}`"
            @allUploaded="getFileList()"
          ></upload>
        </v-flex>
      </v-layout>
      <v-layout v-if="editMode" row wrap align-center justify-space-around>
        <v-flex shrink>
          <loader-button
            color="warning"
            text="Cancel"
            @click.native="cancelDetailsToOrderPopup()"
          ></loader-button>
        </v-flex>
        <v-flex shrink>
          <loader-button
            color="success"
            text="Save"
            @click.native="saveEditedToOrder()" 
          ></loader-button>
        </v-flex>
      </v-layout>
    </v-container>
  </base-form-dialog>
</template>

<script>
import VueMarkdown from 'vue-markdown'
import DateInputField from '~/components/Utils/DateInputField'
import ComboBox from '~/components/Utils/BaseCombobox'
import FileList from '~/components/Utils/FileList'
import Upload from '~/components/Utils/Upload'
import { mapActions, mapState } from 'vuex'
import { parseISO, format } from 'date-fns/esm'

export default {
  components: {
    VueMarkdown,
    DateInputField,
    ComboBox,
    FileList,
    Upload,
  },
  props: {
    showDetails: {
      type: Boolean,
      default: false,
    },
    showReorderButton: {
      type: Boolean,
      default: false,
    },
    selectedPart: {
      type: String,
      default: '',
    },
    toOrderItem: {
      type: Object,
      default: () => ({
        active: false,
        name: '',
        neededBy: '',
        priority: 1,
        vendor: [],
        category: '',
        description: '',
        tasksCurrentlyLinked: [],
        todosCurrentlyLinked: [],
      }),
    },
  },
  data() {
    return {
      toOrderDueDateCal: false,
      editMode: false,

      editToOrder: {},
      existingReorder: false,

      newVendorName: '',
      newVendorPartNumber: '',
      newVendorQuantity: 1,

      taskList: [],
      taskListLoading: false,
      todoList: [],
      todoListLoading: false,
      vendorList: [],
      vendorListLoading: false,
      categories: [],
      categoriesLoading: false,

      tasksRelated: [],
      todosRelated: [],

      fileList: [],

      oiDetails: {},

      submitTimer: '',
    }
  },
  computed: {
    ...mapState('sitewide', ['mongoUrl', 'techName']),
    ...mapState('toorder', ['priorityOptions']),
  },
  watch: {
    showDetails: function () {
      if (this.showDetails) this.getFileList()
    },
    toOrderItem: function () {
      if (
        this.toOrderItem.tasksCurrentlyLinked &&
        this.toOrderItem.tasksCurrentlyLinked.length
      ) {
        this.getTaskList()
      } else {
        this.tasksRelated = []
      }
      if (
        this.toOrderItem.todosCurrentlyLinked &&
        this.toOrderItem.todosCurrentlyLinked.length
      ) {
        this.getTodoList()
      } else {
        this.todosRelated = []
      }
    },
    selectedPart: function () {
      this.newVendorPartNumber = this.selectedPart
    },
  },
  mounted() {},
  methods: {
    ...mapActions('sitewide', ['logWrite', 'toastMessage']),
    formatDate(date) {
      return format(parseISO(date), 'yyyy-MM-dd')
    },
    togglePendingOnRow(row) {
      if (this.techName === '') {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        row.isPending = !row.isPending
        row.pendingBy = this.techName
        this.delayedSend()
      }
    },
    delayedSend() {
      clearTimeout(this.submitTimer)
      this.submitTimer = setTimeout(() => {
        this.editToOrder = JSON.parse(JSON.stringify(this.toOrderItem))
        this.saveEditedToOrder()
        this.$emit('getOrders')
      }, 2000)
    },
    async getFileList() {
      this.fileList = await this.$axios.$get(
        `${this.mongoUrl}files/toorder/${this.toOrderItem._id}`
      )
    },
    getPriObject(priority) {
      for (let i = 0; i < this.priorityOptions.length; i++) {
        if (priority == this.priorityOptions[i].value) {
          return this.priorityOptions[i]
        }
      }
    },
    priText(priority) {
      for (let i = 0; i < this.priorityOptions.length; i++) {
        if (priority == this.priorityOptions[i].value) {
          return this.priorityOptions[i].text
        }
      }
    },
    async getPartInfo(oiNumber) {
      try {
        const itemResult = await this.$axios.$get(
          `${this.mongoUrl}parts/oiNumber/${oiNumber}`
        )
        itemResult ? (this.oiDetails = itemResult) : (this.oiDetails = {})
      } catch (error) {
        this.toastMessage('There was an error searching for parts')
        this.logWrite({
          logType: 'error',
          logItem: error,
        })
      }
    },
    async getTasks() {
      try {
        this.taskListLoading = 'warning'
        this.taskList = await this.$axios.$get(`${this.mongoUrl}taskdata/list`)
        this.taskListLoading = false
      } catch (error) {
        this.toastMessage('An error occurred, see log for details')
        this.logWrite({
          logType: 'error',
          logItem: error,
        })
      }
    },
    async getTaskList() {
      try {
        this.tasksRelated = await this.$axios.$get(
          `${this.mongoUrl}taskdata/list?tasks=${this.toOrderItem.tasksCurrentlyLinked}`
        )
      } catch (error) {
        this.toastMessage('An error occurred, see log for details')
        this.logWrite({
          logType: 'error',
          logItem: error,
        })
      }
    },
    async getVendors() {
      try {
        this.vendorListLoading = 'warning'
        this.vendorList = await this.$axios.$get(
          `${this.mongoUrl}toorder/vendors`
        )
        this.vendorListLoading = false
      } catch (error) {
        this.toastMessage('An error occurred, see log for details')
        this.logWrite({
          logType: 'error',
          logItem: error,
        })
      }
    },
    async getTodos() {
      try {
        this.todoListLoading = 'warning'
        this.todoList = await this.$axios.$get(`${this.mongoUrl}todo/list`)
        this.todoListLoading = false
      } catch (error) {
        this.toastMessage('An error occurred, see log for details')
        this.logWrite({
          logType: 'error',
          logItem: error,
        })
      }
    },
    async getTodoList() {
      try {
        this.todosRelated = await this.$axios.$get(
          `${this.mongoUrl}todo/list?todos=${this.toOrderItem.todosCurrentlyLinked}`
        )
      } catch (error) {
        this.toastMessage('An error occurred, see log for details')
        this.logWrite({
          logType: 'error',
          logItem: error,
        })
      }
    },
    async getCategories() {
      try {
        this.categoriesLoading = 'warning'
        this.categories = await this.$axios.$get(
          `${this.mongoUrl}toorder/categories`
        )
        this.categoriesLoading = false
      } catch (error) {
        this.toastMessage('An error occurred grabbing the categories')
        this.logWrite({
          logType: 'error',
          logItem: error,
        })
      }
    },
    addVendor() {
      this.editToOrder.vendor.push({
        vendorName: this.newVendorName,
        vendorPartNumber: this.newVendorPartNumber,
        quantity: this.newVendorQuantity,
      })
      this.newVendorName = ''
      this.newVendorPartNumber = ''
      this.newVendorQuantity = 1
    },
    setEditMode() {
      if (!this.editMode) {
        this.editToOrder = JSON.parse(JSON.stringify(this.toOrderItem))
        if (this.editToOrder.neededBy) {
          this.editToOrder.neededBy = this.formatDate(this.editToOrder.neededBy)
        }
        this.editMode = true
      } else {
        this.editMode = false
      }
    },
    orderAgain() {
      this.existingReorder = true
      this.editToOrder = JSON.parse(JSON.stringify(this.toOrderItem))
      if (this.editToOrder.neededBy) {
        this.editToOrder.neededBy = this.formatDate(this.editToOrder.neededBy)
      }
      delete this.editToOrder.active
      delete this.editToOrder._id
      delete this.editToOrder.modifiedBy
      delete this.editToOrder.modifiedDate
      delete this.editToOrder.updatedAt
      delete this.editToOrder.createdAt
      delete this.editToOrder.orderedDate
      delete this.editToOrder.orderedBy
      delete this.editToOrder.todosCurrentlyLinked
      delete this.editToOrder.tasksCurrentlyLinked
      this.editMode = true
    },
    saveEditedToOrder() {
      if (this.techName === '') {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        this.$validator.validate().then(async (valid) => {
          if (valid) {
            if (this.newVendorName !== '' && this.newVendorPartNumber !== '') {
              this.addVendor()
            }
            if (this.existingReorder) {
              let saveToOrder = ''
              this.$validator.pause()
              this.editToOrder.enteredBy = this.techName
              this.editToOrder.enteredDate = new Date()
              try {
                saveToOrder = await this.$axios.$post(
                  `${this.mongoUrl}toorder/`,
                  this.editToOrder
                )
                if (this.$refs.upload.files.length) {
                  this.$refs.upload.startUpload()
                }
                this.cancelDetailsToOrderPopup()
                this.toastMessage(saveToOrder)
                this.$nextTick(() => {
                  this.$validator.reset()
                  this.$validator.resume()
                })
              } catch (error) {
                this.toastMessage('An error occurred submitting the re order')
                this.logWrite(error)
              }
            } else {
              let saveToOrder = ''
              this.$validator.pause()
              this.editToOrder.modifiedBy = this.techName
              this.editToOrder.modifiedDate = new Date()
              try {
                saveToOrder = await this.$axios.$put(
                  `${this.mongoUrl}toorder/${this.editToOrder._id}`,
                  this.editToOrder
                )
                this.cancelDetailsToOrderPopup()
                this.toastMessage(saveToOrder)
                this.$nextTick(() => {
                  this.$validator.reset()
                  this.$validator.resume()
                })
              } catch (error) {
                this.toastMessage('An error occurred editing the to do')
                this.logWrite({
                  logType: 'error',
                  logItem: error,
                })
              }
            }
          }
        })
      }
    },
    cancelDetailsToOrderPopup() {
      this.$emit('close')
      this.$emit('getOrders')
      this.existingReorder = false
      this.editMode = false
      this.editToOrder = {}
      this.fileList = []
      this.$refs.upload.clearList()
    },
  },
}
</script>

<style>
.slide-fade-enter-active {
  transition: all 0.5s ease;
}
/* .slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
} */
/* .slide-fade-leave-to, */
.slide-fade-enter {
  transform: translateX(10px);
  opacity: 0;
}
</style>
