<template>
  <base-form-dialog
    :active="newToOrderPopup"
    title="Create New Needed Item"
    width="1000"
    @close="cancelNewToOrderPopup()"
  >
    <v-container fluid grid-list-md text-center @keydown.ctrl.83.prevent.stop="saveNewToOrder()">
      <v-layout row wrap justify-space-around align-center>
        <v-flex xs11>
          <v-text-field
            v-model="newToOrder.name"
            v-validate="'required|min:5'"
            autocomplete="off"
            required
            :error-messages="errors.first('To Order Name')"
            data-vv-name="To Order Name"
            name="To Order Name"
            label="To Order Name*"
            outlined
          ></v-text-field>
        </v-flex>
      </v-layout>
      <v-layout row wrap justify-space-around align-center>
        <v-flex shrink>
          <v-select
            v-model="newToOrder.priority"
            :items="priorityOptions"
            :value="1"
            label="Priority"
            autocomplete="off"
            outlined
          ></v-select>
        </v-flex>
        <v-flex shrink>
          <combo-box
            v-model="newToOrder.category"
            :items="categories"
            :loading="categoriesLoading"
            multiple
            chips
            label="Category"
            @focus="getCategories()"
          ></combo-box>
        </v-flex>
      </v-layout>
      <v-layout row wrap justify-space-around align-center>
        <v-flex shrink>
          <date-input-field
            v-model="newToOrder.neededBy"
            label="Due Date"
            :min="new Date().toISOString()"
          ></date-input-field>
        </v-flex>
      </v-layout>
      <v-layout column wrap align-center justify-space-around>
        <v-flex shrink>
          <v-layout
            v-if="newToOrder.vendor.length"
            row
            wrap
            align-center
            justify-center
          >
            <v-flex shrink>
              <v-simple-table dense fixed-header class="text-center">
                <template #default>
                  <thead>
                    <tr>
                      <th class="title">Vendor</th>
                      <th class="title">Part Number</th>
                      <th class="title">Quantity</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="(vendor, index) in newToOrder.vendor"
                      :key="index"
                    >
                      <td class="subtitle-1">{{ vendor.vendorName }}</td>
                      <td class="subtitle-1">{{ vendor.vendorPartNumber }}</td>
                      <td class="subtitle-1">{{ vendor.quantity }}</td>
                      <td>
                        <loader-button
                          icon="remove"
                          color="error"
                          tipText="Remove Vendor"
                          tipLocation="right"
                          iconOnly
                          @click.native="newToOrder.vendor.splice(index, 1)"
                        ></loader-button>
                      </td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex shrink>
          <v-layout row wrap align-center justify-center>
            <v-flex
              v-if="
                newVendorName.toUpperCase() === 'OCEANEERING' ||
                newVendorName.toUpperCase() === 'OII'
              "
              shrink
            >
              <v-layout class="pb-7 pl-3" align-center justify-center>
                <v-flex grow>
                  <loader-button
                    icon="search"
                    @click.native="$emit('oiSearch', newVendorPartNumber)"
                  ></loader-button>
                </v-flex>
              </v-layout>
            </v-flex>
            <v-flex shrink>
              <v-combobox
                v-model="newVendorName"
                :items="vendorList"
                outlined
                :loading="vendorListLoading"
                autocomplete="off"
                label="Add Vendor"
                @focus="getVendors()"
              ></v-combobox>
            </v-flex>
            <v-flex shrink>
              <v-text-field
                v-model="newVendorPartNumber"
                outlined
                :error-messages="partExistingError"
                :append-outer-icon="
                  partExistingError.length ? 'error' : undefined
                "
                :label="`Part Number for ${
                  newVendorName == '' ? 'Vendor' : newVendorName
                }`"
                :hint="partExistHint"
                @click:append-outer="showOtherParts = true"
                @keyup="checkExistingPartNumber"
              ></v-text-field>
            </v-flex>
            <v-flex shrink>
              <v-text-field
                v-model="newVendorQuantity"
                outlined
                :label="`Quantity for ${
                  newVendorPartNumber == '' ? 'part' : newVendorPartNumber
                }`"
                type="number"
                min="1"
              ></v-text-field>
            </v-flex>
            <v-flex shrink>
              <v-layout class="pb-7 pl-3" align-center justify-center>
                <v-flex grow>
                  <loader-button
                    icon="add"
                    fab
                    small
                    tipText="Add new vendor to list"
                    @click.native="addVendor()"
                  ></loader-button>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
      <v-layout row wrap align-center justify-space-around>
        <v-flex shrink>
          <v-autocomplete
            v-model="newToOrder.tasksCurrentlyLinked"
            :items="taskList"
            :loading="taskListLoading"
            label="Tasks related to order"
            small-chips
            deletable-chips
            multiple
            autocomplete="off"
            outlined
            @focus="getTasks()"
          ></v-autocomplete>
        </v-flex>
        <v-flex shrink>
          <v-autocomplete
            v-model="newToOrder.todosCurrentlyLinked"
            :items="todoList"
            :loading="todoListLoading"
            label="To Do(s) related to order"
            small-chips
            deletable-chips
            multiple
            autocomplete="off"
            outlined
            @focus="getTodos()"
          ></v-autocomplete>
        </v-flex>
      </v-layout>
      <v-layout row wrap align-center justify-center>
        <v-flex xs11>
          <v-textarea
            v-model="newToOrder.description"
            autocomplete="off"
            name="input-7-1"
            outlined
            auto-grow
            clearable
            counter="2000"
            label="Description"
          ></v-textarea>
        </v-flex>
      </v-layout>
      <v-layout row wrap align-center justify-center>
        <v-flex>
          <upload
            ref="upload"
            hideUpload
            :apiPath="`${mongoUrl}files/upload/toorder/${newID}`"
            @allUploaded="cancelNewToOrderPopup()"
          ></upload>
        </v-flex>
      </v-layout>
      <v-layout row wrap align-center justify-space-around>
        <v-flex shrink>
          <loader-button
            color="warning"
            text="Cancel"
            @click.native="cancelNewToOrderPopup()"
          ></loader-button>
        </v-flex>
        <v-flex shrink>
          <loader-button
            color="success"
            text="Save"
            @click.native="saveNewToOrder()" 
          ></loader-button>
        </v-flex>
      </v-layout>
    </v-container>
    <other-parts
      :inventoryParts="inventoryPartResults"
      :orderParts="orderPartResults"
      :active="showOtherParts"
      :locationList="locationList"
      @close="showOtherParts = false"
    ></other-parts>
  </base-form-dialog>
</template>

<script>
import DateInputField from '~/components/Utils/DateInputField'
import ComboBox from '~/components/Utils/BaseCombobox'
import Upload from '~/components/Utils/Upload'
import OtherParts from '~/components/ToOrder/OtherParts'
import { mapActions, mapState } from 'vuex'

export default {
  components: {
    DateInputField,
    ComboBox,
    Upload,
    OtherParts,
  },
  props: {
    newToOrderPopup: {
      type: Boolean,
      default: false,
    },
    selectedPart: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      taskList: [],
      taskListLoading: false,
      todoList: [],
      todoListLoading: false,
      vendorList: [],
      vendorListLoading: false,
      categories: [],
      categoriesLoading: false,

      newToOrder: {
        name: '',
        neededBy: '',
        priority: 1,
        linkedInventoryItem: '',
        vendor: [],
        category: [],

        description: '',
        tasksCurrentlyLinked: [],
        todosCurrentlyLinked: [],
      },

      newVendorName: '',
      newVendorPartNumber: '',
      newVendorQuantity: '',

      inventoryPartResults: [],
      orderPartResults: [],
      partExistingError: '',
      partExistHint: '',
      showOtherParts: false,

      loadingLocationList: false,
      locationList: [],

      toOrderDueDateCal: false,

      newID: '',
    }
  },
  computed: {
    ...mapState('sitewide', ['mongoUrl', 'techName', 'orderMonths']),
    ...mapState('toorder', ['priorityOptions']),
  },
  watch: {
    selectedPart: function () {
      this.newVendorPartNumber = this.selectedPart
    },
  },
  methods: {
    ...mapActions('sitewide', ['logWrite', 'toastMessage']),
    async getTasks() {
      try {
        this.taskListLoading = 'warning'
        this.taskList = await this.$axios.$get(`${this.mongoUrl}taskdata/list`)
        this.taskListLoading = false
      } catch (error) {
        this.toastMessage('An error occurred, see log for details')
        this.logWrite({
          logType: 'error',
          logItem: error,
        })
      }
    },
    async getTodos() {
      try {
        this.todoListLoading = 'warning'
        this.todoList = await this.$axios.$get(`${this.mongoUrl}todo/list`)
        this.todoListLoading = false
      } catch (error) {
        this.toastMessage('An error occurred, see log for details')
        this.logWrite({
          logType: 'error',
          logItem: error,
        })
      }
    },
    async getVendors() {
      try {
        this.vendorListLoading = 'warning'
        this.vendorList = await this.$axios.$get(
          `${this.mongoUrl}toorder/vendors`
        )
        this.vendorListLoading = false
      } catch (error) {
        this.toastMessage('An error occurred, see log for details')
        this.logWrite({
          logType: 'error',
          logItem: error,
        })
      }
    },
    async getCategories() {
      try {
        this.categoriesLoading = 'warning'
        this.categories = await this.$axios.$get(
          `${this.mongoUrl}toorder/categories`
        )
        this.categoriesLoading = false
      } catch (error) {
        this.toastMessage('An error occurred grabbing the categories')
        this.logWrite({
          logType: 'error',
          logItem: error,
        })
      }
    },
    addVendor() {
      this.partExistingError = ''
      this.partExistHint = ''
      this.newToOrder.vendor.push({
        vendorName: this.newVendorName,
        vendorPartNumber: this.newVendorPartNumber,
        quantity: this.newVendorQuantity,
      })
      this.newVendorName = ''
      this.newVendorPartNumber = ''
    },
    async checkExistingPartNumber() {
      if (this.newVendorPartNumber.length > 2) {
        this.inventoryPartResults = await this.$axios.$get(
          `${this.mongoUrl}inventory/search?partNumber=${this.newVendorPartNumber}`
        )
        this.orderPartResults = await this.$axios.$get(
          `${this.mongoUrl}toorder/similar?months=${this.orderMonths}&match=${this.newVendorPartNumber}`
        )

        if (this.inventoryPartResults.length || this.orderPartResults.length) {
          if (this.inventoryPartResults.length && !this.locationList.length) {
            this.getLocationList()
          }
          if (this.partExistHint) {
            this.partExistHint = ''
          }
          this.partExistingError = `Part may already exist, ${
            this.inventoryPartResults.length + this.orderPartResults.length
          } similar results`
        } else {
          if (this.partExistingError) this.partExistingError = ''
        }
      } else {
        if (this.partExistingError) this.partExistingError = ''
        this.partExistHint = 'enter > 2 characters'
      }
    },
    async getLocationList() {
      this.loadingLocationList = true
      this.locationList = await this.$axios.$get(
        `${this.mongoUrl}inventory/locations/list`
      )
      this.loadingLocationList = false
    },
    saveNewToOrder() {
      if (this.techName === '') {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        if (this.newVendorName !== '' && this.newVendorPartNumber !== '') {
          this.addVendor()
        }
        this.$validator.validate().then(async (valid) => {
          if (valid) {
            let saveToOrder = ''
            this.newToOrder.enteredBy = this.techName
            this.newToOrder.enteredDate = new Date()
            try {
              saveToOrder = await this.$axios.$post(
                `${this.mongoUrl}toorder/`,
                this.newToOrder
              )
              if (this.$refs.upload.files.length) {
                this.newID = saveToOrder.object._id
                setTimeout(() => {
                  this.$refs.upload.startUpload()
                }, 300)
              } else {
                this.cancelNewToOrderPopup()
              }
              this.toastMessage(saveToOrder.message)
              this.$emit('getOrders')
              this.$validator.reset()
            } catch (error) {
              this.toastMessage(
                'An error occurred submitting the new item to order'
              )
              this.logWrite(error)
            }
          }
        })
      }
    },
    cancelNewToOrderPopup() {
      this.$emit('close')
      this.$refs.upload.clearList()
      this.partExistingError = ''
      this.partExistHint = ''
      while (this.newToOrder.category.length) this.newToOrder.category.pop()

      this.newToOrder = {
        name: '',
        quantity: 1,
        neededBy: undefined,
        priority: 1,
        linkedInventoryItem: '',
        category: [],
        vendor: [],

        description: '',
        tasksCurrentlyLinked: [],
        todosCurrentlyLinked: [],
      }
      this.newID = ''
      this.newVendorPartNumber = ''
      this.newVendorName = ''
      this.newVendorQuantity = 1
    },
  },
}
</script>

<style></style>
