<template>
  <base-form-dialog
    :active="active"
    title="Other Similar Part Numbers"
    width="800"
    @close="cancelSimilarPartWindow()"
  >
    <v-container>
      <v-expansion-panels>
        <v-expansion-panel v-if="inventoryParts && inventoryParts.length">
          <v-expansion-panel-header>
            Items in inventory ({{ inventoryParts.length }} item{{
              inventoryParts.length.length > 1 ? 's' : ''
            }})
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-layout column justify-start align-start>
              <v-flex v-for="(item, index) in inventoryParts" :key="index">
                <ul>
                  <li>{{ item.name }}</li>
                  <ul>
                    <li>Qty on hand:{{ item.totalOnHand }}</li>
                    <li>
                      Part Numbers:
                      <ul
                        v-for="(partNumber, index2) in item.partNumber"
                        :key="index2"
                      >
                        <li>
                          Vendor:
                          {{ partNumber.vendor }}
                          | Part Number:
                          {{ partNumber.partNumber }}
                        </li>
                      </ul>
                    </li>
                    <li>
                      Locations:
                      <ul>
                        <li
                          v-for="(location, index3) in item.locations"
                          :key="index3"
                        >
                          {{ getLocationText(location.location) }} | Qty Here:{{
                            location.qty
                          }}
                        </li>
                      </ul>
                    </li>
                  </ul>
                </ul>
              </v-flex>
            </v-layout>
          </v-expansion-panel-content>
        </v-expansion-panel>
        <v-expansion-panel
          v-if="orderParts && orderParts.filter((part) => !part.active).length"
        >
          <v-expansion-panel-header>
            Items already on previously submitted orders ({{
              orderParts.filter((part) => !part.active).length
            }}
            item{{
              orderParts.filter((part) => !part.active).length > 1 ? 's' : ''
            }}
            in the last {{ orderMonths }} months)
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-layout column justify-start align-start>
              <v-flex
                v-for="(item, index) in orderParts.filter(
                  (part) => !part.active
                )"
                :key="index"
              >
                <ul>
                  <li>{{ item.name }}</li>
                  <ul>
                    <li v-if="item.quantity">
                      Qty requested: {{ item.quantity }}
                    </li>
                    <li v-if="item.enteredBy && item.enteredDate">
                      Entered By: {{ item.enteredBy }} on
                      <base-format-date
                        :ISOdate="item.enteredDate"
                      ></base-format-date>
                    </li>
                    <li v-if="item.orderedBy && item.orderedDate">
                      Ordered By: {{ item.orderedBy }} on
                      <base-format-date
                        :ISOdate="item.orderedDate"
                      ></base-format-date>
                    </li>
                    <li v-if="item.vendor && item.vendor.length">
                      Part Numbers:
                      <ul
                        v-for="(partNumber, index2) in item.vendor"
                        :key="index2"
                      >
                        <li>
                          Vendor:
                          {{ partNumber.vendorName }}
                          | Part Number:
                          {{ partNumber.vendorPartNumber }}
                        </li>
                      </ul>
                    </li>
                  </ul>
                </ul>
              </v-flex>
            </v-layout>
          </v-expansion-panel-content>
        </v-expansion-panel>
        <v-expansion-panel
          v-if="orderParts && orderParts.filter((part) => part.active).length"
        >
          <v-expansion-panel-header>
            Items already on current orders ({{
              orderParts.filter((part) => part.active).length
            }}
            item{{
              orderParts.filter((part) => part.active).length > 1 ? 's' : ''
            }})
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-layout column justify-start align-start>
              <v-layout column justify-start align-start>
                <v-flex
                  v-for="(item, index) in orderParts.filter(
                    (part) => part.active
                  )"
                  :key="index"
                >
                  <ul>
                    <li>{{ item.name }}</li>
                    <ul>
                      <li v-if="item.quantity">
                        Qty requested: {{ item.quantity }}
                      </li>
                      <li v-if="item.enteredBy && item.enteredDate">
                        Entered By: {{ item.enteredBy }} on
                        <base-format-date
                          :ISOdate="item.enteredDate"
                        ></base-format-date>
                      </li>
                      <li v-if="item.orderedBy && item.orderedDate">
                        Ordered By: {{ item.orderedBy }} on
                        <base-format-date
                          :ISOdate="item.orderedDate"
                        ></base-format-date>
                      </li>
                      <li v-if="item.vendor && item.vendor.length">
                        Part Numbers:
                        <ul
                          v-for="(partNumber, index2) in item.vendor"
                          :key="index2"
                        >
                          <li>
                            Vendor:
                            {{ partNumber.vendorName }}
                            | Part Number:
                            {{ partNumber.vendorPartNumber }}
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </ul>
                </v-flex>
              </v-layout>
            </v-layout>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-container>
  </base-form-dialog>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import BaseFormDialog from '../Utils/BaseFormDialog.vue'

export default {
  name: 'OtherPartsView',
  components: {
    BaseFormDialog,
  },
  props: {
    active: {
      type: Boolean,
      default: false,
    },
    inventoryParts: {
      type: Array,
      default: () => [],
    },
    orderParts: {
      type: Array,
      default: () => [],
    },
    locationList: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {}
  },
  computed: {
    ...mapState('sitewide', [
      'mongoUrl',
      'userLoggedIn',
      'loggedInUser',
      'orderMonths',
    ]),
  },
  watch: {},
  mounted() {},
  methods: {
    ...mapActions('sitewide', ['logWrite', 'toastMessage']),
    cancelSimilarPartWindow() {
      this.$emit('close')
    },
    getLocationText(id) {
      for (let i = 0; i < this.locationList.length; i++) {
        if (this.locationList[i].value == id) {
          return this.locationList[i].text
        }
      }
    },
  },
}
</script>

<style></style>
