<template>
  <div>
    <base-form-dialog
      title="Item Attachments"
      width="850"
      :active="attachmentPopup"
      @close="closeAttachmentPopup"
    >
      <v-container>
        <v-row align="center" justify="center">
          <file-list
            :fileUrl="`inventory/${item._id}`"
            :fileList="attachmentList"
            :loading="loadingAttachments"
            @refreshFiles="getAttachments"
          ></file-list>
        </v-row>
        <v-row>
          <v-spacer></v-spacer>
          <v-col cols="11">
            <upload
              ref="taskUpload"
              :apiPath="`${mongoUrl}files/upload/inventory/${item._id}`"
              @fileUpload="getAttachments"
            ></upload>
          </v-col>
          <v-spacer></v-spacer>
        </v-row>
      </v-container>
    </base-form-dialog>
  </div>
</template>

<script>
import Upload from '~/components/Utils/Upload.vue'
import FileList from '~/components/Utils/FileList.vue'
import { mapActions, mapState } from 'vuex'

export default {
  components: {
    Upload,
    FileList,
  },
  props: {
    item: {
      type: Object,
      default: () => {},
    },
    attachmentPopup: {
      type: Boolean,
      default: false,
    },
    attachmentList: {
      type: Array,
      default: () => [],
    },
    loadingAttachments: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      headers: [
        {
          text: '',
          value: 'download',
          align: 'center',
        },
        {
          text: 'Attachment Name',
          value: 'file',
          sortable: true,
          align: 'center',
        },
        {
          text: '',
          value: 'delete',
          align: 'center',
        },
      ],
      search: '',

      attachmentsUploadItem: '',
      idToSend: '',
    }
  },
  computed: {
    ...mapState('sitewide', [
      'mongoUrl',
      'userLoggedIn',
      'loggedInUser',
      'techName',
    ]),
  },
  watch: {
    'item._id': function () {
      this.getAttachments()
    },
  },
  mounted() {
    this.totalRows = this.attachmentList.length || 0
  },
  methods: {
    ...mapActions('sitewide', ['logWrite', 'toastMessage']),
    getAttachments() {
      this.$emit('update')
    },
    closeAttachmentPopup() {
      this.$emit('close')
      this.$refs.taskUpload.clearList()
    },
  },
}
</script>

<style scoped>
a {
  color: inherit;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.popup {
  position: fixed;
  z-index: 10;
}

/* test file upload */
li {
  margin: 8px 0;
}

h2 {
  font-weight: bold;
  margin-bottom: 15px;
}

del {
  color: rgba(0, 0, 0, 0.3);
}

input[type='file'] {
  position: absolute;
  top: -500px;
}
div.file-listing {
  width: 200px;
}
span.remove-file {
  color: red;
  cursor: pointer;
  float: right;
}
</style>
