<template>
  <base-form-dialog
    :active="inventoryItemPopup"
    :editButton="userLoggedIn || inventoryMode ? true : false"
    editButtonColor="warning"
    title="Item Details"
    width="900"
    @edit="editMode"
    @close="closePopup"
  >
    <v-container fluid grid-list-md class="text-center" @keydown.ctrl.83.prevent.stop="saveChanges">
      <v-layout
        v-if="!Object.keys(inventoryItem).length"
        row
        align-center
        justify-center
      >
        <v-flex> Loading information about item.... </v-flex>
      </v-layout>
      <div v-else>
        <v-layout v-if="!editModeActive" row align-center justify-space-between>
          <v-flex>
            <v-layout row align-center justify-space-around>
              <v-flex shrink>
                <h4 class="grey--text text--darken-1">Name</h4>
                <hr class="grey darken-1" />
                <h4>{{ inventoryItem.name }}</h4>
              </v-flex>
              <v-flex shrink>
                <h4 class="grey--text text--darken-1">Total On Hand</h4>
                <hr class="grey darken-1" />
                <h4>{{ inventoryItem.totalOnHand }}</h4>
              </v-flex>
              <v-flex v-if="inventoryItem.uom" shrink>
                <h4 class="grey--text text--darken-1">Unit of Measure</h4>
                <hr class="grey darken-1" />
                <h4>{{ inventoryItem.uom }}</h4>
              </v-flex>
              <v-flex
                v-if="inventoryItem.criticalSpare || inventoryItem.compliance"
                shrink
              >
                <v-layout column shrink>
                  <v-flex v-if="inventoryItem.criticalSpare" shrink>
                    <h4 class="deep-orange lighten-3 black--text">
                      Critical Spare
                    </h4>
                  </v-flex>
                  <v-flex v-if="inventoryItem.compliance" shrink>
                    <h4 class="teal accent-3 black--text">Compliance</h4>
                  </v-flex>
                </v-layout>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex shrink>
            <v-tooltip bottom>
              <template #activator="{ on }">
                <v-badge
                  :content="attachmentList.length ? attachmentList.length : '0'"
                  left
                >
                  <v-icon v-on="on" @click="attachmentPopupActive = true">
                    attach_file
                  </v-icon>
                </v-badge>
              </template>
              <span>Open Attachments Window</span>
            </v-tooltip>
          </v-flex>
        </v-layout>
        <v-layout v-else row align-center justify-space-around>
          <v-flex shrink>
            <v-text-field
              v-model="editInventoryItem.name"
              autocomplete="off"
              label="Name*"
              outlined
            ></v-text-field>
          </v-flex>
          <v-flex shrink>
            <v-text-field
              v-model="editInventoryItem.uom"
              autocomplete="off"
              label="Unit of Measure"
              outlined
            ></v-text-field>
          </v-flex>
          <v-flex shrink>
            <v-layout column>
              <v-flex shrink>
                <v-switch
                  v-model="editInventoryItem.criticalSpare"
                  class="pa-0 ma-0"
                  color="warning"
                  label="Critical Spare"
                  hide-details
                ></v-switch>
              </v-flex>
              <v-flex shrink>
                <v-switch
                  v-model="editInventoryItem.compliance"
                  class="pa-0 ma-0"
                  color="success"
                  label="Compliance"
                  hide-details
                ></v-switch>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
        <v-layout v-if="editModeActive" row justify-space-around>
          <v-flex shrink>
            <v-tooltip bottom>
              <template #activator="{ on }">
                <div v-on="on">
                  <v-switch
                    v-model="editInventoryItem.detailNeeded"
                    class="pa-0 ma-0"
                    color="success"
                    label="Detail Needed"
                    hide-details
                  ></v-switch>
                </div>
              </template>
              <span>
                Add details such as serial number or batch number with custom
                label.
              </span>
            </v-tooltip>
          </v-flex>
          <v-flex shrink>
            <v-tooltip bottom>
              <template #activator="{ on }">
                <div v-on="on">
                  <v-switch
                    v-model="editInventoryItem.dateNeeded"
                    class="pa-0 ma-0"
                    color="success"
                    label="Date Needed"
                    hide-details
                  ></v-switch>
                </div>
              </template>
              <span> Add date such as item expiry or calibration. </span>
            </v-tooltip>
          </v-flex>
        </v-layout>
        <v-layout
          v-if="
            editModeActive &&
            (editInventoryItem.detailNeeded || editInventoryItem.dateNeeded)
          "
          row
          justify-space-around
        >
          <v-flex shrink>
            <v-text-field
              v-model="editInventoryItem.detailLabel"
              :disabled="!editInventoryItem.detailNeeded"
              dense
              hide-details
              outlined
              label="Detail Label"
            ></v-text-field>
          </v-flex>
          <v-flex shrink>
            <v-text-field
              v-model="editInventoryItem.dateLabel"
              :disabled="!editInventoryItem.dateNeeded"
              dense
              hide-details
              outlined
              label="Date Label"
            ></v-text-field>
          </v-flex>
        </v-layout>
        <v-layout v-if="editModeActive" row align-center justify-space-around>
          <v-flex shrink>
            <v-text-field
              v-model="editInventoryItem.customerID"
              autocomplete="off"
              label="Customer ID"
              outlined
            ></v-text-field>
          </v-flex>
          <v-flex shrink>
            <v-text-field
              v-model="editInventoryItem.PO"
              autocomplete="off"
              label="PO #"
              outlined
            ></v-text-field>
          </v-flex>
        </v-layout>
        <v-layout v-if="!editModeActive" row align-center justify-space-around>
          <v-flex shrink>
            <h4 class="grey--text text--darken-1">Description</h4>
            <hr class="grey darken-1" />
            <h4>{{ inventoryItem.description }}</h4>
          </v-flex>
          <v-flex shrink>
            <h4 class="grey--text text--darken-1">Min</h4>
            <hr class="grey darken-1" />
            <h4>{{ inventoryItem.min }}</h4>
          </v-flex>
          <v-flex shrink>
            <h4 class="grey--text text--darken-1">Max</h4>
            <hr class="grey darken-1" />
            <h4>{{ inventoryItem.max }}</h4>
          </v-flex>
        </v-layout>
        <div v-else>
          <v-layout row align-center justify-space-around>
            <v-flex>
              <v-text-field
                v-model="editInventoryItem.description"
                autocomplete="off"
                hint="If left empty and an Oceaneering part is used (via search dialog) this will be auto filled"
                label="Description"
                outlined
              ></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row align-center justify-space-around>
            <v-flex>
              Minimum we should have on hand:
              <v-text-field
                v-model="editInventoryItem.min"
                autocomplete="off"
                class="width"
                background-color="rgba(136, 136, 136, 0.3)"
                append-icon="add"
                prepend-inner-icon="remove"
                @blur="
                  editInventoryItem.min < editInventoryItem.max
                    ? null
                    : (editInventoryItem.min = editInventoryItem.max)
                "
                @click:prepend-inner="
                  editInventoryItem.min > 0
                    ? editInventoryItem.min--
                    : (editInventoryItem.min = 0)
                "
                @click:append="
                  editInventoryItem.min < editInventoryItem.max
                    ? editInventoryItem.min++
                    : (editInventoryItem.min = editInventoryItem.max)
                "
              ></v-text-field>
            </v-flex>
            <v-flex>
              Maximum to order up to:
              <v-text-field
                v-model="editInventoryItem.max"
                autocomplete="off"
                class="width"
                background-color="rgba(136, 136, 136, 0.3)"
                append-icon="add"
                prepend-inner-icon="remove"
                @blur="
                  editInventoryItem.max > editInventoryItem.min
                    ? null
                    : (editInventoryItem.max = editInventoryItem.min)
                "
                @click:prepend-inner="
                  editInventoryItem.max > editInventoryItem.min
                    ? editInventoryItem.max--
                    : (editInventoryItem.max = editInventoryItem.min)
                "
                @click:append="editInventoryItem.max++"
              ></v-text-field>
            </v-flex>
          </v-layout>
        </div>
        <div v-if="!editModeActive">
          <v-layout row wrap align-center justify-center>
            <v-flex shrink>
              <v-card elevation="12" outlined>
                <span>Locations</span>
                <v-simple-table v-if="inventoryItem.locations[0] != null">
                  <template #default>
                    <thead>
                      <tr>
                        <th class="text-center">Path</th>
                        <th class="text-center">Location</th>
                        <th class="text-center">Qty Here</th>
                        <th class="text-center">Use One</th>
                        <th
                          v-if="
                            !inventoryItem.detailNeeded ||
                            !inventoryItem.dateNeeded
                          "
                          class="text-center"
                        >
                          <v-tooltip bottom>
                            <template #activator="{ on, attrs }">
                              <span v-bind="attrs" v-on="on"> Fix QOH </span>
                            </template>
                            <span>
                              Manually fix the on hand qty at this location
                            </span>
                          </v-tooltip>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        v-for="(location, locIndex) in inventoryItem.locations"
                        :key="locIndex"
                      >
                        <td>
                          {{
                            `${location.locationTree
                              .map((i) => i.name)
                              .join(' > ')}`
                          }}
                        </td>
                        <td v-if="location.additionalNotes">
                          <v-tooltip bottom>
                            <template #activator="{ on, attrs }">
                              <span v-bind="attrs" v-on="on">
                                {{ location.locationName }}
                              </span>
                            </template>
                            <span>
                              Notes:
                              {{ location.additionalNotes }}
                            </span>
                          </v-tooltip>
                        </td>
                        <td v-else>
                          {{ location.locationName }}
                        </td>
                        <td>
                          <v-tooltip v-if="!location.mod" bottom>
                            <template #activator="{ on, attrs }">
                              <span v-bind="attrs" v-on="on">
                                {{ location.qty }}
                              </span>
                            </template>
                            <span>
                              Last Checked:
                              {{ formatDate(location.lastChecked) }}
                              <span v-if="location.lastCheckedBy">
                                by {{ location.lastCheckedBy }}</span
                              >
                            </span>
                            <v-simple-table>
                              <template #default>
                                <thead>
                                  <tr class="text-left">
                                    <th v-if="inventoryItem.detailNeeded">
                                      {{
                                        inventoryItem.detailLabel || 'Detail'
                                      }}
                                    </th>
                                    <th v-if="inventoryItem.dateNeeded">
                                      {{ inventoryItem.dateLabel || 'Date' }}
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr
                                    v-for="(
                                      details, index
                                    ) in location.eachItemDetails"
                                    :key="index"
                                    class="text-left"
                                  >
                                    <td v-if="inventoryItem.detailNeeded">
                                      {{ details.detail }}
                                    </td>
                                    <td v-if="inventoryItem.dateNeeded">
                                      <base-format-date :ISOdate="details.date">
                                      </base-format-date>
                                    </td>
                                  </tr>
                                </tbody>
                              </template>
                            </v-simple-table>
                          </v-tooltip>
                          <v-text-field
                            v-else
                            v-model="location.qty"
                            autocomplete="off"
                            class="width"
                            background-color="rgba(136, 136, 136, 0.3)"
                            append-icon="add"
                            prepend-inner-icon="remove"
                            @keydown.enter="saveEditedQOH(location)"
                            @click:prepend-inner="
                              location.qty > 0
                                ? location.qty--
                                : (location.qty = 0)
                            "
                            @click:append="location.qty++"
                          ></v-text-field>
                        </td>
                        <td>
                          <v-menu
                            v-if="
                              inventoryItem.detailNeeded ||
                              inventoryItem.dateNeeded
                            "
                            top
                            nudge-left="50"
                            transition="expand-x-transition"
                          >
                            <template #activator="{ on }">
                              <span v-on="on">
                                <loader-button
                                  v-if="!location.mod"
                                  icon="remove"
                                  color="warning"
                                  iconOnly
                                ></loader-button>
                              </span>
                            </template>
                            <v-list>
                              <v-list-item class="text-center">
                                <span
                                  v-if="
                                    inventoryItem.detailNeeded &&
                                    !inventoryItem.dateNeeded
                                  "
                                >
                                  {{ inventoryItem.detailLabel }}
                                </span>
                                <span
                                  v-else-if="
                                    inventoryItem.detailNeeded &&
                                    inventoryItem.dateNeeded
                                  "
                                >
                                  {{ inventoryItem.detailLabel }} /
                                  {{ inventoryItem.dateLabel }}
                                </span>
                                <span
                                  v-else-if="
                                    !inventoryItem.detailNeeded &&
                                    inventoryItem.dateNeeded
                                  "
                                >
                                  {{ inventoryItem.dateLabel }}
                                </span>
                              </v-list-item>
                              <v-list-item
                                v-for="(
                                  item, itemIndex
                                ) in location.eachItemDetails"
                                :key="itemIndex"
                              >
                                <v-list-item-title>
                                  <span
                                    v-if="
                                      inventoryItem.detailNeeded &&
                                      !inventoryItem.dateNeeded
                                    "
                                  >
                                    {{ item.detail }}
                                  </span>
                                  <span
                                    v-else-if="
                                      inventoryItem.detailNeeded &&
                                      inventoryItem.dateNeeded
                                    "
                                  >
                                    {{ item.detail }} /
                                    <base-format-date
                                      :ISOdate="item.date"
                                    ></base-format-date>
                                  </span>
                                  <span
                                    v-else-if="
                                      !inventoryItem.detailNeeded &&
                                      inventoryItem.dateNeeded
                                    "
                                  >
                                    <base-format-date
                                      :ISOdate="item.date"
                                    ></base-format-date>
                                  </span>

                                  <loader-button
                                    v-if="!location.mod"
                                    icon="remove"
                                    color="warning"
                                    tipText="Use this item"
                                    tipLocation="bottom"
                                    iconOnly
                                    @click.native="
                                      useOne(
                                        location,
                                        locIndex,
                                        itemIndex,
                                        inventoryItem
                                      )
                                    "
                                  ></loader-button>
                                </v-list-item-title>
                              </v-list-item>
                            </v-list>
                          </v-menu>
                          <span v-else>
                            <loader-button
                              v-if="!location.mod"
                              loader-button
                              icon="remove"
                              color="warning"
                              tipText="Remove One From Location"
                              tipLocation="bottom"
                              iconOnly
                              @click.native="useOne(location)"
                            ></loader-button>
                          </span>
                        </td>
                        <td
                          v-if="
                            !inventoryItem.detailNeeded ||
                            !inventoryItem.dateNeeded
                          "
                        >
                          <loader-button
                            v-if="!location.mod"
                            icon="report_problem"
                            color="error"
                            tipText="Enter another number"
                            tipLocation="bottom"
                            iconOnly
                            @click.native="enableModLine(location)"
                          ></loader-button>
                          <loader-button
                            v-else
                            icon="check_circle"
                            color="success"
                            tipText="Save Edit"
                            tipLocation="bottom"
                            iconOnly
                            @click.native="saveEditedQOH(location)"
                          ></loader-button>
                        </td>
                      </tr>
                    </tbody>
                  </template>
                </v-simple-table>
                <div v-else>
                  Something has gone wrong and this item has no locations,
                  please add some in edit mode.
                </div>
              </v-card>
            </v-flex>
          </v-layout>
          <v-layout row align-center justify-space-around>
            <v-flex v-if="inventoryItem.category.length" shrink class="ma-3">
              <v-card elevation="12" outlined class="ma-2">
                <h4>Categories:</h4>
                <v-card-text>
                  <v-chip v-for="cat in inventoryItem.category" :key="cat">
                    {{ cat }}
                  </v-chip>
                </v-card-text>
              </v-card>
            </v-flex>
            <v-flex
              v-if="inventoryItem.customerID || inventoryItem.PO"
              shrink
              class="ma-3"
            >
              <v-card elevation="12" outlined class="ma-2">
                <h4>Tracking</h4>
                <v-card-text>
                  <div v-if="inventoryItem.customerID">
                    <h4 class="grey--text text--darken-1">Customer ID</h4>
                    <hr class="grey darken-1" />
                    <h4>{{ inventoryItem.customerID }}</h4>
                  </div>
                  <div v-if="inventoryItem.PO">
                    <h4 class="grey--text text--darken-1">PO</h4>
                    <hr class="grey darken-1" />
                    <h4>{{ inventoryItem.PO }}</h4>
                  </div>
                </v-card-text>
              </v-card>
            </v-flex>
            <v-flex
              v-if="inventoryItem.drawingRef && inventoryItem.drawingRef.length"
              shrink
            >
              <v-card elevation="12" outlined>
                <span>Drawings</span>
                <v-simple-table dense>
                  <template #default>
                    <thead>
                      <tr>
                        <th class="text-center">Used in Drawing</th>
                        <th class="text-center">BOM Line #</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        v-for="drawing in inventoryItem.drawingRef"
                        :key="drawing._id"
                      >
                        <td>
                          {{ drawing.drawing }}
                        </td>
                        <td>
                          {{ drawing.bomLine }}
                        </td>
                      </tr>
                    </tbody>
                  </template>
                </v-simple-table>
              </v-card>
            </v-flex>
          </v-layout>
        </div>
        <div v-else>
          <v-layout row align-center justify-space-around>
            <v-flex>
              <combo-box
                v-model="editInventoryItem.category"
                label="Categories"
                :items="catList"
                :existingValue="inventoryItem.category"
                chips
                deletableChips
                multiple
                :loading="loadingCatList"
                @focus="getCatList"
              ></combo-box>
            </v-flex>
            <v-flex>
              <combo-box
                v-model="editInventoryItem.keywords"
                label="Keywords"
                :existingValue="inventoryItem.keywords"
                chips
                deletableChips
                multiple
              ></combo-box>
            </v-flex>
          </v-layout>
          <v-layout column wrap align-center justify-space-around>
            <v-flex shrink>
              <v-layout
                v-if="
                  editInventoryItem.drawingRef &&
                  editInventoryItem.drawingRef.length
                "
                row
                wrap
                align-center
                justify-center
              >
                <v-flex shrink>
                  <v-simple-table dense fixed-header class="text-center">
                    <template #default>
                      <thead>
                        <tr>
                          <th class="title">Drawing #</th>
                          <th class="title">BOM Line #</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          v-for="(
                            usedIn, index
                          ) in editInventoryItem.drawingRef"
                          :key="index"
                        >
                          <td class="subtitle-1">
                            {{ usedIn.drawing }}
                          </td>
                          <td class="subtitle-1">
                            {{ usedIn.bomLine }}
                          </td>
                          <td>
                            <loader-button
                              icon="remove"
                              color="error"
                              tipText="Remove Drawing"
                              tipLocation="right"
                              iconOnly
                              @click.native="
                                editInventoryItem.drawingRef.splice(index, 1)
                              "
                            ></loader-button>
                          </td>
                        </tr>
                      </tbody>
                    </template>
                  </v-simple-table>
                </v-flex>
              </v-layout>
            </v-flex>
            <v-flex shrink>
              <v-layout row wrap align-center justify-center>
                <v-flex shrink>
                  <v-text-field
                    v-model="newDrawing"
                    outlined
                    label="Used in Drawing Number"
                  ></v-text-field>
                </v-flex>
                <v-flex shrink>
                  <v-text-field
                    v-model="newBomLine"
                    outlined
                    label="BOM Line #"
                  ></v-text-field>
                </v-flex>
                <v-flex shrink>
                  <v-layout class="pb-7 pl-3" align-center justify-center>
                    <v-flex grow>
                      <loader-button
                        icon="add"
                        fab
                        small
                        tipText="Add new drawing to list"
                        @click.native="addDrawing()"
                      ></loader-button>
                    </v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
          <v-layout column align-center justify-space-around>
            <v-flex>
              <v-layout
                v-if="editInventoryItem.locations.length"
                row
                wrap
                align-center
                justify-center
              >
                <v-flex shrink>
                  <v-simple-table dense fixed-header class="text-center">
                    <template #default>
                      <thead>
                        <tr>
                          <th class="title">Location</th>
                          <th class="title">Qty Here</th>
                          <th class="title">Note</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          v-for="(loc, index) in editInventoryItem.locations"
                          :key="index"
                        >
                          <td class="subtitle-1">
                            {{ getLocationText(loc.location) }}
                          </td>
                          <td class="subtitle-1">
                            {{ loc.qty }}
                          </td>
                          <td class="subtitle-1">
                            {{ loc.additionalNotes }}
                          </td>
                          <td>
                            <loader-button
                              icon="remove"
                              color="error"
                              tipText="Remove Location"
                              tipLocation="right"
                              iconOnly
                              @click.native="
                                editInventoryItem.locations.splice(index, 1)
                              "
                            ></loader-button>
                          </td>
                        </tr>
                      </tbody>
                    </template>
                  </v-simple-table>
                </v-flex>
              </v-layout>
            </v-flex>
            <v-flex>
              <v-layout row align-center justify-space-around>
                <v-flex>
                  <v-combobox
                    v-model="newLocation"
                    label="Location"
                    outlined
                    :items="locationList"
                    :loading="loadingLocationList"
                  ></v-combobox>
                </v-flex>
                <v-flex>
                  Qty
                  <v-text-field
                    v-model="newLocationQty"
                    autocomplete="off"
                    class="width"
                    background-color="rgba(136, 136, 136, 0.3)"
                    append-icon="add"
                    prepend-inner-icon="remove"
                    @click:prepend-inner="
                      newLocationQty > 0
                        ? newLocationQty--
                        : (newLocationQty = 0)
                    "
                    @click:append="newLocationQty++"
                  ></v-text-field>
                </v-flex>
                <v-flex shrink>
                  <v-text-field
                    v-model="newLocationNote"
                    outlined
                    label="Notes"
                  ></v-text-field>
                </v-flex>
                <v-flex shrink>
                  <v-layout class="pb-7 pl-3" align-center justify-center>
                    <v-flex grow>
                      <loader-button
                        icon="add"
                        fab
                        small
                        tipText="Add new location to list"
                        @click.native="addLocation()"
                      ></loader-button>
                    </v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>
            </v-flex>
            <v-flex
              v-if="
                editModeActive &&
                (editInventoryItem.detailNeeded || editInventoryItem.dateNeeded)
              "
            >
              <v-layout row align-center justify-center>
                <v-flex>
                  <loader-button
                    text="Add Details"
                    color="success"
                    tipText="Open Add Details Window"
                    @click.native="openDetailsWindow()"
                  ></loader-button>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
        </div>
        <v-layout v-if="!editModeActive" row align-center justify-space-around>
          <v-flex shrink>
            <v-card elevation="12" outlined>
              <span>Part Numbers</span>
              <v-simple-table
                v-if="
                  inventoryItem.vendorMatches &&
                  inventoryItem.vendorMatches.length
                "
                dense
              >
                <template #default>
                  <thead>
                    <tr>
                      <th class="text-center">OI Number</th>
                      <th class="text-center">Vendor</th>
                      <th class="text-center">Vendor Number</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="(vendor, index) in inventoryItem.vendorMatches"
                      :key="index"
                    >
                      <v-tooltip top>
                        <template #activator="{ on }">
                          <td
                            v-on="on"
                            @mouseover="getPartInfo(vendor.OINumber)"
                            @mouseout="oiDetails = {}"
                          >
                            {{ vendor.OINumber }}
                          </td>
                        </template>
                        <div
                          v-if="Object.keys(oiDetails).length"
                          class="text-center"
                        >
                          <v-card width="400">
                            <v-card-text>
                              <h2>{{ oiDetails.OINumber }}</h2>
                              <h3>{{ oiDetails.Description }}</h3>
                            </v-card-text>
                            <v-img
                              v-if="oiDetails.image"
                              :src="`data:image/jpeg;base64,${oiDetails.image}`"
                              contain
                              max-width="400"
                              max-height="400"
                            ></v-img>
                          </v-card>
                        </div>
                        <div v-else>No data available for this number</div>
                      </v-tooltip>
                      <td>
                        {{ vendor.Supplier }}
                      </td>
                      <td>
                        {{ vendor.SupplierNumber }}
                      </td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
              <v-simple-table dense>
                <template #default>
                  <thead>
                    <tr>
                      <th class="text-center">Vendor</th>
                      <th class="text-center">Part Number</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="part in inventoryItem.partNumber"
                      :key="part._id"
                    >
                      <td>
                        {{ part.vendor }}
                      </td>
                      <v-tooltip
                        v-if="
                          (part.vendor.toUpperCase() === 'OCEANEERING') |
                            (part.vendor.toUpperCase() === 'OII')
                        "
                        top
                        nudge-top="300"
                      >
                        <template #activator="{ on }">
                          <td
                            v-on="on"
                            @mouseover="getPartInfo(part.partNumber)"
                            @mouseout="oiDetails = {}"
                          >
                            {{ part.partNumber }}
                          </td>
                        </template>
                        <div
                          v-if="Object.keys(oiDetails).length"
                          class="text-center"
                        >
                          <v-card width="400">
                            <v-card-text>
                              <h2>{{ oiDetails.OINumber }}</h2>
                              <h3>{{ oiDetails.Description }}</h3>
                            </v-card-text>
                            <v-img
                              v-if="oiDetails.image"
                              :src="`data:image/jpeg;base64,${oiDetails.image}`"
                              contain
                              max-width="400"
                              max-height="400"
                            ></v-img>
                          </v-card>
                        </div>
                        <div v-else>No data available for this number</div>
                      </v-tooltip>
                      <td v-else>
                        {{ part.partNumber }}
                      </td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </v-card>
          </v-flex>
          <v-flex shrink class="ma-3">
            <v-card elevation="12" outlined class="ma-2">
              <h4>Key Words:</h4>
              <v-card-text>
                <span v-if="inventoryItem.keywords.length">
                  <v-chip
                    v-for="keyword in inventoryItem.keywords"
                    :key="keyword"
                  >
                    {{ keyword }}
                  </v-chip>
                </span>
                <loader-button
                  v-if="!showKeyword"
                  icon="add"
                  fab
                  small
                  iconOnly
                  tipText="Add new keyword to item"
                  @click.native="showKeyword = true"
                ></loader-button>
                <v-text-field
                  v-else
                  v-model="newKeyword"
                  append-icon="done"
                  outlined
                  label="Keyword"
                  @keydown.enter="addKeyword()"
                  @click:append="addKeyword()"
                ></v-text-field>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>

        <v-layout v-else column wrap align-center justify-space-around>
          <v-flex shrink>
            <v-layout
              v-if="editInventoryItem.partNumber.length"
              row
              wrap
              align-center
              justify-center
            >
              <v-flex shrink>
                <v-simple-table dense>
                  <template #default>
                    <thead>
                      <tr>
                        <th class="text-center">OI Number</th>
                        <th class="text-center">Vendor</th>
                        <th class="text-center">Vendor Number</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        v-for="(vendor, index) in inventoryItem.vendorMatches"
                        :key="index"
                      >
                        <td>
                          {{ vendor.OINumber }}
                        </td>
                        <td>
                          {{ vendor.Supplier }}
                        </td>
                        <td>
                          {{ vendor.SupplierNumber }}
                        </td>
                      </tr>
                    </tbody>
                  </template>
                </v-simple-table>
                <v-simple-table dense fixed-header class="text-center">
                  <template #default>
                    <thead>
                      <tr>
                        <th class="title">Vendor</th>
                        <th class="title">Part Number</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        v-for="(vendor, index) in editInventoryItem.partNumber"
                        :key="index"
                      >
                        <td>
                          {{ vendor.vendor }}
                        </td>
                        <td>
                          {{ vendor.partNumber }}
                        </td>
                        <td>
                          <loader-button
                            icon="remove"
                            color="error"
                            tipText="Remove Vendor"
                            tipLocation="right"
                            iconOnly
                            @click.native="
                              editInventoryItem.partNumber.splice(index, 1)
                            "
                          ></loader-button>
                        </td>
                      </tr>
                    </tbody>
                  </template>
                </v-simple-table>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex shrink>
            <v-layout row wrap align-center justify-center>
              <v-flex
                v-if="
                  newVendorName.toUpperCase() === 'OCEANEERING' ||
                  newVendorName.toUpperCase() === 'OII'
                "
                shrink
              >
                <v-layout class="pb-7 pl-3" align-center justify-center>
                  <v-flex grow>
                    <loader-button
                      icon="search"
                      @click.native="showOISearch = true"
                    ></loader-button>
                  </v-flex>
                </v-layout>
              </v-flex>
              <v-flex shrink>
                <v-combobox
                  v-model="newVendorName"
                  :items="vendorList"
                  outlined
                  :loading="vendorListLoading"
                  autocomplete="off"
                  label="Add Vendor"
                  @focus="getVendors()"
                ></v-combobox>
              </v-flex>
              <v-flex shrink>
                <v-text-field
                  v-model="newVendorPartNumber"
                  :error-messages="newVendorPartNumberErrors"
                  outlined
                  :append-icon="newVendorPartNumberErrors.length ? 'info' : ''"
                  :label="`Part Number for ${
                    newVendorName == '' ? 'Vendor' : newVendorName
                  }`"
                  @change="checkConflicting"
                  @click:append="showConflicting = true"
                ></v-text-field>
              </v-flex>
              <v-flex shrink>
                <v-layout class="pb-7 pl-3" align-center justify-center>
                  <v-flex grow>
                    <loader-button
                      icon="add"
                      fab
                      small
                      tipText="Add new vendor to list"
                      @click.native="addVendor()"
                    ></loader-button>
                  </v-flex>
                </v-layout>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
        <v-layout
          v-if="editModeActive"
          row
          fluid
          align-center
          justify-space-around
        >
          <v-flex shrink>
            <loader-button
              text="Deactivate Item"
              color="error"
              @click.native="deactivateItem"
            ></loader-button>
          </v-flex>
          <v-flex shrink>
            <loader-button
              text="Cancel"
              color="warning"
              @click.native="editMode"
            ></loader-button>
          </v-flex>
          <v-flex shrink>
            <loader-button
              text="Save"
              color="success"
              @click.native="saveChanges"
            ></loader-button>
          </v-flex>
        </v-layout>
      </div>

      <item-specifics-entry
        :active="showItemSpecs"
        :inventoryItem="editInventoryItem"
        :locationList="locationList"
        @save="addDetails"
        @closePopup="showItemSpecs = false"
      ></item-specifics-entry>

      <oi-part-search
        :active="showOISearch"
        :existing="newVendorPartNumber"
        @close="showOISearch = false"
        @selected="partIsSelected"
      ></oi-part-search>

      <attachment-popup
        :attachmentList="attachmentList"
        :attachmentPopup="attachmentPopupActive"
        :item="inventoryItem"
        :loadingAttachments="loadingAttachments"
        @update="updateList"
        @close="closeAttachmentPopup"
      ></attachment-popup>
    </v-container>
  </base-form-dialog>
</template>

<script>
import ComboBox from '~/components/Utils/BaseCombobox'
import OiPartSearch from '~/components/Utils/OiPartSearch.vue'
import AttachmentPopup from './AttachmentPopup.vue'
import ItemSpecificsEntry from './ItemSpecificsEntry.vue'
import { mapActions, mapState } from 'vuex'
import { format, parseISO } from 'date-fns/esm'

export default {
  name: 'InventoryItemDetails',
  components: {
    AttachmentPopup,
    ComboBox,
    OiPartSearch,
    ItemSpecificsEntry,
  },
  props: {
    inventoryItemPopup: {
      type: Boolean,
      default: false,
    },
    inventoryItem: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      showItemSpecs: false,

      oiDetails: {},
      editQOH: false,

      showKeyword: false,
      newKeyword: '',

      locationList: [],
      loadingLocationList: false,

      catList: [],
      loadingCatList: false,

      vendorListLoading: false,
      vendorList: [],

      editModeActive: false,
      editInventoryItem: {},

      showOISearch: false,
      newVendorName: '',
      newVendorPartNumber: '',
      newVendorPartNumberErrors: [],

      newDrawing: '',
      newBomLine: '',

      newLocation: '',
      newLocationQty: 0,
      newLocationNote: '',

      attachmentPopupActive: false,
      loadingAttachments: false,
      attachmentList: [],

      submitTimer: '',
    }
  },
  computed: {
    ...mapState('sitewide', [
      'mongoUrl',
      'userLoggedIn',
      'loggedInUser',
      'techName',
      'inventoryMode',
    ]),
  },
  watch: {
    'inventoryItem._id': function () {
      this.updateList()
    },
  },
  mounted() {
    this.getLocationList()
  },
  methods: {
    ...mapActions('sitewide', ['logWrite', 'toastMessage']),
    formatDate(date) {
      return format(parseISO(date), 'yyyy-MM-dd')
    },
    closeAttachmentPopup() {
      this.attachmentPopupActive = false
    },
    useOne(
      location,
      indexOfLocation = undefined,
      indexToRemove = undefined,
      item = undefined
    ) {
      if (!this.techName) {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        if (indexToRemove >= 0) {
          location.eachItemDetails.splice(indexToRemove, 1)
          location.qty = location.eachItemDetails.length
          item.locations[indexOfLocation] = location
        } else {
          location.qty > 0 ? location.qty-- : (location.qty = 0)
        }
        this.delayedSend(location, item)
      }
    },
    delayedSend(location, item = undefined) {
      clearTimeout(this.submitTimer)
      this.submitTimer = setTimeout(() => {
        this.saveEditedQOH(location)
        if (item) {
          this.$emit('update', item)
        }
      }, 1000)
    },
    openDetailsWindow() {
      this.editInventoryItem.locations.forEach((location) => {
        if (!location.eachItemDetails) {
          location.eachItemDetails = []
        }
        if (location.eachItemDetails.length < location.qty) {
          for (
            let i = 1;
            (i = location.qty - location.eachItemDetails.length);
            i++
          ) {
            location.eachItemDetails.push({
              detail: '',
              date: '',
            })
          }
        }
      })
      this.showItemSpecs = true
    },
    addDetails(returnedItem) {
      this.editInventoryItem = returnedItem
    },
    async updateList() {
      this.loadingAttachments = true
      this.attachmentList = await this.$axios.$get(
        `${this.mongoUrl}files/inventory/${this.inventoryItem._id}`
      )
      this.loadingAttachments = false
    },
    editMode() {
      if (this.editModeActive) {
        this.editModeActive = false
        this.editInventoryItem = {}
      } else {
        if (!this.techName) {
          this.$store.commit('sitewide/setPromptTechName', true)
        } else {
          this.editInventoryItem = JSON.parse(
            JSON.stringify(this.inventoryItem)
          )
          if (!this.editInventoryItem.PO) {
            this.editInventoryItem.PO = 'BUOTM-'
          }
          this.editModeActive = true
        }
      }
    },
    getLocationText(id) {
      for (let i = 0; i < this.locationList.length; i++) {
        if (this.locationList[i].value == id) {
          return this.locationList[i].text
        }
      }
    },
    async getPartInfo(oiNumber) {
      try {
        const itemResult = await this.$axios.$get(
          `${this.mongoUrl}parts/oiNumber/${oiNumber}`
        )
        itemResult ? (this.oiDetails = itemResult) : (this.oiDetails = {})
      } catch (error) {
        this.toastMessage('There was an error searching for parts')
        this.logWrite({
          logType: 'error',
          logItem: error,
        })
      }
    },
    async checkConflicting() {
      let checkResults = await this.$axios.$get(
        `${this.mongoUrl}inventory/items/duplicates?check=${this.newVendorPartNumber}`
      )
      if (checkResults.length) {
        this.conflictingNumber = this.newVendorPartNumber
        this.conflictingNumbers = checkResults
        this.newVendorPartNumberErrors.push('Part Number Already Exists')
        return true
      } else {
        this.conflictingNumbers = []
        while (this.newVendorPartNumberErrors.length) {
          this.newVendorPartNumberErrors.pop()
        }
        this.conflictingNumber = ''
        return false
      }
    },
    enableModLine(location) {
      this.$set(location, 'mod', true)
    },
    async getCatList() {
      this.loadingCatList = true
      this.catList = await this.$axios.$get(
        `${this.mongoUrl}inventory/lists/categories`
      )
      this.loadingCatList = false
    },
    addLocation() {
      this.editInventoryItem.locations.push({
        location: this.newLocation.value,
        qty: this.newLocationQty,
        additionalNotes: this.newLocationNote,
        lastChecked: new Date(),
      })

      this.newLocation = ''
      this.newLocationQty = 0
      this.newLocationNote = ''
    },
    addDrawing() {
      this.editInventoryItem.drawingRef.push({
        drawing: this.newDrawing,
        bomLine: this.newBomLine,
      })
      this.newDrawing = ''
      this.newBomLine = ''
    },
    async getLocationList() {
      this.loadingLocationList = true
      this.locationList = await this.$axios.$get(
        `${this.mongoUrl}inventory/locations/list`
      )
      this.loadingLocationList = false
    },
    partIsSelected(item) {
      this.newVendorPartNumber = item.OINumber
      if (!this.editInventoryItem.description) {
        this.editInventoryItem.description = item.Description
      }
    },
    addVendor() {
      this.editInventoryItem.partNumber.push({
        vendor: this.newVendorName,
        partNumber: this.newVendorPartNumber,
      })
      this.conflictingNumbers = []
      while (this.newVendorPartNumberErrors.length) {
        this.newVendorPartNumberErrors.pop()
      }
      this.conflictingNumber = ''

      this.newVendorName = ''
      this.newVendorPartNumber = ''
    },
    async getVendors() {
      try {
        this.vendorListLoading = 'warning'
        this.vendorList = await this.$axios.$get(
          `${this.mongoUrl}inventory/lists/vendors`
        )
        this.vendorListLoading = false
      } catch (error) {
        this.toastMessage('An error occurred, see log for details')
        this.logWrite({
          logType: 'error',
          logItem: error,
        })
      }
    },
    deactivateItem() {
      this.editInventoryItem.active = false
      this.saveChanges(false)
    },
    async addKeyword() {
      if (!this.techName) {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        let updated = await this.$axios.$put(
          `${this.mongoUrl}inventory/items/update/${this.inventoryItem._id}`,
          {
            keywords: [...this.inventoryItem.keywords, this.newKeyword],
          }
        )
        this.logWrite({
          logType: 'info',
          logItem: `Inventory Item ID:${this.inventoryItem._id}, Name: ${this.inventoryItem.name}`,
        })
        this.toastMessage(`${this.techName} added keyword ${this.newKeyword}`)
        this.showKeyword = false
        this.newKeyword = ''
        this.$emit('update', updated)
        this.$emit('grabItems')
      }
    },
    async saveChanges(update = true) {
      if (!this.techName) {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        if (this.newLocation && this.newLocationQty) {
          this.addLocation()
        }
        if (this.newVendorName && this.newVendorPartNumber) {
          this.addVendor()
        }
        if (this.newDrawing && this.newBomLine) {
          this.addDrawing()
        }
        if (this.editInventoryItem.PO === 'BUOTM-') {
          this.editInventoryItem.PO = ''
        }
        let updated = await this.$axios.$put(
          `${this.mongoUrl}inventory/items/update/${this.editInventoryItem._id}`,
          this.editInventoryItem
        )
        this.logWrite({
          logType: 'info',
          logItem: `Inventory Item ID:${this.editInventoryItem._id}, Name: ${this.editInventoryItem.name}`,
        })
        this.toastMessage(
          `${this.techName} updated ${this.editInventoryItem.name}`
        )
        if (update) this.$emit('update', updated)
        this.$emit('grabItems')
        this.closePopup()
      }
    },
    async saveEditedQOH(location) {
      if (!this.techName) {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        location.mod = false
        location.lastChecked = new Date().toISOString()
        location.lastCheckedBy = this.techName
        let updated = await this.$axios.$put(
          `${this.mongoUrl}inventory/items/update/${this.inventoryItem._id}`,
          this.inventoryItem
        )
        this.logWrite({
          logType: 'info',
          logItem: `Inventory Item ID:${this.inventoryItem._id}, Name: ${this.inventoryItem.name}`,
        })
        this.toastMessage(
          `${this.techName} updated ${location.locationName} to quantity ${location.qty}`
        )
        this.$emit('update', updated)
        this.$emit('grabItems')
      }
    },
    closePopup() {
      this.showKeyword = false
      this.newKeyword = ''
      this.newVendorName = ''
      this.newVendorPartNumber = ''
      this.$emit('close')
      this.editModeActive = false
    },
  },
}
</script>

<style>
.width {
  display: inline-block;
  width: 100px;
  text-align: center;
}
</style>
