<template>
  <base-form-dialog
    :active="active"
    :editButton="edit"
    editButtonColor="warning"
    title="Individual Item Specs"
    width="700"
    @edit="editMode"
    @close="closePopup"
  >
    <v-container fluid grid-list-md @keydown.ctrl.83.prevent.stop="saveSpecs">
      <v-layout column>
        <v-flex
          v-for="(location, index) in inventoryItem.locations"
          :key="index"
          class="text-center"
        >
          <h3 class="green--text">{{ getLocationText(location.location) }}</h3>
          <v-layout column>
            <v-flex
              v-for="(detail, index2) in location.eachItemDetails"
              :key="index2"
            >
              <span>Item #{{ index2 + 1 }}</span>
              <v-layout row justify-center align-center>
                <v-flex v-if="inventoryItem.detailNeeded" shrink>
                  <v-text-field
                    v-model="detail.detail"
                    outlined
                    :label="inventoryItem.detailLabel || 'Detail'"
                  ></v-text-field>
                </v-flex>
                <v-flex v-if="inventoryItem.dateNeeded" shrink>
                  <date-input-field
                    v-model="detail.date"
                    :value="detail.date"
                    :label="inventoryItem.dateLabel || 'Date'"
                    appendIcon="event"
                  ></date-input-field>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex shrink>
          <v-layout class="pb-7 pl-3" align-center justify-center>
            <v-flex shrink>
              <loader-button
                text="Save Item Specs"
                @click.native="saveSpecs"  
              ></loader-button>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-container>
  </base-form-dialog>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import DateInputField from '../Utils/DateInputField.vue'
export default {
  name: 'ItemSpecificsEntry',
  components: {
    DateInputField,
  },
  props: {
    active: {
      type: Boolean,
      default: false,
    },
    inventoryItem: {
      type: Object,
      default: () => {},
    },
    locationList: {
      type: Array,
      default: () => [],
    },
    edit: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      itemSpecCalender: false,
    }
  },
  computed: {
    ...mapState('sitewide', ['mongoUrl', 'userLoggedIn', 'loggedInUser']),
  },
  watch: {},
  mounted() {},
  methods: {
    ...mapActions('sitewide', ['logWrite', 'toastMessage']),
    getLocationText(id) {
      for (let i = 0; i < this.locationList.length; i++) {
        if (this.locationList[i].value == id) {
          return this.locationList[i].text
        }
      }
    },
    saveSpecs() {
      this.$emit('save', this.inventoryItem)
      this.closePopup()
    },
    editMode() {},
    closePopup() {
      this.$emit('closePopup')
    },
  },
}
</script>

<style></style>
