<template>
  <v-container fluid grid-list-md>
    <v-container fluid>
      <v-row align="center" justify="end">
        <v-col cols="3">
          <tech-name-field :techName="techName"></tech-name-field>
        </v-col>
      </v-row>
    </v-container>
    <v-card>
      <v-card-title>
        <v-container fluid>
          <v-row justify="space-between" align="center">
            <v-col sm="10" md="6">
              <v-layout row wrap justify-space-around align-center>
                <v-flex shrink>
                  <loader-button
                    text="New Asset"
                    color="success"
                    @click.native="newAssetPopup = true"
                  ></loader-button>
                </v-flex>
              </v-layout>
            </v-col>
            <v-col sm="12" md="5">
              <v-layout row align-center justify-right>
                <v-flex shrink>
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on: tooltip }">
                      <span v-on="{ ...tooltip }">
                        <v-switch
                          v-model="searchDetails"
                          class="pa-0 ma-0"
                          color="primary"
                          hide-details
                        ></v-switch>
                      </span>
                    </template>
                    <span>Include asset description in the search</span>
                  </v-tooltip>
                </v-flex>
                <v-flex grow>
                  <v-text-field
                    v-stream:keyup.native="search$"
                    autocomplete="off"
                    clearable
                    append-icon="search"
                    label="Search"
                    single-line
                    hint="3 characters or more to trigger search"
                    @click:clear="tableSearch = ''"
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-col>
          </v-row>
        </v-container>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="assetsArray"
        :search="tableSearch"
        :items-per-page="50"
        :mobile-breakpoint="750"
        :custom-filter="filterTable"
        no-results-text="That search term has no matches"
        no-data-text="There are no assets to display"
        item-key="_id"
        :loading="tableLoading"
        :loading-text="randomFact ? randomFact : 'Table is loading...'"
        :footer-props="{
          itemsPerPageOptions: [10, 20, 50, -1],
        }"
        @click:row="clickRow"
      >
        <template v-slot:item.location="{ item }">
          <span>{{ item.location[item.location.length - 1].description }}</span>
        </template>
        <template v-slot:item.category="{ item }">
          <span v-if="!item.category.length"></span>
          <span v-else-if="item.category.length == 1">
            <v-chip small disabled>{{ item.category[0] }}</v-chip>
          </span>
          <span
            v-else-if="
              item.category.length > 1 &&
              item.category.length < chipsShownInTable + 1
            "
          >
            <span v-for="(cat, index) in item.category" :key="index">
              <v-chip small disabled>{{ cat }}</v-chip>
            </span>
          </span>
          <span v-else>
            <span v-for="(cat, index) in item.category" :key="index">
              <v-chip v-if="index + 1 <= chipsShownInTable" small disabled>{{
                cat
              }}</v-chip>
            </span>
            <span>{{
              `+ ${item.category.length - chipsShownInTable} more`
            }}</span>
          </span>
        </template>
      </v-data-table>
    </v-card>
    <new-asset
      :manufacturersList="manufacturersList"
      :locationsList="locationsList"
      :categoriesList="categoriesList"
      :newAssetPopup="newAssetPopup"
      @getList="getList"
      @refreshAssets="getAssets"
      @close="closeNewAssetPopup"
    ></new-asset>
    <details-asset
      :manufacturersList="manufacturersList"
      :locationsList="locationsList"
      :categoriesList="categoriesList"
      :newAssetPopup="newAssetPopup"
      :showPopup="showDetailsPopup"
      :assetDetails="clickedAssetDetails"
      @getList="getList"
      @refreshAssets="getAssets"
      @close="closeDetails"
    ></details-asset>
    <tech-name :promptTechName="promptTechName"></tech-name>
  </v-container>
</template>

<script>
import TechName from '~/components/Utils/TechName.vue'
import TechNameField from '~/components/Utils/TechNameField.vue'
import NewAsset from '~/components/Assets/NewAsset.vue'
import DetailsAsset from '~/components/Assets/DetailsAsset.vue'
import { mapActions, mapState } from 'vuex'
import {
  tap,
  map,
  pluck,
  filter,
  debounceTime,
  distinctUntilChanged,
} from 'rxjs/operators'

export default {
  name: 'Assets',
  components: {
    TechName,
    TechNameField,
    NewAsset,
    DetailsAsset,
  },
  props: {},
  data() {
    return {
      tableSearch: '',
      searchDetails: false,
      expanded: [],
      tableLoading: false,
      newAssetPopup: false,

      clickedAssetDetails: {},
      showDetailsPopup: false,

      assetsArray: [],

      manufacturersList: [],
      locationsList: [],
      categoriesList: [],

      headers: [
        {
          value: 'assetID',
          text: 'ID',
          align: 'center',
          sortable: true,
        },
        {
          value: 'name',
          text: 'Name',
          align: 'center',
          sortable: true,
        },
        {
          value: 'category',
          text: 'Category',
          align: 'center',
          sortable: true,
        },
        {
          value: 'location',
          text: 'Current Location',
          align: 'center',
          sortable: true,
        },
      ],
    }
  },
  domStreams: ['search$'],
  subscriptions() {
    return {
      tableSearch: this.search$.pipe(
        pluck('event', 'target', 'value'),
        map((val) => val.trim()),
        filter((val) => val.length > 2 || val == ''),
        distinctUntilChanged(),
        tap(() => {
          this.tableLoading = true
          setTimeout(() => {
            this.tableLoading = false
          }, 1000)
        }),
        debounceTime(750)
      ),
    }
  },
  computed: {
    ...mapState('sitewide', [
      'mongoUrl',
      'userLoggedIn',
      'loggedInUser',
      'techName',
      'randomFact',
      'promptTechName',
      'chipsShownInTable',
    ]),
  },
  watch: {},
  mounted() {
    this.$store.commit('sitewide/setActivePage', 'assets')
    this.getAssets()
    this.getRandomFact()
  },
  methods: {
    ...mapActions('sitewide', ['logWrite', 'toastMessage', 'getRandomFact']),
    clickRow(asset) {
      this.clickedAssetDetails = asset
      this.showDetailsPopup = true
    },
    closeDetails() {
      this.clickedAssetDetails = {}
      this.showDetailsPopup = false
    },
    needTechName() {
      this.$store.commit('sitewide/setPromptTechName', true)
    },
    async getAssets() {
      this.assetsArray = await this.$axios.$get(`${this.mongoUrl}assets`)
    },
    closeNewAssetPopup() {
      this.newAssetPopup = false
    },
    async getList(list) {
      switch (list) {
        case 'locations':
          this.locationsList = await this.$axios.$get(
            `${this.mongoUrl}assets/locations`
          )
          break
        case 'manufacturers':
          this.manufacturersList = await this.$axios.$get(
            `${this.mongoUrl}assets/manufacturers`
          )
          break
        case 'categories':
          this.categoriesList = await this.$axios.$get(
            `${this.mongoUrl}assets/categories`
          )
          break

        default:
          break
      }
    },
    filterTable(value, search, item) {
      if (value && search) {
        if (
          value
            .toString()
            .toLocaleUpperCase()
            .indexOf(search.toString().toLocaleUpperCase()) !== -1
        ) {
          return true
        } else if (
          this.searchDetails &&
          item.description
            .toString()
            .toLocaleUpperCase()
            .indexOf(search.toString().toLocaleUpperCase()) !== -1
        ) {
          return true
        } else {
          return false
        }
      }
    },
  },
}
</script>

<style></style>
