<template>
  <div v-show="!loadingScreen">
    <v-container fluid>
      <v-row align="center" justify="end">
        <v-col cols="3">
          <tech-name-field :techName="techName"></tech-name-field>
        </v-col>
      </v-row>
    </v-container>
    <v-card>
      <v-card-title>
        <v-container fluid>
          <v-row justify="space-between" align="center">
            <v-col sm="10" md="6">
              <v-layout row wrap justify-space-around align-center>
                <v-flex shrink>
                  <loader-button
                    text="Order Info"
                    :disabled="!selected.length"
                    @click.native="compileHoseOrder()"
                  ></loader-button>
                </v-flex>
                <v-flex shrink>
                  <loader-button
                    text="Printable Summary"
                    :disabled="!selected.length"
                    @click.native="showPrintableDetails()"
                  ></loader-button>
                </v-flex>
                <v-flex shrink>
                  <loader-button
                    text="New Hose"
                    color="success"
                    @click.native="newHosePopup = true"
                  ></loader-button>
                </v-flex>
              </v-layout>
            </v-col>
            <v-col sm="12" md="5">
              <v-layout row align-center justify-right>
                <v-flex shrink>
                  <v-tooltip bottom>
                    <template #activator="{ on: tooltip }">
                      <span v-on="{ ...tooltip }">
                        <v-switch
                          v-model="searchDetails"
                          class="pa-0 ma-0"
                          color="primary"
                          hide-details
                        ></v-switch>
                      </span>
                    </template>
                    <span>Include hose description in the search</span>
                  </v-tooltip>
                </v-flex>
                <v-flex grow>
                  <v-text-field
                    v-stream:keyup.native="search$"
                    autocomplete="off"
                    clearable
                    append-icon="search"
                    label="Search"
                    single-line
                    hint="3 characters or more to trigger search"
                    @click:clear="tableSearch = ''"
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-col>
          </v-row>
        </v-container>
      </v-card-title>
      <v-data-table
        v-model="selected"
        :headers="headers"
        :items="modifiedHosesArray"
        :search="tableSearch"
        :items-per-page="50"
        :mobile-breakpoint="750"
        :custom-filter="filterTable"
        :expanded.sync="expanded"
        no-results-text="That search term has no matches"
        no-data-text="There are no hoses to display"
        sort-by="nextDue"
        sort-asc
        show-select
        item-key="_id"
        :loading="tableLoading"
        :loading-text="randomFact ? randomFact : 'Table is loading...'"
        show-expand
        single-expand
        :footer-props="{
          itemsPerPageOptions: [10, 20, 50, -1],
        }"
        @update:expanded="hoseNote = ''"
        @click:row="clickRow"
      >
        <template #item.hoseSize="{ item }">
          <h3>
            {{ getHoseText(item.hoseSize) }}
          </h3>
        </template>
        <template #item.hoseLength="{ item }">
          <h3>
            {{ calcLengthBreakdown(item.hoseLength) }}
          </h3>
        </template>
        <template #item.nextDue="{ item }">
          <h3
            :class="
              checkDate(item, 'label') == 'Inspection'
                ? 'success--text'
                : 'warning--text'
            "
          >
            {{ checkDate(item, 'label') }}
          </h3>
          <base-format-date
            :ISOdate="checkDate(item)"
            return-blank
          ></base-format-date>
        </template>
        <template #item.action="{ item }">
          <v-container grid-list-sm>
            <v-layout row wrap align-center justify-space-around>
              <v-flex>
                <loader-button
                  :text="
                    checkOverDue(item.nextChange)
                      ? '>'
                      : checkOverDue(item.nextInspection)
                      ? 'Inspection Overdue'
                      : 'Mark Inspected'
                  "
                  :color="
                    checkOverDue(item.nextInspection) ? 'error' : 'success'
                  "
                  :disabled="checkOverDue(item.nextChange) ? true : false"
                  @click.native="
                    $event.stopPropagation()
                    markDone(item, 'inspected')
                  "
                ></loader-button>
              </v-flex>
              <v-flex>
                <loader-button
                  :text="
                    checkOverDue(item.nextChange)
                      ? 'Change Overdue'
                      : 'Mark Changed'
                  "
                  :color="checkOverDue(item.nextChange) ? 'error' : 'warning'"
                  @click.native="
                    $event.stopPropagation()
                    markDone(item, 'changed')
                  "
                ></loader-button>
              </v-flex>
            </v-layout>
          </v-container>
        </template>
        <template #expanded-item="{ headers }">
          <td :colspan="headers.length">
            <v-card flat>
              <v-container>
                <v-row align="center" justify="center">
                  <v-col>
                    <v-text-field
                      v-model.trim="hoseNote"
                      autocomplete="off"
                      :error-messages="notesState ? '' : '10 character minimum'"
                      outlined
                      label="Add note"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card>
          </td>
        </template>
      </v-data-table>
    </v-card>

    <v-dialog v-model="hoseOrder" width="500">
      <v-card>
        <v-container grid-list-md>
          <v-card-title>Hose Order</v-card-title>
          <v-card-text>
            <v-layout column wrap align-center justify-center>
              <v-flex grow>
                <h4>
                  The below is the exact length of hose and number of fittings
                  in the selected hoses. Please account for waste, cuts, etc
                  when ordering.
                </h4>
              </v-flex>
              <v-flex shrink>
                <loader-button
                  text="Download Order Info"
                  @click.native="getHoseSheet"
                ></loader-button>
              </v-flex>
              <v-flex>
                <v-data-iterator
                  :items="Object.keys(toOrder)"
                  hide-default-footer
                >
                  <template #default="props">
                    <v-row align="center" justify="center">
                      <v-col v-for="item in props.items" :key="item" cols="10">
                        <v-card class="text-center">
                          <v-card-title class="subheading font-weight-bold">{{
                            item
                          }}</v-card-title>

                          <v-divider></v-divider>

                          <v-list dense>
                            <div
                              v-if="
                                typeof toOrder[item] === 'object' &&
                                !(Array === toOrder[item].constructor)
                              "
                            >
                              <v-list-item
                                v-for="part in Object.keys(toOrder[item])"
                                :key="part"
                              >
                                <v-list-item-content>{{
                                  part
                                }}</v-list-item-content>
                                <v-list-item-content v-if="item == 'Hose'">{{
                                  calcLengthBreakdown(toOrder[item][part])
                                }}</v-list-item-content>
                                <v-list-item-content
                                  v-if="
                                    item == 'Fittings' ||
                                    item == 'OI Part Numbers'
                                  "
                                  >{{
                                    `${toOrder[item][part]} each`
                                  }}</v-list-item-content
                                >
                              </v-list-item>
                            </div>
                            <div
                              v-else-if="Array === toOrder[item].constructor"
                            >
                              <v-list-item
                                v-for="(part, index) in toOrder[item]"
                                :key="index"
                              >
                                <v-list-item-content>
                                  {{ part.hoseSize }}
                                </v-list-item-content>
                                <v-list-item-content>
                                  {{ part.hoseLength }}
                                </v-list-item-content>
                                <v-list-item-content>
                                  {{
                                    part.hosePressure
                                      ? `${part.hosePressure} psi`
                                      : ''
                                  }}
                                </v-list-item-content>
                              </v-list-item>
                            </div>
                          </v-list>
                        </v-card>
                      </v-col>
                    </v-row>
                  </template>
                </v-data-iterator>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-container>
      </v-card>
    </v-dialog>

    <new-hose
      :newHosePopup="newHosePopup"
      :intervals="intervals"
      @close="newHosePopup = false"
      @refreshHoses="getHoses"
    ></new-hose>
    <details-hose
      :showDetails="showDetails"
      :hoseItem="hoseDetails"
      :intervals="intervals"
      @close="showDetails = false"
      @refreshHoses="getHoses"
    ></details-hose>
    <details-print-popup
      :showPopup="showPrintPopup"
      :hoseOptions="hoseOptions"
      :printList="selected"
      @close="showPrintPopup = false"
    ></details-print-popup>
    <tech-name :promptTechName="promptTechName"></tech-name>
  </div>
</template>

<script>
import TechName from '~/components/Utils/TechName.vue'
import TechNameField from '~/components/Utils/TechNameField.vue'
import NewHose from '~/components/Hoses/NewHose.vue'
import DetailsHose from '~/components/Hoses/DetailsHose.vue'
import DetailsPrintPopup from '~/components/Hoses/DetailsPrintPopup.vue'
import { mapActions, mapState } from 'vuex'
import { format, addDays, parseISO, isBefore } from 'date-fns/esm'
import {
  tap,
  map,
  pluck,
  filter,
  debounceTime,
  distinctUntilChanged,
} from 'rxjs/operators'

export default {
  components: {
    TechName,
    TechNameField,
    NewHose,
    DetailsHose,
    DetailsPrintPopup,
  },
  props: { tasks: { type: Array, default: () => [] } },
  data() {
    return {
      headers: [
        {
          value: 'tagColumn',
          text: 'Tag',
          align: 'center',
          sortable: true,
        },
        {
          value: 'hoseSize',
          text: 'Size',
          align: 'center',
          sortable: true,
        },
        {
          value: 'hoseLength',
          text: 'Length',
          align: 'center',
          sortable: true,
        },

        {
          value: 'hardware',
          text: 'Hardware',
          align: 'center',
          sortable: true,
        },
        {
          value: 'location',
          text: 'Location',
          align: 'center',
          sortable: true,
        },
        { text: 'Up Next', value: 'nextDue', sortable: true, align: 'center' },
        { text: '', value: 'data-table-expand' },
        { text: '', value: 'action', sortable: false, align: 'center' },
      ],

      intervals: [],

      newHosePopup: false,
      showDetails: false,
      showPrintPopup: false,
      hoseDetails: {},
      hoseOptions: [],

      tableLoading: false,

      searchDetails: false,

      hoseNote: '',

      hoses: [],

      selected: [],
      expanded: [],
      toOrder: {},
      hoseOrder: false,
    }
  },
  domStreams: ['search$'],
  subscriptions() {
    return {
      tableSearch: this.search$.pipe(
        pluck('event', 'target', 'value'),
        map((val) => val.trim()),
        filter((val) => !isNaN(val) || val == '' || val.length > 2),
        distinctUntilChanged(),
        tap(() => {
          this.tableLoading = true
          setTimeout(() => {
            this.tableLoading = false
          }, 1000)
        }),
        debounceTime(750)
      ),
    }
  },
  computed: {
    ...mapState('sitewide', [
      'mongoUrl',
      'promptTechName',
      'loadingScreen',
      'techName',
      'randomFact',
      'hoseLengthUnit',
      'maxHoseSizeMadeOnSite', 
    ]),
    ...mapState('todo', ['priorityOptions']),
    notesState() {
      return this.hoseNote.length >= 10 || this.hoseNote == '' ? true : false
    },
    modifiedHosesArray() {
      let dueMod = [...this.hoses]
      dueMod.map((hose) => {
        hose.nextDue = this.checkDate(hose)
        hose.tagColumn = hose.tagNumber ? hose.tagNumber : hose.customTag
      })
      return dueMod
    },
  },
  watch: {},
  async mounted() {
    this.$store.commit('sitewide/setActivePage', 'hoses')
    this.hoseOptions = await this.$axios.$get(`${this.mongoUrl}hoses/defaults`)
    this.getHoses()
    this.getIntervals()
    this.getRandomFact()
  },
  methods: {
    ...mapActions('sitewide', [
      'logWrite',
      'toastMessage',
      'getMenuValues',
      'getRandomFact',   
    ]),
    needTechName() {
      this.$store.commit('sitewide/setPromptTechName', true)
    },
    calcLengthBreakdown(length) {
      if(this.hoseLengthUnit == 'meters'){
        return `${Math.round(length/39.37009424 * 10) / 10}m`
      }else{
        return `${Math.floor(parseInt(length) / 12)}' ${
          parseInt(length) % 12
        }" (${Math.round(length * 10) / 10}")`
      }
    },
    toMeters(number){
      return Math.round(number/39.37009424 * 10) / 10
    },
    filterTable(value, search, item) {
      if (value && search) {
        if (
          value
            .toString()
            .toLocaleUpperCase()
            .indexOf(search.toString().toLocaleUpperCase()) !== -1 ||
          (item.tagNumber &&
            item.tagNumber
              .toString()
              .toLocaleUpperCase()
              .indexOf(search.toString().toLocaleUpperCase()) !== -1) ||
          (item.customTag &&
            item.customTag
              .toString()
              .toLocaleUpperCase()
              .indexOf(search.toString().toLocaleUpperCase()) !== -1)
        ) {
          return true
        } else if (
          this.searchDetails &&
          item.description
            .toString()
            .toLocaleUpperCase()
            .indexOf(search.toString().toLocaleUpperCase()) !== -1
        ) {
          return true
        } else {
          return false
        }
      }
    },
    async getIntervals() {
      this.intervals = await this.$axios.$get(
        `${this.mongoUrl}hoses/defaults/intervals`
      )
    },
    checkDate(item, type = 'date') {
      if (isBefore(parseISO(item.nextInspection), parseISO(item.nextChange))) {
        if (type == 'label') {
          return 'Inspection'
        } else {
          return item.nextInspection
        }
      } else {
        if (type == 'label') {
          return 'Change'
        } else {
          return item.nextChange
        }
      }
    },
    checkOverDue(date) {
      if (isBefore(parseISO(date), new Date())) {
        return true
      } else {
        return false
      }
    },
    async getHoses() {
      this.tableLoading = true
      this.getMenuValues()
      this.hoses = await this.$axios.$get(`${this.mongoUrl}hoses`)
      this.tableLoading = false
    },
    getHoseText(size) {
      for (let i = 0; i < this.hoseOptions.length; i++) {
        if (this.hoseOptions[i].value == size) {
          return this.hoseOptions[i].text
        }
      }
    },
    clickRow(item) {
      this.hoseDetails = item
      this.showDetails = true
    },
    async getHoseSheet() {
      // Example object expected to arrive via req.body
      let moddedToOrder = []

      Object.keys(this.toOrder.Hose).forEach((hose) => {
        moddedToOrder.push({
          hoseNumber: hose,
          hoseQuantity: this.hoseLengthUnit=='meters'?this.toMeters(this.toOrder.Hose[hose]):this.toOrder.Hose[hose],
        })
      })

      Object.keys(this.toOrder.Fittings).forEach((fitting) => {
        moddedToOrder.push({
          fittingNumber: fitting,
          fittingQuantity: this.toOrder.Fittings[fitting],
        })
      })

      Object.keys(this.toOrder['OI Part Numbers']).forEach((number) => {
        moddedToOrder.push({
          OInumber: number,
          OInumberQuantity: this.toOrder['OI Part Numbers'][number],
        })
      })

      this.toOrder['Too large to make locally'].forEach((hose) => {
        moddedToOrder.push({
          hoseAssemblySize: hose.hoseSize,
          hoseAssemblyPressure: hose.hosePressure,
          hoseAssemblyLength: this.hoseLengthUnit=='meters'?this.toMeters(hose.hoseLength):hose.hoseLength,
          hoseTag: hose.hoseTag,
        })
      })

      const sheetData = {
        filename: 'Hose Export',
        worksheetTitle: 'Order',
        columns: [
          { header: 'Hose', key: 'hoseNumber', width: 20 },
          { header: this.hoseLengthUnit=='meters'?'Hose Quantity (m)':'Hose Quantity (in)', key: 'hoseQuantity', width: 20 },
          { header: 'Fitting', key: 'fittingNumber', width: 20 },
          { header: 'Fitting Quantity', key: 'fittingQuantity', width: 20 },
          { header: 'OI Number', key: 'OInumber', width: 20 },
          { header: 'OI Number Quantity', key: 'OInumberQuantity', width: 20 },
          { header: 'Hose Assembly Size', key: 'hoseAssemblySize', width: 20 },
          {
            header: 'Hose Pressure Rating',
            key: 'hoseAssemblyPressure',
            width: 20,
          },
          {
            header: this.hoseLengthUnit=='meters'?'Hose Assembly Length(m)':'Hose Assembly Length(in)',
            key: 'hoseAssemblyLength',
            width: 20,
          },
          { header: 'Hose Tag', key: 'hoseTag', width: 20 },
        ],
        data: moddedToOrder,
      }

      try {
        const taskExportRes = await this.$axios.$post(
          `${this.mongoUrl}excel/export`,
          sheetData
        )
        if (taskExportRes.success) {
          window.open(`${this.mongoUrl}excel/download/${taskExportRes.file}`)
        }
      } catch (error) {
        this.toastMessage(
          `There was an error building the export spreadsheet, see log for details`
        )
        this.logWrite({
          logType: 'error',
          logItem: `ExportTasks.vue, sendDataForExport() - ${error}`,
        })
      }
    },
    showPrintableDetails() {
      this.showPrintPopup = true
    },
    async compileHoseOrder() {
      let hoseNumbers = []
      let fittingNumbers = []
      let preMade = []
      let oiNumbers = []

      this.selected.forEach(async (hose) => {
        if (hose.hoseOINumber) {
          oiNumbers.push(hose.hoseOINumber)
        } else if (parseInt(hose.hoseSize) > parseInt(this.maxHoseSizeMadeOnSite)) {
          let hoseObject = await this.$axios.$get(
            `${this.mongoUrl}hoses/defaults/${hose.hoseSize}`
          )
          preMade.push({
            hoseSize: hoseObject.text,
            hoseTag: hose.tagNumber ? hose.tagNumber : hose.customTag,
            hosePressure: hose.hosePressureRating,
            hoseLength: this.calcLengthBreakdown(hose.hoseLength),
          })
        } else {
          hoseNumbers.push({
            partNumber: hose.hosePartNumber,
            hoseLength: hose.hoseLength,
          })
          fittingNumbers.push(hose.sideAFitting)
          fittingNumbers.push(hose.sideBFitting)
        }
      })

      let fittingCounts = {}
      fittingNumbers.forEach(function (x) {
        if (x) {
          fittingCounts[x] = (fittingCounts[x] || 0) + 1
        }
      })

      let hoseCounts = {}
      hoseNumbers.forEach(function (x) {
        if (x.partNumber && x.hoseLength) {
          hoseCounts[x.partNumber] =
            (hoseCounts[x.partNumber] || 0) + parseInt(x.hoseLength)
        }
      })

      let oiCounts = {}
      oiNumbers.forEach(function (x) {
        if (x) {
          oiCounts[x] = (oiCounts[x] || 0) + 1
        }
      })

      this.toOrder = {
        Hose: hoseCounts, // object with partNumber:qty
        Fittings: fittingCounts,
        'OI Part Numbers': oiCounts,
        'Too large to make locally': preMade, // array full of hose size/length strings
      }

      this.hoseOrder = true
    },
    async markDone(hose, type = false) {
      if (this.techName === '') {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        hose.techName = this.techName

        if (type == 'inspected' || type == 'changed') {
          hose.lastInspection = format(new Date(), 'yyyy-MM-dd')
          hose.nextInspection = format(
            addDays(new Date(), parseInt(hose.inspectionInterval)),
            'yyyy-MM-dd'
          )
        }
        if (type == 'changed') {
          hose.lastChange = format(new Date(), 'yyyy-MM-dd')
          hose.nextChange = format(
            addDays(new Date(), parseInt(hose.changeInterval)),
            'yyyy-MM-dd'
          )
        }

        const submitHose = await this.$axios.$put(
          `${this.mongoUrl}hoses/${hose._id}`,
          hose
        )

        this.toastMessage(submitHose)
        this.getHoses()
        this.getMenuValues()

        const submitCompletion = await this.$axios.$post(
          `${this.mongoUrl}hoses/completions`,
          {
            hoseId: hose._id,
            techName: this.techName,
            notes: this.hoseNote !== '' ? this.hoseNote : undefined,
            tagNumber: hose.tagNumber ? hose.tagNumber : undefined,
            customTag: hose.customTag ? hose.customTag : undefined,
            inspectionDate:
              type == 'inspected' ? hose.lastInspection : undefined,
            changeDate: type == 'changed' ? hose.lastChange : undefined,
          }
        )
        this.expanded.pop()
        this.toastMessage(submitCompletion)
        this.hoseNote = ''
      }
    },
  },
}
</script>

<style>
/* Overdue background for light theme */
.overdue {
  background-color: rgba(252, 88, 88, 0.432);
}

/* overdue background for dark theme */
table.table tr.bg-overdue td {
  background-color: rgba(255, 11, 23, 0.219);
}
</style>
