<template>
  <v-container fluid grid-list-md>
    <v-layout row align-center justify-end>
      <v-flex shrink>
        <tech-name-field :techName="techName"></tech-name-field>
      </v-flex>
    </v-layout>
    <v-layout row align-center justify-center>
      <v-flex>
        <v-tabs v-model="selectedTab" grow>
          <v-tab ripple>Searchable Table</v-tab>
          <v-tab ripple>By Location Tree</v-tab>
        </v-tabs>
        <v-tabs-items v-model="selectedTab">
          <v-tab-item>
            <v-card elevation="12">
              <v-card-title>
                <v-text-field
                  v-stream:keyup.native="search$"
                  :value="tableSearch"
                  autocomplete="off"
                  hint="To trigger a search enter a number OR more than 3 letters"
                  append-icon="mdi-magnify"
                  clearable
                  label="Search"
                  single-line
                  @click:clear="tableSearch = ''"
                ></v-text-field>
              </v-card-title>
              <v-data-table
                :headers="tableHeaders"
                :items="inventoryItems"
                :search="tableSearch"
                :custom-filter="filterTable"
                :footer-props="{
                  itemsPerPageOptions: [20, 50, 100, -1],
                }"
                :items-per-page="20"
                :loading="tableLoading"
                loading-text="Table is loading..."
                @click:row="clickRow"
              >
                <template #item.category="{ item }">
                  <span>
                    <span v-for="(cat, index) in item.category" :key="index">
                      <v-chip small disabled>{{ cat }}</v-chip>
                    </span>
                    <span v-if="item.criticalSpare">
                      <v-tooltip bottom>
                        <template #activator="{ on: tooltip }">
                          <span v-on="{ ...tooltip }">
                            <v-chip small disabled color="warning">CS</v-chip>
                          </span>
                        </template>
                        <span>Critical Spare</span>
                      </v-tooltip>
                    </span>
                  </span>
                </template>
                <template #item.totalOnHand="{ item }">
                  <span v-if="item.uom">
                    {{ `${item.totalOnHand} (${item.uom})` }}
                  </span>
                  <span v-else>
                    {{ item.totalOnHand }}
                  </span>
                </template>
              </v-data-table>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-layout row align-center justify-center>
              <v-flex shrink>
                <v-card elevation="12">
                  <v-treeview
                    :items="locationTree"
                    :load-children="getChildren"
                    :active.sync="selectedLocation"
                    :open.sync="openedItems"
                    item-key="_id"
                    activatable
                    dense
                    return-object
                    shaped
                  >
                  </v-treeview>
                </v-card>
              </v-flex>
              <v-flex grow>
                <v-layout column>
                  <v-flex>
                    <v-card elevation="12">
                      <v-card-title>
                        <v-text-field
                          v-stream:keyup.native="search$"
                          :value="tableSearch"
                          autocomplete="off"
                          hint="To trigger a search enter a number OR more than 3 letters"
                          append-icon="mdi-magnify"
                          clearable
                          label="Search"
                          single-line
                          @click:clear="tableSearch = ''"
                        ></v-text-field>
                      </v-card-title>
                      <v-data-table
                        :headers="tableHeaders"
                        :items="allChildren"
                        :search="tableSearch"
                        :custom-filter="filterTable"
                        :footer-props="{
                          itemsPerPageOptions: [20, 50, 100, -1],
                        }"
                        :items-per-page="20"
                        :loading="tableLoading"
                        loading-text="Table is loading..."
                        @click:row="clickRow"
                      >
                        <template #item.category="{ item }">
                          <span>
                            <span
                              v-for="(cat, index) in item.category"
                              :key="index"
                            >
                              <v-chip small disabled>{{ cat }}</v-chip>
                            </span>
                            <span v-if="item.criticalSpare">
                              <v-tooltip bottom>
                                <template #activator="{ on: tooltip }">
                                  <span v-on="{ ...tooltip }">
                                    <v-chip small disabled color="warning"
                                      >CS</v-chip
                                    >
                                  </span>
                                </template>
                                <span>Critical Spare</span>
                              </v-tooltip>
                            </span>
                          </span>
                        </template>
                        <template #item.totalOnHand="{ item }">
                          <span v-if="item.uom">
                            {{ `${item.totalOnHand} (${item.uom})` }}
                          </span>
                          <span v-else>
                            {{ item.totalOnHand }}
                          </span>
                        </template>
                      </v-data-table>
                    </v-card>
                  </v-flex>
                </v-layout>
              </v-flex>
            </v-layout>
          </v-tab-item>
        </v-tabs-items>
      </v-flex>
    </v-layout>
    <item-details
      :inventoryItemPopup="showDetailsPopup"
      :inventoryItem="itemData"
      @close="closeDetailsPopup"
      @update="clickRow"
      @grabItems="getItems"
    ></item-details>
    <tech-name :promptTechName="promptTechName"></tech-name>
  </v-container>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import {
  tap,
  map,
  filter,
  distinctUntilChanged,
  debounceTime,
} from 'rxjs/operators'
import itemDetails from '../../components/Inventory/InventoryItemDetails.vue'
import TechName from '~/components/Utils/TechName.vue'
import TechNameField from '~/components/Utils/TechNameField.vue'

export default {
  name: 'Inventory',
  components: {
    itemDetails,
    TechName,
    TechNameField,
  },
  props: {},
  data() {
    return {
      showDetailsPopup: false,
      itemData: {},
      tableLoading: false,

      selectedTab: '',

      inventoryItems: [],
      itemSearch: '',

      tableHeaders: [
        {
          text: 'Name',
          align: 'center',
          value: 'name',
        },
        {
          text: 'Description',
          align: 'center',
          value: 'description',
        },
        {
          text: 'Category',
          align: 'center',
          value: 'category',
        },
        {
          text: 'Qty On Hand',
          align: 'center',
          value: 'totalOnHand',
        },
      ],

      locationTree: [],
      selectedLocation: [],
      openedItems: [],
      allChildren: [],

      showNewItem: false,
    }
  },
  domStreams: ['search$'],
  subscriptions() {
    return {
      tableSearch: this.search$.pipe(
        map((val) => {
          if (val.event.type == 'click') {
            return val.data.trim()
          } else {
            return val.event.target.value.trim()
          }
        }),
        filter((val) => val.length > 2 || val == '' || !isNaN(val)),
        distinctUntilChanged(),
        tap(() => {
          this.tableLoading = true
          setTimeout(() => {
            this.tableLoading = false
          }, 1200)
        }),
        debounceTime(500)
      ),
    }
  },
  computed: {
    ...mapState('sitewide', [
      'mongoUrl',
      'userLoggedIn',
      'loggedInUser',
      'techName',
      'promptTechName',
    ]),
  },
  watch: {
    selectedLocation: async function () {
      if (this.selectedLocation.length) {
        this.getAllChildrenItems(this.selectedLocation[0])
      } else {
        this.allChildren = []
      }
    },
  },
  mounted() {
    this.$store.commit('sitewide/setActivePage', 'inventory')
    this.getRoot()
    this.getItems()
  },
  methods: {
    ...mapActions('sitewide', ['logWrite', 'toastMessage']),
    async getRoot() {
      this.locationTree = await this.$axios.$get(
        `${this.mongoUrl}inventory/locations/root`
      )
      this.selectedLocation = this.locationTree
      this.getChildren(this.locationTree[0])
      this.openedItems = this.locationTree
    },
    async getItems() {
      this.inventoryItems = await this.$axios.$get(
        `${this.mongoUrl}inventory/items/all`
      )
      if (this.selectedLocation.length) {
        this.getAllChildrenItems(this.selectedLocation[0])
      }
    },
    async getAllChildrenItems(location) {
      this.allChildren = await this.$axios.$get(
        `${this.mongoUrl}inventory/items/location/${location._id}`
      )
    },
    async getChildren(location) {
      try {
        const temp = await this.$axios.$get(
          `${this.mongoUrl}inventory/locations/children/${location._id}`
        )
        if (temp.length) {
          location.children.push(...temp)
        } else {
          this.$delete(location, 'children')
        }
      } catch (error) {
        this.logWrite({
          logType: 'error',
          logItem: `Inventory.vue, getChildren() - ${error}`,
        })
      }
    },
    async clickRow(item) {
      try {
        const temp = await this.$axios.$get(
          `${this.mongoUrl}inventory/items/single/${item._id}`
        )
        if (temp.locations[0] != null) {
          temp.totalOnHand = temp.locations.reduce((sum, location) => {
            return sum + location.qty
          }, 0)
        } else {
          temp.totalOnHand = 0
        }
        this.itemData = temp
        this.showDetailsPopup = true
      } catch (error) {
        this.logWrite({
          logType: 'error',
          logItem: `Inventory.vue, clickRow() - ${error}`,
        })
      }
    },
    filterTable(value, search, item) {
      if (value && search) {
        if (
          value
            .toString()
            .toLocaleUpperCase()
            .indexOf(search.toString().toLocaleUpperCase()) !== -1
        ) {
          return true
        } else if (
          item.keywords
            .toString()
            .toLocaleUpperCase()
            .indexOf(search.toString().toLocaleUpperCase()) !== -1
        ) {
          return true
        } else if (
          JSON.stringify(item.partNumber)
            .toLocaleUpperCase()
            .indexOf(search.toString().toLocaleUpperCase()) !== -1
        ) {
          return true
        } else {
          return false
        }
      }
    },
    closeDetailsPopup() {
      this.showDetailsPopup = false
    },
  },
}
</script>

<style></style>
