<template>
  <v-container fluid grid-list-lg>
    <v-layout row wrap align-center justify-space-around>
      <v-spacer />
      <v-flex shrink>
        <loader-button
          text="New Entry"
          @click.native="isNewWindowActive = true"
        ></loader-button>
      </v-flex>
      <v-spacer />
      <tech-name-field :techName="techName"></tech-name-field>
    </v-layout>
    <v-layout row wrap align-center justify-space-around>
      <v-spacer />
      <v-flex shrink>
        <v-btn-toggle v-model="tableShown">
          <v-btn elevation="6" value="Documentation">Documentation</v-btn>
          <v-btn elevation="6" value="ET Log">ET Log</v-btn>
          <v-btn elevation="6" value="MT Log">MT Log</v-btn>
          <v-btn elevation="6" value="Passdown">Passdown</v-btn>
        </v-btn-toggle>
      </v-flex>
      <v-spacer />
      <v-flex>
        <v-text-field
          v-stream:keyup.native="search$"
          autocomplete="off"
          append-icon="search"
          label="Search"
          single-line
          hint="3 characters or more to trigger search"
        ></v-text-field>
      </v-flex>
    </v-layout>
    <v-layout row wrap align-center justify-center>
      <v-flex v-if="!filteredItems.length" grow>
        <h4 class="text-center">There are no log entries in this category.</h4>
      </v-flex>
      <v-flex v-else grow>
        <v-data-table
          item-key="_id"
          sort-by="updatedAt"
          sort-desc
          :headers="
            tableShown === 'Passdown' ? headers.concat(datesAddon) : headers
          "
          :items="filteredItems"
          :search="searchSend$"
          :custom-filter="searchNotes"
          :loading="tableLoading"
          @click:row="clickRow"
        >
          <template #item.createdAt="{ item }">
            <base-format-date
              :ISOdate="item.createdAt"
              return-blank
            ></base-format-date>
          </template>
          <template #item.dateFrom="{ item }">
            <base-format-date
              :ISOdate="item.dateFrom"
              return-blank
            ></base-format-date>
          </template>
          <template #item.dateTo="{ item }">
            <base-format-date
              :ISOdate="item.dateTo"
              return-blank
            ></base-format-date>
          </template>
          <template #item.category="{ item }">
            <span v-if="!item.category.length"></span>
            <span v-else-if="item.category.length == 1">
              <v-chip small disabled>{{ item.category[0] }}</v-chip>
            </span>
            <span
              v-else-if="
                item.category.length > 1 && item.category.length < iconNum + 1
              "
            >
              <span v-for="(cat, index) in item.category" :key="index">
                <v-chip small disabled>{{ cat }}</v-chip>
              </span>
            </span>
            <span v-else>
              <span v-for="(cat, index) in item.category" :key="index">
                <v-chip v-if="index + 1 <= iconNum" small disabled>{{
                  cat
                }}</v-chip>
              </span>
              <span>{{ `+ ${item.category.length - iconNum} more` }}</span>
            </span>
          </template>
          <template #expanded-item="{ item }">
            <vue-markdown
              :source="item.note"
              :anchorAttributes="{ target: '_blank' }"
            ></vue-markdown>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>

    <new-log-popup
      :isActive="isNewWindowActive"
      @close="isNewWindowActive = false"
      @refreshLogs="getLogs"
    ></new-log-popup>
    <details-log-popup
      :isActive="isDetailsOpen"
      :logEntry="detailsItem"
      @close="closeDetails"
      @refreshLogs="getLogs"
    ></details-log-popup>
    <tech-name :promptTechName="promptTechName"></tech-name>
  </v-container>
</template>

<script>
import TechName from '~/components/Utils/TechName.vue'
import TechNameField from '~/components/Utils/TechNameField.vue'
import NewLogPopup from '~/components/Logs/NewLogPopup.vue'
import DetailsLogPopup from '~/components/Logs/DetailsLogPopup.vue'
import VueMarkdown from 'vue-markdown'
import { mapActions, mapState } from 'vuex'
import {
  tap,
  map,
  pluck,
  filter,
  debounceTime,
  distinctUntilChanged,
} from 'rxjs/operators'

export default {
  name: 'Logs',
  components: {
    NewLogPopup,
    DetailsLogPopup,
    TechName,
    TechNameField,
    VueMarkdown,
  },
  props: {},
  data() {
    return {
      tableShown: 'Documentation',
      tableLoading: false,
      iconNum: 3,

      detailsItem: {},

      logItems: [],

      isNewWindowActive: false,
      isDetailsOpen: false,

      headers: [
        {
          text: 'Entry Number',
          value: 'entryNumber',
          sortable: true,
          align: 'center',
        },
        {
          text: 'Entered',
          value: 'createdAt',
          sortable: true,
          align: 'center',
        },
        {
          text: 'Title',
          value: 'title',
          sortable: true,
          align: 'center',
        },
        {
          text: 'Category',
          value: 'category',
          sortable: true,
          align: 'center',
        },
      ],
      datesAddon: [
        {
          text: 'Date From',
          value: 'dateFrom',
          align: 'center',
        },
        {
          text: 'Date To',
          value: 'dateTo',
          align: 'center',
        },
      ],
    }
  },
  domStreams: ['search$'],
  subscriptions() {
    return {
      searchSend$: this.search$.pipe(
        pluck('event', 'target', 'value'),
        map((val) => val.trim()),
        filter((val) => val.length > 2 || val == ''),
        distinctUntilChanged(),
        tap(() => {
          this.tableLoading = true
          setTimeout(() => {
            this.tableLoading = false
          }, 1000)
        }),
        debounceTime(750)
      ),
    }
  },
  computed: {
    ...mapState('sitewide', [
      'mongoUrl',
      'userLoggedIn',
      'loggedInUser',
      'techName',
      'promptTechName',
    ]),
    filteredItems: function () {
      return this.logItems.filter((item) => item.type.includes(this.tableShown))
    },
  },
  watch: {},
  mounted() {
    this.$store.commit('sitewide/setActivePage', 'logs')
    this.getLogs()
  },
  methods: {
    ...mapActions('sitewide', ['logWrite', 'toastMessage']),
    async getLogs() {
      this.logItems = await this.$axios.$get(`${this.mongoUrl}systemlogs/`)
    },
    searchNotes(value, search, item) {
      if (value && search) {
        if (
          item.note &&
          item.note
            .toString()
            .toLocaleUpperCase()
            .indexOf(search.toString().toLocaleUpperCase()) !== -1
        ) {
          return true
        } else {
          return false
        }
      }
    },
    clickRow(record) {
      this.detailsItem = record
      this.isDetailsOpen = true
    },
    closeDetails() {
      this.isDetailsOpen = false
      this.detailsItem = {}
    },
  },
}
</script>

<style></style>
