<template>
  <v-container fluid grid-list-lg>
    <v-layout row wrap align-center justify-space-around>
      <v-spacer />
      <v-flex shrink>
        <loader-button
          text="New Package Entry"
          @click.native="isNewWindowActive = true"
        ></loader-button>
      </v-flex>
      <v-spacer />
      <tech-name-field :techName="techName"></tech-name-field>
    </v-layout>
    <v-layout row wrap align-center justify-space-around>
      <v-spacer />
      <v-flex>
        <v-text-field
          v-stream:keyup.native="search$"
          autocomplete="off"
          append-icon="search"
          label="Search"
          single-line
          hint="3 characters or more to trigger search"
        ></v-text-field>
      </v-flex>
    </v-layout>
    <v-layout row wrap align-center justify-center>
      <v-flex grow>
        <v-data-table
          item-key="_id"
          sort-by="updatedAt"
          sort-desc
          :headers="headers"
          :items="packageItems"
          :search="searchSend$"
          :custom-filter="searchPackages"
          :loading="tableLoading"
          @click:row="clickRow"
        >
          <template #item.createdAt="{ item }">
            <base-format-date
              :ISOdate="item.createdAt"
              return-blank
            ></base-format-date>
          </template>
          <template #item.openDate="{ item }">
            <base-format-date
              :ISOdate="item.openDate"
              return-blank
            ></base-format-date>
          </template>
          <template #item.closeDate="{ item }">
            <base-format-date
              :ISOdate="item.closeDate"
              return-blank
            ></base-format-date>
          </template>
          <template #expanded-item="{ item }">
            <vue-markdown
              :source="item.description"
              :anchorAttributes="{ target: '_blank' }"
            ></vue-markdown>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>

    <new-package-popup
      :isActive="isNewWindowActive"
      @close="isNewWindowActive = false"
      @refreshPackages="getPackages"
    ></new-package-popup>
    <details-package-popup
      :isActive="isDetailsOpen"
      :packageEntry="detailsItem"
      @refreshNotes="refreshNotes"
      @close="closeDetails"
      @refreshPackages="getPackages"
    ></details-package-popup>
    <tech-name :promptTechName="promptTechName"></tech-name>
  </v-container>
</template>

<script>
import TechName from '~/components/Utils/TechName.vue'
import TechNameField from '~/components/Utils/TechNameField.vue'
import NewPackagePopup from '~/components/Packages/NewPackagePopup.vue'
import DetailsPackagePopup from '~/components/Packages/DetailsPackagePopup.vue'
import VueMarkdown from 'vue-markdown'
import { mapActions, mapState } from 'vuex'
import {
  tap,
  map,
  pluck,
  filter,
  debounceTime,
  distinctUntilChanged,
} from 'rxjs/operators'

export default {
  name: 'Packages',
  components: {
    NewPackagePopup,
    DetailsPackagePopup,
    TechName,
    TechNameField,
    VueMarkdown,
  },
  props: {},
  data() {
    return {
      tableLoading: false,

      detailsItem: {},
      packageItems: [],

      isNewWindowActive: false,
      isDetailsOpen: false,

      headers: [
        {
          text: 'Package #',
          value: 'entryNumber',
          sortable: true,
          align: 'center',
        },
        {
          text: 'Entered',
          value: 'createdAt',
          sortable: true,
          align: 'center',
        },
        {
          text: 'Task',
          value: 'task',
          sortable: true,
          align: 'center',
        },
        {
          text: 'System',
          value: 'system',
          sortable: true,
          align: 'center',
        },
        {
          text: 'Date Opened',
          value: 'openDate',
          sortable: true,
          align: 'center',
        },
        {
          text: 'Date Closed',
          value: 'closeDate',
          sortable: true,
          align: 'center',
        },
      ],
    }
  },
  domStreams: ['search$'],
  subscriptions() {
    return {
      searchSend$: this.search$.pipe(
        pluck('event', 'target', 'value'),
        map((val) => val.trim()),
        filter((val) => val.length > 2 || val == ''),
        distinctUntilChanged(),
        tap(() => {
          this.tableLoading = true
          setTimeout(() => {
            this.tableLoading = false
          }, 1000)
        }),
        debounceTime(750)
      ),
    }
  },
  computed: {
    ...mapState('sitewide', [
      'mongoUrl',
      'userLoggedIn',
      'loggedInUser',
      'techName',
      'promptTechName',
    ]),
  },
  watch: {},
  mounted() {
    this.$store.commit('sitewide/setActivePage', 'packages')
    this.getPackages()
  },
  methods: {
    ...mapActions('sitewide', ['logWrite', 'toastMessage']),
    async getPackages() {
      this.packageItems = await this.$axios.$get(`${this.mongoUrl}packages/`)
    },
    async refreshNotes(id) {
      try {
        this.detailsItem.notes = await this.$axios.$get(
          `${this.mongoUrl}packages/notes/${id}`
        )
      } catch (error) {
        this.logWrite({
          logType: 'error',
          logItem: `DetailsPackagePopup.vue, refreshNotes() - ${error}`,
        })
      }
    },
    searchPackages(value, search) {
      if (value && search) {
        if (
          value
            .toString()
            .toLocaleUpperCase()
            .indexOf(search.toString().toLocaleUpperCase()) !== -1
        ) {
          return true
        } else {
          return false
        }
      }
    },
    clickRow(record) {
      this.detailsItem = record
      this.isDetailsOpen = true
    },
    closeDetails() {
      this.isDetailsOpen = false
      this.detailsItem = {}
    },
  },
}
</script>

<style></style>
