<template>
  <div>
    <!-- <v-container fluid>
      <v-layout align-center justify-space-around row wrap>
        <v-flex shrink>
          <span>
            Displaying
            <br />
            {{ totalRows }} of {{ obsCards.length }} results
          </span>
        </v-flex>
        <v-flex shrink>
          <h3>Observations</h3>
        </v-flex>
        <v-flex shrink>
          <loader-button text="New Card" size="large" color="success" @click.native="newCard"></loader-button>
        </v-flex>
      </v-layout>
    </v-container>

    <b-container fluid>
      <b-row>
        <b-col md="12" class="my-1">
          <b-form-group class="mb-0">
            <b-input-group>
              <b-form-input v-model="filter" placeholder="Type to Search" />
              <b-input-group-append>
                <b-btn :disabled="!filter" @click="filter = ''">Clear</b-btn>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>
      <b-table
        show-empty
        stacked="md"
        :items="obsCards"
        :fields="fieldsList"
        :current-page="currentPage"
        :per-page="perPage"
        :filter="filter"
        :sort-by.sync="sortBy"
        :sort-desc.sync="sortDesc"
        :sort-direction="sortDirection"
        :dark="darkTheme == 'dark' ? true : false"
        striped
        hover
        outlined
        @filtered="onFiltered"
        @row-clicked="cardDetails"
      >
        <template slot="date" slot-scope="row">
          <base-format-date :ISOdate="row.value"></base-format-date>
        </template>
        <template slot="name" slot-scope="row">{{ row.value }}</template>
        <template slot="category" slot-scope="row">{{ row.value }}</template>
      </b-table>

      <b-row>
        <b-col md="12" class="my-1 fluid">
          <b-pagination v-model="currentPage" :total-rows="totalRows" :per-page="perPage" class="my-0" />
        </b-col>
      </b-row>
    </b-container>

    <new-obs-card
      :newObsCardPopup="newObsCardPopup"
      :safetyCategoryOptions="safetyCategoryOptions"
      @closeNewObsPopup="closeNewObsPopup"
      @refreshList="getObservations"
    ></new-obs-card>

    <view-obs-card
      :viewObsCardPopup="viewObsCardPopup"
      :viewObsCardPopupData="viewObsCardPopupData"
      @closeObsPopup="closeObsPopup"
    ></view-obs-card
    ><view -->
  </div>
</template>

<script>
// import NewObsCard from '~/components/Safety/NewObsCard.vue'
// import ViewObsCard from '~/components/Safety/ViewObsCard.vue'
// import { mapActions, mapMutations, mapGetters, mapState } from 'vuex'

// export default {
//   name: 'Safety', // name of page for router
//   components: {
//     NewObsCard,
//     ViewObsCard,
//   },
//   props: [],
//   data() {
//     return {
//       // variables
//       fieldsList: [
// Build table fields to display, each key must match the "slot=" property in the template
//         {
//           key: 'date',
//           label: 'Date',
//           sortable: true,
//           class: 'text-center',
//         },
//         {
//           key: 'name',
//           label: 'Observer',
//           sortable: true,
//           class: 'text-center',
//         },
//         {
//           key: 'category',
//           label: 'Category',
//           sortable: true,
//           class: 'text-center',
//         },
//       ],
//       currentPage: 1,
//       perPage: 25,
//       totalRows: 0,
//       pageOptions: [25, 50, 100],
//       sortBy: 'date',
//       sortDesc: true,
//       sortDirection: 'desc',
//       filter: null, // data for table filters and pagination

//       obsCards: [],
//       newObsCardPopup: false,

//       viewObsCardPopup: false,
//       viewObsCardPopupData: [],
//     }
//   },
//   computed: {
//     ...mapState('sitewide', ['darkTheme', 'ajaxUrl', 'databaseName']),
//     ...mapState('safety', ['safetyCategoryOptions']),
//   },
//   mounted() {
//     this.menuSelection('Safety')
//     this.$store.commit('sitewide/setActivePage', 'safety')
//   },
//   created() {
//     this.getObservations()
//     this.getSafetyCategoryOptions()
//   },
//   methods: {
//     ...mapActions('sitewide', ['toastMessage', 'logWrite', 'menuSelection']),
//     ...mapActions('safety', ['getSafetyCategoryOptions']),
//     onFiltered(filteredTasks) {
//       // Trigger pagination to update the number of buttons/pages due to filtering
//       this.totalRows = filteredTasks.length
//       this.currentPage = 1
//     },
//     cardDetails(record) {
//       this.viewObsCardPopupData = record
//       this.viewObsCardPopup = true
//     },
//     newCard() {
//       this.newObsCardPopup = true
//     },
//     closeNewObsPopup() {
//       this.newObsCardPopup = false
//     },
//     closeObsPopup() {
//       this.viewObsCardPopup = false
//     },
//     async getObservations() {
//       try {
//         let getObs = await this.$axios.$get(this.ajaxUrl, {
//           params: {
//             tableName: 'obsCards',
//           },
//         })
//         this.obsCards = getObs
//         this.totalRows = this.obsCards.length
//       } catch (error) {
//         this.logWrite({
//           logType: 'error',
//           logItem: `Safety.vue, getObservations() - ${error}`,
//         })
//       }
//     },
//   },
// }
</script>

<style scoped></style>
