<template>
  <v-container fluid grid-list-md>
    <v-tabs grow show-arrows>
      <v-tab ripple>Site Settings</v-tab>
      <v-tab v-if="userLoggedIn" ripple>Admin</v-tab>
      <v-tab ripple>Meters</v-tab>
      <v-tab v-if="userLoggedIn" ripple>Deactivated Tasks</v-tab>
      <v-tab v-if="userLoggedIn || inventoryMode" ripple>Inventory</v-tab>
      <v-tab v-if="userLoggedIn && menuOptions.hoses" ripple
        >Hose Registry</v-tab
      >
      <v-tab ripple>Emails</v-tab>
      <v-tab v-if="userLoggedIn" ripple>Backups</v-tab>
      <v-tab ripple>Server Logs</v-tab>

      <v-tab-item>
        <v-container fluid>
          <site-settings></site-settings>
        </v-container>
      </v-tab-item>
      <v-tab-item v-if="userLoggedIn">
        <v-container fluid>
          <admin-settings></admin-settings>
        </v-container>
      </v-tab-item>
      <v-tab-item>
        <v-container fluid>
          <v-layout row align-center justify-center>
            <v-flex shrink>
              <meter-table></meter-table>
            </v-flex>
          </v-layout>
        </v-container>
      </v-tab-item>
      <v-tab-item v-if="userLoggedIn">
        <v-container fluid>
          <v-layout row align-center justify-center>
            <v-flex grow>
              <non-active-tasks
                :deactivatedTasks="deactivatedTasks"
              ></non-active-tasks>
            </v-flex>
          </v-layout>
        </v-container>
      </v-tab-item>
      <v-tab-item v-if="userLoggedIn || inventoryMode">
        <v-container fluid>
          <v-layout row align-center justify-center>
            <v-flex grow>
              <inventory></inventory>
            </v-flex>
          </v-layout>
        </v-container>
      </v-tab-item>
      <v-tab-item v-if="userLoggedIn && menuOptions.hoses">
        <v-container fluid>
          <v-layout row align-center justify-center>
            <v-flex grow>
              <hose-registry></hose-registry>
            </v-flex>
          </v-layout>
        </v-container>
      </v-tab-item>
      <v-tab-item>
        <v-container fluid>
          <v-layout row align-center justify-center>
            <v-flex grow>
              <emails
                :obs-card-export="obsCardExport"
                :off-site-backup="offSiteBackup"
                :to-order-list="toOrderList"
              ></emails>
            </v-flex>
          </v-layout>
        </v-container>
      </v-tab-item>
      <v-tab-item v-if="userLoggedIn">
        <v-container fluid>
          <v-layout row align-center justify-center>
            <v-flex grow>
              <backups :existing-backups="existingBackups"></backups>
            </v-flex>
          </v-layout>
        </v-container>
      </v-tab-item>
      <v-tab-item>
        <v-container fluid>
          <v-layout row align-center justify-center>
            <v-flex grow>
              <logs></logs>
            </v-flex>
          </v-layout>
        </v-container>
      </v-tab-item>
    </v-tabs>

    <v-dialog v-model="taskListPopup" width="800">
      <v-card>
        <v-container fluid>
          <v-layout column justify-center align-center>
            <v-flex shrink>
              <h3>Tasks that use {{ activeMeter }}:</h3>
              <br />
            </v-flex>
            <v-flex shrink>
              <div v-show="taskList.length > 0">
                <ul class="taskList">
                  <li v-for="(task, index) in taskList" :key="index">
                    {{ task }}
                  </li>
                </ul>
              </div>
              <h4 v-show="taskList.length == 0">
                {{ activeMeter }} does not seem to be in use at this time.
              </h4>
            </v-flex>
          </v-layout>
          <v-layout row justify-center align-center>
            <v-flex shrink>
              <v-btn text outlined @click="taskListPopup = false">OK</v-btn>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import NonActiveTasks from '~/components/Settings/NonActiveTasks.vue'
import SiteSettings from '~/components/Settings/SiteSettings.vue'
import AdminSettings from '~/components/Settings/AdminSettings.vue'
import MeterTable from '~/components/Settings/MeterTable.vue'
import Inventory from '~/components/Settings/Inventory.vue'
import HoseRegistry from '~/components/Settings/HoseRegistry.vue'
import Backups from '~/components/Settings/Backups.vue'
import Logs from '~/components/Settings/Logs.vue'
import Emails from '~/components/Settings/Emails.vue'
import { mapActions, mapState } from 'vuex'

export default {
  name: 'Settings', // name of page for router
  components: {
    NonActiveTasks,
    SiteSettings,
    AdminSettings,
    MeterTable,
    Inventory,
    HoseRegistry,
    Backups,
    Logs,
    Emails,
  },
  props: {
    existingBackups: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      // variables
      deactivatedTasks: [],
      hourMeters: [],
      hourMeterTasks: [],
      obsCardExport: [],
      offSiteBackup: [],
      toOrderList: [],
      gotMetersAndTasks: false,
      listPopupShown: false,
    }
  },
  computed: {
    ...mapState('sitewide', [
      'darkTheme',
      'mongoUrl',
      'userLoggedIn',
      'menuOptions',
      'inventoryMode',
    ]),
    ...mapState('settings', ['taskListPopup', 'taskList', 'activeMeter']),
  },
  watch: {
    taskListPopup: function () {
      if (!this.taskListPopup) {
        this.$store.commit('settings/setTaskList', [])
        this.$store.commit('settings/setActiveMeter', '')
      }
    },
  },
  mounted() {
    this.menuSelection('Settings')
    this.$store.commit('sitewide/setActivePage', 'settings')
    this.getMeters()
    this.grabDeactivatedTasks()
  },
  created() {},
  methods: {
    ...mapActions('sitewide', [
      'logWrite',
      'toastMessage',
      'getSiteSettings',
      'menuSelection',
    ]),
    ...mapActions('settings', ['grabAutoEmailData']),
    ...mapActions('tasks', ['getMeters']),
    async grabDeactivatedTasks() {
      try {
        const grabNonActive = await this.$axios.$get(
          `${this.mongoUrl}taskdata/inactive`
        )
        this.deactivatedTasks = grabNonActive
      } catch (error) {
        this.logWrite({
          logType: 'error',
          logItem: `Settings.vue, getDeactivatedTasks()- ${error}`,
        })
      }
    },
  },
}
</script>

<style scoped></style>
