<template>
  <div id="mainTable">
    <v-container
      v-show="
        currentTaskMode == 'De-Mobilization' &&
        dueTasks.length == 0 &&
        !loadingScreen
      "
      fluid
      grid-list-md
      class="text-center"
    >
      <v-layout row wrap align-center justify-center>
        <v-flex grow>
          <br />
          <br />
          <br />According to our records you are not currently mobilized.
          <br />
          <br />Press the button below when it's time to put everything back on
          and we will get this show on the road.
          <br />
          <br />
        </v-flex>
      </v-layout>
      <v-layout row wrap align-center justify-center>
        <v-flex shrink>
          <loader-button
            text="Mobe/Remobe System"
            @click.native="OpsStatusChange('Mobilization')"
          ></loader-button>
        </v-flex>
      </v-layout>
    </v-container>

    <v-container
      v-show="
        currentTaskMode == 'In Layup' && dueTasks.length == 0 && !loadingScreen
      "
      fluid
      class="text-center"
    >
      <v-layout row wrap align-center justify-center>
        <v-flex grow>
          <br />
          <br />
          <br />According to our records the system is in layup.
          <br />
          <br />Press the button below when it's time to get back to work and we
          will get this thing rolling.
          <br />
          <br />
        </v-flex>
      </v-layout>
      <v-layout row wrap align-center justify-center>
        <v-flex shrink>
          <loader-button
            text="Come out of Layup"
            @click.native="OpsStatusChange('Out Of Layup')"
          ></loader-button>
        </v-flex>
      </v-layout>
    </v-container>

    <v-container
      v-show="
        emptyDatabase &&
        (currentTaskMode === 'Ops' ||
          currentTaskMode === 'Transit' ||
          currentTaskMode.includes('custom.'))
      "
      fluid
      class="text-center"
    >
      <v-layout row wrap align-center justify-center>
        <v-flex grow>
          <br />
          <br />
          <br />
          <h4 class="text">
            I can't find any tasks in the database.
            <br />
            <br />Either something has gone horribly wrong or <br />this is a
            brand new system and nothing has been created yet.
            <br />
            <br />
            If you are running the software for the first time it might be worth
            <span class="error--text"
              ><a :href="getSetupLink()" target="_blank">clicking here</a></span
            >
            to
            <br />
            get a good baseline for strategies on site usage options.
            <br />
            <br />
            <a
              class="link"
              @click.stop="
                tableTitle == 'All Tasks'
                $store.commit('tasks/setNewTaskPopup', true)
              "
            >
              <v-chip color="green"
                >Click here to get started by creating a task.</v-chip
              >
            </a>
          </h4>
        </v-flex>
      </v-layout>
    </v-container>

    <v-container
      v-show="
        dueTasks.length == 0 &&
        !emptyDatabase &&
        tableTitle == 'Due Tasks' &&
        tasksComplete &&
        !loadingScreen &&
        (currentTaskMode == 'Operations' ||
          currentTaskMode == 'Transit' ||
          currentTaskMode.includes('custom.'))
      "
      fluid
      class="text-center"
    >
      <v-layout row wrap align-center justify-center>
        <v-flex grow>
          <div v-show="numDays == 1">
            <br />
            <br />
            <br />
            <h4 class="text">
              All done, take a break.
              <br />If you need to inspect or add a task you may do so at the
              All Tasks Page
            </h4>
          </div>
          <div v-show="numDays == 2">
            <br />
            <br />
            <br />
            <h4 class="text">
              Whoa! You are supposed to be taking a break.
              <br />Why are you clicking these buttons?
            </h4>
          </div>
          <div v-show="numDays >= 3">
            <br />
            <br />
            <br />
            <h4 class="text">
              Ok! Fine! whatever...
              <br />
              You are now looking {{ numDays }} days ahead <br />and still have
              nothing to work on.
              <br />
              <br />
              <span class="green--text"
                >Are you bored? Do you like turtles?</span
              >
              <br />
              <v-tooltip bottom>
                <template #activator="{ on }">
                  <div v-on="on">
                    <v-icon
                      color="warning"
                      @click="
                        $event.stopPropagation()
                        $store.commit('sitewide/setToggleTurtle', true)
                      "
                      >emoji_nature</v-icon
                    >
                  </div>
                </template>
                <span>{{
                  iLikeTurtles ? 'Bye Bye Turtle' : 'Call for the turtle'
                }}</span>
              </v-tooltip>
            </h4>
          </div>
        </v-flex>
      </v-layout>
    </v-container>

    <v-container
      v-show="loadingScreen && tableTitle !== 'Previously Completed'"
    >
      <v-layout column wrap align-center justify-center>
        <v-flex shrink>
          <br />
          <br />
          <h4 class="text">{{ loadingScreenText }}</h4>
          <br />
          <br />
        </v-flex>
        <v-flex shrink>
          <v-progress-circular
            :size="70"
            :width="7"
            color="success"
            indeterminate
          ></v-progress-circular>
        </v-flex>
      </v-layout>
    </v-container>

    <task-table
      v-if="tableTitle == 'Due Tasks' && dueTasks.length > 0 && !emptyDatabase"
      ref="taskTableDue"
      :tasks="dueTasks"
      @updateDue="getDue"
      @closeOtherDetails="closeDetailsInTable"
    ></task-table>

    <task-table
      v-if="
        tableTitle == 'All Tasks' && activeTasks.length > 0 && !emptyDatabase
      "
      ref="taskTableAll"
      :tasks="activeTasks"
      @updateDue="getDue"
      @closeOtherDetails="closeDetailsInTable"
    ></task-table>

    <previously-completed-table
      v-show="tableTitle == 'Previously Completed'"
    ></previously-completed-table>

    <details-popup
      :detailsPopup="detailsPopup"
      :editButton="userLoggedIn"
      @reOpenDetails="reOpenPopup"
      @updateDue="getDue()"
    ></details-popup>
    <edit-task-data
      :editTaskPopup="editTaskPopup"
      @updateDue="getDue()"
    ></edit-task-data>
    <new-task-popup
      :newTaskPopup="newTaskPopup"
      :newMeterPopup="newMeterPopup"
    ></new-task-popup>
  </div>
</template>

<script>
import TaskTable from '~/components/Tasks/TaskTable.vue'
import PreviouslyCompletedTable from '~/components/Tasks/PreviouslyCompletedTable.vue'
import DetailsPopup from '~/components/Tasks/DetailsPopup.vue'
import EditTaskData from '~/components/Tasks/EditTaskData.vue'
import NewTaskPopup from '~/components/Tasks/NewTaskPopup.vue'
import { mapActions, mapState } from 'vuex'
import {
  isAfter,
  parseISO,
  subDays,
  differenceInCalendarDays,
} from 'date-fns/esm'
// import { empty } from 'rxjs'

export default {
  name: 'TaskPage',
  components: {
    TaskTable,
    DetailsPopup,
    EditTaskData,
    NewTaskPopup,
    PreviouslyCompletedTable,
  },
  props: [],
  data() {
    return {
      dueTasks: [],
      detailsPopupData: [],
      getDueActive: false,

      tasksComplete: false,
      showActiveTasks: false,
    }
  },
  computed: {
    ...mapState('sitewide', [
      'mongoUrl',
      'currentTaskMode',
      'loadingScreen',
      'tableTitle',
      'tenantId',
      'userLoggedIn',
      'iLikeTurtles',
      'randomFact',
    ]),
    ...mapState('tasks', [
      'numDays',
      'newTaskPopup',
      'activeTasks',
      'emptyDatabase',
      'loadingScreenText',
      'meters',
      'meterPercentageDue',
      'newMeterPopup',
      'detailsPopup',
      'editTaskPopup',
    ]),
  },
  watch: {
    numDays: function () {
      this.getDue()
    },
    currentTaskMode: function () {
      this.getDue()
    },
  },
  created() {
    this.$store.commit('sitewide/setTableTitle', 'Due Tasks')
  },
  mounted() {
    if (this.tenantId === undefined && this.$route.params.db) {
      this.setApiUrl(this.$route.params.db)
    }
    this.getRandomFact()

    this.$store.commit('sitewide/setActivePage', 'tasks')
    this.getSiteSettings()
    this.getActiveTasks(
      this.randomFact
        ? this.randomFact
        : 'Working on making the tasks due table..'
    ) // initial page load info
    this.getDue()
    this.getCategoryOptions()
    this.getFreqOptions()
    this.getMeters()
    this.getMeterIntervals()
    this.getTransitionIntervals()
    this.menuSelection('Tasks')
  },
  methods: {
    ...mapActions('sitewide', [
      'toastMessage',
      'logWrite',
      'setApiUrl',
      'getSiteSettings',
      'menuSelection',
      'getRandomFact',
    ]),
    ...mapActions('tasks', [
      'getActiveTasks',
      'getFreqOptions',
      'getTransitionIntervals',
      'getMeters',
      'getMeterIntervals',
      'getCategoryOptions',
      'OpsStatusChange',
    ]),
    reOpenPopup(task) {
      if (this.$refs.taskTableDue.clickRow) {
        this.$refs.taskTableDue.clickRow(task)
      } else if (this.$refs.taskTableAll.clickRow) {
        this.$refs.taskTableAll.clickRow(task)
      }
    },
    autoChangeMode() {
      if (!this.dueTasks.length && !this.currentTaskMode.includes('custom.')) {
        if (this.currentTaskMode == 'Out Of Layup') {
          this.toastMessage('Finished layup tasking, going to transit mode')
          this.OpsStatusChange('Transit')
        } else if (this.currentTaskMode == 'Mobilization') {
          this.toastMessage('Finished Remobe tasking, going to transit mode')
          this.OpsStatusChange('Transit')
        } else {
          this.tasksComplete = true
        }
      } else {
        this.tasksComplete = false
      }
    },
    closeDetailsInTable(item) {
      if (this.tableTitle == 'Due Tasks') {
        for (let i = 0; i < this.dueTasks.length; i++) {
          if (item !== this.dueTasks[i]._id) {
            this.dueTasks[i]._showDetails = false
          }
        }
      } else if (this.tableTitle == 'All Tasks') {
        for (let i = 0; i < this.activeTasks.length; i++) {
          if (item !== this.activeTasks[i]._id) {
            this.activeTasks[i]._showDetails = false
          }
        }
      }
    },
    async getDue() {
      this.getActiveTasks(
        this.randomFact
          ? this.randomFact
          : 'Working on making the tasks due table..'
      ) // initial page load info
      if (!this.getDueActive) {
        this.getDueActive = true
        setTimeout(() => {
          this.getDueActive = false
        }, 1000)
        this.dueTasks = await this.$axios.$get(
          `${this.mongoUrl}taskdata/due/${this.numDays}?timezone=${
            new Date().getTimezoneOffset() / 60
          }`
        )
        const meterTasks = await this.$axios.$get(
          `${this.mongoUrl}taskdata?meterRequired=true&active=true`
        )
        const earlyReminders = await this.$axios.$get(
          `${
            this.mongoUrl
          }taskdata?earlyNotification=true&active=true&timezone=${
            new Date().getTimezoneOffset() / 60
          }`
        )

        if (
          meterTasks.length &&
          (this.currentTaskMode == 'Operations' ||
            this.currentTaskMode == 'Transit' ||
            this.currentTaskMode.includes('custom.'))
        ) {
          let reSortNeeded = false
          this.meters.forEach((meter) => {
            meterTasks.forEach((task) => {
              if (
                meter.name == task.meterName &&
                !task.category.includes('Meter')
              ) {
                // grab tasks but not the actual meter tasks as they are only due on dates
                const numToShowDue =
                  task.meterFrequency * (this.meterPercentageDue / 100) +
                  task.lastMeterReadingCompleted

                if (meter.currentReading >= numToShowDue) {
                  let notThere = true
                  for (let i = 0; i < this.dueTasks.length; i++) {
                    if (this.dueTasks[i]._id == task._id) {
                      if (
                        meter.currentReading >=
                        task.meterFrequency * (150 / 100) +
                          task.lastMeterReadingCompleted
                      ) {
                        task._rowVariant = 'overdue'
                      }
                      notThere = false
                      break
                    }
                  }
                  if (notThere) {
                    if (
                      meter.currentReading >=
                      task.meterFrequency * (150 / 100) +
                        task.lastMeterReadingCompleted
                    ) {
                      task._rowVariant = 'overdue'
                    }
                    this.dueTasks.push(task)
                    reSortNeeded = true
                  }
                } else if (
                  meter.currentReading >=
                    task.meterFrequency * (75 / 100) +
                      task.lastMeterReadingCompleted &&
                  task.nextMeterReadingDue != 0 &&
                  !task.meterEarlyNotificationComplete
                ) {
                  let notThere = true
                  for (let i = 0; i < this.dueTasks.length; i++) {
                    if (this.dueTasks[i]._id == task._id) {
                      notThere = false
                      break
                    }
                  }
                  if (notThere) {
                    task.earlyNotificationText = `Coming due soon! - ${task.taskName}`
                    task._rowVariant = 'info'
                    task.notificationOnly = true
                    this.dueTasks.push(task)
                    reSortNeeded = true
                  }
                }
              }
            })
          })
          if (reSortNeeded) {
            this.dueTasks.sort((a, b) => a.taskID - b.taskID)
            reSortNeeded = false
          }
        }

        if (earlyReminders.length) {
          let notThere = true
          earlyReminders.forEach((early) => {
            for (let i = 0; i < this.dueTasks.length; i++) {
              if (this.dueTasks[i]._id == early._id) {
                notThere = false
                break
              }
            }

            if (notThere && !early.onHold) {
              const timeForEarlyTask = isAfter(
                new Date(),
                subDays(
                  parseISO(early.nextDue),
                  parseInt(early.earlyNotificationDays)
                )
              )

              const alreadyDue = isAfter(new Date(), parseISO(early.nextDue))

              if (
                timeForEarlyTask &&
                !alreadyDue &&
                early.earlyNotificationComplete !== undefined &&
                early.earlyNotificationComplete == false
              ) {
                early.notificationOnly = true
                early._rowVariant = 'info'
                this.dueTasks.splice(0, 0, early)
              }
            }
          })
        }

        if (this.dueTasks.length) {
          this.showActiveTasks = true
          this.dueTasks.forEach((task) => {
            let daysPastDue = differenceInCalendarDays(
              new Date(),
              parseISO(task.nextDue)
            )

            let doublePastDue = false

            if (task.opsFrequency && task.transitFrequency) {
              if (
                this.currentTaskMode == 'Operations' ||
                this.currentTaskMode.includes('custom.')
              ) {
                // figure out if the due date has lapsed for the current interval period
                doublePastDue = daysPastDue >= task.opsFrequency
              } else {
                doublePastDue = daysPastDue >= task.transitFrequency
              }
            }

            if (doublePastDue) {
              // if the due date has lapsed by the completion interval, color it red
              task._rowVariant = 'overdue'
            }
          })
          this.$store.commit('tasks/setTasksLoading', false)
        } else {
          this.showActiveTasks = false
          this.autoChangeMode()
        }
      }
      this.$store.commit('tasks/setBusySubmitting', false)
      this.$store.commit('tasks/setTasksLoading', false)
    },
    getSetupLink() {
      return `${window.location.origin}/docs/setup/`
    },
  },
}
</script>

<style>
.button {
  text-align: center;
  align-self: center;
  justify-self: center;
}

.text {
  text-align: center;
  align-self: center;
  justify-self: center;
}
</style>
