<template>
  <div v-show="!loadingScreen">
    <v-container fluid>
      <v-row align="center" justify="end">
        <v-col cols="3">
          <tech-name-field :techName="techName"></tech-name-field>
        </v-col>
      </v-row>
    </v-container>
    <v-card>
      <v-card-title>
        <v-container fluid>
          <v-row justify="space-between" align="center">
            <v-col sm="10" md="6">
              <v-layout row wrap justify-space-around align-center>
                <v-flex shrink>
                  <loader-button
                    text="New To Do"
                    color="success"
                    @click.native="newTodoPopup = true"
                  ></loader-button>
                </v-flex>
                <v-flex shrink>
                  <loader-button
                    :text="
                      showPrev
                        ? 'Show Current To Do\'s'
                        : 'Show Previous To Do\'s'
                    "
                    :color="showPrev ? 'warning' : 'primary'"
                    @click.native="showPrev = !showPrev"
                  ></loader-button>
                </v-flex>
              </v-layout>
            </v-col>
            <v-col sm="12" md="5">
              <v-layout row align-center justify-right>
                <v-flex shrink>
                  <v-tooltip bottom>
                    <template #activator="{ on: tooltip }">
                      <span v-on="{ ...tooltip }">
                        <v-switch
                          v-model="searchDetails"
                          class="pa-0 ma-0"
                          color="primary"
                          hide-details
                        ></v-switch>
                      </span>
                    </template>
                    <span>Include todo description in the search</span>
                  </v-tooltip>
                </v-flex>
                <v-flex grow>
                  <v-text-field
                    v-stream:keyup.native="search$"
                    autocomplete="off"
                    append-icon="search"
                    label="Search"
                    single-line
                    hint="3 characters or more to trigger search"
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-col>
          </v-row>
        </v-container>
      </v-card-title>
      <v-data-table
        :headers="showPrev ? prevHeaders : headers"
        :items="showPrev ? prevTodos : todos"
        :search="searchSend$"
        :items-per-page="50"
        :mobile-breakpoint="750"
        :custom-filter="filterTable"
        :expanded.sync="expanded"
        no-results-text="That search term has no matches"
        no-data-text="There are no To Do's to display"
        sort-by="priority"
        sort-desc
        item-key="_id"
        :loading="tableLoading"
        loading-text="Table is loading..."
        :show-expand="!showPrev"
        single-expand
        :footer-props="{
          itemsPerPageOptions: [10, 20, 50, -1],
        }"
        @update:expanded="toDoNote = ''"
        @click:row="clickRow"
      >
        <template #item.dueDate="{ item }">
          <base-format-date
            :ISOdate="item.dueDate"
            return-blank
          ></base-format-date>
        </template>
        <template #item.completionDate="{ item }">
          <base-format-date
            :ISOdate="item.completionDate"
            return-blank
          ></base-format-date>
        </template>
        <template #item.priority="{ item }">{{
          item.priority ? priText(item.priority) : ''
        }}</template>
        <template v-if="!showPrev" #item.action="{ item }">
          <v-row wrap align="center" justify="space-around">
            <v-col>
              <loader-button
                text="Done"
                color="success"
                @click.native="
                  $event.stopPropagation()
                  markDone(item)
                "
              ></loader-button>
            </v-col>
            <v-col>
              <loader-button
                icon="remove"
                color="error"
                size="small"
                tipText="Remove To Do"
                floating
                @click.native="
                  $event.stopPropagation()
                  removeTodo(item)
                "
              ></loader-button>
            </v-col>
          </v-row>
        </template>
        <template #expanded-item="{ headers }">
          <td :colspan="headers.length">
            <v-card flat>
              <v-container>
                <v-row align="center" justify="center">
                  <v-col>
                    <v-text-field
                      v-model.trim="toDoNote"
                      autocomplete="off"
                      :error-messages="notesState ? '' : '10 character minimum'"
                      hint="This is a note that will attach to the completion or removal for additional context if referenced later"
                      outlined
                      label="Attach note to completion/removal"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card>
          </td>
        </template>
      </v-data-table>
    </v-card>

    <new-todo
      :newTodoPopup="newTodoPopup"
      :groups="groups"
      @getGroups="getGroups"
      @close="newTodoPopup = false"
      @getTodos="getTodos"
    ></new-todo>
    <details-todo
      :showDetails="showDetails"
      :todoItem="todoDetails"
      :groups="groups"
      @close="showDetails = false"
      @getGroups="getGroups"
      @getTodos="getTodos"
    ></details-todo>
    <tech-name :promptTechName="promptTechName"></tech-name>
  </div>
</template>

<script>
import TechName from '~/components/Utils/TechName.vue'
import TechNameField from '~/components/Utils/TechNameField.vue'
import NewTodo from '~/components/Todo/NewTodo.vue'
import DetailsTodo from '~/components/Todo/DetailsTodo.vue'
import { mapActions, mapState } from 'vuex'
import {
  tap,
  map,
  pluck,
  filter,
  debounceTime,
  distinctUntilChanged,
} from 'rxjs/operators'
import { addDays, parseISO } from 'date-fns'

export default {
  components: {
    TechName,
    TechNameField,
    NewTodo,
    DetailsTodo,
  },
  props: {
    tasks: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      headers: [
        {
          value: 'idNumber',
          text: 'ID',
          align: 'center',
          sortable: true,
        },
        {
          value: 'name',
          text: 'Name',
          align: 'center',
          sortable: true,
        },
        {
          value: 'dueDate',
          text: 'Due',
          align: 'center',
          sortable: true,
        },
        {
          value: 'group',
          text: 'Group',
          align: 'center',
          sortable: true,
        },
        {
          value: 'priority',
          text: 'Priority',
          align: 'center',
          sortable: true,
        },
        {
          value: 'enteredBy',
          text: 'Entered By',
          align: 'center',
          sortable: true,
        },
        { text: '', value: 'data-table-expand' },
        { text: '', value: 'action', sortable: false, align: 'center' },
      ],

      prevHeaders: [
        {
          value: 'idNumber',
          text: 'ID',
          align: 'center',
          sortable: true,
        },
        {
          value: 'name',
          text: 'Name',
          align: 'center',
          sortable: true,
        },
        {
          value: 'completionDate',
          text: 'Completed',
          align: 'center',
          sortable: true,
        },
        {
          value: 'enteredBy',
          text: 'Entered By',
          align: 'center',
          sortable: true,
        },
        {
          value: 'doneBy',
          text: 'Signed Off By',
          align: 'center',
          sortable: true,
        },
      ],

      newTodoPopup: false,
      showDetails: false,
      todoDetails: {},

      tableLoading: false,

      showPrev: false,

      searchDetails: false,

      toDoNote: '',

      expanded: [],

      groups: [],
      todos: [],
      prevTodos: [],
    }
  },
  domStreams: ['search$'],
  subscriptions() {
    return {
      searchSend$: this.search$.pipe(
        pluck('event', 'target', 'value'),
        map((val) => val.trim()),
        filter((val) => val.length > 2 || val == ''),
        distinctUntilChanged(),
        tap(() => {
          this.tableLoading = true
          setTimeout(() => {
            this.tableLoading = false
          }, 1000)
        }),
        debounceTime(750)
      ),
    }
  },
  computed: {
    ...mapState('sitewide', [
      'mongoUrl',
      'promptTechName',
      'loadingScreen',
      'techName',
      'currentTaskMode',
    ]),
    ...mapState('todo', ['priorityOptions']),
    notesState() {
      return this.toDoNote.length >= 10 || this.toDoNote == '' ? true : false
    },
  },
  mounted() {
    this.$store.commit('sitewide/setActivePage', 'todo')
    this.getTodos()
    this.getGroups()
  },
  methods: {
    ...mapActions('sitewide', ['logWrite', 'toastMessage', 'getMenuValues']),
    needTechName() {
      this.$store.commit('sitewide/setPromptTechName', true)
    },
    filterTable(value, search, item) {
      if (value && search) {
        if (
          value
            .toString()
            .toLocaleUpperCase()
            .indexOf(search.toString().toLocaleUpperCase()) !== -1
        ) {
          return true
        } else if (
          this.searchDetails &&
          item.description
            .toString()
            .toLocaleUpperCase()
            .indexOf(search.toString().toLocaleUpperCase()) !== -1
        ) {
          return true
        } else {
          return false
        }
      }
    },
    async getGroups() {
      try {
        this.groups = await this.$axios.$get(`${this.mongoUrl}todo/groups`)
      } catch (error) {
        this.toastMessage('An error occurred grabbing the To Do Groups')
        this.logWrite({
          logType: 'error',
          logItem: error,
        })
      }
    },
    priText(priority) {
      for (let i = 0; i < this.priorityOptions.length; i++) {
        if (priority == this.priorityOptions[i].value) {
          return this.priorityOptions[i].text
        }
      }
    },
    async getTodos() {
      try {
        this.todos = await this.$axios.$get(`${this.mongoUrl}todo`)
        this.prevTodos = await this.$axios.$get(`${this.mongoUrl}todo/past`)
      } catch (error) {
        this.toastMessage('An error occurred grabbing the To Do Groups')
        this.logWrite({
          logType: 'error',
          logItem: error,
        })
      }
    },
    clickRow(item) {
      this.todoDetails = item
      this.showDetails = true
    },
    async markDone(todo) {
      if (this.techName === '') {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        try {
          const allDelayedTasks = await this.$axios.$get(
            `${this.mongoUrl}taskdata/?onHold=true`
          )
          if (allDelayedTasks.length) {
            allDelayedTasks.forEach(async (task) => {
              if (task.onHoldRelated.todo === todo._id) {
                if (task.onHoldRelated.toorder) {
                  task.onHoldRelated.todo = []
                  await this.$axios.$put(
                    `${this.mongoUrl}taskdata/${task._id}`,
                    task
                  )
                  this.toastMessage(
                    `This To Do was also tied to the delay on Task ${task.customTaskID?task.customTaskID:task.taskID}, it has been removed`
                  )
                } else {
                  task.onHoldRelated = {}
                  task.deferred = false
                  task.onHold = false
                  task.onHoldReason = ''
                  task.onHoldType = ''
                  task.onHoldBy = ''
                  task.onHoldDate = ''
                  if (this.currentTaskMode == 'Operations') {
                    task.nextDue = addDays(
                      parseISO(task.lastCompletion),
                      task.opsFrequency
                    )
                  } else {
                    task.nextDue = addDays(
                      parseISO(task.lastCompletion),
                      task.transitFrequency
                    )
                  }
                  await this.$axios.$put(
                    `${this.mongoUrl}taskdata/${task._id}`,
                    task
                  )
                  this.toastMessage(
                    `This To Do was holding up the completion of Task ${task.customTaskID?task.customTaskID:task.taskID}. The task's due date has been set to it's normal due interval.`
                  )
                }
              }
            })
          }
          const submitTodo = await this.$axios.$put(
            `${this.mongoUrl}todo/${todo._id}`,
            {
              active: false,
              doneBy: this.techName,
              completionDate: new Date(),
              notes: this.toDoNote !== '' ? this.toDoNote : undefined,
            }
          )
          this.expanded.pop()
          this.getTodos()
          this.getMenuValues()
          this.toastMessage(submitTodo)
          this.toDoNote = ''
        } catch (error) {
          this.toastMessage('An error occurred please see the log')
          this.logWrite({
            logType: 'error',
            logItem: error,
          })
        }
      }
    },
    async removeTodo(todo) {
      if (this.techName === '') {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        try {
          const removeTodo = await this.$axios.$put(
            `${this.mongoUrl}todo/${todo._id}`,
            {
              active: false,
              removedBy: this.techName,
              removedDate: new Date(),
              notes: this.toDoNote !== '' ? this.toDoNote : undefined,
            }
          )
          this.expanded.pop()
          this.getTodos()
          this.getMenuValues()
          this.toastMessage(removeTodo)
          this.toDoNote = ''
        } catch (error) {
          this.toastMessage('An error occurred please see the log')
          this.logWrite({
            logType: 'error',
            logItem: error,
          })
        }
      }
    },
  },
}
</script>

<style>
/* Overdue background for light theme */
.overdue {
  background-color: rgba(252, 88, 88, 0.432);
}

/* overdue background for dark theme */
table.table tr.bg-overdue td {
  background-color: rgba(255, 11, 23, 0.219);
}
</style>
