<template>
  <div v-show="!loadingScreen">
    <v-container fluid>
      <v-row align="center" justify="end">
        <v-col cols="3">
          <tech-name-field :techName="techName"></tech-name-field>
        </v-col>
      </v-row>
    </v-container>
    <v-card>
      <v-card-title>
        <v-container fluid>
          <v-layout row wrap justify-space-around align-center>
            <v-flex v-if="selected.length" shrink order-xs4 order-md1 sm12 md3>
              <v-layout column justify-center align-center>
                <v-flex shrink>
                  <v-text-field
                    v-model="orderNumber"
                    outlined
                    label="Order Number"
                    :error-messages="orderError"
                  ></v-text-field>
                </v-flex>
                <v-flex shrink>
                  <loader-button
                    text="Submit Selected"
                    color="success"
                    tipText="Submit selected tasks with order number specified"
                    tipLocation="right"
                    @click.native="submitWithOrderNumber()"
                  ></loader-button>
                </v-flex>
              </v-layout>
            </v-flex>
            <v-flex shrink>
              <loader-button
                icon="search"
                tipText="Look Up Oceaneering Part"
                iconOnly
                @click.native="openOiSearch(undefined, true)"
              ></loader-button>
            </v-flex>
            <v-flex shrink order-xs1 order-md2>
              <loader-button
                text="New Needed Item"
                color="success"
                @click.native="newToOrderPopup = true"
              ></loader-button>
            </v-flex>
            <v-flex shrink order-xs2 order-md3>
              <loader-button
                :text="
                  showPrev ? 'Show Current Orders' : 'Show Previous Orders'
                "
                :color="showPrev ? 'warning' : 'primary'"
                @click.native="showPrev = !showPrev"
              ></loader-button>
            </v-flex>
            <v-flex xs12 md4 order-xs3 order-md4>
              <v-layout row align-center justify-right>
                <v-flex shrink>
                  <v-tooltip bottom>
                    <template #activator="{ on: tooltip }">
                      <span v-on="{ ...tooltip }">
                        <v-switch
                          v-model="searchDetails"
                          class="pa-0 ma-0"
                          color="primary"
                          hide-details
                        ></v-switch>
                      </span>
                    </template>
                    <span>Include Order descriptions in the search</span>
                  </v-tooltip>
                </v-flex>
                <v-flex grow>
                  <v-text-field
                    v-stream:keyup.native="search$"
                    autocomplete="off"
                    append-icon="search"
                    label="Search"
                    single-line
                    hint="3 characters or more to trigger search"
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-title>
      <v-data-table
        v-model="selected"
        :headers="headers"
        :items="showPrev ? prevToOrder : toOrder"
        :search="searchSend$"
        :items-per-page="50"
        :mobile-breakpoint="750"
        :custom-filter="filterTable"
        :expanded.sync="expanded"
        no-results-text="That search term has no matches"
        no-data-text="There are no Order's to display"
        :sort-by="showPrev ? 'orderedDate' : 'priority'"
        sort-desc
        item-key="_id"
        :loading="tableLoading"
        :loading-text="randomFact ? randomFact : 'Table is loading...'"
        :show-expand="!showPrev"
        single-expand
        :show-select="!showPrev"
        :footer-props="{
          itemsPerPageOptions: [10, 20, 50, -1],
        }"
        @update:expanded="toOrderNote = ''"
        @click:row="clickRow"
      >
        <template #item.dueDate="{ item }">
          <base-format-date
            :ISOdate="item.dueDate"
            return-blank
          ></base-format-date>
        </template>
        <template #item.category="{ item }">
          <span v-if="!item.category.length"></span>
          <span v-else-if="item.category.length == 1">
            <v-chip small disabled>{{ item.category[0] }}</v-chip>
          </span>
          <span
            v-else-if="
              item.category.length > 1 && item.category.length < iconNum + 1
            "
          >
            <span v-for="(cat, index) in item.category" :key="index">
              <v-chip small disabled>{{ cat }}</v-chip>
            </span>
          </span>
          <span v-else>
            <span v-for="(cat, index) in item.category" :key="index">
              <v-chip v-if="index + 1 <= iconNum" small disabled>{{
                cat
              }}</v-chip>
            </span>
            <span>{{ `+ ${item.category.length - iconNum} more` }}</span>
          </span>
          <span v-if="item.isPending && !showPrev">
            <v-tooltip bottom>
              <template #activator="{ on }">
                <v-chip small color="warning" v-on="on"
                  >Currently Pending</v-chip
                >
              </template>
              <span>{{ `Set by: ${item.pendingBy}` }}</span>
            </v-tooltip>
          </span>
        </template>
        <template #item.vendor="{ item }">
          <span v-if="!item.vendor || !item.vendor.length"></span>
          <span v-else-if="item.vendor.length == 1">
            <v-chip small disabled>{{ item.vendor[0].vendorName }}</v-chip>
          </span>
          <span
            v-else-if="
              item.vendor.length > 1 && item.vendor.length < iconNum + 1
            "
          >
            <span v-for="(vendor, index) in item.vendor" :key="index">
              <v-chip small disabled>{{ vendor.vendorName }}</v-chip>
            </span>
          </span>
          <span v-else>
            <span v-for="(vendor, index) in item.vendor" :key="index">
              <v-chip v-if="index + 1 <= iconNum" small disabled>
                {{ vendor.vendorName }}
              </v-chip>
            </span>
            <span>{{ `+ ${item.vendor.length - iconNum} more` }}</span>
          </span>
        </template>
        <template #item.priority="{ item }">{{
          item.priority ? priText(item.priority) : ''
        }}</template>
        <template #item.action="{ item }">
          <span>
            <span v-if="showPrev">
              <h3 v-if="item.orderedBy">
                Ordered on
                <base-format-date
                  :ISOdate="item.orderedDate"
                  return-blank
                ></base-format-date>
                <span v-if="item.orderNumber">
                  <br />
                  via {{ item.orderNumber }}
                </span>
              </h3>
              <h3 v-else-if="item.removedBy" class="error--text">
                Removed on
                <base-format-date
                  :ISOdate="item.removedDate"
                  return-blank
                ></base-format-date>
              </h3>
            </span>
            <v-row v-if="!showPrev" wrap align="center" justify="space-around">
              <v-col>
                <loader-button
                  text="Ordered"
                  color="success"
                  @click.native="
                    $event.stopPropagation()
                    markOrdered(item)
                  "
                ></loader-button>
              </v-col>
              <v-col>
                <loader-button
                  v-if="checkPendingWithin(item.vendor) !== 'none'"
                  :text="`${checkPendingWithin(item.vendor)} Pending`"
                  :color="
                    checkPendingWithin(item.vendor) == 'some'
                      ? 'warning'
                      : undefined
                  "
                ></loader-button>
              </v-col>
              <v-col>
                <loader-button
                  icon="remove"
                  color="error"
                  size="small"
                  tipText="Remove Order"
                  floating
                  @click.native="
                    $event.stopPropagation()
                    removeOrder(item)
                  "
                ></loader-button>
              </v-col>
            </v-row>
          </span>
        </template>
        <template #expanded-item="{ headers }">
          <td :colspan="headers.length">
            <v-card flat>
              <v-container>
                <v-row align="center" justify="center">
                  <v-col>
                    <v-text-field
                      v-model.trim="toOrderNote"
                      autocomplete="off"
                      :error-messages="notesState ? '' : '10 character minimum'"
                      outlined
                      label="Add note"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card>
          </td>
        </template>
      </v-data-table>
    </v-card>

    <new-to-order
      :newToOrderPopup="newToOrderPopup"
      :selectedPart="selectedPart"
      @close="closeNewPopup"
      @oiSearch="openOiSearch"
      @getOrders="getToOrder"
    ></new-to-order>
    <details-to-order
      :showDetails="showDetails"
      :toOrderItem="toOrderDetails"
      :showReorderButton="showPrev"
      :selectedPart="selectedPart"
      @close="showDetails = false"
      @oiSearch="openOiSearch"
      @getOrders="getToOrder"
    ></details-to-order>
    <oi-part-search
      :active="showOISearch"
      :existing="existingPartNumber"
      :referenceOnly="referenceOnly"
      @close="showOISearch = false"
      @selected="partIsSelected"
    ></oi-part-search>
    <tech-name :promptTechName="promptTechName"></tech-name>
  </div>
</template>

<script>
import TechName from '~/components/Utils/TechName.vue'
import TechNameField from '~/components/Utils/TechNameField.vue'
import OiPartSearch from '~/components/Utils/OiPartSearch.vue'
import NewToOrder from '~/components/ToOrder/NewToOrder.vue'
import DetailsToOrder from '~/components/ToOrder/DetailsToOrder.vue'
import { mapActions, mapState } from 'vuex'
import {
  tap,
  map,
  pluck,
  filter,
  debounceTime,
  distinctUntilChanged,
} from 'rxjs/operators'
import { addDays, parseISO } from 'date-fns'

export default {
  components: {
    TechName,
    TechNameField,
    NewToOrder,
    DetailsToOrder,
    OiPartSearch,
  },
  props: [],
  data() {
    return {
      headers: [
        {
          value: 'name',
          text: 'Name',
          align: 'center',
          sortable: true,
        },
        {
          value: 'category',
          text: 'Category',
          align: 'center',
          sortable: true,
        },
        {
          value: 'vendor',
          text: 'Vendors',
          align: 'center',
          sortable: true,
        },
        {
          value: 'priority',
          text: 'Priority',
          align: 'center',
          sortable: true,
        },
        {
          value: 'enteredBy',
          text: 'Entered By',
          align: 'center',
          sortable: true,
        },
        { text: '', value: 'data-table-expand' },
        { text: '', value: 'action', sortable: false, align: 'center' },
      ],

      newToOrderPopup: false,
      showDetails: false,
      toOrderDetails: {},

      tableLoading: false,

      showPrev: false,

      searchDetails: false,

      expanded: [],

      toOrderNote: '',
      orderNumber: '',
      orderError: [],

      selected: [],
      categories: [],
      toOrder: [],
      prevToOrder: [],

      showOISearch: false,
      referenceOnly: true,
      selectedPart: '',
      existingPartNumber: '',
    }
  },
  domStreams: ['search$'],
  subscriptions() {
    return {
      searchSend$: this.search$.pipe(
        pluck('event', 'target', 'value'),
        map((val) => val.trim()),
        filter((val) => val.length > 2 || val == ''),
        distinctUntilChanged(),
        tap(() => {
          this.tableLoading = true
          setTimeout(() => {
            this.tableLoading = false
          }, 1000)
        }),
        debounceTime(750)
      ),
    }
  },
  computed: {
    ...mapState('sitewide', [
      'mongoUrl',
      'promptTechName',
      'loadingScreen',
      'techName',
      'randomFact',
    ]),
    ...mapState('toorder', ['priorityOptions']),
    ...mapState('tasks', ['iconNum']),
    notesState() {
      return this.toOrderNote.length >= 10 || this.toOrderNote == ''
        ? true
        : false
    },
    vendorsAdded() {
      if (this.toOrder.length) {
        return this.toOrder.map((item) => {
          if (item.vendor.length)
            item.vendorList = item.vendor.map((vendor) => vendor.vendorName)
          return item
        })
      } else {
        return []
      }
    },
  },
  mounted() {
    this.$store.commit('sitewide/setActivePage', 'toorder')
    this.getToOrder()
    this.getRandomFact()
  },
  methods: {
    ...mapActions('sitewide', [
      'logWrite',
      'toastMessage',
      'getMenuValues',
      'getRandomFact',
    ]),
    checkPendingWithin(items) {
      if (items.every((i) => i.isPending)) {
        return 'all'
      } else if (items.some((i) => i.isPending)) {
        return 'some'
      } else {
        return 'none'
      }
    },
    closeNewPopup() {
      this.existingPartNumber = ''
      this.newToOrderPopup = false
    },
    needTechName() {
      this.$store.commit('sitewide/setPromptTechName', true)
    },
    partIsSelected(selected) {
      this.selectedPart = selected.OINumber
    },
    openOiSearch(existing, referenceOnly = false) {
      this.showOISearch = true
      this.referenceOnly = referenceOnly
      this.existingPartNumber = existing
    },
    filterTable(value, search, item) {
      if (value && search) {
        if (
          value
            .toString()
            .toLocaleUpperCase()
            .indexOf(search.toString().toLocaleUpperCase()) !== -1
        ) {
          return true
        } else if (
          item.description
            .toString()
            .toLocaleUpperCase()
            .indexOf(search.toString().toLocaleUpperCase()) !== -1
        ) {
          return true
        } else if (
          item.orderNumber &&
          item.orderNumber
            .toString()
            .toLocaleUpperCase()
            .indexOf(search.toString().toLocaleUpperCase()) !== -1
        ) {
          return true
        } else if (
          item.vendor.length &&
          item.vendor
            .map((i) => i.vendorName)
            .toString()
            .toLocaleUpperCase()
            .indexOf(search.toString().toLocaleUpperCase()) !== -1
        ) {
          return true
        } else if (
          item.vendor.length &&
          item.vendor
            .map((i) => i.vendorPartNumber)
            .toString()
            .toLocaleUpperCase()
            .indexOf(search.toString().toLocaleUpperCase()) !== -1
        ) {
          return true
        } else {
          return false
        }
      }
    },
    priText(priority) {
      for (let i = 0; i < this.priorityOptions.length; i++) {
        if (priority == this.priorityOptions[i].value) {
          return this.priorityOptions[i].text
        }
      }
    },
    async getToOrder() {
      this.toOrder = await this.$axios.$get(`${this.mongoUrl}toorder`)
      this.prevToOrder = await this.$axios.$get(`${this.mongoUrl}toorder/past`)
    },
    async clickRow(item) {
      this.toOrderDetails = await this.$axios.$get(
        `${this.mongoUrl}toorder/${item._id}`
      )
      this.showDetails = true
    },
    submitWithOrderNumber() {
      if (this.techName === '') {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else if (this.orderNumber == '') {
        this.orderError.push('Please enter an order number')
      } else {
        if (this.orderError.length) {
          while (this.orderError.length) {
            this.orderError.pop()
          }
        }
        this.selected.forEach((order) => {
          this.markOrdered(order, this.orderNumber)
        })
        this.expanded.pop()
        this.selected = []
        this.orderNumber = ''
      }
    },
    async markOrdered(toorder, order = false) {
      if (this.techName === '') {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        try {
          const allDelayedTasks = await this.$axios.$get(
            `${this.mongoUrl}taskdata/?onHold=true`
          )
          if (allDelayedTasks.length) {
            allDelayedTasks.forEach(async (task) => {
              if (task.onHoldRelated.toorder === toorder._id) {
                if (task.onHoldRelated.todo) {
                  task.onHoldRelated.toorder = []
                  await this.$axios.$put(
                    `${this.mongoUrl}taskdata/${task._id}`,
                    task
                  )
                  this.toastMessage(
                    `This Order was also tied to the delay on Task ${task.customTaskID?task.customTaskID:task.taskID}, it has been removed`
                  )
                } else {
                  task.onHoldRelated = {}
                  task.deferred = false
                  task.onHold = true
                  task.onHoldReason = `${task.onHoldReason}: required parts are on order (${toorder.name})`
                  task.onHoldType = ''
                  task.onHoldBy = ''
                  task.onHoldDate = ''
                  if (this.currentTaskMode == 'Operations') {
                    task.nextDue = addDays(
                      parseISO(task.lastCompletion),
                      task.opsFrequency
                    )
                  } else {
                    task.nextDue = addDays(
                      parseISO(task.lastCompletion),
                      task.transitFrequency
                    )
                  }
                  await this.$axios.$put(
                    `${this.mongoUrl}taskdata/${task._id}`,
                    task
                  )
                  this.toastMessage(
                    `This order was holding up the completion of Task ${task.customTaskID?task.customTaskID:task.taskID}. The task's due date has been set to it's normal due interval.`
                  )
                }
              }
            })
          }
          const submitToOrder = await this.$axios.$put(
            `${this.mongoUrl}toorder/${toorder._id}`,
            {
              active: false,
              orderedBy: this.techName,
              orderedDate: new Date(),
              notes: this.toOrderNote !== '' ? this.toOrderNote : undefined,
              orderNumber: order.length ? order : undefined,
            }
          )
          this.expanded.pop()
          this.getToOrder()
          this.getMenuValues()
          this.toastMessage(submitToOrder)
          this.toOrderNote = ''
        } catch (error) {
          this.toastMessage('An error occurred please see the log')
          this.logWrite({
            logType: 'error',
            logItem: error,
          })
        }
      }
    },
    async markPending(toorder) {
      if (this.techName === '') {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        const markPendingTodo = await this.$axios.$put(
          `${this.mongoUrl}toorder/${toorder._id}`,
          {
            isPending: true,
            pendingBy: this.techName,
          }
        )
        this.getToOrder()
        this.toastMessage(markPendingTodo)
      }
    },
    async removePending(toorder) {
      if (this.techName === '') {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        const markPendingTodo = await this.$axios.$put(
          `${this.mongoUrl}toorder/${toorder._id}`,
          {
            isPending: false,
            pendingBy: this.techName,
          }
        )
        this.getToOrder()
        this.getMenuValues()
        this.toastMessage(markPendingTodo)
      }
    },
    async removeOrder(toorder) {
      if (this.techName === '') {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        try {
          const allDelayedTasks = await this.$axios.$get(
            `${this.mongoUrl}taskdata/?onHold=true`
          )
          if (allDelayedTasks.length) {
            allDelayedTasks.forEach(async (task) => {
              if (task.onHoldRelated.toorder === toorder._id) {
                if (task.onHoldRelated.todo) {
                  task.onHoldRelated.toorder = []
                  await this.$axios.$put(
                    `${this.mongoUrl}taskdata/${task._id}`,
                    task
                  )
                  this.toastMessage(
                    `This order was also tied to the delay on Task ${task.customTaskID?task.customTaskID:task.taskID}, the delay has been removed`
                  )
                } else {
                  task.onHoldRelated = {}
                  task.deferred = false
                  task.onHold = false
                  task.onHoldReason = ''
                  task.onHoldType = ''
                  task.onHoldBy = ''
                  task.onHoldDate = ''
                  if (this.currentTaskMode == 'Operations') {
                    task.nextDue = addDays(
                      parseISO(task.lastCompletion),
                      task.opsFrequency
                    )
                  } else {
                    task.nextDue = addDays(
                      parseISO(task.lastCompletion),
                      task.transitFrequency
                    )
                  }
                  await this.$axios.$put(
                    `${this.mongoUrl}taskdata/${task._id}`,
                    task
                  )
                  this.toastMessage(
                    `This order was holding up the completion of Task ${task.customTaskID?task.customTaskID:task.taskID}. The task's due date has been set to it's normal due interval.`
                  )
                }
              }
            })
          }
          const removeToOrder = await this.$axios.$put(
            `${this.mongoUrl}toorder/${toorder._id}`,
            {
              active: false,
              isPending: false,
              pendingBy: '',
              removedBy: this.techName,
              removedDate: new Date(),
              notes: this.toOrderNote !== '' ? this.toOrderNote : undefined,
            }
          )
          this.expanded.pop()
          this.getToOrder()
          this.getMenuValues()
          this.toastMessage(removeToOrder)
          this.toOrderNote = ''
        } catch (error) {
          this.toastMessage('An error occurred please see the log')
          this.logWrite({
            logType: 'error',
            logItem: error,
          })
        }
      }
    },
  },
}
</script>

<style>
/* Overdue background for light theme */
.overdue {
  background-color: rgba(252, 88, 88, 0.432);
}

/* overdue background for dark theme */
table.table tr.bg-overdue td {
  background-color: rgba(255, 11, 23, 0.219);
}
</style>
