<template>
  <div>
    <v-container fluid class="text-center">
      <v-layout v-if="!formatForInput" column justify-center align-center>
        <v-flex shrink>
          <br />
          <h4>
            Now we will select the columns included in the output.
            <br />The order of selection choses the order of output
          </h4>
        </v-flex>
        <v-flex xs8>
          <v-chip-group
            v-model="columnsSelected"
            column
            multiple
            active-class="primary--text"
          >
            <div class="text-center">
              <v-chip
                v-for="column in taskColumns"
                :key="column.key"
                :value="column"
                >{{ column.header }}</v-chip
              >
            </div>
          </v-chip-group>
        </v-flex>
      </v-layout>
      <v-layout
        v-if="columnsSelected.length"
        column
        align-center
        justify-center
      >
        <v-flex shrink>
          <br />
          <h4>Preview of the column output order as selected</h4>
        </v-flex>
        <v-flex>
          <div class="text-center">
            <v-chip
              v-for="(column, index) in columnsSelected"
              :key="index"
              disabled
              >{{ column.header }}</v-chip
            >
          </div>
        </v-flex>
        <v-flex>
          <br />
          <h4>
            Now that we have some columns selected, search for which tasks you
            need with the below boxes.
            <br />This is an inclusive search so each time to you add criteria
            it will include more tasks to the result list.
          </h4>
        </v-flex>
      </v-layout>
      <v-layout v-if="columnsSelected.length" row justify-center align-center>
        <h4>
          <br />
          Before we get too deep, here are some special selection criteria you
          can tweak
        </h4>
      </v-layout>
      <v-layout
        v-if="columnsSelected.length"
        row
        justify-space-around
        align-center
      >
        <v-flex v-if="!allTasks" shrink>
          <v-tooltip bottom>
            <template #activator="{ on }">
              <div v-on="on">
                <v-checkbox
                  v-model="onlyActive"
                  label="Only Active Tasks"
                  color="success"
                ></v-checkbox>
              </div>
            </template>
            <span>
              Only show tasks that are currently active in the system(ones that
              show up in the task list currently)
            </span>
          </v-tooltip>
        </v-flex>
        <v-flex shrink>
          <v-tooltip bottom>
            <template #activator="{ on }">
              <div v-on="on">
                <v-checkbox
                  v-model="allTasks"
                  label="All Active Tasks"
                  color="success"
                ></v-checkbox>
              </div>
            </template>
            <span
              >Ignore all the below criteria and display all currently active
              tasks for export</span
            >
          </v-tooltip>
        </v-flex>
        <v-flex shrink>
          <v-tooltip bottom>
            <template #activator="{ on }">
              <div v-on="on">
                <v-checkbox
                  v-model="formatForInput"
                  label="Formatted for import"
                  color="success"
                ></v-checkbox>
              </div>
            </template>
            <span>
              Export excel sheet formatting for easy import into another
              location of the maintenance software (will change selected columns
              and order)
            </span>
          </v-tooltip>
        </v-flex>
      </v-layout>
      <v-layout
        v-if="columnsSelected.length"
        row
        justify-space-around
        align-center
      >
        <v-flex shrink>
          <v-autocomplete
            v-model="categorySelection"
            v-stream:click.native="category$"
            :items="categoryOptions"
            multiple
            chips
            deletable-chips
            outlined
          ></v-autocomplete>
        </v-flex>
        <v-flex shrink>
          <v-text-field
            v-stream:keyup.native="name$"
            outlined
            label="Name includes...."
          ></v-text-field>
        </v-flex>
        <v-flex shrink>
          <v-text-field
            v-stream:keyup.native="description$"
            outlined
            label="Description includes...."
          ></v-text-field>
        </v-flex>
      </v-layout>
      <v-layout v-if="searchResults.length" column align-center justify-center>
        <v-flex>
          <h4>
            Hooray, we have results. Press the button below to export them to a
            spreadsheet
          </h4>
        </v-flex>
        <v-flex>
          <loader-button
            text="Download Export"
            :loading="buildingSheet"
            @click.native="sendDataForExport()"
          ></loader-button>
        </v-flex>
      </v-layout>
      <v-layout v-if="columnsSelected.length" row justify-center align-center>
        <v-flex>
          <br />
          <h4>
            This table is just a preview of the tasks to be included in the
            export. The columns displayed do not reflect the export.
          </h4>
          <v-data-table
            :headers="headers"
            :items="searchResults"
            item-key="_id"
            no-results-text="Nothing to export yet"
          >
            <template #item.taskID="{ item }">{{
              item.customTaskID ? item.customTaskID : item.taskID
            }}</template>
            <template #item.category="{ item }">
              <span v-if="item.category.length == 1">
                <v-chip small disabled>{{ item.category[0] }}</v-chip>
              </span>
              <span
                v-else-if="
                  item.category.length > 1 && item.category.length < 3 + 1
                "
              >
                <span v-for="(cat, index) in item.category" :key="index">
                  <v-chip small disabled>{{ cat }}</v-chip>
                </span>
              </span>
              <span v-else>
                <span v-for="(cat, index) in item.category" :key="index">
                  <v-chip v-if="index + 1 <= 3" small disabled>{{
                    cat
                  }}</v-chip>
                </span>
                <span>{{ `+ ${item.category.length - 3} more` }}</span>
              </span>
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import { format } from 'date-fns/esm'
import { distinctUntilChanged, tap, pluck, debounceTime } from 'rxjs/operators'

export default {
  components: {},
  props: {},
  data() {
    return {
      headers: [
        {
          value: 'taskID',
          text: 'ID',
          align: 'center',
          sortable: true,
        },
        {
          value: 'taskName',
          text: 'Name',
          align: 'center',
          sortable: true,
        },
        {
          value: 'category',
          text: 'Category',
          align: 'center',
          sortable: true,
        },
      ],
      taskColumns: [
        {
          key: 'taskID',
          header: 'Task ID',
          width: 10,
        },
        {
          key: 'customTaskID',
          header: 'Custom ID',
          width: 10,
        },
        {
          key: 'taskName',
          header: 'Task Name',
          width: 25,
        },
        {
          key: 'category',
          header: 'Category(ies)',
          type: 'list',
          width: 20,
        },
        {
          key: 'taskHours',
          header: 'Task Hours',
          width: 10,
        },
        {
          key: 'detailedDescription',
          header: 'Description',
          width: 50,
        },
        {
          key: 'lastCompletion',
          header: 'Last Completion',
          type: 'date',
          width: 20,
        },
        {
          key: 'opsFrequency',
          header: 'Ops Frequency (in Days)',
          width: 15,
        },
        {
          key: 'transitFrequency',
          header: 'Transit Frequency (in Days)',
          width: 15,
        },
        {
          key: 'nextDue',
          header: 'Next Due',
          type: 'date',
          width: 15,
        },
        {
          key: 'taskTools',
          header: 'Task Tools',
          width: 15,
        },
      ],
      templateFormatted: [
        {
          key: 'taskID',
          header: 'taskID',
          width: 10,
        },
        {
          key: 'customTaskID',
          header: 'Custom ID',
          width: 10,
        },
        {
          key: 'taskName',
          header: 'taskName',
          width: 25,
        },
        {
          key: 'category',
          header: 'category',
          width: 20,
        },
        {
          key: 'taskHours',
          header: 'taskHours',
          width: 10,
        },
        {
          key: 'detailedDescription',
          header: 'detailedDescription',
          width: 50,
        },
        {
          key: 'lastCompletion',
          header: 'lastCompletion',
          type: 'date',
          width: 20,
        },
        {
          key: 'opsFrequency',
          header: 'opsFrequency',
          width: 15,
        },
        {
          key: 'transitFrequency',
          header: 'transitFrequency',
          width: 15,
        },
      ],

      columnsSelected: [],

      categorySelection: [],
      taskNameQuery: '',
      descriptionQuery: '',

      queryString: '',
      onlyActive: true,
      allTasks: false,
      formatForInput: false,

      buildingSheet: false,

      searchResults: [],
    }
  },
  computed: {
    ...mapState('sitewide', ['mongoUrl']),
    ...mapState('tasks', ['categoryOptions']),
  },
  watch: {
    categorySelection: function () {
      this.rebuildQuery()
    },
    onlyActive: function () {
      this.rebuildQuery()
    },
    formatForInput: function () {
      if (this.formatForInput) {
        this.columnsSelected = this.templateFormatted
      } else {
        this.columnsSelected = []
      }
    },
    allTasks: function () {
      if (this.allTasks) {
        this.grabAllTasks()
      } else {
        this.rebuildQuery()
      }
    },
  },
  mounted() {
    this.getCategoryOptions()
  },
  domStreams: ['category$', 'name$', 'description$'],
  subscriptions() {
    return {
      categorySend$: this.category$.pipe(
        debounceTime(500),
        tap(() => {
          this.rebuildQuery()
        })
      ),
      taskNameSend$: this.name$.pipe(
        pluck('event', 'target', 'value'),
        debounceTime(500),
        distinctUntilChanged(),
        tap((val) => {
          this.taskNameQuery = val
          this.rebuildQuery()
        })
      ),
      descriptionSend$: this.description$.pipe(
        pluck('event', 'target', 'value'),
        debounceTime(500),
        distinctUntilChanged(),
        tap((val) => {
          this.descriptionQuery = val
          this.rebuildQuery()
        })
      ),
    }
  },
  methods: {
    ...mapActions('tasks', ['getCategoryOptions']),
    ...mapActions('sitewide', ['logWrite', 'toastMessage']),
    rebuildQuery() {
      this.queryString = ''
      if (this.categorySelection.length) {
        this.queryString = `${
          this.queryString
        }&category=${this.categorySelection.join()}`
      }
      if (this.taskNameQuery.length) {
        this.queryString = `${this.queryString}&taskName=${this.taskNameQuery}`
      }
      if (this.descriptionQuery.length) {
        this.queryString = `${this.queryString}&detailedDescription=${this.descriptionQuery}`
      }
      if (this.activeOnly) {
        this.queryString = `${this.queryString}&active=true`
      }
      this.refreshResults()
    },
    async refreshResults() {
      this.searchResults = await this.$axios.$get(
        `${this.mongoUrl}taskdata?export=true${this.queryString}`
      )
    },
    async grabAllTasks() {
      this.searchResults = await this.$axios.$get(`${this.mongoUrl}taskdata`)
    },
    async sendDataForExport() {
      this.buildingSheet = true
      const sheetData = {
        filename: this.formatForInput
          ? 'MaintCenter task import template'
          : `TaskExport-${format(new Date(), 'yyyy-MM-dd')}`,
        worksheetTitle: 'Tasks',
        columns: this.columnsSelected,
        data: this.searchResults,
      }
      try {
        const taskExportRes = await this.$axios.$post(
          `${this.mongoUrl}excel/export`,
          sheetData
        )
        if (taskExportRes.success) {
          window.open(`${this.mongoUrl}excel/download/${taskExportRes.file}`)
        }
        this.buildingSheet = false
      } catch (error) {
        this.buildingSheet = false
        this.toastMessage(
          `There was an error building the export spreadsheet, see log for details`
        )
        this.logWrite({
          logType: 'error',
          logItem: `ExportTasks.vue, sendDataForExport() - ${error}`,
        })
      }
    },
  },
}
</script>

<style scoped></style>
