<template>
  <div>
    <v-container grid-list-lg>
      <v-layout column justify-center align-center>
        <v-flex shrink class="text-center">
          <h4>
            First we are looking for a date range for our results. <br />
            You may select one or both start/end dates (or select a preset
            range)
          </h4>
        </v-flex>
        <v-flex>
          <v-layout v-if="emailExport" row wrap align-center justify-center>
            <v-flex>
              <h3 class="text-center">
                Select criteria as you would if you were exporting now so you
                can see the results as they would be. When the email is sent it
                will be modified relative to that date.
              </h3>
            </v-flex>
          </v-layout>
          <v-layout row wrap align-center justify-space-around>
            <v-flex shrink>
              <loader-button
                text="Last 7 Days"
                @click.native="quickDates(7)"
              ></loader-button>
            </v-flex>
            <v-flex shrink>
              <loader-button
                text="Last 30 Days"
                @click.native="quickDates(30)"
              ></loader-button>
            </v-flex>
            <v-flex shrink>
              <loader-button
                text="Last 90 Days"
                @click.native="quickDates(90)"
              ></loader-button>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex shrink>
          <v-layout row wrap align-center justify-space-around>
            <v-flex shrink>
              <v-layout column align-center justify-center>
                <v-flex v-if="!emailExport">
                  <v-switch
                    v-model="showDateFrom"
                    color="success"
                    label="Set start date limit"
                  ></v-switch
                ></v-flex>
                <v-flex v-if="showDateFrom || emailExport">
                  <date-input
                    v-model="searchData.dateFrom"
                    v-validate="showDateFrom ? 'required' : ''"
                    autocomplete="off"
                    :error-messages="errors.first('Start Date Selection')"
                    data-vv-name="Start Date Selection"
                    name="Start Date Selection"
                    label="Start Date"
                    :max="new Date().toISOString()"
                  />
                </v-flex>
              </v-layout>
            </v-flex>
            <v-flex shrink>
              <v-layout column align-center justify-center>
                <v-flex v-if="!emailExport">
                  <v-switch
                    v-model="showDateTo"
                    color="success"
                    label="Set end date limit"
                  ></v-switch>
                </v-flex>
                <v-flex v-if="showDateTo || emailExport">
                  <date-input
                    v-model="searchData.dateTo"
                    v-validate="showDateTo ? 'required' : ''"
                    autocomplete="off"
                    :error-messages="errors.first('End Date Selection')"
                    data-vv-name="End Date Selection"
                    name="End Date Selection"
                    label="End Date"
                    :max="new Date().toISOString()"
                  />
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex shrink
          ><h4>
            Now we narrow down the results. We can do this in different ways.
          </h4>
        </v-flex>
        <v-flex shrink>
          <div>
            <h4>
              Filter by task names that contain certain text (ignored if task id
              search is used)
            </h4>
            <v-text-field
              v-model="searchData.taskName"
              label="Task Name Search"
              outlined
            ></v-text-field>
          </div>
          <div>
            <h4>
              Filter by one or more task categories (ignored if task id search
              is used)
            </h4>
            <combo-box
              v-model="searchData.category"
              :existingList="searchData.category"
              label="Category Selection"
              :items="categoryOptions"
              multiple
              chips
            ></combo-box>
          </div>
          <div>
            <h4>Filter by tech name</h4>
            <v-text-field
              v-model="searchData.techName"
              label="Tech Name Search"
              outlined
            ></v-text-field>
          </div>
        </v-flex>
        <v-flex shrink>
          <h4>
            Just click below when the table contains the data you needed to
            export.
          </h4>
        </v-flex>
        <v-flex v-if="emailExport" shrink>
          <loader-button
            text="Save Export Criteria"
            @click.native="saveEmailExport()"
          ></loader-button>
        </v-flex>
        <v-flex v-else shrink>
          <loader-button
            text="Download Export"
            :loading="buildingExport"
            :disabled="!prevList.length"
            @click.native="downloadExport()"
          ></loader-button>
        </v-flex>
        <v-flex shrink>
          <v-spacer />
          <v-layout row wrap align-center justify-space-around>
            <v-flex>
              <v-switch
              v-model="searchData.includeForms"
              color="success"
              label="Include Entered Form Data"
              ></v-switch>
            </v-flex>
            <v-spacer />
            <v-flex>
              <v-switch
              v-model="searchData.includeNotes"
              color="success"
              label="Include Notes"
              ></v-switch>
            </v-flex>
            <v-spacer />
          </v-layout>
        </v-flex>
        <v-flex grow>
          <v-data-table
            :headers="headers"
            :items="prevList"
            sort-by="dateCompleted"
            sort-desc
            item-keys="_id"
            no-results-text="The entered criteria yields no results"
          >
            <template #item.taskID="{ item }">{{
              item.customTaskID ? item.customTaskID : item.taskID
            }}</template>
            <template #item.dateCompleted="{ item }">
              <base-format-date
                :ISOdate="item.dateCompleted"
                return-blank
              ></base-format-date>
            </template>
            <template #item.attachmentNames="{ item }">
              <v-chip
                v-for="(name, index) in item.attachmentNames"
                :key="index"
                small
                column
                >{{ name }}</v-chip
              >
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import { subDays, differenceInDays, parseISO, formatISO } from 'date-fns/esm'
import ComboBox from '../Utils/BaseCombobox'
import DateInput from '../Utils/DateInputField'

//? API can currently:
//? taskName filter for any name that contains the requested string,
//? take taskID to filter down to only that task id, if used the taskName search is ignored
//? filter by date range dateFrom and dateTo. If only one is filled the other side is open.
//? filter by techName
//? filter by task category
//? no queries is a full completion list

export default {
  name: 'ExportCompletions',
  components: {
    ComboBox,
    DateInput,
  },
  props: {
    emailExport: {
      type: Boolean,
      default: false,
    },
    searchDataProp: {
      type: [Object, Boolean],
      default: false,
    },
  },
  data() {
    return {
      showDateFrom: false,
      // showDateFromCal: false,
      showDateTo: false,
      // showDateToCal: false,

      searchData: {
        dateFrom: '',
        dateTo: '',
        category: [],
        taskID: '',
        taskName: '',
        techName: '',
        includeForms: false,
        includeNotes: false,
      },

      prevList: [],

      buildingExport: false,

      headers: [
        {
          value: 'taskID',
          text: 'ID',
          align: 'center',
          sortable: true,
        },
        {
          value: 'taskName',
          text: 'Task Name',
          align: 'center',
          sortable: true,
        },
        {
          value: 'dateCompleted',
          text: 'Date Completed',
          align: 'center',
          sortable: true,
        },
        {
          value: 'hourCompleted',
          text: 'Hour Completed',
          align: 'center',
          sortable: true,
        },
        {
          value: 'techName',
          text: 'Tech Name',
          align: 'center',
          sortable: true,
        },
        {
          value: 'attachmentNames',
          text: 'Attachments',
          align: 'center',
          sortable: true,
        },
      ],
    }
  },
  computed: {
    ...mapState('sitewide', ['mongoUrl']),
    ...mapState('tasks', ['categoryOptions']),
  },
  watch: {
    showDateFrom: function () {
      this.refreshList()
    },
    showDateTo: function () {
      this.refreshList()
    },
    searchData: {
      handler() {
        this.refreshList()
      },
      deep: true,
    },
  },
  mounted() {
    if (this.searchDataProp) {
      Object.keys(this.searchDataProp).forEach((key) => {
        if (this.searchDataProp[key]) {
          if (key == 'category') {
            this.searchDataProp[key].forEach((cat) =>
              this.searchData.category.push(cat)
            )
          } else {
            this.$set(this.searchData, key, this.searchDataProp[key])
          }
        }
      })
      this.searchData.dateFrom = formatISO(
        subDays(new Date(), this.searchDataProp.days)
      )
      this.searchData.dateTo = formatISO(new Date())
    }
    this.getCategoryOptions()
    this.refreshList()
  },
  methods: {
    ...mapActions('sitewide', ['logWrite', 'toastMessage', 'getSiteSettings']),
    ...mapActions('tasks', ['getCategoryOptions']),
    quickDates(days) {
      this.searchData.dateFrom = subDays(new Date(), days).toISOString()
      this.searchData.dateTo = new Date().toISOString()
      this.showDateFrom = true
      this.showDateTo = true
    },
    async refreshList() {
      let refresh = JSON.parse(JSON.stringify(this.searchData))
      delete refresh.includeForms
      delete refresh.includeNotes
      refresh.tableData = true
      this.prevList = await this.$axios.$get(
        `${this.mongoUrl}taskdata/completions?${Object.keys(refresh)
          .filter((key) => (key === 'days' ? false : refresh[key]))
          .map((key) => {
            if (refresh[key]) {
              return `${key}=${refresh[key]}`
            }
          })
          .join('&')}`
      )
    },
    async saveEmailExport() {
      try {
        let searchObject = {
          days: differenceInDays(
            parseISO(this.searchData.dateTo),
            parseISO(this.searchData.dateFrom)
          ),
          includeForms: this.searchData.includeForms,
          includeNotes: this.searchData.includeNotes,
          techName: this.searchData.techName,
          category: this.searchData.category,
          taskID: this.searchData.taskID,
          taskName: this.searchData.taskName,
        }

        let updateTaskSearch = await this.$axios.$put(
          `${this.mongoUrl}settings/email?taskSearch=true`,
          searchObject
        )
        this.getSiteSettings()
        this.$emit('close')
        this.toastMessage(updateTaskSearch)
      } catch (error) {
        this.toastMessage(
          `There was an error saving the search details, see log for details`
        )
        this.logWrite({
          logType: 'error',
          logItem: `ExportPreviousCompletions.vue, saveEmailExport() - ${error}`,
        })
      }
    },
    async downloadExport() {
      try {
        this.buildingExport = true
        let excelCreation = []
        excelCreation = await this.$axios.$get(
          `${this.mongoUrl}taskdata/completions?${Object.keys(this.searchData)
            .filter((key) => (key === 'days' ? false : this.searchData[key]))
            .map((key) => {
              if (this.searchData[key]) {
                return `${key}=${this.searchData[key]}`
              }
            })
            .join('&')}`
        )
        excelCreation[0].data.map((e) => {
          if (e.customTaskID) {
            e.taskID = e.customTaskID
          }
          return e
        })

        const excelResults = await Promise.allSettled(
          excelCreation.map(
            async (toMake) =>
              await this.$axios.$post(`${this.mongoUrl}excel/export`, toMake)
          )
        )

        if (excelResults.length === 1 && excelResults[0].value.success) {
          this.toastMessage(
            `Downloading exported completions of ${this.prevList.length} line items`
          )
          window.open(
            `${this.mongoUrl}excel/download/${excelResults[0].value.file}`
          )
        } else {
          const excelSuccess = excelResults.filter(
            (result) => result.value.success
          )
          this.toastMessage(
            `Export with form/note data attempted, ${excelSuccess.length} of ${excelResults.length} sheets seem to have succeeded.`
          )
          let excelFiles = excelSuccess.map((file) => {
            return { fileName: file.value.file, path: file.value.parentDir }
          })
          let zipName = `Task Export ${this.searchData.includeForms||this.searchData.includeNotes?'w- ':''}${this.searchData.includeForms?'Forms':''}${this.searchData.includeForms&&this.searchData.includeNotes?' and ':''}${this.searchData.includeNotes?'Notes':''}`
          
          let zipDownload = await this.$axios.$post(
            `${this.mongoUrl}files/makezip?name=${encodeURIComponent(zipName)}`,
            excelFiles
          )
          this.toastMessage(
            'Zipping these files for download, logging failures (if any)'
          )
          window.open(
            `${this.mongoUrl}files/download/?path=${zipDownload.location}`
          )
          excelResults.forEach((response) => {
            if (response.status === 'rejected') {
              this.logWrite({
                logType: 'error',
                logItem: `Issue writing excel on previous completion export ${response.reason}`,
              })
            } else if (!response.value || !response.value.success) {
              this.logWrite({
                logType: 'error',
                logItem: `Issue writing excel on previous completion export ${
                  response.value ? response.value : response
                }`,
              })
            }
          })
        }
        this.buildingExport = false
      } catch (error) {
        this.buildingExport = false
        this.toastMessage(
          `There was an error building the export spreadsheet(s), see log for details`
        )
        this.logWrite({
          logType: 'error',
          logItem: `ExportPreviousCompletions.vue, downloadExport() - ${error}`,
        })
      }
    },
  },
}
</script>

<style scoped></style>
