<template>
  <base-form-dialog
    :active="isActive"
    title="View Package"
    :editButton="userLoggedIn"
    width="700"
    @edit="toggleEditMode"
    @close="cancelEditPackageEntry"
  >
    <v-container fluid grid-list-md @keydown.ctrl.83.prevent.stop="submitEditedPackage()">
      <v-layout column>
        <v-flex>
          <v-layout row align-center justify-space-between>
            <v-spacer />
            <v-flex v-if="editMode" shrink>
              <v-text-field
                v-model="editPackage.entryNumber"
                name="Package Number"
                label="Package Number"
                outlined
              ></v-text-field>
            </v-flex>
            <v-flex v-else xs5 class="text-center subtitle-1">
              <h4 class="grey--text text--darken-1 text-center">
                Package Number
              </h4>
              <hr class="grey darken-1" />
              <span>{{ packageEntry.entryNumber }}</span>
            </v-flex>
            <v-spacer />
          </v-layout>
        </v-flex>
        <v-flex>
          <v-layout row align-center justify-space-around>
            <v-flex
              v-if="packageEntry.createdAt"
              xs5
              class="text-center subtitle-1"
            >
              <h4 class="grey--text text--darken-1 text-center">Created</h4>
              <hr class="grey darken-1" />
              <base-format-date
                :ISOdate="packageEntry.createdAt"
              ></base-format-date>
            </v-flex>
            <v-flex
              v-if="packageEntry.updatedAt"
              xs5
              class="text-center subtitle-1"
            >
              <h4 class="grey--text text--darken-1 text-center">
                Last Modified
              </h4>
              <hr class="grey darken-1" />
              <span
                ><base-format-date
                  :ISOdate="packageEntry.updatedAt"
                ></base-format-date>
                by {{ packageEntry.techName }}</span
              >
            </v-flex>
          </v-layout>
        </v-flex>
        <div v-if="!editMode">
          <v-flex grow>
            <v-layout row wrap align-center justify-space-around>
              <v-flex shrink>
                <h4 class="grey--text text--darken-1 text-center">Task</h4>
                <hr class="grey darken-1" />
                {{ packageEntry.task }}
              </v-flex>
              <v-flex shrink>
                <h4 class="grey--text text--darken-1 text-center">Category</h4>
                <hr class="grey darken-1" />
                <v-chip
                  v-for="(category, index) in packageEntry.category"
                  :key="index"
                  disabled
                  >{{ category }}</v-chip
                >
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex grow>
            <v-layout row wrap align-center justify-space-around>
              <v-flex shrink>
                <h4 class="grey--text text--darken-1 text-center">
                  Date Opened:
                </h4>
                <hr class="grey darken-1" />
                <base-format-date
                  :ISOdate="packageEntry.openDate"
                ></base-format-date>
              </v-flex>
              <v-flex shrink>
                <h4 class="grey--text text--darken-1 text-center">
                  Date Closed:
                </h4>
                <hr class="grey darken-1" />
                <base-format-date
                  :ISOdate="packageEntry.closeDate"
                ></base-format-date>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex v-if="packageEntry.description" grow>
            <h4 class="grey--text text--darken-1 text-center">Description</h4>
            <hr class="grey darken-1" />
            <vue-markdown
              :source="packageEntry.description"
              :anchorAttributes="{ target: '_blank' }"
            ></vue-markdown>
          </v-flex>
          <v-flex v-if="packageEntry.notes && packageEntry.notes.length < 5">
            <v-text-field
              v-model="newNote"
              v-validate="'min:10'"
              autocomplete="off"
              :error-messages="errors.first('Note to add')"
              data-vv-name="Note to add"
              label="Note to add"
              append-icon="add"
              outlined
              @keyup.enter="addNote()"
              @click:append="addNote()"
            ></v-text-field>
          </v-flex>
          <v-flex v-else>
            <v-layout row wrap align-center justify-center>
              <v-flex shrink>
                Too many notes, if you need more notes write another package.
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex v-if="packageEntry.notes && packageEntry.notes.length">
            <v-data-table
              :items="packageEntry.notes"
              :headers="noteHeaders"
              :search="search"
              sort-desc
              sort-by="createdAt"
            >
              <template v-if="userLoggedIn" #item.actions="{ item }">
                <loader-button
                  icon="remove"
                  size="small"
                  color="error"
                  text="Remove"
                  tipText="Delete Note"
                  @click.native="
                    $event.stopPropagation()
                    deleteNote(item)
                  "
                ></loader-button>
              </template>
              <template #item.createdAt="{ item }">
                <base-format-date :ISOdate="item.createdAt"></base-format-date>
              </template>
            </v-data-table>
          </v-flex>
          <v-flex v-if="fileList.length">
            <file-list
              :fileUrl="`packages/${packageEntry._id}`"
              :fileList="fileList"
              @refreshFiles="getFileList()"
            ></file-list>
          </v-flex>
        </div>
        <div v-else-if="editMode">
          <v-flex grow>
            <v-layout row wrap align-center justify-space-around>
              <v-flex shrink>
                <date-input
                  v-model="editPackage.openDate"
                  label="Date Package Opened"
                  :max="new Date().toISOString()"
                />
              </v-flex>
              <v-flex shrink>
                <date-input
                  v-model="editPackage.closeDate"
                  label="Date Package Closed"
                  :max="new Date().toISOString()"
                />
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex grow>
            <v-text-field
              v-model="editPackage.task"
              v-validate="false"
              autocomplete="off"
              required
              :error-messages="errors.first('Task')"
              data-vv-name="Task"
              name="Task"
              label="Task"
              outlined
            ></v-text-field>
          </v-flex>
          <v-flex grow>
            <combo-box
              v-model="editPackage.category"
              v-validate="false"
              :existingValue="editPackage.category"
              :items="categoryOptions"
              required
              :error-messages="errors.first('Categories')"
              data-vv-name="Categories"
              label="Category(ies)"
              chips
              multiple
              item-value="category"
              @focus="getCategories"
            ></combo-box>
          </v-flex>
          <v-flex grow>
            <combo-box
              v-model="editPackage.system"
              v-validate="'required'"
              :existingValue="editPackage.system"
              :items="systemOptions"
              required
              :error-messages="errors.first('System')"
              data-vv-name="System"
              label="System"
              item-value="system"
              @focus="getSystems"
            ></combo-box>
          </v-flex>
          <v-flex grow>
            <v-textarea
              v-model="editPackage.description"
              v-validate="'required|min:10'"
              autocomplete="off"
              required
              :error-messages="errors.first('Description')"
              data-vv-name="Description"
              label="Description"
              outlined
            ></v-textarea>
          </v-flex>
        </div>

        <v-flex v-show="!editMode" grow>
          <v-layout row wrap align-center justify-center>
            <v-flex>
              <h4 class="text-center">Files to upload?</h4>
              <br />
              <task-attachment-upload
                ref="taskUpload"
                forceAllowDelete
                :apiPath="`${mongoUrl}files/upload/packages/${packageEntry._id}`"
                @allUploaded="getFileList()"
              ></task-attachment-upload>
              <br />
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex v-if="editMode" grow>
          <v-layout row wrap align-center justify-space-around>
            <v-flex v-if="userLoggedIn" shrink>
              <loader-button
                text="Delete"
                color="error"
                @click.native="showDeleteConfirm = true"
              ></loader-button>
            </v-flex>
            <v-flex shrink>
              <loader-button
                text="Cancel"
                color="warning"
                @click.native="cancelEditPackageEntry()"
              ></loader-button>
            </v-flex>
            <v-flex shrink>
              <loader-button
                text="Save"
                color="success"
                @click.native="submitEditedPackage()" 
              ></loader-button>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-container>

    <v-dialog v-model="showDeleteConfirm" class="text-center" width="500">
      <v-card>
        <v-card-title>Are You Sure?</v-card-title>
        <v-card-text>
          <h3 class="text-center">
            This will delete the package entry:
            <span class="warning--text">{{
              ` ${editPackage.entryNumber}`
            }}</span>
            <br />
            Once deleted it will <span class="error--text">NOT</span> be
            recoverable.
          </h3>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <loader-button
            text="Cancel"
            color="warning"
            @click.native="showDeleteConfirm = false"
          ></loader-button>
          <v-spacer></v-spacer>
          <loader-button
            text="OK"
            color="error"
            @click.native="deletePackageEntry"
          ></loader-button>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </base-form-dialog>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import FileList from '~/components/Utils/FileList.vue'
import ComboBox from '../Utils/BaseCombobox'
import BaseFormDialog from '~/components/Utils/BaseFormDialog.vue'
import TaskAttachmentUpload from '~/components/Utils/Upload.vue'
import DateInput from '~/components/Utils/DateInputField.vue'
import VueMarkdown from 'vue-markdown'

export default {
  components: {
    FileList,
    ComboBox,
    BaseFormDialog,
    TaskAttachmentUpload,
    DateInput,
    VueMarkdown,
  },
  props: {
    isActive: {
      type: Boolean,
      default: false,
    },
    packageEntry: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      editPackage: {},
      editMode: false,

      showDeleteConfirm: false,

      // openDateCal: false,
      // closeDateCal: false,

      fileList: [],

      categoryOptions: [],
      systemOptions: [],

      newNote: '',
      noteList: [],

      search: '',

      noteHeaders: [
        {
          text: 'Technician',
          value: 'techName',
          align: 'center',
          sortable: true,
        },
        {
          text: 'Notes',
          value: 'note',
          align: 'center',
          sortable: true,
        },
        {
          text: 'Entered',
          value: 'createdAt',
          align: 'center',
          sortable: true,
        },
        {
          text: '',
          value: 'actions',
          align: 'center',
          sortable: false,
        },
      ],

      headers: [
        {
          text: '',
          value: 'download',
          align: 'center',
        },
        {
          text: 'Attachment Name',
          value: 'file',
          sortable: true,
          align: 'center',
        },
        {
          text: '',
          value: 'delete',
          align: 'center',
        },
      ],
    }
  },
  computed: {
    ...mapState('sitewide', ['mongoUrl', 'userLoggedIn', 'loggedInUser']),
    techName: {
      get() {
        return this.$store.state.sitewide.techName
      },
      set(value) {
        this.$store.commit('sitewide/setTechName', value)
      },
    },
    selectionRequired: function () {
      if (!this.editPackage.type.length) {
        return 'required'
      } else {
        return ''
      }
    },
  },
  watch: {
    packageEntry: function () {
      this.getFileList()
    },
  },
  mounted() {},
  methods: {
    ...mapActions('sitewide', ['logWrite', 'toastMessage']),
    submitEditedPackage() {
      if (!this.techName) {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        this.$validator.validate().then(async (valid) => {
          if (valid) {
            this.$validator.pause()
            this.editPackage.techName = this.techName
            if (!this.editMode && this.$refs.taskUpload.files.length) {
              this.$refs.taskUpload.startUpload()
            }
            try {
              const editPackageSave = await this.$axios.$put(
                `${this.mongoUrl}packages/${this.editPackage._id}`,
                this.editPackage
              )
              this.cancelEditPackageEntry()
              this.$emit('refreshPackages')
              this.$nextTick(() => {
                this.$validator.reset()
                this.$validator.resume()
              })
              this.toastMessage(editPackageSave)
            } catch (error) {
              this.toastMessage('An Error occurred, see log for details')
              this.logWrite({
                logType: 'error',
                logItem: error,
              })
            }
          }
        })
      }
    },
    async addNote() {
      if (this.techName === '') {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        if (this.newNote != '') {
          this.$validator.validate().then(async (valid) => {
            if (valid) {
              try {
                const noteAdded = await this.$axios.$post(
                  `${this.mongoUrl}packages/notes/${this.packageEntry._id}`,
                  {
                    techName: this.techName,
                    note: this.newNote,
                  }
                )
                this.newNote = ''
                this.$emit('refreshNotes', this.packageEntry._id)
                this.toastMessage(noteAdded)
              } catch (error) {
                this.logWrite({
                  logType: 'error',
                  logItem: `DetailsPackagePopup.vue, addNote() - ${error}`,
                })
              }
            }
          })
        }
      }
    },
    async deleteNote(note) {
      if (this.techName === '') {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        const tech = { techName: this.techName }
        try {
          const deleteNote = await this.$axios.$delete(
            `${this.mongoUrl}packages/notes/${this.packageEntry._id}/${note._id}`,
            { data: tech }
          )
          this.$emit('refreshNotes', this.packageEntry._id)
          this.toastMessage(deleteNote)
        } catch (error) {
          this.logWrite({
            logType: 'error',
            logItem: `DetailsPackagePopup.vue, deleteNote() - ${error}`,
          })
        }
      }
    },
    toggleEditMode() {
      if (this.editMode) {
        this.editMode = false
      } else {
        this.editPackage = JSON.parse(JSON.stringify(this.packageEntry))
        this.editMode = true
      }
    },
    async deletePackageEntry() {
      try {
        const editPackageSave = await this.$axios.$delete(
          `${this.mongoUrl}packages/${this.editPackage._id}`
        )
        this.$emit('refreshPackages')
        this.toastMessage(editPackageSave)
        this.cancelEditPackageEntry()
      } catch (error) {
        this.toastMessage('An Error occurred, see log for details')
        this.logWrite({
          logType: 'error',
          logItem: error,
        })
      }
    },
    cancelEditPackageEntry() {
      this.$emit('close')
      this.editPackage = {}
      this.$refs.taskUpload.clearList()
      this.editMode = false
    },
    async getCategories() {
      this.categoryOptions = await this.$axios.$get(
        `${this.mongoUrl}packages/categories`
      )
    },
    async getSystems() {
      this.categoryOptions = await this.$axios.$get(
        `${this.mongoUrl}packages/systems`
      )
    },
    async getFileList() {
      if (this.packageEntry._id) {
        this.fileList = await this.$axios.$get(
          `${this.mongoUrl}files/packages/${this.packageEntry._id}`
        )
      }
    },
  },
}
</script>

<style></style>
