<template>
  <base-form-dialog
    :active="isActive"
    title="Create New Entry"
    width="900"
    @close="cancelNewPackageEntry"
  >
    <v-container fluid grid-list-md @keydown.ctrl.83.prevent.stop="submitNewPackage()">
      <v-layout column>
        <div>
          <v-flex>
            <v-layout row>
              <v-flex shrink>
                <v-text-field
                  v-model="newPackage.entryNumber"
                  label="Package Number"
                  autocomplete="off"
                  outlined
                  :error-messages="idError"
                  :loading="idLoading"
                  :success-messages="idSuccess"
                  append-icon="find_replace"
                  @blur="checkIdNumber(newPackage.entryNumber)"
                ></v-text-field>
              </v-flex>
              <v-flex grow>
                <v-text-field
                  v-model="newPackage.task"
                  v-validate="'required|min:5'"
                  autocomplete="off"
                  :error-messages="errors.first('Package Task')"
                  data-vv-name="Package Task"
                  label="Package Task"
                  outlined
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex>
            <v-layout row>
              <v-spacer />
              <v-flex shrink>
                <v-combobox
                  v-model="newPackage.system"
                  v-validate="'required'"
                  :items="systemOptions"
                  :error="errors.first('System')"
                  data-vv-name="System"
                  label="System"
                  outlined
                ></v-combobox>
              </v-flex>
              <v-spacer />
              <v-flex shrink>
                <combo-box
                  v-model="newPackage.category"
                  v-validate="false"
                  :items="categoryOptions"
                  :error="errors.first('Category')"
                  data-vv-name="Category"
                  label="Package Category(ies)"
                  multiple
                  chips
                ></combo-box>
              </v-flex>
              <v-spacer />
            </v-layout>
          </v-flex>
          <v-flex grow>
            <v-textarea
              v-model="newPackage.description"
              v-validate="false"
              autocomplete="off"
              :error-messages="errors.first('Description')"
              data-vv-name="Description"
              label="Description"
              outlined
            ></v-textarea>
          </v-flex>
        </div>

        <v-flex grow>
          <v-layout row wrap align-center justify-center>
            <v-flex>
              <h4 class="text-center">Files to upload?</h4>
              <br />
              <task-attachment-upload
                ref="upload"
                :apiPath="`${mongoUrl}files/upload/packages/${newPackage.entryNumber}`"
                hideUpload
                @allUploaded="cancelNewPackageEntry"
              ></task-attachment-upload>
              <br />
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex grow>
          <v-layout row wrap align-center justify-space-around>
            <v-flex shrink>
              <br />
              <loader-button
                text="Cancel"
                color="warning"
                @click.native="cancelNewPackageEntry()"
              ></loader-button>
            </v-flex>
            <v-flex shrink>
              <br />
              <loader-button
                text="Save"
                color="success"
                @click.native="submitNewPackage()" 
              ></loader-button>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-container>
  </base-form-dialog>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import ComboBox from '~/components/Utils/BaseCombobox.vue'
import TaskAttachmentUpload from '~/components/Utils/Upload.vue'
import BaseFormDialog from '~/components/Utils/BaseFormDialog.vue'

export default {
  components: {
    BaseFormDialog,
    TaskAttachmentUpload,
    ComboBox,
  },
  props: {
    isActive: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      newPackage: {
        entryNumber: '',
        title: '',
        category: [],
        system: '',
        notes: [],
        description: '',
      },

      categoryOptions: [],
      systemOptions: [],

      idError: [],
      idLoading: false,
      idSuccess: [],
    }
  },
  computed: {
    ...mapState('sitewide', ['mongoUrl', 'userLoggedIn', 'loggedInUser']),
    techName: {
      get() {
        return this.$store.state.sitewide.techName
      },
      set(value) {
        this.$store.commit('sitewide/setTechName', value)
      },
    },
  },
  watch: {},
  mounted() {
    this.getCategories()
    this.getSystems()
  },
  methods: {
    ...mapActions('sitewide', ['logWrite', 'toastMessage']),
    submitNewPackage() {
      if (!this.techName) {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        this.$validator.validate().then(async (valid) => {
          if (valid) {
            this.newPackage.techName = this.techName
            if (this.$refs.upload.files.length) {
              this.$refs.upload.startUpload()
            }
            try {
              const newPackageSave = await this.$axios.$post(
                `${this.mongoUrl}packages/`,
                this.newPackage
              )
              this.toastMessage(newPackageSave)
              if (!this.$refs.upload.files.length) {
                this.cancelNewPackageEntry()
              }
              this.$emit('refreshPackages')
            } catch (error) {
              this.toastMessage('An Error occurred, see log for details')
              this.logWrite({
                logType: 'error',
                logItem: error,
              })
            }
          }
        })
      }
    },
    async checkIdNumber(toCheck) {
      this.idLoading = 'warning'
      while (this.idSuccess.length) {
        this.idSuccess.pop()
      }
      while (this.idError.length) {
        this.idError.pop()
      }
      try {
        let idResponse = ''
        idResponse = await this.$axios.$get(
          `${this.mongoUrl}packages/checkid/${toCheck}`
        )
        if (idResponse == 'exists') {
          while (this.idSuccess.length) {
            this.idSuccess.pop()
          }
          this.idError.push('ID already exists')
        } else if (idResponse == 'available') {
          while (this.idError.length) {
            this.idError.pop()
          }
          this.idSuccess.push('ID is available')
        } else if (idResponse == 'custom') {
          while (this.idError.length) {
            this.idError.pop()
          }
          this.idSuccess.push('ID is available')
        }
        this.idLoading = false
      } catch (error) {
        this.toastMessage('An error occurred checking the package ID number')
        this.logWrite({
          logType: 'error',
          logItem: `NewPackagePopup.vue, checkIdNumber()- ${error}`,
        })
      }
    },
    cancelNewPackageEntry() {
      this.$emit('close')
      this.newPackage = {
        entryNumber: '',
        title: '',
        category: [],
        system: '',
        notes: [],
        description: '',
      }
      while (this.newPackage.category.length) this.newPackage.category.pop
      this.$validator.reset()
      this.$refs.upload ? this.$refs.upload.clearList() : null
      this.entryType = ''
    },
    async getCategories() {
      this.categoryOptions = await this.$axios.$get(
        `${this.mongoUrl}packages/categories`
      )
    },
    async getSystems() {
      this.systemOptions = await this.$axios.$get(
        `${this.mongoUrl}packages/systems`
      )
    },
  },
}
</script>

<style></style>
