Due tasks<template>
  <div>
    <v-container grid-list-md>
      <login-form :active="showLogIn" @close="showLogIn = false"></login-form>
      <v-layout row align-center justify-space-between>
        <v-flex shrink>
          <v-layout row align-center justify-center>
            <v-flex v-if="iLikeTurtles">
              <v-tooltip bottom>
                <template #activator="{ on }">
                  <v-icon
                    @click="
                      $event.stopPropagation()
                      $store.commit('sitewide/setToggleTurtle', true)
                    "
                    v-on="on"
                    >emoji_nature</v-icon
                  >
                </template>
                <span>Bye Bye Turtle</span>
              </v-tooltip>
            </v-flex>
            <v-flex v-if="hiddenMenu" order-lg2>
              <loader-button
                v-show="$route.params.db"
                icon="menu"
                iconOnly
                size="large"
                outlined
                tipText="Menu"
                tipLocation="bottom"
                @click.native="
                  $store.commit('sitewide/setMenuActive', (menuActive = true))
                "
              ></loader-button>
            </v-flex>
            <v-flex v-if="$vuetify.breakpoint.smAndUp" order-lg1>
              <v-tooltip bottom>
                <template #activator="{ on }">
                  <button @click="setTheme('toggle')">
                    <img
                      src="~/assets/logo.png"
                      alt="Maintenance Center"
                      class="fit"
                      v-on="on"
                    />
                  </button>
                </template>
                <span>Click to toggle theme</span>
              </v-tooltip>
            </v-flex>
            <v-flex v-if="$vuetify.breakpoint.xsOnly" order-lg1>
              <div>
                <loader-button
                  icon="invert_colors"
                  iconOnly
                  size="large"
                  outlined
                  tipText="toggle theme"
                  tipLocation="bottom"
                  @click.native="setTheme('toggle')"
                />
              </div>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex v-if="activePage == 'tasks'" grow>
          <v-layout row wrap justify-space-around align-center>
            <v-flex xs12 sm6 md4 shrink>
              <v-layout row align-center justify-center>
                <v-flex shrink>
                  <loader-button
                    v-show="numDays != 1 && tableTitle == 'Due Tasks'"
                    icon="remove"
                    iconOnly
                    nobg
                    @click.native="lowerDay()"
                  ></loader-button>
                </v-flex>
                <v-flex shrink>
                  <loader-button
                    text="Due Tasks"
                    size="large"
                    :loading="tasksLoading"
                    :color="dueButtonColor"
                    tipLocation="bottom"
                    :tipText="`Current Mode: ${taskModeText}`"
                    @click.native="toDuePage()"
                  ></loader-button>
                </v-flex>
                <v-flex shrink>
                  <loader-button
                    v-show="
                      tableTitle === 'Due Tasks' &&
                      (currentTaskMode === 'Operations' ||
                        currentTaskMode === 'Transit' ||
                        currentTaskMode.includes('custom')) &&
                      !emptyDatabase
                    "
                    icon="add"
                    iconOnly
                    nobg
                    tipLocation="bottom"
                    tipText="show tasks ahead"
                    @click.native="addDay()"
                  ></loader-button>
                </v-flex>
              </v-layout>
            </v-flex>
            <v-flex xs12 sm6 md4 shrink>
              <v-layout row align-center justify-center>
                <v-flex shrink>
                  <loader-button
                    text="All Tasks"
                    size="large"
                    @click.native="toAllTasksPage()"
                  ></loader-button>
                </v-flex>
                <v-flex shrink>
                  <loader-button
                    v-if="userLoggedIn"
                    v-show="tableTitle == 'All Tasks'"
                    icon="add"
                    iconOnly
                    nobg
                    tipLocation="right"
                    tipText="Add a new task"
                    @click.native="newTaskPopup(true)"
                  ></loader-button>
                </v-flex>
              </v-layout>
            </v-flex>
            <v-flex xs12 md4 shrink>
              <v-layout row align-center justify-center>
                <v-flex shrink>
                  <loader-button
                    text="Previous Completions"
                    size="large"
                    @click.native="toPreviousCompletions()"
                  ></loader-button>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex v-if="activePage != 'tasks'" grow>
          <v-layout row justify-center align-center>
            <div v-if="activePage == 'assets'" class="text-xs-center">
              <h1>Assets</h1>
            </div>

            <div v-if="activePage == 'todo'" class="text-xs-center">
              <h1>To Do List</h1>
            </div>

            <div v-else-if="activePage == 'inventory'" class="text-xs-center">
              <h1>Inventory</h1>
            </div>

            <div v-else-if="activePage == 'toorder'" class="text-xs-center">
              <h1>To Order</h1>
            </div>

            <div v-else-if="activePage == 'hoses'" class="text-xs-center">
              <h1>Hose Registry</h1>
            </div>

            <div v-else-if="activePage == 'settings'" class="text-xs-center">
              <h1>Settings</h1>
            </div>

            <div v-else-if="activePage == 'exporttasks'" class="text-xs-center">
              <h1>Export Tasks to Excel</h1>
            </div>

            <div
              v-else-if="activePage == 'exportinventory'"
              class="text-xs-center"
            >
              <h1>Export Inventory to Excel</h1>
            </div>

            <div
              v-else-if="activePage == 'exportToOrder'"
              class="text-xs-center"
            >
              <h1>Export Order to Excel</h1>
            </div>

            <div v-else-if="activePage == 'exportToDo'" class="text-xs-center">
              <h1>Export To Do's to Excel</h1>
            </div>

            <div
              v-else-if="activePage == 'exportPackages'"
              class="text-xs-center"
            >
              <h1>Export Packages to Excel</h1>
            </div>

            <div v-else-if="activePage == 'safety'" class="text-xs-center">
              <h1>Safety</h1>
            </div>

            <div
              v-else-if="activePage == 'safetyexport'"
              class="text-xs-center"
            >
              <h1>Safety Observation Card Export</h1>
            </div>

            <div v-else-if="activePage == 'logs'" class="text-xs-center">
              <h1>Logs</h1>
            </div>

            <div v-else-if="activePage == 'packages'" class="text-xs-center">
              <h1>Packages</h1>
            </div>
          </v-layout>
        </v-flex>
        <v-flex v-if="randomFact" shrink>
          <loader-button
            icon="report"
            iconOnly
            size="small"
            outlined
            :tipText="randomFact"
            tipLocation="bottom"
          ></loader-button>
        </v-flex>
      </v-layout>
    </v-container>

    <v-navigation-drawer
      v-if="$route.params.db"
      v-model="menuActive"
      :absolute="hiddenMenu"
      :temporary="hiddenMenu"
      :mini-variant.sync="hiddenMenu ? false : mini"
      :app="!hiddenMenu"
      width="300"
      :permanent="typeof hiddenMenu == 'string' ? false : !hiddenMenu"
      :expand-on-hover="!hiddenMenu"
    >
      <v-card v-if="hiddenMenu ? true : !mini">
        <v-list shaped>
          <v-list-group
            v-if="tenants && tenants.length > 1"
            v-model="otherSites"
            no-action
          >
            <template #activator>
              <v-list-item>
                <v-list-item-title>{{ friendlyName }}</v-list-item-title>
              </v-list-item>
            </template>
            <v-list-item
              v-for="(tenant, index) in tenants"
              :key="index"
              ripple
              nuxt
              :to="{ path: `/${tenant._id}/tasks`, params: { reload: 'true' } }"
              @click="otherSites = false"
            >
              <v-list-item-title>{{ tenant.friendlyName }}</v-list-item-title>
            </v-list-item>
          </v-list-group>
          <v-list-item v-else>
            <v-list-item-title>{{ friendlyName }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-card>

      <v-card v-else>
        <v-list-item>
          <v-list-item-action>
            <v-icon>menu</v-icon>
          </v-list-item-action>
        </v-list-item>
      </v-card>

      <v-list shaped>
        <v-list-group
          v-if="
            (menuOptions.maintenanceTasks &&
              Object.entries(modeOptions)
                .flat()
                .filter((mode) => mode.active === true).length > 1) ||
            taskModeType === 'classic'
          "
          prepend-icon="build"
          no-action
        >
          <template #activator>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title>Maintenance</v-list-item-title>
                <v-list-item-subtitle
                  v-if="
                    showMenuValues &&
                    menuValues.tasks &&
                    menuValues.tasks.number
                  "
                >
                  {{ getTaskCount() }}
                </v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </template>
          <v-list-item nuxt :to="buildRoute('/tasks')">
            <v-list-item-title @click="setActivePage('tasks')">
              Maintenance Page
            </v-list-item-title>
          </v-list-item>
          <v-list-group v-if="taskModeType == 'custom'" sub-group no-action>
            <template #activator>
              <v-list-item>
                <v-list-item-title>Change Mode</v-list-item-title>
              </v-list-item>
            </template>
            <div v-for="(value, name, index) in modeOptions" :key="index">
              <v-list-item
                v-if="currentTaskMode !== `custom.${name}` && value.active"
                ripple
                @click="OpsStatusChange(`custom.${name}`)"
              >
                <v-list-item-title
                  :style="`color: ${setTextColor(value.color)} !important`"
                  >Set {{ value.name }}</v-list-item-title
                >
              </v-list-item>
            </div>
          </v-list-group>
          <v-list-group v-else sub-group no-action>
            <template #activator>
              <v-list-item>
                <v-list-item-title>Change Mode</v-list-item-title>
              </v-list-item>
            </template>
            <v-list-item
              v-show="currentTaskMode == 'Transit'"
              ripple
              style="color: green !important"
              @click="OpsStatusChange('Operations')"
            >
              <v-list-item-title>Set Operations</v-list-item-title>
            </v-list-item>
            <v-list-item
              v-show="
                currentTaskMode == 'Out Of Layup' ||
                currentTaskMode == 'Operations' ||
                currentTaskMode == 'Mobilization'
              "
              ripple
              :style="
                $vuetify.theme.dark
                  ? 'color: yellow !important'
                  : 'color: orange !important'
              "
              @click="OpsStatusChange('Transit')"
            >
              <v-list-item-title>Set Transit</v-list-item-title>
            </v-list-item>
            <v-list-item
              v-show="
                currentTaskMode == 'Operations' ||
                currentTaskMode == 'Transit' ||
                currentTaskMode == 'Mobilization'
              "
              ripple
              style="color: orange !important"
              @click="OpsStatusChange('In Layup')"
            >
              <v-list-item-title>Go Into Layup</v-list-item-title>
            </v-list-item>
            <v-list-item
              v-show="currentTaskMode == 'In Layup'"
              ripple
              style="color: orange !important"
              @click="OpsStatusChange('Out Of Layup')"
            >
              <v-list-item-title>Come out of Layup</v-list-item-title>
            </v-list-item>
            <v-list-item
              v-show="currentTaskMode != 'De-Mobilization'"
              ripple
              style="color: red !important"
              @click="OpsStatusChange('De-Mobilization')"
            >
              <v-list-item-title>Demobilize the System</v-list-item-title>
            </v-list-item>
            <v-list-item
              v-show="currentTaskMode == 'De-Mobilization'"
              ripple
              style="color: red !important"
              @click="OpsStatusChange('Mobilization')"
            >
              <v-list-item-title>Mobilize the System</v-list-item-title>
            </v-list-item>
          </v-list-group>
        </v-list-group>
        <v-list-item
          v-else-if="menuOptions.maintenanceTasks"
          nuxt
          :to="buildRoute('/tasks')"
        >
          <v-list-item-action>
            <v-icon>build</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title @click="setActivePage('tasks')">
              Maintenance Page
            </v-list-item-title>
            <v-list-item-subtitle
              v-if="
                showMenuValues && menuValues.tasks && menuValues.tasks.number
              "
            >
              {{ getTaskCount() }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-list-item v-if="menuOptions.assets" nuxt :to="buildRoute('/assets')">
          <v-list-item-action>
            <v-icon>account_balance</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title @click="setActivePage('assets')"
              >Assets</v-list-item-title
            >
          </v-list-item-content>
        </v-list-item>
        <v-list-item v-if="menuOptions.toDo" nuxt :to="buildRoute('/todo')">
          <v-list-item-action>
            <v-icon>list</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title @click="setActivePage('todo')"
              >To Do List</v-list-item-title
            >
            <v-list-item-subtitle
              v-if="showMenuValues && menuValues.todo && menuValues.todo.number"
            >
              {{ getTodoSubtitle() }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-list-item v-if="menuOptions.hoses" nuxt :to="buildRoute('/hoses')">
          <v-list-item-action>
            <v-icon>gesture</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title @click="setActivePage('hoses')">
              Hose Registry
            </v-list-item-title>
            <v-list-item-subtitle
              v-if="
                showMenuValues &&
                menuValues.hoses &&
                menuValues.hoses.numbers &&
                (menuValues.hoses.numbers.nextInspection ||
                  menuValues.hoses.numbers.nextChange)
              "
            >
              {{ getHosesSubtitle() }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-list-item
          v-if="menuOptions.inventory"
          nuxt
          :to="buildRoute('/inventory')"
        >
          <v-list-item-action>
            <v-icon>inventory</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title @click="setActivePage('inventory')"
              >Inventory</v-list-item-title
            >
          </v-list-item-content>
        </v-list-item>
        <v-list-item
          v-if="menuOptions.toOrder"
          nuxt
          :to="buildRoute('/toorder')"
        >
          <v-list-item-action>
            <v-icon>shopping_cart</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title @click="setActivePage('toorder')"
              >To Order List</v-list-item-title
            >
            <v-list-item-subtitle
              v-if="
                showMenuValues &&
                menuValues.toorder &&
                menuValues.toorder.number
              "
            >
              {{ getToOrderSubtitle() }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-list-item v-if="menuOptions.logs" nuxt :to="buildRoute('/logs')">
          <v-list-item-action>
            <v-icon>library_books</v-icon>
          </v-list-item-action>
          <v-list-item-title @click="setActivePage('logs')"
            >Logs</v-list-item-title
          >
        </v-list-item>
        <v-list-item
          v-if="menuOptions.packages"
          nuxt
          :to="buildRoute('/packages')"
        >
          <v-list-item-action>
            <v-icon>folder</v-icon>
          </v-list-item-action>
          <v-list-item-title @click="setActivePage('packages')"
            >Packages</v-list-item-title
          >
        </v-list-item>
        <v-list-group no-action prepend-icon="get_app">
          <template #activator>
            <v-list-item>
              <v-list-item-title>Exports</v-list-item-title>
            </v-list-item>
          </template>
          <v-list-item
            v-if="menuOptions.maintenanceTasks"
            nuxt
            :to="buildRoute('/export/tasks')"
          >
            <v-list-item-title @click="setActivePage('exporttasks')"
              >Export Tasks</v-list-item-title
            >
          </v-list-item>
          <v-list-item
            v-if="menuOptions.inventory"
            nuxt
            :to="buildRoute('/export/inventory')"
          >
            <v-list-item-title @click="setActivePage('exportinventory')"
              >Export Inventory</v-list-item-title
            >
          </v-list-item>
          <v-list-item
            v-if="menuOptions.toOrder"
            nuxt
            :to="buildRoute('/export/toOrder')"
          >
            <v-list-item-title @click="setActivePage('exportToOrder')"
              >Export Order List</v-list-item-title
            >
          </v-list-item>
          <v-list-item
            v-if="menuOptions.toDo"
            nuxt
            :to="buildRoute('/export/toDo')"
          >
            <v-list-item-title @click="setActivePage('exportToDo')"
              >Export To Do's</v-list-item-title
            >
          </v-list-item>
          <v-list-item
            v-if="menuOptions.packages"
            nuxt
            :to="buildRoute('/export/packages')"
          >
            <v-list-item-title @click="setActivePage('exportPackages')"
              >Export Packages</v-list-item-title
            >
          </v-list-item>
        </v-list-group>
        <v-list-item nuxt :to="buildRoute('/settings')">
          <v-list-item-action>
            <v-icon>settings</v-icon>
          </v-list-item-action>
          <v-list-item-title @click="setActivePage('settings')"
            >Settings</v-list-item-title
          >
        </v-list-item>
        <v-list-item v-if="!userLoggedIn" @click="openLogIn()">
          <v-list-item-action>
            <v-icon>verified_user</v-icon>
          </v-list-item-action>
          <v-list-item-title>Admin Log In</v-list-item-title>
        </v-list-item>
        <v-list-item v-if="userLoggedIn" @click="logOut()">
          <v-list-item-action>
            <v-icon>priority_high</v-icon>
          </v-list-item-action>
          <v-list-item-title class="warning--text"
            >Logout {{ loggedInUser.username }}</v-list-item-title
          >
        </v-list-item>
      </v-list>

      <v-divider></v-divider>

      <v-list two-line class="pa-1">
        <v-list-item @click="openGitlab()">
          <v-list-item-action>
            <v-icon>feedback</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            Requests / Feedback??
            <br />MaintCenter Issues Page
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-divider></v-divider>

      <v-list two-line class="pa-1">
        <v-list-item @click="openDocs()">
          <v-list-item-action>
            <v-icon>help</v-icon>
          </v-list-item-action>
          <v-list-item-content>Help / Manual</v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import LoginForm from './Utils/LoginForm.vue'

export default {
  name: 'NavBar',
  components: {
    LoginForm,
  },
  data() {
    return {
      dueButtonColor: 'primary',
      activeMenuOption: '/tasks',
      tenants: [],
      otherSites: false,

      showLogIn: false,
      mini: true,
    }
  },
  computed: {
    ...mapState('sitewide', [
      'hiddenMenu',
      'darkTheme',
      'currentTaskMode',
      'modeOptions',
      'taskModeType',
      'tableTitle',
      'friendlyName',
      'activePage',
      'menuOptions',
      'showMenuValues',
      'menuValues',
      'userLoggedIn',
      'loggedInUser',
      'iLikeTurtles',
      'randomFact',
    ]),
    ...mapState('tasks', ['numDays', 'tasksLoading', 'emptyDatabase']),
    taskModeText() {
      if (this.currentTaskMode.includes('custom')) {
        return this.modeOptions[this.currentTaskMode.split('.').pop()].name
      } else {
        return this.currentTaskMode
      }
    },
    menuActive: {
      get() {
        return this.$store.state.sitewide.menuActive
      },
      set(value) {
        this.$store.commit('sitewide/setMenuActive', value)
      },
    },
  },
  watch: {
    currentTaskMode() {
      if (this.taskModeType == 'classic') {
        switch (this.currentTaskMode) {
          case 'Operations':
            this.dueButtonColor = 'success'
            break
          case 'Transit':
            this.dueButtonColor = 'warning'
            break
          default:
            this.dueButtonColor = 'error'
            break
        }
      } else {
        this.dueButtonColor = 'primary'
      }
    },
  },
  mounted() {
    this.getTenants()
  },
  methods: {
    ...mapActions('sitewide', ['toastMessage', 'logWrite', 'menuSelection']),
    ...mapActions('tasks', ['OpsStatusChange']),
    setTheme() {
      if (this.$vuetify.theme.dark) {
        this.$vuetify.theme.dark = false
      } else if (!this.$vuetify.theme.dark) {
        this.$vuetify.theme.dark = true
      }
    },
    setTextColor(name) {
      if (this.$vuetify.theme.dark) {
        return this.$vuetify.theme.themes.dark[name]
      } else if (!this.$vuetify.theme.dark) {
        return this.$vuetify.theme.themes.light[name]
      }
    },
    openLogIn() {
      this.showLogIn = true
    },
    logOut() {
      this.$store.commit('sitewide/setLoggedInUser', {})
      this.$store.commit('sitewide/setUserLoggedIn', false)
      this.$store.commit('sitewide/setTechName', '')
      sessionStorage.removeItem('loggedInUser')
      sessionStorage.removeItem('loggedInUserEmail')
    },
    engageTurtle() {
      this.iLikeTurtles = !this.iLikeTurtles
    },
    setActivePage(page) {
      this.$store.commit('sitewide/setActivePage', page)
    },
    toDuePage() {
      this.$store.commit('sitewide/setTableTitle', 'Due Tasks')
    },
    toAllTasksPage() {
      this.$store.commit('sitewide/setTableTitle', 'All Tasks')
    },
    newTaskPopup(state) {
      this.$store.commit('tasks/setNewTaskPopup', state)
    },
    toPreviousCompletions() {
      this.$store.commit('sitewide/setTableTitle', 'Previously Completed')
    },
    getTaskCount() {
      let taskCountText = ''
      taskCountText =
        this.menuValues.tasks && this.menuValues.tasks.number
          ? `${this.menuValues.tasks.number} task`
          : null
      taskCountText =
        this.menuValues.tasks && this.menuValues.tasks.number > 1
          ? `${taskCountText}s due`
          : `${taskCountText} due`
      return taskCountText
    },
    getToOrderSubtitle() {
      let toOrderText = ''
      toOrderText =
        this.menuValues.toorder && this.menuValues.toorder.number
          ? `${this.menuValues.toorder.number} item`
          : null
      toOrderText =
        this.menuValues.toorder && this.menuValues.toorder.number > 1
          ? `${toOrderText}s due`
          : `${toOrderText} due`
      return toOrderText
    },
    getTodoSubtitle() {
      let todoText = ''
      todoText =
        this.menuValues.todo && this.menuValues.todo.number
          ? `${this.menuValues.todo.number} item`
          : null
      todoText =
        this.menuValues.todo && this.menuValues.todo.number > 1
          ? `${todoText}s due`
          : `${todoText} due`
      return todoText
    },
    getHosesSubtitle() {
      if (
        this.menuValues.hoses &&
        (this.menuValues.hoses.numbers.nextChange ||
          this.menuValues.hoses.numbers.nextInspection)
      ) {
        let hoseString = ''
        this.menuValues.hoses.numbers.nextChange
          ? (hoseString = `${this.menuValues.hoses.numbers.nextChange} change`)
          : null
        this.menuValues.hoses.numbers.nextChange > 1
          ? (hoseString = `${hoseString}s`)
          : null

        this.menuValues.hoses.numbers.nextChange &&
        this.menuValues.hoses.numbers.nextInspection
          ? (hoseString = `${hoseString} &`)
          : null

        this.menuValues.hoses.numbers.nextInspection
          ? (hoseString = `${hoseString} ${this.menuValues.hoses.numbers.nextInspection} inspection`)
          : null
        this.menuValues.hoses.numbers.nextInspection > 1
          ? (hoseString = `${hoseString}s`)
          : null

        hoseString = `${hoseString} due`
        return hoseString
      } else {
        return 'No hoses due'
      }
    },
    addDay() {
      this.$store.commit('tasks/setTasksLoading', true)
      this.$store.commit('tasks/addNumDays')
    },
    lowerDay() {
      this.$store.commit('tasks/setTasksLoading', true)
      this.$store.commit('tasks/lowerNumDays')
    },
    buildRoute(page) {
      return `/${this.$route.params.db}${page}`
    },
    async getTenants() {
      this.tenants = await this.$axios.$get(
        `${window.location.origin}/api/tenants`
      )
    },
    openGitlab() {
      window.open(
        'https://gitlab.com/goofballtech/maintcenter/-/issues/',
        '_new'
      )
    },
    openDocs() {
      window.open(`${window.location.origin}/docs`, '_new')
    },
  },
}
</script>

<style scope>
a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none !important;
  color: inherit !important;
}
</style>
