<template>
  <base-form-dialog
    :active="isActive"
    title="View Entry"
    editButton
    width="700"
    @edit="toggleEditMode"
    @close="cancelEditLogEntry"
  >
    <v-container fluid grid-list-md @keydown.ctrl.83.prevent.stop="submitEditedLog()">
      <v-layout column>
        <v-flex>
          <v-layout row align-center justify-space-between>
            <v-spacer />
            <v-flex xs5 class="text-center subtitle-1">
              <h4 class="grey--text text--darken-1 text-center">Log Number</h4>
              <hr class="grey darken-1" />
              <span>{{ logEntry.entryNumber }}</span>
            </v-flex>
            <v-spacer />
          </v-layout>
        </v-flex>
        <v-flex v-if="logEntry.createdAt || logEntry.updatedAt">
          <v-layout row align-center justify-space-around>
            <v-flex
              v-if="logEntry.createdAt"
              xs5
              class="text-center subtitle-1"
            >
              <h4 class="grey--text text--darken-1 text-center">Created</h4>
              <hr class="grey darken-1" />
              <base-format-date
                :ISOdate="logEntry.createdAt"
              ></base-format-date>
            </v-flex>
            <v-flex
              v-if="logEntry.updatedAt"
              xs5
              class="text-center subtitle-1"
            >
              <h4 class="grey--text text--darken-1 text-center">
                Last Modified
              </h4>
              <hr class="grey darken-1" />
              <span
                ><base-format-date
                  :ISOdate="logEntry.updatedAt"
                ></base-format-date>
                by {{ logEntry.techName }}</span
              >
            </v-flex>
          </v-layout>
        </v-flex>
        <div v-if="!editMode">
          <v-flex grow>
            <v-layout row wrap align-center justify-space-around>
              <v-flex shrink>
                <h4 class="grey--text text--darken-1 text-center">Type</h4>
                <hr class="grey darken-1" />
                <v-chip
                  v-for="(type, index) in logEntry.type"
                  :key="index"
                  disabled
                  >{{ type }}</v-chip
                >
              </v-flex>
              <v-flex shrink>
                <h4 class="grey--text text--darken-1 text-center">Category</h4>
                <hr class="grey darken-1" />
                <v-chip
                  v-for="(category, index) in logEntry.category"
                  :key="index"
                  disabled
                  >{{ category }}</v-chip
                >
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex
            v-if="
              logEntry.type &&
              logEntry.type.includes('Passdown') &&
              (logEntry.dateFrom || logEntry.dateTo)
            "
            grow
          >
            <v-layout row wrap align-center justify-space-around>
              <v-flex v-if="logEntry.dateFrom" shrink>
                <h4 class="grey--text text--darken-1 text-center">
                  Date From:
                </h4>
                <hr class="grey darken-1" />
                <base-format-date
                  :ISOdate="logEntry.dateFrom"
                ></base-format-date>
              </v-flex>
              <v-flex v-if="logEntry.dateTo" shrink>
                <h4 class="grey--text text--darken-1 text-center">Date To:</h4>
                <hr class="grey darken-1" />
                <base-format-date :ISOdate="logEntry.dateTo"></base-format-date>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex grow class="text-center">
            <h4 class="grey--text text--darken-1">Title</h4>
            <hr class="grey darken-1" />
            <span>{{ logEntry.title }}</span>
          </v-flex>
          <v-flex grow>
            <h4 class="grey--text text--darken-1 text-center">
              Note/Description
            </h4>
            <hr class="grey darken-1" />
            <vue-markdown
              :source="logEntry.note"
              :anchorAttributes="{ target: '_blank' }"
            ></vue-markdown>
          </v-flex>
          <v-flex v-if="fileList.length">
            <file-list
              :fileUrl="`systemlogs/${logEntry.entryNumber}`"
              :fileList="fileList"
              hideHighlightedColumn
              @refreshFiles="getFileList()" 
            ></file-list>
          </v-flex>
        </div>
        <div v-else-if="!logEntry.type.includes('Documentation') && editMode">
          <v-flex grow>
            <v-layout row wrap align-center justify-space-around>
              <v-flex shrink>
                <v-checkbox
                  v-model="editLog.type"
                  v-validate="selectionRequired"
                  autocomplete="off"
                  required
                  :error-messages="errors.first('Log Type')"
                  data-vv-name="Log Type"
                  label="ET Log"
                  value="ET Log"
                />
              </v-flex>
              <v-flex shrink>
                <v-checkbox
                  v-model="editLog.type"
                  v-validate="selectionRequired"
                  autocomplete="off"
                  required
                  :error-messages="errors.first('Log Type')"
                  data-vv-name="Log Type"
                  label="MT Log"
                  value="MT Log"
                />
              </v-flex>
              <v-flex shrink>
                <v-checkbox
                  v-model="editLog.type"
                  v-validate="selectionRequired"
                  autocomplete="off"
                  required
                  :error-messages="errors.first('Log Type')"
                  data-vv-name="Log Type"
                  label="Passdown"
                  value="Passdown"
                />
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex v-if="editLog.type.includes('Passdown')" grow>
            <v-layout row wrap align-center justify-center>
              <v-flex shrink>
                <h4>
                  Please specify the date range contained in this passdown
                </h4>
              </v-flex>
            </v-layout>
            <v-layout row wrap align-center justify-space-around>
              <v-flex shrink>
                <date-input
                  v-model="editLog.dateFrom"
                  v-validate="
                    editLog.type.includes('Passdown') ? 'required' : ''
                  "
                  name="From Date"
                  :error-messages="errors.first('From Date')"
                  notClearable
                  label="From this date.."
                  :max="new Date().toISOString()"
                />
              </v-flex>
              <v-flex shrink>
                <date-input
                  v-model="editLog.dateTo"
                  v-validate="
                    editLog.type.includes('Passdown') ? 'required' : ''
                  "
                  name="Until Date"
                  :error-messages="errors.first('Until Date')"
                  notClearable
                  label="Until this date.."
                  :max="new Date().toISOString()"
                />
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex grow>
            <v-text-field
              v-model="editLog.title"
              v-validate="'required|min:5'"
              autocomplete="off"
              required
              :error-messages="errors.first('Note Title')"
              data-vv-name="Note Title"
              label="Note Title"
              outlined
            ></v-text-field>
          </v-flex>
          <v-flex grow>
            <combo-box
              v-model="editLog.category"
              v-validate="false"
              :existingValue="editLog.category"
              :error="errors.first('Category')"
              :items="categoryOptions"
              required
              data-vv-name="Category"
              multiple
              chips
              label="Note Category(ies)"
              @focus="getCategories"
            ></combo-box>
          </v-flex>
          <v-flex grow>
            <v-textarea
              v-model="editLog.note"
              v-validate="'required|min:10'"
              autocomplete="off"
              required
              :error-messages="errors.first('Note Description')"
              data-vv-name="Note Description"
              label="Note"
              outlined
            ></v-textarea>
          </v-flex>
        </div>
        <div v-else-if="logEntry.type.includes('Documentation') && editMode">
          <v-flex grow>
            <v-text-field
              v-model="editLog.title"
              v-validate="'required|min:5'"
              autocomplete="off"
              required
              :error-messages="errors.first('Documentation Title')"
              data-vv-name="Documentation Title"
              name="Documentation Title"
              label="Documentation Title"
              outlined
            ></v-text-field>
          </v-flex>
          <v-flex grow>
            <combo-box
              v-model="editLog.category"
              v-validate="'required'"
              :existingValue="editLog.category"
              :items="categoryOptions"
              required
              :error-messages="errors.first('Documentation Categories')"
              data-vv-name="Documentation Categories"
              label="Documentation Category(ies)"
              chips
              multiple
              item-value="category"
              @focus="getCategories"
            ></combo-box>
          </v-flex>
          <v-flex grow>
            <v-textarea
              v-model="editLog.note"
              v-validate="'required|min:10'"
              autocomplete="off"
              required
              :error-messages="errors.first('Note Description')"
              data-vv-name="Note Description"
              label="Note Description"
              outlined
            ></v-textarea>
          </v-flex>
        </div>

        <v-flex v-show="!editMode" grow>
          <v-layout row wrap align-center justify-center>
            <v-flex>
              <h4 class="text-center">Files to upload?</h4>
              <br />
              <task-attachment-upload
                ref="taskUpload"
                forceAllowDelete
                :apiPath="`${mongoUrl}files/upload/systemlogs/${logEntry.entryNumber}`"
                @allUploaded="getFileList()"
              ></task-attachment-upload>
              <br />
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex v-if="editMode" grow>
          <v-layout row wrap align-center justify-space-around>
            <v-flex v-if="userLoggedIn" shrink>
              <loader-button
                text="Delete"
                color="error"
                @click.native="showDeleteConfirm = true"
              ></loader-button>
            </v-flex>
            <v-flex shrink>
              <loader-button
                text="Cancel"
                color="warning"
                @click.native="cancelEditLogEntry()"
              ></loader-button>
            </v-flex>
            <v-flex shrink>
              <loader-button
                text="Save"
                color="success"
                @click.native="submitEditedLog()"
              ></loader-button>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-container>

    <v-dialog v-model="showDeleteConfirm" class="text-center" width="500">
      <v-card>
        <v-card-title>Are You Sure?</v-card-title>
        <v-card-text>
          <h3 class="text-center">
            This will delete the log entry:
            <span class="warning--text">{{ ` ${editLog.title}` }}</span>
            <br />
            Once deleted it will <span class="error--text">NOT</span> be
            recoverable.
          </h3>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <loader-button
            text="Cancel"
            color="warning"
            @click.native="showDeleteConfirm = false"
          ></loader-button>
          <v-spacer></v-spacer>
          <loader-button
            text="OK"
            color="error"
            @click.native="deleteLogEntry()"
          ></loader-button>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </base-form-dialog>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import { parseISO, format } from 'date-fns/esm'
import FileList from '~/components/Utils/FileList.vue'
import ComboBox from '../Utils/BaseCombobox'
import BaseFormDialog from '~/components/Utils/BaseFormDialog.vue'
import TaskAttachmentUpload from '~/components/Utils/Upload.vue'
import VueMarkdown from 'vue-markdown'
import DateInput from '../Utils/DateInputField.vue'

export default {
  components: {
    FileList,
    ComboBox,
    BaseFormDialog,
    TaskAttachmentUpload,
    VueMarkdown,
    DateInput,
  },
  props: {
    isActive: {
      type: Boolean,
      default: false,
    },
    logEntry: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      editLog: {},
      editMode: false,

      showDeleteConfirm: false,

      passdownStartCal: false,
      passdownEndCal: false,

      fileList: [],

      categoryOptions: [],

      headers: [
        {
          text: '',
          value: 'download',
          align: 'center',
        },
        {
          text: 'Attachment Name',
          value: 'file',
          sortable: true,
          align: 'center',
        },
        {
          text: '',
          value: 'delete',
          align: 'center',
        },
      ],
      search: '',
    }
  },
  computed: {
    ...mapState('sitewide', ['mongoUrl', 'userLoggedIn', 'loggedInUser']),
    techName: {
      get() {
        return this.$store.state.sitewide.techName
      },
      set(value) {
        this.$store.commit('sitewide/setTechName', value)
      },
    },
    selectionRequired: function () {
      if (!this.editLog.type.length) {
        return 'required'
      } else {
        return ''
      }
    },
  },
  watch: {
    logEntry: function () {
      this.getFileList()
    },
  },
  mounted() {},
  methods: {
    ...mapActions('sitewide', ['logWrite', 'toastMessage']),
    submitEditedLog() {
      if (!this.techName) {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        this.$validator.validate().then(async (valid) => {
          if (valid) {
            this.$validator.pause()
            this.editLog.techName = this.techName
            if (!this.editMode && this.$refs.taskUpload.files.length) {
              this.$refs.taskUpload.startUpload()
            }
            try {
              const editLogSave = await this.$axios.$put(
                `${this.mongoUrl}systemlogs/${this.editLog._id}`,
                this.editLog
              )
              this.$emit('refreshLogs')
              this.toastMessage(editLogSave)
              this.cancelEditLogEntry()
              this.$nextTick(() => {
                this.$validator.reset()
                this.$validator.resume()
              })
            } catch (error) {
              this.toastMessage('An Error occurred, see log for details')
              this.logWrite({
                logType: 'error',
                logItem: error,
              })
            }
          }
        })
      }
    },
    toggleEditMode() {
      if (this.editMode) {
        this.editMode = false
      } else {
        this.editLog = JSON.parse(JSON.stringify(this.logEntry))
        this.editLog.dateTo
          ? (this.editLog.dateTo = format(
              parseISO(this.editLog.dateTo),
              'yyyy-MM-dd'
            ))
          : null
        this.editLog.dateFrom
          ? (this.editLog.dateFrom = format(
              parseISO(this.editLog.dateFrom),
              'yyyy-MM-dd'
            ))
          : null
        this.editMode = true
      }
    },
    async deleteLogEntry() {
      try {
        const editLogSave = await this.$axios.$delete(
          `${this.mongoUrl}systemlogs/${this.editLog._id}`
        )
        this.$emit('refreshLogs')
        this.toastMessage(editLogSave)
        this.cancelEditLogEntry()
      } catch (error) {
        this.toastMessage('An Error occurred, see log for details')
        this.logWrite({
          logType: 'error',
          logItem: error,
        })
      }
    },
    cancelEditLogEntry() {
      this.$emit('close')
      this.editLog = {}
      this.$refs.taskUpload.clearList()
      this.editMode = false
    },
    async getCategories() {
      this.categoryOptions = await this.$axios.$get(
        `${this.mongoUrl}systemlogs/categories`
      )
    },
    async getFileList() {
      this.fileList = await this.$axios.$get(
        `${this.mongoUrl}files/systemlogs/${this.logEntry.entryNumber}`
      )
    },
  },
}
</script>

<style></style>
