<template>
  <base-form-dialog
    :active="isActive"
    title="Create New Entry"
    width="900"
    @close="cancelNewLogEntry"
  >
    <v-container fluid grid-list-md @keydown.ctrl.83.prevent.stop="submitNewLog()">
      <v-layout column>
        <v-flex v-if="!entryType" grow class="text-center">
          <H4>Please select the type of log entry to create</H4>
        </v-flex>
        <v-flex v-else class="text-center subtitle-1">
          <span>Creating log number {{ newLog.entryNumber }}</span>
        </v-flex>
        <v-flex grow>
          <v-layout row wrap align-center justify-center>
            <v-flex shrink>
              <v-radio-group v-model="entryType" row>
                <v-radio label="Log/Passdown Entry" value="log"></v-radio>
                <v-radio
                  label="Documentation Entry"
                  value="Documentation"
                ></v-radio>
              </v-radio-group>
            </v-flex>
          </v-layout>
        </v-flex>
        <div v-if="entryType === 'log'">
          <v-flex grow>
            <v-layout row wrap align-center justify-space-around>
              <v-flex shrink>
                <v-checkbox
                  v-model="newLog.type"
                  v-validate="selectionRequired"
                  autocomplete="off"
                  required
                  :error-messages="errors.first('Log Type')"
                  data-vv-name="Log Type"
                  label="ET Log"
                  value="ET Log"
                />
              </v-flex>
              <v-flex shrink>
                <v-checkbox
                  v-model="newLog.type"
                  v-validate="selectionRequired"
                  autocomplete="off"
                  required
                  :error-messages="errors.first('Log Type')"
                  data-vv-name="Log Type"
                  label="MT Log"
                  value="MT Log"
                />
              </v-flex>
              <v-flex shrink>
                <v-checkbox
                  v-model="newLog.type"
                  v-validate="selectionRequired"
                  autocomplete="off"
                  required
                  :error-messages="errors.first('Log Type')"
                  data-vv-name="Log Type"
                  label="Passdown"
                  value="Passdown"
                />
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex v-if="newLog.type.includes('Passdown')" grow>
            <v-layout row wrap align-center justify-center>
              <v-flex shrink>
                <h4>
                  Please specify the date range contained in this passdown
                </h4>
              </v-flex>
            </v-layout>
            <v-layout row wrap align-center justify-space-around>
              <v-flex shrink>
                <date-input
                  v-model="newLog.dateFrom"
                  v-validate="
                    newLog.type.includes('Passdown') ? 'required' : ''
                  "
                  name="From Date"
                  :error-messages="errors.first('From Date')"
                  notClearable
                  label="From this date.."
                  :max="new Date().toISOString()"
                />
              </v-flex>
              <v-flex shrink>
                <date-input
                  v-model="newLog.dateTo"
                  v-validate="
                    newLog.type.includes('Passdown') ? 'required' : ''
                  "
                  name="Until Date"
                  :error-messages="errors.first('Until Date')"
                  notClearable
                  label="Until this date.."
                  :max="new Date().toISOString()"
                />
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex grow>
            <v-text-field
              v-model="newLog.title"
              v-validate="'required|min:5'"
              autocomplete="off"
              required
              :error-messages="errors.first('Note Title')"
              data-vv-name="Note Title"
              label="Note Title*"
              outlined
            ></v-text-field>
          </v-flex>
          <v-flex
            v-if="
              newLog.type.includes('ET Log') || newLog.type.includes('MT Log')
            "
            grow
          >
            <combo-box
              v-model="newLog.category"
              v-validate="'required'"
              :items="categoryOptions"
              :error="errors.first('Category')"
              data-vv-name="Category"
              label="Note Category(ies)*"
              multiple
              required
              chips
            ></combo-box>
          </v-flex>
          <v-flex grow>
            <v-textarea
              v-model="newLog.note"
              v-validate="'required|min:10'"
              autocomplete="off"
              required
              :error-messages="errors.first('Note Description')"
              data-vv-name="Note Description"
              label="Note*"
              outlined
            ></v-textarea>
          </v-flex>
        </div>
        <div v-else-if="entryType === 'Documentation'">
          <v-flex grow>
            <v-text-field
              v-model="newLog.title"
              v-validate="'required|min:5'"
              autocomplete="off"
              required
              :error-messages="errors.first('Documentation Title')"
              data-vv-name="Documentation Title"
              name="Documentation Title"
              label="Documentation Title*"
              outlined
            ></v-text-field>
          </v-flex>
          <v-flex grow>
            <combo-box
              v-model="newLog.category"
              v-validate="'required'"
              :items="categoryOptions"
              item-value="category"
              :error-messages="errors.first('Documentation Categories')"
              data-vv-name="Documentation Categories"
              label="Documentation Category(ies)*"
              required
              chips
              multiple
            ></combo-box>
          </v-flex>
          <v-flex grow>
            <v-textarea
              v-model="newLog.note"
              v-validate="'required|min:10'"
              autocomplete="off"
              required
              :error-messages="errors.first('Note Description')"
              data-vv-name="Note Description"
              label="Note Description*"
              outlined
            ></v-textarea>
          </v-flex>
        </div>

        <v-flex v-if="entryType" grow>
          <v-layout row wrap align-center justify-center>
            <v-flex>
              <h4 class="text-center">Files to upload?</h4>
              <br />
              <task-attachment-upload
                ref="upload"
                :apiPath="`${mongoUrl}files/upload/systemlogs/${newLog.entryNumber}`"
                hideUpload
                @allUploaded="cancelNewLogEntry"
              ></task-attachment-upload>
              <br />
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex v-if="entryType" grow>
          <v-layout row wrap align-center justify-space-around>
            <v-flex shrink>
              <br />
              <loader-button
                text="Cancel"
                color="warning"
                @click.native="cancelNewLogEntry()"
              ></loader-button>
            </v-flex>
            <v-flex shrink>
              <br />
              <loader-button
                text="Save"
                color="success"
                @click.native="submitNewLog()"
              ></loader-button>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-container>
  </base-form-dialog>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import { subDays } from 'date-fns/esm'
import ComboBox from '~/components/Utils/BaseCombobox.vue'
import TaskAttachmentUpload from '~/components/Utils/Upload.vue'
import BaseFormDialog from '~/components/Utils/BaseFormDialog.vue'
import DateInput from '../Utils/DateInputField.vue'

export default {
  components: {
    BaseFormDialog,
    TaskAttachmentUpload,
    ComboBox,
    DateInput,
  },
  props: {
    isActive: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      passdownStartCal: false,
      passdownEndCal: false,

      newLog: {
        entryNumber: null,
        type: [],
        category: [],
        title: '',
        note: '',
        dateFrom: subDays(new Date(), 30),
        dateTo: new Date(),
      },

      entryType: '',

      categoryOptions: [],
    }
  },
  computed: {
    ...mapState('sitewide', ['mongoUrl', 'userLoggedIn', 'loggedInUser']),
    techName: {
      get() {
        return this.$store.state.sitewide.techName
      },
      set(value) {
        this.$store.commit('sitewide/setTechName', value)
      },
    },
    selectionRequired: function () {
      if (this.entryType === 'log' && !this.newLog.type.length) {
        return 'required'
      } else {
        return ''
      }
    },
  },
  watch: {},
  mounted() {
    this.getCategories()
    this.getNewLogId()
  },
  methods: {
    ...mapActions('sitewide', ['logWrite', 'toastMessage']),
    submitNewLog() {
      if (!this.techName) {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        this.$validator.validate().then(async (valid) => {
          if (valid) {
            if (this.entryType === 'Documentation') {
              this.newLog.type.push(this.entryType)
            }
            this.newLog.techName = this.techName
            if (this.$refs.upload.files.length) {
              this.$refs.upload.startUpload()
            }
            try {
              const newLogSave = await this.$axios.$post(
                `${this.mongoUrl}systemlogs/`,
                this.newLog
              )
              this.toastMessage(newLogSave)
              if (!this.$refs.upload.files.length) {
                this.cancelNewLogEntry()
              }
              this.$emit('refreshLogs')
            } catch (error) {
              this.toastMessage('An Error occurred, see log for details')
              this.logWrite({
                logType: 'error',
                logItem: error,
              })
            }
          }
        })
      }
    },
    cancelNewLogEntry() {
      this.$emit('close')
      this.newLog = {
        entryNumber: '',
        type: [],
        category: [],
        title: '',
        note: '',
        dateFrom: subDays(new Date(), 30),
        dateTo: new Date(),
      }
      this.$validator.reset()
      this.$refs.upload ? this.$refs.upload.clearList() : null
      this.entryType = ''
      this.getNewLogId()
    },
    async getCategories() {
      this.categoryOptions = await this.$axios.$get(
        `${this.mongoUrl}systemlogs/categories`
      )
    },
    async getNewLogId() {
      const newLogId = await this.$axios.$get(
        `${this.mongoUrl}systemlogs/getid`
      )
      this.newLog.entryNumber = newLogId.nextNumber
    },
  },
}
</script>

<style></style>
