<template>
  <div class="text-xs-center">
    <base-form-dialog :active="newObsCard" width="1000" title="New Observation Card" @close="newObsCard = false">
      <v-container fluid>
        <form>
          <v-layout align-center justify-space-around row fill-height wrap>
            <v-flex shrink>
              <v-text-field
                v-model="newObsCardData.name"
                v-validate="'required|min:3'"
                :error-messages="errors.collect('name')"
                label="Observer Name"
                data-vv-name="name"
                required
                outlined
              ></v-text-field>
            </v-flex>
            <v-flex shrink>
              <v-menu
                ref="obsDatePicker"
                v-model="obsDatePicker"
                :close-on-content-click="true"
                :nudge-right="40"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="newObsCardData.date"
                    v-validate.continues="'required|date_format:yyyy-MM-dd|before:theFuture'"
                    :value="newObsCardData.date"
                    label="Observation Date"
                    prepend-icon="event"
                    outlined
                    readonly
                    required
                    name="Date"
                    :error-messages="errors.collect('date')"
                    data-vv-name="date"
                    v-on="on"
                  ></v-text-field>
                  <input
                    ref="theFuture"
                    name="theFuture"
                    :value="format(addDays(new Date(), 1), 'yyyy-MM-dd')"
                    type="hidden"
                  />
                </template>
                <v-date-picker v-model="newDate" no-title @input="obsDatePicker = false"></v-date-picker>
              </v-menu>
            </v-flex>
            <v-flex shrink>
              <v-autocomplete
                v-model="newObsCardData.category"
                v-validate.continues="'required'"
                label="Category"
                clearable
                outlined
                required
                name="newObsCardData.category"
                data-vv-name="category"
                item-text="text"
                :items="safetyCategoryOptions"
                :error-messages="errors.collect('category')"
                item-value="text"
              ></v-autocomplete>
            </v-flex>
          </v-layout>
          <v-layout row>
            <v-flex grow>
              <v-textarea
                v-model="newObsCardData.description"
                v-validate.continues="'required|min:10|max:800'"
                outlined
                name="Description"
                required
                label="Describe the observation"
                counter="800"
                :error-messages="errors.collect('description')"
                data-vv-name="description"
                rows="4"
              ></v-textarea>
            </v-flex>
          </v-layout>
          <v-layout row>
            <v-flex grow>
              <v-textarea
                v-model="newObsCardData.action"
                v-validate.continues="'required|min:10|max:800'"
                outlined
                name="Action"
                required
                label="Describe the action taken"
                counter="800"
                :error-messages="errors.collect('action')"
                data-vv-name="action"
                rows="4"
              ></v-textarea>
            </v-flex>
          </v-layout>
          <v-layout row>
            <v-flex grow>
              <v-textarea
                v-model="newObsCardData.summaryOfClosure"
                v-validate.continues="'required|min:10|max:800'"
                outlined
                name="Summary"
                required
                label="Summarize how or why the safety observation/concern was or was not closed out"
                counter="800"
                :error-messages="errors.collect('summary')"
                data-vv-name="summary"
                rows="4"
              ></v-textarea>
            </v-flex>
          </v-layout>
        </form>
      </v-container>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <loader-button text="Close" color="warning" @click.native="cancelNewCard()"></loader-button>
        <v-spacer></v-spacer>
        <loader-button text="Save" color="success" @click.native="validateBeforeSubmit('saveNewCard')"></loader-button>
        <v-spacer></v-spacer>
      </v-card-actions>
    </base-form-dialog>
  </div>
</template>

<script>
import { addDays, parseISO, format } from 'date-fns/esm'
import { mapActions, mapState } from 'vuex'

export default {
  name: 'NewObsCard', // name of page for router
  components: {},
  props: {
    newObsCardPopup: {
      type: Boolean,
      default: false,
    },
    safetyCategoryOptions: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      //date functions
      format,
      // variables
      addDays,
      obsDatePicker: false,
      newObsCard: false,
      newDate: '',
      newObsCardData: {
        name: '',
        category: '',
        location: '',
        date: format(new Date(), 'yyyy-MM-dd'),
        description: '',
        action: '',
        responsibleParty: '',
        summaryOfClosure: '',
      },
    }
  },
  computed: {
    ...mapState('sitewide', ['darkTheme', 'ajaxUrl', 'databaseName']),
  },
  watch: {
    newObsCard(val) {
      !val && this.$emit('closeNewObsPopup')
    },
    newObsCardPopup(val) {
      this.newObsCard = val
    },
    newDate(v) {
      this.newObsCardData.date = this.format(parseISO(v), 'yyyy-MM-dd')
    },
  },
  mounted() {},
  methods: {
    ...mapActions('sitewide', ['toastMessage', 'logWrite']),
    validateBeforeSubmit(func, param = '') {
      this.$validator.validateAll().then(result => {
        if (result) {
          this[func](param)
          return
        }
      })
    },
    cancelNewCard() {
      this.$emit('closeNewObsPopup')
      this.newObsCardData.name = ''
      this.newObsCardData.category = ''
      this.newObsCardData.date = ''
      this.newObsCardData.description = ''
      this.newObsCardData.action = ''
      this.newObsCardData.responsibleParty = ''
      this.newObsCardData.summaryOfClosure = ''
      this.$validator.reset()
    },
    async saveNewCard() {
      try {
        let newCardRes = await this.$axios.$get(this.ajaxUrl, {
          params: {
            dbname: this.databaseName, // need to be included in all calls
            saveNewObsCard: true,
            name: this.newObsCardData.name,
            category: this.newObsCardData.category,
            date: this.newObsCardData.date,
            description: this.newObsCardData.description,
            action: this.newObsCardData.action,
            summary: this.newObsCardData.summaryOfClosure,
          },
        })
        this.cancelNewCard()
        this.$emit('refreshList')
        this.toastMessage(newCardRes)
      } catch (error) {
        this.logWrite({
          logType: 'error',
          logItem: `newObsCard.vue, saveNewCard()- ${error}`,
        })
      }
    },
  },
}
</script>

<style scoped></style>
