<template>
  <div>
    <base-form-dialog :active="viewObsCard" width="1000" title="Observation Card" @close="viewObsCard = false">
      <v-container fluid>
        <v-layout align-center justify-space-around row fill-height wrap>
          <v-flex shrink>
            <v-layout column align-center justify-center>
              <v-flex shrink>
                <h4>Observer Name:</h4>
              </v-flex>
              <v-flex shrink>
                <h3>{{ viewObsCardPopupData.name }}</h3>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex shrink>
            <v-layout column align-center justify-center>
              <v-flex shrink>
                <h4>Date:</h4>
              </v-flex>
              <v-flex shrink>
                <h3>{{ viewObsCardPopupData.date }}</h3>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex shrink>
            <v-layout column align-center justify-center>
              <v-flex shrink>
                <h4>Category:</h4>
              </v-flex>
              <v-flex shrink>
                <h3>{{ viewObsCardPopupData.category }}</h3>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
        <v-divider></v-divider>
        <v-layout row align-center justify-center>
          <v-flex xs11>
            <v-layout column>
              <v-layout row align-center justify-center>
                <v-flex shrink>
                  <h4>Description:</h4>
                </v-flex>
              </v-layout>
              <v-layout row align-center justify-center>
                <v-flex shrink>
                  <h3>{{ viewObsCardPopupData.description }}</h3>
                </v-flex>
              </v-layout>
            </v-layout>
          </v-flex>
        </v-layout>
        <v-divider></v-divider>
        <v-layout row align-center justify-center>
          <v-flex xs11>
            <v-layout column>
              <v-layout row align-center justify-center>
                <v-flex shrink>
                  <h4>Action:</h4>
                </v-flex>
              </v-layout>
              <v-layout row align-center justify-center>
                <v-flex shrink>
                  <h3>{{ viewObsCardPopupData.action }}</h3>
                </v-flex>
              </v-layout>
            </v-layout>
          </v-flex>
        </v-layout>
        <v-divider></v-divider>
        <v-layout row align-center justify-center>
          <v-flex xs11>
            <v-layout column>
              <v-layout row align-center justify-center>
                <v-flex shrink>
                  <h4>Summary of closure:</h4>
                </v-flex>
              </v-layout>
              <v-layout row align-center justify-center>
                <v-flex shrink>
                  <h3>{{ viewObsCardPopupData.summaryOfClosure }}</h3>
                </v-flex>
              </v-layout>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-container>
    </base-form-dialog>
  </div>
</template>

<script>
// import { mapActions, mapMutations, mapGetters, mapState } from 'vuex'

export default {
  name: 'ViewObsCard', // name of page for router
  components: {},
  // props: ['viewObsCardPopup', 'viewObsCardPopupData'],
  data() {
    return {
      // variables
      viewObsCard: false,
    }
  },
  computed: {},
  watch: {
    viewObsCard(val) {
      !val && this.$emit('closeObsPopup')
    },
    viewObsCardPopup(val) {
      this.viewObsCard = val
    },
  },
  mounted() {},
  methods: {},
}
</script>

<style scoped></style>
