/* background colors for dark and light themes */

.main-wrapper-dark {  
  min-height: 100vh;
  background-color: #212529;
  color: white !important;
}

.main-wrapper {
  min-height: 100vh;
  background-color: #ffffff;
  color: black !important;
}
