<template>
  <v-dialog v-model="localActive" :width="width" :persistent="persistent" @keydown="sendEvent">
    <div v-if="!noCloseButton" class="close-button">
      <v-fab-transition>
        <v-btn color="error" fab small absolute top right @click="$emit('close')">
          <v-icon>close</v-icon>
        </v-btn>
      </v-fab-transition>
    </div>
    <div v-if="editButton" class="edit-button">
      <v-fab-transition>
        <v-btn :color="editButtonColor" fab small absolute top left @click="$emit('edit')">
          <v-icon>{{ editButtonIcon }}</v-icon>
        </v-btn>
      </v-fab-transition>
    </div>
    <v-card>
      <v-card-title v-if="title != ''" class="headline grey" primary-title>{{ title }}</v-card-title>
      <slot></slot>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'BaseFormDialog',
  props: {
    active: {
      default: false,
      type: Boolean,
    },
    width: {
      default: 'auto',
      type: [String, Boolean],
    },
    title: {
      default: '',
      type: String,
    },
    noCloseButton: {
      default: false,
      type: Boolean,
    },
    persistent: {
      default: true,
      type: Boolean,
    },
    editButton: {
      default: false,
      type: Boolean,
    },
    editButtonIcon: {
      default: 'edit',
      type: String,
    },
    editButtonColor: {
      default: 'warning',
      type: String,
    },
  },
  data() {
    return {
      localActive: false,
    }
  },
  watch: {
    localActive(val) {
      !val && this.$emit('close')
    },
    active(val) {
      this.localActive = val
    },
  },
  methods: {
    sendEvent(e) {
      this.$emit('keyEvent', e)
    },
  },
}
</script>

<style>
.close-button {
  position: relative;
  top: 35px;
}
.edit-button {
  position: relative;
  top: 105px;
}
</style>
