<template>
  <span>
    <v-tooltip
      v-if="checkDate(ISOdate) !== 'Not Set' && checkDate(ISOdate) !== ''"
      :disabled="disabled"
      :top="top"
      :bottom="bottom"
      :left="left"
      :right="right"
    >
      <template v-slot:activator="{ on: tooltip }">
        <!-- The displayed text-->
        <span v-on="{ ...tooltip }">{{ checkDate(ISOdate) }}</span>
      </template>
      <!-- The tooltip -->
      <span>{{ formatDateToString(ISOdate) }}</span>
    </v-tooltip>
    <span v-else>
      {{ checkDate(ISOdate) }}
    </span>
  </span>
</template>

<script>
import { parseISO, format, formatDistance, isDate } from 'date-fns/esm'
import { mapActions } from 'vuex'

export default {
  name: 'BaseFormatDate',
  props: {
    /* eslint-disable vue/prop-name-casing */
    ISOdate: {
      default: '',
      type: [Date, String],
    },
    returnBlank: {
      default: false,
      type: Boolean,
    },
    bottom: {
      default: true,
      type: Boolean,
    },
    top: {
      default: false,
      type: Boolean,
    },
    left: {
      default: false,
      type: Boolean,
    },
    right: {
      default: false,
      type: Boolean,
    },
  },
  data() {
    return {
      disabled: false,
      invalidDate: false,
    }
  },
  watch: {},
  mounted() {},
  methods: {
    ...mapActions('sitewide', ['logWrite', 'toastMessage']),
    formatDateToString(date) {
      if (date) {
        if (isDate(date)) {
          return formatDistance(date, new Date(), { addSuffix: true })
        } else if (isDate(parseISO(date))) {
          return formatDistance(parseISO(date), new Date(), { addSuffix: true })
        }
      }
    },
    checkDate(date) {
      if (!date && !this.returnBlank) {
        return 'Not Set'
      } else if (!date && this.returnBlank) {
        return ''
      } else if (isDate(date)) {
        return format(date, 'yyyy-MM-dd')
      } else if (isDate(parseISO(date))) {
        if (date === '1970-01-01') {
          this.checkDate('')
          return
        }
        return format(parseISO(date), 'yyyy-MM-dd')
      } else {
        if (process.env.NODE_ENV == 'development') {
          this.toastMessage(`Error converting date: ${date}`)
        }
      }
    },
  },
}
</script>

<style></style>
