<template>
  <v-combobox
    v-model="value"
    :items="items"
    :error-messages="error"
    :name="label"
    :label="label"
    :dense="dense"
    :disabled="disabled"
    :chips="chips"
    :deletable-chips="deletableChips"
    :multiple="multiple"
    :loading="loading"
    :item-text="itemText"
    :item-value="itemValue"
    :hint="hint ? hint : undefined"
    autocomplete="off"
    outlined
    :search-input.sync="searchInput"
    @blur="searchInput = null"
    @input="$emit('input', value)"
    @focus="$emit('focus')"
  ></v-combobox>
</template>

<script>
// import { mapActions, mapState } from 'vuex'
export default {
  name: 'BaseCombobox',
  components: {},
  props: {
    existingValue: {
      type: [String, Array],
      default: '',
    },
    items: {
      type: Array,
      default: () => [],
    },
    error: {
      type: [String, Array],
      default: '',
    },
    label: {
      type: String,
      default: '',
    },
    hint: {
      type: [String, Boolean],
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    chips: {
      type: Boolean,
      default: false,
    },
    deletableChips: {
      type: Boolean,
      default: true,
    },
    multiple: {
      type: Boolean,
      default: false,
    },
    loading: {
      type: [Boolean, String],
      default: false,
    },
    dense: {
      type: Boolean,
      default: false,
    },
    itemText: {
      type: String,
      default: 'text',
    },
    itemValue: {
      type: String,
      default: 'value',
    },
  },
  data() {
    return {
      value: undefined,
      searchInput: null,
    }
  },
  computed: {},
  watch: {
    existingValue: function () {
      if (this.existingValue) {
        this.cloneExistingList()
      }
    },
  },
  mounted() {
    if (this.existingValue) {
      this.cloneExistingList()
    }
  },
  methods: {
    cloneExistingList() {
      if (typeof this.existingValue === 'string') {
        this.value = this.existingValue
      } else {
        this.value = [...this.existingValue]
      }
    },
    checkSearchType(e) {
      typeof searchInput === 'string'
        ? (this.searchInput = e)
        : (this.searchInput = null)
    },
  },
}
</script>
