<template>
  <v-menu
    ref="calender"
    v-model="calState"
    :close-on-content-click="false"
    :nudge-right="40"
    transition="scale-transition"
    offset-y
    min-width="290px"
  >
    <template #activator="{ on }">
      <v-text-field
        :value="formattedDate"
        autocomplete="off"
        required
        :loading="loading"
        :name="name"
        :data-vv-name="name"
        :label="label"
        :error-messages="errorMessages"
        :prepend-icon="prependIcon ? 'event' : undefined"
        :append-icon="appendIcon ? appendIcon : undefined"
        :append-outer-icon="notClearable ? undefined : 'close'"
        readonly
        outlined
        @click:append-outer="$emit('input', null)"
        v-on="on"
      ></v-text-field>
    </template>
    <v-date-picker
      v-model="date"
      :max="max"
      :min="min"
      no-title
      scrollable
      @input="
        $refs.calender.save(date)
        setToNoonUTC(date)
        forcedDueDateCal = false
      "
    ></v-date-picker>
  </v-menu>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import { isDate, parseISO, format, formatISO } from 'date-fns/esm'
export default {
  name: 'DateInput',
  components: {},
  inject: ['$validator'],
  props: {
    value: {
      type: [Date, String],
      default: null,
    },
    notClearable: {
      type: Boolean,
      default: false,
    },
    loading: {
      type: [Boolean, String],
      default: false,
    },
    label: {
      type: String,
      default: '',
    },
    name: {
      type: String,
      default: '',
    },
    errorMessages: {
      type: String,
      default: '',
    },
    prependIcon: {
      type: String,
      default: 'event',
    },
    appendIcon: {
      type: String,
      default: undefined,
    },
    required: {
      type: String,
      default: '',
    },
    min: {
      type: String,
      default: '',
    },
    max: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      date: new Date().toISOString(),
      calState: false,
    }
  },
  computed: {
    ...mapState('sitewide', ['mongoUrl', 'userLoggedIn', 'loggedInUser']),
    formattedDate() {
      if (isDate(this.date)) {
        return format(this.date, 'yyyy-MM-dd')
      } else if (typeof this.date === 'string' && isDate(parseISO(this.date))) {
        return format(parseISO(this.date), 'yyyy-MM-dd')
      } else {
        return undefined
      }
    },
  },
  watch: {
    value: function () {
      if (this.value) {
        this.parseExistingDate()
      } else {
        this.date = undefined
      }
    },
  },
  mounted() {
    if (this.value) {
      this.parseExistingDate()
    } else {
      this.date = undefined
    }
  },
  methods: {
    ...mapActions('sitewide', ['logWrite', 'toastMessage']),
    setToNoonUTC(date) {
      //force the time to be noon zulu for submission for time zone consistency
      date = `${date}T12:00:00.000Z`
      this.$emit('input', date)
    },
    parseExistingDate() {
      if (isDate(this.value)) {
        this.date = formatISO(this.value)
      } else if (
        typeof this.value === 'string' &&
        isDate(parseISO(this.value))
      ) {
        this.date = this.value
      }
    },
  },
}
</script>

<style></style>
