<template>
  <v-container grid-list-lg>
    <v-layout row align-center justify-center>
      <v-flex xs11>
        <v-text-field
          v-model="search"
          autocomplete="off"
          append-icon="search"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
      </v-flex>
    </v-layout>
    <v-layout v-if="fileList.length > 1" row align-center justify-center>
      <v-flex shrink>
        <loader-button
          text="Download All"
          tipText="Download all attachments as zip file"
          @click.native="downloadAll()"
        ></loader-button>
      </v-flex>
    </v-layout>
    <v-layout row align-center justify-center>
      <v-flex xs11>
        <v-data-table
          :items="fileList"
          :headers="hideHighlightedColumn?headers.filter(i => i.value !== 'highlight'):headers"
          :search="search"
          :loading="loading"
        >
          <template #item.thumbnail="{ item }">
            <v-layout row align-center justify-center>
              <v-flex shrink>
                <div v-if="item.type && item.type.includes('image')">
                  <v-tooltip top>
                    <template #activator="{ on }">
                      <span v-on="on"
                        ><a @click.stop="clickedImageFind(item.fileName)">
                          <v-img
                            :src="`data:${item.type};base64,${item.base64}`"
                            max-height="50"
                            max-width="50"
                          ></v-img> </a
                      ></span>
                    </template>
                    <span>Click to view</span>
                  </v-tooltip>
                </div>
                <div v-else-if="item.type && item.type.includes('pdf')">
                  <v-tooltip top>
                    <template #activator="{ on }">
                      <span v-on="on"
                        ><a
                          :href="`${mongoUrl}files/download/${fileUrl}/${encodeURIComponent(item.fileName)}?view=true`"
                          target="_new"
                        >
                          <img
                            src="~/assets/pdf.png"
                            alt="PDF"
                            height="50"
                            width="50" /></a
                      ></span>
                    </template>
                    <span>Click to view</span>
                  </v-tooltip>
                </div>
                <h4 v-else>No Viewer</h4>
              </v-flex>
            </v-layout>
          </template>
          <template #item.fileName="{ item }">
            <v-tooltip top>
              <template #activator="{ on }">
                <span v-on="on"
                  ><a
                    :href="`${mongoUrl}files/download/${fileUrl}/${encodeURIComponent(item.fileName)}`"
                  >
                    <h5>{{ item.fileName }}</h5>
                  </a></span
                >
              </template>
              <span>Click to download</span>
            </v-tooltip>
          </template>
          <template #item.highlight="{ item }">
            <tr @click="setHighlighted(item)">
              <td>
                <v-layout class="pl-8" row align-center justify-center>
                  <v-flex shrink>
                    <v-radio-group
                      v-model="highlighted"
                      :disabled="!userLoggedIn"
                      file="rowSelector"
                    >
                      <v-radio
                        v-if="item.type && item.type.includes('pdf')"
                        :key="item.fileName"
                        :value="item.fileName"
                      />
                    </v-radio-group>
                  </v-flex>
                </v-layout>
              </td>
            </tr>
          </template>
          <template
            v-if="userLoggedIn || forceAllowDelete"
            #item.delete="{ item }"
          >
            <loader-button
              icon="remove"
              size="small"
              color="error"
              text="Delete"
              tipText="Delete Attachment"
              @click.native="
                $event.stopPropagation()
                deleteAttachment(`${fileUrl}/${encodeURIComponent(item.fileName)}`, item.fileName)
              "
            ></loader-button>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>

    <base-form-dialog
      title="Image Attachment"
      width="850"
      :active="showImages"
      @close="showImages = false"
      @keyEvent="keyEvent"
    >
      <v-carousel v-model="clickedImage">
        <v-carousel-item
          v-for="(item, i) in imageArray"
          :key="i"
          contain
          :src="`data:${item.type};base64,${item.base64}`"
          reverse-transition="fade-transition"
          transition="fade-transition"
          style="height: 100%"
        />
      </v-carousel>
    </base-form-dialog>
  </v-container>
</template>

<script>
import { mapActions, mapState } from 'vuex'
export default {
  name: 'FileList',
  components: {},
  props: {
    fileUrl: {
      type: String,
      required: true,
    },
    fileList: {
      type: Array,
      default: () => [],
    },
    loading: {
      type: Boolean,
      default: false,
    },
    forceAllowDelete: {
      type: Boolean,
      default: false,
    },
    hideHighlightedColumn: {
      type: Boolean,
      default: false,
    },
    currentlyHighlighted: {
      type: Object,
      default: () => {
        return {
          type: '',
          file: '',
          url: '',
          path: '',
        }
      },
    },
  },
  data() {
    return {
      headers: [
        {
          text: 'Thumbnail (Preview)',
          value: 'thumbnail',
          align: 'center',
        },
        {
          text: 'Attachment Name (Download)',
          value: 'fileName',
          sortable: true,
          align: 'center',
        },
        {
          text: 'Highlighted PDF',
          value: 'highlight',
          align: 'center',
        },
        {
          text: '',
          value: 'delete',
          align: 'center',
          sortable: false,
        },
      ],
      search: '',

      clickedImage: 0,
      showImages: false,
      highlighted: '',
    }
  },
  computed: {
    ...mapState('sitewide', [
      'mongoUrl',
      'userLoggedIn',
      'loggedInUser',
      'techName',
    ]),
    imageArray() {
      return this.fileList.filter(
        (file) => file.type && file.type.includes('image')
      )
    },
  },
  watch: {
    currentlyHighlighted: {
      handler() {
        this.highlighted = this.currentlyHighlighted.fileName
      },
      deep: true,
    },
  },
  mounted() {
    this.highlighted = this.currentlyHighlighted.fileName
  },
  methods: {
    ...mapActions('sitewide', ['logWrite', 'toastMessage']),
    keyEvent(event) {
      switch (event.key) {
        case 'ArrowRight':
          this.clickedImage++
          break
        case 'ArrowLeft':
          this.clickedImage--
          break
        default:
          break
      }
    },
    setHighlighted(item) {
      if (this.userLoggedIn && item.type && item.type.includes('pdf')) {
        if (item.base64) delete item.base64
        item.url = `files/download/${this.fileUrl}/${encodeURIComponent(item.fileName)}?view=true`
        item.path = `${this.fileUrl}`
        this.$emit('addHighlight', item)
      }
    },
    clickedImageFind(clicked) {
      this.clickedImage = this.imageArray.findIndex(
        (image) => image.fileName === clicked
      )
      this.showImages = true
    },
    async downloadAll() {
      try {
        window.open(`${this.mongoUrl}files/${this.fileUrl}?downloadAll=true`)
      } catch (error) {
        this.logWrite({
          logType: 'error',
          logItem: `FileList.vue, downloadAll()- ${error}`,
        })
      }
    },
    async deleteAttachment(path, fileName) {
      if (!this.techName) {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        const tech = { techName: this.techName }
        try {
          if (this.highlighted === fileName) {
            this.$emit('removeHighlight')
          }
          const deleteAtt = await this.$axios.$delete(
            `${this.mongoUrl}files/delete/${path}`,
            {
              data: tech,
            }
          )
          this.toastMessage(deleteAtt)
          this.$emit('refreshFiles')
        } catch (error) {
          this.logWrite({
            logType: 'error',
            logItem: `FileList.vue, deleteAttachment() - ${error}`,
          })
        }
      }
    },
  },
}
</script>

<style scoped></style>
