<template>
  <base-form-dialog
    title="OI Part Search"
    width="750"
    :active="active"
    @close="closeDialog()"
  >
    <v-container grid-list-lg>
      <v-layout row wrap align-center justify-space-around>
        <v-flex>
          {{ locations.length }}
        </v-flex>
      </v-layout>
    </v-container>
  </base-form-dialog>
</template>

<script>
import { mapActions, mapState } from 'vuex'
export default {
  name: 'InventoryItemDetails',
  components: {},
  props: {
    active: {
      type: Boolean,
      default: false,
    },
    locations: {
      type: Array,
      default: () => [],
    },
    locationList: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {}
  },
  computed: {
    ...mapState('sitewide', ['mongoUrl', 'userLoggedIn', 'loggedInUser']),
  },
  watch: {},
  mounted() {},
  methods: {
    ...mapActions('sitewide', ['logWrite', 'toastMessage']),
    getLocationText(id) {
      for (let i = 0; i < this.locationList.length; i++) {
        if (this.locationList[i].value == id) {
          return this.locationList[i].text
        }
      }
    },
    closeDialog() {
      this.$emit('close')
    },
  },
}
</script>

<style></style>
