<template>
  <span class>
    <v-tooltip v-if="tipText != 'none' && floating" :right="tipRight" :left="tipLeft" :top="tipTop" :bottom="tipBottom">
      <template v-slot:activator="{ on: tooltip }">
        <!-- Floating action button with tooltip -->
        <v-fab-transition>
          <v-btn
            v-if="floating"
            :absolute="absolute"
            fab
            :top="top"
            :bottom="bottom"
            :left="left"
            :right="right"
            :text="nobg"
            :loading="loading"
            :disabled="disabled"
            :color="color"
            :large="large"
            :small="small"
            :rounded="round"
            :ripple="ripple"
            :icon="iconOnly"
            :outlined="outlined"
            v-on="{ ...tooltip }"
          >
            {{ text }}
            <v-icon v-if="icon != 'none'">{{ icon }}</v-icon>
          </v-btn>
        </v-fab-transition>
      </template>
      <span>{{ tipText }}</span>
    </v-tooltip>

    <v-tooltip
      v-if="tipText != 'none' && !floating"
      :right="tipRight"
      :left="tipLeft"
      :top="tipTop"
      :bottom="tipBottom"
    >
      <template v-slot:activator="{ on: tooltip }">
        <!-- Button with tool tip -->
        <v-btn
          :loading="loading"
          :disabled="disabled"
          :color="color"
          :large="large"
          :small="small"
          :rounded="round"
          :ripple="ripple"
          :text="nobg"
          :icon="iconOnly"
          :outlined="outlined"
          v-on="{ ...tooltip }"
        >
          {{ text }}
          <v-icon v-if="icon != 'none'">{{ icon }}</v-icon>
        </v-btn>
      </template>
      <span>{{ tipText }}</span>
    </v-tooltip>

    <!-- Button without tooltip -->
    <v-btn
      v-if="tipText == 'none' && !floating"
      :loading="loading"
      :disabled="disabled"
      :color="color"
      :large="large"
      :small="small"
      :rounded="round"
      :ripple="ripple"
      :text="nobg"
      :icon="iconOnly"
      :outlined="outlined"
    >
      {{ text }}
      <v-icon v-if="icon != 'none'">{{ icon }}</v-icon>
    </v-btn>

    <!-- Floating Action Button without tooltip -->
    <v-fab-transition>
      <v-btn
        v-if="tipText == 'none' && floating"
        :absolute="absolute"
        fab
        :top="top"
        :bottom="bottom"
        :left="left"
        :right="right"
        :text="nobg"
        :loading="loading"
        :disabled="disabled"
        :color="color"
        :large="large"
        :small="small"
        :rounded="round"
        :ripple="ripple"
        :icon="iconOnly"
        :outlined="outlined"
      >
        {{ text }}
        <v-icon v-if="icon != 'none'">{{ icon }}</v-icon>
      </v-btn>
    </v-fab-transition>
  </span>
</template>

<script>
export default {
  name: 'LoaderButton',
  props: {
    text: {
      default: ``,
      type: String,
    },
    color: {
      default: `primary`,
      type: String,
    },
    disabled: {
      default: false,
      type: Boolean,
    },
    size: {
      // can accept 'large' or 'small' as inputs, any other value becomes a normal sized button
      default: `normal`,
      type: String,
    },
    outlined: {
      default: false,
      type: Boolean,
    },
    round: {
      default: true,
      type: Boolean,
    },
    iconOnly: {
      default: false,
      type: Boolean,
    },
    nobg: {
      default: false,
      type: Boolean,
    },
    icon: {
      default: 'none',
      type: String,
    },
    ripple: {
      default: true,
      type: [Boolean, Object],
    },
    loading: {
      default: false,
      type: Boolean,
    },
    tipLocation: {
      default: 'bottom',
      type: String,
    },
    tipText: {
      default: 'none',
      type: String,
    },
    floating: {
      default: false,
      type: Boolean,
    },
    absolute: {
      default: false,
      type: Boolean,
    },
    top: {
      default: false,
      type: Boolean,
    },
    bottom: {
      default: false,
      type: Boolean,
    },
    left: {
      default: false,
      type: Boolean,
    },
    right: {
      default: false,
      type: Boolean,
    },
  },
  data() {
    return {
      small: false,
      large: false,

      tipRight: false,
      tipLeft: false,
      tipTop: false,
      tipBottom: false,
    }
  },
  computed: {},
  watch: {},
  created() {},
  mounted() {
    this.setSize(this.size)
    this.setTipLocation(this.tipLocation)
  },
  methods: {
    setSize(size) {
      if (size == 'large') {
        this.large = true
        this.small = false
      } else if (size == 'small') {
        this.large = false
        this.small = true
      } else {
        this.large = false
        this.small = false
      }
    },
    setTipLocation(location) {
      switch (location) {
        case 'top':
          this.tipRight = false
          this.tipLeft = false
          this.tipTop = true
          this.tipBottom = false
          break
        case 'bottom':
          this.tipRight = false
          this.tipLeft = false
          this.tipTop = false
          this.tipBottom = true
          break
        case 'left':
          this.tipRight = false
          this.tipLeft = true
          this.tipTop = false
          this.tipBottom = false
          break
        case 'right':
          this.tipRight = true
          this.tipLeft = false
          this.tipTop = false
          this.tipBottom = false
          break
        default:
          break
      }
    },
  },
}
</script>
