<template>
  <base-form-dialog persistant width="300" :active="active" title="Log In" @close="closeLogin">
    <v-container fluid>
      <v-layout column wrap align-space-around justify-center>
        <v-flex shrink>
          <v-text-field v-model="userObject.username" label="Username" autofocus outlined></v-text-field>
        </v-flex>
        <v-flex shrink>
          <v-text-field
            v-model="userObject.password"
            label="Password"
            outlined
            type="password"
            autocomplete="off"
            @keyup.enter="checkEnter()"
          ></v-text-field>
        </v-flex>
        <v-flex grow>
          <v-layout row wrap align-center justify-space-around>
            <v-flex shrink>
              <loader-button text="Cancel" color="warning" @click.native="closeLogin"></loader-button>
            </v-flex>
            <v-flex shrink>
              <loader-button text="Login" autocomplete="off" color="success" @click.native="login()"></loader-button>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex v-if="loginFail && !loginSuccess" shrink class="text-center">
          <br />
          <h2 class="error--text">User/Pass not valid</h2>
        </v-flex>
        <v-flex v-if="!loginFail && loginSuccess" shrink class="text-center">
          <br />
          <h2 class="success--text">SUCCESS!</h2>
        </v-flex>
        <v-flex grow>
          <v-layout v-if="forcePasswordChange" row wrap align-center justify-center>
            <v-flex shrink>
              <br />
              <h2 class="warning--text text-center">
                Default password needs to be changed. Please enter a new password.
              </h2>
              <v-text-field
                v-model="newPassword"
                label="New Password"
                type="password"
                outlined
                :error-messages="passwordError"
              ></v-text-field>
              <v-text-field
                v-model="newPassword2"
                label="Re-Type Password"
                type="password"
                outlined
                :error-messages="passwordError"
              ></v-text-field>
            </v-flex>
            <v-flex shrink>
              <loader-button text="Save New Password" @click.native="savePasswordChange()"></loader-button>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-container>
  </base-form-dialog>
</template>

<script>
import { mapActions, mapState } from 'vuex'
export default {
  // below to be set on any page where auth is needed
  // middleware: 'auth'
  props: {
    active: {
      default: false,
      type: Boolean,
    },
  },
  data() {
    return {
      userObject: {
        username: '',
        password: '',
      },
      loginSuccess: false,
      loginFail: false,

      forcePasswordChange: false,
      newPassword: '',
      newPassword2: '',
      passwordError: [],
      passChangeUser: '',
    }
  },
  computed: {
    ...mapState('sitewide', ['techName', 'userLoggedIn']),
  },
  watch: {
    newPassword: function() {
      this.checkPasswordMatch()
    },
    newPassword2: function() {
      this.checkPasswordMatch()
    },
  },
  methods: {
    ...mapActions('sitewide', ['toastMessage', 'logWrite']),
    closeLogin() {
      this.$emit('close')
      this.userObject = {
        username: '',
        password: '',
      }
      this.loginSuccess = false
      this.loginFail = false
      this.newPassword = ''
      this.newPassword2 = ''
      this.passwordError = []
      this.forcePasswordChange = false
      this.passChangeUser = ''
    },
    checkPasswordMatch() {
      if (this.newPassword !== '' && this.newPassword2 !== '') {
        if (this.newPassword == this.newPassword2) {
          while (this.passwordError.length) {
            this.passwordError.pop()
          }
        } else {
          if (!this.passwordError.length) {
            this.passwordError.push('Passwords must match')
          }
        }
      }
    },
    async login() {
      const result = await this.$axios.$post(`${window.location.origin}/api/admin/login`, this.userObject)
      if (result.forceChange) {
        this.passChangeUser = result._id
        this.forcePasswordChange = true
      } else if (result.username) {
        this.$store.commit('sitewide/setLoggedInUser', result)
        this.$store.commit('sitewide/setUserLoggedIn', true)
        this.$store.commit('sitewide/setTechName', result.username)
        sessionStorage.setItem('loggedInUser', result.username)
        if (result.email) sessionStorage.setItem('loggedInUserEmail', result.email)
        this.toastMessage(`${result.username} has successfully logged in`)
        this.loginSuccess = true
        this.loginFail = false
        this.closeLogin()
      } else {
        this.loginSuccess = false
        this.loginFail = true
      }
    },
    async savePasswordChange() {
      const changePass = await this.$axios.$put(`${window.location.origin}/api/admin/user/${this.passChangeUser}`, {
        username: this.userObject.username,
        password: this.newPassword,
      })
      this.toastMessage(changePass)
      this.loginSuccess = false
      this.loginFail = false
      this.forcePasswordChange = false
      this.newPassword = ''
      this.newPassword2 = ''
      while (this.passwordError.length) {
        this.passwordError.pop()
      }
      this.passChangeUser = ''
      this.userObject.password = ''
    },
    checkEnter() {
      this.login()
    },
  },
}
</script>
