<template>
  <base-form-dialog
    title="OI Part Search"
    width="850"
    :active="active"
    @close="closeSearchDialog()"
  >
    <v-container grid-list-lg>
      <v-layout row wrap align-center justify-space-around>
        <v-flex xs9>
          <v-text-field
            v-model="searchQuery"
            :label="
              vendorSearch ? 'Search for vendor parts' : 'Search For OI Parts'
            "
            outlined
            hint='each word entered is searched individually, for a phrase wrap your search in "double quotes"'
            @keyup.native.enter="search()"
          ></v-text-field>
        </v-flex>
        <v-flex shrink pb-10>
          <v-tooltip bottom>
            <template #activator="{ on }">
              <span v-on="on">
                <v-switch v-model="vendorSearch"></v-switch>
              </span>
            </template>
            <span>{{
              vendorSearch ? 'Search OI Parts' : 'Search vendor references'
            }}</span>
          </v-tooltip>
        </v-flex>
        <v-flex shrink>
          <v-layout class="pb-7 pl-3" align-center justify-center>
            <v-flex grow>
              <loader-button
                text="Refresh"
                :loading="searchingParts"
                @click.native="search()"
              ></loader-button>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
      <v-layout row wrap align-center justify-center>
        <v-flex xs11>
          <v-data-table
            :options.sync="tableOptions"
            :headers="vendorSearch ? vendorHeaders : oiHeaders"
            :items="vendorSearch ? results.vendors : results.parts"
            :loading="searchingParts"
            @click:row="openPicture"
          >
            <template #item.image="{ item }">
              <v-img
                v-if="item.image"
                contain
                :src="`data:image/jpeg;base64,${item.image}`"
                max-height="100"
                max-width="100"
              ></v-img>
              <v-layout v-else row align-center justify-center>
                <v-flex>
                  <v-card flat width="100" height="40">
                    <h5>Click For</h5>
                    <h5>Info</h5>
                  </v-card>
                </v-flex>
              </v-layout>
            </template>
            <template #item.button="{ item }">
              <loader-button
                v-if="!referenceOnly"
                text="Select"
                @click.native.stop="selectItem(item)"
              ></loader-button>
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>
    </v-container>

    <v-dialog v-model="showPicture" width="700" @click:outside="closePicture()">
      <v-card outlined rounded class="text-center">
        <span v-if="clicked === null">
          Item's OI part number does not seem to be present in the OI Part
          Number database.
          <br />
          It may have been discontinued or it too new and has not yet been part
          of the imports to the app.
        </span>
        <div v-else>
          <v-simple-table dense height="80">
            <template #default>
              <thead>
                <tr>
                  <th class="text-center">OI Number</th>
                  <th class="text-center">Description</th>
                  <th class="text-center">BU</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ clicked.OINumber ? clicked.OINumber : '' }}</td>
                  <td>{{ clicked.Description ? clicked.Description : '' }}</td>
                  <td>{{ clicked.BU ? clicked.BU : '' }}</td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
          <v-img
            v-if="clicked.image"
            contain
            :src="`data:image/jpeg;base64,${clicked.image}`"
          ></v-img>
          <v-simple-table dense height="80">
            <template #default>
              <thead>
                <tr>
                  <th class="text-center">Status</th>
                  <th class="text-center">Cost</th>
                  <th class="text-center">UOM</th>
                  <th class="text-center"># On Hand (last check)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ clicked.BUStatus ? clicked.BUStatus : '' }}</td>
                  <td>{{ clicked.Cost ? clicked.Cost : '' }}</td>
                  <td>{{ clicked.UOM ? clicked.UOM : '' }}</td>
                  <td>{{ clicked.QOH ? clicked.QOH : '' }}</td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
          <v-simple-table v-if="clicked.Manufacturer" dense>
            <template #default>
              <thead>
                <tr>
                  <th class="text-center">Manufacturer</th>
                  <th class="text-center">Manufacturer Part Number</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    {{ clicked.Manufacturer ? clicked.Manufacturer : '' }}
                  </td>
                  <td>
                    {{
                      clicked.ManufacturerPartNumber
                        ? clicked.ManufacturerPartNumber
                        : ''
                    }}
                  </td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
          <v-simple-table
            v-if="clicked.vendorNumbers && clicked.vendorNumbers.length"
            dense
          >
            <template #default>
              <thead>
                <tr>
                  <th class="text-center">Vendor</th>
                  <th class="text-center">Vendor's Part Number</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="(vendor, index) in clicked.vendorNumbers"
                  :key="index"
                >
                  <td>{{ vendor.Supplier ? vendor.Supplier : '' }}</td>
                  <td>
                    {{ vendor.SupplierNumber ? vendor.SupplierNumber : '' }}
                  </td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </div>
      </v-card>
    </v-dialog>
  </base-form-dialog>
</template>

<script>
import { mapActions, mapState } from 'vuex'
export default {
  name: 'OiPartSearch',
  components: {},
  props: {
    active: {
      type: Boolean,
      default: false,
    },
    existing: {
      type: String,
      default: '',
    },
    referenceOnly: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      oiHeaders: [
        {
          text: 'OI#',
          align: 'center',
          value: 'OINumber',
        },
        {
          text: '',
          align: 'center',
          value: 'image',
        },
        {
          text: 'Description',
          align: 'center',
          value: 'Description',
        },
        {
          text: 'UOM',
          align: 'center',
          value: 'UOM',
        },
        {
          text: 'Cost',
          align: 'center',
          value: 'Cost',
        },
        {
          text: '',
          align: 'center',
          value: 'button',
        },
      ],
      vendorHeaders: [
        {
          text: 'OI#',
          align: 'center',
          value: 'OINumber',
        },
        {
          text: '',
          align: 'center',
          value: 'image',
        },
        {
          text: 'Vendor Name',
          align: 'center',
          value: 'Supplier',
        },
        {
          text: 'Vendor Number',
          align: 'center',
          value: 'SupplierNumber',
        },
        {
          text: '',
          align: 'center',
          value: 'button',
        },
      ],

      searchQuery: '',
      searchingParts: false,
      vendorSearch: false,
      results: [],
      tableOptions: {},

      showPicture: false,
      clicked: {},
    }
  },
  computed: {
    ...mapState('sitewide', ['mongoUrl', 'userLoggedIn', 'loggedInUser']),
  },
  watch: {
    existing: function () {
      this.searchQuery = this.existing
      if (this.active) {
        this.search()
      }
    },
    active: function () {
      if (this.active) {
        this.search()
      }
    },
  },
  mounted() {},
  methods: {
    ...mapActions('sitewide', ['logWrite', 'toastMessage']),
    async search() {
      if (this.searchQuery) {
        try {
          this.searchingParts = true
          this.results = await this.$axios.$get(
            `${this.mongoUrl}parts/list?search=${this.searchQuery}`
          )
          this.tableOptions.page = 1
          this.searchingParts = false
        } catch (error) {
          this.searchingParts = false
          this.toastMessage('There was an error searching for parts')
          this.logWrite({
            logType: 'error',
            logItem: error,
          })
        }
      }
    },
    async selectItem(item) {
      let wholeItem = await this.$axios.$get(
        `${this.mongoUrl}parts/oiNumber/${item.OINumber}`
      )
      if (!wholeItem) {
        wholeItem = {}
        wholeItem.OINumber = item.OINumber
        wholeItem.Description = ''
      }
      this.$emit('selected', wholeItem)
      this.closeSearchDialog()
    },
    closeSearchDialog() {
      this.$emit('close')
      this.searchQuery = ''
      this.results = []
    },
    async openPicture(item) {
      if (!item.description) {
        this.clicked = await this.$axios.$get(
          `${this.mongoUrl}parts/oiNumber/${item.OINumber}`
        )
      } else {
        this.clicked = item
      }
      this.showPicture = true
    },
    closePicture() {
      this.clicked = {}
      this.showPicture = false
    },
  },
}
</script>

<style></style>
