<template>
  <div>
    <base-form-dialog
      :active="promptTechName"
      width="300"
      persistent
      noCloseButton
      @close="$store.commit('sitewide/setPromptTechName', false)"
    >
      <v-container fluid>
        <v-layout row justify-center align-center>
          <v-flex shrink>
            <h4>Can't do that</h4>
          </v-flex>
        </v-layout>
        <v-layout row justify-center align-center>
          <v-flex shrink>
            <h4>without your name......</h4>
            <br />
          </v-flex>
        </v-layout>
        <v-layout row align-center justify-center>
          <v-flex shrink>
            <tech-name-field :techName="techName" />
          </v-flex>
        </v-layout>
        <v-layout row align-end justify-end>
          <v-flex shrink>
            <loader-button
              icon="check_circle"
              size="large"
              @click.native="$store.commit('sitewide/setPromptTechName', false)"
            />
          </v-flex>
        </v-layout>
      </v-container>
    </base-form-dialog>
  </div>
</template>

<script>
import TechNameField from '~/components/Utils/TechNameField.vue'
// import { mapActions, mapMutations, mapGetters, mapState } from 'vuex'

export default {
  name: 'TechName',
  components: {
    TechNameField,
  },
  props: {
    promptTechName: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {}
  },
  computed: {
    techName: {
      get() {
        return this.$store.state.sitewide.techName
      },
      set(value) {
        this.$store.commit('sitewide/setTechName', value)
      },
    },
  },
  watch: {},
  methods: {},
}
</script>
