<template>
  <v-text-field
    v-stream:keyup.native="tech$"
    autocomplete="off"
    label="Tech Name or initials"
    :value="techName"
    autofocus
    outlined
    hide-details
    @click.native="clearName"
  />
</template>

<script>
import { tap, pluck, distinctUntilChanged } from 'rxjs/operators'
import { mapState } from 'vuex'

export default {
  name: 'TechNameField',
  props: {
    techName: {
      type: String,
      default: '',
    },
  },
  data() {
    return {}
  },
  computed: {
    ...mapState('sitewide', ['userLoggedIn', 'loggedInUser']),
  },
  domStreams: ['tech$'],
  subscriptions() {
    return {
      techSend$: this.tech$.pipe(
        tap(() => {
          if (event.key == 'Enter') {
            this.$store.commit('sitewide/setPromptTechName', false)
          }
        }),
        pluck('event', 'target', 'value'),
        distinctUntilChanged(),
        tap(val => {
          this.$store.commit('sitewide/setTechName', val)
        })
      ),
    }
  },
  methods: {
    clearName() {
      this.$store.commit('sitewide/setTechName', '')
    },
  },
}
</script>
