<template>
  <v-container grid-list-sm>
    <div class="drop-files">
      <div
        v-show="$refs[inputId] && $refs[inputId].dropActive"
        class="drop-active"
      >
        <h3>Drop files to upload</h3>
      </div>
      <div class="upload">
        <div>
          <div v-if="!files.length">
            <h4 class="text-center">
              {{ infoText || 'Drop files anywhere to upload or select below' }}
            </h4>
            <br />
          </div>
          <v-simple-table v-else>
            <thead>
              <tr>
                <th>#</th>
                <th>Thumb</th>
                <th>Name</th>
                <th>Size</th>
                <th>Speed</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(file, index) in files" :key="file.id">
                <td>{{ parseInt(index + 1) }}</td>
                <td>
                  <img
                    v-if="file.thumb"
                    :src="file.thumb"
                    width="40"
                    height="auto"
                  />
                  <span v-else>No Image</span>
                </td>
                <td>
                  <div class="filename">{{ file.name }}</div>
                  <div
                    v-if="file.active || file.progress !== '0.00'"
                    class="progress"
                  >
                    <div
                      :class="{
                        'progress-bar': true,
                        'progress-bar-striped': true,
                        'bg-danger': file.error,
                        'progress-bar-animated': file.active,
                      }"
                      role="progressbar"
                      :style="{ width: file.progress + '%' }"
                    >
                      {{ file.progress }}%
                    </div>
                  </div>
                </td>
                <td>{{ fileSizeConvert(file.size) }}</td>
                <td>{{ fileSizeConvert(file.speed) }}</td>

                <td v-if="file.error">{{ file.error }}</td>
                <span
                  v-else-if="
                    typeof file.response == 'string' && file.response != '\r\n'
                  "
                >
                  <mark>{{ file.response }}</mark>
                </span>
                <td v-else-if="file.success">success</td>
                <td v-else-if="file.active">active</td>
                <td v-else></td>
                <td>
                  <v-menu open-on-hover top offset-y>
                    <template #activator="{ on }">
                      <v-btn color="primary" v-on="on">Actions</v-btn>
                    </template>

                    <v-list>
                      <v-list-item
                        :disabled="
                          file.active ||
                          file.success ||
                          file.error === 'compressing'
                        "
                        @click="
                          file.active ||
                          file.success ||
                          file.error === 'compressing'
                            ? false
                            : onEditFileShow(file)
                        "
                      >
                        <v-list-item-title>Edit</v-list-item-title>
                      </v-list-item>
                      <v-list-item
                        :disabled="!file.active"
                        @click="
                          file.active
                            ? $refs[inputId].update(file, { error: 'cancel' })
                            : false
                        "
                      >
                        <v-list-item-title>Cancel</v-list-item-title>
                      </v-list-item>
                      <v-list-item
                        v-if="file.active"
                        @click="$refs[inputId].update(file, { active: false })"
                      >
                        <v-list-item-title>Abort</v-list-item-title>
                      </v-list-item>
                      <v-list-item
                        v-else-if="
                          file.error &&
                          file.error !== 'compressing' &&
                          $refs[inputId].features.html5
                        "
                        @click="
                          $refs[inputId].update(file, {
                            active: true,
                            error: '',
                            progress: '0.00',
                          })
                        "
                      >
                        <v-list-item-title>Retry Upload</v-list-item-title>
                      </v-list-item>
                      <v-list-item
                        v-else-if="!hideUpload"
                        :disabled="file.success || file.error === 'compressing'"
                        @click="
                          file.success || file.error === 'compressing'
                            ? false
                            : $refs[inputId].update(file, { active: true })
                        "
                      >
                        <v-list-item-title>Upload</v-list-item-title>
                      </v-list-item>
                      <v-list-item @click="$refs[inputId].remove(file)">
                        <v-list-item-title>
                          <span class="error--text">Remove</span>
                        </v-list-item-title>
                      </v-list-item>
                    </v-list>
                  </v-menu>
                </td>
              </tr>
            </tbody>
          </v-simple-table>
        </div>
        <div>
          <v-layout row wrap align-center justify-space-around>
            <v-flex shrink>
              <file-upload
                :ref="inputId"
                v-model="files"
                :input-id="inputId"
                :maximum="30"
                :data="{ techName: techName }"
                :post-action="apiPath"
                :drop="drop"
                :multiple="multiple"
                :size="0"
                :headers="headers"
                :add-index="addIndex"
                @input-filter="inputFilter"
                @input-file="inputFile"
                @input="checkFileStates"
              >
                <loader-button text="Select Files"></loader-button>
              </file-upload>
            </v-flex>
            <v-flex v-if="!hideUpload" shrink>
              <loader-button
                v-if="!$refs[inputId] || !$refs[inputId].active"
                :disabled="!files.length"
                text="Start Upload"
                color="success"
                @click.native="$refs[inputId].active = true"
              ></loader-button>
              <loader-button
                v-else
                text="Stop Upload"
                color="error"
                @click.native="$refs[inputId].active = false"
              ></loader-button>
            </v-flex>
          </v-layout>
        </div>
      </div>

      <base-form-dialog
        :active="editFile.show"
        title="Edit File"
        width="1000"
        @close="editFile.show = false"
      >
        <v-card>
          <form>
            <v-layout row wrap justify-center align-center>
              <v-flex xs11>
                <v-text-field
                  v-model="editFile.name"
                  hint="The server will always add today's date to the end of file name"
                  label="Name"
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row wrap align-center justify-center>
              <div
                v-if="
                  editFile.show &&
                  editFile.blob &&
                  editFile.type &&
                  editFile.type.substr(0, 6) === 'image/'
                "
                class="form-group"
              >
                <label>Image:</label>
                <div class="edit-image">
                  <img ref="editImage" :src="editFile.blob" />
                </div>
              </div>
            </v-layout>
            <v-layout row wrap align-center justify-center>
              <v-flex shrink>
                <v-btn-toggle rounded>
                  <v-tooltip bottom>
                    <template #activator="{ on }">
                      <v-btn v-on="on">
                        <v-icon @click="editFile.cropper.rotate(-90)"
                          >undo</v-icon
                        >
                      </v-btn>
                    </template>
                    <span>Rotate Left</span>
                  </v-tooltip>
                  <v-tooltip bottom>
                    <template #activator="{ on }">
                      <v-btn v-on="on">
                        <v-icon @click="editFile.cropper.rotate(90)"
                          >redo</v-icon
                        >
                      </v-btn>
                    </template>
                    <span>Rotate Right</span>
                  </v-tooltip>
                  <v-tooltip bottom>
                    <template #activator="{ on }">
                      <v-btn v-on="on">
                        <v-icon @click="editFile.cropper.crop()">crop</v-icon>
                      </v-btn>
                    </template>
                    <span>Enable Crop Mask</span>
                  </v-tooltip>
                  <v-tooltip bottom>
                    <template #activator="{ on }">
                      <v-btn v-on="on">
                        <v-icon @click="editFile.cropper.clear()">clear</v-icon>
                      </v-btn>
                    </template>
                    <span>Clear crop mask</span>
                  </v-tooltip>
                </v-btn-toggle>
              </v-flex>
            </v-layout>
            <v-card-actions>
              <v-layout row wrap align-center justify-space-around>
                <v-flex shrink>
                  <loader-button
                    text="Cancel"
                    color="warning"
                    @click.native="editFile.show = false"
                  ></loader-button>
                </v-flex>
                <v-flex shrink>
                  <loader-button
                    text="Save"
                    color="success"
                    @click.native="onEditorFile"
                  ></loader-button>
                </v-flex>
              </v-layout>
            </v-card-actions>
          </form>
        </v-card>
      </base-form-dialog>
    </div>
  </v-container>
</template>

<script>
import Cropper from 'cropperjs'
import FileUpload from 'vue-upload-component'
import BaseFormDialog from '~/components/Utils/BaseFormDialog.vue'
import { mapActions, mapState } from 'vuex'

export default {
  name: 'Upload',
  components: {
    FileUpload,
    BaseFormDialog,
  },
  props: {
    infoText: {
      type: String,
      default: '',
    },
    apiPath: {
      type: String,
      required: true,
    },
    hideUpload: {
      type: Boolean,
      default: false,
    },
    inputId: {
      type: String,
      default: 'upload',
    },
    multiple: {
      type: Boolean,
      default: true,
    },
    drop: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      minSize: 1024, // min size checker function is not currently active
      // size: 1024 * 1024 * 10, // this sets the max up load size allowed
      directory: false,
      dropDirectory: true,
      addIndex: false,
      thread: 3,
      headers: {
        'X-Csrf-Token': 'xxxx',
      },
      data: {
        _csrf_token: 'xxxxxx',
      },

      files: [],

      editFile: {
        show: false,
        name: '',
      },
    }
  },
  computed: {
    ...mapState('sitewide', ['mongoUrl', 'techName']),
  },
  watch: {
    'editFile.show'(newValue, oldValue) {
      if (!newValue && oldValue) {
        this.$refs[this.inputId].update(this.editFile.id, {
          error: this.editFile.error || '',
        })
      }

      if (newValue) {
        this.$nextTick(function () {
          if (!this.$refs.editImage) {
            return
          }
          let cropper = new Cropper(this.$refs.editImage, {
            autoCrop: false,
          })
          this.editFile = {
            ...this.editFile,
            cropper,
          }
        })
      }
    },
  },
  mounted() {},
  beforeDestroy() {
    this.clearList()
  },
  methods: {
    ...mapActions('sitewide', ['logWrite', 'toastMessage']),
    startUpload() {
      this.files = this.files.map((file) => {
        file.postAction = this.apiPath
        return file
      })
      this.$refs[this.inputId].active = true
    },
    log(message) {
      this.logWrite({
        logType: 'error',
        logItem: `Issue pushing upload to ${this.apiPath} - ${message}`,
      })
      return message
    },
    fileSizeConvert(size) {
      if (size > 1024 * 1024 * 1024 * 1024) {
        return (size / 1024 / 1024 / 1024 / 1024).toFixed(2) + ' TB'
      } else if (size > 1024 * 1024 * 1024) {
        return (size / 1024 / 1024 / 1024).toFixed(2) + ' GB'
      } else if (size > 1024 * 1024) {
        return (size / 1024 / 1024).toFixed(2) + ' MB'
      } else if (size > 1024) {
        return (size / 1024).toFixed(2) + ' KB'
      }
      return size.toString() + ' B'
    },
    inputFilter(newFile, oldFile, prevent) {
      if (newFile && !oldFile) {
        // Before adding a file

        // Filter system files or hide files
        if (/(\/|^)(Thumbs\.db|desktop\.ini|\..+)$/.test(newFile.name)) {
          return prevent()
        }

        // Filter php html js file
        if (/\.(php5?|html?|jsx?)$/i.test(newFile.name)) {
          return prevent()
        }
      }

      if (newFile && (!oldFile || newFile.file !== oldFile.file)) {
        // Create a blob field
        newFile.blob = ''
        let URL = window.URL || window.webkitURL
        if (URL && URL.createObjectURL) {
          newFile.blob = URL.createObjectURL(newFile.file)
        }

        // Thumbnails
        newFile.thumb = ''
        if (newFile.blob && newFile.type.substr(0, 6) === 'image/') {
          newFile.thumb = newFile.blob
        }
      }
    },

    // add, update, remove File Event
    inputFile(newFile, oldFile) {
      if (newFile && oldFile) {
        // update

        if (newFile.active && !oldFile.active) {
          // beforeSend
          // min size
          // if (newFile.size >= 0 && this.minSize > 0 && newFile.size < this.minSize) {
          //   this.$refs[this.inputId].update(newFile, { error: 'size' })
          // }
        }

        if (newFile.progress !== oldFile.progress) {
          // progress
        }

        if (newFile.error && !oldFile.error) {
          if (!this.editFile.show) {
            this.logWrite({
              logType: 'error',
              logItem: `Couldn't upload ${newFile.name}(${this.fileSizeConvert(
                newFile.size
              )}) to ${this.apiPath} due to error: ${newFile.error}`,
            })
          }
        }

        if (newFile.success && !oldFile.success) {
          this.$emit('fileUpload', newFile)
          this.logWrite({
            logType: 'info',
            logItem: `Uploaded ${newFile.name}(${this.fileSizeConvert(
              newFile.size
            )}) to ${this.apiPath}`,
          })
        }
      }

      if (!newFile && oldFile) {
        // remove
        if (oldFile.success && oldFile.response.id) {
          // $.ajax({
          //   type: 'DELETE',
          //   url: '/upload/delete?id=' + oldFile.response.id,
          // })
        }
      }

      // Automatically activate upload
      if (
        Boolean(newFile) !== Boolean(oldFile) ||
        oldFile.error !== newFile.error
      ) {
        if (this.uploadAuto && !this.$refs[this.inputId].active) {
          this.$refs[this.inputId].active = true
        }
      }
    },

    alert(message) {
      alert(message)
    },

    onEditFileShow(file) {
      this.editFile = { ...file, show: true }
      this.$refs[this.inputId].update(file, { error: 'edit' })
    },

    onEditorFile() {
      if (!this.$refs[this.inputId].features.html5) {
        this.alert('Your browser does not support')
        this.editFile.show = false
        return
      }

      let data = {
        name: this.editFile.name,
      }
      if (this.editFile.cropper) {
        let binStr = atob(
          this.editFile.cropper
            .getCroppedCanvas()
            .toDataURL(this.editFile.type)
            .split(',')[1]
        )
        let arr = new Uint8Array(binStr.length)
        for (let i = 0; i < binStr.length; i++) {
          arr[i] = binStr.charCodeAt(i)
        }
        data.file = new File([arr], data.name, { type: this.editFile.type })
        data.size = data.file.size
      }
      this.$refs[this.inputId].update(this.editFile.id, data)
      this.editFile.error = ''
      this.editFile.show = false
    },

    checkFileStates(files) {
      if (files.every((file) => file.success)) {
        this.$emit('allUploaded')
      } else if (files.some((file) => file.success)) {
        this.$emit('someUploaded')
      } else if (files.some((file) => file.error)) {
        this.$emit('someErrors')
      }
    },
    clearList() {
      this.$refs[this.inputId].clear()
    },
  },
}
</script>

<style>
.edit-image img {
  display: block;
  max-width: 100%;
}

.drop-files .drop-active {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
  opacity: 0.6;
  text-align: center;
  background: #000;
}

.drop-files .drop-active h3 {
  margin: -0.5em 0 0;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 40px;
  color: #fff;
  padding: 0;
}
</style>
