<template>
  <div></div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
export default {
  name: 'CreativeName',
  components: {},
  props: {
    newProp: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      something: '',
    }
  },
  computed: {
    ...mapState('sitewide', ['mongoUrl', 'userLoggedIn', 'loggedInUser']),
  },
  watch: {},
  mounted() {},
  methods: {
    ...mapActions('sitewide', ['logWrite', 'toastMessage']),
  },
}
</script>

<style></style>
