<template>
  <v-app>
    <v-main>
      <img
        v-if="iLikeTurtles"
        ref="turtle"
        width="200"
        src="~assets/turtle.png"
        alt="Turtle"
        class="turt"
        style="--x:-200px; --y:100px;"
      />
      <nav-bar />
      <nuxt />
    </v-main>
  </v-app>
</template>

<script>
import NavBar from '~/components/NavBar.vue'
import { mapActions, mapMutations, mapState } from 'vuex'
const pj = require('../package.json')

export default {
  name: 'App',
  components: {
    NavBar,
  },
  data() {
    return {
      refreshTimer: '',
      dev: process.env.NODE_ENV == 'development',

      x: 0,
      y: 0,
      speed: 36,
      flipped: false,
      rotate: 0,
    }
  },
  onIdle() {
    if (!this.dev) {
      this.$store.commit('sitewide/setTechName', '')
      if (this.userLoggedIn || Object.keys(this.loggedInUser).length) {
        this.$store.commit('sitewide/setLoggedInUser', {})
        this.$store.commit('sitewide/setUserLoggedIn', false)
        sessionStorage.removeItem('loggedInUser')
        this.$router.push('/adminTimeOut')
      }
    }
    clearInterval(this.refreshTimer)
    this.refreshTimer = setInterval(this.thingsToRefresh(), this.siteRefreshInterval) // refresh all the things because the console has been idle
  },
  onActive() {
    clearInterval(this.refreshTimer)
  },
  computed: {
    ...mapState('sitewide', [
      'darkTheme',
      'userLoggedIn',
      'loggedInUser',
      'currentTaskMode',
      'previousTaskMode',
      'databasePageTitle',
      'siteRefreshInterval',
      'toggleTurtle',
      'iLikeTurtles',
    ]),
  },
  watch: {
    darkTheme: function(theme) {
      this.setTheme(theme)
    },
    '$route.params': function() {
      if (this.currentTenant !== this.$route.params.db) {
        location.reload()
      }
    },
    toggleTurtle: function() {
      this.toggleTurtle ? this.turtleEnterExit() : null
    },
  },
  created() {
    this.$store.commit('sitewide/setSiteVersion', pj.version) //  pull site version from here and save to store
    // eslint-disable-next-line
    console.log(`MaintCenter v${pj.version}`)
    this.setApiUrl(this.$route.params.db)
    this.currentTenant = this.$route.params.db

    if (sessionStorage.loggedInUser) {
      this.$store.commit('sitewide/setLoggedInUser', {
        username: sessionStorage.loggedInUser,
        email: sessionStorage.email ? sessionStorage.email : undefined,
      })
      this.$store.commit('sitewide/setUserLoggedIn', true)
      this.$store.commit('sitewide/setTechName', sessionStorage.loggedInUser)
    }

    this.refreshTimer = setInterval(this.thingsToRefresh, this.siteRefreshInterval) // set an initial refresh timer
    const listenToOSTheme = window.matchMedia('(prefers-color-scheme: dark)')
    listenToOSTheme.addEventListener('change', () => {
      this.checkOStheme()
    })
  },
  mounted() {
    if (this.$route.params.db) {
      this.getSiteSettings()
    }
    this.checkOStheme()
    this.checkExistingAdmins()
    if (this.dev) {
      this.$store.commit('sitewide/setTechName', 'develop')
      this.$store.commit('sitewide/setLoggedInUser', {
        username: 'develop',
      })
      this.$store.commit('sitewide/setUserLoggedIn', true)
    }
    window.addEventListener('keydown', this.handleKeyDown)
    window.addEventListener('click', this.handleClickEvent)
  },
  methods: {
    // for mapping functions within vuex store
    ...mapActions('sitewide', [
      // map sitewide actions to this.logWrite() function
      'logWrite',
      'setApiUrl',
      'toastMessage',
      'getSiteSettings',
    ]),
    ...mapActions('autosend', ['sendAutoEmails']),
    // For directly setting variables in store
    ...mapMutations('sitewide', ['setDatabasePageTitle', 'setPreviousTaskMode', 'setCurrentTaskMode']),
    setTheme(theme = 'none') {
      if (theme == 'light') {
        this.$vuetify.theme.dark = false
      } else if (theme == 'dark') {
        this.$vuetify.theme.dark = true
      }
    },
    checkOStheme() {
      if (window && window.matchMedia) {
        /* eslint-disable no-console */
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          console.log('OS dark app theme detected')
          this.setTheme('dark')
        } else if (window.matchMedia('(prefers-color-scheme: light)').matches) {
          console.log('OS light app theme detected')
          this.setTheme('light')
        }
        /* eslint-enable no-console */
      }
    },
    async checkExistingAdmins() {
      const checkExisting = await this.$axios.$get(`${window.location.origin}/api/admin/user`)
      if (!checkExisting.length) {
        const makeDefaultAdmin = await this.$axios.$post(`${window.location.origin}/api/admin/user`, {
          username: 'admin',
          password: 'Ocean123',
        })
        this.toastMessage('No admins were found in the database, default admin/Ocean123 created')
        this.toastMessage(makeDefaultAdmin)
      }
    },
    thingsToRefresh() {
      // add anything that needs an interval refresh here
    },
    handleClickEvent(event) {
      if (this.iLikeTurtles && this.$refs.turtle) {
        if (this.x < event.x) {
          this.rotate = 0
          this.flipped = false
          this.x = event.x - this.$refs.turtle.width
          this.y = event.y - 50
        } else if (this.x > event.x) {
          this.rotate = 0
          this.flipped = true
          this.x = event.x + 10
          this.y = event.y - 50
        }
        this.moveTurtle()
      }
    },
    handleKeyDown(event) {
      if (event.ctrlKey && event.altKey && (event.key === 't' || event.key === 'f')) {
        this.turtleEnterExit()
      }
      if (this.iLikeTurtles) {
        if (!event.key.includes('Arrow')) {
          return
        }
        switch (event.key) {
          case 'ArrowUp':
            this.y = this.y - 1 * this.speed
            this.rotate = -90
            break
          case 'ArrowDown':
            this.y = this.y + 1 * this.speed
            this.rotate = 90
            break
          case 'ArrowLeft':
            this.x = this.x - 1 * this.speed
            this.rotate = 0
            this.flipped = true
            break
          case 'ArrowRight':
            this.x = this.x + 1 * this.speed
            this.rotate = 0
            this.flipped = false
            break
          default:
            // console.log('That is not a valid move')
            break
        }
        this.moveTurtle()
      }
    },
    turtleEnterExit() {
      this.$store.commit('sitewide/setToggleTurtle', false)
      if (!this.iLikeTurtles) {
        this.$store.commit('sitewide/setILikeTurtles', true)
        setTimeout(() => {
          this.flipped = false
          this.rotate = 0
          this.x = 0
          this.y = 100
          this.moveTurtle(false)
        }, 1000)
      } else {
        setTimeout(() => {
          this.flipped = true
          this.rotate = 0
          this.x = 0
          this.y = 100
          this.moveTurtle(false)
          setTimeout(() => {
            this.flipped = true
            this.rotate = 0
            this.x = -200
            this.y = 100
            this.moveTurtle(false)
            setTimeout(() => {
              this.$store.commit('sitewide/setILikeTurtles', false)
            }, 1000)
          }, 1000)
        }, 1000)
      }
    },
    moveTurtle(check = true) {
      if (check && this.$refs.turtle) {
        if (this.x > window.innerWidth - this.$refs.turtle.width) {
          this.x = window.innerWidth - this.$refs.turtle.width
        }
        if (this.y > document.body.scrollHeight - this.$refs.turtle.height) {
          this.y = document.body.scrollHeight - this.$refs.turtle.height
        }
        this.y < 0 ? (this.y = 0) : null
        this.x < 0 ? (this.x = 0) : null
      }

      if (this.$refs.turtle) {
        this.$refs.turtle.setAttribute(
          'style',
          `
          --rotateX: ${this.flipped ? '180deg' : '0'};
          --x: ${this.x}px;
          --y: ${this.y}px;
          --rotate: ${this.rotate}deg;
        `
        )
      }
    },
  },
}
</script>

<style>
.turt {
  position: absolute;
  overflow: hidden;
  z-index: 999999999;
  --x: -80;
  --y: 100;
  --rotateX: 0;
  --rotate: 0;
  transform: translateX(var(--x)) translateY(var(--y)) rotateY(var(--rotateX)) rotate(var(--rotate));
  transition: transform 0.2s;
}
</style>
