<template>
  <v-container fluid>
    <v-layout column wrap justify-center align-center>
      <v-flex shrink>
        <h2>We have managed to find a problem...</h2>
      </v-flex>
      <v-flex shrink>
        <h3>{{ `${error.statusCode}: ${error.message}` }}</h3>
      </v-flex>
      <v-flex shrink>
        <br />
        <nuxt-link to="/"><loader-button text="Back to site root"></loader-button></nuxt-link>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  props: { error: { type: Object, default: () => {} } },
  layout: 'errorBase',
  methods: {
    getLocalUrl() {
      return `${window.location.origin}/`
    },
  },
}
</script>

<style lang="scss" scoped></style>
