<template>
  <div>
    <base-form-dialog title="Asset Attachments" width="850" :active="attachmentPopup" @close="closeAttachmentPopup">
      <v-container>
        <v-row align="center" justify="center">
          <file-list
            :fileUrl="`assets/${assetDetails._id}`"
            :fileList="attachmentList"
            @refreshFiles="getAttachments(assetDetails._id)"
          ></file-list>
        </v-row>
        <v-row>
          <v-spacer></v-spacer>
          <v-col cols="11">
            <upload
              ref="assetUpload"
              :apiPath="`${mongoUrl}files/upload/assets/${assetDetails._id}`"
              @fileUpload="getAttachments(assetDetails._id)"
            ></upload>
          </v-col>
          <v-spacer></v-spacer>
        </v-row>
      </v-container>
    </base-form-dialog>
  </div>
</template>

<script>
import Upload from '~/components/Utils/Upload.vue'
import FileList from '~/components/Utils/FileList.vue'
import { mapActions, mapState } from 'vuex'

export default {
  name: 'Attachments',
  components: {
    Upload,
    FileList,
  },
  props: {
    attachmentPopup: {
      type: Boolean,
      default: false,
    },
    assetDetails: {
      type: Object,
      default: () => {
        return {}
      },
    },
  },
  data() {
    return {
      headers: [
        {
          text: '',
          value: 'download',
          align: 'center',
        },
        {
          text: 'Attachment Name',
          value: 'file',
          sortable: true,
          align: 'center',
        },
        {
          text: '',
          value: 'delete',
          align: 'center',
        },
      ],
      search: '',

      attachmentList: [],

      attachmentsUploadItem: '',
      idToSend: '',
    }
  },
  computed: {
    ...mapState('sitewide', ['mongoUrl', 'darkTheme', 'techName']),
  },
  watch: {
    assetDetails: function() {
      if (this.assetDetails._id) {
        this.getAttachments()
      }
    },
  },
  mounted() {},
  methods: {
    ...mapActions('sitewide', ['logWrite', 'toastMessage']),
    closeAttachmentPopup() {
      this.$emit('close')
      while (this.attachmentList.length) this.attachmentList.pop()
      this.$refs.assetUpload.clearList()
    },
    async getAttachments() {
      this.attachmentList = await this.$axios.$get(`${this.mongoUrl}files/assets/${this.assetDetails._id}`)
    },
  },
}
</script>

<style scoped>
a {
  color: inherit;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.popup {
  position: fixed;
  z-index: 10;
}

/* test file upload */
li {
  margin: 8px 0;
}

h2 {
  font-weight: bold;
  margin-bottom: 15px;
}

del {
  color: rgba(0, 0, 0, 0.3);
}

input[type='file'] {
  position: absolute;
  top: -500px;
}
div.file-listing {
  width: 200px;
}
span.remove-file {
  color: red;
  cursor: pointer;
  float: right;
}
</style>
