<template>
  <base-form-dialog
    :active="showPopup"
    title="Asset Details"
    width="800"
    :editButton="userLoggedIn"
    @edit="editMode()"
    @close="cancelDetailsPopup()"
  >
    <v-container
      v-if="Object.keys(assetDetails).length"
      fluid
      grid-list-xl
      class="text-center"
    >
      <v-layout row justify-space-around align-center>
        <v-flex shrink>
          <h4 class="grey--text text--darken-1">
            Created:
            <base-format-date
              :ISOdate="assetDetails.createdAt"
              return-blank
            ></base-format-date>
            by
            {{ assetDetails.createdBy }}
            <span v-if="assetDetails.lastEditedBy">
              | Last Edited:
              <base-format-date
                :ISOdate="assetDetails.updatedAt"
                return-blank
              ></base-format-date>
              by
              {{ assetDetails.lastEditedBy }}
            </span>
          </h4>
        </v-flex>
      </v-layout>
      <v-layout v-if="editModeActive" row wrap align-center>
        <v-spacer></v-spacer>
        <v-flex xs2>
          <v-text-field
            v-model="editAsset.assetID"
            label="Asset ID"
            autocomplete="off"
            outlined
            :error-messages="idError"
            :loading="idLoading"
            :success-messages="idSuccess"
            @blur="checkIdAvailability(editAsset.assetID)"
          ></v-text-field>
        </v-flex>
        <v-spacer></v-spacer>
        <v-flex xs7>
          <v-text-field
            v-model="editAsset.name"
            v-validate="'required'"
            outlined
            autocomplete="off"
            required
            :error-messages="errors.first('Asset Name')"
            data-vv-name="Asset Name"
            name="Asset Name"
            label="Asset Name*"
          ></v-text-field>
        </v-flex>
        <v-spacer></v-spacer>
      </v-layout>
      <v-layout v-else row wrap align-center justify-space-around>
        <v-spacer />
        <v-flex xs2>
          <h4 class="grey--text text--darken-1">Asset ID</h4>
          <hr class="grey darken-1" />
          <h3>{{ assetDetails.assetID }}</h3>
        </v-flex>
        <v-flex xs8>
          <h4 class="grey--text text--darken-1">Name</h4>
          <hr class="grey darken-1" />
          <h3>{{ assetDetails.name }}</h3>
        </v-flex>
      </v-layout>

      <v-layout
        v-if="editModeActive"
        row
        wrap
        justify-space-around
        align-center
      >
        <v-flex shrink>
          <v-layout column align-center justify-center>
            <v-flex shrink>
              <v-checkbox
                v-model="editAsset.acquiredDateEstimated"
                label="Is this date estimated?"
              />
            </v-flex>
            <v-flex shrink>
              <date-input
                v-model="editAsset.dateAcquired"
                label="Date Acquired"
                :max="new Date().toISOString()"
              />
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex shrink>
          <v-layout column align-center justify-center>
            <v-flex shrink>
              <v-checkbox
                v-model="editAsset.inServiceDateEstimated"
                label="Is this date estimated?"
              />
            </v-flex>
            <v-flex shrink>
              <date-input
                v-model="editAsset.dateInService"
                label="Date Placed In Service"
                :max="new Date().toISOString()"
              />
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
      <div v-else>
        <v-layout
          v-if="assetDetails.dateInService || assetDetails.dateAcquired"
          row
          wrap
          align-center
          justify-space-around
        >
          <v-flex v-if="assetDetails.dateAcquired" shrink>
            <h4 class="grey--text text--darken-1">Date Acquired</h4>
            <h5
              v-if="assetDetails.acquiredDateEstimated"
              class="grey--text text--darken-1"
            >
              (Estimated)
            </h5>
            <hr class="grey darken-1" />
            <h3>
              <base-format-date
                :ISOdate="assetDetails.dateAcquired"
              ></base-format-date>
            </h3>
          </v-flex>
          <v-flex v-if="assetDetails.dateInService" shrink>
            <h4 class="grey--text text--darken-1">Date In Service</h4>
            <h5
              v-if="assetDetails.inServiceDateEstimated"
              class="grey--text text--darken-1"
            >
              (Estimated)
            </h5>
            <hr class="grey darken-1" />
            <h3>
              <base-format-date
                :ISOdate="assetDetails.dateInService"
              ></base-format-date>
            </h3>
          </v-flex>
        </v-layout>
      </div>

      <v-layout
        v-if="editModeActive"
        row
        wrap
        align-center
        justify-space-around
      >
        <v-flex shrink>
          <combobox
            v-model="editAsset.category"
            :existingValue="editAsset.category"
            label="Category"
            :items="categoriesList"
            multiple
            chips
            @focus="$emit('getList', 'categories')"
          ></combobox>
        </v-flex>
        <v-flex shrink pb-10>
          <v-layout row wrap align-center justify-center>
            <v-flex shrink>
              <h4 class="grey--text text--darken-1">Current Location</h4>
              <hr class="grey darken-1" />
              <h3>
                {{
                  assetDetails.location
                    ? assetDetails.location[assetDetails.location.length - 1]
                        .description
                    : 'None Set'
                }}
              </h3>
            </v-flex>
            <v-flex shrink>
              <loader-button
                icon="call_made"
                tipText="Change Location"
                @click.native="openChangeLocation()"
              ></loader-button>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
      <div v-else>
        <v-layout
          v-if="
            (assetDetails.category && assetDetails.category.length) ||
            assetDetails.location
          "
          row
          wrap
          align-center
          justify-space-around
        >
          <v-flex shrink>
            <h4 class="grey--text text--darken-1">Category</h4>
            <hr class="grey darken-1" />
            <v-chip
              v-for="(cat, index) in assetDetails.category"
              :key="index"
              small
              disabled
              >{{ cat }}</v-chip
            >
          </v-flex>
          <v-flex v-if="assetDetails.location" shrink>
            <v-menu
              v-if="assetDetails.location.length > 1"
              v-model="locationPopup"
              :close-on-content-click="false"
              left
              transition="scale-transition"
            >
              <template #activator="{ on: menu }">
                <h4
                  class="deep-orange lighten-3 black--text"
                  v-on="{ ...menu }"
                >
                  Current Location
                </h4>
              </template>
              <v-card>
                <v-data-table
                  :items="assetDetails.location"
                  :headers="locHeaders"
                  :hide-default-footer="
                    assetDetails.location.length < 11 ? true : false
                  "
                >
                  <template #item.dateMovedTo="{ item }">
                    <base-format-date
                      :ISOdate="item.dateMovedTo"
                    ></base-format-date>
                  </template>
                  <template #item.dateMovedFrom="{ item }">
                    <base-format-date
                      :ISOdate="item.dateMovedFrom"
                    ></base-format-date>
                  </template>
                </v-data-table>
              </v-card>
            </v-menu>
            <div v-else>
              <h4 class="grey--text text--darken-1">Current Location</h4>
            </div>
            <hr class="grey darken-1" />
            <h3>
              {{
                assetDetails.location
                  ? assetDetails.location[assetDetails.location.length - 1]
                      .description
                  : 'None Set'
              }}
            </h3>
          </v-flex>
        </v-layout>
      </div>

      <v-layout
        v-if="editModeActive"
        row
        wrap
        align-center
        justify-space-around
      >
        <v-flex shrink>
          <v-combobox
            v-model="editAsset.manufacturer"
            label="Manufacturer"
            outlined
            :items="manufacturersList"
            @focus="$emit('getList', 'manufacturers')"
          ></v-combobox>
        </v-flex>
        <v-flex shrink>
          <v-text-field
            v-model="editAsset.model"
            outlined
            label="Model"
            autocomplete="off"
          ></v-text-field>
        </v-flex>
        <v-flex shrink>
          <v-text-field
            v-model="editAsset.serialNumber"
            outlined
            label="Serial"
            autocomplete="off"
          ></v-text-field>
        </v-flex>
      </v-layout>
      <div v-else>
        <v-layout
          v-if="
            assetDetails.manufacturer ||
            assetDetails.model ||
            assetDetails.serialNumber
          "
          row
          wrap
          align-center
          justify-space-around
        >
          <v-flex v-if="assetDetails.manufacturer" shrink>
            <h4 class="grey--text text--darken-1">Manufacturer</h4>
            <hr class="grey darken-1" />
            <h3>{{ assetDetails.manufacturer }}</h3>
          </v-flex>
          <v-flex v-if="assetDetails.model" shrink>
            <h4 class="grey--text text--darken-1">Model</h4>
            <hr class="grey darken-1" />
            <h3>{{ assetDetails.model }}</h3>
          </v-flex>
          <v-flex v-if="assetDetails.serialNumber" shrink>
            <h4 class="grey--text text--darken-1">Serial Number</h4>
            <hr class="grey darken-1" />
            <h3>{{ assetDetails.serialNumber }}</h3>
          </v-flex>
        </v-layout>
      </div>

      <v-layout
        v-if="editModeActive"
        row
        wrap
        align-center
        justify-space-around
      >
        <v-flex shrink>
          <v-text-field
            v-model="editAsset.postingReference"
            outlined
            label="Posting Reference"
            autocomplete="off"
          ></v-text-field>
        </v-flex>
        <v-flex shrink>
          <date-input
            v-model="editAsset.postingDate"
            label="Posting Date"
            :max="new Date().toISOString()"
          />
        </v-flex>
      </v-layout>
      <div v-else>
        <v-layout row wrap align-center justify-space-around>
          <v-flex v-if="assetDetails.postingReference" shrink>
            <h4 class="grey--text text--darken-1">Posting Reference</h4>
            <hr class="grey darken-1" />
            <h3>{{ assetDetails.postingReference }}</h3>
          </v-flex>
          <v-flex v-if="assetDetails.postingDate" shrink>
            <h4 class="grey--text text--darken-1">Posting Date</h4>
            <hr class="grey darken-1" />
            <h3>
              <base-format-date
                :ISOdate="assetDetails.postingDate"
              ></base-format-date>
            </h3>
          </v-flex>
        </v-layout>
      </div>

      <v-layout
        v-if="editModeActive"
        row
        wrap
        align-center
        justify-space-around
      >
        <v-flex shrink>
          <v-text-field
            v-model="editAsset.assetCost"
            outlined
            label="Asset Cost/Value"
            autocomplete="off"
          ></v-text-field>
        </v-flex>
        <v-flex shrink>
          <v-text-field
            v-model="editAsset.accountableContractNumber"
            outlined
            label="Contract Number"
            autocomplete="off"
          ></v-text-field>
        </v-flex>
      </v-layout>
      <div v-else>
        <v-layout
          v-if="
            assetDetails.assetCost || assetDetails.accountableContractNumber
          "
          row
          wrap
          align-center
          justify-space-around
        >
          <v-flex v-if="assetDetails.assetCost" shrink>
            <h4 class="grey--text text--darken-1">Asset Cost</h4>
            <hr class="grey darken-1" />
            <h3>{{ assetDetails.assetCost }}</h3>
          </v-flex>
          <v-flex v-if="assetDetails.accountableContractNumber" shrink>
            <h4 class="grey--text text--darken-1">Contract Number</h4>
            <hr class="grey darken-1" />
            <h3>{{ assetDetails.accountableContractNumber }}</h3>
          </v-flex>
        </v-layout>
      </div>

      <v-layout v-if="editModeActive" row wrap align-center justify-center>
        <v-flex xs10>
          <v-text-field
            v-model="editAsset.disposition"
            outlined
            label="Disposition"
            autocomplete="off"
          ></v-text-field>
        </v-flex>
      </v-layout>
      <div v-else>
        <v-layout
          v-if="assetDetails.disposition"
          row
          wrap
          align-center
          justify-center
        >
          <v-flex shrink>
            <h4 class="grey--text text--darken-1">Disposition</h4>
            <hr class="grey darken-1" />
            <h3>{{ assetDetails.disposition }}</h3>
          </v-flex>
        </v-layout>
      </div>

      <v-layout v-if="editModeActive" row wrap align-center justify-center>
        <v-flex xs11>
          <v-textarea
            v-model="editAsset.description"
            autocomplete="off"
            name="input-7-1"
            outlined
            auto-grow
            clearable
            counter="10000"
            label="Description"
          ></v-textarea>
        </v-flex>
      </v-layout>
      <div v-else>
        <v-layout
          v-if="assetDetails.description"
          column
          align-center
          justify-center
        >
          <v-flex shrink>
            <h4 class="grey--text text--darken-1">Description</h4>
            <hr class="grey darken-1" />
          </v-flex>
          <v-flex xs11>
            <v-card class="text-left">
              <vue-markdown
                :source="assetDetails.description"
                :anchorAttributes="{ target: '_blank' }"
              ></vue-markdown>
            </v-card>
          </v-flex>
        </v-layout>
      </div>
      <v-flex v-if="editModeActive" shrink>
        <v-layout row wrap align-center justify-space-around>
          <v-flex shrink>
            <loader-button
              text="Cancel"
              color="warning"
              @click.native="editMode()"
            ></loader-button>
          </v-flex>
          <v-flex shrink>
            <loader-button
              text="Save"
              color="success"
              @click.native="saveEdit()"
            ></loader-button>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex v-else shrink>
        <v-layout row wrap align-center justify-space-around>
          <v-flex>
            <loader-button
              text="Attachments"
              @click.native="openAttachments()"
            ></loader-button>
          </v-flex>
        </v-layout>
      </v-flex>

      <v-flex v-if="showNote">
        <v-layout row wrap align-center justify-center>
          <v-flex xs11>
            <v-text-field
              v-model="noteToAdd"
              v-validate="'required|min:10'"
              required
              :error-messages="errors.first('Note')"
              data-vv-name="Note"
              label="Note to be entered"
              outlined
            ></v-text-field>
          </v-flex>
        </v-layout>
        <v-layout row wrap align-center justify-space-around>
          <v-flex shrink>
            <loader-button
              text="Cancel Note"
              color="warning"
              @click.native="toggleShowNote()"
            ></loader-button>
          </v-flex>
          <v-flex shrink>
            <loader-button
              text="Add Note to Asset"
              color="success"
              @click.native="addNote()"
            ></loader-button>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-container>

    <attachment-popup
      :attachmentPopup="showAttachments"
      :assetDetails="assetDetails"
      @close="showAttachments = false"
    ></attachment-popup>

    <v-dialog v-model="changeLocation" max-width="450">
      <v-card>
        <v-card-title>
          <h3>New Location</h3>
        </v-card-title>
        <v-container grid-list-lg>
          <v-layout row align-center justify-center>
            <v-flex xs9>
              <v-layout
                column
                align-space-around
                justify-center
                class="text-center"
              >
                <v-flex>
                  <h4>{{ techName }} updating location ...</h4>
                  <br />
                </v-flex>
                <v-flex>
                  <v-text-field
                    v-model="newLocation.requestedBy"
                    outlined
                    label="Move Requested By"
                  />
                </v-flex>
                <v-flex>
                  <date-input
                    v-model="newLocation.dateMovedTo"
                    label="Date Moved"
                    :max="today()"
                  />
                </v-flex>
                <v-flex>
                  <v-combobox
                    v-model="newLocation.description"
                    :items="locationsList"
                    label="New Location Description"
                    outlined
                    @focus="$emit('getList', 'locations')"
                  ></v-combobox>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
          <v-layout row wrap align-center justify-space-around>
            <v-flex shrink>
              <loader-button
                text="Cancel Move"
                color="warning"
                @click.native="cancelMoveAsset()"
              ></loader-button>
            </v-flex>
            <v-flex shrink>
              <loader-button
                text="Complete Move"
                color="success"
                @click.native="moveAsset()"
              ></loader-button>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
    </v-dialog>
  </base-form-dialog>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import { endOfDay } from 'date-fns/esm'
import BaseFormDialog from '../Utils/BaseFormDialog.vue'
import DateInput from '../Utils/DateInputField.vue'
import Combobox from '../Utils/BaseCombobox.vue'
import AttachmentPopup from './AttachmentPopup.vue'
import VueMarkdown from 'vue-markdown'

export default {
  name: 'DetailsAsset',
  components: {
    BaseFormDialog,
    DateInput,
    Combobox,
    AttachmentPopup,
    VueMarkdown,
  },
  props: {
    assetDetails: {
      type: Object,
      default: () => {},
    },
    showPopup: {
      type: Boolean,
      default: false,
    },
    categoriesList: {
      type: Array,
      default: () => [],
    },
    locationsList: {
      type: Array,
      default: () => [],
    },
    manufacturersList: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      editModeActive: false,
      editAsset: {},

      noteToAdd: '',
      showNote: false,

      changeLocation: false,
      locationPopup: false,

      showAttachments: false,

      idLoading: false,
      idError: '',
      idSuccess: '',

      newLocation: {},

      newLocationBlank: {
        requestedBy: '',
        description: '',
        dateMovedTo: null,
      },

      blankAssetObject: {
        active: true,
        assetID: '',
        name: '',
        description: '',
        manufacturer: '',
        model: '',
        serialNumber: '',
        assetCost: '',
        accountableContractNumber: '',
        postingReference: '',
        postingDate: '',
        disposition: '',
        createdBy: '',
        lastEditedBy: '',
        location: [],
        transferRequest: [],
        rma: [],
        notes: [],
        category: [],
        dateAcquired: '',
        acquiredDateEstimated: false,
        dateInService: '',
        inServiceDateEstimated: false,
      },

      locHeaders: [
        {
          text: 'Entered By',
          value: 'enteredBy',
          align: 'center',
        },
        {
          text: 'Requested By',
          value: 'requestedBy',
          align: 'center',
        },
        {
          text: 'Description',
          value: 'description',
          align: 'center',
        },
        {
          text: 'Moved To',
          value: 'dateMovedTo',
          align: 'center',
        },
        {
          text: 'Moved From',
          value: 'dateMovedFrom',
          align: 'center',
        },
      ],
    }
  },
  computed: {
    ...mapState('sitewide', [
      'mongoUrl',
      'userLoggedIn',
      'loggedInUser',
      'techName',
    ]),
  },
  watch: {
    assetDetails: function () {
      if (this.assetDetails._id) {
        this.newLocation = JSON.parse(JSON.stringify(this.newLocationBlank))
      }
    },
  },
  mounted() {},
  methods: {
    ...mapActions('sitewide', ['logWrite', 'toastMessage']),
    today() {
      return endOfDay(new Date()).toISOString()
    },
    toggleShowNote() {
      if (!this.showNote) {
        this.showNote = true
      } else {
        this.showNote = false
        this.noteToAdd = ''
      }
    },
    addNote() {
      if (this.techName === '') {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        this.$validator.validate().then(async (valid) => {
          if (valid) {
            try {
              const addNote = {
                enteredBy: this.techName,
                note: this.noteToAdd,
              }
              let addedNote = await this.$axios.$put(
                `${this.mongoUrl}assets/${this.assetDetails._id}?addToArray=notes`,
                addNote
              )
              this.toastMessage(addedNote)
              this.$validator.reset()
              this.$emit('refreshAssets')
            } catch (error) {
              this.toastMessage('An error occurred adding a note the asset')
              this.logWrite({
                logType: 'error',
                logItem: error,
              })
            }
          }
        })
      }
    },
    openAttachments() {
      this.showAttachments = true
    },
    editMode() {
      if (this.editModeActive) {
        this.editModeActive = false
        this.$validator.reset()
        this.editAsset = this.blankAssetObject
      } else {
        this.editAsset = JSON.parse(JSON.stringify(this.assetDetails))
        this.editModeActive = true
      }
    },
    saveEdit() {
      if (this.techName === '') {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        this.$validator.validate().then(async (valid) => {
          if (valid) {
            try {
              this.$validator.pause()
              this.editAsset.lastEditedBy = this.techName
              let saveAsset = await this.$axios.$put(
                `${this.mongoUrl}assets/${this.editAsset._id}`,
                this.editAsset
              )
              this.cancelDetailsPopup()
              this.toastMessage(saveAsset)
              this.$nextTick(() => {
                this.$validator.reset()
                this.$validator.resume()
              })
              this.$emit('refreshAssets')
            } catch (error) {
              this.toastMessage('An error occurred editing the asset')
              this.logWrite({
                logType: 'error',
                logItem: error,
              })
            }
          }
        })
      }
    },
    openChangeLocation() {
      if (this.techName === '') {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        this.changeLocation = true
      }
    },
    moveAsset() {
      if (this.techName === '') {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        this.$validator.validate().then(async (valid) => {
          if (valid) {
            try {
              this.$validator.pause()
              this.newLocation.enteredBy = this.techName
              let updateLocationAssets = await this.$axios.$put(
                `${this.mongoUrl}assets/${
                  this.editAsset._id
                }?addMovedFrom=true&locationID=${
                  this.editAsset.location[this.editAsset.location.length - 1]
                    ._id
                }`,
                { dateMovedFrom: this.newLocation.dateMovedTo }
              )
              this.toastMessage(updateLocationAssets)
              let addLocation = await this.$axios.$put(
                `${this.mongoUrl}assets/${this.assetDetails._id}?addToArray=location`,
                this.newLocation
              )
              this.cancelMoveAsset()
              this.cancelDetailsPopup()
              this.toastMessage(addLocation)
              this.$emit('refreshAssets')
              this.$nextTick(() => {
                this.$validator.reset()
                this.$validator.resume()
              })
            } catch (error) {
              this.toastMessage('An error occurred editing the asset')
              this.logWrite({
                logType: 'error',
                logItem: error,
              })
            }
          }
        })
      }
    },
    cancelMoveAsset() {
      this.changeLocation = false
      this.newLocation = JSON.parse(JSON.stringify(this.newLocationBlank))
    },
    cancelDetailsPopup() {
      this.$emit('close')
      this.editModeActive = false
      this.showNote = false
      this.noteToAdd = ''
      this.$validator.reset()
      this.editAsset = this.blankAssetObject
    },
    async checkIdAvailability(toCheck = '') {
      if (toCheck) {
        this.idLoading = true
        const idCheck = await this.$axios.$get(
          `${this.mongoUrl}assets/?checkID=${toCheck}`
        )
        if (idCheck.status == 'available') {
          this.idLoading = false
          this.idError = ''
          this.idSuccess = 'ID Available'
        } else {
          this.idLoading = false
          this.idSuccess = ''
          this.idError = 'ID Already Taken'
        }
      } else {
        this.idLoading = false
        this.idError = ''
        this.idSuccess = ''
      }
    },
  },
}
</script>

<style></style>
