<template>
  <base-form-dialog
    :active="newAssetPopup"
    title="Create New Asset"
    width="800"
    @close="cancelNewAssetPopup()"
  >
    <v-container fluid grid-list-sm @keydown.ctrl.83.prevent.stop="saveNewAsset()">
      <v-layout row wrap align-center>
        <v-spacer></v-spacer>
        <v-flex xs2>
          <v-text-field
            v-model="newAsset.assetID"
            label="Asset ID"
            autocomplete="off"
            outlined
            :error-messages="idError"
            :loading="idLoading"
            :success-messages="idSuccess"
            @blur="checkIdAvailability(newAsset.assetID)"
          ></v-text-field>
        </v-flex>
        <v-spacer></v-spacer>
        <v-flex xs7>
          <v-text-field
            v-model="newAsset.name"
            v-validate="'required'"
            :error-messages="errors.first('Asset Name')"
            data-vv-name="Asset Name"
            name="Asset Name"
            label="Asset Name*"
            outlined
            autocomplete="off"
            required
          ></v-text-field>
        </v-flex>
        <v-spacer></v-spacer>
      </v-layout>
      <v-layout row wrap justify-space-around align-center>
        <v-flex shrink>
          <v-layout column align-center justify-center>
            <v-flex shrink>
              <v-checkbox
                v-model="newAsset.acquiredDateEstimated"
                label="Is this date estimated?"
              />
            </v-flex>
            <v-flex shrink>
              <date-input
                v-model="newAsset.dateAcquired"
                label="Date Acquired"
                :max="today()"
              />
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex shrink>
          <v-layout column align-center justify-center>
            <v-flex shrink>
              <v-checkbox
                v-model="newAsset.inServiceDateEstimated"
                label="Is this date estimated?"
              />
            </v-flex>
            <v-flex shrink>
              <date-input
                v-model="newAsset.dateInService"
                label="Date Placed In Service"
                :max="today()"
              />
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
      <v-layout row wrap align-center justify-space-around>
        <v-flex shrink>
          <combobox
            v-model="newAsset.category"
            label="Category"
            :items="categoriesList"
            multiple
            chips
            @focus="$emit('getList', 'categories')"
          ></combobox>
        </v-flex>
        <v-flex shrink>
          <v-combobox
            v-model="newAsset.location"
            v-validate="'required'"
            :error-messages="errors.first('Location')"
            data-vv-name="Location"
            label="Location"
            outlined
            :items="locationsList"
            @focus="$emit('getList', 'locations')"
          ></v-combobox>
        </v-flex>
      </v-layout>
      <v-layout row wrap align-center justify-space-around>
        <v-flex shrink>
          <v-combobox
            v-model="newAsset.manufacturer"
            label="Manufacturer"
            outlined
            :items="manufacturersList"
            @focus="$emit('getList', 'manufacturers')"
          ></v-combobox>
        </v-flex>
        <v-flex shrink>
          <v-text-field
            v-model="newAsset.model"
            outlined
            label="Model"
            autocomplete="off"
          ></v-text-field>
        </v-flex>
        <v-flex shrink>
          <v-text-field
            v-model="newAsset.serialNumber"
            outlined
            label="Serial"
            autocomplete="off"
          ></v-text-field>
        </v-flex>
      </v-layout>
      <v-layout row wrap align-center justify-space-around>
        <v-flex shrink>
          <v-text-field
            v-model="newAsset.postingReference"
            outlined
            label="Posting Reference"
            autocomplete="off"
          ></v-text-field>
        </v-flex>
        <v-flex shrink>
          <date-input
            v-model="newAsset.postingDate"
            label="Posting Date"
            :max="today()"
          />
        </v-flex>
      </v-layout>
      <v-layout row wrap align-center justify-space-around>
        <v-flex shrink>
          <v-text-field
            v-model="newAsset.assetCost"
            outlined
            label="Asset Cost/Value"
            autocomplete="off"
          ></v-text-field>
        </v-flex>
        <v-flex shrink>
          <v-text-field
            v-model="newAsset.accountableContractNumber"
            outlined
            label="Contract Number"
            autocomplete="off"
          ></v-text-field>
        </v-flex>
      </v-layout>
      <v-layout row wrap align-center justify-center>
        <v-flex xs10>
          <v-text-field
            v-model="newAsset.disposition"
            outlined
            label="Disposition"
            autocomplete="off"
          ></v-text-field>
        </v-flex>
      </v-layout>
      <v-layout row wrap align-center justify-center>
        <v-flex xs11>
          <v-textarea
            v-model="newAsset.description"
            autocomplete="off"
            name="input-7-1"
            outlined
            auto-grow
            clearable
            counter="10000"
            label="Description"
          ></v-textarea>
        </v-flex>
      </v-layout>
      <v-layout row wrap align-center justify-space-around>
        <v-flex shrink>
          <loader-button
            color="warning"
            text="Cancel"
            @click.native="cancelNewAssetPopup()"
          ></loader-button>
        </v-flex>
        <v-flex shrink>
          <loader-button
            color="success"
            text="Save"
            @click.native="saveNewAsset()"
          ></loader-button>
        </v-flex>
      </v-layout>
    </v-container>
  </base-form-dialog>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import DateInput from '../Utils/DateInputField.vue'
import Combobox from '../Utils/BaseCombobox.vue'
import { endOfDay } from 'date-fns/esm'

export default {
  components: {
    DateInput,
    Combobox,
  },
  props: {
    newAssetPopup: {
      type: Boolean,
      default: false,
    },
    categoriesList: {
      type: Array,
      default: () => [],
    },
    locationsList: {
      type: Array,
      default: () => [],
    },
    manufacturersList: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      assetBlank: {
        assetID: '',
        name: '',
        description: '',
        dateAcquired: '',
        acquiredDateEstimated: false,
        dateInService: '',
        inServiceDateEstimated: false,
        accountableContractNumber: '',
        disposition: '',
        category: [],
        manufacturer: '',
        model: '',
        serialNumber: '',
        postingReference: '',
        postingDate: '',
        location: '',
        assetCost: '',
      },

      newAsset: {},

      idError: '',
      idLoading: false,
      idSuccess: '',
    }
  },
  computed: {
    ...mapState('sitewide', ['mongoUrl', 'darkTheme', 'techName']),
  },
  watch: {},
  mounted() {
    this.newAsset = JSON.parse(JSON.stringify(this.assetBlank))
  },
  methods: {
    ...mapActions('sitewide', ['logWrite', 'toastMessage']),
    today() {
      return endOfDay(new Date()).toISOString()
    },
    async checkIdAvailability(toCheck = '') {
      if (toCheck) {
        this.idLoading = true
        const idCheck = await this.$axios.$get(
          `${this.mongoUrl}assets/?checkID=${toCheck}`
        )
        if (idCheck.status == 'available') {
          this.idLoading = false
          this.idError = ''
          this.idSuccess = 'ID Available'
        } else {
          this.idLoading = false
          this.idSuccess = ''
          this.idError = 'ID Already Taken'
        }
      } else {
        this.idLoading = false
        this.idError = ''
        this.idSuccess = ''
      }
    },
    saveNewAsset() {
      if (this.techName === '') {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        this.$validator.validate().then(async (valid) => {
          if (valid) {
            try {
              let saveAsset = ''
              this.newAsset.createdBy = this.techName
              saveAsset = await this.$axios.$post(
                `${this.mongoUrl}assets/`,
                this.newAsset
              )
              this.cancelNewAssetPopup()
              this.toastMessage(saveAsset)
              this.$validator.reset()
              this.$emit('refreshAssets')
            } catch (error) {
              this.toastMessage('An error occurred submitting the new asset')
            }
          }
        })
      }
    },
    cancelNewAssetPopup() {
      while (this.newAsset.category.length) this.newAsset.category.pop()
      this.newAsset = JSON.parse(JSON.stringify(this.assetBlank))
      this.$emit('close')
      this.$validator.reset()
    },
  },
}
</script>

<style></style>
