<template>
  <div>
    <base-form-dialog title="Asset Timeline" :active="timelinePopup" width="800" @close="closePopup">
      <v-container grid-list-lg>
        <v-layout row wrap align-center justify-space-around>
          <v-flex xs11>
            <v-text-field
              v-model="search"
              autocomplete="off"
              append-icon="search"
              label="Search"
              single-line
              hide-details
            ></v-text-field>
          </v-flex>
        </v-layout>
        <v-layout row wrap align-center justify-space-around>
          <v-flex xs11>
            <v-data-table :items="itemList" :headers="headers" :search="search">
              <template v-slot:item.createdAt="{ item }">
                <base-format-date :ISOdate="item.manualDate ? item.manualDate : item.createdAt"></base-format-date>
              </template>
            </v-data-table>
          </v-flex>
        </v-layout>
      </v-container>
    </base-form-dialog>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  components: {},
  props: {
    itemList: {
      type: Array,
      default: () => [],
    },
    timelinePopup: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      headers: [
        {
          text: 'Technician',
          value: 'techName',
          align: 'center',
          sortable: true,
        },
        {
          text: 'Notes',
          value: 'note',
          align: 'center',
          sortable: true,
        },
        {
          text: 'Entered',
          value: 'createdAt',
          align: 'center',
          sortable: true,
        },
        {
          text: '',
          value: 'actions',
          align: 'center',
        },
      ],
      search: '',
    }
  },
  computed: {
    ...mapState('sitewide', ['mongoUrl', 'darkTheme', 'techName', 'userLoggedIn']),
  },
  watch: {},
  mounted() {},
  methods: {
    ...mapActions('sitewide', ['logWrite', 'toastMessage']),
    closePopup() {
      this.$emit('close')
    },
  },
}
</script>

<style scoped>
.popup {
  position: fixed;
  z-index: 10;
}
</style>
