<template>
  <v-container grid-list-lg>
    <v-layout column align-center justify-center>
      <v-flex shrink class="text-center">
        <h4>Related Items</h4>
        <h5>(Adding in process. Switches will become available as relevant features are added.)</h5>
      </v-flex>
      <v-flex xs12>
        <v-layout row wrap align-center justify-space-around>
          <v-flex v-for="item in Object.keys(related)" :key="related[item].dbArray" shrink>
            <v-switch
              v-model="related[item].value"
              :label="related[item].text"
              :disabled="related[item].disabled"
              @click.native="getList(item)"
            ></v-switch>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex v-if="related.assets.value" xs12> Assets Thingy </v-flex>
      <v-flex v-if="related.tasks.value" xs12> Tasks Thingy </v-flex>
      <v-flex v-if="related.todos.value" xs12> To Do Thingy </v-flex>
      <v-flex v-if="related.toorder.value" xs12> To Do Thingy </v-flex>
      <v-flex v-if="related.hoses.value" xs12> Hoses Thingy </v-flex>
      <!-- <v-flex v-if="related.parts.value" xs12> Parts Thingy </v-flex> -->
    </v-layout>
  </v-container>
</template>

<script>
import { mapActions, mapState } from 'vuex'
export default {
  name: 'RelatedToAsset',
  components: {},
  props: {
    relatedAssets: {
      type: Array,
      default: () => [],
    },
    relatedTasks: {
      type: Array,
      default: () => [],
    },
    relatedTodo: {
      type: Array,
      default: () => [],
    },
    relatedOrders: {
      type: Array,
      default: () => [],
    },
    relatedHoses: {
      type: Array,
      default: () => [],
    },
    relatedParts: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      assetList: [],
      taskList: [],
      todoList: [],
      orderList: [],
      hoseList: [],
      partList: [],

      related: {
        assets: {
          text: 'Assets',
          dbArray: 'relatedAssets',
          value: false,
          disabled: true,
        },
        tasks: {
          text: 'Tasks',
          dbArray: 'relatedTasks',
          value: false,
          disabled: true,
        },
        todos: {
          text: 'To Dos',
          dbArray: 'relatedToDos',
          value: false,
          disabled: true,
        },
        toorder: {
          text: 'To Order',
          dbArray: 'relatedOrders',
          value: false,
          disabled: true,
        },
        hoses: {
          text: 'Hoses',
          dbArray: 'relatedHoses',
          value: false,
          disabled: true,
        },
        // parts: {
        //   text: 'Parts',
        //   dbArray: 'relatedParts',
        //   value: false,
        //   disabled: true,
        // },
      },
    }
  },
  computed: {
    ...mapState('sitewide', ['mongoUrl', 'userLoggedIn', 'loggedInUser']),
  },
  watch: {},
  mounted() {},
  methods: {
    ...mapActions('sitewide', ['logWrite', 'toastMessage']),
    async getList(list) {
      switch (list) {
        case 'assets':
          this.assetList = await this.$axios.$get(`${this.mongoUrl}assets/list`)
          break
        case 'tasks':
          this.taskList = await this.$axios.$get(`${this.mongoUrl}taskdata/list`)
          break
        case 'todos':
          this.todoList = await this.$axios.$get(`${this.mongoUrl}todo/list`)
          break
        case 'orders':
          this.orderList = await this.$axios.$get(`${this.mongoUrl}toorder/list`)
          break
        case 'hoses':
          this.hoseList = await this.$axios.$get(`${this.mongoUrl}hoses/list`)
          break
        case 'parts':
          // this.partsList = await this.$axios.$get(`${this.mongoUrl}inventory/list`)
          break
        default:
          break
      }
    },
  },
}
</script>

<style></style>
