<template>
  <v-container>
    <v-layout column align-center justify-center class="text-center">
      <v-flex>
        <h2>
          Your session has timed out.
        </h2>
        <br />
      </v-flex>
      <v-flex>
        <h3>
          If you were mid-edit then you may have lost some work when you were automatically logged out based on lack of
          activity.
        </h3>
        <br />
      </v-flex>
      <v-flex>
        <nuxt-link :to="`/`">
          <loader-button text="Take Me Home" size="large"></loader-button>
        </nuxt-link>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapActions, mapState } from 'vuex'
export default {
  name: 'AdminLogOut',
  components: {},
  props: {},
  data() {
    return {
      something: '',
    }
  },
  computed: {
    ...mapState('sitewide', ['mongoUrl', 'userLoggedIn', 'loggedInUser']),
  },
  watch: {},
  mounted() {},
  methods: {
    ...mapActions('sitewide', ['logWrite', 'toastMessage']),
  },
}
</script>

<style></style>
