<template>
  <v-container fluid grid-list-md>
    <div v-if="tenants.length">
      <v-layout row align-center justify-center class="text-center">
        <v-flex shrink>
          <h2>Hardware currently established on this server</h2>
        </v-flex>
      </v-layout>
      <v-layout row align-center justify-center>
        <v-flex shrink>
          <v-layout column justify-center align-center class="text-center">
            <v-flex
              v-for="(tenant, index) in tenants.slice(0, 5)"
              :key="index"
              shrink
            >
              <nuxt-link :to="`/${tenant._id}/tasks`">
                <loader-button
                  :text="tenant.friendlyName"
                  size="large"
                ></loader-button>
              </nuxt-link>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex shrink>
          <v-layout
            v-if="tenants.length > 5"
            column
            justify-center
            align-center
            class="text-center"
          >
            <v-flex
              v-for="(tenant, index) in tenants.slice(5, 10)"
              :key="index"
              shrink
            >
              <nuxt-link :to="`/${tenant._id}/tasks`">
                <loader-button
                  :text="tenant.friendlyName"
                  size="large"
                ></loader-button>
              </nuxt-link>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex shrink>
          <v-layout
            v-if="tenants.length > 10"
            column
            justify-center
            align-center
            class="text-center"
          >
            <v-flex
              v-for="(tenant, index) in tenants.slice(10, 15)"
              :key="index"
              shrink
            >
              <nuxt-link :to="`/${tenant._id}/tasks`">
                <loader-button
                  :text="tenant.friendlyName"
                  size="large"
                ></loader-button>
              </nuxt-link>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex shrink>
          <v-layout
            v-if="tenants.length > 15"
            column
            justify-center
            align-center
            class="text-center"
          >
            <v-flex
              v-for="(tenant, index) in tenants.slice(15, 20)"
              :key="index"
              shrink
            >
              <nuxt-link :to="`/${tenant._id}/tasks`">
                <loader-button
                  :text="tenant.friendlyName"
                  size="large"
                ></loader-button>
              </nuxt-link>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </div>
    <div v-else-if="!tenants.length && tenantPending">
      <v-layout column wrap align-center justify-center>
        <v-flex shrink>
          <h3>Checking the database for existing information. Stand By.</h3>
        </v-flex>
        <v-flex shrink>
          <v-progress-circular
            :size="70"
            :width="7"
            color="success"
            indeterminate
          ></v-progress-circular>
        </v-flex>
      </v-layout>
    </div>
    <div v-else>
      <v-layout column justify-center align-center class="text-center">
        <v-flex shrink>
          <h2>There is no hardware currently established on the server</h2>
        </v-flex>
        <v-flex shrink>
          <h3>
            Please enter a path for the first set of hardware to be established
            on the this server, the path is the name within the address on the
            network. <br />
            Enter something in the path box and look below the box for an
            example of how the path will look in use.
          </h3>
        </v-flex>
        <v-flex shrink>
          <v-text-field
            v-model="newPath"
            v-validate="'alpha_dash'"
            :error-messages="errors.first('New Path')"
            data-vv-name="New Path"
            type="text"
            name="New Path"
            label="New Path"
            outlined
            autocomplete="off"
          ></v-text-field>
        </v-flex>
        <div v-if="newPath.length">
          <v-flex shrink>
            <span class="warning--text">
              <a :href="`${getSiteRoot()}/${newPath}/tasks`"
                >{{ getSiteRoot() }}/{{ encodeURI(newPath) }}/tasks</a
              >
            </span>
          </v-flex>
          <v-flex shrink>
            <h3>
              If you are happy with this path being used to access the page
              press the below button to create a set of hardware at that
              path.<br />
              Once the page is created the page will refresh and a button will
              be shown here that will take you to the tasks page of that piece
              of hardware. You may then go to the settings page to change the
              text displayed on this button for a more user friendly version of
              the display name.
            </h3>
          </v-flex>
          <v-flex shrink>
            <loader-button
              text="Save"
              color="success"
              tipText="Create new hardware"
              @click.native="makeNewPage()"
            ></loader-button>
          </v-flex>
        </div>
      </v-layout>
    </div>
  </v-container>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  components: {},
  data() {
    return {
      tenants: [],
      newPath: '',

      tenantPending: true,
    }
  },
  computed: {},
  mounted() {
    this.getTenants()
  },
  methods: {
    ...mapActions('sitewide', ['toastMessage', 'logWrite']),
    async getTenants() {
      this.tenantPending = true
      this.tenants = await this.$axios.$get(
        `${window.location.origin}/api/tenants`
      )
      for (let i = 0; i < this.tenants.length; i++) {
        if (
          this.tenants[i]._id == 'dev' &&
          process.env.NODE_ENV !== 'development'
        ) {
          this.tenants.splice(i, 1)
        }
      }
      if (this.tenants.length == 1) {
        window.location.href = `${window.location.origin}/${this.tenants[0]._id}/tasks`
      }
      this.tenantPending = false
    },
    getSiteRoot() {
      return window.location.origin
    },
    async makeNewPage() {
      try {
        const newSite = await this.$axios.$get(
          `${window.location.origin}/api/${this.newPath}/settings/createNewHardware`
        )
        if (newSite === 'New hardware created') {
          this.toastMessage(
            `${newSite} at ${window.location.origin}/${this.newPath}/tasks`
          )
          this.newPath = ''
          this.getTenants()
        } else {
          this.toastMessage(newSite)
        }
      } catch (error) {
        this.logWrite({
          logType: 'error',
          logItem: `AdminSettings.vue, getUsers()- ${error}`,
        })
      }
    },
  },
}
</script>
