<template>
  <div>
    <v-container v-if="userLoggedIn" fluid grid-list-lg>
      <v-layout row wrap align-center justify-center>
        <v-flex shrink>
          <v-card elevation="12">
            <div v-if="checkUsers()">
              <h3>There are no other users</h3>
            </div>
            <v-simple-table v-else>
              <template v-slot:default>
                <thead>
                  <tr>
                    <th></th>
                    <th class="text-center">Username</th>
                    <th class="text-center">E-Mail</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="user in filteredUserList" :key="user.username">
                    <td>
                      <loader-button
                        icon="remove"
                        color="error"
                        tipText="Remove User"
                        iconOnly
                        @click.native="prepRemoveUser(user)"
                      />
                    </td>
                    <td>{{ user.username }}</td>
                    <td v-if="editUserObj.username == user.username">
                      <v-text-field
                        v-model="editUserObj.email"
                        v-validate="'email'"
                        label="E-Mail"
                        required
                        :error-messages="errors.first('User Email')"
                        data-vv-name="User Email"
                        name="User Email"
                      ></v-text-field>
                    </td>
                    <td v-else>{{ user.email }}</td>
                    <td v-if="editUserObj.username == user.username">
                      <loader-button text="Save" color="success" @click.native="editUser()"></loader-button>
                      <loader-button text="cancel" color="warning" @click.native="cancelEditUser()"></loader-button>
                    </td>
                    <td v-else>
                      <loader-button
                        icon="edit"
                        color="warning"
                        tipText="Edit User Email"
                        iconOnly
                        @click.native="prepEditUser(user)"
                      ></loader-button>
                      <loader-button
                        icon="fingerprint"
                        color="error"
                        tipText="Reset User Password"
                        iconOnly
                        @click.native="resetPassConfirm(user)"
                      ></loader-button>
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
            <v-layout v-if="!addUserShown" row wrap justify-center align-center>
              <v-flex shrink>
                <loader-button text="Add New User" @click.native="addUserShown = true"></loader-button>
              </v-flex>
            </v-layout>
            <v-layout v-if="addUserShown" column wrap align-space-around justify-center>
              <v-flex shrink>
                <hr class="grey darken-1" />
                <br />
                <h4 class="text-center">New User Details</h4>
              </v-flex>
              <v-flex xs10>
                <v-text-field
                  v-model="newUser.username"
                  v-validate="`${addUserShown ? 'required|' : ''}min:4`"
                  label="Username"
                  outlined
                  required
                  :error-messages="newUser.username.length < 4 ? errors.first('New Username') : newUserError"
                  data-vv-name="New Username"
                  name="New Username"
                  @keyup="checkIfUserExists"
                ></v-text-field>
              </v-flex>
              <v-flex xs10>
                <v-text-field
                  v-model="newUser.email"
                  v-validate="'email'"
                  label="E-Mail"
                  outlined
                  required
                  :error-messages="errors.first('New User Email')"
                  data-vv-name="New User Email"
                  name="New User Email"
                ></v-text-field>
              </v-flex>
              <v-flex grow>
                <v-layout row wrap align-center justify-space-around>
                  <v-flex shrink>
                    <loader-button
                      text="Cancel"
                      color="warning"
                      @click.native="
                        newUser.username = ''
                        newUser.email = ''
                        addUserShown = false
                      "
                    ></loader-button>
                  </v-flex>
                  <v-flex shrink>
                    <loader-button text="Save New User" color="success" @click.native="addUser()"></loader-button>
                  </v-flex>
                </v-layout>
              </v-flex>
            </v-layout>
          </v-card>
        </v-flex>
        <v-flex shrink class="text-center">
          <v-card elevation="12">
            <v-layout column wrap align-center justify-center>
              <v-flex shrink>
                <h3>Logged In User Info</h3>
              </v-flex>
              <v-flex shrink class="pa-4">
                <v-card elevation="4" class="pa-4">
                  <h4 class="grey--text text--darken-1">Username:</h4>
                  <hr class="grey darken-1" />
                  <h3>{{ loggedInUser.username }}</h3>
                </v-card>
              </v-flex>
              <v-flex v-if="loggedInUser.email && loggedInUser.email !== ''" shrink class="pa-4">
                <v-card elevation="4" class="pa-4">
                  <h4 class="grey--text text--darken-1">E-Mail:</h4>
                  <hr class="grey darken-1" />
                  <h3>{{ loggedInUser.email }}</h3>
                </v-card>
              </v-flex>
              <v-flex v-if="!changeCurrentUserEmail" shrink>
                <loader-button text="Change Email" @click.native="changeCurrentUserEmail = true"></loader-button>
              </v-flex>
              <v-flex v-if="changeCurrentUserEmail" grow>
                <v-layout column wrap align-space-between justify-center>
                  <v-flex shrink>
                    <v-text-field
                      v-model="newEmail"
                      v-validate="'email'"
                      label="E-Mail"
                      outlined
                      required
                      :error-messages="errors.first('Current User Email')"
                      data-vv-name="Current User Email"
                      name="Current User Email"
                    ></v-text-field>
                  </v-flex>
                  <v-flex shrink>
                    <v-layout row wrap align-center justify-space-around>
                      <v-flex shrink>
                        <loader-button
                          text="Cancel"
                          color="warning"
                          @click.native="cancelEmailChange()"
                        ></loader-button>
                      </v-flex>
                      <v-flex shrink>
                        <loader-button
                          text="Save Email"
                          color="success"
                          @click.native="saveEmailChange()"
                        ></loader-button>
                      </v-flex>
                    </v-layout>
                  </v-flex>
                </v-layout>
              </v-flex>
              <v-flex v-if="!changePassword" shrink>
                <loader-button text="Change Password" @click.native="changePassword = true"></loader-button>
              </v-flex>
              <v-flex grow>
                <v-layout v-if="changePassword" column wrap align-center justify-center>
                  <v-flex shrink>
                    <form>
                      <br />
                      <h2>Please enter the new password</h2>
                      <v-text-field
                        v-model="newPassword"
                        label="New Password"
                        type="password"
                        outlined
                        :error-messages="passwordError"
                      ></v-text-field>
                      <v-text-field
                        v-model="newPassword2"
                        label="Re-Type Password"
                        type="password"
                        outlined
                        :error-messages="passwordError"
                      ></v-text-field>
                    </form>
                  </v-flex>
                  <v-flex shrink>
                    <v-layout row wrap align-center justify-space-around>
                      <v-flex shrink>
                        <loader-button
                          text="Cancel"
                          color="warning"
                          @click.native="cancelPasswordChange()"
                        ></loader-button>
                      </v-flex>
                      <v-flex shrink>
                        <loader-button
                          text="Save New Password"
                          color="success"
                          @click.native="savePasswordChange()"
                        ></loader-button>
                      </v-flex>
                    </v-layout>
                  </v-flex>
                </v-layout>
              </v-flex>
            </v-layout>
          </v-card>
        </v-flex>
      </v-layout>

      <v-layout row wrap justify-center align-center class="pa-5">
        <v-flex shrink>
          <v-card elevation="12">
            <v-layout row wrap align-center justify-center>
              <v-flex shrink>
                <v-simple-table>
                  <template v-slot:default>
                    <thead>
                      <tr>
                        <th class="text-center">Site Name</th>
                        <th class="text-center">Site Path</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="tenant in tenants" :key="tenant.tenantID">
                        <td>{{ tenant.friendlyName }}</td>
                        <td>{{ tenant._id }}</td>
                        <td>
                          <loader-button
                            icon="remove"
                            iconOnly
                            color="error"
                            tipText="Remove From List"
                            @click.native="prepRemoveSettings(tenant)"
                          ></loader-button>
                        </td>
                      </tr>
                    </tbody>
                  </template>
                </v-simple-table>
              </v-flex>
            </v-layout>
            <v-layout column wrap align-center justify-center>
              <v-flex shrink>
                <v-layout row wrap align-center justify-center>
                  <v-flex shrink>
                    <h4>Make a new page....</h4>
                    <v-text-field
                      v-model="newPath"
                      v-validate="'alpha_dash'"
                      :error-messages="errors.first('New Path')"
                      data-vv-name="New Path"
                      type="text"
                      name="New Path"
                      label="New Path"
                      outlined
                      autocomplete="off"
                    ></v-text-field>
                  </v-flex>
                  <v-flex v-if="newPath" shrink>
                    <loader-button
                      text="Save"
                      color="success"
                      tipText="Create new hardware"
                      @click.native="makeNewPage()"
                    ></loader-button>
                  </v-flex>
                </v-layout>
              </v-flex>
              <v-flex v-if="newPath" xs8 class="text-center">
                <div>
                  The below link is where the newly created site will live. It will be accessible on the main site along
                  with all the other previously established hardware.
                </div>
                <span class="warning--text">
                  <a :href="`${getSiteRoot()}/${newPath}/tasks`">{{ getSiteRoot() }}/{{ encodeURI(newPath) }}/tasks</a>
                </span>
              </v-flex>
            </v-layout>
          </v-card>
        </v-flex>
      </v-layout>

      <v-dialog v-model="showResetPassConfirm" class="text-center" width="500">
        <v-card>
          <v-card-title>Are You Sure?</v-card-title>
          <v-card-text>
            <h3 class="text-center">
              This will reset the password for
              {{ resetPassTempUser.username }} to
              <br />
              <span class="error--text">Ocean123</span>
              <br />They will be required to change it on next log in.
            </h3>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <loader-button text="Cancel" color="warning" @click.native="cancelReset()"></loader-button>
            <v-spacer></v-spacer>
            <loader-button text="OK" color="success" @click.native="resetPassword(resetPassTempUser)"></loader-button>
            <v-spacer></v-spacer>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog v-model="showRemoveConfirm" class="text-center" width="500">
        <v-card>
          <v-card-title>Are You Sure?</v-card-title>
          <v-card-text>
            <h3 class="text-center">
              This will delete the user:
              <span class="error--text">{{ ` ${removeUserTemp.username}` }}</span>
            </h3>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <loader-button text="Cancel" color="warning" @click.native="cancelRemoveUser()"></loader-button>
            <v-spacer></v-spacer>
            <loader-button text="OK" color="error" @click.native="removeUser()"></loader-button>
            <v-spacer></v-spacer>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog v-model="showRemoveSettingsConfirm" class="text-center" width="700">
        <v-card>
          <v-card-title>Are You Sure?</v-card-title>
          <v-card-text>
            <div class="text-center body-1">
              By clicking ok you will be removing
              {{ removeSettingsTemp.friendlyName }} from the hardware menu at the root site and on the hardware menu at
              the top of the navigation bar and on the landing page.
              <hr class="grey darken-1" />
              This does not delete the tasks/to do's/to order's, etc at all for that page. This only deletes the
              settings associated with the site. Things like the site name, default theme, visible menu options etc from
              the site settings page will be removed.
              <hr class="grey darken-1" />
              In order to recreate this site at a later time with default settings create a page on the admin settings
              page with the site name of: {{ removeSettingsTemp._id }}
            </div>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <loader-button text="Cancel" color="warning" @click.native="cancelRemoveSettings()"></loader-button>
            <v-spacer></v-spacer>
            <loader-button text="OK" color="error" @click.native="removeSettings()"></loader-button>
            <v-spacer></v-spacer>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-container>

    <v-container v-else fluid>
      <v-layout row wrap align-center justify-center>
        <v-flex shrink>
          <h2>Log in to view options...</h2>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  components: {},
  props: {},
  data() {
    return {
      userList: [],

      addUserShown: false,
      newUser: {
        username: '',
        email: '',
      },
      newUserError: [],

      editUserObj: {},

      changePassword: false,
      newPassword: '',
      newPassword2: '',
      passwordError: [],
      changeCurrentUserEmail: false,
      newEmail: '',

      showResetPassConfirm: false,
      resetPassTempUser: {},

      showRemoveConfirm: false,
      removeUserTemp: {},

      removeSettingsTemp: {},
      showRemoveSettingsConfirm: false,
      tenants: [],

      newPath: '',
    }
  },
  computed: {
    ...mapState('sitewide', ['mongoUrl', 'userLoggedIn', 'loggedInUser']),
    filteredUserList() {
      return this.userList.filter(user => {
        return user.username !== 'admin' && (this.loggedInUser && this.loggedInUser.username !== user.username)
      })
    },
  },
  watch: {
    newPassword: function() {
      this.checkPasswordMatch()
    },
    newPassword2: function() {
      this.checkPasswordMatch()
    },
  },
  mounted() {
    this.getUsers()
    this.getTenants()
  },
  methods: {
    ...mapActions('sitewide', ['logWrite', 'toastMessage']),
    async makeNewPage() {
      try {
        const newSite = await this.$axios.$get(
          `${window.location.origin}/api/${this.newPath}/settings/createNewHardware`
        )
        if (newSite === 'New hardware created') {
          this.toastMessage(`${newSite} at ${window.location.origin}/${this.newPath}/tasks`)
          this.newPath = ''
          this.getTenants()
        } else {
          this.toastMessage(newSite)
        }
      } catch (error) {
        this.logWrite({
          logType: 'error',
          logItem: `AdminSettings.vue, getUsers()- ${error}`,
        })
      }
    },
    async getUsers() {
      try {
        this.userList = await this.$axios.$get(`${window.location.origin}/api/admin/user`)
        if (this.userLoggedIn) {
          for (let i = 0; i < this.userList.length; i++) {
            if (this.loggedInUser.username == this.userList[i].username) {
              this.$store.commit('sitewide/setLoggedInUser', this.userList[i])
              break
            }
          }
        }
      } catch (error) {
        this.logWrite({
          logType: 'error',
          logItem: `AdminSettings.vue, getUsers()- ${error}`,
        })
      }
    },
    checkIfUserExists() {
      for (let i = 0; i < this.userList.length; i++) {
        if (this.userList[i].username == this.newUser.username) {
          this.newUserError.push('This username is already used')
          break
        } else {
          while (this.newUserError.length) {
            this.newUserError.pop()
          }
        }
      }
    },
    checkUsers() {
      if (this.userList.length > 1) {
        const testUsers = this.userList.filter(
          user => user.username !== 'admin' && user.username !== this.loggedInUser.username
        )
        if (testUsers.length) {
          return false
        } else {
          return true
        }
      } else {
        return true
      }
    },
    checkPasswordMatch() {
      if (this.newPassword !== '' && this.newPassword2 !== '') {
        if (this.newPassword == this.newPassword2) {
          while (this.passwordError.length) {
            this.passwordError.pop()
          }
        } else {
          if (!this.passwordError.length) {
            this.passwordError.push('Passwords must match')
          }
        }
      }
    },
    cancelPasswordChange() {
      this.changePassword = false
      this.newPassword = ''
      this.newPassword2 = ''
      while (this.passwordError.length) {
        this.passwordError.pop()
      }
    },
    async savePasswordChange() {
      try {
        const changePass = await this.$axios.$put(`${window.location.origin}/api/admin/user/${this.loggedInUser._id}`, {
          username: this.loggedInUser.username,
          password: this.newPassword,
        })
        this.toastMessage(changePass)
        this.changePassword = false
        this.cancelPasswordChange()
      } catch (error) {
        this.logWrite({
          logType: 'error',
          logItem: `AdminSettings.vue, savePasswordChange()- ${error}`,
        })
      }
    },
    resetPassConfirm(user) {
      this.resetPassTempUser = user
      this.showResetPassConfirm = true
    },
    cancelReset() {
      this.resetPassTempUser = {}
      this.showResetPassConfirm = false
    },
    async resetPassword(user) {
      try {
        const resetPass = await this.$axios.$put(`${window.location.origin}/api/admin/user/${user._id}`, {
          techName: this.loggedInUser.username,
          username: user.username,
          password: 'Ocean123',
        })
        this.toastMessage(resetPass)
        this.toastMessage(`${user.username}'s password has been reset to "Ocean123"`)
        this.cancelReset()
      } catch (error) {
        this.logWrite({
          logType: 'error',
          logItem: `AdminSettings.vue, resetPassword()- ${error}`,
        })
      }
    },
    cancelEmailChange() {
      this.changeCurrentUserEmail = false
      this.newEmail = ''
    },
    async saveEmailChange() {
      try {
        const changeEmail = await this.$axios.$put(
          `${window.location.origin}/api/admin/user/${this.loggedInUser._id}`,
          {
            username: this.loggedInUser.username,
            email: this.newEmail,
          }
        )
        this.toastMessage(changeEmail)
        this.getUsers()
        this.cancelEmailChange()
      } catch (error) {
        this.logWrite({
          logType: 'error',
          logItem: `AdminSettings.vue, saveEmailChange()- ${error}`,
        })
      }
    },
    async addUser() {
      if (!this.newUserError.length) {
        try {
          this.newUser.password = 'Ocean123'
          this.newUser.techName = this.techName
          const result = await this.$axios.$post(`${window.location.origin}/api/admin/user`, this.newUser)
          this.getUsers()
          this.addUserShown = false
          this.newUser = {
            username: '',
            email: '',
          }
          this.toastMessage(result)
        } catch (error) {
          this.logWrite({
            logType: 'error',
            logItem: `AdminSettings.vue, addUser()- ${error}`,
          })
        }
      }
    },
    prepEditUser(user) {
      this.editUserObj = user
    },
    cancelEditUser() {
      this.editUserObj = {}
    },
    async editUser() {
      try {
        const editUserData = await this.$axios.$put(
          `${window.location.origin}/api/admin/user/${this.editUserObj._id}`,
          {
            techName: this.loggedInUser.username,
            username: this.editUserObj.username,
            email: this.editUserObj.email,
          }
        )
        this.toastMessage(editUserData)
        this.cancelEditUser()
      } catch (error) {
        this.logWrite({
          logType: 'error',
          logItem: `AdminSettings.vue, editUser()- ${error}`,
        })
      }
    },
    prepRemoveUser(user) {
      this.removeUserTemp = user
      this.showRemoveConfirm = true
    },
    cancelRemoveUser() {
      this.removeUserTemp = {}
      this.showRemoveConfirm = false
    },
    async removeUser() {
      try {
        const deleteUser = await this.$axios.$delete(
          `${window.location.origin}/api/admin/user/${this.removeUserTemp._id}`
        )
        this.showRemoveConfirm = false
        this.toastMessage(deleteUser.message)
        if (deleteUser.confirmed) {
          this.toastMessage(`${this.loggedInUser.username} has deleted ${this.removeUserTemp.username}`)
          this.cancelRemoveUser()
          this.getUsers()
        }
      } catch (error) {
        this.logWrite({
          logType: 'error',
          logItem: `AdminSettings.vue, removeUser()- ${error}`,
        })
      }
    },
    async getTenants() {
      try {
        this.tenants = await this.$axios.$get(`${window.location.origin}/api/tenants`)
      } catch (error) {
        this.logWrite({
          logType: 'error',
          logItem: `AdminSettings.vue, getTenants()- ${error}`,
        })
      }
    },
    prepRemoveSettings(tenant) {
      this.removeSettingsTemp = tenant
      this.showRemoveSettingsConfirm = true
    },
    cancelRemoveSettings() {
      this.removeSettingsTemp = {}
      this.showRemoveSettingsConfirm = false
    },
    async removeSettings() {
      try {
        const remove = await this.$axios.$delete(
          `${window.location.origin}/api/tenants/${this.removeSettingsTemp.mongoID}`
        )
        this.toastMessage(remove)
        this.toastMessage(`${this.loggedInUser.username} has removed ${this.removeSettingsTemp.friendlyName}`)
        this.cancelRemoveSettings()
        setTimeout(() => {
          this.getTenants()
        }, 2000)
      } catch (error) {
        this.logWrite({
          logType: 'error',
          logItem: `AdminSettings.vue, removeSettings()- ${error}`,
        })
      }
    },
    checkEnter() {
      this.login()
    },
    getSiteRoot() {
      return window.location.origin
    },
  },
}
</script>

<style scoped></style>
