<template>
  <div>
    <v-container fluid>
      <v-layout row wrap align-center justify-center>
        <v-flex class="text-center">
          <h3>Backup's Table</h3>
        </v-flex>
      </v-layout>
      <v-layout row wrap justify-space-around align-center>
        <v-flex class="text-center">
          <loader-button
            text="Create Manual Backup Now"
            @click.native="
              createBackup()
              getBackups()
            "
          ></loader-button>
        </v-flex>
        <v-flex>
          <v-layout row wrap justify-center align-center>
            <v-flex shrink justify-self-end>
              <h4>Days between automatic backups</h4>
            </v-flex>
            <v-flex shrink>
              <v-text-field
                v-model="daysPerBackup"
                autocomplete="off"
                class="width"
                readonly
                background-color="rgba(136, 136, 136, 0.3)"
                append-icon="add"
                prepend-inner-icon="remove"
                @click:append="incBackupDays"
                @click:prepend-inner="decBackupDays"
              ></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row justify-center align-center>
            <v-flex shrink justify-self-end>
              <h4>Number of backups to keep</h4>
            </v-flex>
            <v-flex shrink>
              <v-text-field
                v-model="numberOfBackupsToKeep"
                autocomplete="off"
                class="width"
                readonly
                background-color="rgba(136, 136, 136, 0.3)"
                append-icon="add"
                prepend-inner-icon="remove"
                @click:append="incBackups"
                @click:prepend-inner="decBackups"
              ></v-text-field>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>

      <v-layout row align-center justify-center>
        <v-flex xs11>
          <v-data-table :headers="headers" :items="existingBackups" sort-by="date" sort-desc class="elevation-1">
            <template v-slot:item.buttons="{ item }">
              <v-layout row wrap align-center justify-space-around>
                <v-flex shrink>
                  <loader-button
                    text="Download"
                    color="success"
                    @click.native="downloadBackup(item.date)"
                  ></loader-button>
                </v-flex>
                <v-flex shrink>
                  <loader-button text="Restore" @click.native="restoreConfirm(item.date)"></loader-button>
                </v-flex>
                <v-flex shrink>
                  <loader-button text="Delete" color="error" @click.native="deleteConfirm(item.date)"></loader-button>
                </v-flex>
              </v-layout>
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>

      <v-layout v-if="tenantMismatch" row align-center justify-center>
        <v-flex class="text-center warning">
          {{ tenantMismatch }}
        </v-flex>
      </v-layout>

      <v-layout row wrap align-center justify-center>
        <v-spacer />
        <v-flex xs4 class="text-center">
          <v-layout column align-center justify-center>
            <v-flex>
              <div>
                These button have the potential to collect a lot of file. This process could take a while. The download will begin when complete. 
              </div>
            </v-flex>
            <v-flex>
              <loader-button
                text="Download This Hardware's Attachments"
                :tipText="`Download a zip archive of everything for ${tenantId}`"
                tipLocation="top"
                :loading="preparingZipDownload"
                @click.native="downloadSupportDocs()"
              ></loader-button>
            </v-flex>
            <v-flex>
              <loader-button
                text="Download Archive of ALL Hardware"
                :tipText="`Download a zip archive of everything for the whole server`"
                color="success"
                :loading="preparingAllDownloads"
                @click.native="downloadAllBackups()"
              ></loader-button>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-spacer />
        <v-flex xs4 class="text-center">
          <upload-file
            ref="uploadBackup"
            inputId="backup"
            infoText="Upload a local backup to restore"
            :multiple="false"
            :apiPath="`${mongoUrl}files/upload/manualBackup/${todayFormatted()}?extract=true`"
            @fileUpload="restoreUploadedBackup"
          ></upload-file>
        </v-flex>
        <v-spacer />
      </v-layout>
    </v-container>

    <v-dialog v-model="restorePrompt" width="600">
      <v-card>
        <v-card-title class="headline">Confirm Database Restore</v-card-title>
        <v-divider></v-divider>
        <v-container fluid>
          <v-layout row align-center justify-center>
            <v-flex grow>
              <div class="text-center">
                <h4>Which data sets need to be restored?</h4>
                <div v-for="(json, index) in canRestore" :key="index">
                  <v-layout
                    v-if="json !== 'dbInfo' && json !== 'settings' && json !== 'users'"
                    row
                    justify-center
                    align-center
                  >
                    <v-flex shrink>
                      <v-switch v-model="willRestore" color="success" :label="json" :value="json"></v-switch>
                    </v-flex>
                  </v-layout>
                </div>
              </div>
              <v-divider></v-divider>
              <v-card-actions>
                <v-btn color="red darken-1" @click="restorePrompt = false">Cancel</v-btn>
                <v-spacer></v-spacer>
                <v-btn
                  color="green darken-1"
                  @click="
                    restorePrompt = false
                    restoreBackup(backupTemp)
                  "
                  >Restore Selected</v-btn
                >
              </v-card-actions>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
    </v-dialog>

    <v-dialog v-model="deletePrompt" width="600">
      <v-card>
        <v-card-title class="headline">Confirm Backup Delete</v-card-title>
        <v-divider></v-divider>
        <v-container fluid>
          <v-layout row align-center justify-center>
            <v-flex grow>
              <div class="text-center">
                <h4>
                  By clicking accept you confirm you want to delete this backup.
                  <br />
                  <b>THIS CANNOT BE UNDONE!</b>
                </h4>
              </div>
              <v-divider></v-divider>
              <v-card-actions>
                <v-btn color="red darken-1" @click="deletePrompt = false">Disagree</v-btn>
                <v-spacer></v-spacer>
                <v-btn
                  color="green darken-1"
                  @click="
                    deletePrompt = false
                    deleteBackup(backupTemp)
                  "
                  >Agree</v-btn
                >
              </v-card-actions>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import { format } from 'date-fns'
import UploadFile from '~/components/Utils/Upload.vue'

export default {
  components: {
    UploadFile,
  },
  props: [],
  data() {
    return {
      // variables
      restorePrompt: false,
      canRestore: [],
      willRestore: [],
      deletePrompt: false,
      backupTemp: '',

      tenantMismatch: '',

      backupUploadPath: '',
      preparingZipDownload: false,
      preparingAllDownloads: false,

      daysBetween: '',
      daysBetweenTimer: '',
      numberToKeep: '',
      numberToKeepTimer: '',
      // need to figure out how to download with the new log path or make a page for display/download
      logPath: '',

      headers: [
        {
          text: 'Backup Date (GMT)',
          value: 'date',
          align: 'center',
          sortable: true,
        },
        { text: '', value: 'buttons' },
      ],
    }
  },
  computed: {
    ...mapState('sitewide', ['mongoUrl', 'techName', 'tenantId']),
    ...mapState('settings', ['existingBackups', 'newestBackup', 'numberOfBackupsToKeep', 'daysPerBackup']),
  },
  watch: {
    daysPerBackup: function() {
      this.daysBetween = this.daysPerBackup
    },
    numberOfBackupsToKeep: function() {
      this.numberToKeep = this.numberOfBackupsToKeep
    },
  },
  mounted() {
    this.menuSelection('Settings')
    this.daysBetween = this.daysPerBackup
    this.numberToKeep = this.numberOfBackupsToKeep
  },
  methods: {
    ...mapActions('sitewide', ['toastMessage', 'logWrite', 'getSiteSettings', 'menuSelection']),
    ...mapActions('settings', ['getBackups', 'createBackup', 'trimBackups']),
    incBackups() {
      this.$store.commit('settings/incBackups')
      this.delayedSend()
    },
    decBackups() {
      this.$store.commit('settings/decBackups')
      this.delayedSend()
    },
    incBackupDays() {
      this.$store.commit('settings/incBackupDays')
      this.delayedSend()
    },
    decBackupDays() {
      this.$store.commit('settings/decBackupDays')
      this.delayedSend()
    },
    delayedSend() {
      clearTimeout(this.submitTimer)
      this.submitTimer = setTimeout(this.backupInterval, 2000)
    },
    todayFormatted() {
      return format(new Date(), 'yyyyMMdd')
    },
    async restoreConfirm(backup) {
      this.backupTemp = backup
      try {
        let restore
        if (Array.isArray(backup)) {
          restore = backup.map(item => item.substr(0, item.lastIndexOf('.')))
          this.canRestore = restore
          this.willRestore = restore
        } else {
          restore = await this.$axios.get(`${this.mongoUrl}backup/restore/${backup}`)
          this.canRestore = restore.data
          this.willRestore = restore.data
        }
        this.restorePrompt = true
      } catch (error) {
        this.logWrite({
          logType: 'error',
          logItem: `Backups.vue, restoreConfirm() - ${error}`,
        })
      }
    },
    deleteConfirm(backup) {
      this.backupTemp = backup
      this.deletePrompt = true
    },
    async backupInterval() {
      try {
        let backupIntervalChange = await this.$axios.$put(`${this.mongoUrl}settings`, {
          daysPerBackup: this.daysBetween,
          numBackupsToKeep: this.numberToKeep,
        })
        this.toastMessage(backupIntervalChange)
        this.getSiteSettings()
      } catch (error) {
        this.logWrite({
          logType: 'error',
          logItem: `Backups.vue, backupInterval - ${error}`,
        })
      }
    },
    async deleteBackup(backup) {
      try {
        let deleteBack = await this.$axios.$delete(`${this.mongoUrl}backup/${backup}`)
        this.toastMessage(deleteBack)
        this.getBackups()
      } catch (error) {
        this.logWrite({
          logType: 'error',
          logItem: `Backups.vue, deleteBackup- ${error}`,
        })
      }
    },
    async downloadBackup(backup) {
      try {
        window.open(`${this.mongoUrl}backup/download/${backup}`)
      } catch (error) {
        this.logWrite({
          logType: 'error',
          logItem: `Backups.vue, downloadBackup()- ${error}`,
        })
      }
    },
    async downloadSupportDocs() {
      try {
        this.preparingZipDownload = true
        let prepareZip = await this.$axios.$get(`${this.mongoUrl}backup/download/allAttachments?prepare=true`)
        if (prepareZip.zipPrepared) {
          window.open(`${this.mongoUrl}backup/download/allAttachments?zipPath=${prepareZip.zipPath}`)
          this.preparingZipDownload = false
        }
      } catch (error) {
        this.logWrite({
          logType: 'error',
          logItem: `Backups.vue, downloadBackup()- ${error}`,
        })
      }
    },
    async downloadAllBackups() {
      try {
        this.preparingAllDownloads = true
        let prepareZip = await this.$axios.$get(`${this.mongoUrl}backup/download/everything?prepare=true`)
        if (prepareZip.zipPrepared) {
          window.open(`${this.mongoUrl}backup/download/everything?zipPath=${prepareZip.zipPath}`)
          this.preparingAllDownloads = false
        }
      } catch (error) {
        this.logWrite({
          logType: 'error',
          logItem: `Backups.vue, downloadBackup()- ${error}`,
        })
      }
    },
    restoreUploadedBackup(file) {
      this.backupUploadPath = file.response.path
      this.restoreConfirm(file.response.fileList)
    },
    async restoreBackup(backup) {
      let restoreChoices = ''
      for (let i = 0; i < this.canRestore.length; i++) {
        if (!this.willRestore.includes(this.canRestore[i])) {
          restoreChoices = `${restoreChoices}&${this.canRestore[i]}=skip`
        }
      }
      try {
        let restoreBack = await this.$axios.$put(
          `${this.mongoUrl}backup/restore/${this.backupUploadPath ? 'uploaded' : backup}${
            restoreChoices.length > 1 ? `?${restoreChoices}` : '?'
          }${this.backupUploadPath ? `&path=${this.backupUploadPath}` : ''}`
        )
        if (restoreBack.includes('does not match')) {
          this.tenantMismatch = restoreBack
        }
        this.toastMessage(!restoreBack.includes('does not match') ? `${this.techName} has ${restoreBack}` : restoreBack)
        if (this.backupUploadPath) {
          let deleteTemp = await this.$axios.$delete(`${this.mongoUrl}backup?path=manualBackup`)
          this.toastMessage(deleteTemp)
          this.$refs.uploadBackup.clearList()
          this.backupUploadPath = ''
        }
      } catch (error) {
        this.logWrite({
          logType: 'error',
          logItem: `Backups.vue, restoreBackup()- ${error}`,
        })
      }
    },
  },
}
</script>

<style scoped>
.width {
  display: inline-block;
  width: 75px;
  text-align: center;
}
</style>
