<template>
  <div>
    <v-container fluid>
      <v-layout column justify-center align-center>
        <v-flex shrink>
          <h3>Auto Email Settings</h3>
          <br />
        </v-flex>
      </v-layout>
      <v-layout row wrap align-center justify-center>
        <v-flex xs11>
          <v-simple-table fixed-header>
            <template #default>
              <thead>
                <tr>
                  <th class="text-center">Name</th>
                  <th class="text-center">Auto Email Frequency (Days)</th>
                  <th class="text-center">
                    <h3>Date Last Sent</h3>
                    (Test Sends Not Included)
                    <hr />
                    <h3>Next Send Date</h3>
                  </th>
                  <th></th>
                </tr>
              </thead>
              <tbody v-if="newAutoEmailOptions">
                <tr
                  v-for="(autoEmail, name) in newAutoEmailOptions"
                  :key="name"
                  class="text-center"
                >
                  <td>{{ autoEmail.name }}</td>
                  <td>
                    <v-text-field
                      v-if="autoEmail.name !== 'Site Version Updates'"
                      v-model="newAutoEmailOptions[name].daysBetweenAuto"
                      autocomplete="off"
                      class="numBlock"
                      readonly
                      background-color="rgba(136, 136, 136, 0.3)"
                      append-icon="add"
                      prepend-inner-icon="remove"
                      @click:append="incDays(name)"
                      @click:prepend-inner="decDays(name)"
                    ></v-text-field>
                  </td>
                  <td>
                    <base-format-date
                      :ISOdate="autoEmail.dateLastSent"
                    ></base-format-date>
                    <hr />
                    <base-format-date
                      v-if="autoEmail.name !== 'Site Version Updates'"
                      :ISOdate="
                        nextDay(
                          autoEmail.dateLastSent,
                          newAutoEmailOptions[name].daysBetweenAuto,
                          autoEmail.manualNextSend
                            ? autoEmail.manualNextSend
                            : undefined
                        )
                      "
                    ></base-format-date>
                  </td>
                  <td v-if="!autoEmail.enabled">
                    <h3>Currently Disabled</h3>
                    <h4>Add days to enable</h4>
                  </td>
                  <td v-else>
                    <v-container grid-list-md>
                      <v-layout row wrap align-center justify-space-around>
                        <v-flex v-if="name === 'taskExport'" shrink>
                          <loader-button
                            text="Set search criteria"
                            @click.native="showTaskExports = true"
                          ></loader-button>
                        </v-flex>
                        <v-flex shrink>
                          <loader-button
                            text="Configure/Test"
                            color="success"
                            tipText="Configure who this email goes to or send a test"
                            @click.native="showPopupDetails(autoEmail)"
                          ></loader-button>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-flex>
      </v-layout>
    </v-container>

    <base-form-dialog
      width="800"
      :active="showEmailSetup"
      title="Set Email Options"
      @close="closeSetup"
    >
      <v-container fluid grid-list-lg>
        <v-layout column align-center justify-center>
          <v-flex>
            <h3 class="text-center">
              Email Options for
              <span class="warning--text">{{ emailSetup.name }}</span>
            </h3>
          </v-flex>
          <v-flex>
            <h4>
              Email addresses maybe entered directly as "john@doe.com" or with
              an attached name such as <br />
              "John Doe &lt;john@doe.com&gt;". This only changes the way the
              address appears on the received side.
            </h4>
          </v-flex>
        </v-layout>
        <v-layout row wrap align-center justify-center>
          <v-flex>
            <v-text-field
              v-model="emailSetup.emailSubject"
              outlined
              dense
              label="Email Subject"
              hint="this will have the site's friendly name from the site settings added automatically"
            ></v-text-field>
          </v-flex>
        </v-layout>
        <v-layout row wrap align-center justify-center>
          <v-flex>
            <combo-box
              v-model="emailSetup.emailTo"
              :existingValue="emailSetup.emailTo"
              :items="existingEmails"
              multiple
              chips
              dense
              label="To"
              @focus="getExistingEmails"
            ></combo-box>
          </v-flex>
        </v-layout>
        <v-layout row wrap align-center justify-center>
          <v-flex>
            <combo-box
              v-model="emailSetup.emailCC"
              :existingValue="emailSetup.emailCC"
              :items="existingEmails"
              multiple
              chips
              dense
              label="CC"
              @focus="getExistingEmails"
            ></combo-box>
          </v-flex>
        </v-layout>
        <v-layout row wrap align-center justify-center>
          <v-flex>
            <combo-box
              v-model="emailSetup.emailBCC"
              :existingValue="emailSetup.emailBCC"
              :items="existingEmails"
              multiple
              chips
              dense
              label="BCC"
              @focus="getExistingEmails"
            ></combo-box>
          </v-flex>
        </v-layout>

        <v-layout
          v-if="
            !showManualNextSend && emailSetup.name !== 'Site Version Updates'
          "
          row
          wrap
          align-center
          justify-center
        >
          <v-flex shrink>
            <loader-button
              text="Set manual date for next send"
              color="warning"
              @click.native="showManualNextSend = true"
            ></loader-button>
          </v-flex>
        </v-layout>
        <v-layout
          v-else-if="
            showManualNextSend && emailSetup.name !== 'Site Version Updates'
          "
          column
          align-center
          justify-center
        >
          <v-flex shrink>
            <span class="text-center"
              >You may manually set a date for the email to be sent next. If you
              do so the email will then pick up from that date and send based on
              the set interval moving forward from there.
            </span>
          </v-flex>
          <v-flex shrink>
            <date-input
              v-model="manualNextSend"
              label="Send next auto email on..."
              :min="new Date().toISOString()"
            />
          </v-flex>
          <v-flex shrink>
            <loader-button
              text="Cancel Manual Date"
              color="error"
              @click.native="
                showManualNextSend = false
                manualNextSend = ''
              "
            ></loader-button>
          </v-flex>
        </v-layout>

        <v-layout
          v-if="emailSetup.name !== 'Site Version Updates'"
          row
          wrap
          align-center
          justify-center
        >
          <v-flex shrink>
            <loader-button
              text="Test by sending to all addresses"
              :loading="testSend"
              @click.native="sendEmailNow(emailSetup)"
            ></loader-button>
            <br />
            <br />
          </v-flex>
        </v-layout>
        <v-layout
          v-if="emailSetup.name !== 'Site Version Updates'"
          row
          wrap
          align-center
          justify-center
        >
          <v-flex shrink>
            <v-text-field
              v-model="testEmail"
              v-validate="'email'"
              autocomplete="off"
              :error-messages="errors.first('test address')"
              data-vv-name="test address"
              name="test address"
              outlined
              dense
              hide-details
              label="Test Email Address"
              type="email"
            ></v-text-field>
          </v-flex>
          <v-flex shrink>
            <loader-button
              :disabled="checkErrors('test address')"
              text="Send test to only one email address"
              :loading="testSend"
              color="success"
              @click.native="sendEmailNow(emailSetup, testEmail)"
            ></loader-button>
          </v-flex>
        </v-layout>
        <v-layout row wrap align-center justify-space-around>
          <v-flex>
            <br />
          </v-flex>
        </v-layout>
        <v-layout v-if="testSend" row wrap align-center justify-center>
          <v-flex shrink>
            <h4>
              Preparing attachments (if required) and attempting to send
              email...
            </h4>
          </v-flex>
        </v-layout>
        <v-layout row wrap align-center justify-space-around>
          <v-flex shrink>
            <loader-button
              text="Cancel"
              color="warning"
              @click.native="closeSetup"
            ></loader-button>
          </v-flex>
          <v-flex shrink>
            <loader-button
              text="Save"
              color="success"
              @click.native="saveSetup"
            ></loader-button>
          </v-flex>
        </v-layout>
      </v-container>
    </base-form-dialog>

    <base-form-dialog
      :active="showTaskExports"
      title="Export Task Completions"
      width="900"
      @close="showTaskExports = false"
    >
    <v-layout column align-center justify-space-around>
      <v-flex class="text-center" grow>
        <h4>This file will be emailed as well as copied to a folder named taskExportCopies within the docker folder structure.</h4>
      </v-flex>
      <v-flex>
        <previous-completions
          ref="completions"
          :emailExport="true"
          :searchDataProp="
            Object.keys(newAutoEmailOptions.taskExport.searchCriteria).length
              ? newAutoEmailOptions.taskExport.searchCriteria
              : {}
          "
          @exportFilePrepared="attachFile()"
          @close="showTaskExports = false"
        ></previous-completions>
      </v-flex>
    </v-layout>

    </base-form-dialog>
  </div>
</template>

<script>
import PreviousCompletions from '../Exports/ExportPreviousCompletions'
import ComboBox from '~/components/Utils/BaseCombobox.vue'
import DateInput from '../Utils/DateInputField.vue'
import { mapActions, mapState } from 'vuex'
import { toOrder } from '../../api/utils/emailTemplates.js'
import { format, addDays, parseISO, max } from 'date-fns/esm'
import { zonedTimeToUtc } from 'date-fns-tz'

export default {
  components: {
    PreviousCompletions,
    ComboBox,
    DateInput,
  },
  props: [],
  data() {
    return {
      newAutoEmailOptions: {
        taskExport: {
          searchCriteria: {},
        },
      },

      showTaskExports: false,
      showEmailSetup: false,
      showNextSendCal: false,
      showManualNextSend: false,

      manualNextSend: '',

      emailSetup: {},
      testEmail: '',

      testSend: false,

      blankSetup: {
        name: '',
        emailSubject: '',
        emailTo: [],
        emailCC: [],
        emailBCC: [],
      },

      existingEmails: [],

      submitTimer: '',

      buildingExport: false,

      prevOutputColumnsForExcel: [
        {
          key: 'taskID',
          header: 'ID',
          width: 10,
        },
        {
          key: 'taskName',
          header: 'Task Name',
          width: 40,
        },
        {
          key: 'dateCompleted',
          type: 'date',
          header: 'Date Completed',
          width: 15,
        },
        {
          key: 'hourCompleted',
          header: 'Hour Completed',
          width: 15,
        },
        {
          key: 'techName',
          header: 'Tech Name',
          width: 15,
        },
      ],
    }
  },
  computed: {
    ...mapState('sitewide', [
      'mongoUrl',
      'techName',
      'promptTechName',
      'autoEmailOptions',
      'friendlyName',
    ]),
    ...mapState('settings', ['existingBackups']),
  },
  watch: {
    autoEmailOptions: function () {
      this.newAutoEmailOptions = JSON.parse(
        JSON.stringify(this.autoEmailOptions)
      )
    },
  },
  mounted() {
    this.getBackups()
    this.emailSetup = this.blankSetup
    this.newAutoEmailOptions = JSON.parse(JSON.stringify(this.autoEmailOptions))
  },
  methods: {
    ...mapActions('sitewide', ['logWrite', 'toastMessage', 'getSiteSettings']),
    ...mapActions('settings', ['getBackups']),
    nextDay(date, days, nextSet = false) {
      if (nextSet) {
        return nextSet
      } else if (date && days) {
        return addDays(parseISO(date), days)
      } else {
        return ''
      }
    },
    async getExistingEmails() {
      try {
        this.existingEmails = await this.$axios.$get(
          `${this.mongoUrl}settings/email`
        )
      } catch (error) {
        this.toastMessage('An error occurred, see log for details')
        this.logWrite({
          logType: 'error',
          logItem: error,
        })
      }
    },
    incDays(object) {
      this.newAutoEmailOptions[object].daysBetweenAuto++
      this.newAutoEmailOptions[object].daysBetweenAuto > 0
        ? (this.newAutoEmailOptions[object].enabled = true)
        : null
      this.delayedSend()
    },
    decDays(object) {
      this.newAutoEmailOptions[object].daysBetweenAuto
        ? this.newAutoEmailOptions[object].daysBetweenAuto--
        : (this.newAutoEmailOptions[object].daysBetweenAuto = 0)
      this.newAutoEmailOptions[object].daysBetweenAuto === 0
        ? (this.newAutoEmailOptions[object].enabled = false)
        : null
      this.delayedSend()
    },
    delayedSend() {
      clearTimeout(this.submitTimer)
      this.submitTimer = setTimeout(() => {
        this.saveSetup(undefined, true)
      }, 2000)
    },
    checkErrors(check) {
      if (this.errors && this.errors.items.length && this.testEmail) {
        return this.errors.items.map((error) => error.field).includes(check)
      } else if (this.testEmail) {
        return false
      } else {
        return true
      }
    },
    showPopupDetails(autoEmail) {
      this.emailSetup = autoEmail
      this.showEmailSetup = true
      if (autoEmail.manualNextSend) {
        this.manualNextSend = format(
          parseISO(autoEmail.manualNextSend),
          'yyyy-MM-dd'
        )
        this.showManualNextSend = true
      }
    },
    closeSetup() {
      this.emailSetup = this.blankSetup
      this.manualNextSend = ''
      this.showManualNextSend = false
      this.showEmailSetup = false
    },
    async saveSetup(event, updatedDays = false) {
      try {
        let settingsObjectName = ''
        if (updatedDays) {
          Object.keys(this.newAutoEmailOptions).forEach((key) => {
            if (
              !this.autoEmailOptions[key].daysBetweenAuto &&
              this.newAutoEmailOptions[key].daysBetweenAuto
            ) {
              this.newAutoEmailOptions[key].manualNextSend = addDays(
                zonedTimeToUtc(new Date()),
                this.newAutoEmailOptions[key].daysBetweenAuto
              )
            }
          })
          let updateAutoDays = await this.$axios.$put(
            `${this.mongoUrl}settings/email?updateWholeObject=true`,
            this.newAutoEmailOptions
          )
          this.toastMessage(updateAutoDays)
          this.getSiteSettings()
        } else if (Object.keys(this.emailSetup).length) {
          switch (this.emailSetup.name) {
            case 'To Order':
              settingsObjectName = 'toOrder'
              break
            case 'Task Export':
              settingsObjectName = 'taskExport'
              break
            case 'Offsite Backups (Database Only)':
              settingsObjectName = 'offsiteBackup'
              break
            case 'Site Version Updates':
              settingsObjectName = 'siteUpdate'
              break
            default:
              break
          }

          this.manualNextSend
            ? (this.emailSetup.manualNextSend = this.manualNextSend)
            : (this.emailSetup.manualNextSend = null)

          //? Added timeout to allow the time for the array to be updated before the data gets sent to the backend.
          //? Without it changes are not always registered properly
          setTimeout(async () => {
            let updateEmail = await this.$axios.$put(
              `${this.mongoUrl}settings/email`,
              {
                update: this.emailSetup,
                objectName: settingsObjectName,
              }
            )

            settingsObjectName = ''

            this.toastMessage(updateEmail)
            this.getSiteSettings()
            this.closeSetup()
          }, 500)
        }
      } catch (error) {
        this.toastMessage('An error occurred, see log for details')
        this.logWrite({
          logType: 'error',
          logItem: error,
        })
      }
    },
    async createExcelSheet(prevList) {
      return new Promise(async (resolve, reject) => {
        this.buildingExport = true
        const sheetData = {
          filename: 'Auto Export of Task Completions',
          worksheetTitle: 'Completions',
          columns: this.prevOutputColumnsForExcel,
          data: prevList,
        }
        try {
          const prevExportRes = await this.$axios.$post(
            `${this.mongoUrl}excel/export?encodeFiles=true`,
            sheetData
          )
          if (prevExportRes.success) {
            this.buildingExport = false
            resolve(prevExportRes)
          }
        } catch (error) {
          reject(error)
          this.buildingExport = false
          this.toastMessage(
            `There was an error building the export spreadsheet, see log for details`
          )
          this.logWrite({
            logType: 'error',
            logItem: `Emails.vue, createExcelSheet() - ${error}`,
          })
        }
      })
    },
    async sendEmailNow(emailObject, singleEmail = false) {
      try {
        this.testSend = true
        let html = ''
        let data = []
        let attachments = []

        let modifiedSubject = emailObject.emailSubject
          ? `${emailObject.emailSubject} (${this.friendlyName})-TEST EMAIL`
          : () => {
              return { error: true, message: 'No subject line specified' }
            }

        emailObject.emailTo.length
          ? null
          : () => {
              return { error: true, message: 'No To: recipient specified' }
            }

        switch (emailObject.name) {
          case 'To Order':
            data = await this.$axios.$get(`${this.mongoUrl}toorder`)
            html = toOrder(data)
            break
          case 'Task Export':
            html =
              '<h3>This is a successful test email. If this was a scheduled email then it would be accompanied by an attachment of task completions in an excel sheet.</h3>'
            break
          case 'Offsite Backups (Database Only)':
            data = await this.$axios.$get(
              `${this.mongoUrl}backup/download/${format(
                max(this.existingBackups.map((date) => parseISO(date.date))),
                'yyyy-MM-dd'
              )}?encodeBackup=true`
            )
            attachments.push({
              filename: data.filename,
              content: data.base64,
              encoding: 'base64',
            })
            html = '<h3>See Attached for the database backup</h3>'
            break
          default:
            break
        }

        let toSend = {
          subject: modifiedSubject,
          to: singleEmail ? singleEmail : emailObject.emailTo,
          cc: singleEmail ? undefined : emailObject.emailCC,
          bcc: singleEmail ? undefined : emailObject.emailBCC,
          // text: text, // plain text body
          html: html, // html body
          attachments: attachments,
        }

        const emailRes = await this.$axios.$post(
          `${this.mongoUrl}mailer`,
          toSend
        )
        if (emailRes.devRes) {
          this.toastMessage(
            'Due to dev mode most to, cc, and bcc addresses were stripped. See raw response for details'
          )
          this.testSend = false
        } else if (emailRes && (emailRes.accepted || emailRes.rejected)) {
          this.logWrite(
            `${name} email sent. Successfully sent to ${
              emailRes.accepted
            } and Failed attempting to send to ${
              emailRes.rejected.length ? emailRes.rejected : '0 recipients'
            }`
          )
          this.toastMessage(
            `Email sent to ${emailRes.accepted.length} email addresses`
          )
          this.testSend = false
        } else {
          this.toastMessage(
            'Something really odd happened and no email was sent. Submit bug report if this continues'
          )
          this.testSend = false
        }
      } catch (error) {
        this.toastMessage('An error occurred, see log for details')
        this.logWrite({
          logType: 'error',
          logItem: error,
        })
        this.testSend = false
      }
    },
  },
}
</script>

<style scoped>
.numBlock {
  display: inline-block;
  width: 80px;
  color: #000000;
}
</style>
