<template>
  <div>
    <v-container fluid>
      <v-layout column wrap align-center justify-center>
        <v-flex shrink>
          <h3>This is the page where you can change the default and max values for the hose registry</h3>
          <br />
        </v-flex>
        <v-flex shrink>
          <v-layout row wrap align-center justify-center>
            <v-flex shrink>
              <h3>
                Default
                <strong>inspection</strong> period to insert on new hose creation:
              </h3>
            </v-flex>
            <v-flex shrink class="pl-5">
              <v-autocomplete
                v-model="defaultInspection"
                autocomplete="off"
                outlined
                :items="frequencyOptions"
                @input="defaultInspectionEdit = true"
              ></v-autocomplete>
            </v-flex>
            <v-flex v-if="defaultInspectionEdit" shrink class="pb-8 pl-10">
              <loader-button
                text="Save"
                @click.native="saveDefaults()"
              ></loader-button>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex shrink>
          <v-layout row wrap align-center justify-center>
            <v-flex shrink>
              <h3>
                Maximum allowed
                <strong>inspection</strong> period for a hose:
              </h3>
            </v-flex>
            <v-flex shrink class="pl-5">
              <v-autocomplete
                v-model="maxInspection"
                autocomplete="off"
                outlined
                :items="frequencyOptions"
                @input="maxInspectionEdit = true"
              ></v-autocomplete>
            </v-flex>
            <v-flex v-if="maxInspectionEdit" shrink class="pb-8 pl-10">
              <loader-button text="Save" @click.native="saveDefaults()"></loader-button>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex shrink>
          <v-layout row wrap align-center justify-center>
            <v-flex shrink>
              <h3>
                Default
                <strong>change</strong> period to insert on new hose creation:
              </h3>
            </v-flex>
            <v-flex shrink class="pl-5">
              <v-autocomplete
                v-model="defaultChange"
                autocomplete="off"
                outlined
                :items="frequencyOptions"
                @input="defaultChangeEdit = true"
              ></v-autocomplete>
            </v-flex>
            <v-flex v-if="defaultChangeEdit" shrink class="pb-8 pl-10">
              <loader-button text="Save" @click.native="saveDefaults()"></loader-button>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex shrink>
          <v-layout row wrap align-center justify-center>
            <v-flex shrink>
              <h3>
                Maximum allowed
                <strong>change</strong> period for a hose:
              </h3>
            </v-flex>
            <v-flex shrink class="pl-5">
              <v-autocomplete
                v-model="maxChange"
                autocomplete="off"
                outlined
                :items="frequencyOptions"
                @input="maxChangeEdit = true"
              ></v-autocomplete>
            </v-flex>
            <v-flex v-if="maxChangeEdit" shrink class="pb-8 pl-10">
              <loader-button text="Save" @click.native="saveDefaults()"></loader-button>
            </v-flex>
          </v-layout>
        </v-flex>
        <div v-if="batchChange" class="text-center">
          <v-flex shrink>
            <h4>
              Change the current interval on all hoses that currently have a certain value to an alternate value. This
              is most useful is you have a change in policy to inspect/change hoses on a more or less frequent basis.
              All those currently at a certain value will not have to be changed one by one.
            </h4>
          </v-flex>
          <v-flex shrink>
            <v-layout row wrap align-center justify-center>
              <v-flex shrink>
                <h3>Change</h3>
              </v-flex>
              <v-flex shrink class="pl-5 pr-5">
                <v-select
                  v-model="batchChangeObject.selection"
                  :items="batchOptions"
                  label="Selection"
                  autocomplete="off"
                  outlined
                ></v-select>
              </v-flex>
              <v-flex shrink>
                <h3>from</h3>
              </v-flex>
              <v-flex shrink class="pl-5 pr-5">
                <v-select
                  v-model="batchChangeObject.oldValue"
                  :items="frequencyOptions"
                  label="Old Value"
                  autocomplete="off"
                  outlined
                ></v-select>
              </v-flex>
              <v-flex shrink>
                <h3>to</h3>
              </v-flex>
              <v-flex shrink class="pl-5 pr-5">
                <v-select
                  v-model="batchChangeObject.newValue"
                  :items="frequencyOptions"
                  label="New Value"
                  autocomplete="off"
                  outlined
                ></v-select>
              </v-flex>
              <v-flex shrink class="pb-8 pl-10">
                <loader-button
                  text="Save"
                  :disabled="!batchChangeObject.selection || !batchChangeObject.oldValue || !batchChangeObject.newValue"
                  @click.native="batchChangeSave()"
                ></loader-button>
              </v-flex>
            </v-layout>
          </v-flex>
        </div>
        <v-flex shrink>
          <loader-button
            :text="batchChange ? 'Cancel Batch Change' : 'Batch Hose Change'"
            :color="batchChange ? 'warning' : 'error'"
            @click.native="toggleBatchChange"
          ></loader-button>
        </v-flex>
        <v-flex shrink>
          <v-layout row wrap align-center justify-center>
            <v-flex shrink>
              <h3>Maximum hose size that can be made with the hardware on site:</h3>
            </v-flex>
            <v-flex shrink class="pl-5">
              <v-autocomplete
                v-model="maxHoseSizeMadeOnSite"
                autocomplete="off"
                outlined
                :items="hoseDefaultsForMax"
                :loading="hoseLoading"
                @input="maxHoseSizeMadeOnSiteEdit = true"
              ></v-autocomplete>
            </v-flex>
            <v-flex v-if="maxHoseSizeMadeOnSiteEdit" shrink class="pb-8 pl-10">
              <loader-button
                text="Save"
                @click.native="saveDefaults()"
              ></loader-button>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>

      <v-layout row wrap align-center justify-center>
        <v-flex shrink>
          <h3>Select the hose size you would like to change values on</h3>
        </v-flex>
        <v-flex shrink class="pl-5">
          <v-select
            v-model="selectedHose"
            outlined
            :items="hoseDefaults"
            :loading="hoseLoading"
            @input="
              hoseInfoEdit = true
              newDefaultHose = false
            "
          ></v-select>
        </v-flex>
        <v-flex v-if="!newDefaultHose" shrink class="pb-8 pl-4">
          <loader-button
            icon="add"
            iconOnly
            tipText="Create a new hose to add to the list"
            @click.native="
              newDefaultHose = true
              hoseInfoEdit = false
            "
          ></loader-button>
        </v-flex>
      </v-layout>
      <v-layout v-if="selectedHose !== '' && hoseInfoEdit" row wrap align-center justify-space-around class="pa-10">
        <v-flex v-for="(hose, index) in fieldsToShow" :key="index">
          {{ hose.text }}
          <v-text-field v-model="selectedObject[hose.value]" outlined></v-text-field>
        </v-flex>
      </v-layout>
      <v-layout row wrap align-center justify-center></v-layout>
      <v-layout v-if="newDefaultHose" row wrap justify-center align-center>
        <v-flex shrink>
          <v-text-field v-model="newDefault.value" label="Dash value of hose" outlined placeholder="4"></v-text-field>
        </v-flex>
        <v-flex shrink>
          <v-text-field v-model="newDefault.text" label="Text Label" outlined placeholder="1/4 (-4)"></v-text-field>
        </v-flex>
        <v-flex shrink>
          <v-text-field
            v-model="newDefault.hosePartNumber"
            label="Hose Part Number"
            outlined
            placeholder="471TC-4"
          ></v-text-field>
        </v-flex>
        <v-flex shrink>
          <v-text-field
            v-model="newDefault.hosePressureRating"
            label="Hose Pressure Rating"
            outlined
            placeholder="5000"
          ></v-text-field>
        </v-flex>
        <v-flex shrink>
          <v-text-field
            v-model="newDefault.hoseFitting"
            label="Fitting Part Number"
            outlined
            placeholder="10643-4-4C"
          ></v-text-field>
        </v-flex>
      </v-layout>

      <v-layout v-if="hoseInfoEdit && !newDefaultHose" row wrap align-center justify-space-around>
        <v-spacer></v-spacer>
        <v-flex shrink>
          <loader-button text="Cancel" color="warning" @click.native="hoseInfoEdit = false"></loader-button>
        </v-flex>
        <v-spacer></v-spacer>
        <v-flex shrink>
          <loader-button text="Save" color="success" @click.native="saveHoseDefaults(selectedObject)"></loader-button>
        </v-flex>
        <v-spacer></v-spacer>
      </v-layout>

      <v-layout v-if="!hoseInfoEdit && newDefaultHose" row wrap align-center justify-space-around>
        <v-spacer></v-spacer>
        <v-flex shrink>
          <loader-button text="Cancel" color="warning" @click.native="cancelNew()"></loader-button>
        </v-flex>
        <v-spacer></v-spacer>
        <v-flex shrink>
          <loader-button
            text="Save"
            color="success"
            @click.native="saveNewHoseDefaults(selectedObject)"
          ></loader-button>
        </v-flex>
        <v-spacer></v-spacer>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  components: {},
  props: [],
  data() {
    return {
      fieldsToShow: [
        {
          value: 'value',
          text: 'Dash Size of Fitting',
        },
        {
          value: 'text',
          text: 'Display Text',
        },
        {
          value: 'hosePressureRating',
          text: 'Pressure Rating',
        },
        {
          value: 'hosePartNumber',
          text: 'Part number for raw hose',
        },
        {
          value: 'hoseFitting',
          text: 'Hose fitting part number',
        },
      ],
      hoseDefaults: [],
      hoseLoading: false,

      frequencyOptions: [],

      selectedHose: '',
      selectedObject: {},

      hoseIntervals: [],

      defaultInspectionEdit: false,
      maxInspectionEdit: false,
      defaultChangeEdit: false,
      maxChangeEdit: false,
      maxHoseSizeMadeOnSiteEdit: false,
      hoseInfoEdit: false,

      newDefaultHose: false,
      newDefault: {
        value: '',
        text: '',
        hosePressureRating: '',
        hosePartNumber: '',
        hoseFitting: '',
      },

      batchChange: false,
      batchOptions: [
        {
          text: 'Inspection Interval',
          value: 'inspectionInterval',
        },
        {
          text: 'Change Interval',
          value: 'changeInterval',
        },
      ],
      batchChangeObjectBlank: {
        selection: '',
        oldValue: '',
        newValue: '',
        techName: '',
      },
      batchChangeObject: {},
    }
  },
  computed: {
    ...mapState('sitewide', [
        'mongoUrl',
        'techName',
        'promptTechName'
      ]),
    defaultInspection: {
      get() {
        return this.$store.state.sitewide.defaultInspection
      },
      set(value) {
        this.$store.commit('sitewide/setDefaultInspection', value)
      }
    },
    maxInspection: {
      get() {
        return this.$store.state.sitewide.maxInspection
      },
      set(value) {
        this.$store.commit('sitewide/setMaxInspection', value)
      }
    },
    defaultChange: {
      get() {
        return this.$store.state.sitewide.defaultChange
      },
      set(value) {
        this.$store.commit('sitewide/setDefaultChange', value)
      }
    },
    maxChange: {
      get() {
        return this.$store.state.sitewide.maxChange
      },
      set(value) {
        this.$store.commit('sitewide/setMaxChange', value)
      }
    },
    maxHoseSizeMadeOnSite: {
      get() {
        return this.$store.state.sitewide.maxHoseSizeMadeOnSite
      },
      set(value) {
        this.$store.commit('sitewide/setMaxHoseSizeMadeOnSite', value)
      }
    },
    hoseDefaultsForMax() {
      let temp = [...this.hoseDefaults]
      temp.splice(0, 0, { text: 'NONE', value: '0' })
      return temp
    },
  },
  watch: {
    selectedHose: async function() {
      try {
        this.selectedObject = await this.$axios.$get(`${this.mongoUrl}hoses/defaults/${this.selectedHose}`)
      } catch (error) {
        this.toastMessage('An Error occurred, see log for details')
        this.logWrite({
          logType: 'error',
          logItem: error,
        })
      }
    },
  },
  mounted() {
    this.getFrequencyOptions()
    this.getHoseIntervals()
    this.getHoseDefaults()
    this.batchChangeObject = this.batchChangeObjectBlank
  },
  methods: {
    ...mapActions('sitewide', ['logWrite', 'toastMessage', 'getSiteSettings']),
    async getHoseDefaults() {
      try {
        this.hoseDefaults = await this.$axios.$get(`${this.mongoUrl}hoses/defaults`)
      } catch (error) {
        this.toastMessage('An Error occurred, see log for details')
        this.logWrite({
          logType: 'error',
          logItem: error,
        })
      }
    },
    async getHoseIntervals() {
      this.getSiteSettings()
    },
    async getFrequencyOptions() {
      try {
        this.frequencyOptions = await this.$axios.$get(`${this.mongoUrl}settings/frequencyOptions`)
      } catch (error) {
        this.toastMessage('An Error occured, see log for details')
        this.logWrite({
          logType: 'error',
          logItem: error,
        })
      }
    },
    async saveDefaults() {
      //? Change the variables in the database per selection
      if (this.techName === '') {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        try {
          let update = await this.$axios.$put(`${this.mongoUrl}settings`, {
              defaultInspection: this.defaultInspection,
              maxInspection: this.maxInspection,
              defaultChange:  this.defaultChange,
              maxChange:  this.maxChange,
              maxHoseSizeMadeOnSite:  this.maxHoseSizeMadeOnSite,
            })
          this.defaultInspectionEdit = false
          this.maxInspectionEdit = false
          this.defaultChangeEdit = false
          this.maxChangeEdit = false
          this.maxHoseSizeMadeOnSiteEdit = false
          this.toastMessage(update)
          this.getHoseIntervals()
        } catch (error) {
          this.toastMessage('An Error occured, see log for details')
          this.logWrite({
            logType: 'error',
            logItem: error,
          })
        }

      }
    },
    async saveHoseDefaults(hoseObject) {
      if (this.techName === '') {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        hoseObject.techName = this.techName
        try {
          let update = await this.$axios.$put(`${this.mongoUrl}hoses/defaults/${hoseObject._id}`, hoseObject)
          this.hoseInfoEdit = false
          this.selectedHose = ''
          this.getHoseDefaults()
          this.toastMessage(update)
        } catch (error) {
          this.toastMessage('An Error occured, see log for details')
          this.logWrite({
            logType: 'error',
            logItem: error,
          })
        }
      }
    },
    async saveNewHoseDefaults() {
      if (this.techName === '') {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        this.newDefault.techName = this.techName
        try {
          let update = await this.$axios.$post(`${this.mongoUrl}hoses/defaults/`, this.newDefault)
          this.toastMessage(update)
          this.cancelNew()
          this.getHoseDefaults()
        } catch (error) {
          this.toastMessage('An Error occured, see log for details')
          this.logWrite({
            logType: 'error',
            logItem: error,
          })
        }
      }
    },
    toggleBatchChange(e, updated) {
      if (updated) {
        this.batchChange = false
      } else {
        this.batchChange = !this.batchChange
      }
      if (!this.batchChange) this.batchChangeObject = this.batchChangeObjectBlank
    },
    async batchChangeSave() {
      if (this.techName === '') {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        this.batchChangeObject.techName = this.techName
        try {
          let batchUpdate = await this.$axios.$put(`${this.mongoUrl}hoses/batch/?interval=true`, this.batchChangeObject)
          this.toastMessage(batchUpdate)
          this.toggleBatchChange(undefined, true)
        } catch (error) {
          this.toastMessage('An Error occured, see log for details')
          this.logWrite({
            logType: 'error',
            logItem: error,
          })
        }
      }
    },
    cancelNew() {
      this.newDefault = {
        value: '',
        text: '',
        hosePressureRating: '',
        hosePartNumber: '',
        hoseFitting: '',
      }
      this.newDefaultHose = false
    },
  },
}
</script>

<style scoped></style>
