<template>
  <v-container fluid grid-list-md>
    <v-layout row align-center justify-center>
      <v-tabs centered grow>
        <v-tab>Locations</v-tab>
        <v-tab>Inactive Items</v-tab>
        <v-tab-item class="pa-3 ma-3">
          <v-layout
            v-if="!locationTree.length"
            column
            align-center
            justify-space-around
          >
            <v-flex>
              <p class="text-center">
                <br /><br />
                It appears you do not have any locations set up for
                {{ friendlyName }}. <br /><br />
                In order to create an initial location that will then hold the
                rest of
                <br />
                the subsequent locations please choose a name below and click
                create.
                <br />
              </p>
            </v-flex>
            <v-flex shrink>
              <v-text-field
                v-model="initialLocation"
                outlined
                label="Initial Location Name"
              ></v-text-field>
            </v-flex>
            <v-flex shrink>
              <loader-button
                text="Create"
                @click.native="createInitialLocation"
              ></loader-button>
            </v-flex>
          </v-layout>
          <v-layout v-else row align-center justify-center>
            <v-flex v-if="selectedLocation.length && !moveProcessActive">
              <v-layout column align-center justify-center>
                <v-flex>
                  <v-card elevation="12" class="text-center">
                    <v-card-title>Rename Location</v-card-title>
                    <v-card-text>
                      Rename current location named "{{
                        selectedLocation[0].name
                      }}" to
                      <v-text-field
                        v-model="newName"
                        dense
                        outlined
                        hide-details
                        label="New Name"
                      ></v-text-field>
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <loader-button
                        text="Save Name Change"
                        @click.native="nameChange"
                      ></loader-button>
                      <v-spacer></v-spacer>
                    </v-card-actions>
                  </v-card>
                </v-flex>
                <v-flex>
                  <v-card elevation="12" class="text-center">
                    <v-card-title>Add Child Location</v-card-title>
                    <v-card-text>
                      Add a child location to "{{ selectedLocation[0].name }}"
                      <v-text-field
                        v-model="newLocationName"
                        dense
                        hide-details
                        outlined
                        label="New Location"
                        @keydown.enter="createLocation"
                      ></v-text-field>
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <loader-button
                        text="Create Location"
                        @click.native="createLocation"
                      ></loader-button>
                      <v-spacer></v-spacer>
                    </v-card-actions>
                  </v-card>
                </v-flex>
                <v-flex>
                  <v-card elevation="12" class="text-center">
                    <v-card-title> Move Location </v-card-title>
                    <v-card-text>
                      Transfer {{ selectedLocation[0].name }} from it's current
                      location.
                      <div
                        v-show="selectedLocation[0].parent == null"
                        class="red--text"
                      >
                        Cannot move root location.
                      </div>
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <loader-button
                        text="Initiate Move Process"
                        :disabled="selectedLocation[0].parent == null"
                        @click.native="moveLocation"
                      ></loader-button>
                      <v-spacer></v-spacer>
                    </v-card-actions>
                  </v-card>
                </v-flex>
                <v-flex>
                  <v-card elevation="12" class="text-center">
                    <v-card-title> Remove Location </v-card-title>
                    <v-card-text v-if="itemsAtSelected">
                      Location cannot be removed since <br />
                      inventory items are still located there.
                    </v-card-text>
                    <v-card-text v-else>
                      Remove {{ selectedLocation[0].name }} and all it's child
                      locations.
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <loader-button
                        color="error"
                        :disabled="
                          !!itemsAtSelected ||
                          selectedLocation[0].parent == null
                        "
                        :text="`Remove ${selectedLocation[0].name}`"
                        @click.native="removeLocation"
                      ></loader-button>
                      <v-spacer></v-spacer>
                    </v-card-actions>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-flex>
            <v-flex v-if="moveProcessActive && locationToMove">
              <v-card elevation="12" class="text-center">
                <v-card-title>Move Location</v-card-title>
                <v-card-text>
                  Move {{ locationToMove.name }} to now be a child of
                  {{
                    selectedLocation[0]
                      ? selectedLocation[0].name
                      : '(none selected)'
                  }}
                  <div v-if="locChildParentError" class="red--text">
                    A location cannot be moved into a child of itself
                  </div>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <loader-button
                    text="Cancel"
                    @click.native="moveProcessActive = false"
                  ></loader-button>
                  <v-spacer></v-spacer>
                  <loader-button
                    color="success"
                    text="Complete Move"
                    @click.native="completeMove"
                  ></loader-button>
                  <v-spacer></v-spacer>
                </v-card-actions>
              </v-card>
            </v-flex>
            <v-spacer
              v-if="!selectedLocation.length && !moveProcessActive"
            ></v-spacer>
            <v-flex>
              <v-card elevation="12" class="text-center">
                <v-card-title> Location Tree </v-card-title>
                <v-card-text>
                  <v-treeview
                    :items="locationTree"
                    :load-children="getChildren"
                    :active.sync="selectedLocation"
                    item-key="_id"
                    activatable
                    dense
                    return-object
                    shaped
                  >
                  </v-treeview>
                </v-card-text>
              </v-card>
            </v-flex>
            <v-spacer
              v-if="!selectedLocation.length && !moveProcessActive"
            ></v-spacer>
            <v-flex v-if="selectedLocation.length && !moveProcessActive">
              <v-layout column align-center justify-center>
                <v-flex>
                  <v-card elevation="12" class="text-center">
                    <v-card-title
                      >Add item to {{ selectedLocation[0].name }}</v-card-title
                    >
                    <v-card-text>
                      <v-layout row align-center justify-space-between>
                        <v-flex>
                          <v-text-field
                            v-model="newInventoryItem.name"
                            v-validate="'required|min:5'"
                            autocomplete="off"
                            required
                            :error-messages="errors.first('Item Name')"
                            data-vv-name="Item Name"
                            name="Item Name"
                            label="Item Name*"
                            outlined
                          ></v-text-field>
                        </v-flex>
                        <v-flex shrink>
                          <v-layout column>
                            <v-flex shrink>
                              <v-switch
                                v-model="newInventoryItem.criticalSpare"
                                class="pa-0 ma-0"
                                color="warning"
                                label="Critical Spare"
                                hide-details
                              ></v-switch>
                            </v-flex>
                            <v-flex shrink>
                              <v-switch
                                v-model="newInventoryItem.compliance"
                                class="pa-0 ma-0"
                                color="success"
                                label="Compliance"
                                hide-details
                              ></v-switch>
                            </v-flex>
                          </v-layout>
                        </v-flex>
                      </v-layout>
                      <v-layout row justify-space-around>
                        <v-flex shrink>
                          <v-tooltip bottom>
                            <template #activator="{ on }">
                              <div v-on="on">
                                <v-switch
                                  v-model="newInventoryItem.detailNeeded"
                                  class="pa-0 ma-0"
                                  color="success"
                                  label="Detail Needed"
                                  hide-details
                                ></v-switch>
                              </div>
                            </template>
                            <span>
                              Add details such as serial number or batch number
                              with custom label.
                            </span>
                          </v-tooltip>
                        </v-flex>
                        <v-flex shrink>
                          <v-tooltip bottom>
                            <template #activator="{ on }">
                              <div v-on="on">
                                <v-switch
                                  v-model="newInventoryItem.dateNeeded"
                                  class="pa-0 ma-0"
                                  color="success"
                                  label="Date Needed"
                                  hide-details
                                ></v-switch>
                              </div>
                            </template>
                            <span>
                              Add date such as item expiry or calibration.
                            </span>
                          </v-tooltip>
                        </v-flex>
                      </v-layout>
                      <v-layout
                        v-if="
                          newInventoryItem.detailNeeded ||
                          newInventoryItem.dateNeeded
                        "
                        row
                        justify-space-around
                      >
                        <v-flex shrink>
                          <v-text-field
                            v-model="newInventoryItem.detailLabel"
                            :disabled="!newInventoryItem.detailNeeded"
                            dense
                            hide-details
                            outlined
                            label="Detail Label"
                          ></v-text-field>
                        </v-flex>
                        <v-flex shrink>
                          <v-text-field
                            v-model="newInventoryItem.dateLabel"
                            :disabled="!newInventoryItem.dateNeeded"
                            dense
                            hide-details
                            outlined
                            label="Date Label"
                          ></v-text-field>
                        </v-flex>
                      </v-layout>
                      <v-layout row align-center justify-space-around>
                        <v-flex>
                          <v-text-field
                            v-model="newInventoryItem.description"
                            autocomplete="off"
                            hint="If left empty and an Oceaneering part is used (via search dialog) this will be autofilled"
                            label="Item Description"
                            outlined
                          ></v-text-field>
                        </v-flex>
                      </v-layout>
                      <v-layout row align-center justify-space-around>
                        <v-flex shrink>
                          <v-text-field
                            v-model="newInventoryItem.customerID"
                            autocomplete="off"
                            label="Customer ID"
                            outlined
                          ></v-text-field>
                        </v-flex>
                        <v-flex shrink>
                          <v-text-field
                            v-model="newInventoryItem.PO"
                            autocomplete="off"
                            label="PO #"
                            outlined
                          ></v-text-field>
                        </v-flex>
                      </v-layout>
                      <v-layout row align-center justify-space-around>
                        <v-flex>
                          Minimum we should have on hand:
                          <v-text-field
                            v-model="newInventoryItem.min"
                            autocomplete="off"
                            class="width"
                            background-color="rgba(136, 136, 136, 0.3)"
                            append-icon="add"
                            prepend-inner-icon="remove"
                            @blur="
                              newInventoryItem.min < newInventoryItem.max
                                ? null
                                : (newInventoryItem.min = newInventoryItem.max)
                            "
                            @click:prepend-inner="
                              newInventoryItem.min > 0
                                ? newInventoryItem.min--
                                : (newInventoryItem.min = 0)
                            "
                            @click:append="
                              newInventoryItem.min < newInventoryItem.max
                                ? newInventoryItem.min++
                                : (newInventoryItem.min = newInventoryItem.max)
                            "
                          ></v-text-field>
                        </v-flex>
                        <v-flex>
                          Maximum to order up to:
                          <v-text-field
                            v-model="newInventoryItem.max"
                            autocomplete="off"
                            class="width"
                            background-color="rgba(136, 136, 136, 0.3)"
                            append-icon="add"
                            prepend-inner-icon="remove"
                            @blur="
                              newInventoryItem.max > newInventoryItem.min
                                ? null
                                : (newInventoryItem.max = newInventoryItem.min)
                            "
                            @click:prepend-inner="
                              newInventoryItem.max > newInventoryItem.min
                                ? newInventoryItem.max--
                                : (newInventoryItem.max = newInventoryItem.min)
                            "
                            @click:append="newInventoryItem.max++"
                          ></v-text-field>
                        </v-flex>
                      </v-layout>
                      <v-layout row align-center justify-space-around>
                        <v-flex>
                          <v-combobox
                            v-model="newInventoryItem.uom"
                            :items="uomOptions"
                            placeholder='Defaults to "Each" if not entered'
                            persistent-placeholder
                            label="Unit Of Measure"
                            outlined
                            dense
                            item-text="uom"
                            item-value="uom"
                            @focus="getUom"
                          >
                          </v-combobox>
                        </v-flex>
                      </v-layout>
                      <v-layout row align-center justify-space-around>
                        <v-flex>
                          <combo-box
                            v-model="newInventoryItem.category"
                            :items="inventoryCategoryOptions"
                            label="Category"
                            chips
                            multiple
                            item-text="category"
                            item-value="category"
                            @focus="getCategories"
                          >
                          </combo-box>
                        </v-flex>
                      </v-layout>
                      <v-layout row align-center justify-space-around>
                        <v-flex>
                          <combo-box
                            v-model="newInventoryItem.keywords"
                            label="Keywords"
                            chips
                            multiple
                          >
                          </combo-box>
                        </v-flex>
                      </v-layout>
                      <v-layout column wrap align-center justify-space-around>
                        <v-flex shrink>
                          <v-layout
                            v-if="newInventoryItem.partNumber.length"
                            row
                            wrap
                            align-center
                            justify-center
                          >
                            <v-flex shrink>
                              <v-simple-table
                                dense
                                fixed-header
                                class="text-center"
                              >
                                <template #default>
                                  <thead>
                                    <tr>
                                      <th class="title">Vendor</th>
                                      <th class="title">Part Number</th>
                                      <th></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr
                                      v-for="(
                                        vendor, index
                                      ) in newInventoryItem.partNumber"
                                      :key="index"
                                    >
                                      <td class="subtitle-1">
                                        {{ vendor.vendor }}
                                      </td>
                                      <td class="subtitle-1">
                                        {{ vendor.partNumber }}
                                      </td>
                                      <td>
                                        <loader-button
                                          icon="remove"
                                          color="error"
                                          tipText="Remove Vendor"
                                          tipLocation="right"
                                          iconOnly
                                          @click.native="
                                            newInventoryItem.partNumber.splice(
                                              index,
                                              1
                                            )
                                          "
                                        ></loader-button>
                                      </td>
                                    </tr>
                                  </tbody>
                                </template>
                              </v-simple-table>
                            </v-flex>
                          </v-layout>
                        </v-flex>
                        <v-flex shrink>
                          <v-layout row wrap align-center justify-center>
                            <v-flex
                              v-if="
                                newVendorName.toUpperCase() === 'OCEANEERING' ||
                                newVendorName.toUpperCase() === 'OII'
                              "
                              shrink
                            >
                              <v-layout
                                class="pb-7 pl-3"
                                align-center
                                justify-center
                              >
                                <v-flex grow>
                                  <loader-button
                                    icon="search"
                                    @click.native="openOiSearchWindow"
                                  ></loader-button>
                                </v-flex>
                              </v-layout>
                            </v-flex>
                            <v-flex shrink>
                              <v-combobox
                                v-model="newVendorName"
                                :items="vendorList"
                                outlined
                                :loading="vendorListLoading"
                                autocomplete="off"
                                label="Add Vendor"
                                @focus="getVendors()"
                              ></v-combobox>
                            </v-flex>
                            <v-flex shrink>
                              <v-text-field
                                v-model="newVendorPartNumber"
                                :error-messages="newVendorPartNumberErrors"
                                outlined
                                :append-icon="
                                  newVendorPartNumberErrors.length ? 'info' : ''
                                "
                                :label="`Part Number for ${
                                  newVendorName == '' ? 'Vendor' : newVendorName
                                }`"
                                @change="checkConflicting"
                                @click:append="showConflicting = true"
                              ></v-text-field>
                            </v-flex>
                            <v-flex shrink>
                              <v-layout
                                class="pb-7 pl-3"
                                align-center
                                justify-center
                              >
                                <v-flex grow>
                                  <loader-button
                                    icon="add"
                                    fab
                                    small
                                    tipText="Add new vendor to list"
                                    @click.native="addVendor()"
                                  ></loader-button>
                                </v-flex>
                              </v-layout>
                            </v-flex>
                          </v-layout>
                        </v-flex>
                      </v-layout>
                      <v-layout column wrap align-center justify-space-around>
                        <v-flex shrink>
                          <v-layout
                            v-if="newInventoryItem.drawingRef.length"
                            row
                            wrap
                            align-center
                            justify-center
                          >
                            <v-flex shrink>
                              <v-simple-table
                                dense
                                fixed-header
                                class="text-center"
                              >
                                <template #default>
                                  <thead>
                                    <tr>
                                      <th class="title">Drawing #</th>
                                      <th class="title">BOM Line #</th>
                                      <th></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr
                                      v-for="(
                                        usedIn, index
                                      ) in newInventoryItem.drawingRef"
                                      :key="index"
                                    >
                                      <td class="subtitle-1">
                                        {{ usedIn.drawing }}
                                      </td>
                                      <td class="subtitle-1">
                                        {{ usedIn.bomLine }}
                                      </td>
                                      <td>
                                        <loader-button
                                          icon="remove"
                                          color="error"
                                          tipText="Remove Drawing"
                                          tipLocation="right"
                                          iconOnly
                                          @click.native="
                                            newInventoryItem.drawingRef.splice(
                                              index,
                                              1
                                            )
                                          "
                                        ></loader-button>
                                      </td>
                                    </tr>
                                  </tbody>
                                </template>
                              </v-simple-table>
                            </v-flex>
                          </v-layout>
                        </v-flex>
                        <v-flex shrink>
                          <v-layout row wrap align-center justify-center>
                            <v-flex shrink>
                              <v-text-field
                                v-model="newDrawing"
                                outlined
                                label="Used in Drawing Number"
                              ></v-text-field>
                            </v-flex>
                            <v-flex shrink>
                              <v-text-field
                                v-model="newBomLine"
                                outlined
                                label="BOM Line #"
                              ></v-text-field>
                            </v-flex>
                            <v-flex shrink>
                              <v-layout
                                class="pb-7 pl-3"
                                align-center
                                justify-center
                              >
                                <v-flex grow>
                                  <loader-button
                                    icon="add"
                                    fab
                                    small
                                    tipText="Add new drawing to list"
                                    @click.native="addDrawing()"
                                  ></loader-button>
                                </v-flex>
                              </v-layout>
                            </v-flex>
                          </v-layout>
                        </v-flex>
                      </v-layout>
                      <v-layout column align-center justify-space-around>
                        <v-flex v-if="newInventoryItem.detailsRequired">
                          <loader-button
                            text="Edit Item Details"
                            @click.native="showItemDetails = true"
                          ></loader-button>
                        </v-flex>
                        <v-flex v-if="newInventoryItem.locations.length">
                          <v-simple-table
                            dense
                            fixed-header
                            class="text-center"
                          >
                            <template #default>
                              <thead>
                                <tr>
                                  <th class="title">Location</th>
                                  <th class="title">Qty</th>
                                  <th class="title">Note</th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr
                                  v-for="(
                                    location, index
                                  ) in newInventoryItem.locations"
                                  :key="index"
                                >
                                  <td class="subtitle-1">
                                    {{ getLocationText(location.location) }}
                                  </td>
                                  <td class="subtitle-1">
                                    {{ location.qty }}
                                  </td>
                                  <td class="subtitle-1">
                                    {{ location.additionalNotes }}
                                  </td>
                                  <td>
                                    <loader-button
                                      icon="remove"
                                      color="error"
                                      tipText="Remove Location"
                                      tipLocation="right"
                                      iconOnly
                                      @click.native="
                                        newInventoryItem.locations.splice(
                                          index,
                                          1
                                        )
                                      "
                                    ></loader-button>
                                  </td>
                                </tr>
                              </tbody>
                            </template>
                          </v-simple-table>
                        </v-flex>
                        <v-flex>
                          <v-layout row align-center justify-space-around>
                            <v-flex shrink>
                              Quantity at {{ selectedLocation[0].name }}
                            </v-flex>
                            <v-flex shrink>
                              <v-text-field
                                v-model="qtyAtCurrent"
                                autocomplete="off"
                                class="width"
                                background-color="rgba(136, 136, 136, 0.3)"
                                append-icon="add"
                                prepend-inner-icon="remove"
                                type="number"
                                @click:prepend-inner="qtyAtCurrent--"
                                @click:append="qtyAtCurrent++"
                              ></v-text-field>
                            </v-flex>
                            <v-flex shrink>
                              <v-text-field
                                v-model="locationNotes"
                                outlined
                                label="Notes"
                              ></v-text-field>
                            </v-flex>
                            <v-flex shrink>
                              <v-layout
                                class="pb-7 pl-3"
                                align-center
                                justify-center
                              >
                                <v-flex shrink>
                                  <loader-button
                                    icon="add"
                                    fab
                                    small
                                    tipText="Add parts at another location"
                                    @click.native="addLocation()"
                                  ></loader-button>
                                </v-flex>
                              </v-layout>
                            </v-flex>
                          </v-layout>
                        </v-flex>
                        <v-flex
                          v-if="
                            newInventoryItem.detailNeeded ||
                            newInventoryItem.dateNeeded
                          "
                        >
                          <v-layout row align-center justify-center>
                            <v-flex>
                              <loader-button
                                text="Add Details"
                                color="success"
                                tipText="Open Add Details Window"
                                @click.native="openDetailsWindow()"
                              ></loader-button>
                            </v-flex>
                          </v-layout>
                        </v-flex>
                      </v-layout>
                    </v-card-text>
                    <v-card-actions>
                      <v-layout row align-center justify-center>
                        <v-flex>
                          <loader-button
                            text="Clear Fields"
                            color="warning"
                            @click.native="blankItem"
                          ></loader-button>
                        </v-flex>
                        <v-flex>
                          <loader-button
                            text="Save Item"
                            @click.native="saveItem"
                          ></loader-button>
                        </v-flex>
                      </v-layout>
                    </v-card-actions>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-tab-item>
        <v-tab-item>
          <v-card elevation="12">
            <v-card-title>
              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                clearable
                label="Search"
                single-line
                @click:clear="search = ''"
              ></v-text-field>
            </v-card-title>
            <v-data-table
              :headers="tableHeaders"
              :items="inactiveItems"
              :search="search"
              :footer-props="{
                itemsPerPageOptions: [20, 50, 100, -1],
              }"
              :items-per-page="20"
              :loading="tableLoading"
              loading-text="Table is loading..."
            >
              <template #item.category="{ item }">
                <span>
                  <span v-for="(cat, index) in item.category" :key="index">
                    <v-chip small disabled>{{ cat }}</v-chip>
                  </span>
                  <span v-if="item.criticalSpare">
                    <v-tooltip bottom>
                      <template #activator="{ on: tooltip }">
                        <span v-on="{ ...tooltip }">
                          <v-chip small disabled color="warning">CS</v-chip>
                        </span>
                      </template>
                      <span>Critical Spare</span>
                    </v-tooltip>
                  </span>
                </span>
              </template>
              <template #item.actions="{ item }">
                <loader-button
                  text="Reactivate"
                  color="success"
                  @click.native="reactivateItem(item)"
                ></loader-button>
              </template>
            </v-data-table>
          </v-card>
        </v-tab-item>
      </v-tabs>
    </v-layout>

    <v-dialog
      v-if="conflictingNumbers.length"
      v-model="showConflicting"
      width="600"
    >
      <v-card elevation="16">
        <v-card-title>
          Existing instances of part number
          {{ conflictingNumber }}</v-card-title
        >
        <v-card-text>
          <ul>
            <li v-for="number in conflictingNumbers" :key="number._id">
              Locations of {{ number.name }}
              <ul>
                <li v-for="l in number.locations" :key="l._id">
                  {{ getLocationText(l.location) }}
                </li>
              </ul>
              <div></div>
            </li>
          </ul>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-dialog
      v-if="selectedLocation.length"
      v-model="removeDialogActive"
      width="600"
    >
      <v-card>
        <v-card-title class="text-h5 red lighten-1">
          Are you sure?
        </v-card-title>
        <v-card-text v-if="childrenOfSelected.length">
          <br />
          By removing the {{ selectedLocation[0].name }} location you will also
          be removing all the below locations and all their subsequent children.
          <ul>
            <li v-for="child in childrenOfSelected" :key="child._id">
              {{ child.name }}
            </li>
          </ul>
        </v-card-text>
        <v-card-text v-else>
          <br />
          This operation cannot be undone.
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <loader-button
            text="Cancel"
            @click.native="removeDialogActive = false"
          ></loader-button>
          <v-spacer></v-spacer>
          <loader-button
            color="error"
            text="I understand and still want to delete it"
            @click.native="finalizeRemoval"
          ></loader-button>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="reactivationDialog" width="900" @close="closeDialog">
      <v-container grid-list-md>
        <v-card class="ma-3">
          <v-card-title>
            Location(s) for
            {{ reactivationItem.name ? reactivationItem.name : 'Unknown Item' }}
          </v-card-title>
          <v-card-subtitle>
            Since it's possible the location that used to contain this item has
            been deleted new locations for this items and updated quantities
            need to be assigned.
          </v-card-subtitle>
          <v-card-text>
            <v-layout column align-center justify-space-around>
              <v-flex>
                <v-layout
                  v-if="
                    reactivationItem.locations &&
                    reactivationItem.locations.length
                  "
                  row
                  wrap
                  align-center
                  justify-center
                >
                  <v-flex shrink>
                    <v-simple-table dense fixed-header class="text-center">
                      <template #default>
                        <thead>
                          <tr>
                            <th class="title">Location</th>
                            <th class="title">Qty Here</th>
                            <th class="title">Note</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            v-for="(loc, index) in reactivationItem.locations"
                            :key="index"
                          >
                            <td class="subtitle-1">
                              {{ getLocationText(loc.location) }}
                            </td>
                            <td class="subtitle-1">
                              {{ loc.qty }}
                            </td>
                            <td class="subtitle-1">
                              {{ loc.additionalNotes }}
                            </td>
                            <td>
                              <loader-button
                                icon="remove"
                                color="error"
                                tipText="Remove Location"
                                tipLocation="right"
                                iconOnly
                                @click.native="
                                  reactivationItem.locations.splice(index, 1)
                                "
                              ></loader-button>
                            </td>
                          </tr>
                        </tbody>
                      </template>
                    </v-simple-table>
                  </v-flex>
                </v-layout>
              </v-flex>
              <v-flex>
                <v-layout row align-center justify-space-around>
                  <v-flex>
                    <v-combobox
                      v-model="newLocation"
                      label="Location"
                      outlined
                      :items="locationList"
                      :loading="loadingLocationList"
                    ></v-combobox>
                  </v-flex>
                  <v-flex>
                    Qty
                    <v-text-field
                      v-model="newLocationQty"
                      autocomplete="off"
                      class="width"
                      background-color="rgba(136, 136, 136, 0.3)"
                      append-icon="add"
                      prepend-inner-icon="remove"
                      @click:prepend-inner="
                        newLocationQty > 0
                          ? newLocationQty--
                          : (newLocationQty = 0)
                      "
                      @click:append="newLocationQty++"
                    ></v-text-field>
                  </v-flex>
                  <v-flex shrink>
                    <v-text-field
                      v-model="newLocationNote"
                      outlined
                      label="Notes"
                    ></v-text-field>
                  </v-flex>
                  <v-flex shrink>
                    <v-layout class="pb-7 pl-3" align-center justify-center>
                      <v-flex grow>
                        <loader-button
                          icon="add"
                          fab
                          small
                          tipText="Add new location to restored item"
                          @click.native="addReactivationLocation()"
                        ></loader-button>
                      </v-flex>
                    </v-layout>
                  </v-flex>
                </v-layout>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-card-actions
            v-if="
              reactivationItem.locations && reactivationItem.locations.length
            "
          >
            <v-layout row align-center justify-space-around>
              <v-flex shrink>
                <loader-button
                  text="Save Restored Item with above locations"
                  color="success"
                  @click.native="completeReactivation"
                >
                </loader-button>
              </v-flex>
            </v-layout>
          </v-card-actions>
        </v-card>
      </v-container>
    </v-dialog>

    <item-specifics-entry
      :active="showItemSpecs"
      :inventoryItem="newInventoryItem"
      :locationList="locationList"
      @save="addDetails"
      @closePopup="showItemSpecs = false"
    ></item-specifics-entry>

    <inventory-item-details
      :active="showItemDetails"
      :locations="newInventoryItem.locations"
      :locationList="locationList"
      @close="showItemDetails = false"
    ></inventory-item-details>

    <oi-part-search
      :active="showOISearch"
      :existing="partSearch"
      @close="showOISearch = false"
      @selected="partIsSelected"
    ></oi-part-search>

    <tech-name :promptTechName="promptTechName"></tech-name>
  </v-container>
</template>

<script>
import { zonedTimeToUtc } from 'date-fns-tz'
import { mapActions, mapState } from 'vuex'
import ComboBox from '~/components/Utils/BaseCombobox.vue'
import OiPartSearch from '~/components/Utils/OiPartSearch.vue'
import InventoryItemDetails from '~/components/Utils/InventoryItemDetails.vue'
import ItemSpecificsEntry from '../Inventory/ItemSpecificsEntry.vue'
import TechName from '~/components/Utils/TechName.vue'

export default {
  name: 'Inventory',
  components: {
    ComboBox,
    OiPartSearch,
    InventoryItemDetails,
    ItemSpecificsEntry,
    TechName,
  },
  props: {},
  data() {
    return {
      showOISearch: false,
      showItemDetails: false,
      showItemSpecs: false,
      partSearch: '',

      initialLocation: '',

      locationTree: [],
      selectedLocation: [],
      itemsAtSelected: 0,
      newName: '',
      newLocationName: '',

      removeDialogActive: false,
      childrenOfSelected: [],

      moveProcessActive: false,
      locationToMove: {},
      locChildParentError: false,

      inventoryCategoryOptionsLoading: false,
      inventoryCategoryOptions: [],

      qtyAtCurrent: 1,
      locationNotes: '',

      newVendorName: '',
      newVendorPartNumber: '',
      newVendorPartNumberErrors: [],

      newDrawing: '',
      newBomLine: '',

      reactivationDialog: false,
      reactivationItem: {},
      newLocation: '',
      newLocationQty: 1,
      newLocationNote: '',

      locationList: [],
      loadingLocationList: false,

      vendorList: [],
      vendorListLoading: false,

      showConflicting: false,
      conflictingNumbers: [],
      conflictingNumber: '',

      uomOptions: [],
      uomOptionsLoading: false,

      newInventoryItem: {
        name: '',
        description: '',
        min: 5,
        max: 10,
        uom: '',
        criticalSpare: false,
        compliance: false,
        detailNeeded: false,
        detailLabel: '',
        dateNeeded: false,
        dateLabel: '',
        relatedParts: [],
        locations: [],
        drawingRef: [],
        keywords: [],
        category: [],
        partNumber: [],
        customerID: '',
        PO: 'BUOTM-',
      },

      search: '',
      inactiveItems: [],
      tableLoading: false,
      tableHeaders: [
        {
          text: 'Name',
          align: 'center',
          value: 'name',
        },
        {
          text: 'Description',
          align: 'center',
          value: 'description',
        },
        {
          text: 'Category',
          align: 'center',
          value: 'category',
        },
        {
          text: '',
          align: 'center',
          value: 'actions',
          sortable: false,
        },
      ],
    }
  },
  computed: {
    ...mapState('sitewide', [
      'mongoUrl',
      'techName',
      'userLoggedIn',
      'loggedInUser',
      'friendlyName',
      'promptTechName',
    ]),
  },
  watch: {
    'newInventoryItem.min': function () {
      if (this.newInventoryItem.min < 0) {
        this.newInventoryItem.min = 0
      }
    },
    'newInventoryItem.max': function () {
      if (this.newInventoryItem.max < 1) {
        this.newInventoryItem.max = 1
      }
    },
    qtyAtCurrent: function () {
      if (this.qtyAtCurrent < 0) {
        this.qtyAtCurrent = 0
      }
    },
    selectedLocation: async function () {
      if (this.selectedLocation.length) {
        let temp = await this.$axios.$get(
          `${this.mongoUrl}inventory/locations/itemcount/${this.selectedLocation[0]._id}`
        )
        this.itemsAtSelected = temp.itemsAtLocation
        this.locChildParentError = false
      }
    },
  },
  mounted() {
    this.getRoot()
    this.getInactive()
    this.getLocationList()
  },
  methods: {
    ...mapActions('sitewide', ['logWrite', 'toastMessage']),
    blankItem() {
      while (this.newInventoryItem.relatedParts.length > 0) {
        this.newInventoryItem.relatedParts.pop()
      }
      while (this.newInventoryItem.locations.length > 0) {
        this.newInventoryItem.locations.pop()
      }
      while (this.newInventoryItem.locations.eachItemDetails.length > 0) {
        this.newInventoryItem.eachItemDetails.pop()
      }
      while (this.newInventoryItem.drawingRef.length > 0) {
        this.newInventoryItem.drawingRef.pop()
      }
      while (this.newInventoryItem.keywords.length > 0) {
        this.newInventoryItem.keywords.pop()
      }
      while (this.newInventoryItem.category.length > 0) {
        this.newInventoryItem.category.pop()
      }
      while (this.newInventoryItem.partNumber.length > 0) {
        this.newInventoryItem.partNumber.pop()
      }
      this.newInventoryItem = {
        name: '',
        description: '',
        min: 5,
        max: 10,
        uom: '',
        customerID: '',
        PO: 'BUOTM-',
        criticalSpare: false,
        compliance: false,
        detailNeeded: false,
        detailLabel: '',
        dateNeeded: false,
        dateLabel: '',
        dateNote: '',
        relatedParts: [],
        locations: [],
        eachItemDetails: [],
        drawingRef: [],
        keywords: [],
        category: [],
        partNumber: [],
      }
    },
    async reactivateItem(item) {
      if (!this.techName) {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        item.locations = []
        this.reactivationItem = item
        this.getLocationList()
        this.reactivationDialog = true
      }
    },
    getLocationText(id) {
      for (let i = 0; i < this.locationList.length; i++) {
        if (this.locationList[i].value == id) {
          return this.locationList[i].text
        }
      }
    },
    async getLocationList() {
      this.loadingLocationList = true
      this.locationList = await this.$axios.$get(
        `${this.mongoUrl}inventory/locations/list`
      )
      this.loadingLocationList = false
    },
    async completeReactivation() {
      if (this.newLocation && this.newLocation.value) {
        this.addLocation()
      }
      let updated = await this.$axios.$put(
        `${this.mongoUrl}inventory/items/update/${this.reactivationItem._id}`,
        {
          active: true,
          locations: this.reactivationItem.locations,
        }
      )
      this.toastMessage(`${this.techName} reactivated ${updated.name}`)
      this.closeDialog()
      this.getInactive()
    },
    closeDialog() {
      this.reactivationDialog = false
      this.newLocation = ''
      this.newLocationQty = 1
      this.reactivationItem = {}
      this.newLocationNote = ''
    },
    async getInactive() {
      this.inactiveItems = await this.$axios.$get(
        `${this.mongoUrl}inventory/items/inactive`
      )
    },
    openOiSearchWindow() {
      this.partSearch = this.newVendorPartNumber
      this.showOISearch = true
    },
    async saveItem() {
      if (!this.techName) {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        this.$validator.validate().then(async (valid) => {
          if (valid) {
            if (this.newVendorName && this.newVendorPartNumber) {
              if (this.addVendor()) return
            }
            if (!this.newInventoryItem.locations.length) {
              this.addLocation()
            } else if (this.qtyAtCurrent > 1 || this.additionalNotes) {
              this.addLocation()
            }
            if (this.newDrawing && this.newBomLine) {
              this.addDrawing()
            }
            if (this.newInventoryItem.PO === 'BUOTM-') {
              this.newInventoryItem.PO = ''
            }
            let newItem = await this.$axios.$post(
              `${this.mongoUrl}inventory/items/new`,
              this.newInventoryItem
            )
            this.toastMessage(
              `${this.techName} created new item named ${newItem.name}`
            )
            this.blankItem()
            this.$validator.reset()
          }
        })
      }
    },
    partIsSelected(item) {
      this.newVendorPartNumber = item.OINumber
      if (!this.newInventoryItem.description) {
        this.newInventoryItem.description = item.Description
      }
    },
    async checkConflicting() {
      let checkResults = await this.$axios.$get(
        `${this.mongoUrl}inventory/items/duplicates?check=${this.newVendorPartNumber}`
      )
      if (checkResults.length) {
        this.conflictingNumber = this.newVendorPartNumber
        this.conflictingNumbers = checkResults
        this.newVendorPartNumberErrors.push('Part Number Already Exists')
        return true
      } else {
        this.conflictingNumbers = []
        while (this.newVendorPartNumberErrors.length) {
          this.newVendorPartNumberErrors.pop()
        }
        this.conflictingNumber = ''
        return false
      }
    },
    openDetailsWindow() {
      this.newInventoryItem.locations.forEach((location) => {
        if (!location.eachItemDetails) {
          location.eachItemDetails = []
        }
        if (location.eachItemDetails.length < location.qty) {
          for (
            let i = 1;
            (i = location.qty - location.eachItemDetails.length);
            i++
          ) {
            location.eachItemDetails.push({
              detail: '',
              date: '',
            })
          }
        }
      })
      this.showItemSpecs = true
    },
    addDetails(returnedItem) {
      this.newInventoryItem = returnedItem
    },
    addDrawing() {
      this.newInventoryItem.drawingRef.push({
        drawing: this.newDrawing,
        bomLine: this.newBomLine,
      })
      this.newDrawing = ''
      this.newBomLine = ''
    },
    addVendor() {
      if (this.checkConflicting.length) {
        return true
      } else {
        this.newInventoryItem.partNumber.push({
          vendor: this.newVendorName,
          partNumber: this.newVendorPartNumber,
        })
        this.newVendorName = ''
        this.newVendorPartNumber = ''
        return false
      }
    },
    async getVendors() {
      try {
        this.vendorListLoading = 'warning'
        this.vendorList = await this.$axios.$get(
          `${this.mongoUrl}inventory/lists/vendors`
        )
        this.vendorListLoading = false
      } catch (error) {
        this.toastMessage('An error occurred, see log for details')
        this.logWrite({
          logType: 'error',
          logItem: error,
        })
      }
    },
    async getCategories() {
      try {
        this.inventoryCategoryOptionsLoading = 'warning'
        this.inventoryCategoryOptions = await this.$axios.$get(
          `${this.mongoUrl}inventory/lists/categories`
        )
        this.inventoryCategoryOptionsLoading = false
      } catch (error) {
        this.toastMessage('An error occurred, see log for details')
        this.logWrite({
          logType: 'error',
          logItem: error,
        })
      }
    },
    async getUom() {
      try {
        this.uomOptionsLoading = 'warning'
        this.uomOptions = await this.$axios.$get(
          `${this.mongoUrl}inventory/lists/uom`
        )
        this.uomOptionsLoading = false
      } catch (error) {
        this.toastMessage('An error occurred, see log for details')
        this.logWrite({
          logType: 'error',
          logItem: error,
        })
      }
    },
    addReactivationLocation() {
      this.reactivationItem.locations.push({
        location: this.newLocation.value,
        qty: this.newLocationQty,
        additionalNotes: this.newLocationNote,
        lastChecked: zonedTimeToUtc(new Date()),
      })
      this.newLocation = null
      this.newLocationQty = 1
      this.newLocationNote = ''
    },
    addLocation() {
      this.newInventoryItem.locations.push({
        location: this.selectedLocation[0]._id,
        qty: this.qtyAtCurrent,
        additionalNotes: this.locationNotes,
        lastChecked: zonedTimeToUtc(new Date()),
      })
      this.qtyAtCurrent = 1
      this.locationNotes = ''
    },
    async createInitialLocation() {
      try {
        await this.$axios.$post(`${this.mongoUrl}inventory/locations/new/`, {
          name: this.initialLocation,
          parent: null,
        })
        this.getRoot()
      } catch (error) {
        this.logWrite({
          logType: 'error',
          logItem: `Inventory.vue, createLocation() - ${error}`,
        })
      }
    },
    async createLocation() {
      try {
        const temp = await this.$axios.$post(
          `${this.mongoUrl}inventory/locations/new/`,
          {
            name: this.newLocationName,
            parent: this.selectedLocation[0]._id,
          }
        )
        this.addNewLocation(this.locationTree, temp[0], 0)
      } catch (error) {
        this.logWrite({
          logType: 'error',
          logItem: `Inventory.vue, createLocation() - ${error}`,
        })
      }
    },
    addNewLocation(level, newItem, treeI) {
      for (let i = 0; i < level.length; i++) {
        if (level[i]._id === newItem.parent) {
          if (level[i].children && level[i].children.length) {
            level[i].children.push(newItem)
          } else {
            this.$set(level[i], 'children', [newItem])
          }
          this.toastMessage(
            `Added location "${newItem.name}" to "${this.selectedLocation[0].name}"`
          )
          this.newLocationName = ''
          break
        } else if (level[i]._id === newItem.tree[treeI]._id) {
          this.addNewLocation(level[i].children, newItem, treeI + 1)
          break
        }
      }
    },
    async nameChange() {
      try {
        let oldName = this.selectedLocation[0].name
        const temp = await this.$axios.$put(
          `${this.mongoUrl}inventory/locations/update/${this.selectedLocation[0]._id}`,
          {
            name: this.newName,
          }
        )
        let toChange = this.getItemWithinTree(this.locationTree, temp[0])
        toChange.name = this.newName
        this.toastMessage(`Changed "${oldName}" to "${this.newName}"`)
        this.newName = ''
      } catch (error) {
        this.logWrite({
          logType: 'error',
          logItem: `Inventory.vue, nameChange() - ${error}`,
        })
      }
    },
    moveLocation() {
      this.locationToMove = this.selectedLocation[0]
      this.selectedLocation.pop()
      this.moveProcessActive = true
    },
    async completeMove() {
      try {
        const oldObject = await this.$axios.$get(
          `${this.mongoUrl}inventory/locations/parents/${this.locationToMove._id}`
        )
        let oldObjectChildren = []
        oldObjectChildren = await this.$axios.$get(
          `${this.mongoUrl}inventory/locations/allchildren/${this.locationToMove._id}`
        )

        if (
          oldObjectChildren.length &&
          oldObjectChildren[0].descendants.length &&
          oldObjectChildren[0].descendants
            .map((i) => i._id)
            .includes(this.selectedLocation[0]._id)
        ) {
          this.locChildParentError = true
          return
        } else {
          this.locChildParentError = false
          let newObject = await this.$axios.$put(
            `${this.mongoUrl}inventory/locations/update/${this.locationToMove._id}`,
            {
              parent: this.selectedLocation[0]._id,
            }
          )
          // get the parent of the old object then cut the removed location from the children array
          let oldParent = this.getParentAndItemNumber(
            this.locationTree,
            oldObject[0]
          )
          oldParent[0].children.splice(oldParent[1], 1)
          // get the parent of the new location and add the proper object to it's children
          let newParent = this.getParentAndItemNumber(
            this.locationTree,
            newObject[0]
          )
          this.toastMessage(
            `Moved location "${oldObject[0].name}" from "${oldParent[0].name}" to "${newParent[0].name}"`
          )
          delete newObject[0].tree
          newObject[0].children = []
          if (newParent[0].children) {
            newParent[0].children.push(newObject[0])
          } else {
            newParent.children = newObject
          }
          this.locationToMove = {}
          this.moveProcessActive = false
        }
      } catch (error) {
        this.logWrite({
          logType: 'error',
          logItem: `Inventory.vue, completeMove() - ${error}`,
        })
      }
    },
    async removeLocation() {
      this.childrenOfSelected = await this.$axios.$get(
        `${this.mongoUrl}inventory/locations/children/${this.selectedLocation[0]._id}`
      )
      this.removeDialogActive = true
    },
    async finalizeRemoval() {
      if (!this.techName) {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        try {
          const beforeDelete = await this.$axios.$get(
            `${this.mongoUrl}inventory/locations/parents/${this.selectedLocation[0]._id}`
          )
          let deleteRes = await this.$axios.$delete(
            `${this.mongoUrl}inventory/locations/delete/${this.selectedLocation[0]._id}`
          )
          this.removeDialogActive = false
          this.toastMessage(
            `${this.techName} has deleted ${this.selectedLocation[0].name} and it's children totaling ${deleteRes.deletedCount} location(s).`
          )
          let toDrop = await this.getParentAndItemNumber(
            this.locationTree,
            beforeDelete[0]
          )
          toDrop[0].children.splice(toDrop[1], 1)
        } catch (error) {
          this.logWrite({
            logType: 'error',
            logItem: `Inventory.vue, finalizeRemoval() - ${error}`,
          })
        }
      }
    },
    async getRoot() {
      this.locationTree = await this.$axios.$get(
        `${this.mongoUrl}inventory/locations/root`
      )
    },
    async getChildren(location) {
      try {
        const temp = await this.$axios.$get(
          `${this.mongoUrl}inventory/locations/children/${location._id}`
        )
        if (temp.length) {
          location.children.push(...temp)
        } else {
          this.$delete(location, 'children')
        }
      } catch (error) {
        this.logWrite({
          logType: 'error',
          logItem: `Inventory.vue, getChildren() - ${error}`,
        })
      }
    },
    getItemWithinTree(level, toFind, treeI = 0) {
      // returns the specified object with pointer intact so changes reflect in the local copy
      for (let i = 0; i < level.length; i++) {
        if (level[i]._id === toFind._id) {
          return level[i]
        } else if (
          toFind.tree[treeI] &&
          level[i]._id === toFind.tree[treeI]._id
        ) {
          return this.getItemWithinTree(level[i].children, toFind, treeI + 1)
        }
      }
    },
    getParentAndItemNumber(level, toFind, treeI = 0) {
      //? toFind array requires a tree array to be present for this function to be able to work properly
      // returns parent of specified object at index 0 then that objects index number with the children array at index 1
      // if parent has no children array or it's length is zero then null is returned in index 1
      for (let i = 0; i < level.length; i++) {
        if (level[i]._id === toFind.parent) {
          if (level[i].children.length) {
            for (let j = 0; j < level[i].children.length; j++) {
              if (level[i].children[j]._id === toFind._id) {
                return [level[i], j]
              }
            }
            return [level[i], null]
          } else {
            return [level[i], null]
          }
        } else if (
          toFind.tree[treeI] &&
          level[i]._id === toFind.tree[treeI]._id
        ) {
          return this.getParentAndItemNumber(
            level[i].children,
            toFind,
            treeI + 1
          )
        }
      }
    },
  },
}
</script>

<style>
.width {
  display: inline-block;
  width: 100px;
  text-align: center;
}
</style>
