<template>
  <v-container>
    <v-layout row wrap align-center justify-center>
      <v-flex shrink class="text-center">
        <h3>Select the date range to of the logs to display</h3>
        <span>
          After 2 years logs self-delete so you may not find logs older than
          that here.
          <br />
          The text version accessible by the admin may have older logs stored.
        </span>
      </v-flex>
    </v-layout>
    <v-layout row wrap align-enter justify-space-around>
      <v-flex shrink>
        <date-input
          v-model="fromDate"
          label="From this date..."
          :max="new Date().toISOString()"
        />
      </v-flex>
      <v-flex shrink>
        <date-input
          v-model="untilDate"
          label="Until this date..."
          :max="new Date().toISOString()"
        />
      </v-flex>
    </v-layout>
    <v-layout row wrap align-center justify-center>
      <v-flex cols="11">
        <v-layout row wrap align-center justify-space-around>
          <v-flex shrink>
            <v-switch v-model="onlyErrors" label="Only Errors"></v-switch>
          </v-flex>
          <v-flex shrink>
            <v-switch
              v-model="onlyCurrentHardware"
              :label="`Only ${$route.params.db} entries`"
            ></v-switch>
          </v-flex>
          <v-flex shrink>
            <v-text-field
              v-model="numOfEntries"
              type="number"
              min="10"
              label="Max number of entries to load"
            ></v-text-field>
          </v-flex>
          <v-flex shrink>
            <loader-button
              text="Refresh Table"
              @click.native="updateLogs"
            ></loader-button>
          </v-flex>
        </v-layout>
        <v-layout v-if="logs.length" row wrap align-center justify-center>
          <v-flex shrink>
            <loader-button
              text="Download log table to Excel"
              color="success"
              @click.native="downloadLog"
            ></loader-button>
          </v-flex>
        </v-layout>
        <v-card>
          <v-card-title>
            Log Entries
            <v-spacer></v-spacer>
            <v-text-field
              v-model="search"
              append-icon="search"
              label="Search"
              single-line
              hide-details
            ></v-text-field>
          </v-card-title>
          <v-data-table :headers="headers" :items="logs" :search="search">
            <template #item.message="{ item }">
              {{
                Object.prototype.toString.call(item.message) ===
                '[object Object]'
                  ? 'Message is too long to display here. See log file or export'
                  : item.message
              }}
            </template>
          </v-data-table>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import { formatISO, subDays } from 'date-fns/esm'
import DateInput from '../Utils/DateInputField.vue'

export default {
  components: {
    DateInput,
  },
  props: {},
  data() {
    return {
      search: '',
      headers: [
        { text: 'Level', value: 'level', align: 'center' },
        { text: 'Message', value: 'message', align: 'center' },
        { text: 'Hardware', value: 'meta.tenant', align: 'center' },
        { text: 'Timestamp', value: 'timestamp', align: 'center' },
      ],

      logs: [],

      fromPicker: false,
      fromDate: formatISO(subDays(new Date(), 7)),
      untilPicker: false,
      untilDate: formatISO(new Date()),

      onlyErrors: false,
      onlyCurrentHardware: true,
      numOfEntries: 1000,
    }
  },
  computed: {
    ...mapState('sitewide', ['mongoUrl', 'userLoggedIn', 'loggedInUser']),
  },
  watch: {
    onlyErrors: function () {
      this.updateLogs()
    },
    onlyCurrentHardware: function () {
      this.updateLogs()
    },
    fromDate: function () {
      this.updateLogs()
    },
    untilDate: function () {
      this.updateLogs()
    },
  },
  mounted() {
    this.updateLogs()
  },
  methods: {
    ...mapActions('sitewide', ['logWrite', 'toastMessage']),
    async updateLogs() {
      let logString = `?limit=${this.numOfEntries}`
      logString = this.fromDate
        ? `${logString}&fromDate=${this.fromDate}`
        : logString
      logString = this.untilDate
        ? `${logString}&untilDate=${this.untilDate}`
        : logString
      logString = this.onlyErrors ? `${logString}&level=error` : logString
      logString = this.onlyCurrentHardware
        ? `${logString}&onlyCurrent=true`
        : logString

      this.logs = await this.$axios.$get(`${this.mongoUrl}log${logString}`)
    },
    async downloadLog() {
      let logExport = [
        ...this.logs.map((entry) => {
          if (entry.meta && entry.meta.tenant) {
            entry.tenant = entry.meta.tenant
          }
          return entry
        }),
      ]

      logExport.splice(0, 0, {
        level: 'Browser Info',
        message: window.navigator.appVersion,
      })

      logExport.splice(0, 0, {
        level: 'OS Info',
        message: window.navigator.platform,
      })

      const sheetData = {
        filename: 'Log Export',
        worksheetTitle: 'Logs',
        columns: [
          { header: 'Level', key: 'level', width: 20 },
          { header: 'Message', key: 'message', width: 100 },
          { header: 'Tenant', key: 'tenant', width: 20 },
          { header: 'Timestamp', key: 'timestamp', width: 20 },
        ],
        data: logExport,
      }

      try {
        const logExportRes = await this.$axios.$post(
          `${this.mongoUrl}excel/export`,
          sheetData
        )
        if (logExportRes.success) {
          window.open(`${this.mongoUrl}excel/download/${logExportRes.file}`)
        }
      } catch (error) {
        this.toastMessage(
          `There was an error building the log spreadsheet, see log for details`
        )
        this.logWrite({
          logType: 'error',
          logItem: `Logs.vue, downloadLog() - ${error}`,
        })
      }
    },
  },
}
</script>

<style></style>
