<template>
  <div>
    <v-container class="text-center">
      <v-card>
        <v-card-title>
          <v-container fluid>
            <v-row justify="center" align="center">
              <v-col cols="12">
                <v-text-field
                  v-model="search"
                  append-icon="search"
                  label="Search"
                  single-line
                  hide-details
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-card-title>
        <v-data-table
          :headers="headers"
          :items="meters"
          :search="search"
          :mobile-breakpoint="750"
          show-expand
          single-expand
          expand-icon="edit"
          item-key="_id"
          @item-expanded="meterEditSave"
          @click:row="clickRow"
        >
          <template #item.updatedAt="{ item }">
            <base-format-date :ISOdate="item.updatedAt"></base-format-date>
          </template>
          <template #item.actions="{ item }">
            <div class="grid-container-submit">
              <div class="editMeter">
                <loader-button
                  id="listButton"
                  text="List"
                  color="success"
                  @click.native="getTasks($event, item)"
                ></loader-button>
              </div>
            </div>
          </template>
          <template #expanded-item="{ headers }">
            <td :colspan="headers.length">
              <v-card flat class="text-xs-center">
                <v-container fluid>
                  <v-row align="center" justify="space-around">
                    <v-flex shrink>
                      <b class="red--text"
                        >This not not where you update the meter value as a
                        normal task.</b
                      >
                      <br />This page is used when the meter itself fails or
                      needs to be changed for some reason. <br />Changing this
                      value will update all tasks that use this meter as well as
                      the meter reading itself.
                      <br />
                    </v-flex>
                  </v-row>
                  <v-row align="center" justify="space-around">
                    <v-flex shrink>{{ meterEdit.name }}</v-flex>
                    <v-flex shrink>
                      <v-text-field
                        id="newMeterValue"
                        v-model="meterNewValue"
                        label="New Value"
                      ></v-text-field>
                    </v-flex>
                    <v-flex shrink>
                      <loader-button
                        text="save"
                        @click.native="updateUseOfMeter($event)"
                      ></loader-button>
                    </v-flex>
                  </v-row>
                </v-container>
              </v-card>
            </td>
          </template>
        </v-data-table>
      </v-card>
    </v-container>

    <base-form-dialog
      :active="taskListPopup"
      width="800"
      :title="`Task List for ${meterName}`"
      @close="taskListPopup = false"
    >
      <div v-if="taskList.length">
        <v-simple-table dense>
          <thead>
            <tr>
              <th class="text-center">ID</th>
              <th class="text-center">Task Name</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="task in taskList" :key="task._id">
              <td class="text-center">
                {{ task.customTaskID ? task.customTaskID : task.taskID }}
              </td>
              <td class="text-center">{{ task.taskName }}</td>
            </tr>
          </tbody>
        </v-simple-table>
      </div>
      <div v-else>
        <br />
        <h3 class="text-center">
          There are no tasks currently associated to the {{ meterName }} meter.
        </h3>
      </div>
    </base-form-dialog>

    <tech-name :promptTechName="promptTechName"></tech-name>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import BaseFormDialog from '../Utils/BaseFormDialog'
import BaseFormatDate from '../Utils/BaseFormatDate'
import TechName from '../Utils/TechName'

export default {
  components: {
    BaseFormatDate,
    BaseFormDialog,
    TechName,
  },
  props: [],
  data() {
    return {
      headers: [
        // Build table fields to display, each key must match the "slot=" property in the template
        {
          text: 'Name',
          value: 'name',
          sortable: true,
          align: 'center',
        },
        {
          text: 'Value',
          value: 'currentReading',
          sortable: true,
          align: 'center',
        },
        {
          text: 'Date Last Updated',
          value: 'updatedAt',
          sortable: true,
          align: 'center',
        },
        {
          text: '',
          value: 'actions',
        },
      ],
      search: '',

      showList: false,
      taskListPopup: false,
      taskList: [],
      localMeters: [],

      meterEdit: {},
      meterName: '',
      meterNewValue: '',
    }
  },
  computed: {
    ...mapState('sitewide', [
      'mongoUrl',
      'darkTheme',
      'techName',
      'promptTechName',
    ]),
    ...mapState('tasks', ['meters']),
  },
  watch: {},
  mounted() {
    if (!this.meters) {
      this.getMeters()
    }
  },
  methods: {
    ...mapActions('sitewide', ['logWrite', 'toastMessage']),
    ...mapActions('tasks', ['getMeters', 'getActiveTasks']),
    async getTasks(e, meterName) {
      try {
        this.taskList = await this.$axios.$get(
          `${this.mongoUrl}taskdata?meterName=${meterName.name}`
        )
        this.meterName = meterName.name
        this.taskListPopup = true
      } catch (error) {
        this.logWrite({
          logType: 'error',
          logItem: `MeterTable.vue, sendList() - ${error}`,
        })
      }
    },
    clickRow(row) {
      this.meterEdit.meterName = row.meterName
      this.meterEdit.oldMeterValue = row.meterValue
      this.meterEdit.meterValue = row.meterValue
    },
    meterEditSave(meterInfo) {
      this.meterEdit = meterInfo.item
    },
    async updateUseOfMeter() {
      if (this.techName === '') {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        try {
          const tasksUsingMeter = await this.$axios.$get(
            `${this.mongoUrl}taskdata?meterName=${this.meterEdit.name}`
          )
          const meterDelta = this.meterEdit.currentReading - this.meterNewValue
          for (let i = 0; i < tasksUsingMeter.length; i++) {
            const nextMeterDue =
              parseInt(this.meterNewValue) +
              parseInt(tasksUsingMeter[i].meterFrequency)
            try {
              const updateMeterRead = await this.$axios.$put(
                `${this.mongoUrl}taskdata/${tasksUsingMeter[i]._id}`,
                {
                  techName: this.techName,
                  lastMeterReadingCompleted:
                    parseInt(tasksUsingMeter[i].lastMeterReadingCompleted) -
                    parseInt(meterDelta),
                  nextMeterReadingDue: nextMeterDue,
                }
              )
              this.toastMessage(updateMeterRead)
            } catch (error) {
              this.logWrite({
                logType: 'error',
                logItem: `MeterTable.vue, updateTaskHourDue() - updateTask#${
                  tasksUsingMeter[i].customTaskID
                    ? tasksUsingMeter[i].customTaskID
                    : tasksUsingMeter[i].taskID
                } - ${error}`,
              })
            }
          }
          try {
            const meterUpdate = await this.$axios.$put(
              `${this.mongoUrl}meters/${this.meterEdit._id}`,
              {
                techName: this.techName,
                currentReading: parseInt(this.meterNewValue),
                previousReading: this.meterEdit.currentReading,
              }
            )
            this.toastMessage(meterUpdate)
            this.meterEdit = {}
            this.meterNewValue = ''
            this.getMeters()
            this.getActiveTasks()
          } catch (error) {
            this.logWrite({
              logType: 'error',
              logItem: `MeterTable.vue, updateTaskHourDue() - updateTheMeter - ${error}`,
            })
          }
        } catch (error) {
          this.logWrite({
            logType: 'error',
            logItem: `MeterTable.vue, updateTaskHourDue() - getTasksUsingMeters - ${error}`,
          })
        }
      }
    },
  },
}
</script>

<style scoped></style>
