<template>
  <div>
    <v-container fluid>
      <v-row justify="center" align="center">
        <v-col cols="11">
          <v-card>
            <v-card-title>
              <v-container fluid>
                <v-row justify="space-between" align="center">
                  <v-col cols="6" class="text-center">
                    <h4>Displaying {{ allInactiveTasks.length }} task{{ allInactiveTasks.length > 1 ? 's' : '' }}</h4>
                  </v-col>
                  <v-col cols="3">
                    <v-text-field
                      v-model="techName"
                      autocomplete="off"
                      hide-details
                      solo
                      label="Tech Name or Initials"
                      @click="$store.commit('sitewide/setTechName', '')"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row justify="center" align="center">
                  <v-col cols="12">
                    <v-text-field
                      v-model="search"
                      autocomplete="off"
                      append-icon="search"
                      label="Search"
                      single-line
                      hide-details
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-title>
            <v-data-table
              :headers="headers"
              :items="allInactiveTasks"
              :search="search"
              :mobile-breakpoint="750"
              item-key="_id"
              @click:row="clickRow"
            >
              <template v-slot:item.category="{ item }">
                <span v-if="!item.category.length"></span>
                <span v-else-if="item.category.length == 1">
                  <v-chip small disabled>{{ item.category[0] }}</v-chip>
                </span>
                <span v-else-if="item.category.length > 1 && item.category.length < iconNum + 1">
                  <span v-for="(cat, index) in item.category" :key="index">
                    <v-chip small disabled>{{ cat }}</v-chip>
                  </span>
                </span>
                <span v-else>
                  <span v-for="(cat, index) in item.category" :key="index">
                    <v-chip v-if="index + 1 <= iconNum" small disabled>{{ cat }}</v-chip>
                  </span>
                  <span>{{ `+ ${item.category.length - iconNum} more` }}</span>
                </span>
              </template>
              <template v-slot:item.actions="{ item }">
                <loader-button
                  text="Re-Activate"
                  color="success"
                  @click.native="reactivateTask($event, item)"
                ></loader-button>
              </template>
            </v-data-table>
          </v-card>
        </v-col>
      </v-row>
    </v-container>

    <details-popup :detailsPopup="detailsPopup" :editButton="false"></details-popup>
    <tech-name :promptTechName="promptTechName"></tech-name>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import DetailsPopup from '~/components/Tasks/DetailsPopup.vue'
import TechName from '~/components/Utils/TechName.vue'

export default {
  components: {
    DetailsPopup,
    TechName,
  },
  props: {
    deactivatedTasks: {
      type: Array,
      default: () => [],
    },
  },

  data() {
    return {
      headers: [
        {
          value: 'taskID',
          text: 'ID',
          sortable: true,
          align: 'center',
        },
        {
          value: 'taskName',
          text: 'Name',
          sortable: true,
          align: 'center',
        },
        {
          value: 'category',
          text: 'Category',
          sortable: true,
          align: 'center',
        },
        {
          value: 'actions',
          label: '',
          align: 'center',
        },
      ],
      search: '',

      detailsRow: '',
      activatingTask: false,
      allInactiveTasks: [],
    }
  },
  computed: {
    ...mapState('sitewide', ['darkTheme', 'mongoUrl', 'promptTechName']),
    ...mapState('tasks', ['detailsPopup', 'iconNum']),
    techName: {
      get() {
        return this.$store.state.sitewide.techName
      },
      set(value) {
        this.$store.commit('sitewide/setTechName', value)
      },
    },
  },
  watch: {
    allInactiveTasks: function() {
      this.totalRows = this.allInactiveTasks.length
    },
  },
  mounted() {
    this.getInactiveTasks()
  },
  methods: {
    ...mapActions('sitewide', ['logWrite', 'toastMessage']),
    ...mapActions('tasks', ['getInactiveTasks', 'editTaskSave']),
    async clickRow(record) {
      try {
        const grabTask = await this.$axios.$get(`${this.mongoUrl}taskdata/${record._id}`)
        this.$store.commit('tasks/setDetailsPopupData', grabTask)
      } catch (error) {
        this.logWrite({
          logType: 'error',
          logItem: `NonActiveTasks.vue, clickRow() - ${error}`,
        })
      }
      this.$store.commit('tasks/setDetailsPopup', true)
    },
    async getInactiveTasks() {
      try {
        this.allInactiveTasks = await this.$axios.$get(`${this.mongoUrl}taskdata/inactive`)
      } catch (error) {
        this.logWrite({
          logType: 'error',
          logItem: `NonActiveTasks.vue, getInactiveTasks() - ${error}`,
        })
      }
    },
    reactivateTask(e, item) {
      e.stopPropagation()
      if (this.techName === '') {
        this.$store.commit('sitewide/setPromptTechName', true)
      } else {
        item.active = true
        this.editTaskSave(item)
        this.getInactiveTasks()
      }
    },
  },
}
</script>

<style scoped>
.displayResults {
  grid-area: displayResults;
  text-align: center;
  align-self: flex-end;
  justify-self: center;
  color: #8b8b8b;
}

.title {
  grid-area: title;
  align-self: center;
  justify-self: center;
  text-align: center;
}

.grid-container-submit {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: 'submit addDetails';
  grid-gap: 0px;
  padding: 0px;
}

.grid-container-submit > div {
  text-align: center;
  padding: 0px 0;
  font-size: 12px;
}

.grid-container-title {
  display: grid;
  grid-template-columns: 150px 250px auto 210px;
  grid-template-areas: 'printButtons displayResults title techName';
  grid-gap: 0px;
  padding-top: 0px;
}

.grid-container-title > div {
  padding: 0px 0;
  font-size: 20px;
}
</style>
