<template>
  <div>
    <v-container fluid grid-list-lg>
      <v-layout row align-center justify-center>
        <v-flex shrink>
          <v-layout column align-center justify-center>
            <v-flex v-if="userLoggedIn" shrink>
              <v-card elevation="12" class="text-center">
                <v-card-text class="pa-1 ma-0">
                  <h3>Site Name</h3>
                  <p>For top of menu bar, emails, etc</p>
                </v-card-text>
                <v-layout row align-center justify-center>
                  <v-flex shrink>
                    <v-text-field
                      v-model="newFriendlyName"
                      autocomplete="off"
                      hide-details
                      outlined
                    ></v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row align-center justify-center>
                  <v-flex shrink>
                    <loader-button
                      text="Save"
                      :disabled="friendlyName == newFriendlyName"
                      @click.native="saveFriendlyName()"
                    ></loader-button>
                  </v-flex>
                </v-layout>
              </v-card>
            </v-flex>
            <v-flex>
              <v-card elevation="12" class="text-center">
                <v-card-text>
                  <h3>Currently Installed Version:</h3>
                  <div class="text-center">
                    <h4>v{{ siteVersion }}</h4>
                  </div>
                  <div class="text-center">
                    <a :href="changelogLink" target="_new">View Change Log</a>
                  </div>
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex shrink>
          <v-layout column fluid align-center justify-center>
            <v-flex>
              <v-flex v-if="userLoggedIn" shrink>
                <v-card elevation="12" class="text-center">
                  <v-layout column align-center justify-center>
                    <v-flex>
                      <v-card-text class="pa-1 ma-0">
                        <h3>Inventory</h3>
                      </v-card-text>
                    </v-flex>
                    <v-flex shrink>
                      <v-switch
                        v-model="newInventoryMode"
                        class="pa-0 ma-0"
                        color="success"
                        hide-details
                        :label="
                          newInventoryMode
                            ? 'Users can Modify Inventory'
                            : 'Users cannot modify items/locations'
                        "
                      ></v-switch>
                    </v-flex>
                    <v-flex>
                      <v-card-text class="pa-1 ma-0">
                        <h3>To Order</h3>
                      </v-card-text>
                    </v-flex>
                    <v-flex>
                      <span class="text--secondary">
                        When entering a "to order" item <br />
                        check the past X months for <br />
                        potentially comparable orders.
                      </span>
                    </v-flex>
                    <v-flex shrink>
                      <v-text-field
                        v-model="newOrderMonths"
                        type="number"
                        label="Number of months"
                        autocomplete="off"
                        outlined
                      ></v-text-field>
                    </v-flex>
                  </v-layout>
                  <v-layout row align-center justify-center>
                    <v-flex shrink>
                      <loader-button
                        text="Save"
                        :disabled="
                          inventoryMode == newInventoryMode &&
                          orderMonths == newOrderMonths
                        "
                        @click.native="saveOptions()"
                      ></loader-button>
                    </v-flex>
                  </v-layout>
                </v-card>
              </v-flex>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex shrink>
          <v-layout column align-center justify-center>
            <v-card elevation="12" class="text-center">
            <v-card-text>
              <h3>Default Theme:</h3>
            </v-card-text>
            <v-layout column align-center justify-center>
              <v-flex shrink>
                <v-radio-group v-model="newThemeSelector" column>
                  <v-radio
                    label="Dark Theme"
                    color="primary"
                    value="dark"
                  ></v-radio>
                  <v-radio
                    label="Light Theme"
                    value="light"
                    color="primary"
                  ></v-radio>
                </v-radio-group>
              </v-flex>
              <v-flex shrink>
                <loader-button
                  text="Save"
                  :disabled="darkTheme == newThemeSelector"
                  @click.native="updateDefaultTheme()"
                ></loader-button>
              </v-flex>
            </v-layout>
          </v-card>
            <v-flex>
              <v-card elevation="12" class="text-center">
                <v-card-text>
              <h3>Hose Length Unit</h3>
            </v-card-text>
            <v-layout column align-center justify-center>
              <v-flex shrink>
                <v-radio-group v-model="newHoseLengthUnit" column>
                  <v-radio
                    label="Feet"
                    color="primary"
                    value="feet"
                  ></v-radio>
                  <v-radio
                    label="Meters"
                    value="meters"
                    color="primary"
                  ></v-radio>
                </v-radio-group>
              </v-flex>
              <v-flex shrink>
                <loader-button
                  text="Save"
                  :disabled="hoseLengthUnit == newHoseLengthUnit"
                  @click.native="updateHoseLengthUnit()"
                ></loader-button>
              </v-flex>
            </v-layout>
              </v-card>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex shrink>
          <v-card elevation="12" class="text-center">
            <v-card-text>
              <h3>Menu Style</h3>
            </v-card-text>
            <v-layout column align-center justify-center>
              <v-flex shrink>
                <v-radio-group v-model="menuStyle" column>
                  <v-radio
                    label="Hidden"
                    color="primary"
                    value="true"
                  ></v-radio>
                  <v-radio
                    label="Persistant"
                    value="false"
                    color="primary"
                  ></v-radio>
                </v-radio-group>
              </v-flex>
              <v-flex shrink>
                <loader-button
                  text="Save"
                  :disabled="hiddenMenu == (menuStyle == 'true' ? true : false)"
                  @click.native="updateMenuStyle()"
                ></loader-button>
              </v-flex>
              <v-flex shrink>
                <v-card-text>
                  <h3>Menu Due Values</h3>
                </v-card-text>
              </v-flex>
              <v-flex shrink>
                <v-switch
                  v-model="newShowMenuValues"
                  class="pa-0 ma-0"
                  color="success"
                  hide-details
                  label="Show Due Values"
                ></v-switch>
              </v-flex>
              <v-flex shrink>
                <loader-button
                  text="Save"
                  :disabled="showMenuValues == newShowMenuValues"
                  @click.native="saveShowMenuValues()"
                ></loader-button>
              </v-flex>
            </v-layout>
          </v-card>
        </v-flex>
        <v-flex v-if="userLoggedIn" shrink>
          <v-card elevation="12" class="text-center">
            <v-card-text>
              <h3>Visible Menu Options</h3>
            </v-card-text>
            <v-layout row align-center justify-center>
              <v-flex shrink>
                <v-switch
                  v-model="newMenuOptions.maintenanceTasks"
                  class="pa-0 ma-0"
                  color="success"
                  hide-details
                  label="Maintenance"
                ></v-switch>
                <v-switch
                  v-model="newMenuOptions.assets"
                  class="pa-0 ma-0"
                  color="success"
                  hide-details
                  label="Assets"
                ></v-switch>
                <v-switch
                  v-model="newMenuOptions.toDo"
                  class="pa-0 ma-0"
                  color="success"
                  hide-details
                  label="To Do List"
                ></v-switch>
                <v-switch
                  v-model="newMenuOptions.inventory"
                  class="pa-0 ma-0"
                  color="success"
                  hide-details
                  label="Inventory"
                ></v-switch>
                <v-switch
                  v-model="newMenuOptions.hoses"
                  class="pa-0 ma-0"
                  color="success"
                  hide-details
                  label="Hose Registry"
                ></v-switch>
                <v-switch
                  v-model="newMenuOptions.toOrder"
                  class="pa-0 ma-0"
                  color="success"
                  hide-details
                  label="To Order List"
                ></v-switch>
                <v-switch
                  v-model="newMenuOptions.logs"
                  class="pa-0 ma-0"
                  color="success"
                  hide-details
                  label="Logs"
                ></v-switch>
                <v-switch
                  v-model="newMenuOptions.packages"
                  class="pa-0 ma-0"
                  color="success"
                  hide-details
                  label="Packages"
                ></v-switch>
                <loader-button
                  text="Save"
                  :disabled="
                    JSON.stringify(menuOptions) ==
                    JSON.stringify(newMenuOptions)
                  "
                  @click.native="saveMenuSelection()"
                ></loader-button>
              </v-flex>
            </v-layout>
          </v-card>
        </v-flex>
      </v-layout>
      <v-layout row justify-center align-center>
        <v-flex v-if="userLoggedIn" shrink>
          <v-card elevation="12" class="text-center">
            <v-card-text>
              <h3>Task Mode Type</h3>
            </v-card-text>
            <v-layout column align-center justify-center>
              <v-flex shrink>
                <v-switch
                  v-model="shiftTaskMode"
                  class="pa-0 ma-0"
                  color="success"
                  hide-details
                  :label="
                    shiftTaskMode ? 'Custom Task Modes' : 'Classic Task Modes'
                  "
                ></v-switch>
              </v-flex>
              <v-flex v-if="shiftTaskMode">
                <v-layout column align-center justify-center>
                  <v-flex
                    v-for="(mode, key, index) in newModeOptions"
                    :key="index"
                  >
                    <v-layout row wrap align-center justify-center>
                      <v-flex shrink>
                        <div
                          v-if="mode.name"
                          id="index"
                          @click="mode.active = true"
                        >
                          <v-text-field
                            v-model="mode.name"
                            autocomplete="off"
                            hide-details
                            :color="mode.color"
                            :disabled="!mode.active"
                            outlined
                            :prepend-icon="
                              mode.active ? 'visibility' : 'visibility_off'
                            "
                            @click:prepend="mode.active = false"
                          >
                            <template #append>
                              <v-fade-transition leave-absolute>
                                <v-icon
                                  :color="mode.color || 'none'"
                                  @click="cycleColorPicker(mode, key)"
                                >
                                  palette
                                </v-icon>
                              </v-fade-transition>
                            </template>
                          </v-text-field>
                        </div>
                      </v-flex>
                    </v-layout>
                  </v-flex>
                </v-layout>
              </v-flex>
            </v-layout>
            <v-layout row wrap align-center justify-center>
              <v-flex>
                <v-layout column align-center justify-center>
                  <v-flex shrink>
                    <loader-button
                      text="Save"
                      color="success"
                      :disabled="checkModeButton"
                      @click.native="saveTaskModes"
                    ></loader-button>
                  </v-flex>
                </v-layout>
              </v-flex>
            </v-layout>
          </v-card>
        </v-flex>
        <v-flex v-if="userLoggedIn" shrink>
          <v-card elevation="12" class="text-center">
            <v-card-text>
              <h3>Task Settings</h3>
            </v-card-text>
            <v-layout column align-center justify-center>
              <v-flex shrink>
                <v-switch
                  v-model="newTaskModeShown"
                  class="pa-0 ma-0"
                  color="success"
                  hide-details
                  :label="
                    newTaskModeShown ? 'Task mode shown' : 'Task mode not shown'
                  "
                ></v-switch>
              </v-flex>
              <v-flex shrink>
                <v-switch
                  v-model="newShowTaskDelayOption"
                  class="pa-0 ma-0"
                  color="success"
                  hide-details
                  :label="
                    newShowTaskDelayOption
                      ? 'Users can delay tasks'
                      : 'Users cannot delay tasks'
                  "
                ></v-switch>
              </v-flex>
              <v-flex shrink>
                <v-switch
                  v-model="newShowFreqColumn"
                  class="pa-0 ma-0"
                  color="success"
                  hide-details
                  :label="
                    newShowFreqColumn
                      ? 'Show freq column on task table'
                      : 'Freq column not shown on task table'
                  "
                ></v-switch>
              </v-flex>
              <v-flex shrink>
                <loader-button
                  text="Save"
                  :disabled="checkOptions()"
                  @click.native="saveOptions()"
                ></loader-button>
              </v-flex>
            </v-layout>
            <v-card-text>
              <h3>Add attachment names to completion</h3>
            </v-card-text>
            <v-layout row wrap align-center justify-center>
              <v-flex>
                <v-layout column align-center justify-center>
                  <v-flex>
                    <combo-box
                      v-model="newAttachmentSlugs"
                      :existingValue="newAttachmentSlugs"
                      label="Patterns to match"
                      hint="These pieces of text will be matched (in whole or part)
                      to attachment names on task submission."
                      multiple
                      chips
                    ></combo-box>
                  </v-flex>
                  <v-flex>
                    <loader-button
                      text="Save"
                      color="success"
                      :disabled="
                        JSON.stringify(attachmentSlugs) ===
                        JSON.stringify(newAttachmentSlugs)
                      "
                      @click.native="saveAttachmentSlugs"
                    ></loader-button>
                  </v-flex>
                </v-layout>
              </v-flex>
              <v-flex> </v-flex>
            </v-layout>
          </v-card>
        </v-flex>
        <v-flex v-if="userLoggedIn" shrink>
          <v-card elevation="12" class="text-center">
            <v-card-text>
              <h2>Task Import</h2>
              <h4>
                Download the import template.
                <br />Fill it in appropriately then re-upload it here.
                <br />Please do not change the file name.
              </h4>
            </v-card-text>
            <upload-file
              ref="imports"
              inputId="import"
              :multiple="false"
              :apiPath="`${mongoUrl}excel/import/tasks`"
            ></upload-file>
            <v-btn
              color="warning"
              download
              href="/download/MaintCenter task import template.xlsx"
              >Download Import Template</v-btn
            >
          </v-card>
        </v-flex>
        <v-flex v-if="userLoggedIn" shrink>
          <v-card elevation="12" class="text-center">
            <v-card-text>
              <h2>Edit Selection Dropdowns</h2>
              <v-autocomplete
                v-model="dropdownSelection"
                autocomplete="off"
                label="Pick a dropdown"
                :items="['Meter Intervals', 'Frequency Options']"
              ></v-autocomplete>
              <div v-if="menuToEdit.length && !showAddNewOption">
                <v-autocomplete
                  v-model="itemID"
                  autocomplete="off"
                  label="Editing an option?"
                  :items="menuToEdit"
                  item-value="_id"
                ></v-autocomplete>
              </div>
              <div
                v-if="menuToEdit.length && !itemToEdit._id && !showAddNewOption"
              >
                <loader-button
                  text="Add New Option"
                  @click.native="showAddNewOption = true"
                ></loader-button>
              </div>
              <div v-if="showAddNewOption">
                <v-text-field
                  v-model="tempText"
                  label="Text to display"
                  outlined
                  autocomplete="off"
                ></v-text-field>
                <v-text-field
                  v-model="tempValue"
                  v-validate="'numeric'"
                  type="number"
                  :error-messages="errors.first('Value')"
                  data-vv-name="Value"
                  label="Numerical value to be associated"
                  outlined
                  autocomplete="off"
                ></v-text-field>
              </div>
              <div v-if="itemToEdit._id">
                <v-text-field
                  v-model="tempText"
                  label="Text to display"
                  outlined
                  autocomplete="off"
                ></v-text-field>
                <v-text-field
                  v-model="tempValue"
                  v-validate="'numeric'"
                  type="number"
                  :error-messages="errors.first('Value')"
                  data-vv-name="Value"
                  label="Numerical value to be associated"
                  outlined
                  autocomplete="off"
                ></v-text-field>
              </div>
              <div
                v-if="
                  (itemToEdit._id || showAddNewOption) &&
                  menuToEdit[0] &&
                  menuToEdit[0].menu == 'frequencyOptions'
                "
              >
                <h3>
                  This number will represent
                  <strong>(in days)</strong> the <br />interval between a task
                  completion and the next due day.
                </h3>
              </div>
              <div
                v-if="
                  (itemToEdit._id || showAddNewOption) &&
                  menuToEdit[0] &&
                  menuToEdit[0].menu == 'meterIntervals'
                "
              >
                <h3>
                  This number will represent the interval
                  <br />between a task completion and the next due
                </h3>
              </div>
              <div
                v-if="menuToEdit.length && !itemToEdit._id && showAddNewOption"
              >
                <br />
                <v-layout row justify-space-around align-center>
                  <v-flex shrink>
                    <loader-button
                      text="Cancel"
                      color="warning"
                      @click.native="showAddNewOption = false"
                    ></loader-button>
                  </v-flex>
                  <v-flex shrink>
                    <loader-button
                      text="Save"
                      color="success"
                      @click.native="addNewDropdownOption"
                    ></loader-button>
                  </v-flex>
                </v-layout>
              </div>
              <div
                v-if="menuToEdit.length && itemToEdit._id && !showAddNewOption"
              >
                <br />
                <v-layout row justify-space-around align-center>
                  <v-flex shrink>
                    <loader-button
                      text="Remove"
                      color="error"
                      @click.native="deleteOption"
                    ></loader-button>
                  </v-flex>
                  <v-flex shrink>
                    <loader-button
                      text="Cancel"
                      color="warning"
                      @click.native="
                        itemToEdit = {}
                        itemID = ''
                        tempText = ''
                        tempValue = ''
                      "
                    ></loader-button>
                  </v-flex>
                  <v-flex shrink>
                    <loader-button
                      text="Save"
                      color="success"
                      @click.native="updateDropdownOption"
                    ></loader-button>
                  </v-flex>
                </v-layout>
              </div>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import ComboBox from '~/components/Utils/BaseCombobox.vue'
import UploadFile from '~/components/Utils/Upload.vue'

export default {
  components: {
    UploadFile,
    ComboBox,
  },
  props: {},

  data() {
    return {
      newThemeSelector: '',
      newHoseLengthUnit: '',
      newFriendlyName: '',
      newMenuOptions: {},
      newShowMenuValues: '',
      newAttachmentSlugs: [],
      newShowTaskDelayOption: '',
      newShowFreqColumn: '',
      newInventoryMode: '',
      newOrderMonths: '',
      currentDefaultTheme: '',
      newTaskModeShown: true,
      shiftTaskMode: false,
      newModeOptions: {},

      dropdownSelection: '',
      menuToEdit: [],
      showAddNewOption: false,
      itemToEdit: {},
      itemID: '',
      tempText: '',
      tempValue: '',

      changelogLink: `${window.location.origin}/docs/changelog/`,

      menuStyle: '',
    }
  },
  computed: {
    ...mapState('sitewide', [
      'darkTheme',
      'hoseLengthUnit',
      'mongoUrl',
      'friendlyName',
      'menuOptions',
      'showMenuValues',
      'siteVersion',
      'userLoggedIn',
      'hiddenMenu',
      'showTaskDelayOption',
      'showFreqColumn',
      'taskModeShown',
      'taskModeType',
      'modeOptions',
      'inventoryMode',
      'orderMonths',
      'attachmentSlugs',
    ]),
    checkModeButton() {
      if (
        JSON.stringify(this.modeOptions) !==
          JSON.stringify(this.newModeOptions) ||
        (this.shiftTaskMode !== true && this.taskModeType == 'custom') ||
        (this.shiftTaskMode !== false && this.taskModeType == 'classic')
      ) {
        return false
      } else {
        return true
      }
    },
  },
  watch: {
    darkTheme: function () {
      this.newThemeSelector = this.darkTheme
    },
    hoseLengthUnit: function () {
      this.newHoseLengthUnit = this.hoseLengthUnit
    },
    friendlyName: function () {
      this.newFriendlyName = this.friendlyName
    },
    menuOptions: function () {
      this.newMenuOptions = JSON.parse(JSON.stringify(this.menuOptions))
    },
    showMenuValues: function () {
      this.newShowMenuValues = this.showMenuValues
    },
    showTaskDelayOption: function () {
      this.newShowTaskDelayOption = this.showTaskDelayOption
    },
    inventoryMode: function () {
      this.newInventoryMode = this.inventoryMode
    },
    orderMonths: function () {
      this.newOrderMonths = this.orderMonths
    },
    taskModeType: function () {
      this.shiftTaskMode = this.taskModeType == 'custom' ? true : false
    },
    taskModeShown: function () {
      this.newTaskModeShown = this.taskModeShown
    },
    showFreqColumn: function () {
      this.newShowFreqColumn = this.showFreqColumn
    },
    modeOptions: function () {
      this.newModeOptions = JSON.parse(JSON.stringify(this.modeOptions))
    },
    hiddenMenu: function () {
      this.menuStyle = this.hiddenMenu ? 'true' : 'false'
    },
    dropdownSelection: async function () {
      this.menuToEdit = await this.$axios.$get(
        `${this.mongoUrl}settings/${this.friendlyMeterName(
          this.dropdownSelection
        )}`
      )
      this.tempText = ''
      this.tempValue = ''
      this.itemToEdit = {}
      this.showAddNewOption = false
    },
    itemID: function () {
      for (let i = 0; i < this.menuToEdit.length; i++) {
        if (this.itemID == this.menuToEdit[i]._id) {
          this.itemToEdit = this.menuToEdit[i]
          this.tempText = this.menuToEdit[i].text
          this.tempValue = this.menuToEdit[i].value
        }
      }
    },
    attachmentSlugs: function () {
      this.newAttachmentSlugs = this.attachmentSlugs
    },
  },
  mounted() {
    this.getSiteSettings()
    this.newThemeSelector = this.darkTheme
    this.newHoseLengthUnit = this.hoseLengthUnit
    this.menuStyle = this.hiddenMenu ? 'true' : 'false'
    this.newShowMenuValues = this.showMenuValues
    this.newFriendlyName = this.friendlyName
    this.newMenuOptions = JSON.parse(JSON.stringify(this.menuOptions))
    this.newAttachmentSlugs = this.attachmentSlugs
    this.newShowTaskDelayOption = this.showTaskDelayOption
    this.newShowFreqColumn = this.showFreqColumn
    this.newInventoryMode = this.inventoryMode
    this.newOrderMonths = this.orderMonths
    this.newTaskModeShown = this.taskModeShown
    this.shiftTaskMode = this.taskModeType == 'custom' ? true : false
    this.newModeOptions = JSON.parse(JSON.stringify(this.modeOptions))
  },
  beforeDestroy() {
    if (this.$refs.imports) {
      this.$refs.imports.clearList()
    }
  },
  methods: {
    ...mapActions('sitewide', [
      'logWrite',
      'toastMessage',
      'getSiteSettings',
      'changeMode',
    ]),
    ...mapActions('tasks', [
      'getFreqOptions',
      'getMeterIntervals',
      'sendUpdateRequest',
    ]),
    cycleColorPicker(mode, key) {
      let colors = [
        'none',
        'primary',
        'accent',
        'secondary',
        'success',
        'info',
        'warning',
        'error',
      ]
      let location = colors.indexOf(mode.color)

      if (location + 1 < colors.length) {
        this.newModeOptions[key].color = colors[location + 1]
      } else {
        this.newModeOptions[key].color = colors[0]
      }
    },
    async saveTaskModes() {
      let currentModeType = this.shiftTaskMode ? 'custom.mode1' : 'Transit'
      this.newModeOptions.newMode = currentModeType
      if (
        (this.taskModeType === 'classic' && this.shiftTaskMode) ||
        (this.taskModeType === 'custom' && !this.shiftTaskMode)
      ) {
        this.$store.commit('sitewide/setModeOptions', this.newModeOptions)
        this.sendUpdateRequest(currentModeType)
      } else {
        this.changeMode(this.newModeOptions)
      }
    },
    async updateDefaultTheme() {
      try {
        const updateDef = await this.$axios.$put(`${this.mongoUrl}settings`, {
          siteTheme: this.newThemeSelector,
        })
        if (this.darkTheme != this.newThemeSelector) {
          this.$store.commit('sitewide/setDarkTheme', this.newThemeSelector)
        }
        this.toastMessage(updateDef)
      } catch (error) {
        this.logWrite({
          logType: 'error',
          logItem: `SiteSettings.vue, updateDefaultTheme() - ${error}`,
        })
      }
    },
    async updateHoseLengthUnit() {
      try {
        const updateHoseUnit = await this.$axios.$put(`${this.mongoUrl}settings`, {
          hoseLengthUnit: this.newHoseLengthUnit,
        })
        if (this.hoseLengthUnit != this.newHoseLengthUnit) {
          this.$store.commit('sitewide/setHoseLengthUnit', this.newHoseLengthUnit)
        }
        this.toastMessage(updateHoseUnit)
      } catch (error) {
        this.logWrite({
          logType: 'error',
          logItem: `SiteSettings.vue, updateHoseLengthUnit() - ${error}`,
        })
      }
    },
    async updateMenuStyle() {
      try {
        const updateMenu = await this.$axios.$put(`${this.mongoUrl}settings`, {
          hiddenMenu: this.menuStyle == 'true' ? true : false,
        })
        if (this.menuStyle == 'true' ? true : false != this.hiddenMenu) {
          this.$store.commit(
            'sitewide/setHiddenMenu',
            this.menuStyle == 'true' ? true : false
          )
        }
        this.toastMessage(updateMenu)
      } catch (error) {
        this.logWrite({
          logType: 'error',
          logItem: `SiteSettings.vue, updateMenuStyle() - ${error}`,
        })
      }
    },
    async saveFriendlyName() {
      try {
        const updateName = await this.$axios.$put(`${this.mongoUrl}settings`, {
          friendlyName: this.newFriendlyName,
        })
        this.$store.commit('sitewide/setFriendlyName', this.newFriendlyName)
        this.toastMessage(updateName)
      } catch (error) {
        this.logWrite({
          logType: 'error',
          logItem: `SiteSettings.vue, saveFriendlyName() - ${error}`,
        })
      }
    },
    async saveAttachmentSlugs() {
      try {
        const updateSlugs = await this.$axios.$put(`${this.mongoUrl}settings`, {
          attachmentSlugs: this.newAttachmentSlugs,
        })
        this.$store.commit(
          'sitewide/setAttachmentSlugs',
          this.newAttachmentSlugs
        )
        this.toastMessage(updateSlugs)
      } catch (error) {
        this.logWrite({
          logType: 'error',
          logItem: `SiteSettings.vue, saveMenuSelection() - ${error}`,
        })
      }
    },
    updateMenu(name) {
      switch (name) {
        case 'frequencyOptions':
          this.getFreqOptions()
          break
        case 'meterIntervals':
          this.getMeterIntervals()
          break

        default:
          break
      }
    },
    async addNewDropdownOption() {
      const newOption = await this.$axios.$post(
        `${this.mongoUrl}settings/dropDowns`,
        {
          menu: this.menuToEdit[0].menu,
          text: this.tempText,
          value: this.tempValue,
        }
      )
      this.updateMenu(this.menuToEdit[0].menu)
      this.tempText = ''
      this.tempValue = ''
      this.showAddNewOption = false
      this.toastMessage(newOption)
    },
    async updateDropdownOption() {
      const editOption = await this.$axios.$put(
        `${this.mongoUrl}settings/dropDowns/${this.itemToEdit._id}`,
        {
          text: this.tempText,
          value: this.tempValue,
        }
      )
      this.updateMenu(this.menuToEdit[0].menu)
      this.tempText = ''
      this.tempValue = ''
      this.itemToEdit = {}
      this.toastMessage(editOption)
    },
    async deleteOption() {
      const deleteOption = await this.$axios.$delete(
        `${this.mongoUrl}settings/dropDowns/${this.itemToEdit._id}`
      )
      this.updateMenu(this.menuToEdit[0].menu)
      this.tempText = ''
      this.tempValue = ''
      this.itemID = ''
      this.itemToEdit = {}
      this.toastMessage(deleteOption)
    },
    friendlyMeterName(name) {
      switch (name) {
        case 'Frequency Options':
          return 'frequencyOptions'
        case 'Meter Intervals':
          return 'meterIntervals'
        default:
          break
      }
    },
    async saveMenuSelection() {
      try {
        const updateMenu = await this.$axios.$put(`${this.mongoUrl}settings`, {
          menuOptions: this.newMenuOptions,
        })
        this.$store.commit('sitewide/setMenuOptions', this.newMenuOptions)
        this.toastMessage(updateMenu)
      } catch (error) {
        this.logWrite({
          logType: 'error',
          logItem: `SiteSettings.vue, saveMenuSelection() - ${error}`,
        })
      }
    },
    async saveShowMenuValues() {
      try {
        const updateValues = await this.$axios.$put(
          `${this.mongoUrl}settings`,
          {
            showMenuValues: this.newShowMenuValues,
          }
        )
        this.$store.commit('sitewide/setShowMenuValues', this.newShowMenuValues)
        this.toastMessage(updateValues)
      } catch (error) {
        this.logWrite({
          logType: 'error',
          logItem: `SiteSettings.vue, saveShowMenuValues() - ${error}`,
        })
      }
    },
    checkOptions() {
      if (
        this.showFreqColumn === this.newShowFreqColumn &&
        this.showTaskDelayOption === this.newShowTaskDelayOption &&
        this.taskModeShown === this.newTaskModeShown
      ) {
        return true
      } else {
        return false
      }
    },
    async saveOptions() {
      try {
        const updateValues = await this.$axios.$put(
          `${this.mongoUrl}settings`,
          {
            taskModeShown: this.newTaskModeShown,
            showTaskDelayOption: this.newShowTaskDelayOption,
            showFreqColumn: this.newShowFreqColumn,
            inventoryMode: this.newInventoryMode,
            orderMonths: this.newOrderMonths,
          }
        )
        this.$store.commit(
          'sitewide/setShowTaskDelayOption',
          this.newShowTaskDelayOption
        )
        this.$store.commit('sitewide/setInventoryMode', this.newInventoryMode)
        this.$store.commit('sitewide/setTaskModeShown', this.newTaskModeShown)
        this.$store.commit('sitewide/setOrderMonths', this.newOrderMonths)
        this.$store.commit('sitewide/setShowFreqColumn', this.newShowFreqColumn)
        this.toastMessage(updateValues)
      } catch (error) {
        this.logWrite({
          logType: 'error',
          logItem: `SiteSettings.vue, saveOptions() - ${error}`,
        })
      }
    },
  },
}
</script>

<style scoped></style>
